---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/007-james-bond-the-stealth-affair.jsdos
layout: page.njk
ogDescription: '007: James Bond - The Stealth Affair is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in 007: James Bond - The Stealth Affair on mobile. On DOS.Zone 007:
  James Bond - The Stealth Affair available to play for free without registration.'
permalink: /007-james-bond-the-stealth-affair-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a34dda234fe183c28174fc952e22ae304e799843.png
- https://cdn.dos.zone/original/2X/4/45c3b7d4eb0a257d933eb9437e19210bd440ba2.png
shortTitle: '007: James Bond - The Stealth Affair'
title: '007: James Bond - The Stealth Affair | 🕹️Play 007: James Bond - The Stealth
  Affair Online | DOS game in browser'

---
