---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/123-talk.jsdos
layout: page.njk
ogDescription: 123-Talk is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in 123-Talk on
  mobile. On DOS.Zone 123-Talk available to play for free without registration.
permalink: /123-talk-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/5f95e2fc1269f2b087066891ac4ea4c62add7cdc.png
- https://cdn.dos.zone/original/2X/d/dc44e0d923673f8fc26852f3868b2f9917948eb1.png
shortTitle: 123-Talk
title: 123-Talk | 🕹️Play 123-Talk Online | DOS game in browser

---
