---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/16sliding.jsdos
layout: page.njk
ogDescription: 16 is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in 16 on mobile. On DOS.Zone
  16 available to play for free without registration.
permalink: /16-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/58659a46f352dc41db8fd2aa9ec0bc0d335a8203.png
- https://cdn.dos.zone/original/2X/b/b7779e394bb0378fddca35e631c53d59ae952640.png
shortTitle: '16'
title: 16 | 🕹️Play 16 Online | DOS game in browser

---
