---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/nineteenninetythree.jsdos
layout: page.njk
ogDescription: 1993 is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in 1993 on mobile.
  On DOS.Zone 1993 available to play for free without registration.
permalink: /1993-dec-1992/
screenshots:
- https://cdn.dos.zone/original/2X/5/52626b342a56d41d8e7ae4daa0c826d115af3c23.png
- https://cdn.dos.zone/original/2X/2/28db97892e3c299f9d0cfd919052f0559d168542.png
shortTitle: '1993'
title: 1993 | 🕹️Play 1993 Online | DOS game in browser

---
