---
layout: page.njk
title: 1998 Amerika | 🕹️Play 1998 Amerika Online | Download js-dos bundle
ogDescription: Want to Play 1998 Amerika? 🕹 On Dos Zone you can play 1998
  Amerika OR donwload js-dos bundle for free. Start playing now!
shortTitle: 1998 Amerika
permalink: /1998-amerika-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2F1998-amerika.jsdos
description: 1998 Amerika is a shareware game similar to Risk but instead of
  using a map of the world and fighting for countries, this game uses a map of
  America and the battles are for states. Though this game is based on Risk it
  does not adhere to the rules of that game, for example when a player wins a
  battle they win propaganda cards which can be traded for armies.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b51541600abf0132b80adaedec49806070d8937.png
  - https://cdn.dos.zone/original/2X/d/d0251734938d7529d22efbf7d706007c275d388a.png
---
