---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/1998-amerika.jsdos
layout: page.njk
ogDescription: 1998 Amerika is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in 1998 Amerika
  on mobile. On DOS.Zone 1998 Amerika available to play for free without registration.
permalink: /1998-amerika-1987/
screenshots:
- https://cdn.dos.zone/original/2X/b/b51541600abf0132b80adaedec49806070d8937.png
- https://cdn.dos.zone/original/2X/d/d0251734938d7529d22efbf7d706007c275d388a.png
shortTitle: 1998 Amerika
title: 1998 Amerika | 🕹️Play 1998 Amerika Online | DOS game in browser

---
