---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/2x2_.jsdos
layout: page.njk
ogDescription: 2x2 is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in 2x2 on mobile. On
  DOS.Zone 2x2 available to play for free without registration.
permalink: /2x2-1995/
screenshots:
- https://cdn.dos.zone/original/2X/1/19a2b33a4ae2e7692d5855a4e67b6c31b7092474.png
- https://cdn.dos.zone/original/2X/9/95564ef8f2ccb1b647ce18198f2fbbfd483b2d9.png
shortTitle: 2x2
title: 2x2 | 🕹️Play 2x2 Online | DOS game in browser

---
