---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/3d-pitfall.jsdos
layout: page.njk
ogDescription: 3D Pitfall is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in 3D Pitfall
  on mobile. On DOS.Zone 3D Pitfall available to play for free without registration.
permalink: /3d-pitfall-1995/
screenshots:
- https://cdn.dos.zone/original/2X/7/7c73e84953d3f6b92db0acbc95cf0525fc45fb46.gif
- https://cdn.dos.zone/original/2X/1/1b710602d9b7b5ed4d6a081e5c11ab0cdc31ab44.gif
shortTitle: 3D Pitfall
title: 3D Pitfall | 🕹️Play 3D Pitfall Online | DOS game in browser

---
