---
layout: page.njk
title: 3D Pitfall | 🕹️Play 3D Pitfall Online | Download js-dos bundle
ogDescription: Want to Play 3D Pitfall? 🕹 On Dos Zone you can play 3D Pitfall
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: 3D Pitfall
permalink: /3d-pitfall-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2F3d-pitfall.jsdos
description: 3D Pitfall is a Tetris variant which is played in a 3D perspective,
  similar to Blockout. The player's perspective set on top of a long shaft. Then
  one of differently shaped blocks appear on the screen and fall into the shaft.
  The goal is to rotate and place these blocks so that they fill the gaps. If at
  least one layer is completely filled it vanishes and rewards points - more
  layers at the same moment means more points. When the player earns enough time
  the falling speed of the blocks gets increased and therefore adds more
  difficulty. The blocks appear randomly.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7c73e84953d3f6b92db0acbc95cf0525fc45fb46.gif
  - https://cdn.dos.zone/original/2X/1/1b710602d9b7b5ed4d6a081e5c11ab0cdc31ab44.gif
---
