---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/3d-trek.jsdos
layout: page.njk
ogDescription: 3D Trek is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in 3D Trek on
  mobile. On DOS.Zone 3D Trek available to play for free without registration.
permalink: /3d-trek-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/cdadd9a7d68321006168ed54594211b5b07e3cf4.png
- https://cdn.dos.zone/original/2X/6/60abf87a572ff4ae96c20d72d640e6badaaf0843.png
shortTitle: 3D Trek
title: 3D Trek | 🕹️Play 3D Trek Online | DOS game in browser

---
