---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/3d-xmas-adventure-santas-rescue.jsdos
layout: page.njk
ogDescription: '3D Xmas Adventure: Santa''s Rescue is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in 3D Xmas Adventure: Santa''s Rescue on mobile. On DOS.Zone 3D Xmas
  Adventure: Santa''s Rescue available to play for free without registration.'
permalink: /3d-xmas-adventure-santas-rescue-nov-1996/
screenshots:
- https://cdn.dos.zone/original/2X/4/4b973e966e28a5629bb59dc8496c9c66fe0048a6.png
- https://cdn.dos.zone/original/2X/e/e8df00d745bdbf593af24ae97ac9b6d1bdb1300f.png
shortTitle: '3D Xmas Adventure: Santa''s Rescue'
title: '3D Xmas Adventure: Santa''s Rescue | 🕹️Play 3D Xmas Adventure: Santa''s Rescue
  Online | DOS game in browser'

---
