---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/4k-adventure.jsdos
layout: page.njk
ogDescription: 4K Adventure is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in 4K Adventure
  on mobile. On DOS.Zone 4K Adventure available to play for free without registration.
permalink: /4k-adventure-oct-31-1998/
screenshots:
- https://cdn.dos.zone/original/2X/7/7460bbb0a61ddb489be81be9a64e2abb26562f08.png
- https://cdn.dos.zone/original/2X/e/e05df2be004001a2b943ea925abb6eeb216f0804.png
shortTitle: 4K Adventure
title: 4K Adventure | 🕹️Play 4K Adventure Online | DOS game in browser

---
