---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-10-tank-killer.jsdos
layout: page.njk
ogDescription: A-10 Tank Killer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in A-10 Tank
  Killer on mobile. On DOS.Zone A-10 Tank Killer available to play for free without
  registration.
permalink: /a-10-tank-killer-dec-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/3d5ef220aac56793c5e42a691c8f0e4cf1f971e2.png
- https://cdn.dos.zone/original/2X/6/653ce9e16483db09d212b02c2fba4f449d2127d0.png
shortTitle: A-10 Tank Killer
title: A-10 Tank Killer | 🕹️Play A-10 Tank Killer Online | DOS game in browser

---
