---
layout: page.njk
title: A Clue's Solution | 🕹️Play A Clue's Solution Online | Download js-dos bundle
ogDescription: Want to Play A Clue's Solution? 🕹 On Dos Zone you can play A
  Clue's Solution OR donwload js-dos bundle for free. Start playing now!
shortTitle: A Clue's Solution
permalink: /a-clues-solution-jul-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fa-clues-solution.jsdos
description: >-
  A Clue's Solution is a shareware puzzle game for one to four people, it is
  turn based and can be played with either the keyboard or the mouse. The game
  has elements of Wheel of Fortune in that all puzzles are solved by selecting a
  letter of the alphabet from those that are available. If the letter selected
  is part of the target phrase the player retains control and selects again; if
  the letter is not part of the target, control passes to the next player. All
  puzzles are grouped by category and each game consists of two parts, first the
  player(s) must solve four puzzles which are clues to the final answer. After
  each clue is solved the player in control makes an attempt on the final answer
  with their attempt ending as soon as they select an incorrect letter. So, for
  example, in the movie category the ultimate answer is the film's title, the
  first three clues are actors/actresses, and the final clue is a short phrase
  or sentence describing the story.

  The game has two scoring modes either for the final solution only or for both the clues and the final solution. There is a save game function, three levels of difficulty. The shareware game has five categories Movies (307), Places (51), States (52), Quotes (45), and Pot Luck (110) with the number in brackets showing the number of questions in each, further categories and an optional puzzle editor were supplied with the full registered version.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a9eb7694f99dac5e95d6a4c21ee4251423e0b0da.png
  - https://cdn.dos.zone/original/2X/6/6c5a2682f12b8196755fbf2fcf1cfa8a633b4128.png
---
