---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-fable.jsdos
layout: page.njk
ogDescription: A Fable is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in A Fable on
  mobile. On DOS.Zone A Fable available to play for free without registration.
permalink: /a-fable-nov-1985/
screenshots:
- https://cdn.dos.zone/original/2X/d/d0580b114f67fcdaaedab64d58ab11043e19de58.png
- https://cdn.dos.zone/original/2X/7/77c15ca99f351ba41ed98634d834a6dbc484521a.png
shortTitle: A Fable
title: A Fable | 🕹️Play A Fable Online | DOS game in browser

---
