---
layout: page.njk
title: A Fable | 🕹️Play A Fable Online | Download js-dos bundle
ogDescription: Want to Play A Fable? 🕹 On Dos Zone you can play A Fable OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: A Fable
permalink: /a-fable-nov-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fa-fable.jsdos
description: A Fable is a short work of interactive fiction that involves
  wandering through a series of vignettes from a person's life, like a maze of
  memories. The author noted in 1995 that the game was not complete, only "a
  sketch" created to help test an interactive fiction authoring system, not
  intended for public release.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d0580b114f67fcdaaedab64d58ab11043e19de58.png
  - https://cdn.dos.zone/original/2X/7/77c15ca99f351ba41ed98634d834a6dbc484521a.png
---
