---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-mis-adventure.jsdos
layout: page.njk
ogDescription: A-MIS Adventure is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in A-MIS Adventure
  on mobile. On DOS.Zone A-MIS Adventure available to play for free without registration.
permalink: /a-mis-adventure-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9758c33271dbe791114671cc91e6eac414463524.png
- https://cdn.dos.zone/original/2X/1/1f8864cee6a6981719e8fca43519b6c70e72119d.png
shortTitle: A-MIS Adventure
title: A-MIS Adventure | 🕹️Play A-MIS Adventure Online | DOS game in browser

---
