---
layout: page.njk
title: A-MIS Adventure | 🕹️Play A-MIS Adventure Online | Download js-dos bundle
ogDescription: Want to Play A-MIS Adventure? 🕹 On Dos Zone you can play A-MIS
  Adventure OR donwload js-dos bundle for free. Start playing now!
shortTitle: A-MIS Adventure
permalink: /a-mis-adventure-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fa-mis-adventure.jsdos
description: 'In A-MIS Adventure, the player takes control over Norm, the
  programmer. Norm made a little change in one of his programs, but it caused
  serious trouble and now he has to show up on Saturday to fix it. The whole
  game revolves around this task and takes place in the office. There are some
  puzzles to solve which mostly involve collecting and using items. During this
  Saturday, Norm also needs to find an access code and work out how he can
  eliminate the bug without causing even more trouble. The descriptive part of
  this interactive fiction game is always segmented into four paragraphs: a
  (usually rather short) description of the scene, a list of usable items, a
  list of inventory items and the directions Norm can leave. Actions are
  performed by typing verb-noun combinations into the parser, e.g. "get
  newspaper". Well, actually "get new" would suffice because items are only
  referenced with their first three letters. Besides the game, the author also
  provides a second program which provides with hints. The player can choose
  between three stages of hint quality (between a nudge in the right direction
  and the whole solution), selects the problem and then receives a text message
  with the hint.'
screenshots:
  - https://cdn.dos.zone/original/2X/9/9758c33271dbe791114671cc91e6eac414463524.png
  - https://cdn.dos.zone/original/2X/1/1f8864cee6a6981719e8fca43519b6c70e72119d.png
---
