---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-question-of-sport.jsdos
layout: page.njk
ogDescription: A Question of Sport is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  A Question of Sport on mobile. On DOS.Zone A Question of Sport available to play
  for free without registration.
permalink: /a-question-of-sport-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/d4a2f6cf2c329f134170be9ea01a6c4b1fdbe1f0.png
- https://cdn.dos.zone/original/2X/f/ff928dce679bbf79458d1a688d652a8f4ed4c3de.png
shortTitle: A Question of Sport
title: A Question of Sport | 🕹️Play A Question of Sport Online | DOS game in browser

---
