---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-train.jsdos
layout: page.njk
ogDescription: A-Train is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in A-Train on
  mobile. On DOS.Zone A-Train available to play for free without registration.
permalink: /a-train-1992/
screenshots:
- https://cdn.dos.zone/original/2X/1/12761a2295731ea624fc8cd3e643d5f43e325298.gif
- https://cdn.dos.zone/original/2X/9/9231fb2db69f4bb46565dd507a10e4ecac36b2e8.png
shortTitle: A-Train
title: A-Train | 🕹️Play A-Train Online | DOS game in browser

---
