---
layout: page.njk
title: A1 DOS Utilities | 🕹️Play A1 DOS Utilities Online | Download js-dos bundle
ogDescription: Want to Play A1 DOS Utilities? 🕹 On Dos Zone you can play A1 DOS
  Utilities OR donwload js-dos bundle for free. Start playing now!
shortTitle: A1 DOS Utilities
permalink: /a1-dos-utilities-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fb%2Fb46a42839934a8710efc5a40139be6ee239204fb.jsdos
description: >-
  <p>A collection of DOS executables for batch file use, screen and menu utility
  enhancements.<br>

  Also included are test programs for the mouse, keyboard and joystick.</p>

  <p><em><strong>Contents</strong></em></p>

  <ul>

  <li>

  <code>A1.COM</code> - Multi-purpose utility (for use in batch files).</li>

  <li>

  <code>ANSICHK.COM</code> - Check if ANSI is loaded, exit with appropriate errorlevel.</li>

  <li>

  <code>ASCII.COM</code> - ASCII codes in hex and decimal on screen.</li>

  <li>

  <code>BLANK.COM</code> - Screen clearing effect.</li>

  <li>

  <code>BLANKS.COM</code> - Screen clearing effect with scrolling message.</li>

  <li>

  <code>BOX.COM</code> - Put a rectangular/square box on screen with or without shadow.</li>

  <li>

  <code>BUTTON.COM</code> - Displays a button (with text if required) on screen.</li>

  <li>

  <code>CLEAR.COM</code> - Screen clearing effects (including wipes and random block effect).</li>

  <li>

  <code>CLRLINE.COM</code> - Clear one or more lines of the screen.</li>

  <li>

  <code>COORD.COM</code> - Puts coordinate markers around edge of screen.</li>

  <li>

  <code>DELAY.COM</code> - Set a delay in batch files.</li>

  <li>

  <code>DOSVER.COM</code> - Check or compare DOS version.</li>

  <li>

  <code>DRIVECHK.COM</code> - Detect if floppy drive is ready or not.</li>

  <li>

  <code>FILL.COM</code> - Fill part or all of screen with a particular character.</li>

  <li>

  <code>HL.COM</code> - HighLighted menu control (two modes).</li>

  <li>

  <code>JOYCHECK.COM</code> - Joystick or paddle checking program.</li>

  <li>

  <code>KEYCHECK.COM</code> - Keyboard checking, active ASCII and SCAN code display, also sets numlock, caps lock etc. and will monitor ALT keys.</li>

  <li>

  <code>KEYSPEED.COM</code> - Control the keyboard repeat rate and delay.</li>

  <li>

  <code>MC.COM</code> - Mouse Control using ‘click’ sensitive areas of the screen (a masterpiece for DOS menu control).</li>

  <li>

  <code>MODE3.COM</code> - Switch back to standard color video mode when required.</li>

  <li>

  <code>MODE7.COM</code> - Switch back to standard mono video mode when required.</li>

  <li>

  <code>MOUSETST.COM</code> - Mouse testing program with horiz. and vert. motion tests and TRAK TEST.</li>

  <li>

  <code>MPAUSE.COM</code> - Mouse activated PAUSE command.</li>

  <li>

  <code>PICKESC.COM</code> - A menu CHOICE type program with extras.</li>

  <li>

  <code>PLAY.COM</code> - Make sounds, play tunes, real time music from the keyboard.</li>

  <li>

  <code>READSCR.COM</code> - Read a screen character and return an errorlevel.</li>

  <li>

  <code>TIMEMARK.COM</code> - Time/Date stamp to screen or redirected to file/printer in many different formats.</li>

  <li>

  <code>WAITFOR.COM</code> - Halt all operations until a specified time/day.</li>

  <li>

  <code>WIPELEFT.COM</code> - Screen clearing effect.</li>

  <li>

  <code>WIPERITE.COM</code> - Screen clearing effect.</li>

  <li>

  <code>EL.BAT</code> - Show errorlevel from an executable program, COM or.EXE.</li>

  <li>

  <code>MANUAL.EXE</code> - Electronic version of the handbook.</li>

  </ul>

  <p>by <a href="http://ers.kestar.com.au/dos.html"><em>Eric Rodda-Software</em></a></p>

  <details>

  <summary>

  Screenshot</summary>

  <p><img src="https://cdn.dos.zone/original/2X/4/452400f1cbb14fae2585e28f1eeacf5077a62944.png" alt="изображение" data-base62-sha1="9RE595BHCjtRZtYBW89mIGsiUTy" width="642" height="398"></p>

  </details>
screenshots:
  - https://cdn.dos.zone/original/2X/4/452400f1cbb14fae2585e28f1eeacf5077a62944.png
---
