---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: original/2X/b/b46a42839934a8710efc5a40139be6ee239204fb.jsdos
layout: page.njk
ogDescription: A1 DOS Utilities is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in A1 DOS Utilities
  on mobile. On DOS.Zone A1 DOS Utilities available to play for free without registration.
permalink: /a1-dos-utilities-1998/
screenshots:
- https://cdn.dos.zone/original/2X/4/452400f1cbb14fae2585e28f1eeacf5077a62944.png
shortTitle: A1 DOS Utilities
title: A1 DOS Utilities | 🕹️Play A1 DOS Utilities Online | DOS game in browser

---
