---
layout: page.njk
title: AAARGH! | 🕹️Play AAARGH! Online | Download js-dos bundle
ogDescription: Want to Play AAARGH!? 🕹 On Dos Zone you can play AAARGH! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: AAARGH!
permalink: /aaargh-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faaargh.jsdos
description: What's that coming over the hill, is it a monster? Yes, as this
  Rampage -influenced arcade game sees you play either an ogre or a dragon. Both
  are searching an island for an egg which will give them super powers. This is
  located inside a building, and to find the right one you must continuously
  smash them up, using either the ogre's horn or the dragon's tail. Humans must
  also be attacked as you see them, as their catapults weaken you. Food can be
  found to restore energy, Once you have located the egg, a one-on-one beat 'em
  up battle with your rival ensues - win five of these to finally win the game.
screenshots:
  - https://cdn.dos.zone/original/2X/a/ac413ed071c39e166651ab8ceef471973256001b.gif
  - https://cdn.dos.zone/original/2X/3/3ab8853cf24598b9fe9e95e022ef39c3b003ea79.png
---
