---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/abductor_.jsdos
layout: page.njk
ogDescription: Abductor is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Abductor on
  mobile. On DOS.Zone Abductor available to play for free without registration.
permalink: /abductor-1996/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ff4cc6c190339166ba851a7c892a58ab75d9122.png
- https://cdn.dos.zone/original/2X/2/22ba1b738158af54c94f481a2e2e54b65a2426fe.png
shortTitle: Abductor
title: Abductor | 🕹️Play Abductor Online | DOS game in browser

---
