---
layout: page.njk
title: Abductor | 🕹️Play Abductor Online | Download js-dos bundle
ogDescription: Want to Play Abductor? 🕹 On Dos Zone you can play Abductor OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Abductor
permalink: /abductor-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fabductor_.jsdos
description: Abductor is a single player Defender clone. The player controls a
  spaceship which they must use to prevent aliens from abducting people.  It is
  keyboard controlled by default but does support a joystick. It has a high
  score table and sound effects.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ff4cc6c190339166ba851a7c892a58ab75d9122.png
  - https://cdn.dos.zone/original/2X/2/22ba1b738158af54c94f481a2e2e54b65a2426fe.png
---
