---
layout: page.njk
title: "Aces High: The True Air Duel Simulator | 🕹️Play Aces High: The True Air
  Duel Simulator Online | Download js-dos bundle"
ogDescription: "Want to Play Aces High: The True Air Duel Simulator? 🕹 On Dos
  Zone you can play Aces High: The True Air Duel Simulator OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Aces High: The True Air Duel Simulator"
permalink: /aces-high-the-true-air-duel-simulator-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faces-high-the-true-air-duel-simulator.jsdos
description: A two-player aerial duel.  The dogfight commences inside a
  wrap-around, top-down playfield, as each side tries to gun down the opponent's
  plane.  Game parameters are highly configurable, with adjustable values for
  physics and player variables; on-screen indicators help keep track of lives,
  power, ammo and damage during battle. Written in tribute to Iron Maiden and
  their song Aces High, the game also features a cover of the song (in .MOD
  format) as its background music.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e677f4f5b3c7f470bd20b739f3838be60bae17c6.png
  - https://cdn.dos.zone/original/2X/8/8d50035c8ae13b99446650fdf4734a1a3e9b0f9d.png
---
