---
layout: page.njk
title: Ace's Revenge | 🕹️Play Ace's Revenge Online | Download js-dos bundle
ogDescription: Want to Play Ace's Revenge? 🕹 On Dos Zone you can play Ace's
  Revenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Ace's Revenge
permalink: /aces-revenge-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faces-revenge.jsdos
description: "Ace's Revenge is an unofficial add-on disc with more than 2000
  extra levels for Command & Conquer: Red Alert."
screenshots: []
---
