---
layout: page.njk
title: Ack! Man | 🕹️Play Ack! Man Online | Download js-dos bundle
ogDescription: Want to Play Ack! Man? 🕹 On Dos Zone you can play Ack! Man OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Ack! Man
permalink: /ack-man-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fack-man.jsdos
description: Ack! Man is a single player, keyboard controlled, Pac Man game. In
  this game Ack! Man replaces Pac-Man and the four ghosts are Finky, Stinky,
  Dinky and Clyde. The gameplay is just the same, race around a maze eating
  pills and, when a power pill has been eaten, chasing and eating the ghosts.
  The game has fourteen levels and randomly occurring bonus items.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a58bc882b3d7d306c801b0b6d5a48d01544177a2.png
  - https://cdn.dos.zone/original/2X/9/98cfacd63860fc6d5f9ae62e0f6dac74693bdb44.png
---
