---
layout: page.njk
title: Acquire | 🕹️Play Acquire Online | Download js-dos bundle
ogDescription: Want to Play Acquire? 🕹 On Dos Zone you can play Acquire OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Acquire
permalink: /acquire-feb-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Facquire.jsdos
description: >-
  Acquire is adapted from the board game of the same name. Up to six players can
  take part and each starts with $6,000, the object is to buy and sell shares in
  hotels with the winner being the player who makes the most money. The game is
  played via the keyboard and gameplay is described pretty well under another
  version of the game

  Computer Acquire. This version of the game ends either when any chain gets larger then forty tiles, or the last tile has been drawn, or when the players quit the game.
screenshots:
  - https://cdn.dos.zone/original/2X/9/94e5f14c272928a01c236a45f5238eaeb173ba06.png
  - https://cdn.dos.zone/original/2X/e/e1c141466ae905b388387afc30d97d537585e4d.png
---
