---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/acquire.jsdos
layout: page.njk
ogDescription: Acquire is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Acquire on
  mobile. On DOS.Zone Acquire available to play for free without registration.
permalink: /acquire-feb-1988/
screenshots:
- https://cdn.dos.zone/original/2X/9/94e5f14c272928a01c236a45f5238eaeb173ba06.png
- https://cdn.dos.zone/original/2X/e/e1c141466ae905b388387afc30d97d537585e4d.png
shortTitle: Acquire
title: Acquire | 🕹️Play Acquire Online | DOS game in browser

---
