---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/acrostix.jsdos
layout: page.njk
ogDescription: Acrostix is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Acrostix on
  mobile. On DOS.Zone Acrostix available to play for free without registration.
permalink: /acrostix-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/51ee4b1bbb705fc0f6f1aea5e48cf2eae491e14e.png
- https://cdn.dos.zone/original/2X/f/fa82b42f2c04023d70574486f04752610f16f2f.png
shortTitle: Acrostix
title: Acrostix | 🕹️Play Acrostix Online | DOS game in browser

---
