---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/across-the-usa.jsdos
layout: page.njk
ogDescription: Across the USA is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Across the
  USA on mobile. On DOS.Zone Across the USA available to play for free without registration.
permalink: /across-the-usa-1991/
screenshots: []
shortTitle: Across the USA
title: Across the USA | 🕹️Play Across the USA Online | DOS game in browser

---
