---
layout: page.njk
title: Action SuperCross | 🕹️Play Action SuperCross Online | Download js-dos bundle
ogDescription: Want to Play Action SuperCross? 🕹 On Dos Zone you can play
  Action SuperCross OR donwload js-dos bundle for free. Start playing now!
shortTitle: Action SuperCross
permalink: /action-supercross-feb-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faction-supercross.jsdos
description: Action SuperCross is an action game with puzzle elements. The
  player drives a trial bike with semi-realistic physics through a maze-like
  level. Collect all apples as fast as possible and then touch the white flower
  to complete the level. Avoid hitting the walls and floors with your head, and
  avoid spikes at any cost. There are 47 levels and the player may skip a
  maximum of five levels in total. You can save your replays to a file and the
  game comes with a comprehensive level editor. Both normal resolution 320x200
  and high-resolution 640x480 vesa modes are supported. The game is based on a
  somewhat realistic physics model, with gravity, momentum and inertia. The
  player controls the bike by accelerating, breaking and leaning forward or
  backward, and the bike can flip directions front-to-back by pressing spacebar.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fbdcb54de11d25d1170841e90e583927ff0d612c.png
  - https://cdn.dos.zone/original/2X/3/35acdbe24b9d05e9f2d58403028629fdd53edbc7.png
---
