---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/action-stations.jsdos
layout: page.njk
ogDescription: Action Stations! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Action Stations!
  on mobile. On DOS.Zone Action Stations! available to play for free without registration.
permalink: /action-stations-1991/
screenshots:
- https://cdn.dos.zone/original/2X/a/a0a1f964868aa5bf45e9a11665d863a301f3ae82.png
- https://cdn.dos.zone/original/2X/a/a565a7188a2d801cf88d6e4885060e01205201ce.png
shortTitle: Action Stations!
title: Action Stations! | 🕹️Play Action Stations! Online | DOS game in browser

---
