---
layout: page.njk
title: Adam the New Age Warrior in 'Time After Time' | 🕹️Play Adam the New Age
  Warrior in 'Time After Time' Online | Download js-dos bundle
ogDescription: Want to Play Adam the New Age Warrior in 'Time After Time'? 🕹 On
  Dos Zone you can play Adam the New Age Warrior in 'Time After Time' OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Adam the New Age Warrior in 'Time After Time'
permalink: /adam-the-new-age-warrior-in-time-after-time-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadam-the-new-age-warrior-in-time-after-time.jsdos
description: Time After Time is a single-player, shareware shooter. The story
  behind the game is that Doctor Vladimir Von Technoface is making a bid for
  world domination. He is a renowned genetic physicist who has discovered the
  secret of time travel. Using this technology he is visiting Nazi Germany
  (1945) to take samples of Hitler's brain, Medieval Europe (565) to find the
  Breath of the Dragon, the Jurassic Period (145,000,000 B.C.) to sample the
  mighty Tyrannosaurus Rex, and the future (3500). Once he has his samples he
  will create a mighty army and take over the world. The game is keyboard or
  joystick controlled. In it the player takes the role of Adam - A New Age
  Warrior who must shoot or bludgeon his enemies out of existence as he makes
  his way through the levels and across time. The game has sound, a high score
  table, two levels of difficulty and one unique feature, when an order was
  placed the purchaser could send in a photograph of themselves and it would be
  their face that appeared on the game's main character.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9c69279f73438acd824b736921658e8fc665d354.png
  - https://cdn.dos.zone/original/2X/4/49d96b7214efb528d4bde955e0b2473d38df174a.png
---
