---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adam-the-new-age-warrior-in-time-after-time.jsdos
layout: page.njk
ogDescription: Adam the New Age Warrior in 'Time After Time' is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Adam the New Age Warrior in 'Time After Time' on mobile. On
  DOS.Zone Adam the New Age Warrior in 'Time After Time' available to play for free
  without registration.
permalink: /adam-the-new-age-warrior-in-time-after-time-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/9c69279f73438acd824b736921658e8fc665d354.png
- https://cdn.dos.zone/original/2X/4/49d96b7214efb528d4bde955e0b2473d38df174a.png
shortTitle: Adam the New Age Warrior in 'Time After Time'
title: Adam the New Age Warrior in 'Time After Time' | 🕹️Play Adam the New Age Warrior
  in 'Time After Time' Online | DOS game in browser

---
