---
layout: page.njk
title: Advanced Destroyer Simulator | 🕹️Play Advanced Destroyer Simulator
  Online | Download js-dos bundle
ogDescription: Want to Play Advanced Destroyer Simulator? 🕹 On Dos Zone you can
  play Advanced Destroyer Simulator OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Advanced Destroyer Simulator
permalink: /advanced-destroyer-simulator-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadvanced-destroyer-simulator.jsdos
description: "Advanced Destroyer Simulator ( ADS) is a naval combat simulation
  set in World War 2. It was the first naval simulation to use real-time filled
  3D graphics. Its style and mechanics are reminiscent of Epyx's Destroyer
  (1986). ADS simulates the H.M.S. Onslaught, a British destroyer of the O-class
  fitted with three cannon turrets, four torpedo tubes on port and starboard
  respectively, and a sonar to detect and track submarines. In ADS, the
  Onslaught is not part of a flotilla. There's no campaign, gameplay is
  mission-based and set in three scenarios (two in the CPC version) with five
  mission each: The Mediterranean around Sicily, the English Channel between UK
  and France, and the North Sea coast of Norway. Objectives include
  seek-and-destroy assignments, patrols, convoy escorts, submarine hunts and
  blockade runs. Each scenario also offers an open “Delta” option where you
  cruise and hunt without specific objectives. You navigate the destroyer
  manually, in real-time and from a first person perspective, though with the
  help of a scenario map. ADS simulates ship combat as a close-quarter exchange
  of torpedoes and cannon fire. In proximity to enemy land bases, Stuka fighters
  can attack and must be shot down with the cannons. Submarines are tracked with
  the sonar and can only be attacked once they surface. Enemy vessels include
  freighters, tankers, torpedo boats, destroyers and cruisers. Most missions are
  time critical; in the course of the mission, it may be necessary to dock in
  allied ports for repairs, to refuel and restock on ammunition."
screenshots:
  - https://cdn.dos.zone/original/2X/f/f13ee1245f746d4a16b6a36574eaaba9c359aa5b.png
  - https://cdn.dos.zone/original/2X/f/ffe18bc1371f9915fdd1dab69249184a1ba5b799.png
---
