---
layout: page.njk
title: Advance to Boardwalk | 🕹️Play Advance to Boardwalk Online | Download
  js-dos bundle
ogDescription: Want to Play Advance to Boardwalk? 🕹 On Dos Zone you can play
  Advance to Boardwalk OR donwload js-dos bundle for free. Start playing now!
shortTitle: Advance to Boardwalk
permalink: /advance-to-boardwalk-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadvance-to-boardwalk.jsdos
description: Based on the board game of the same name, two or more players are
  required to build hotels along a boardwalk in Atlantic City, New Jersey. The
  hotels are constructed by placing markers that represent the growing floors of
  the hotels. The game progresses when players throw three dice, two standard
  numeric six-sided dice, and a special color die. The two numbers on the
  standard dice represents the total amount of money players can spend on
  construction, while the special die tells them that they can build in any
  color group. During the game, players can take over each other's hotels and
  get Fortune Cards, in which players can take advantage of construction
  bonuses, natural disasters, and other events to add and remove floors. As with
  the board game, the first player to pass $35 million in hotel property values
  wins the game.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7fafb083554236bead5e4d5933a216373a52a5c7.png
  - https://cdn.dos.zone/original/2X/c/cf91a17c32489ee26aad7c0e16a61cf74d5b0987.png
---
