---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/advantage-tennis.jsdos
layout: page.njk
ogDescription: Advantage Tennis is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Advantage
  Tennis on mobile. On DOS.Zone Advantage Tennis available to play for free without
  registration.
permalink: /advantage-tennis-1991/
screenshots:
- https://cdn.dos.zone/original/2X/5/5390e07b8cce4656033f1e6aca6fb1462bb51e20.png
- https://cdn.dos.zone/original/2X/e/e774860d4665258257ebffb9d6af26dcc977aa4c.png
shortTitle: Advantage Tennis
title: Advantage Tennis | 🕹️Play Advantage Tennis Online | DOS game in browser

---
