---
layout: page.njk
title: Advantage Tennis | 🕹️Play Advantage Tennis Online | Download js-dos bundle
ogDescription: Want to Play Advantage Tennis? 🕹 On Dos Zone you can play
  Advantage Tennis OR donwload js-dos bundle for free. Start playing now!
shortTitle: Advantage Tennis
permalink: /advantage-tennis-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadvantage-tennis.jsdos
description: Advantage Tennis is a tennis simulation played with 2D characters
  in a 3D simulated court. The camera zooms and pans in to follow the action.
  There are training, season and exhibition modes. The season mode allows
  playing against a variety of competitors and in different courts around the
  world.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5390e07b8cce4656033f1e6aca6fb1462bb51e20.png
  - https://cdn.dos.zone/original/2X/e/e774860d4665258257ebffb9d6af26dcc977aa4c.png
---
