---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventure-math.jsdos
layout: page.njk
ogDescription: Adventure Math is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Adventure
  Math on mobile. On DOS.Zone Adventure Math available to play for free without registration.
permalink: /adventure-math-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/df4637a0af8d934e5e12813d8a06804ba06ea346.png
- https://cdn.dos.zone/original/2X/3/3d09f2b82045fdb94ca7c81893b15a6d76502ca7.png
shortTitle: Adventure Math
title: Adventure Math | 🕹️Play Adventure Math Online | DOS game in browser

---
