---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventure-game-toolkit.jsdos
layout: page.njk
ogDescription: Adventure Game Toolkit is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Adventure Game Toolkit on mobile. On DOS.Zone Adventure Game Toolkit available
  to play for free without registration.
permalink: /adventure-game-toolkit-1987/
screenshots: []
shortTitle: Adventure Game Toolkit
title: Adventure Game Toolkit | 🕹️Play Adventure Game Toolkit Online | DOS game in
  browser

---
