---
layout: page.njk
title: Adventure Game Toolkit | 🕹️Play Adventure Game Toolkit Online | Download
  js-dos bundle
ogDescription: Want to Play Adventure Game Toolkit? 🕹 On Dos Zone you can play
  Adventure Game Toolkit OR donwload js-dos bundle for free. Start playing now!
shortTitle: Adventure Game Toolkit
permalink: /adventure-game-toolkit-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventure-game-toolkit.jsdos
description: >-
  Adventure Game Toolkit is a tool for creating interactive fiction games. In
  its basics, the user creates text files in which the game parameters and text
  is specified with the scripting language. When using the AGT, it compiles a
  playable version out of those files. What makes this tool notable for the this
  database is the inclusion of a number of sample games (and their source code)
  created with AGT :

  The Adventures of Alice who Went Through the Looking-Glass and Came Back Though Not Much Changed

  Colossal Cave Adventure (this is an implementation of the 350 points version and not to be confused with the expanded Adventure in Humongous Cave by the same author)

  Crusade

  In The Year 2093

  Those games were added in the first software update in 1988. At a later date, at least since the release of v1.5, they were also also available for separate purchase via mail order.
screenshots: []
---
