---
layout: page.njk
title: Adventure Series | 🕹️Play Adventure Series Online | Download js-dos bundle
ogDescription: Want to Play Adventure Series? 🕹 On Dos Zone you can play
  Adventure Series OR donwload js-dos bundle for free. Start playing now!
shortTitle: Adventure Series
permalink: /adventure-series-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventure-series.jsdos
description: |-
  This value pack collects the twelve Scott Adams Classic Adventures in
  their all-text format with the original IBM PC interpreter.  The following
  games comprise the package:
  Adventureland
  Ghost Town
  Golden Voyage
  Mystery Fun House
  Pirate Adventure
  Pyramid of Doom
  Savage Island Part One
  Savage Island Part Two
  Secret Mission (aka Mission Impossible)
  Strange Odyssey
  The Count
  Voodoo Castle
screenshots: []
---
