---
layout: page.njk
title: Adventure | 🕹️Play Adventure Online | Download js-dos bundle
ogDescription: Want to Play Adventure? 🕹 On Dos Zone you can play Adventure OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Adventure
permalink: /adventure-dec-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventure____.jsdos
description: Adventure is a port of the mainframe text adventure Adventure (also
  known as Colossal Cave Adventure). It is based on Bob Supnik 's DECUS
  implementation of Don Woods ' enhanced version with 350 points. During the
  game, the player visits and explores a cave. The goal is to find treasure by
  solving puzzles. Interactions with the game are conducted by entering
  verb-noun commands into the text parser. This version includes the option to
  set the displayed location description to either verbose and brief (normally
  the verbose version is only shown when entering a location for the first
  time), occasional offers to receive hints in exchange for points and the
  possibility to save.
screenshots:
  - https://cdn.dos.zone/original/2X/8/891f26d563a4a8a67fa740251b6f992782e60f4e.png
  - https://cdn.dos.zone/original/2X/b/b251a2cdcaa3b2f531fd219ba1783c77e9c7ceac.png
---
