---
layout: page.njk
title: Air-Strike | 🕹️Play Air-Strike Online | Download js-dos bundle
ogDescription: Want to Play Air-Strike? 🕹 On Dos Zone you can play Air-Strike
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Air-Strike
permalink: /air-strike-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fair-strike.jsdos
description: In this shoot 'em-up the player controls a gun mounted on a tower
  and the aim is to shoot down as many airplanes and parachutists as possible
  before they kill you. The game features four levels and a variety of weapons
  such as a regular gun, homing missiles and a flame thrower.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fbc3763d80aeff86c179aa1c97ef4509181ee175.png
  - https://cdn.dos.zone/original/2X/5/55e8dd65b3bdc7c5131bf7d3c156245cdcd1e450.png
---
