---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/air-force-commander.jsdos
layout: page.njk
ogDescription: Air Force Commander is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Air Force Commander on mobile. On DOS.Zone Air Force Commander available to play
  for free without registration.
permalink: /air-force-commander-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/acab92dd7b01a7ade107317091664d941705226c.gif
- https://cdn.dos.zone/original/2X/3/32f8ef172b5eb26bf428875b5f1a2bcb24e34112.gif
shortTitle: Air Force Commander
title: Air Force Commander | 🕹️Play Air Force Commander Online | DOS game in browser

---
