---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/air-puck.jsdos
layout: page.njk
ogDescription: Air Puck is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Air Puck on
  mobile. On DOS.Zone Air Puck available to play for free without registration.
permalink: /air-puck-mar-25-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/fc4bf32ad3b6c7c50e1e0ffbdab8cf85c481377e.png
- https://cdn.dos.zone/original/2X/4/4ea5d344f87fc4549cec9e2e661b4c38a3e6f840.png
shortTitle: Air Puck
title: Air Puck | 🕹️Play Air Puck Online | DOS game in browser

---
