---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/air-traffic-control.jsdos
layout: page.njk
ogDescription: Air Traffic Control is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Air Traffic Control on mobile. On DOS.Zone Air Traffic Control available to play
  for free without registration.
permalink: /air-traffic-control-1988/
screenshots:
- https://cdn.dos.zone/original/2X/b/b7272461a69ad62c8687b23ee5f954df3074b6ed.png
- https://cdn.dos.zone/original/2X/3/372cda0eefb8404feb40396d97d0e83e7332f06d.png
shortTitle: Air Traffic Control
title: Air Traffic Control | 🕹️Play Air Traffic Control Online | DOS game in browser

---
