---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/air-attack___.jsdos
layout: page.njk
ogDescription: Air Attack! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Air Attack!
  on mobile. On DOS.Zone Air Attack! available to play for free without registration.
permalink: /air-attack-1988/
screenshots:
- https://cdn.dos.zone/original/2X/9/9baa04d7d258709fac32db863d07a6bad5d7c756.png
- https://cdn.dos.zone/original/2X/2/23a134d90c9d208e25e37a3f69d07ab47900321f.png
shortTitle: Air Attack!
title: Air Attack! | 🕹️Play Air Attack! Online | DOS game in browser

---
