---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/airline__.jsdos
layout: page.njk
ogDescription: Airline is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Airline on
  mobile. On DOS.Zone Airline available to play for free without registration.
permalink: /airline-1991/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ed3c01eb9a367a8aaf3b8bd2702a1e7e06fa04f.png
- https://cdn.dos.zone/original/2X/4/460f5dcc3c498657e853183982cc9355b104f55e.png
shortTitle: Airline
title: Airline | 🕹️Play Airline Online | DOS game in browser

---
