---
layout: page.njk
title: Airline | 🕹️Play Airline Online | Download js-dos bundle
ogDescription: Want to Play Airline? 🕹 On Dos Zone you can play Airline OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Airline
permalink: /airline-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fairline__.jsdos
description: >-
  Airline is a managerial simulation in which the player is responsible for a
  airline corporation. 

  The majority of the game is spent in menu and sub-menu screens which allow to buy/sell/lease aircraft, advertising, hiring staff or simply manage the balance. Because the overall goal is obviously to earn money, the most important part is to get orders and selecting a suitable aircraft and crew to perform it on time. Of course things go not always smoothly which then requires the player to intervene personally in an action sequence, e.g. landing an aircraft or loading cargo. Those are mandatory and can be practised against a fee. Each turn represents one month. Additionally the game offers a multiplayer mode, three starting scenarios (founding a new airline, taking over an existing one or recapitalize an unprofitable one), three difficulty levels and historical information on aircraft.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8ed3c01eb9a367a8aaf3b8bd2702a1e7e06fa04f.png
  - https://cdn.dos.zone/original/2X/4/460f5dcc3c498657e853183982cc9355b104f55e.png
---
