---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/airstrike_.jsdos
layout: page.njk
ogDescription: Airstrike is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Airstrike
  on mobile. On DOS.Zone Airstrike available to play for free without registration.
permalink: /airstrike-nov-01-1995/
screenshots:
- https://cdn.dos.zone/original/2X/c/c955c1eeee78a41afc53f15deebc0a3199731445.png
- https://cdn.dos.zone/original/2X/e/e6eee398006789f799baa97b717282cdc1bcb040.png
shortTitle: Airstrike
title: Airstrike | 🕹️Play Airstrike Online | DOS game in browser

---
