---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/al-qadim-the-genies-curse.jsdos
layout: page.njk
ogDescription: 'Al-Qadim: The Genie''s Curse is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Al-Qadim: The Genie''s Curse on mobile. On DOS.Zone Al-Qadim: The Genie''s
  Curse available to play for free without registration.'
permalink: /al-qadim-the-genies-curse-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f81bd02b782b1322f518bcc25380d95a69ce006d.gif
- https://cdn.dos.zone/original/2X/c/c8810424ba7439f9957d5a275be533a48007e686.gif
shortTitle: 'Al-Qadim: The Genie''s Curse'
title: 'Al-Qadim: The Genie''s Curse | 🕹️Play Al-Qadim: The Genie''s Curse Online
  | DOS game in browser'

---
