---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/alcatraz.jsdos
layout: page.njk
ogDescription: Alcatraz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Alcatraz on
  mobile. On DOS.Zone Alcatraz available to play for free without registration.
permalink: /alcatraz-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/9d8ec8130b393dbeaf0025056abfefadbe14ceac.png
- https://cdn.dos.zone/original/2X/7/7433efeecd15c4a142e2830ec90318b1584f122f.png
shortTitle: Alcatraz
title: Alcatraz | 🕹️Play Alcatraz Online | DOS game in browser

---
