---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/alfs-us-geography.jsdos
layout: page.njk
ogDescription: ALF's U.S. Geography is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in ALF's U.S. Geography on mobile. On DOS.Zone ALF's U.S. Geography available to
  play for free without registration.
permalink: /alfs-u-s-geography-1993/
screenshots: []
shortTitle: ALF's U.S. Geography
title: ALF's U.S. Geography | 🕹️Play ALF's U.S. Geography Online | DOS game in browser

---
