---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/alge-blaster-plus.jsdos
layout: page.njk
ogDescription: Alge-Blaster Plus! is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Alge-Blaster Plus! on mobile. On DOS.Zone Alge-Blaster Plus! available to play for
  free without registration.
permalink: /alge-blaster-plus-1989/
screenshots: []
shortTitle: Alge-Blaster Plus!
title: Alge-Blaster Plus! | 🕹️Play Alge-Blaster Plus! Online | DOS game in browser

---
