---
layout: page.njk
title: Aliens | 🕹️Play Aliens Online | Download js-dos bundle
ogDescription: Want to Play Aliens? 🕹 On Dos Zone you can play Aliens OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Aliens
permalink: /aliens-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faliens_______.jsdos
description: "Earth is under alien attack! The player is the sole defender and
  has to keep the alien ships from reaching their destination by ramming them.
  Despite the game being technically turn-based, the result is an action game:
  each round is on a timer and at the end of the time span, all enemies move one
  field - even if there was no player movement. The round also ends when the
  player moves with the result that, at least on the lower difficulty levels, a
  fast enough pace can keep the enemies on their place. The game field (one
  screen) is filled with different ASCII characters which represent the game's
  objects: the player's ship, alien ships (are taken out of the game when
  touched), droid ships (deadly by touch), meteors (deadly for both the player
  and enemies), Earth and stationary mines (also deadly). The game ends when
  either all alien ships are gone, an alien ship reaches Earth or when the
  player dies. There are nine difficulty levels which determine the length of a
  round."
screenshots:
  - https://cdn.dos.zone/original/2X/2/283636177841d673429c52632072b34700835e61.png
  - https://cdn.dos.zone/original/2X/2/25f548c37c9b38e80d2f2b14d894bb81b28c94bd.png
---
