---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/alien-attack.jsdos
layout: page.njk
ogDescription: Alien Attack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Alien Attack
  on mobile. On DOS.Zone Alien Attack available to play for free without registration.
permalink: /alien-attack-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/278bf60796a9a806a1dcd0db86ac08ede035202.png
- https://cdn.dos.zone/original/2X/e/ea9020610fbd3877c2614cd0899f0fd8d26a32c4.png
shortTitle: Alien Attack
title: Alien Attack | 🕹️Play Alien Attack Online | DOS game in browser

---
