---
layout: page.njk
title: AllegroHack | 🕹️Play AllegroHack Online | Download js-dos bundle
ogDescription: Want to Play AllegroHack? 🕹 On Dos Zone you can play AllegroHack
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: AllegroHack
permalink: /allegrohack-jun-23-2000/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fallegrohack.jsdos
description: AllegroHack is a graphical user interface for NetHack which is
  built with the Allegro software library to draw large (32x32 pixels)
  true-colour tiles in high-resolution SVGA modes. It also enhances the game by
  adding various visual effects, a graphical interface with a minimap, and
  different graphics for male and female player characters. AllegroHack does not
  alter gameplay mechanics, its releases tailored to match the most recent
  version of vanilla NetHack at the time.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e57386ede04dd8c6528eaeffdc9d0e98af5f8975.png
  - https://cdn.dos.zone/original/2X/b/b52be99378ded69c97c409af6630a779e8440311.png
---
