---
layout: page.njk
title: Alpine Tram Ride | 🕹️Play Alpine Tram Ride Online | Download js-dos bundle
ogDescription: Want to Play Alpine Tram Ride? 🕹 On Dos Zone you can play Alpine
  Tram Ride OR donwload js-dos bundle for free. Start playing now!
shortTitle: Alpine Tram Ride
permalink: /alpine-tram-ride-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Falpine-tram-ride.jsdos
description: Alpine Tram Ride is an educational game designed to teach logic and
  problem solving. The game presents the player with a tram containing four
  cars; each car is occupied by one of ten animals, and the player's goal is to
  determine which animal is in which tram car. On each turn the player selects
  four animals and places them in the tram cars; the game will indicate whether
  any chosen animals are correct and if any are placed in the correct location.
  Since the game doesn't indicate which of the four chosen animals are correct
  the player needs to figure this out. The game ends when the player chooses the
  correct four animals and places them in the right location. The game keeps
  track of how many turns are taken, the goal is to solve the puzzle in as few
  turns as possible.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c4d3f40744dcc8d9c50b37211009e5f612e0802f.png
  - https://cdn.dos.zone/original/2X/1/1e157e6cedc9b5c2e94e8c469f8816622a32f17e.png
---
