---
layout: page.njk
title: Alter Ego | 🕹️Play Alter Ego Online | Download js-dos bundle
ogDescription: Want to Play Alter Ego? 🕹 On Dos Zone you can play Alter Ego OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Alter Ego
permalink: /alter-ego-feb-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Falter-ego.jsdos
description: Alter Ego is a game which tries to simulate life itself. The player
  creates a character with different personality statistics, either by assigning
  them randomly or by answering a few introductory questions. They then guide
  this character through seven life phases, from infancy to old age. The
  gameplay consists of a series of situations where a decision has to be made.
  This is done by choosing one of multiple answer possibilities, sometimes
  accompanied with a mood. Then the player gets presented with the outcome and
  goes on to the next situation. Every decision has long-time consequences and
  influences the personality, health and which situations await further down the
  road. Some decisions may even result in an early death or instant game over.
  Every life phase is represented by a life tree where the situations are lined
  up; the motive of the situation card shows the general theme of the situation.
  After reaching a certain age, additional life options can be undergone at any
  time. Here the player can change his lifestyle and manage his love and
  professional life. The game exists in two variations which depict a male or
  female life.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f8cd219414021a722466372fe55d05101b4c8686.gif
  - https://cdn.dos.zone/original/2X/4/47de435bbd6eb2bd56631a14febfb74fe3cba28a.png
---
