---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amarillo-slims-real-poker-5-card-stud.jsdos
layout: page.njk
ogDescription: 'Amarillo Slim''s Real Poker: 5 Card Stud is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Amarillo Slim''s Real Poker: 5 Card Stud on mobile. On DOS.Zone
  Amarillo Slim''s Real Poker: 5 Card Stud available to play for free without registration.'
permalink: /amarillo-slims-real-poker-5-card-stud-1989/
screenshots:
- https://cdn.dos.zone/original/2X/6/6143ee4cca35cde4b2d994694228c952adcf831c.png
- https://cdn.dos.zone/original/2X/1/16e37ae0c192079b29a5ae32f9d0019aeb084cf7.png
shortTitle: 'Amarillo Slim''s Real Poker: 5 Card Stud'
title: 'Amarillo Slim''s Real Poker: 5 Card Stud | 🕹️Play Amarillo Slim''s Real Poker:
  5 Card Stud Online | DOS game in browser'

---
