---
layout: page.njk
title: Amarillo Slim's 7 Card Stud | 🕹️Play Amarillo Slim's 7 Card Stud Online
  | Download js-dos bundle
ogDescription: Want to Play Amarillo Slim's 7 Card Stud? 🕹 On Dos Zone you can
  play Amarillo Slim's 7 Card Stud OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Amarillo Slim's 7 Card Stud
permalink: /amarillo-slims-7-card-stud-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famarillo-slims-7-card-stud.jsdos
description: "Amarillo Slim's 7 Card Stud is an abridged version of Amarillo
  Slim Dealer's Choice, published as the first volume of the popular and casual
  Coffee Break series. The game is a poker simulation featuring only one kind of
  variety: 7 Card Stud. You can play against two to seven computer opponents
  chosen out of fifteen different personalities and even with digitized voices.
  As well as other CBS titles, Amarillo Slim's 7 Card Stud features easy to use
  mouse or keyboard interface and complete on-line help, with the optional tutor
  giving you advice on every move, displaying statistics, calculating odds of
  winning with your current hand, save/load feature, and high score table."
screenshots:
  - https://cdn.dos.zone/original/2X/e/eafd9cd374ec61343e4ad21c37b1431179e148eb.png
  - https://cdn.dos.zone/original/2X/e/ef13c125174b3c6cac930bc27b1cbcfb2efab902.png
---
