---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amazing-maze__.jsdos
layout: page.njk
ogDescription: Amazing Maze is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Amazing Maze
  on mobile. On DOS.Zone Amazing Maze available to play for free without registration.
permalink: /amazing-maze-1983/
screenshots:
- https://cdn.dos.zone/original/2X/b/b1ade40ebf9a0af44c0f2cf51069e05106d8aba1.png
- https://cdn.dos.zone/original/2X/a/ab42200b6fdcd5243920cde3914decd0f42b7406.png
shortTitle: Amazing Maze
title: Amazing Maze | 🕹️Play Amazing Maze Online | DOS game in browser

---
