---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amaze.jsdos
layout: page.njk
ogDescription: Amaze is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Amaze on mobile.
  On DOS.Zone Amaze available to play for free without registration.
permalink: /amaze-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/f76a33430a36fbcb1f7a583dce847d93d30775e3.png
- https://cdn.dos.zone/original/2X/d/d561db3db43ebc1d3e0ab695912e8025db38f111.png
shortTitle: Amaze
title: Amaze | 🕹️Play Amaze Online | DOS game in browser

---
