---
layout: page.njk
title: Amazing Maze | 🕹️Play Amazing Maze Online | Download js-dos bundle
ogDescription: Want to Play Amazing Maze? 🕹 On Dos Zone you can play Amazing
  Maze OR donwload js-dos bundle for free. Start playing now!
shortTitle: Amazing Maze
permalink: /amazing-maze-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famazing-maze__.jsdos
description: "A maze navigation game which places more emphasis on nimble
  fingers and quick reaction than on finding the way out.  The challenge is to
  avoid touching the walls: the player starts with 100 points, and controls a
  marker which must be guided towards the exit point; five skill settings
  determine the speed of the action.  Each bump against the maze walls will
  deduct a point, and when finished, the player's performance is ranked
  according to the remaining score.  The game's 10 levels may be played
  separately, or in succession - for an extra challenge, the multi-level maze
  carries the score from one level to the next."
screenshots:
  - https://cdn.dos.zone/original/2X/b/b1ade40ebf9a0af44c0f2cf51069e05106d8aba1.png
  - https://cdn.dos.zone/original/2X/a/ab42200b6fdcd5243920cde3914decd0f42b7406.png
---
