---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amazing.jsdos
layout: page.njk
ogDescription: Amazing is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Amazing on
  mobile. On DOS.Zone Amazing available to play for free without registration.
permalink: /amazing-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2f4261817e3687b351a1759826927135768f29e.png
- https://cdn.dos.zone/original/2X/d/d9a1a2b2a415d9baaee636496c3dc0873f4ca86b.png
shortTitle: Amazing
title: Amazing | 🕹️Play Amazing Online | DOS game in browser

---
