---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amberstar.jsdos
layout: page.njk
ogDescription: Amberstar is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Amberstar
  on mobile. On DOS.Zone Amberstar available to play for free without registration.
permalink: /amberstar-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/ea3add9b0aa82fffb4213e745164ddbcde70ffae.png
- https://cdn.dos.zone/original/2X/4/4ea27b693b30a87c80cada56b35f620f76959a8d.png
shortTitle: Amberstar
title: Amberstar | 🕹️Play Amberstar Online | DOS game in browser

---
