---
layout: page.njk
title: American Sign Language Tutor | 🕹️Play American Sign Language Tutor
  Online | Download js-dos bundle
ogDescription: Want to Play American Sign Language Tutor? 🕹 On Dos Zone you can
  play American Sign Language Tutor OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: American Sign Language Tutor
permalink: /american-sign-language-tutor-may-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famerican-sign-language-tutor.jsdos
description: This program helps its user to learn American Sign Language.  Using
  vector graphics, it allows the player to look up the signs for various letters
  and words; it can even read a text file on screen in ASL at variable
  speeds.  Once the user has studied sufficiently, the program offers a quiz
  mode where it displays signs and requires the user to type in what they
  mean.  The program is quite configurable, even allowing the user to specify
  whether the signs displayed on screen should be right- or left-handed.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c861fcc041b2f2307fb3ac2f88737f335aa0587b.png
  - https://cdn.dos.zone/original/2X/a/a018e96b3efe6c8128141be245ba991d73f4e899.png
---
