---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/american-sign-language-tutor.jsdos
layout: page.njk
ogDescription: American Sign Language Tutor is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in American Sign Language Tutor on mobile. On DOS.Zone American Sign Language Tutor
  available to play for free without registration.
permalink: /american-sign-language-tutor-may-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/c861fcc041b2f2307fb3ac2f88737f335aa0587b.png
- https://cdn.dos.zone/original/2X/a/a018e96b3efe6c8128141be245ba991d73f4e899.png
shortTitle: American Sign Language Tutor
title: American Sign Language Tutor | 🕹️Play American Sign Language Tutor Online |
  DOS game in browser

---
