---
layout: page.njk
title: Amoba | 🕹️Play Amoba Online | Download js-dos bundle
ogDescription: Want to Play Amoba? 🕹 On Dos Zone you can play Amoba OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Amoba
permalink: /amoba-sep-18-2011/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famoba.jsdos
description: Amoba is a variation on Gomoku (also known as Five in a Row),
  played on an extended go board of 28x18 squares.  Only one human player (blue)
  participates, with the computer (red) for an opponent; both sides take turns
  placing a piece on one of the empty squares, filling it with the respective
  color.  The goal of each side is to attain a sequence of five occupied squares
  in a row before the opponent does - whether vertically, horizontally or
  diagonally.  The game is controlled using the mouse, and other than the
  dimensions of the gameboard, the only real departure from the traditional
  board game is the colorful animated backdrop.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b60a19d524c281ea792d0e630f5868bd17add1aa.png
  - https://cdn.dos.zone/original/2X/7/7df605116ee7e8fea1dfd4d508c16c676a8184e.png
---
