---
layout: page.njk
title: "Ancients 1: Death Watch | 🕹️Play Ancients 1: Death Watch Online |
  Download js-dos bundle"
ogDescription: "Want to Play Ancients 1: Death Watch? 🕹 On Dos Zone you can
  play Ancients 1: Death Watch OR donwload js-dos bundle for free. Start playing
  now!"
shortTitle: "Ancients 1: Death Watch"
permalink: /ancients-1-death-watch-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fancients-1-death-watch.jsdos
description: "Ancients 1: Death Watch is a mystical fantasy role-playing game,
  bringing players deep in the underground to do battle with bizarre monsters
  and find untold riches in and beneath the city of Locklaven. The player uses
  keyboard or mouse to control a party of four explorers who journey together
  and must work as a team to ward off the many inhabitants of the dungeon. Said
  dungeon consists of several levels with increasing difficulty and the
  (relatively) save town above ground in which the characters can shop and heal.
  Combat in the game is turn-based. Character improvement uses the traditional
  experience system, but after a level up the guild in Locklaven has to be
  visited. The game allows for three races (elf, dwarf and human) and four
  classes (warrior, thief, mage and priest)."
screenshots:
  - https://cdn.dos.zone/original/2X/3/3b047bba4491f1cc995896db66b1755d930c59f5.gif
  - https://cdn.dos.zone/original/2X/2/223a1aa6a47ffc0437a02fb8e74d7ba194232dfe.png
---
