---
layout: page.njk
title: "Angst: A Game of Urban Survival | 🕹️Play Angst: A Game of Urban
  Survival Online | Download js-dos bundle"
ogDescription: "Want to Play Angst: A Game of Urban Survival? 🕹 On Dos Zone you
  can play Angst: A Game of Urban Survival OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Angst: A Game of Urban Survival"
permalink: /angst-a-game-of-urban-survival-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fangst-a-game-of-urban-survival.jsdos
description: >-
  Angst: A Game Of Urban Survival is a single player, shareware adventure game
  based on the Los Angeles riots of 1992. The game uses a DOS Window to frame
  and run the game. The player starts the game and is shown a scene which puts
  the player on a motorway junction outside the city. They then use the menu bar
  to select an attitude with which to approach the scene and an item, attitudes
  range from Conservative to Green while the items range from an uzi to a breath
  mint. The player then enables their mouse and clicks on the picture, anywhere
  that is coloured yellow is a link to something, sometimes the link does not do
  a great deal, for example in 'The Fun Zone' clicking on another character
  brings up a message "You refrain from romance because you do not know your
  partner's antibody status". Other hot spots though open up other scenes and
  this is how the player progresses through the game. What is the point of the
  game? Who knows? The game's documentation is deliberately enigmatic saying
  only: "

  Object of Game   :   Up to you to determine. Characters and scenes may give you a hint" but the manual also makes it clear that it is possible to win, that it is also possible to die, and it is possible to get stuck by not possessing the right item in the right place.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e4d65b24d0c1e46d8b4ddbb845dc28bb527fe1f0.png
  - https://cdn.dos.zone/original/2X/5/57fd5745e25f3b2dcd1d67b5bbda56884e58b7e1.png
---
