---
layout: page.njk
title: Animated Memory Game | 🕹️Play Animated Memory Game Online | Download
  js-dos bundle
ogDescription: Want to Play Animated Memory Game? 🕹 On Dos Zone you can play
  Animated Memory Game OR donwload js-dos bundle for free. Start playing now!
shortTitle: Animated Memory Game
permalink: /animated-memory-game-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fanimated-memory-game.jsdos
description: >-
  Animated Memory Game is a single player, shareware memory game based on the
  card game Concentration In this implementation the player can play with either
  a keyboard or a mouse and has a choice of playing with eight, fourteen, twenty
  or thirty four tiles. When a pair of tiles is matched it plays a small
  animation, the reward for matching all tiles in a game is also a small
  animation.

  The game features a 'mini movie theater' in which the end of game mini movies can be watched, players can also change the tile back and background colour.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bf09e797e273c44eb3a2c38fe86e28c463c63674.png
  - https://cdn.dos.zone/original/2X/f/f2dcbda5bbd53f56a348eb07ff6774dcb0ff8f65.png
---
