---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/animac.jsdos
layout: page.njk
ogDescription: ANIMAC is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in ANIMAC on mobile.
  On DOS.Zone ANIMAC available to play for free without registration.
permalink: /animac-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e01e17d5637980e623ac3dc232db43852c7dc00.png
- https://cdn.dos.zone/original/2X/4/4d6c1d9bcd3a650ce6b291df6c070fb0d1a9fd3c.png
shortTitle: ANIMAC
title: ANIMAC | 🕹️Play ANIMAC Online | DOS game in browser

---
