---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/animated-memory-game.jsdos
layout: page.njk
ogDescription: Animated Memory Game is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Animated Memory Game on mobile. On DOS.Zone Animated Memory Game available to
  play for free without registration.
permalink: /animated-memory-game-1991/
screenshots:
- https://cdn.dos.zone/original/2X/b/bf09e797e273c44eb3a2c38fe86e28c463c63674.png
- https://cdn.dos.zone/original/2X/f/f2dcbda5bbd53f56a348eb07ff6774dcb0ff8f65.png
shortTitle: Animated Memory Game
title: Animated Memory Game | 🕹️Play Animated Memory Game Online | DOS game in browser

---
