---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/annals-of-rome.jsdos
layout: page.njk
ogDescription: Annals of Rome is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Annals of
  Rome on mobile. On DOS.Zone Annals of Rome available to play for free without registration.
permalink: /annals-of-rome-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/2632d6cfd216a94cd9059105faa519f4e57d3f49.png
- https://cdn.dos.zone/original/2X/4/4512f80afdcebd35a5a6140a03486da4f86931a6.png
shortTitle: Annals of Rome
title: Annals of Rome | 🕹️Play Annals of Rome Online | DOS game in browser

---
