---
layout: page.njk
title: Annals of Rome | 🕹️Play Annals of Rome Online | Download js-dos bundle
ogDescription: Want to Play Annals of Rome? 🕹 On Dos Zone you can play Annals
  of Rome OR donwload js-dos bundle for free. Start playing now!
shortTitle: Annals of Rome
permalink: /annals-of-rome-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fannals-of-rome.jsdos
description: Annals of Rome begins in 273BC and sets you as a Roman senator,
  with the ultimate aim of colonizing as much of the known world as possible,
  and retaining that power against Carthaginians, Vandals,  Parthians, Persians
  and all the other world forces. You have a strong army at your disposal, and
  can direct your generals as to which countries they attempt to invade. The
  game is turn-based, and these turns operate in phases, beginning with the
  economic circumstances of population and tax income being decided - it's
  recommended to keep taxation taxing low unless things become desperate. The
  game then updates you on the statuses of your generals, and give you the
  chance to redistribute them to other parts of your kingdom. Officers may rebel
  and cause a civil war - fortunately this can usually be pre-empted. More
  serious are attempts to take land from other civilizations, which take place
  in order and include conflicts between other groups. These, like every element
  of the game, are accurately historically modeled and variable in time-span as
  a result.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2632d6cfd216a94cd9059105faa519f4e57d3f49.png
  - https://cdn.dos.zone/original/2X/4/4512f80afdcebd35a5a6140a03486da4f86931a6.png
---
