---
layout: page.njk
title: Ant Attack | 🕹️Play Ant Attack Online | Download js-dos bundle
ogDescription: Want to Play Ant Attack? 🕹 On Dos Zone you can play Ant Attack
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Ant Attack
permalink: /ant-attack-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fant-attack__.jsdos
description: Just as the picnic baskets have been laid out, hordes of gigantic
  ants start swarming in from the anthills all around.  Your job is simple -
  exterminate!  Move quickly through the playfield and dispose of the vermin,
  before they become too much to deal with. Armed with a bulldozer (to flatten
  those anthills), a bucket of water (ants can't swim), and an unlimited supply
  of particularly potent ant spray, you must protect the picnic baskets at all
  costs.  The ant colonies will spread if not dealt with quickly, and if all the
  baskets are devoured, it's all over. The shareware release features 10 levels,
  out of 100 in the complete version.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b9c782074c4c0e38ecb735ffc026f2a098d6fd98.png
  - https://cdn.dos.zone/original/2X/f/fbf7ef9e1d603aab5ae6351146ad23b8740b9b74.png
---
