---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ant-attack__.jsdos
layout: page.njk
ogDescription: Ant Attack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Ant Attack
  on mobile. On DOS.Zone Ant Attack available to play for free without registration.
permalink: /ant-attack-1994/
screenshots:
- https://cdn.dos.zone/original/2X/b/b9c782074c4c0e38ecb735ffc026f2a098d6fd98.png
- https://cdn.dos.zone/original/2X/f/fbf7ef9e1d603aab5ae6351146ad23b8740b9b74.png
shortTitle: Ant Attack
title: Ant Attack | 🕹️Play Ant Attack Online | DOS game in browser

---
