---
layout: page.njk
title: AntiC | 🕹️Play AntiC Online | Download js-dos bundle
ogDescription: Want to Play AntiC? 🕹 On Dos Zone you can play AntiC OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: AntiC
permalink: /antic-aug-22-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fantic.jsdos
description: AntiC is a single player, shareware, puzzle game describing itself
  as "a cross between Othello and Life". The name is derived from 'Anti Chaos'
  which refers to the nature of the game, where the purpose is to make squares
  of different colours all of the same colour. The player is presented with a
  grid in which each square is linked to adjacent squares by directional arrows
  and may be red, blue, or green. Clicking on a square causes it to change
  colour. The square sends its colour to its neighbours which in turn causes the
  game to recalculate the colour of all the cells in the grid according to
  specific rules. The object of the game is to convert the grid to a single
  colour, does not matter which, in as few moves as possible. The shareware
  version of the game has six different grid formations each with thirty-five
  possible starting formations; an unspecified number of additional
  puzzles/grids is available on registration. There is a 'Hall of Fame' which
  lists the player's best solutions for each of the thirty-five levels.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cddd0ef51915917da483c4eb6f8935932c5c8b1.png
  - https://cdn.dos.zone/original/2X/2/2839c9927fd79893f4c2fce6e3e3cdf0c9d5f534.png
---
