---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/antic.jsdos
layout: page.njk
ogDescription: AntiC is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in AntiC on mobile.
  On DOS.Zone AntiC available to play for free without registration.
permalink: /antic-aug-22-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/cddd0ef51915917da483c4eb6f8935932c5c8b1.png
- https://cdn.dos.zone/original/2X/2/2839c9927fd79893f4c2fce6e3e3cdf0c9d5f534.png
shortTitle: AntiC
title: AntiC | 🕹️Play AntiC Online | DOS game in browser

---
