---
layout: page.njk
title: Aquanoid | 🕹️Play Aquanoid Online | Download js-dos bundle
ogDescription: Want to Play Aquanoid? 🕹 On Dos Zone you can play Aquanoid OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Aquanoid
permalink: /aquanoid-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faquanoid.jsdos
description: Aquanoid is a straight Breakout variant. The player controls a
  paddle which is positioned at the bottom of the screen and can move left and
  right. At the upper part of the screen are a variety of blocks and the goal is
  to destroy them all by bouncing a ball between the blocks and the paddle -
  when the player fails to bounce the ball back a life is lost. When the ball
  touches a block. it disappears. However, there are different blocks with
  varying properties, e.g. some may require multiple hits or can't be destroyed
  at all. In some occasions, a destroyed blocks drops a power up which has an
  effect on the gameplay when picked up with the paddle.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a515ca7b35939de2a2a29d8288dffe9948842b9b.gif
  - https://cdn.dos.zone/original/2X/4/479d48689decb5e3e67e600034c1c160c3f87b46.gif
---
