---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/arcade-2.jsdos
layout: page.njk
ogDescription: Arcade 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Arcade 2 on
  mobile. On DOS.Zone Arcade 2 available to play for free without registration.
permalink: /arcade-2-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/48cea0cccf9bbc43c30788ef686808033825b5e8.png
- https://cdn.dos.zone/original/2X/a/ac8596b493776c288ca2f055a753774d578412b8.png
shortTitle: Arcade 2
title: Arcade 2 | 🕹️Play Arcade 2 Online | DOS game in browser

---
