---
layout: page.njk
title: Arcade 2 | 🕹️Play Arcade 2 Online | Download js-dos bundle
ogDescription: Want to Play Arcade 2? 🕹 On Dos Zone you can play Arcade 2 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Arcade 2
permalink: /arcade-2-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Farcade-2.jsdos
description: >-
  Compilation includes the following 3 obscure ascii based titles: Bowling Champ

  Munchman

  Depth Charge Bowling is a bowling game which can be played by one up to four players. Gameplay is from a side view of the bowling alley. Munchman is a simple clone of Pac-Man. Object of the Depth Charge is  to drop depth charges from the destroyer at the top of the screen and hit the submarines scattered below.
screenshots:
  - https://cdn.dos.zone/original/2X/4/48cea0cccf9bbc43c30788ef686808033825b5e8.png
  - https://cdn.dos.zone/original/2X/a/ac8596b493776c288ca2f055a753774d578412b8.png
---
