---
layout: page.njk
title: Archery | 🕹️Play Archery Online | Download js-dos bundle
ogDescription: Want to Play Archery? 🕹 On Dos Zone you can play Archery OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Archery
permalink: /archery-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Farchery.jsdos
description: In Archery, the player is challenged to get an arrow as near the
  bullseye of a moving target, which descends from the top of the screen, as
  possible. The player gets three tries from each of five different starting
  positions. More points are awarded for shots that land nearer the center, and
  the highest total score at the end of the game wins. Archery may be played
  alone, against the computer, or against a second player.
screenshots:
  - https://cdn.dos.zone/original/2X/8/862e812e59a09fc1534e662c3cdcb12e0ddc7be6.png
  - https://cdn.dos.zone/original/2X/9/9424efe483acb832f1ea8c6f668bfc3499fe02f6.png
---
