---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/archipelagos.jsdos
layout: page.njk
ogDescription: Archipelagos is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Archipelagos
  on mobile. On DOS.Zone Archipelagos available to play for free without registration.
permalink: /archipelagos-1989/
screenshots:
- https://cdn.dos.zone/original/2X/e/e57a224a6c8579ae13104d0f11ff84bc9286ea8.gif
- https://cdn.dos.zone/original/2X/5/5871edf7217cdc6aadaa57955c11f78daa09dde7.gif
shortTitle: Archipelagos
title: Archipelagos | 🕹️Play Archipelagos Online | DOS game in browser

---
