---
layout: page.njk
title: Argh | 🕹️Play Argh Online | Download js-dos bundle
ogDescription: Want to Play Argh? 🕹 On Dos Zone you can play Argh OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Argh
permalink: /argh-jan-29-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fargh.jsdos
description: Argh is a single player, freeware, sliding block puzzle. In this
  game there are three puzzles ARGH, BARGH and CARHG, all of which are similar
  but which differ in complexity. In each puzzle the player starts with a frame
  within which are a number of coloured blocks. The object in each game is to
  move block A from its starting position to a specified end position that's on
  the opposite side of the frame. There's no sound and no score other than the
  number of moves taken. The game is entirely keyboard controlled and has a
  save/load function and a 'Boss key' that fills the screen with a spurious
  spread sheet. It has a command line switch that will cause it to run in
  monochrome Though the game is freeware the author did sell a version of the
  game in which the puzzles would solve themselves
screenshots:
  - https://cdn.dos.zone/original/2X/a/a7cd7701f101fc1ba32715e5118acc2efc945864.png
  - https://cdn.dos.zone/original/2X/f/f5763b274df782e9e9c554c605c8558440faf556.png
---
