---
layout: page.njk
title: Ario Bros | 🕹️Play Ario Bros Online | Download js-dos bundle
ogDescription: Want to Play Ario Bros? 🕹 On Dos Zone you can play Ario Bros OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Ario Bros
permalink: /ario-bros-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fario-bros.jsdos
description: Ario Bros is a single player, platform game that uses character
  graphics. In this game the player has to keep the plumbing free of pests while
  collecting points. To collect the pest the player jumps up and bangs the
  platform beneath the pest, this temporarily stuns them so that they can be
  collected. Collected pests leave behind coins which score points. Some pests
  can be stunned with just one jump, others take two or more. The game also has
  a POW box. When hit this stuns all pests but its effect is reduced with
  repeated use. There's a fireball bouncing around the screen, if the player
  catches it they will score highly on the other hand if the fireball hits the
  player it's game over. The game can be played in colour or in monochrome, has
  a high score table, and is controlled via joystick or keyboard
screenshots:
  - https://cdn.dos.zone/original/2X/9/9dbc6f63aa087d535bc5916a5d094256ca285868.png
  - https://cdn.dos.zone/original/2X/7/77e6fb62cf4f9de9cd70d248cbed041aea66b44b.png
---
