---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/arithmetic-games-set-1.jsdos
layout: page.njk
ogDescription: Arithmetic Games Set 1 is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Arithmetic Games Set 1 on mobile. On DOS.Zone Arithmetic Games Set 1 available
  to play for free without registration.
permalink: /arithmetic-games-set-1-1981/
screenshots:
- https://cdn.dos.zone/original/2X/5/5bc34b9563550b33cc8f347044ce14d15af200e1.png
- https://cdn.dos.zone/original/2X/a/afa04cc0c1a0cc9ce3c6910d174781a026d0d7d7.png
shortTitle: Arithmetic Games Set 1
title: Arithmetic Games Set 1 | 🕹️Play Arithmetic Games Set 1 Online | DOS game in
  browser

---
