---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/arka.jsdos
layout: page.njk
ogDescription: Arka is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Arka on mobile.
  On DOS.Zone Arka available to play for free without registration.
permalink: /arka-oct-18-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/615d5c9f52ce3f4aa2d8f248ea7166896bb9caae.png
- https://cdn.dos.zone/original/2X/f/ffe3d45eb135e0d873640ff53db0a09dcc742a29.png
shortTitle: Arka
title: Arka | 🕹️Play Arka Online | DOS game in browser

---
