---
layout: page.njk
title: "Armorik the Viking: The Eight Conquests | 🕹️Play Armorik the Viking:
  The Eight Conquests Online | Download js-dos bundle"
ogDescription: "Want to Play Armorik the Viking: The Eight Conquests? 🕹 On Dos
  Zone you can play Armorik the Viking: The Eight Conquests OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Armorik the Viking: The Eight Conquests"
permalink: /armorik-the-viking-the-eight-conquests-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Farmorik-the-viking-the-eight-conquests.jsdos
description: "You are brave warrior Armorik, seeking to immortalize your name in
  the book of Viking legends. Luckily for you, the great god Thor has reviewed
  your application and mulled over your case. Thor agrees to reward you with
  eternal fame... provided that you single-handedly conquer the eight
  territories of the North. Your conquests can be tackled in any order. Each
  location is composed of multiple interlinked screens, and is named for its
  prevailing environment: Cemetery, Fire, Mountain, Cave, Manor House, Ice,
  Forest, and Castle. Armed only with throwing knives, Armorik must explore each
  region thoroughly, collect treasure guarded by fiends and natural hazards,
  find the hidden key, and reach the exit unharmed - all in less than two and a
  half minutes. This strict time limit, along with quick enemies that respawn
  every few seconds, multiple monsters and turrets that aim at you from
  different angles, and every hit being instantly lethal (requiring you to
  restart the chosen level) - all combine to create an arcade-style platform
  game where survival requires memorization, quick wits, agility and patience."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7e8facdbb15d791b62f8ecc069885da4a1d50f5e.png
  - https://cdn.dos.zone/original/2X/9/98b2cff758a0b996223128c378ca07ff8a28d9e8.png
---
