---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/armorik-the-viking-the-eight-conquests.jsdos
layout: page.njk
ogDescription: 'Armorik the Viking: The Eight Conquests is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Armorik the Viking: The Eight Conquests on mobile. On DOS.Zone
  Armorik the Viking: The Eight Conquests available to play for free without registration.'
permalink: /armorik-the-viking-the-eight-conquests-1988/
screenshots:
- https://cdn.dos.zone/original/2X/7/7e8facdbb15d791b62f8ecc069885da4a1d50f5e.png
- https://cdn.dos.zone/original/2X/9/98b2cff758a0b996223128c378ca07ff8a28d9e8.png
shortTitle: 'Armorik the Viking: The Eight Conquests'
title: 'Armorik the Viking: The Eight Conquests | 🕹️Play Armorik the Viking: The Eight
  Conquests Online | DOS game in browser'

---
