---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/arnold-palmer-tournament-golf.jsdos
layout: page.njk
ogDescription: Arnold Palmer Tournament Golf is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Arnold Palmer Tournament Golf on mobile. On DOS.Zone Arnold Palmer Tournament
  Golf available to play for free without registration.
permalink: /arnold-palmer-tournament-golf-1990/
screenshots:
- https://cdn.dos.zone/original/2X/8/80caf8cd6b52d243b3f7f396a50e66731494b776.png
- https://cdn.dos.zone/original/2X/e/ed94d838791d2dbf20a833a72482f326b57f170.png
shortTitle: Arnold Palmer Tournament Golf
title: Arnold Palmer Tournament Golf | 🕹️Play Arnold Palmer Tournament Golf Online
  | DOS game in browser

---
