---
layout: page.njk
title: Aro II | 🕹️Play Aro II Online | Download js-dos bundle
ogDescription: Want to Play Aro II? 🕹 On Dos Zone you can play Aro II OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Aro II
permalink: /aro-ii-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faro-ii.jsdos
description: >-
  Aro II is a shareware one or two player platform game in the same vein as Aro.
  The player(s) control the titular small red character and must guide him as he
  explores his world. There are sixty levels in the game, eighteen in the
  shareware release with an additional forty-two in the registered version, and
  there are four degrees of difficulty. The objective being to progress as far,
  and collect as many points along the way, as possible with Aro's single life.
  Naturally there are nasties to be avoided, levers to be pulled, keys and other
  items to be collected. The game has no sound and no music. It supports
  keyboard controls, which can be redefined, and a joystick.

  The two player game is played on a split screen.

  The game was written in C++.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ea489116d9e28934dd75625c596e121f371f621.jpeg
  - https://cdn.dos.zone/original/2X/9/96969b7b9be996287be9c3b312a76ad915d873a8.jpeg
---
