---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/around-the-world-trivia.jsdos
layout: page.njk
ogDescription: Around the World Trivia is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Around the World Trivia on mobile. On DOS.Zone Around the World Trivia available
  to play for free without registration.
permalink: /around-the-world-trivia-1992/
screenshots:
- https://cdn.dos.zone/original/2X/b/b2395ab074b20226c9b84bc0c5c0cc02d6e44ae7.jpeg
- https://cdn.dos.zone/original/2X/b/bb47ab96404c2ea76113b23114edc076aabf3c34.jpeg
shortTitle: Around the World Trivia
title: Around the World Trivia | 🕹️Play Around the World Trivia Online | DOS game
  in browser

---
