---
layout: page.njk
title: "Arthur Yahtzee: The Curse of Hell's Cheesecake | 🕹️Play Arthur Yahtzee:
  The Curse of Hell's Cheesecake Online | Download js-dos bundle"
ogDescription: "Want to Play Arthur Yahtzee: The Curse of Hell's Cheesecake? 🕹
  On Dos Zone you can play Arthur Yahtzee: The Curse of Hell's Cheesecake OR
  donwload js-dos bundle for free. Start playing now!"
shortTitle: "Arthur Yahtzee: The Curse of Hell's Cheesecake"
permalink: /arthur-yahtzee-the-curse-of-hells-cheesecake-2000/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Farthur-yahtzee-the-curse-of-hells-cheesecake.jsdos
description: "Arthur Yahtzee: The Curse of Hell's Cheesecake is a interaction
  fiction spin-off from the Arthur Yahtzee trilogy of graphics adventures. The
  player takes control over secret agent Arthur Yahtzee who goes to hell in
  order to retrieve Hell's Cheesecake. He will visit various places, e.g. the
  river Styx or heaven, on his way to success. While exploring the environments,
  the player interacts with the game by typing in commands into the parser. The
  puzzles are typically solved by collecting and using items. The writing is
  humorous."
screenshots:
  - https://cdn.dos.zone/original/2X/a/aa83d4acc5d41a10a65d43601d2dcad982cb0b50.png
  - https://cdn.dos.zone/original/2X/7/7fc969b4f9ada21e763f11c7befc17a2a0045bce.png
---
