---
layout: page.njk
title: Artillery | 🕹️Play Artillery Online | Download js-dos bundle
ogDescription: Want to Play Artillery? 🕹 On Dos Zone you can play Artillery OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Artillery
permalink: /artillery-jul-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fartillery_.jsdos
description: "An artillery game for two human players, who get placed on both
  sides of a randomly-selected landscape and proceed to take turns lobbing high
  explosives at each other.  Each side commands a gun company with 100 men:
  these unfortunate meat-shields tend to die even on a near-miss, and a direct
  hit will kill them all.  Perhaps realizing that, one man deserts his post
  after each turn, on both sides.  The first side to wipe out the opposing force
  is the victor - until the next battle. Shots are fired by entering an angle
  and a velocity; the terrain is destructible, so craters can chip away at the
  landscape, or cause a player's gun to drop into the resulting pit. Ballistic
  trajectories are also affected by wind speed, which can be constant or
  variable (if variable, a difficulty level is chosen to determine the magnitude
  of the changes)."
screenshots:
  - https://cdn.dos.zone/original/2X/5/5e503ffffb5009de4af8d31fcd7b38453af94ab8.png
  - https://cdn.dos.zone/original/2X/3/34548a94a690fa3af7431bdf05e479d266d252d1.png
---
