---
layout: page.njk
title: Artman's Goplanes! | 🕹️Play Artman's Goplanes! Online | Download js-dos bundle
ogDescription: Want to Play Artman's Goplanes!? 🕹 On Dos Zone you can play
  Artman's Goplanes! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Artman's Goplanes!
permalink: /artmans-goplanes-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fartmans-goplanes.jsdos
description: "Goplanes is a four-way scrolling shooter inspired by Sopwith,
  which puts you at the controls of an old-school, early 20th century fighter
  plane with the general objective of blowing things up.  Your aircraft is
  capable of flashy (but useful) moves - climbing, diving, flipping over and
  making 360-degree turns; enemy fire can take it out in three hits, but so can
  the ground.  In addition to the basic frontal mounted gun, various weapons can
  be collected for more firepower: missiles, spread shots and dropbombs. Three
  missions are included: first off, you'll have to find and destroy some oil
  containers; then it's on to taking down some zeppelins, and finally, a
  snowstorm battle against a heavy artillery unit.  As in Sopwith, there are
  innocent bystanders too, but here you actually gain points by gunning down the
  poor saps... whether human or animal."
screenshots:
  - https://cdn.dos.zone/original/2X/e/eb3baa3cad62e8ff17f0afcc631c9aec61684c47.png
  - https://cdn.dos.zone/original/2X/4/4823d09d64b8a8535779aff7a7c28abfdf0f3f7c.png
---
