---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/astro-grover.jsdos
layout: page.njk
ogDescription: Astro-Grover is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Astro-Grover
  on mobile. On DOS.Zone Astro-Grover available to play for free without registration.
permalink: /astro-grover-1987/
screenshots:
- https://cdn.dos.zone/original/2X/a/a7b32c0db823d5903f216e5a710db2490a20381b.png
- https://cdn.dos.zone/original/2X/9/9112527d461c5fc5041dc65d5ddd9104f383c772.png
shortTitle: Astro-Grover
title: Astro-Grover | 🕹️Play Astro-Grover Online | DOS game in browser

---
