---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/asylum-ii.jsdos
layout: page.njk
ogDescription: Asylum II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Asylum II
  on mobile. On DOS.Zone Asylum II available to play for free without registration.
permalink: /asylum-ii-1985/
screenshots:
- https://cdn.dos.zone/original/2X/e/e8cb532142dc53338af0ceb94baf17318010b564.png
- https://cdn.dos.zone/original/2X/7/7665a855b01e3da20ac3cfc8bacb974bf5458457.png
shortTitle: Asylum II
title: Asylum II | 🕹️Play Asylum II Online | DOS game in browser

---
