---
layout: page.njk
title: Avenger | 🕹️Play Avenger Online | Download js-dos bundle
ogDescription: Want to Play Avenger? 🕹 On Dos Zone you can play Avenger OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Avenger
permalink: /avenger-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Favenger___.jsdos
description: Avenger is a shareware shoot 'em up arcade style game from Finland
  for one or two players and which is a bit of a cross between Galaxian and
  Space Invaders. The game starts in the year 2254 with a cut-scene showing the
  space station Finlanda and her escort vessel in the Alpha Centauri system. A
  horde of mysterious ships appear from nowhere and, after a short battle, the
  escort vessel is destroyed. The player takes the role of a pilot returning to
  the space station after a holiday. They find the station is now a base to many
  strange ships which attack their vessel. The object of the game is to achieve
  a high score. Gameplay is very much in the Space Invaders style. In the single
  player mode the left / right cursor keys being used to move the player's ship
  from side to side while the Right Alt key fires the main weapon and the Right
  Ctrl key fires a secondary weapon. The enemy ships, however, attack in the
  style of the enemies in Galaxian, swooping around the screen as they attack.
  The game maintains a high score table and has two modes of play, normal and
  challenge. Two-player action is side by side with both players sharing the
  keyboard. The challenge mode is only available in the full registered version
  which has 55 levels.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e1139929b41cc92dde199e9d5f6874010f598cc6.png
  - https://cdn.dos.zone/original/2X/1/15608dbdbf8d8fcd640d23dd232ce551f41cce5a.png
---
