---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/avenger___.jsdos
layout: page.njk
ogDescription: Avenger is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Avenger on
  mobile. On DOS.Zone Avenger available to play for free without registration.
permalink: /avenger-1997/
screenshots:
- https://cdn.dos.zone/original/2X/e/e1139929b41cc92dde199e9d5f6874010f598cc6.png
- https://cdn.dos.zone/original/2X/1/15608dbdbf8d8fcd640d23dd232ce551f41cce5a.png
shortTitle: Avenger
title: Avenger | 🕹️Play Avenger Online | DOS game in browser

---
