---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/avish.jsdos
layout: page.njk
ogDescription: Avish! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Avish! on mobile.
  On DOS.Zone Avish! available to play for free without registration.
permalink: /avish-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f894b36654554643d1c83fb5b3c663ddb0e89e9c.gif
- https://cdn.dos.zone/original/2X/2/25dbf9cf1103a9560ce501ac61471aad9015a891.gif
shortTitle: Avish!
title: Avish! | 🕹️Play Avish! Online | DOS game in browser

---
