---
layout: page.njk
title: Avish! | 🕹️Play Avish! Online | Download js-dos bundle
ogDescription: Want to Play Avish!? 🕹 On Dos Zone you can play Avish! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Avish!
permalink: /avish-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Favish.jsdos
description: The university instructor Professor Avish has been asked to give an
  important lecture, and was invited to stay in a hotel the night before. When
  he woke up in the morning, while still in his pajamas, he discovered to his
  amazement that he is not in the hotel, but in a mysterious castle with many
  rooms. Eventually the professor was able to escape from the castle and make it
  to the lecture. He then decided to change the original subject and instead
  narrated to the audience what happened to him in the castle. He has taken
  pictures of every room, but unfortunately forgot how he managed to get out of
  any of them, so that remains for the player to figure out. Avish! is an
  Israeli-made puzzle game with action and platforming elements. Each room in
  the the castle is built like a puzzle area, and the player's goal is to leave
  it, proceeding to the next one. The professor must avoid obstructions in order
  to find the key that will open the door to lead him out of the room.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f894b36654554643d1c83fb5b3c663ddb0e89e9c.gif
  - https://cdn.dos.zone/original/2X/2/25dbf9cf1103a9560ce501ac61471aad9015a891.gif
---
