---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/avoid-the-awful-thing-that-vaguely-resembles-a-banana.jsdos
layout: page.njk
ogDescription: Avoid the Awful Thing that Vaguely Resembles a Banana!! is a famous
  and most played DOS game that now is available to play in browser. With virtual
  mobile controls you also can play in Avoid the Awful Thing that Vaguely Resembles
  a Banana!! on mobile. On DOS.Zone Avoid the Awful Thing that Vaguely Resembles a
  Banana!! available to play for free without registration.
permalink: /avoid-the-awful-thing-that-vaguely-resembles-a-banana-1987/
screenshots:
- https://cdn.dos.zone/original/2X/e/e7fc72fafce2aa0227b83dd1341dbe8b8ee14747.png
- https://cdn.dos.zone/original/2X/e/e926d4543618c337c3c779f9d77e2c26ed54ef76.png
shortTitle: Avoid the Awful Thing that Vaguely Resembles a Banana!!
title: Avoid the Awful Thing that Vaguely Resembles a Banana!! | 🕹️Play Avoid the
  Awful Thing that Vaguely Resembles a Banana!! Online | DOS game in browser

---
