---
layout: page.njk
title: Avoid the Noid | 🕹️Play Avoid the Noid Online | Download js-dos bundle
ogDescription: Want to Play Avoid the Noid? 🕹 On Dos Zone you can play Avoid
  the Noid OR donwload js-dos bundle for free. Start playing now!
shortTitle: Avoid the Noid
permalink: /avoid-the-noid-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Favoid-the-noid.jsdos
description: Avoid the Noid is an advertisement ploy for Domino's Pizza. You are
  a pizza delivery boy who must deliver a pizza to Doom Industries while the
  creature Noid is set to prevent him from acheiving this goal. You must deliver
  the pizza to the top floor in 30 minutes or less, or the customer will get a
  discount and you will lose your job.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a016e1ae5490182371ba019f0ab3946ac2ae1f0e.png
  - https://cdn.dos.zone/original/2X/2/29403d663691f780d8dcdbcf1104890020bfb4d5.gif
---
