---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/avoid-the-noid.jsdos
layout: page.njk
ogDescription: Avoid the Noid is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Avoid the
  Noid on mobile. On DOS.Zone Avoid the Noid available to play for free without registration.
permalink: /avoid-the-noid-1989/
screenshots:
- https://cdn.dos.zone/original/2X/a/a016e1ae5490182371ba019f0ab3946ac2ae1f0e.png
- https://cdn.dos.zone/original/2X/2/29403d663691f780d8dcdbcf1104890020bfb4d5.gif
shortTitle: Avoid the Noid
title: Avoid the Noid | 🕹️Play Avoid the Noid Online | DOS game in browser

---
