---
layout: page.njk
title: AxTrons | 🕹️Play AxTrons Online | Download js-dos bundle
ogDescription: Want to Play AxTrons? 🕹 On Dos Zone you can play AxTrons OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: AxTrons
permalink: /axtrons-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Faxtrons.jsdos
description: AxTrons is a trap-'em-up / arena survival game taking place in a
  randomly generated playfield. You, puny Earthling, are thrown onto the arena
  floor where ten slavering aliens await, with nothing but your wits and an
  assortment of traps to get you by. If you get out alive, you may be found
  worthy to join the InnerGalactic ParaGlomerate, whatever that is... but can
  you survive? You start each round with a limited amount of energy, which can
  be increased by collecting energy packets and Power Coins (spectators
  occasionally throw new coins onto the field). As the aliens attempt to hunt
  you down, you must dispatch them by laying down traps, barbs and grids - each
  type of device has a different tactical usage. You may also engage the enemies
  in melee combat, which mutually depletes your energy counts until the stronger
  one survives. Moving and dropping traps costs energy, too, so every little
  drop counts.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2b7f339070534c7c44a0f7b7002660343530a4c3.png
  - https://cdn.dos.zone/original/2X/f/f8ebf6a56f4d837e9fb6ffd663d6dd886103f21e.png
---
