---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/axtrons.jsdos
layout: page.njk
ogDescription: AxTrons is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in AxTrons on
  mobile. On DOS.Zone AxTrons available to play for free without registration.
permalink: /axtrons-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/2b7f339070534c7c44a0f7b7002660343530a4c3.png
- https://cdn.dos.zone/original/2X/f/f8ebf6a56f4d837e9fb6ffd663d6dd886103f21e.png
shortTitle: AxTrons
title: AxTrons | 🕹️Play AxTrons Online | DOS game in browser

---
