---
layout: page.njk
title: B-17 Flying Fortress | 🕹️Play B-17 Flying Fortress Online | Download
  js-dos bundle
ogDescription: Want to Play B-17 Flying Fortress? 🕹 On Dos Zone you can play
  B-17 Flying Fortress OR donwload js-dos bundle for free. Start playing now!
shortTitle: B-17 Flying Fortress
permalink: /b-17-flying-fortress-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fb-17-flying-fortress.jsdos
description: B-17 Flying Fortress is a simulation of the legendary heavy bomber
  of World War II. After customizing one's bomber with nose art and a name, one
  of several randomly assigned bombing missions into Germany must be flown. The
  game not only features actual flight simulation, but also crew management.
  Each of the 10 crew members has ratings for categories like piloting, bombing
  and gunnery. During a mission, crew members can be reassigned to other posts
  if needed because of injuries. Each position including the pilot seat, the
  guns and the bombing sight can of course also be controlled by the player. A
  historically accurate number of 25 missions must be flown and survived to
  complete a tour of duty.
screenshots:
  - https://cdn.dos.zone/original/2X/1/10f5e085fd93c4992ea93ca6d082bf1e2e498b4d.png
  - https://cdn.dos.zone/original/2X/4/4a02ce83b037761eb934d67cad649937300d9ab5.png
---
