---
layout: page.njk
title: B-Clopd | 🕹️Play B-Clopd Online | Download js-dos bundle
ogDescription: Want to Play B-Clopd? 🕹 On Dos Zone you can play B-Clopd OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: B-Clopd
permalink: /b-clopd-mar-31-2002/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fb-clopd.jsdos
description: "This flippant side-scrolling platformer states its \"anti-remake\"
  philosophy in no uncertain terms: starring as X-Men 's Wolverine, you get to
  hop, skip and jump across the pastoral landscape while savagely butchering
  such mainstays of video game lore as Mario, Sonic and Alex Kidd, who have
  somehow been cloned into a rampaging army bent on gory violence.  They'll
  attempt to thwart you with their hand-to-hand combat skills; you can return
  the favor using your kicks and punches, or find more efficient means to deal
  with them - such as miniguns, bazookas and flame-throwers. You lose a life
  when your energy meter goes down to zero, either in combat or as a result of
  environmental hazards.  All characters are procedurally animated in bouncy
  \"ragdoll\" fashion, which enables certain flexible acrobatic feats, as well
  as very messy dismemberment.  The entire game takes up 32 KB of executable
  code; the full source is included (Turbo Pascal 7 with inline assembly), as
  well as the tools used to create it, including the level editor."
screenshots:
  - https://cdn.dos.zone/original/2X/e/ee3be7f25a3d5ad3893a3348f7472ed4c4260de4.png
  - https://cdn.dos.zone/original/2X/1/1d04609d6d07e5fda3fb0069a8d74db9fd7309f9.png
---
