---
layout: page.njk
title: Baal | 🕹️Play Baal Online | Download js-dos bundle
ogDescription: Want to Play Baal? 🕹 On Dos Zone you can play Baal OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Baal
permalink: /baal-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbaal.jsdos
description: Baal is a monster who has stolen a war machine.  You, as leader of
  the "Time Warriors" must destroy his minions, collect the war machine pieces
  (they flash yellow), and destroy Baal. You can use joystick or keyboard.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e4e9c022e5cc4ee2b0a600750c07b231ada5abaa.png
  - https://cdn.dos.zone/original/2X/6/627f6042dbc24b58d4f15e7c58bca225b6b0dab9.gif
---
