---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/babytype.jsdos
layout: page.njk
ogDescription: BabyType is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in BabyType on
  mobile. On DOS.Zone BabyType available to play for free without registration.
permalink: /babytype-1994/
screenshots:
- https://cdn.dos.zone/original/2X/a/a8e4f5413b7943871f1c606d062584745eeac3d5.png
- https://cdn.dos.zone/original/2X/5/5bae6746ca54ad57d2bcc6ff428420832ed207c8.png
shortTitle: BabyType
title: BabyType | 🕹️Play BabyType Online | DOS game in browser

---
