---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/backgammon-green-valley.jsdos
layout: page.njk
ogDescription: Backgammon is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Backgammon
  on mobile. On DOS.Zone Backgammon available to play for free without registration.
permalink: /backgammon-1986/
screenshots:
- https://cdn.dos.zone/original/2X/a/aea5bcd0a1419ad0c3b6e1cfd18510c1c09c9d2a.png
- https://cdn.dos.zone/original/2X/a/a9af447212607f17c16fabc95397f5050305eb90.png
shortTitle: Backgammon
title: Backgammon | 🕹️Play Backgammon Online | DOS game in browser

---
