---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/backlash-a-turret-gunner-simulation.jsdos
layout: page.njk
ogDescription: 'Backlash: A Turret Gunner Simulation is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Backlash: A Turret Gunner Simulation on mobile. On DOS.Zone Backlash:
  A Turret Gunner Simulation available to play for free without registration.'
permalink: /backlash-a-turret-gunner-simulation-1995/
screenshots:
- https://cdn.dos.zone/original/2X/7/799dcb603287e9d5e9aeb73e3600cebdcb9120b9.png
- https://cdn.dos.zone/original/2X/2/283dc1053f2a9d61ec01edf73b0d2e8b9048079a.png
shortTitle: 'Backlash: A Turret Gunner Simulation'
title: 'Backlash: A Turret Gunner Simulation | 🕹️Play Backlash: A Turret Gunner Simulation
  Online | DOS game in browser'

---
