---
layout: page.njk
title: Backgammon | 🕹️Play Backgammon Online | Download js-dos bundle
ogDescription: Want to Play Backgammon? 🕹 On Dos Zone you can play Backgammon
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Backgammon
permalink: /backgammon-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbackgammon_____.jsdos
description: This is a standard Backgammon board game that makes use of the
  "short" variation where opponent's stones can be taken. The only option is top
  play against the computer AI opponent. There is only one level of play. Moves
  are made with the corresponding letters on the keyboard.
screenshots:
  - https://cdn.dos.zone/original/2X/7/730482b57de027c995e8e79a4cdd2c66e975d3df.png
  - https://cdn.dos.zone/original/2X/e/e0b2f50906148b4f70fa33c420e38d5e447dcf88.png
---
