---
layout: page.njk
title: Backgammon | 🕹️Play Backgammon Online | Download js-dos bundle
ogDescription: Want to Play Backgammon? 🕹 On Dos Zone you can play Backgammon
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Backgammon
permalink: /backgammon-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbackgammondos1985.jsdos
description: >-
  Backgammon is a single player, shareware, backgammon game that is played
  against the computer.

  It is entirely keyboard controlled and has no sound. It includes both a history of the game, a section on the game's rules, and detailed instructions
screenshots:
  - https://cdn.dos.zone/original/2X/6/61ee7351d043308037aec9c57881bb55ba9491eb.png
  - https://cdn.dos.zone/original/2X/d/d82ae994f8972cfac934ece06bede5c1de528239.png
---
