---
layout: page.njk
title: "Backlash: A Turret Gunner Simulation | 🕹️Play Backlash: A Turret Gunner
  Simulation Online | Download js-dos bundle"
ogDescription: "Want to Play Backlash: A Turret Gunner Simulation? 🕹 On Dos
  Zone you can play Backlash: A Turret Gunner Simulation OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Backlash: A Turret Gunner Simulation"
permalink: /backlash-a-turret-gunner-simulation-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbacklash-a-turret-gunner-simulation.jsdos
description: "Backlash: A Turret Gunner Simulation is a first-person space
  shooter where the player has control of a turret mounted on a spaceship, that
  must be defended from attack by other enemy ships, asteroids and other
  dangers. The turret has a limited number of rockets and a main weapon, which
  uses the same energy as shields; depending on the case the power level can be
  assigned to one or another system. Rockets (and other power-ups) can be
  purchased with credits earned by completing missions."
screenshots:
  - https://cdn.dos.zone/original/2X/7/799dcb603287e9d5e9aeb73e3600cebdcb9120b9.png
  - https://cdn.dos.zone/original/2X/2/283dc1053f2a9d61ec01edf73b0d2e8b9048079a.png
---
