---
layout: page.njk
title: Backgammon | 🕹️Play Backgammon Online | Download js-dos bundle
ogDescription: Want to Play Backgammon? 🕹 On Dos Zone you can play Backgammon
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Backgammon
permalink: /backgammon-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbackgammon-green-valley.jsdos
description: "Backgammon is a computer version of the classic board game of the
  same name. It can only be played against the AI and is completely controlled
  with the keyboard: after the random dice roll, the player needs to specify a
  piece and where it should be moved to by entering the row numbers. There are
  also associated keys for moving a piece from the bar or moving it home."
screenshots:
  - https://cdn.dos.zone/original/2X/a/aea5bcd0a1419ad0c3b6e1cfd18510c1c09c9d2a.png
  - https://cdn.dos.zone/original/2X/a/a9af447212607f17c16fabc95397f5050305eb90.png
---
