---
layout: page.njk
title: Bajoran Mercenary Adventure! | 🕹️Play Bajoran Mercenary Adventure!
  Online | Download js-dos bundle
ogDescription: Want to Play Bajoran Mercenary Adventure!? 🕹 On Dos Zone you can
  play Bajoran Mercenary Adventure! OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Bajoran Mercenary Adventure!
permalink: /bajoran-mercenary-adventure-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbajoran-mercenary-adventure.jsdos
description: Bajoran Mercenary Adventure! is a single player, interactive
  fiction game that was developed with the Adventure Game Toolkit. The game
  describes itself thus You are a Bajoran mercenary contracted to find the
  'orbs' that was stolen by the evil Cardassians. Your sources tell you that the
  orbs are kept in a cave, though it is rumored that some who enter are never
  seen again. Your mission is to retrieve as many orbs as possible and return
  (SAFELY!) As with most games of this genre commands are usually two word
  affairs, 'Examine Sign' 'Enter Building' and so on. Some common commands such
  as directions, up and down can be shortened to single keys n, s, w, e, u, & d.
  Similarly there are keywords such as 'Building' which will take the player to
  that location from anywhere in the game as long as they are above ground and
  not lost in the forest. The game has, naturally, no graphics at all but it
  does have a save game feature. When fully explored the player should have
  found 134 locations and should have scored 350 points.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fbeca0b3778a0126e9ec004df8c83e1d69d84874.png
  - https://cdn.dos.zone/original/2X/f/fc859a58158a8f5a74c961520e8efc1e0c138e2b.png
---
