---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/balda.jsdos
layout: page.njk
ogDescription: Balda is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Balda on mobile.
  On DOS.Zone Balda available to play for free without registration.
permalink: /balda-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/4f9bcda5dbc2c0a860e64bd804a937d246d851b6.png
- https://cdn.dos.zone/original/2X/e/ee7ebbc87c7b76dc7d817295868e86803cb5a1a0.png
shortTitle: Balda
title: Balda | 🕹️Play Balda Online | DOS game in browser

---
