---
layout: page.njk
title: Balda | 🕹️Play Balda Online | Download js-dos bundle
ogDescription: Want to Play Balda? 🕹 On Dos Zone you can play Balda OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Balda
permalink: /balda-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbalda.jsdos
description: Balda is a game roughly similar to Scrabble, except each player is
  only allowed to enter one letter per move. Each player may create words by
  using letters in multiple directions placed on the game board (vertically,
  horizontally or left-right).
screenshots:
  - https://cdn.dos.zone/original/2X/4/4f9bcda5dbc2c0a860e64bd804a937d246d851b6.png
  - https://cdn.dos.zone/original/2X/e/ee7ebbc87c7b76dc7d817295868e86803cb5a1a0.png
---
