---
layout: page.njk
title: Balloons | 🕹️Play Balloons Online | Download js-dos bundle
ogDescription: Want to Play Balloons? 🕹 On Dos Zone you can play Balloons OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Balloons
permalink: /balloons-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fballoons_.jsdos
description: Balloons is a one or two player, shareware, puzzle game. The game
  shows a number of balloons hung on a series of shelf like levels. Player's
  take turns to burst the balloons, one or all balloons in a row but only one
  row can be changed per turn, with the person bursting the last balloon being
  the loser. The game can be played "player vs player" or "player vs game". The
  game is played with the mouse, sound is optional and the AI opponent has four
  difficulty settings. The shareware game has four levels while the registered
  game has two further and more difficult levels.
screenshots:
  - https://cdn.dos.zone/original/2X/1/10aef438cb3a5d747114d2e831bad4516e911c06.png
  - https://cdn.dos.zone/original/2X/9/97bef1d9d5790dbe6304a1288e8774f1ea5eaa09.png
---
