---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ball_.jsdos
layout: page.njk
ogDescription: Ball is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Ball on mobile.
  On DOS.Zone Ball available to play for free without registration.
permalink: /ball-feb-16-1982/
screenshots:
- https://cdn.dos.zone/original/2X/b/baf3f3e1ea4fefab9ee92cfc81c938e8e0757aed.png
- https://cdn.dos.zone/original/2X/1/1b82d100416c4dcfe443c267989a40bc2e4f0860.png
shortTitle: Ball
title: Ball | 🕹️Play Ball Online | DOS game in browser

---
