---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ball-breakers-corp.jsdos
layout: page.njk
ogDescription: Ball Breakers Corp. is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Ball Breakers Corp. on mobile. On DOS.Zone Ball Breakers Corp. available to play
  for free without registration.
permalink: /ball-breakers-corp-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/b7b8a10f6ca3795076d84230870eaf95b66dd010.png
- https://cdn.dos.zone/original/2X/b/b751d0f7d6c97941d1620d1d6af1aabfd704457c.png
shortTitle: Ball Breakers Corp.
title: Ball Breakers Corp. | 🕹️Play Ball Breakers Corp. Online | DOS game in browser

---
