---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/balloons_.jsdos
layout: page.njk
ogDescription: Balloons is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Balloons on
  mobile. On DOS.Zone Balloons available to play for free without registration.
permalink: /balloons-1996/
screenshots:
- https://cdn.dos.zone/original/2X/1/10aef438cb3a5d747114d2e831bad4516e911c06.png
- https://cdn.dos.zone/original/2X/9/97bef1d9d5790dbe6304a1288e8774f1ea5eaa09.png
shortTitle: Balloons
title: Balloons | 🕹️Play Balloons Online | DOS game in browser

---
