---
layout: page.njk
title: Balltris | 🕹️Play Balltris Online | Download js-dos bundle
ogDescription: Want to Play Balltris? 🕹 On Dos Zone you can play Balltris OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Balltris
permalink: /balltris-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fballtris.jsdos
description: Balltris is a Tetris type arcade game. Instead of classic square
  blocks a cup is being filled with one, two or three balls of different colors.
  The ball blocks are falling randomly from the top. The player may maneuver the
  balls by moving them to the left or right and flipping. The balls disappear
  after creating a chain of at least three balls of the same color.
screenshots:
  - https://cdn.dos.zone/original/2X/4/47c0b5308f12be939114aede713b0600d6412712.png
  - https://cdn.dos.zone/original/2X/2/2b4fbc579ca9cfb57724df6152ebe9e80b8bcc45.png
---
