---
layout: page.njk
title: Baoxiao Duobiqiu | 🕹️Play Baoxiao Duobiqiu Online | Download js-dos bundle
ogDescription: Want to Play Baoxiao Duobiqiu? 🕹 On Dos Zone you can play
  Baoxiao Duobiqiu OR donwload js-dos bundle for free. Start playing now!
shortTitle: Baoxiao Duobiqiu
permalink: /baoxiao-duobiqiu-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbaoxiao-duobiqiu.jsdos
description: Baoxiao Duobiqiu is a sports game that parodies characters and
  themes from Sango Fighter. The object, like in real dodgeball, is to hit the
  players on the other team with the ball. The teams consist of three players
  each. Graphics are done in a "super-deformed" style. Characters possess
  special powers that can be used beside regular dodgeball moves. The game
  features several ending sequences.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c88240e2ef68400f8ff1f8f6e0a61c4ba592baf8.png
  - https://cdn.dos.zone/original/2X/9/9f39a9a300064ee8b09de43db45118b0ad543a72.png
---
