---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bardarts.jsdos
layout: page.njk
ogDescription: Bardarts is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bardarts on
  mobile. On DOS.Zone Bardarts available to play for free without registration.
permalink: /bardarts-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/5bd4db079b7284521fe6d459184cb11a04e4cf3b.png
- https://cdn.dos.zone/original/2X/3/3536870676053cc4f0d55f7a02c800e43d0a8e1a.png
shortTitle: Bardarts
title: Bardarts | 🕹️Play Bardarts Online | DOS game in browser

---
