---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/barney-bear-goes-to-school.jsdos
layout: page.njk
ogDescription: Barney Bear Goes to School is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Barney Bear Goes to School on mobile. On DOS.Zone Barney Bear Goes to School
  available to play for free without registration.
permalink: /barney-bear-goes-to-school-1992/
screenshots: []
shortTitle: Barney Bear Goes to School
title: Barney Bear Goes to School | 🕹️Play Barney Bear Goes to School Online | DOS
  game in browser

---
