---
layout: page.njk
title: Barney Bear Goes to Space | 🕹️Play Barney Bear Goes to Space Online |
  Download js-dos bundle
ogDescription: Want to Play Barney Bear Goes to Space? 🕹 On Dos Zone you can
  play Barney Bear Goes to Space OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Barney Bear Goes to Space
permalink: /barney-bear-goes-to-space-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbarney-bear-goes-to-space.jsdos
description: >-
  Barney Bear Goes to Space is an educational game for children aged three to
  eight. It consists of two parts: the first one is a story book where Barney
  Bear visits Kennedy Space Center and accidentally ends up at a shuttle as it
  launches to space. The story is told through pictures with digitized narration
  and the player's interaction is limited to clicking to move to the next
  picture. The second part takes place at the control panel of the shuttle and
  consists of the following five activities:


  The Solar System shows an image where the player can click on various planets. A more detailed picture will then be shown along with a spoken description of the planet.

  Did You Know? - When clicking on this activity a bit of information regarding space is displayed and spoken.

  Short History of Space Travel is a short history lesson where the player listens to the voice while looking at the pictures shown.

  Follow-The-Pattern Game is a variant of the electronic game Simon where four squares light up in a random order and the player has to repeat the sequence.

  My Color Book is a painting program where the player fills in the color on a number of different pictures. It's also possible to draw freely with a brush or a pen.
screenshots: []
---
