---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/barneysplat.jsdos
layout: page.njk
ogDescription: BarneySplat is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in BarneySplat
  on mobile. On DOS.Zone BarneySplat available to play for free without registration.
permalink: /barneysplat-oct-11-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2192818cdbf52a070df66405d8bd4182d8a6b98.png
- https://cdn.dos.zone/original/2X/2/2ea44ce75d0a29060f3bbe94f12eb696be484265.png
shortTitle: BarneySplat
title: BarneySplat | 🕹️Play BarneySplat Online | DOS game in browser

---
