---
layout: page.njk
title: "Baron Baldric: A Grave Overture | 🕹️Play Baron Baldric: A Grave
  Overture Online | Download js-dos bundle"
ogDescription: "Want to Play Baron Baldric: A Grave Overture? 🕹 On Dos Zone you
  can play Baron Baldric: A Grave Overture OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Baron Baldric: A Grave Overture"
permalink: /baron-baldric-a-grave-overture-nov-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbaron-baldric-a-grave-overture.jsdos
description: "Baron Baldric: A Grave Overture is the shareware version of Baron
  Baldric: A Grave Adventure. It includes three levels that are not part of the
  10-level registered game. Gameplay mechanics and objectives are the same: the
  Baron must explore the crypts while collecting treasure, food and flint to
  maintain sources of light, and avoid various traps and perils, including the
  wolf-ghost of his ancestor Baron Lazarus."
screenshots:
  - https://cdn.dos.zone/original/2X/9/9c9abe3abaabe2b31d3a687a670346425ba4be3a.png
  - https://cdn.dos.zone/original/2X/5/5c93cf112cc8dcf8aee01f9b3a79fcf9ff64e296.png
---
