---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/baron-baldric-a-grave-overture.jsdos
layout: page.njk
ogDescription: 'Baron Baldric: A Grave Overture is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Baron Baldric: A Grave Overture on mobile. On DOS.Zone Baron Baldric:
  A Grave Overture available to play for free without registration.'
permalink: /baron-baldric-a-grave-overture-nov-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/9c9abe3abaabe2b31d3a687a670346425ba4be3a.png
- https://cdn.dos.zone/original/2X/5/5c93cf112cc8dcf8aee01f9b3a79fcf9ff64e296.png
shortTitle: 'Baron Baldric: A Grave Overture'
title: 'Baron Baldric: A Grave Overture | 🕹️Play Baron Baldric: A Grave Overture Online
  | DOS game in browser'

---
