---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/barracuda-secret-mission-1.jsdos
layout: page.njk
ogDescription: 'Barracuda: Secret Mission 1 is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Barracuda: Secret Mission 1 on mobile. On DOS.Zone Barracuda: Secret Mission
  1 available to play for free without registration.'
permalink: /barracuda-secret-mission-1-sep-07-1992/
screenshots:
- https://cdn.dos.zone/original/2X/1/1a2a20727d58509bf6b843ea4657c2e2f00faa68.png
- https://cdn.dos.zone/original/2X/7/769c51e9ae4d31a7c4f45c880eef279c0f6e2dc6.png
shortTitle: 'Barracuda: Secret Mission 1'
title: 'Barracuda: Secret Mission 1 | 🕹️Play Barracuda: Secret Mission 1 Online |
  DOS game in browser'

---
