---
layout: page.njk
title: "Barracuda: Secret Mission 1 | 🕹️Play Barracuda: Secret Mission 1 Online
  | Download js-dos bundle"
ogDescription: "Want to Play Barracuda: Secret Mission 1? 🕹 On Dos Zone you can
  play Barracuda: Secret Mission 1 OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Barracuda: Secret Mission 1"
permalink: /barracuda-secret-mission-1-sep-07-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbarracuda-secret-mission-1.jsdos
description: The player takes on the role of a secret agent, code-named
  Barracuda, on a mission to recover from the ocean floor the segments of a
  top-secret nuclear weapon. On the horizon looms an Iraqi salvage fleet, eager
  to secure the weapon before it falls into American hands. Barracuda is a
  hodgepodge of different game styles, perhaps best classed as an
  action-exploration sim. The player's mission begins on a map screen swarming
  with waterspouts. With incredible slowness the player moves a blip across the
  map in search of a sunken Iraqi ship. When the blip reaches its destination,
  the game switches to a side perspective as the player dives to the bottom of
  the Persian Gulf in a submarine, dodging or torpedoing sealife, all the while
  looking for the hulk of a transport ship. Once aboard the ship, the view
  changes again to a close-up exploration mode. Each ship is an enormous maze,
  often consisting of multiple maps, usually devoid of clear landmarks. The
  character (presumably the titular Barracuda) is an essentially helpless diver,
  avoiding environmental and zoological dangers -- tangled wire, sharks,
  jellyfish, deadly ping pong balls -- while searching for treasure. Die, and go
  back to the beginning of the maze. Find your treasure, and then slowly work
  your way back to the ship's entrance. It's realistic!
screenshots:
  - https://cdn.dos.zone/original/2X/1/1a2a20727d58509bf6b843ea4657c2e2f00faa68.png
  - https://cdn.dos.zone/original/2X/7/769c51e9ae4d31a7c4f45c880eef279c0f6e2dc6.png
---
