---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/baseball_____.jsdos
layout: page.njk
ogDescription: Baseball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Baseball on
  mobile. On DOS.Zone Baseball available to play for free without registration.
permalink: /baseball-1983/
screenshots:
- https://cdn.dos.zone/original/2X/c/c976f7d586de2e939dbb0a3ed35534b641c8f2e5.png
- https://cdn.dos.zone/original/2X/a/a53f481c880ed202b73bba2d092c6f7594abbd32.png
shortTitle: Baseball
title: Baseball | 🕹️Play Baseball Online | DOS game in browser

---
