---
layout: page.njk
title: Baseball | 🕹️Play Baseball Online | Download js-dos bundle
ogDescription: Want to Play Baseball? 🕹 On Dos Zone you can play Baseball OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Baseball
permalink: /baseball-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbaseball_____.jsdos
description: "This computerized variant of baseball - itself based on an older
  BASIC adaptation from 1973 - delivers the sport to your computer screen using
  nothing but text.  The computer and the player get to manage rival teams, and
  flip a coin for the home position.  All input consists of numbers: when the
  player's team takes the field, possible throws for the pitcher are numbered 1
  through 7 (fast ball, curve, slider, sinker, change-up, knuckleball,
  screwball).  When the team is up to bat, possible actions are 1 through 4
  (batter takes pitch, batter swings away, batter bunts, lead runner steals - if
  one is on base).  The results of each move are described on screen, and after
  each half-inning the scoreboard is updated."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c976f7d586de2e939dbb0a3ed35534b641c8f2e5.png
  - https://cdn.dos.zone/original/2X/a/a53f481c880ed202b73bba2d092c6f7594abbd32.png
---
