---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/basketball-challenge.jsdos
layout: page.njk
ogDescription: Basketball Challenge is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Basketball Challenge on mobile. On DOS.Zone Basketball Challenge available to
  play for free without registration.
permalink: /basketball-challenge-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/d40a60255b84106184a8af70bc4b2d11f77a8d5c.png
- https://cdn.dos.zone/original/2X/6/6c19015b9da79edf2762e819d22304270c339927.png
shortTitle: Basketball Challenge
title: Basketball Challenge | 🕹️Play Basketball Challenge Online | DOS game in browser

---
