---
layout: page.njk
title: Basketball Challenge | 🕹️Play Basketball Challenge Online | Download
  js-dos bundle
ogDescription: Want to Play Basketball Challenge? 🕹 On Dos Zone you can play
  Basketball Challenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Basketball Challenge
permalink: /basketball-challenge-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbasketball-challenge.jsdos
description: Basketball Challenge is a sports simulation similar to the
  publisher's previous game NFL Challenge. The game is based on college
  basketball and features real players of its time although the twenty included
  teams have made up names. The player can choose any two of the teams and play
  single matches either between two human players, against an AI opponent or
  have both teams being controlled by the computer. The game is played by making
  selections from text menus while the court and the players' positions are
  viewed from a simple top down perspective where each player is represented by
  a number. Before the start of a match, the player can give instructions to the
  team. This includes picking offensive and defensive plays, tempo and lineup.
  Once the match has begun a text commentary describes what happens while the
  numbers move around on the court. When coaching the player can influence the
  match by changing tactics or substituting players during dead ball situations.
  It is also possible to yell out instructions to the team when the game is
  running.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d40a60255b84106184a8af70bc4b2d11f77a8d5c.png
  - https://cdn.dos.zone/original/2X/6/6c19015b9da79edf2762e819d22304270c339927.png
---
