---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/basstour.jsdos
layout: page.njk
ogDescription: BassTour is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in BassTour on
  mobile. On DOS.Zone BassTour available to play for free without registration.
permalink: /basstour-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a22ba90d6c44e475daf0ce54e2ab726d8d94525f.png
- https://cdn.dos.zone/original/2X/b/ba7e4e5439d60dc9a436f712f1b08f1550d486ed.png
shortTitle: BassTour
title: BassTour | 🕹️Play BassTour Online | DOS game in browser

---
