---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/batalia.jsdos
layout: page.njk
ogDescription: Batalia is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Batalia on
  mobile. On DOS.Zone Batalia available to play for free without registration.
permalink: /batalia-1986/
screenshots:
- https://cdn.dos.zone/original/2X/4/47249501d9344b55794936c4e31f1055d7ba9edf.png
- https://cdn.dos.zone/original/2X/8/865b19b2c83c53c5a0b963f071b7afec1862f266.png
shortTitle: Batalia
title: Batalia | 🕹️Play Batalia Online | DOS game in browser

---
