---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/batfish.jsdos
layout: page.njk
ogDescription: Batfish is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Batfish on
  mobile. On DOS.Zone Batfish available to play for free without registration.
permalink: /batfish-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/4c6ea6047b89b11362c928cf82769cc9893ac5b5.png
- https://cdn.dos.zone/original/2X/c/c3ae7e32aa9ee89e2a5f73947074ebfa26e49c8a.png
shortTitle: Batfish
title: Batfish | 🕹️Play Batfish Online | DOS game in browser

---
