---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/batman-forever_.jsdos
layout: page.njk
ogDescription: Batman Forever is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Batman Forever
  on mobile. On DOS.Zone Batman Forever available to play for free without registration.
permalink: /batman-forever-1996/
screenshots:
- https://cdn.dos.zone/original/2X/4/46162879c96ee19bca379841f58d627ba810e5d1.png
- https://cdn.dos.zone/original/2X/7/7bf27f09f7b4cb87ca457270a1501390d13d393.png
shortTitle: Batman Forever
title: Batman Forever | 🕹️Play Batman Forever Online | DOS game in browser

---
