---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battlerace.jsdos
layout: page.njk
ogDescription: Battlerace is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Battlerace
  on mobile. On DOS.Zone Battlerace available to play for free without registration.
permalink: /battlerace-1995/
screenshots:
- https://cdn.dos.zone/original/2X/d/d45ee6725bc90ea383f118f15b71973e9d9aba21.jpeg
- https://cdn.dos.zone/original/2X/b/b7a60c1fd36da9bc42bb90b0372f5a6fc8abf90e.jpeg
shortTitle: Battlerace
title: Battlerace | 🕹️Play Battlerace Online | DOS game in browser

---
