---
layout: page.njk
title: Battle Beyond | 🕹️Play Battle Beyond Online | Download js-dos bundle
ogDescription: Want to Play Battle Beyond? 🕹 On Dos Zone you can play Battle
  Beyond OR donwload js-dos bundle for free. Start playing now!
shortTitle: Battle Beyond
permalink: /battle-beyond-jan-19-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbattle-beyond.jsdos
description: Battle Beyond is a single player, space, shooter game similar in
  concept to some of the old games like Star Trek and Stellar Trek. As with the
  earlier games the player is presented with a 4x4 grid which represents the
  universe, each cell has icons in it showing where the enemies and star bases
  are. In their space ship they must fly through each sector eliminating the
  enemy ships. The player has no shields so  collision with an enemy, a mine, a
  black hole, a minor asteroid or being costs the player one of their four
  lives. Behind the game is a decent storyline of an Earth ravaged by an alien
  toxin that drove the survivors out into space where they are threatened by the
  infected who have rediscovered space travel. The game has sound, a save-game
  function, and is entirely keyboard controlled.
screenshots:
  - https://cdn.dos.zone/original/2X/6/647397554a6c265ca972b91983fbbe30fc8dd777.png
  - https://cdn.dos.zone/original/2X/2/27150d764a3deabc4845baaf4008bd2ca79c0bf5.png
---
