---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battleship_________.jsdos
layout: page.njk
ogDescription: Battleship is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Battleship
  on mobile. On DOS.Zone Battleship available to play for free without registration.
permalink: /battleship-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/1670123c7aa92a9a2bc81f23c2ed76ef091a1207.png
- https://cdn.dos.zone/original/2X/c/c5073a938c594fb8446ad1fb87bec13c690011e3.png
shortTitle: Battleship
title: Battleship | 🕹️Play Battleship Online | DOS game in browser

---
