---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battlehawks-1942.jsdos
layout: page.njk
ogDescription: Battlehawks 1942 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Battlehawks
  1942 on mobile. On DOS.Zone Battlehawks 1942 available to play for free without
  registration.
permalink: /battlehawks-1942-oct-1988/
screenshots:
- https://cdn.dos.zone/original/2X/e/e9b4eedb3d69f9938a3ce5c8c6893154492d55b6.png
- https://cdn.dos.zone/original/2X/9/93e52d606b5310f3ae8c6610dfa41b24557194f0.gif
shortTitle: Battlehawks 1942
title: Battlehawks 1942 | 🕹️Play Battlehawks 1942 Online | DOS game in browser

---
