---
layout: page.njk
title: Battlerace | 🕹️Play Battlerace Online | Download js-dos bundle
ogDescription: Want to Play Battlerace? 🕹 On Dos Zone you can play Battlerace
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Battlerace
permalink: /battlerace-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbattlerace.jsdos
description: >-
  This is a journey into speed

  Ladies & Gentlemen ... Fasten your seat belts BATTLE RACE, the hardest racing series in the known galaxy is waiting about you. Take the challenge and prove that you can beat the best pilots of the universe in a fight over live and death. But - be careful! Some great careers has found in this hard fight about money and fame a tragical end... Some features:

  24 stages on 4 planets, 30 opponents, 6 different spaceships, LAN for 8 players, Online racing comment
screenshots:
  - https://cdn.dos.zone/original/2X/d/d45ee6725bc90ea383f118f15b71973e9d9aba21.jpeg
  - https://cdn.dos.zone/original/2X/b/b7a60c1fd36da9bc42bb90b0372f5a6fc8abf90e.jpeg
---
