---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battles-of-destiny.jsdos
layout: page.njk
ogDescription: Battles of Destiny is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Battles of Destiny on mobile. On DOS.Zone Battles of Destiny available to play for
  free without registration.
permalink: /battles-of-destiny-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6b269ea0cbf5eceb165d26fb9275101295cc31ec.png
- https://cdn.dos.zone/original/2X/d/d2084a690424a337500eb6fdc1c1336afaee0fc0.gif
shortTitle: Battles of Destiny
title: Battles of Destiny | 🕹️Play Battles of Destiny Online | DOS game in browser

---
