---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battle-charge.jsdos
layout: page.njk
ogDescription: Battle Charge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Battle Charge
  on mobile. On DOS.Zone Battle Charge available to play for free without registration.
permalink: /battle-charge-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c59225341e397aa4c1a34aa92dd8159db37ca1fc.png
- https://cdn.dos.zone/original/2X/4/43e413c769f6bf73d749a39853c40cd136719782.png
shortTitle: Battle Charge
title: Battle Charge | 🕹️Play Battle Charge Online | DOS game in browser

---
