---
layout: page.njk
title: Battle for Atlantis | 🕹️Play Battle for Atlantis Online | Download
  js-dos bundle
ogDescription: Want to Play Battle for Atlantis? 🕹 On Dos Zone you can play
  Battle for Atlantis OR donwload js-dos bundle for free. Start playing now!
shortTitle: Battle for Atlantis
permalink: /battle-for-atlantis-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbattle-for-atlantis.jsdos
description: Battle for Atlantis is a single-player, shareware, keyboard
  controlled Risk -like game. The object of the game is to conquer all eight
  islands. The player always plays as the Olympians and the computer plays as
  the other three adversaries, the Calydonians, Argonauts, and the Titans. The
  game starts by asking the player for a difficulty setting, 1 is Easy and 7 is
  Hard, and follows this by asking for the maximum number of armies that can be
  in any country at the start of a game. When the game starts, the computer
  decides who goes first, the players take turns. In each turn they place their
  armies, then they may optionally attack any neighboring country and finally
  when all attacking is completed they may move armies from one country to an
  adjacent country. The attacking phase is managed by the computer, once
  initiated the game reports the outcome, i.e. how many armies each side has
  remaining, and asks the player if the attack should continue. Attacks can
  continue until the attacker aborts, wins or loses the battle. During the game
  rebellions may break out, natural hazards such as earthquakes, flooding may
  strike, or god weather may increase crops and hence the ability of a country
  to support more armies.
screenshots:
  - https://cdn.dos.zone/original/2X/4/49a733dd2845a21eb1a44859be26e87d3d21159f.png
  - https://cdn.dos.zone/original/2X/e/eb03ed24e1b36e3cf51a60c17fe94bf17bdd05a9.png
---
