---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battle-for-atlantis.jsdos
layout: page.njk
ogDescription: Battle for Atlantis is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Battle for Atlantis on mobile. On DOS.Zone Battle for Atlantis available to play
  for free without registration.
permalink: /battle-for-atlantis-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/49a733dd2845a21eb1a44859be26e87d3d21159f.png
- https://cdn.dos.zone/original/2X/e/eb03ed24e1b36e3cf51a60c17fe94bf17bdd05a9.png
shortTitle: Battle for Atlantis
title: Battle for Atlantis | 🕹️Play Battle for Atlantis Online | DOS game in browser

---
