---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battletech-the-crescent-hawks-inception.jsdos
layout: page.njk
ogDescription: 'BattleTech: The Crescent Hawk''s Inception is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in BattleTech: The Crescent Hawk''s Inception on mobile. On DOS.Zone
  BattleTech: The Crescent Hawk''s Inception available to play for free without registration.'
permalink: /battletech-the-crescent-hawks-inception-nov-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/f74599dfd9a4d1d93fb9464a8d02317ce238be26.png
- https://cdn.dos.zone/original/2X/6/6644e9b5188da22af76e2ffcf760a99ba1d04ad5.png
shortTitle: 'BattleTech: The Crescent Hawk''s Inception'
title: 'BattleTech: The Crescent Hawk''s Inception | 🕹️Play BattleTech: The Crescent
  Hawk''s Inception Online | DOS game in browser'

---
