---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/battle-wrath.jsdos
layout: page.njk
ogDescription: Battle Wrath is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Battle Wrath
  on mobile. On DOS.Zone Battle Wrath available to play for free without registration.
permalink: /battle-wrath-1997/
screenshots:
- https://cdn.dos.zone/original/2X/4/43efb93caa90fd61bd081f090bdb6de80f1a93d3.png
- https://cdn.dos.zone/original/2X/2/2c18ba656eee38b89a8031877b52f9a83b6c41b6.png
shortTitle: Battle Wrath
title: Battle Wrath | 🕹️Play Battle Wrath Online | DOS game in browser

---
