---
layout: page.njk
title: Battlehawks 1942 | 🕹️Play Battlehawks 1942 Online | Download js-dos bundle
ogDescription: Want to Play Battlehawks 1942? 🕹 On Dos Zone you can play
  Battlehawks 1942 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Battlehawks 1942
permalink: /battlehawks-1942-oct-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbattlehawks-1942.jsdos
description: Fly as an American or Japanese pilot in one of 4 operations in the
  Pacific Theatre during WWII. This simulation can also qualify as educational
  software because the manual features tons of historical information. Twelve
  aircraft (including variants) and about 20 types of ships are represented.
  First of the Lucasfilm/Lawrence Holland WWII air combat trilogy.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e9b4eedb3d69f9938a3ce5c8c6893154492d55b6.png
  - https://cdn.dos.zone/original/2X/9/93e52d606b5310f3ae8c6610dfa41b24557194f0.gif
---
