---
layout: page.njk
title: Beneath a Steel Sky | 🕹️Play Beneath a Steel Sky Online | Download
  js-dos bundle
ogDescription: Want to Play Beneath a Steel Sky? 🕹 On Dos Zone you can play
  Beneath a Steel Sky OR donwload js-dos bundle for free. Start playing now!
shortTitle: Beneath a Steel Sky
permalink: /beneath-a-steel-sky-1994/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F9%2F9392bef006fcb485bd851fe3859bbeec659bbcf0.jsdos
description: In futuristic Australia, there are giant cities owned solely by
  corporations, separated by a giant wasteland known as The Gap. When Robert
  Foster's Gap-dwelling tribe is killed by soldiers from Union City who capture
  him, everything changes for him. After a narrow escape from the helicopter
  bringing him there as it inexplicably crashes, Robert and his droid Joey must
  search the decaying city, attempting to befriend both the snobby rich and the
  frustrated poor as the two attempt to get out of the city, but in the middle
  of everything they uncover the dark truth about LINC, the bizarre computer
  which makes the city tick.
screenshots:
  - https://cdn.dos.zone/original/2X/1/17a6a4cefe9263feb3c0049c98f4ae45082a9933.png
  - https://cdn.dos.zone/original/2X/d/dbb33ee33752702f073be69c9e46f1e219c865a5.png
---
