---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/berlin-1948.jsdos
layout: page.njk
ogDescription: Berlin 1948 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Berlin 1948
  on mobile. On DOS.Zone Berlin 1948 available to play for free without registration.
permalink: /berlin-1948-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/b01ffd979fd777d6eadc0a9fc1d374fb8a588808.gif
- https://cdn.dos.zone/original/2X/f/f625320c61c213954026e00c47366b155373965b.gif
shortTitle: Berlin 1948
title: Berlin 1948 | 🕹️Play Berlin 1948 Online | DOS game in browser

---
