---
layout: page.njk
title: Berlin 1948 | 🕹️Play Berlin 1948 Online | Download js-dos bundle
ogDescription: Want to Play Berlin 1948? 🕹 On Dos Zone you can play Berlin 1948
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Berlin 1948
permalink: /berlin-1948-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fberlin-1948.jsdos
description: Shortly after the war, several countries want to control Berlin. An
  atomic bomb has been smuggled into the city by the Americans. You play an
  American spy, whose mission is to guard this bomb and not to let Stalin have
  it under any circumstances. This is one of the early examples of a 3rd person
  perspective point & click adventure, the interface being slightly more
  complicated than the famous SCUMM system.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b01ffd979fd777d6eadc0a9fc1d374fb8a588808.gif
  - https://cdn.dos.zone/original/2X/f/f625320c61c213954026e00c47366b155373965b.gif
---
