---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/berserker-raids.jsdos
layout: page.njk
ogDescription: Berserker Raids is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Berserker
  Raids on mobile. On DOS.Zone Berserker Raids available to play for free without
  registration.
permalink: /berserker-raids-1984/
screenshots:
- https://cdn.dos.zone/original/2X/c/c6a9c381bd88c78ee94245d95bec634d98055631.png
- https://cdn.dos.zone/original/2X/5/5a3aa41abd2c3c106b62c07182e3cd6a6f9c1444.png
shortTitle: Berserker Raids
title: Berserker Raids | 🕹️Play Berserker Raids Online | DOS game in browser

---
