---
layout: page.njk
title: Bert's Whales and Dolphins | 🕹️Play Bert's Whales and Dolphins Online |
  Download js-dos bundle
ogDescription: Want to Play Bert's Whales and Dolphins? 🕹 On Dos Zone you can
  play Bert's Whales and Dolphins OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Bert's Whales and Dolphins
permalink: /berts-whales-and-dolphins-sep-01-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fberts-whales-and-dolphins.jsdos
description: Bert's Whales and Dolphins is a single player, shareware, colouring
  game for young children. This game offers the child the opportunity to create
  pictures using pre-drawn templates and figures. As each animal is selected its
  name is displayed in big letters and a voice says its name. The animals come
  in four different sizes  and are dragged into position with the mouse at which
  point they can be coloured. The game also has a Story function to caption
  their pictures, a save/load function and a print function.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f0aa22400ac5cfaa41316569928b878490d72cdb.png
  - https://cdn.dos.zone/original/2X/5/51f5e17bcab5bc30a78c5018b412d871a2e170c1.png
---
