---
layout: page.njk
title: Bert's Dinosaurs | 🕹️Play Bert's Dinosaurs Online | Download js-dos bundle
ogDescription: Want to Play Bert's Dinosaurs? 🕹 On Dos Zone you can play Bert's
  Dinosaurs OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bert's Dinosaurs
permalink: /berts-dinosaurs-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fberts-dinosaurs.jsdos
description: Bert's Dinosaurs is a single player, shareware, colouring game for
  young children. This game offers the child the opportunity to create pictures
  using pre-drawn templates and figures. As each animal is selected its name is
  displayed in big letters and a voice says its name. The animals come in four
  different sizes  and are dragged into position with the mouse at which point
  they can be coloured. The game also has a Story function to caption their
  pictures, a save/load function and a print function. The image file for this
  game was also sold as an add-on pack to Bert's African Animals
screenshots:
  - https://cdn.dos.zone/original/2X/4/4df9c85b39460c7c71ce0d878b6a71af7dad9da3.png
  - https://cdn.dos.zone/original/2X/3/3549eecd921ed2b84952b50c9367487def835efc.png
---
