---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/berts-dinosaurs.jsdos
layout: page.njk
ogDescription: Bert's Dinosaurs is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bert's Dinosaurs
  on mobile. On DOS.Zone Bert's Dinosaurs available to play for free without registration.
permalink: /berts-dinosaurs-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/4df9c85b39460c7c71ce0d878b6a71af7dad9da3.png
- https://cdn.dos.zone/original/2X/3/3549eecd921ed2b84952b50c9367487def835efc.png
shortTitle: Bert's Dinosaurs
title: Bert's Dinosaurs | 🕹️Play Bert's Dinosaurs Online | DOS game in browser

---
