---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/berts-african-animals.jsdos
layout: page.njk
ogDescription: Bert's African Animals is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Bert's African Animals on mobile. On DOS.Zone Bert's African Animals available
  to play for free without registration.
permalink: /berts-african-animals-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/5bb27d25420a087688989b53b51ee5678e46c247.png
- https://cdn.dos.zone/original/2X/e/e34ac12d6174f2b4aefe7b44a3d997feaa26f72d.png
shortTitle: Bert's African Animals
title: Bert's African Animals | 🕹️Play Bert's African Animals Online | DOS game in
  browser

---
