---
layout: page.njk
title: Best of ZZT | 🕹️Play Best of ZZT Online | Download js-dos bundle
ogDescription: Want to Play Best of ZZT? 🕹 On Dos Zone you can play Best of ZZT
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Best of ZZT
permalink: /best-of-zzt-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbest-of-zzt.jsdos
description: Best of ZZT is a kind of sequel to ZZT and Super ZZT. It is a
  shareware game that showcases what ZZT can do. Epic MegaGames created ZZT with
  its game worlds and released it together with its level editor and world
  creation tools. This proved hugely popular and led to many home made worlds
  being created and shared on-line via bulletin boards. In 1991 Epic held a Game
  Design Contest to find the best of these game boards and they received over
  one thousand entries. Game boards from this contest were used to create two
  new game worlds, 'The Secret of Headhunter Isle' and 'Royal Treasures' which
  Epic released as shareware in 1992 under the name Best of ZZT.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1d5fe0cfa7c166fc076cba98c9164d7c0c3656c9.png
  - https://cdn.dos.zone/original/2X/9/98d64510c8fae378ef54930aaceaa3dac9399257.png
---
