---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/betamax.jsdos
layout: page.njk
ogDescription: Betamax is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Betamax on
  mobile. On DOS.Zone Betamax available to play for free without registration.
permalink: /betamax-mar-1997/
screenshots:
- https://cdn.dos.zone/original/2X/4/4c01da299cc15628c5700577f8933db873885f7f.png
- https://cdn.dos.zone/original/2X/6/60864c5403538fce2fc49b5a114e678e5095910b.png
shortTitle: Betamax
title: Betamax | 🕹️Play Betamax Online | DOS game in browser

---
