---
layout: page.njk
title: Better Dead Than Alien! | 🕹️Play Better Dead Than Alien! Online |
  Download js-dos bundle
ogDescription: Want to Play Better Dead Than Alien!? 🕹 On Dos Zone you can play
  Better Dead Than Alien! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Better Dead Than Alien!
permalink: /better-dead-than-alien-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbetter-dead-than-alien.jsdos
description: Brad Zoom takes on the Brain Eaters from the Purple Planet, in this
  homage to vintage action games, primarily Galaxians. There are 75 levels,
  accessed via passcodes. You control a spaceship at the bottom of the screen
  facing upwards, firing at arrangements of aliens. You can move up and down as
  well as left and right as you shoot them. At set intervals an alien will
  emerge from the main pack and sweep down towards you. Other levels feature
  Asteroids which split when shot, or a single ‘boss’ alien. Aliens with green
  eyeballs release power-ups, such as improved weapons, shields and bombs. You
  have a single life with which to survive the carnage. You get points for
  surviving as well as scoring, so slow but cautious play is more rewarding.
screenshots:
  - https://cdn.dos.zone/original/2X/7/79fc533661aa62106cf8c98e1fe8882191710275.png
  - https://cdn.dos.zone/original/2X/9/912f7e341932872fe6909afe3aa05fa5301ddc71.png
---
