---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/better-dead-than-alien.jsdos
layout: page.njk
ogDescription: Better Dead Than Alien! is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Better Dead Than Alien! on mobile. On DOS.Zone Better Dead Than Alien! available
  to play for free without registration.
permalink: /better-dead-than-alien-1988/
screenshots:
- https://cdn.dos.zone/original/2X/7/79fc533661aa62106cf8c98e1fe8882191710275.png
- https://cdn.dos.zone/original/2X/9/912f7e341932872fe6909afe3aa05fa5301ddc71.png
shortTitle: Better Dead Than Alien!
title: Better Dead Than Alien! | 🕹️Play Better Dead Than Alien! Online | DOS game
  in browser

---
