---
layout: page.njk
title: Bez Pegs | 🕹️Play Bez Pegs Online | Download js-dos bundle
ogDescription: Want to Play Bez Pegs? 🕹 On Dos Zone you can play Bez Pegs OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Bez Pegs
permalink: /bez-pegs-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbez-pegs.jsdos
description: P.E.G.S. (Practically Everything Goes Somewhere) is a series of
  puzzles where you have to 'put the round PEG into the round hole'. Of course,
  there's a little twist. When you put some PEGS in their proper holes,
  unsuspected things happen. The SQUARE PEGS and the ROUND PEGS are pretty
  normal. Put two TRIANGULAR PEGS together, however, and they combine to form a
  BLOCK. If you are lucky enough to put two of the PLUS PEGS together, they form
  a new, different PEG. Your computer will let you choose which new PEG you
  want. Simply get rid of all the PEGS from the game board. All you have to do
  is maneuver your PUSHER around the game board and shove the PEGS into one
  another. If you try to push a SQUARE PEG onto a ROUND one, you lose. Make sure
  your PUSHER steers clear of all the PITS on the game board, but you can
  dispose of PEGS into the PITS. If you push a SQUARE PEG into a pit the pit
  will fill up.
screenshots:
  - https://cdn.dos.zone/original/2X/7/76dc2f1c59138681d6fcf7dcbac08a0975e682f7.jpeg
  - https://cdn.dos.zone/original/2X/1/1ac58cb64acf1af2a0c409ea56e44e4109de1e7f.jpeg
---
