---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bez-pegs.jsdos
layout: page.njk
ogDescription: Bez Pegs is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bez Pegs on
  mobile. On DOS.Zone Bez Pegs available to play for free without registration.
permalink: /bez-pegs-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/76dc2f1c59138681d6fcf7dcbac08a0975e682f7.jpeg
- https://cdn.dos.zone/original/2X/1/1ac58cb64acf1af2a0c409ea56e44e4109de1e7f.jpeg
shortTitle: Bez Pegs
title: Bez Pegs | 🕹️Play Bez Pegs Online | DOS game in browser

---
