---
layout: page.njk
title: Bible Crossword Puzzles | 🕹️Play Bible Crossword Puzzles Online |
  Download js-dos bundle
ogDescription: Want to Play Bible Crossword Puzzles? 🕹 On Dos Zone you can play
  Bible Crossword Puzzles OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bible Crossword Puzzles
permalink: /bible-crossword-puzzles-jan-26-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbible-crossword-puzzles.jsdos
description: >-
  Bible Crossword Puzzles is a single player, shareware, crossword puzzle game
  based on the King James bible.

  All clues in the crossword are accompanied by the relevant bible reference. The game has a save/load function, in-game help, and a hint feature. It can be played by either a keyboard of the mouse.

  An unusual feature of this game is that it will not let the player enter an incorrect letter which means that obscure clues can be solved by trial and error
screenshots:
  - https://cdn.dos.zone/original/2X/5/54d8bd784195e1b0f7ce32a6e3eb81ab860f0d6d.png
  - https://cdn.dos.zone/original/2X/a/a0600b1792455dac8267883f274ed1e83e1fc993.png
---
