---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bicycle-solitaire__.jsdos
layout: page.njk
ogDescription: Bicycle Solitaire is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Bicycle Solitaire on mobile. On DOS.Zone Bicycle Solitaire available to play for
  free without registration.
permalink: /bicycle-solitaire-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/6197036c90aff77c556be83f2cdbf2b18485f992.png
- https://cdn.dos.zone/original/2X/3/3a4fbb3bd8f116818f8d51c4f0420cd8f824a9cd.png
shortTitle: Bicycle Solitaire
title: Bicycle Solitaire | 🕹️Play Bicycle Solitaire Online | DOS game in browser

---
