---
layout: page.njk
title: Bicycle Solitaire | 🕹️Play Bicycle Solitaire Online | Download js-dos bundle
ogDescription: Want to Play Bicycle Solitaire? 🕹 On Dos Zone you can play
  Bicycle Solitaire OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bicycle Solitaire
permalink: /bicycle-solitaire-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbicycle-solitaire__.jsdos
description: >-
  Bicycle Solitaire is a single player card game which is played entirely via
  the mouse. It has an undo function, retains the scores for multiple players -
  not at the same time though. It features games of Auld Lang Syne, Calculation,
  Canfield, Four Seasons, Golf, Klondike, and Little Spider. There is no in-game
  help to explain the rules to the player, no choice of card back or background
  and, while there is optional sound it consists of a 'beep' when the player
  attempts to play a wrong card.

  Some games such as Golf have no variants while others do cater for different ways to play, Klondike for example has the option to draw one or three cards at a time.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6197036c90aff77c556be83f2cdbf2b18485f992.png
  - https://cdn.dos.zone/original/2X/3/3a4fbb3bd8f116818f8d51c4f0420cd8f824a9cd.png
---
