---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/big-rig.jsdos
layout: page.njk
ogDescription: Big Rig is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Big Rig on
  mobile. On DOS.Zone Big Rig available to play for free without registration.
permalink: /big-rig-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/1273ecc083d1e97daa53bf0d02f38d35cf4a4020.png
- https://cdn.dos.zone/original/2X/f/f6a29387fce6727bc2a7cc406dab30ccb66a3cc9.png
shortTitle: Big Rig
title: Big Rig | 🕹️Play Big Rig Online | DOS game in browser

---
