---
layout: page.njk
title: Biker Dave | 🕹️Play Biker Dave Online | Download js-dos bundle
ogDescription: Want to Play Biker Dave? 🕹 On Dos Zone you can play Biker Dave
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Biker Dave
permalink: /biker-dave-nov-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbiker-dave.jsdos
description: "Daredevil Biker Dave is out to wow the crowd - he's brought his
  two-wheeled speed demon for a streak of daring car jumps. After each
  successful leap, the ramps are moved farther apart, and another car is
  added.  There's also a hoop jump halfway through the course, although the
  Atari version offers a \"rookie\" mode without the hoop.  The ultimate goal is
  to jump nine cars at a time, and Biker Dave has five bikes primed and
  ready.  But there's one little thing Biker Dave overlooked... none of them
  have any brakes. The only control is acceleration: to pull off his fearless
  acrobatics, Dave will need precise control of the throttle and an eye on the
  speed meter.  Go too slow or too fast at the wrong time, and he'll receive a
  painful crash course in gravity and friction."
screenshots:
  - https://cdn.dos.zone/original/2X/4/4798f5e315687a3c63ca4895d0398ad22992b718.png
  - https://cdn.dos.zone/original/2X/2/253203e5321a78e830139013681b701b4fcd0402.png
---
