---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/billiards-simulator.jsdos
layout: page.njk
ogDescription: Billiards Simulator is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Billiards Simulator on mobile. On DOS.Zone Billiards Simulator available to play
  for free without registration.
permalink: /billiards-simulator-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/f13685e69e244b49a28b487cf5cd8e978110ddb4.png
- https://cdn.dos.zone/original/2X/1/1da8314a836bccbaca7c3637a3204b53a5679226.png
shortTitle: Billiards Simulator
title: Billiards Simulator | 🕹️Play Billiards Simulator Online | DOS game in browser

---
