---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bio-menace.jsdos
layout: page.njk
ogDescription: Bio Menace is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bio Menace
  on mobile. On DOS.Zone Bio Menace available to play for free without registration.
permalink: /bio-menace-aug-03-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/b01b311c9a7eadc30577bd0a8a8d575007d9b712.png
- https://cdn.dos.zone/original/2X/f/f9f755957214777119598ab192936e37cdf5489f.png
shortTitle: Bio Menace
title: Bio Menace | 🕹️Play Bio Menace Online | DOS game in browser

---
