---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/biologica.jsdos
layout: page.njk
ogDescription: Biologica! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Biologica!
  on mobile. On DOS.Zone Biologica! available to play for free without registration.
permalink: /biologica-aug-04-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/4b0df44dc3e091a61a9488cf94e351f2ddea522a.gif
- https://cdn.dos.zone/original/2X/c/ce2a8578910333f7340f64e7fd54a21a36e0928e.gif
shortTitle: Biologica!
title: Biologica! | 🕹️Play Biologica! Online | DOS game in browser

---
