---
layout: page.njk
title: Biologica! | 🕹️Play Biologica! Online | Download js-dos bundle
ogDescription: Want to Play Biologica!? 🕹 On Dos Zone you can play Biologica!
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Biologica!
permalink: /biologica-aug-04-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbiologica.jsdos
description: An educational game that taught the player how life started on
  Earth, how biologists classify life, and how the primordial soup evolved into
  the first multi-cellular life forms and then simple organisms. It featured two
  mini-puzzle games with 8bit graphics and sounds. The most interesting part was
  what I could only compare to a primitive, but still neat little version of the
  game of life. It let you create simple viruses, bacteria, and amoeba-like
  organisms using random seeds. You could then watch the items replicate and
  eat, and eventually die, all in 8bit color and in DOS.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4b0df44dc3e091a61a9488cf94e351f2ddea522a.gif
  - https://cdn.dos.zone/original/2X/c/ce2a8578910333f7340f64e7fd54a21a36e0928e.gif
---
