---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/birds-of-prey.jsdos
layout: page.njk
ogDescription: Birds of Prey is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Birds of Prey
  on mobile. On DOS.Zone Birds of Prey available to play for free without registration.
permalink: /birds-of-prey-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a38ed0229399fd416e0ac4d76ece079abc593e7.gif
- https://cdn.dos.zone/original/2X/e/e8e1471cbc9759acb6f075cb1c23c573701779d6.gif
shortTitle: Birds of Prey
title: Birds of Prey | 🕹️Play Birds of Prey Online | DOS game in browser

---
