---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bird-brain.jsdos
layout: page.njk
ogDescription: Bird Brain is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bird Brain
  on mobile. On DOS.Zone Bird Brain available to play for free without registration.
permalink: /bird-brain-dec-1984/
screenshots:
- https://cdn.dos.zone/original/2X/b/bc32ab8b17f74a109419737fa48e53f4e3263f27.png
- https://cdn.dos.zone/original/2X/b/b8b6eb00f355b9e6b7054463bde4cf6d5f884976.png
shortTitle: Bird Brain
title: Bird Brain | 🕹️Play Bird Brain Online | DOS game in browser

---
