---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bit-bat.jsdos
layout: page.njk
ogDescription: Bit-Bat is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bit-Bat on
  mobile. On DOS.Zone Bit-Bat available to play for free without registration.
permalink: /bit-bat-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/6e91aadf6d0c1dc010e2923b2b0e1f9066686d7d.png
- https://cdn.dos.zone/original/2X/f/fddd023a1a8520b674af6698167ecb459230b6b.png
shortTitle: Bit-Bat
title: Bit-Bat | 🕹️Play Bit-Bat Online | DOS game in browser

---
