---
layout: page.njk
title: Blackjack | 🕹️Play Blackjack Online | Download js-dos bundle
ogDescription: Want to Play Blackjack? 🕹 On Dos Zone you can play Blackjack OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Blackjack
permalink: /blackjack-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblackjack_____.jsdos
description: "Yet another early conversion of the classic casino game, based on
  a previous version written for the Compucolor II.  The computer deals, using a
  standard deck, and the player attempts to rack up cash by beating the dealer's
  hands: the hand closest to a sum of 21 wins; exceed 21 and you bust; if both
  player and dealer have the same total it's a push, and neither side wins. As
  per usual, each side receives one card at a time and decides whether to hit,
  stand, double down, or split; if the dealer's first card is an ace, the player
  is offered an insurance bet.  The house rules: $500 is the maximum bet, and
  blackjack pays 1.5 to 1."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7c2b64617cb777ea5b8ea36318a05ad39dc6c09.png
  - https://cdn.dos.zone/original/2X/5/5387e68a6f245bddc4ef1ec6f382a7d99978d3aa.png
---
