---
layout: page.njk
title: "Black Knight: Marine Strike Fighter  | 🕹️Play Black Knight: Marine
  Strike Fighter  Online | Download js-dos bundle"
ogDescription: "Want to Play Black Knight: Marine Strike Fighter ? 🕹 On Dos
  Zone you can play Black Knight: Marine Strike Fighter  OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Black Knight: Marine Strike Fighter "
permalink: /black-knight-marine-strike-fighter-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblack-knight-marine-strike-fighter-.jsdos
description: Black Knight is an air combat F/A-18 Hornet flight simulator. It
  features 50 different combat missions, 8 training missions as well as a free
  flight mode. A built-in mission creator is also available. Features included a
  flight instructor mode which offered instructions at every key point of flight
  or combat; flight recorder to play back your flight viewed from various
  angles; and digitized engine and cockpit sounds from actual F/A-18 Hornets. It
  was initially distributed in 1995 as a shareware demo with some functions
  disabled.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6caa0942f77cbecccc04a3e871facd19c936fde7.png
  - https://cdn.dos.zone/original/2X/3/3014810ef074cda72f4d811d0997008bbbd891d8.png
---
