---
layout: page.njk
title: Black Box | 🕹️Play Black Box Online | Download js-dos bundle
ogDescription: Want to Play Black Box? 🕹 On Dos Zone you can play Black Box OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Black Box
permalink: /black-box-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblack-box_.jsdos
description: Russco produced several pinball games using Pinball Construction
  Set. Here's another one, always playable for up to four players. This time,
  the theme is a treasure box, right in the center of the playfield.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3617aa897fabc9b551ff6cbdcddfe8cd06ca2585.png
---
