---
layout: page.njk
title: Blastocyst | 🕹️Play Blastocyst Online | Download js-dos bundle
ogDescription: Want to Play Blastocyst? 🕹 On Dos Zone you can play Blastocyst
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Blastocyst
permalink: /blastocyst-nov-10-2005/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblastocyst.jsdos
description: "A 9KB remake of Asteroids : your ship is confined to a wrap-around
  sector of space, and your job is to survive the onslaught of incoming space
  rocks by pulverizing them into smaller and smaller bits.  The ship is
  maneuvered by rotating and thrusting - this adaptation simulates some
  friction, so there's no endless inertial movement; you can also thrust in
  reverse.  The green bar at the bottom indicates the status of your shields,
  which get drained by collisions and by your continuous-fire weapon, which
  makes it important to conserve energy.  When the shields are completely down,
  your ship will crumple at the slightest touch; fortunately, the smallest
  asteroids drop green energy balls when destroyed, and picking them up will
  recharge the shields."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cfae2ac81673ca858deef8f1741c251de29f98aa.png
  - https://cdn.dos.zone/original/2X/3/3588555c37835950b655eb6a67ff0a43ca8629f2.png
---
