---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blinky-2.jsdos
layout: page.njk
ogDescription: Blinky 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Blinky 2 on
  mobile. On DOS.Zone Blinky 2 available to play for free without registration.
permalink: /blinky-2-dec-07-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/9b1726f72b1ae718bf844ce3b9371a5db29afef.png
- https://cdn.dos.zone/original/2X/6/649bd2178b4475886589e7a6c6d4cecc90d58b.png
shortTitle: Blinky 2
title: Blinky 2 | 🕹️Play Blinky 2 Online | DOS game in browser

---
