---
layout: page.njk
title: Blind People Simulator | 🕹️Play Blind People Simulator Online | Download
  js-dos bundle
ogDescription: Want to Play Blind People Simulator? 🕹 On Dos Zone you can play
  Blind People Simulator OR donwload js-dos bundle for free. Start playing now!
shortTitle: Blind People Simulator
permalink: /blind-people-simulator-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblind-people-simulator.jsdos
description: This game, as with the later Shades of Doom allows the player to
  navigate and fight a path through an enemy-filled maze as one might in a
  FPS... except solely through the use of directional audio cues to determine
  the relative location of obstacles and hazards.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c039851a3e58b9aacd61173721aba87386923862.png
  - https://cdn.dos.zone/original/2X/6/634b480db441c5abc7341e88e8b4e590d712901a.png
---
