---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blind-people-simulator.jsdos
layout: page.njk
ogDescription: Blind People Simulator is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Blind People Simulator on mobile. On DOS.Zone Blind People Simulator available
  to play for free without registration.
permalink: /blind-people-simulator-1996/
screenshots:
- https://cdn.dos.zone/original/2X/c/c039851a3e58b9aacd61173721aba87386923862.png
- https://cdn.dos.zone/original/2X/6/634b480db441c5abc7341e88e8b4e590d712901a.png
shortTitle: Blind People Simulator
title: Blind People Simulator | 🕹️Play Blind People Simulator Online | DOS game in
  browser

---
