---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blockade.jsdos
layout: page.njk
ogDescription: Blockade is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Blockade on
  mobile. On DOS.Zone Blockade available to play for free without registration.
permalink: /blockade-1986/
screenshots:
- https://cdn.dos.zone/original/2X/8/862eebcd85d210d5417e26ceba08c5b6ea5451ca.png
- https://cdn.dos.zone/original/2X/9/973b033ee8e6370ef80101ec1190e2a3984e973a.png
shortTitle: Blockade
title: Blockade | 🕹️Play Blockade Online | DOS game in browser

---
