---
bundles:
- title: BLOOD for Android
  type: android
  url: https://play.google.com/store/apps/details?id=pfs.wwwplayer.blood
- lang: ENG
  mobile: true
  title: '320x200'
  type: datafile
  url: custom/dos/blood-lowres.jsdos
- lang: ENG
  mobile: true
  title: '640x480'
  type: datafile
  url: custom/dos/blood-midres.jsdos
- lang: ENG
  mobile: true
  title: '800x600'
  type: datafile
  url: custom/dos/blood-hires.jsdos
- lang: ENG
  mobile: true
  title: '320x200'
  type: js
  url: custom/dos/blood-lowres.jsdos
- lang: ENG
  mobile: true
  title: '640x480'
  type: js
  url: custom/dos/blood-midres.jsdos
- lang: ENG
  mobile: true
  title: '800x600'
  type: js
  url: custom/dos/blood-hires.jsdos
layout: page.njk
ogDescription: Blood is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Blood on mobile.
  On DOS.Zone Blood available to play for free without registration.
permalink: /blood-may-31-1997/
screenshots:
- https://cdn.dos.zone/original/2X/6/601a5493d9e15b37b3bc67dad972846d4a0a6377.png
- https://cdn.dos.zone/original/2X/d/db18d8ce1eae2111623ee9978e741e86d769ea5b.gif
shortTitle: Blood
title: Blood | 🕹️Play Blood Online | DOS game in browser
youtube: aJk1PF7VoEA
multiplayer: true
---

<div class="flex flex-col">
    <p class="font-bold text-lg">Controls</p>
    <p>Movement: WASD</p>
    <p>Lookaround: Mouse</p>
    <p>Jump: E</p>
    <p>Crouch: Q</p>
    <p>Open: Space</p>
    <p>Fire: LeftCtrl, X</p>
</div>

