---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blow-up.jsdos
layout: page.njk
ogDescription: Blow Up! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Blow Up! on
  mobile. On DOS.Zone Blow Up! available to play for free without registration.
permalink: /blow-up-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/dcde796d1cc6b6b87e786c9ad00bdc04e9e7da89.png
- https://cdn.dos.zone/original/2X/f/ffab6f9d0a12c04e8db45c6ddf2dc3b7fed38d33.png
shortTitle: Blow Up!
title: Blow Up! | 🕹️Play Blow Up! Online | DOS game in browser

---
