---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blue-balls.jsdos
layout: page.njk
ogDescription: Blue Balls is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Blue Balls
  on mobile. On DOS.Zone Blue Balls available to play for free without registration.
permalink: /blue-balls-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/dc8cea6662f3b65114f1b67fbd561cb6660e25b5.png
- https://cdn.dos.zone/original/2X/1/118179aa394157f17064079bcc225724e6158bea.png
shortTitle: Blue Balls
title: Blue Balls | 🕹️Play Blue Balls Online | DOS game in browser

---
