---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bob-morane-jungle-1.jsdos
layout: page.njk
ogDescription: 'Bob Morane: Jungle 1 is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Bob Morane: Jungle 1 on mobile. On DOS.Zone Bob Morane: Jungle 1 available to
  play for free without registration.'
permalink: /bob-morane-jungle-1-1987/
screenshots:
- https://cdn.dos.zone/original/2X/a/ad04c7790556eccd0e3e285fa5b32650ea1204f3.png
- https://cdn.dos.zone/original/2X/7/77dbdff52631e87e658289594a0ac4cda7973d99.png
shortTitle: 'Bob Morane: Jungle 1'
title: 'Bob Morane: Jungle 1 | 🕹️Play Bob Morane: Jungle 1 Online | DOS game in browser'

---
