---
layout: page.njk
title: "Bob Morane: Chevalerie 1 | 🕹️Play Bob Morane: Chevalerie 1 Online |
  Download js-dos bundle"
ogDescription: "Want to Play Bob Morane: Chevalerie 1? 🕹 On Dos Zone you can
  play Bob Morane: Chevalerie 1 OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Bob Morane: Chevalerie 1"
permalink: /bob-morane-chevalerie-1-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbob-morane-chevalerie-1.jsdos
description: "Adventure novel protagonist Bob Morane, an agent of the Time
  Patrol, is transported back in time to a thirteenth century castle. His
  objective: to save the Holy Shroud - the cloth that collected the body of
  Christ on its descent from the Cross - from being captured by his
  arch-nemesis, the Yellow Shadow, who seeks to become pope and pervert the
  course of history. The game plays similarly to Iznogoud, Sidewalk, and Bob
  Morane: Jungle 1.  Action takes place on a tiny portion of the screen;
  exploring a series of static rooms that interconnect in multiple directions,
  Bob battles a bastion of besiegers - castle guards, mysterious shrouded dudes,
  and (except for the Amstrad CPC version) humongous, hairy bears. Yes, the
  Yellow Shadow is not above manipulating omnivorous mammals towards his
  nefarious ends. Luckily, Bob can search for hidden items and secret passages
  to further his aims, and should he perish in action, a giant temporal bubble
  is ready to encase him and bring him back to the starting point."
screenshots:
  - https://cdn.dos.zone/original/2X/5/59e7ec296eb5c1a57a3ffb05f71926007b2f9a26.png
  - https://cdn.dos.zone/original/2X/c/ccf6f79e44501560f3d79518b8d06322b391f4.png
---
