---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bolo____.jsdos
layout: page.njk
ogDescription: Bolo is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Bolo on mobile.
  On DOS.Zone Bolo available to play for free without registration.
permalink: /bolo-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2e5205c280519d228febd7dd4176706b4a1bfa8.png
- https://cdn.dos.zone/original/2X/a/a086a3a2b27776fd9035cf5004c0a44ce04d952f.png
shortTitle: Bolo
title: Bolo | 🕹️Play Bolo Online | DOS game in browser

---
