---
layout: page.njk
title: Bomberman | 🕹️Play Bomberman Online | Download js-dos bundle
ogDescription: Want to Play Bomberman? 🕹 On Dos Zone you can play Bomberman OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Bomberman
permalink: /bomberman-1992/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F3%2F320c1d875fba0f53476ae188195d2bec2cefdf8b.jsdos
description: "The black spaceman kidnapped Bomberman's beloved and brought her
  to his chambers in the castle, far beyond his reach, over the rivers, forest
  and mountains. Bomberman's job is to save her, battling the sea of the
  enemies, with only bombs at his disposal. The range of Bomberman's bomb
  explosions can be upgraded with time, but if he dies, the range resets back to
  the minimum range and Bomberman loses his previous skills. Some updates can
  make Bomberman walk through the walls, increase his speed, and give him some
  other assets to aid him in his quest to save the woman he loves. This top-down
  action-arcade game consists of nine levels per stage, each tougher than the
  other, and each final one consisting of the boss that will have to be dealt
  with. Bomberman can move horizontally and vertically and lay down bombs behind
  him, thus evaporating the enemies, but beware: Bomberman can block himself
  with his own bomb, and thus become a victim of his own bomb."
screenshots:
  - https://cdn.dos.zone/original/2X/3/3c3e4a6f9d1e2367307dbfd788a1da046c6c0a43.gif
  - https://cdn.dos.zone/original/2X/3/3faef548b727eb65482cc8ef3cee537fc6a67d0e.gif
---
