---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bomber.jsdos
layout: page.njk
ogDescription: Bomber is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Bomber on mobile.
  On DOS.Zone Bomber available to play for free without registration.
permalink: /bomber-1993/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ffd57f6050a6738c6de75a92ce4f5e75c9d00ae.png
- https://cdn.dos.zone/original/2X/3/373a954b1670df8f8864ca42dfadcab31ec0cc5d.png
shortTitle: Bomber
title: Bomber | 🕹️Play Bomber Online | DOS game in browser

---
