---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bomber-boy.jsdos
layout: page.njk
ogDescription: Bomber Boy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bomber Boy
  on mobile. On DOS.Zone Bomber Boy available to play for free without registration.
permalink: /bomber-boy-1995/
screenshots:
- https://cdn.dos.zone/original/2X/e/e369301e9e9c8416b3a5e0b66644af9381511c2e.png
- https://cdn.dos.zone/original/2X/3/3038d7697d1b21c3d9e343ce402cbf04a4df0750.png
shortTitle: Bomber Boy
title: Bomber Boy | 🕹️Play Bomber Boy Online | DOS game in browser

---
