---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bong-bong.jsdos
layout: page.njk
ogDescription: Bong Bong is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bong Bong
  on mobile. On DOS.Zone Bong Bong available to play for free without registration.
permalink: /bong-bong-1989/
screenshots:
- https://cdn.dos.zone/original/2X/a/a187dbe19e694089067f8b414ae5022c463edf12.png
- https://cdn.dos.zone/original/2X/3/37356238204657e980f3faf35a35863e825fe12c.png
shortTitle: Bong Bong
title: Bong Bong | 🕹️Play Bong Bong Online | DOS game in browser

---
