---
layout: page.njk
title: Bong Bong | 🕹️Play Bong Bong Online | Download js-dos bundle
ogDescription: Want to Play Bong Bong? 🕹 On Dos Zone you can play Bong Bong OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Bong Bong
permalink: /bong-bong-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbong-bong.jsdos
description: "Bong Bong is a simple arcade platformer, featuring a little bunny
  rabbit with an unquenchable passion for sugary foodstuffs.  Climb ladders,
  jump over traps and hop across platforms to grab every food item in sight: get
  them all, and the next level will present an entirely new type of delicacy to
  quell your appetite.  Beware the scorpions, and watch out for mystery jars -
  most of them will get you a score bonus, but some may contain a snake."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a187dbe19e694089067f8b414ae5022c463edf12.png
  - https://cdn.dos.zone/original/2X/3/37356238204657e980f3faf35a35863e825fe12c.png
---
