---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bonus.jsdos
layout: page.njk
ogDescription: Bonus is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Bonus on mobile.
  On DOS.Zone Bonus available to play for free without registration.
permalink: /bonus-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f4d74a18e095219365834e01fc47d1e56452cba4.png
- https://cdn.dos.zone/original/2X/f/f4b886bbb6e2c63bba175363b4995c8312a19f7c.png
shortTitle: Bonus
title: Bonus | 🕹️Play Bonus Online | DOS game in browser

---
