---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/boomerang_.jsdos
layout: page.njk
ogDescription: Boomerang is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Boomerang
  on mobile. On DOS.Zone Boomerang available to play for free without registration.
permalink: /boomerang-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/4717ea7679f8908f69b650c398adb65dc16e9a4d.png
- https://cdn.dos.zone/original/2X/d/d0e8336a5baaebf88c0126065fff47ff6304fd7d.png
shortTitle: Boomerang
title: Boomerang | 🕹️Play Boomerang Online | DOS game in browser

---
