---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/boovie.jsdos
layout: page.njk
ogDescription: Boovie is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Boovie on mobile.
  On DOS.Zone Boovie available to play for free without registration.
permalink: /boovie-1998/
screenshots:
- https://cdn.dos.zone/original/2X/6/6138f249d54cc59a4f8d92184eca44b487f73e0a.gif
- https://cdn.dos.zone/original/2X/b/b27d9276be6b25f49fbacb57aa435504ae1e61e6.gif
shortTitle: Boovie
title: Boovie | 🕹️Play Boovie Online | DOS game in browser

---
