---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/borodino.jsdos
layout: page.njk
ogDescription: Borodino is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Borodino on
  mobile. On DOS.Zone Borodino available to play for free without registration.
permalink: /borodino-1989/
screenshots:
- https://cdn.dos.zone/original/2X/1/1a4ca66d6b0f7545526621934dcbf6f1b3efc7a7.png
- https://cdn.dos.zone/original/2X/1/1c890a8220d2da270a922eee8b6baa307db0c420.png
shortTitle: Borodino
title: Borodino | 🕹️Play Borodino Online | DOS game in browser

---
