---
layout: page.njk
title: Borodino | 🕹️Play Borodino Online | Download js-dos bundle
ogDescription: Want to Play Borodino? 🕹 On Dos Zone you can play Borodino OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Borodino
permalink: /borodino-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fborodino.jsdos
description: The sequel to the 1989 game Waterloo takes us back to the village
  of Borodino on the 7th of September, 1812, during the bloodiest battle of
  Napoleon's invasion of Russia. As in the previous game, the player is
  observing the battle area through a 3D perspective while issuing commands by
  typing in certain pre-defined text commands that are combined with the names
  of commanders, places, and the time of execution. Players receive reports from
  their officers indicating whether or not the orders have been carried out to
  the letter.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1a4ca66d6b0f7545526621934dcbf6f1b3efc7a7.png
  - https://cdn.dos.zone/original/2X/1/1c890a8220d2da270a922eee8b6baa307db0c420.png
---
