---
layout: page.njk
title: "Boulder Dash: Construction Kit | 🕹️Play Boulder Dash: Construction Kit
  Online | Download js-dos bundle"
ogDescription: "Want to Play Boulder Dash: Construction Kit? 🕹 On Dos Zone you
  can play Boulder Dash: Construction Kit OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Boulder Dash: Construction Kit"
permalink: /boulder-dash-construction-kit-oct-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fboulder-dash-construction-kit.jsdos
description: "Rockford the Ant returns in another Boulder Dash adventure
  contains 15 new levels, in addition to the easy-to-use game editor. Players
  can build, save, and play their own levels. The software includes a feature to
  sequence your levels on a separate game disk. All of the elements and hazards
  from the previous Boulder Dash outings are back: The fireflies, butterflies,
  growing amoebas, enchanted walls, and of course, the boulders. New features
  include titanium (indestructible) walls, growing walls, and slime that allows
  boulders and diamonds to drop through it at a varying rate."
screenshots:
  - https://cdn.dos.zone/original/2X/7/70c75dfec01daaaedd32643fd53f7ecce29454ef.png
  - https://cdn.dos.zone/original/2X/a/a38551f72663095178f03be66c58e30fc0dfa82a.png
---
