---
layout: page.njk
title: Boulder Star | 🕹️Play Boulder Star Online | Download js-dos bundle
ogDescription: Want to Play Boulder Star? 🕹 On Dos Zone you can play Boulder
  Star OR donwload js-dos bundle for free. Start playing now!
shortTitle: Boulder Star
permalink: /boulder-star-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fboulder-star.jsdos
description: Boulder Star is a game inspired by Boulder Dash with 256 color VGA
  graphics. You are guiding a hosentroger (German pant-suspender) wearing
  figure, with the aim of getting diamonds and treasures out from a series of
  underground chambers. To achieve this, you are obliged to dig in the soil like
  a mole. Each chamber has an exit that opens when you collect a required amount
  of diamonds, you have to leave the chamber before the available time runs out.
  Boulders, teleporters, locked passageways, and hazardous creatures are to be
  dealt with. Sometimes there are TNT explosives and jackhammers are available
  to be used to your advantage. The shareware version contains 20 levels.
screenshots:
  - https://cdn.dos.zone/original/2X/4/47361c51e0e30103c6d25bd431dad1f30a59235c.png
  - https://cdn.dos.zone/original/2X/2/2fb6eaea33368fde38fa4f231492b5abbb75975.png
---
