---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/boulder-dash-construction-kit.jsdos
layout: page.njk
ogDescription: 'Boulder Dash: Construction Kit is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Boulder Dash: Construction Kit on mobile. On DOS.Zone Boulder Dash:
  Construction Kit available to play for free without registration.'
permalink: /boulder-dash-construction-kit-oct-1987/
screenshots:
- https://cdn.dos.zone/original/2X/7/70c75dfec01daaaedd32643fd53f7ecce29454ef.png
- https://cdn.dos.zone/original/2X/a/a38551f72663095178f03be66c58e30fc0dfa82a.png
shortTitle: 'Boulder Dash: Construction Kit'
title: 'Boulder Dash: Construction Kit | 🕹️Play Boulder Dash: Construction Kit Online
  | DOS game in browser'

---
