---
layout: page.njk
title: Boulder Dash | 🕹️Play Boulder Dash Online | Download js-dos bundle
ogDescription: Want to Play Boulder Dash? 🕹 On Dos Zone you can play Boulder
  Dash OR donwload js-dos bundle for free. Start playing now!
shortTitle: Boulder Dash
permalink: /boulder-dash-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fboulder-dash__.jsdos
description: This game is a DOS remake of Boulder Dash, featuring VGA graphics.
screenshots:
  - https://cdn.dos.zone/original/2X/2/20da006eee09a80ab3019d08a254fe71940683c.png
  - https://cdn.dos.zone/original/2X/1/137ca2d51149ce01f74494a0366dc096f5c0412c.png
---
