---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/boulder-star.jsdos
layout: page.njk
ogDescription: Boulder Star is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Boulder Star
  on mobile. On DOS.Zone Boulder Star available to play for free without registration.
permalink: /boulder-star-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/47361c51e0e30103c6d25bd431dad1f30a59235c.png
- https://cdn.dos.zone/original/2X/2/2fb6eaea33368fde38fa4f231492b5abbb75975.png
shortTitle: Boulder Star
title: Boulder Star | 🕹️Play Boulder Star Online | DOS game in browser

---
