---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/brain-artifice.jsdos
layout: page.njk
ogDescription: Brain Artifice is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Brain Artifice
  on mobile. On DOS.Zone Brain Artifice available to play for free without registration.
permalink: /brain-artifice-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e81fa952ba1d193098313409350f4e9742aa4e51.png
- https://cdn.dos.zone/original/2X/1/15e6091189d35c72761e2d91004c766220616f8c.png
shortTitle: Brain Artifice
title: Brain Artifice | 🕹️Play Brain Artifice Online | DOS game in browser

---
