---
layout: page.njk
title: Bravo Romeo Delta | 🕹️Play Bravo Romeo Delta Online | Download js-dos bundle
ogDescription: Want to Play Bravo Romeo Delta? 🕹 On Dos Zone you can play Bravo
  Romeo Delta OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bravo Romeo Delta
permalink: /bravo-romeo-delta-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbravo-romeo-delta.jsdos
description: "Bravo Romeo Delta is a single player game that allows you to
  control either the United States' or the USSR's nuclear arsenal during an
  escalating exchange.  Its interface is very basic, with only four screens for
  reports and input.  The game plays in real time and can be set faster.  There
  are dozens of different weapon systems at the player's command, including: air
  dropped gravity bombs, sub-launched ballistic missiles, ICBM silos, and mobile
  launchers.  Data for each weapon and vehicle is accessible. Locations are
  displayed as geographic coordinates.  Success at destroying a chosen target
  relies on several factors such as weather or hardness penetration of an
  attacking missile. The game begins as a Soviet submarine has launched a salvo
  of three missiles at the United States.  The player takes control of one
  nation and must slowly \"out-nullify\" the computer player's ability to
  command, communicate, and attack with his payloads.  The computer player
  reacts to a slow escalation in kind, but if population centers are attacked
  will realistically mutually assure destruction.  Game objectives are very hard
  to achieve.  The player must capitulate the computer through destruction of
  its arsenal and command while maintaining a superior threat level preserved
  from the computer player's strikes."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7543ad568b2141af37b07172bf412892c89d0a0c.png
  - https://cdn.dos.zone/original/2X/e/e46a8aabb7d943cd812c911cd7ccaeed6af408f8.png
---
