---
layout: page.njk
title: Breakoff | 🕹️Play Breakoff Online | Download js-dos bundle
ogDescription: Want to Play Breakoff? 🕹 On Dos Zone you can play Breakoff OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Breakoff
permalink: /breakoff-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbreakoff.jsdos
description: Bringing the art of Breakout -cloning to Tandy 1000 BASIC, Breakoff
  provides yet another account of the age-old enmity between orb and masonry.  A
  wall of bricks is placed across the top of the screen, opposite the
  laterally-moving paddle below, as the player deflects the bouncing ball and
  attempts to knock down the barrier one block at a time. Point values depend on
  the smashed brick's position; those higher up award larger bonuses.  There are
  three balls at your disposal, and if you lose them all it's game over.  Unlike
  more complete variants, the wall does not renew itself after all the bricks
  are destroyed, so the player is left with a fixed maximum score (and not much
  else to do).
screenshots:
  - https://cdn.dos.zone/original/2X/9/97769c89d590e7059fedeff26cf47c474265d7f6.png
  - https://cdn.dos.zone/original/2X/f/fd684ed1034e1aff38c04eb25666cd0b120fddee.png
---
