---
layout: page.njk
title: Breach | 🕹️Play Breach Online | Download js-dos bundle
ogDescription: Want to Play Breach? 🕹 On Dos Zone you can play Breach OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Breach
permalink: /breach-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbreach.jsdos
description: "Breach is a turn-based tactical squad combat game. It introduces
  team-oriented missions, RPG-style squad leader development and a scenario
  builder. In the ten missions supplied with the retail version (and potentially
  infinitely more created with the included scenario builder), a squad of
  usually five space marines under the command of a squad leader embarks on
  sci-fi missions that involve hostage rescue, data retrieval or simply
  elimination of opponents. Squad members advance and act in turn on basis of a
  movement point system. The multi-level maps consist of outside terrain and
  structures with several stories, connected by lifts, filled with enemies and
  objects. Squad members can find and use weapons such as grenades, rockets or
  detonation packs and tools such as Medikits, scanners or shields. In an unique
  twist, the squad leader advances from mission to mission (while the rest of
  the team is always new), improving his basic stats with each successfully
  completed assignment, based on his performance. Only experienced leaders may
  attempt STAR-rated scenarios. If the squad leader gets killed, he is lost
  forever: the game deletes the corresponding leader file."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c19773c245481d1c7dc9e54a34e3bb7341cda05.png
  - https://cdn.dos.zone/original/2X/c/ce29490468e2a30c6f7ccb8ae9068f9a3c95bdd2.png
---
