---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bricks-gold.jsdos
layout: page.njk
ogDescription: Bricks Gold is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bricks Gold
  on mobile. On DOS.Zone Bricks Gold available to play for free without registration.
permalink: /bricks-gold-1997/
screenshots:
- https://cdn.dos.zone/original/2X/e/e246226cca13f91a87e1d0e8b2b774251882303b.jpeg
- https://cdn.dos.zone/original/2X/4/4251662d8a3ab7ab61b328c56fda35ba2afd3346.jpeg
shortTitle: Bricks Gold
title: Bricks Gold | 🕹️Play Bricks Gold Online | DOS game in browser

---
