---
layout: page.njk
title: Bricks Gold | 🕹️Play Bricks Gold Online | Download js-dos bundle
ogDescription: Want to Play Bricks Gold? 🕹 On Dos Zone you can play Bricks Gold
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bricks Gold
permalink: /bricks-gold-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbricks-gold.jsdos
description: Bricks Gold is a single player, puzzle game with one hundred and
  twenty levels which get progressively more difficult On each level there are a
  number of coloured bricks and the objective is to move the bricks around the
  screen using various 'pusher' devices so that bricks of the same colour
  connect and disappear. As each level is completed it reveals a password which
  the player uses to restart the game without having to replay all the previous
  levels
screenshots:
  - https://cdn.dos.zone/original/2X/e/e246226cca13f91a87e1d0e8b2b774251882303b.jpeg
  - https://cdn.dos.zone/original/2X/4/4251662d8a3ab7ab61b328c56fda35ba2afd3346.jpeg
---
