---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bridge-master.jsdos
layout: page.njk
ogDescription: Bridge Master is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bridge Master
  on mobile. On DOS.Zone Bridge Master available to play for free without registration.
permalink: /bridge-master-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/79b3826d3f9f951eaa1c49e9d2913d5cdade4f0.jpeg
- https://cdn.dos.zone/original/2X/e/e1743eec36fccd6dbb3fa342df0f070e2b186b2f.jpeg
shortTitle: Bridge Master
title: Bridge Master | 🕹️Play Bridge Master Online | DOS game in browser

---
