---
layout: page.njk
title: Bridge Master | 🕹️Play Bridge Master Online | Download js-dos bundle
ogDescription: Want to Play Bridge Master? 🕹 On Dos Zone you can play Bridge
  Master OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bridge Master
permalink: /bridge-master-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbridge-master.jsdos
description: Bridge Master is a Bridge simulation allowing you either to improve
  your game play (by playing against the computer or against on-line friends),
  or to learn how to play Bridge completely from scratch. An on-screen assistant
  can give you tips on your strategy, or suggestions for the current move. The
  game is highly customizable, supporting different bidding conventions, game
  types, and several "player personalities" - meaning you can set the game style
  of your computer opponents (active, passive, trump-waster, etc.).
screenshots:
  - https://cdn.dos.zone/original/2X/7/79b3826d3f9f951eaa1c49e9d2913d5cdade4f0.jpeg
  - https://cdn.dos.zone/original/2X/e/e1743eec36fccd6dbb3fa342df0f070e2b186b2f.jpeg
---
