---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bridge-champion-with-omar-sharif.jsdos
layout: page.njk
ogDescription: Bridge Champion with Omar Sharif is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Bridge Champion with Omar Sharif on mobile. On DOS.Zone Bridge Champion
  with Omar Sharif available to play for free without registration.
permalink: /bridge-champion-with-omar-sharif-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/e9185bc50bc4443c36285e33e433115bb0e90405.png
- https://cdn.dos.zone/original/2X/1/1d2a71d174937515b14e73d8c5f61ee1f95e5ad9.png
shortTitle: Bridge Champion with Omar Sharif
title: Bridge Champion with Omar Sharif | 🕹️Play Bridge Champion with Omar Sharif
  Online | DOS game in browser

---
