---
layout: page.njk
title: Bridge Champion with Omar Sharif | 🕹️Play Bridge Champion with Omar
  Sharif Online | Download js-dos bundle
ogDescription: Want to Play Bridge Champion with Omar Sharif? 🕹 On Dos Zone you
  can play Bridge Champion with Omar Sharif OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Bridge Champion with Omar Sharif
permalink: /bridge-champion-with-omar-sharif-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbridge-champion-with-omar-sharif.jsdos
description: Bridge Champion with Omar Sharif is an implementation of the
  classic card game bridge. Play against the computer or other players via hot
  seat or local network. All rules are included and an extensive tutorial helps
  you to get into the game. Also included are commentaries and tips by bridge
  champion Omar Sharif.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e9185bc50bc4443c36285e33e433115bb0e90405.png
  - https://cdn.dos.zone/original/2X/1/1d2a71d174937515b14e73d8c5f61ee1f95e5ad9.png
---
