---
layout: page.njk
title: British Square | 🕹️Play British Square Online | Download js-dos bundle
ogDescription: Want to Play British Square? 🕹 On Dos Zone you can play British
  Square OR donwload js-dos bundle for free. Start playing now!
shortTitle: British Square
permalink: /british-square-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbritish-square.jsdos
description: >-
  British Square is a single player, strategy game that is played against the
  computer on a 5x5 grid. Players take turns placing pieces on to the grid until
  neither has a valid move remaining. There are only two rules:

  The first move of the game may not be to the centre square. A player cannot move to a square that faces another player's piece The winner is the player who placed the most pieces, they score the difference between the number of pieces they placed and the number placed by their opponent. The winner of a match is the first to score seven points The game has music and a command-line parameter to play in 'easy' mode.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7939fe594772669d37bbd8dd9e85e969e2cd2e1d.png
  - https://cdn.dos.zone/original/2X/a/a3ef2265c2ac305c9c71705d382a5074be5caa6a.png
---
