---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/british-square.jsdos
layout: page.njk
ogDescription: British Square is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in British Square
  on mobile. On DOS.Zone British Square available to play for free without registration.
permalink: /british-square-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/7939fe594772669d37bbd8dd9e85e969e2cd2e1d.png
- https://cdn.dos.zone/original/2X/a/a3ef2265c2ac305c9c71705d382a5074be5caa6a.png
shortTitle: British Square
title: British Square | 🕹️Play British Square Online | DOS game in browser

---
