---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/brix.jsdos
layout: page.njk
ogDescription: Brix is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Brix on mobile.
  On DOS.Zone Brix available to play for free without registration.
permalink: /brix-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c8dd9c8dc92c0ffee366945cf3ba58ba5460937a.gif
- https://cdn.dos.zone/original/2X/e/ecfca4e1c63b35006cf635abcc2f012bd6cbbc7b.png
shortTitle: Brix
title: Brix | 🕹️Play Brix Online | DOS game in browser

---
