---
layout: page.njk
title: Brix | 🕹️Play Brix Online | Download js-dos bundle
ogDescription: Want to Play Brix? 🕹 On Dos Zone you can play Brix OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Brix
permalink: /brix-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbrix.jsdos
description: Brix is a near exact clone of the Taito game Puzznic. You are
  presented with an array of pieces, which you can move horizontally, and when
  two or more of the same type touch, they disappear. The goal is to do that to
  every brick of the same geometrical shape painted on it, and fast, 'cuz time
  is running out quickly. When you have an odd number of a particular piece, 3
  of them must be removed by ensuring that they make simultaneous contact.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c8dd9c8dc92c0ffee366945cf3ba58ba5460937a.gif
  - https://cdn.dos.zone/original/2X/e/ecfca4e1c63b35006cf635abcc2f012bd6cbbc7b.png
---
