---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/brutal-sports-football.jsdos
layout: page.njk
ogDescription: Brutal Sports Football is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Brutal Sports Football on mobile. On DOS.Zone Brutal Sports Football available
  to play for free without registration.
permalink: /brutal-sports-football-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/759e74e1586df673234071a1c711fa33d1586514.png
- https://cdn.dos.zone/original/2X/6/644b2005180b58a97349cfeb62717cf993e959f.jpeg
shortTitle: Brutal Sports Football
title: Brutal Sports Football | 🕹️Play Brutal Sports Football Online | DOS game in
  browser

---
