---
layout: page.njk
title: Brutal Sports Football | 🕹️Play Brutal Sports Football Online | Download
  js-dos bundle
ogDescription: Want to Play Brutal Sports Football? 🕹 On Dos Zone you can play
  Brutal Sports Football OR donwload js-dos bundle for free. Start playing now!
shortTitle: Brutal Sports Football
permalink: /brutal-sports-football-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbrutal-sports-football.jsdos
description: >-
  Similar to Speedball 2, Brutal Sports Football is an ultra-violent sports
  game. Matches last 7 minutes, and the aim is to get the ball into the goal,
  kept by a net-minder. The oval ball can be thrown or kicked, this resulting in
  frequent up-and-under type kicks. Violence is the pivotal element of gameplay:
  rather than rare occurrency,  punching, stomping, use of  weapons, and even
  decapitations are what the game action is rife with, and key to victory.

  Bonus and non-bonus items appear on the pitch, such as bombs to throw at opponents, rabbits to speed up the current player, or tortoises which slow him down. Teams are a total of eleven and consist of seven humans and aliens, some of whom have unique skills. There's a lot of blood and flailing limbs, giving things a gruesomely humorous edge. Victory is achieved not only by scoring more goals than the opponent team but also decapitating all the players of it but one. The player is offered choice among a single match, knockout cup, and leagues to advance trough (for a total of four of them).
screenshots:
  - https://cdn.dos.zone/original/2X/7/759e74e1586df673234071a1c711fa33d1586514.png
  - https://cdn.dos.zone/original/2X/6/644b2005180b58a97349cfeb62717cf993e959f.jpeg
---
