---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bubble-blobb.jsdos
layout: page.njk
ogDescription: Bubble Blobb is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bubble Blobb
  on mobile. On DOS.Zone Bubble Blobb available to play for free without registration.
permalink: /bubble-blobb-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c971d85fc8c80dea3f7b64261b4d3afb09107ac6.png
- https://cdn.dos.zone/original/2X/e/e9c9a986c799a46f0b720a39ebcf3dd303808959.png
shortTitle: Bubble Blobb
title: Bubble Blobb | 🕹️Play Bubble Blobb Online | DOS game in browser

---
