---
layout: page.njk
title: Bubble Jeopardy | 🕹️Play Bubble Jeopardy Online | Download js-dos bundle
ogDescription: Want to Play Bubble Jeopardy? 🕹 On Dos Zone you can play Bubble
  Jeopardy OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bubble Jeopardy
permalink: /bubble-jeopardy-nov-22-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbubble-jeopardy.jsdos
description: >-
  Bubble Jeopardy is a one or two player game in which players must burst
  bubbles to score points. Coloured bubbles bounce around the game area and the
  player(s) must burst all the red, blue and green bubbles to advance to the
  next area. This apparently simple task is complicated by a number of things.

  First, when hit the bubbles break into two smaller bubbles. When these are hit they break into two smaller bubbles, and so on, and so on until the player hits the smallest bubble which disappears.

  Then there are hazard bubbles which drop fire onto the player if they don't get out of they way, and the blue bubbles which split when hit but can never be killed. Oh, and any time the player makes contact with a bubble they lose a life.

  The game has sound, a high score table, and can be played with either a keyboard or a joystick. In a two player game one player must use the keyboard and the other must use the joystick.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5af3f17cf54f73f9ff7f5926d9d378afdab5a24d.png
  - https://cdn.dos.zone/original/2X/e/e6cd1d95c034156fe8cf30c5fed4cc4808f6a908.png
---
