---
layout: page.njk
title: Bubble Blobb | 🕹️Play Bubble Blobb Online | Download js-dos bundle
ogDescription: Want to Play Bubble Blobb? 🕹 On Dos Zone you can play Bubble
  Blobb OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bubble Blobb
permalink: /bubble-blobb-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbubble-blobb.jsdos
description: Bubble Blobb is a German action game, similar to Crillion. It is
  like Breakout except there is no paddle and the player controls the ball
  directly. The ball will always bounce up and down and the player only controls
  its left and right movement. When the ball hits a block of the same color one
  or two times they are removed. The ball will change color when hitting certain
  "color changer" blocks. The object of the game is to remove blocks to clear a
  path to the exit to move to the next level. There are also rainbow blocks that
  cause the ball to randomly change color for a while. Special blocks, marked
  with a question mark, cause the level to change when hit. Usually special
  blocks will remove walls or reveal other blocks such as the exit. Movable
  blocks, marked with arrows, can be pushed around by the ball, but only when
  the ball is the same color. There are also deadly blocks; when hit the player
  loses a life.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c971d85fc8c80dea3f7b64261b4d3afb09107ac6.png
  - https://cdn.dos.zone/original/2X/e/e9c9a986c799a46f0b720a39ebcf3dd303808959.png
---
