---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bubble-blobb-ii.jsdos
layout: page.njk
ogDescription: Bubble Blobb II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bubble Blobb
  II on mobile. On DOS.Zone Bubble Blobb II available to play for free without registration.
permalink: /bubble-blobb-ii-1994/
screenshots:
- https://cdn.dos.zone/original/2X/1/1e8c41788d284cda04b6609cd07492fe040d363d.png
- https://cdn.dos.zone/original/2X/2/231ab7bea7a4cc7cd5d5dbfbcd2c55994ff8775a.png
shortTitle: Bubble Blobb II
title: Bubble Blobb II | 🕹️Play Bubble Blobb II Online | DOS game in browser

---
