---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/buddyros.jsdos
layout: page.njk
ogDescription: Buddyros is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Buddyros on
  mobile. On DOS.Zone Buddyros available to play for free without registration.
permalink: /buddyros-1995/
screenshots:
- https://cdn.dos.zone/original/2X/7/7bf2c60a1b90c1fb41443512f3a8f2b43d4b4d31.png
- https://cdn.dos.zone/original/2X/7/7143ffbc0d859a5c90f24c2878fbefec4794da80.png
shortTitle: Buddyros
title: Buddyros | 🕹️Play Buddyros Online | DOS game in browser

---
