---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/budget-baseball.jsdos
layout: page.njk
ogDescription: Budget Baseball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Budget Baseball
  on mobile. On DOS.Zone Budget Baseball available to play for free without registration.
permalink: /budget-baseball-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/403b7edac25cd095294ecbb28b2ae2a71004a49.png
- https://cdn.dos.zone/original/2X/6/65ce445b466b2e7ab8a6d8d21cfcd23a21aa543d.png
shortTitle: Budget Baseball
title: Budget Baseball | 🕹️Play Budget Baseball Online | DOS game in browser

---
