---
layout: page.njk
title: Buggy Ranger | 🕹️Play Buggy Ranger Online | Download js-dos bundle
ogDescription: Want to Play Buggy Ranger? 🕹 On Dos Zone you can play Buggy
  Ranger OR donwload js-dos bundle for free. Start playing now!
shortTitle: Buggy Ranger
permalink: /buggy-ranger-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbuggy-ranger.jsdos
description: Year 2019, in a post-apocalyptic world, we must fight versus the
  evil machines that destroy our planet... This is the plot of Buggy Ranger, a
  side-scrolling shoot'em up, very similar to the "jeep stage" of one of the
  most famous titles of Dinamic, Army Moves. The main difference, is that in
  this case, the turret of our vehicle, can fly and shoot in the air at the
  enemies.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e88db93df39cce55ff1aa70ad779243c44538a7d.png
  - https://cdn.dos.zone/original/2X/e/e3eb7e218853df347b3068f76e5b5887fe02c3bf.png
---
