---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bugs___.jsdos
layout: page.njk
ogDescription: Bugs! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Bugs! on mobile.
  On DOS.Zone Bugs! available to play for free without registration.
permalink: /bugs-1982/
screenshots:
- https://cdn.dos.zone/original/2X/f/feddb7c46bd5892471e54db20efb0131ff5fdac2.png
- https://cdn.dos.zone/original/2X/a/a31da3cb57574db08fd40b7771a3617529c6c98d.png
shortTitle: Bugs!
title: Bugs! | 🕹️Play Bugs! Online | DOS game in browser

---
