---
layout: page.njk
title: Bugs! | 🕹️Play Bugs! Online | Download js-dos bundle
ogDescription: Want to Play Bugs!? 🕹 On Dos Zone you can play Bugs! OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Bugs!
permalink: /bugs-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbugs___.jsdos
description: "Bugs! is a free, text-mode clone of Centipede written in Pascal
  (some versions include the source). A horde of insects is invading, and the
  only cure is an inexhaustible supply of ASCII arrows, fired from a gun that
  can be moved throughout a narrow band at the bottom of the playfield. An
  assortment of nasty bugs infests the mushroom-littered field: the segmented
  centipede, which descends from the top, and whose path depends on the
  placement of mushrooms; the spider, bouncing along the bottom and consuming
  the scattered fungi; the flea, which drops by to deposit new growths; and the
  scorpion, which poisons any mushroom in its path.  Mushrooms may be used as
  cover, or shot away to control enemy movement and clear a line of fire.  When
  poisoned, they'll knock the centipede segments down towards the bottom. Bugs!
  differs from the original by modifying some details of enemy behavior, but
  mainly by giving the player only a single life: one close encounter with a bug
  spells the end of our brave exterminator."
screenshots:
  - https://cdn.dos.zone/original/2X/f/feddb7c46bd5892471e54db20efb0131ff5fdac2.png
  - https://cdn.dos.zone/original/2X/a/a31da3cb57574db08fd40b7771a3617529c6c98d.png
---
