---
layout: page.njk
title: Buick Dimensions | 🕹️Play Buick Dimensions Online | Download js-dos bundle
ogDescription: Want to Play Buick Dimensions? 🕹 On Dos Zone you can play Buick
  Dimensions OR donwload js-dos bundle for free. Start playing now!
shortTitle: Buick Dimensions
permalink: /buick-dimensions-dec-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbuick-dimensions.jsdos
description: >-
  Buick Dimensions is a piece of automotive advertisement software that contains
  within it a nine hole golfing game based on the Buick Classic at the
  Westchester Country Club.

  The game is entirely keyboard controlled using left/right arrow keys to aim, up/down keys to change clubs and a two-touch power bar system to control the shot.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e09b76da2cb13fe9fee56eb741ea85be4cdeb0f1.png
  - https://cdn.dos.zone/original/2X/a/a40563b8172b74e5c489427572da5cdec3a31891.png
---
