---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/buick-dimensions.jsdos
layout: page.njk
ogDescription: Buick Dimensions is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Buick Dimensions
  on mobile. On DOS.Zone Buick Dimensions available to play for free without registration.
permalink: /buick-dimensions-dec-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e09b76da2cb13fe9fee56eb741ea85be4cdeb0f1.png
- https://cdn.dos.zone/original/2X/a/a40563b8172b74e5c489427572da5cdec3a31891.png
shortTitle: Buick Dimensions
title: Buick Dimensions | 🕹️Play Buick Dimensions Online | DOS game in browser

---
