---
bundles:
- lang: EN/DE
  mobile: true
  title: ''
  type: js
  url: custom/dos/BCOLDPMI.jsdos
layout: page.njk
ogDescription: Bulls and Cows oder Cows and Bulls ist ein Logikspiel für zwei Spieler. Now is available
  to play in browser. With virtual mobile controls you also can play in Bulls and Cows
  on mobile. On DOS.Zone Bulls and Cows available to play for free without registration.
permalink: /bulls-and-cows/
screenshots:
- https://cdn.dos.zone/original/BC_D_Spiel_HG2.png
shortTitle: Bulls and Cows
title: Bulls and Cows | 🕹️Play Bulls and Cows Online | DOS game in browser
---
