---
layout: page.njk
title: Bullseye | 🕹️Play Bullseye Online | Download js-dos bundle
ogDescription: Want to Play Bullseye? 🕹 On Dos Zone you can play Bullseye OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Bullseye
permalink: /bullseye-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbullseye_.jsdos
description: "Bullseye is a simple text-based simulation of the perennial pub
  game of Darts, for up to 20(!) players.  The target board is divided into
  zones of 10, 20, 30 and 40 points, and each player in turn selects a move:
  fast overarm, controlled overarm, or underarm - the type of throw dictates the
  probable outcome.  Once all throws have been scored, a new round begins, until
  one or more players win by reaching 200 points."
screenshots:
  - https://cdn.dos.zone/original/2X/4/431276ee1d993630986d1b969c4bca2e03722bde.png
  - https://cdn.dos.zone/original/2X/d/d973beb370b6152ec088b0907eba0eb92a545726.png
---
