---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bundesliga-manager.jsdos
layout: page.njk
ogDescription: Bundesliga Manager is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Bundesliga Manager on mobile. On DOS.Zone Bundesliga Manager available to play for
  free without registration.
permalink: /bundesliga-manager-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/93d14a96fe98001ced5a47ac6213355ac17e8e95.png
- https://cdn.dos.zone/original/2X/b/b016fc92492e52546a1eae128447ba993deba3c5.png
shortTitle: Bundesliga Manager
title: Bundesliga Manager | 🕹️Play Bundesliga Manager Online | DOS game in browser

---
