---
layout: page.njk
title: Bundesliga Manager | 🕹️Play Bundesliga Manager Online | Download js-dos bundle
ogDescription: Want to Play Bundesliga Manager? 🕹 On Dos Zone you can play
  Bundesliga Manager OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bundesliga Manager
permalink: /bundesliga-manager-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbundesliga-manager.jsdos
description: Bundesliga Manager is a managerial simulator for a team in the top
  three German football leagues (Bundesliga, Zweite Liga or Regionalliga). The
  game contains the real player and team names of that time. The player can
  handle most of the relevant aspects of a soccer team both economic and
  sport-wise. The user has to trade players, organize the training, handle the
  team's line-ups and tactics, negotiate contracts with players and sponsors,
  and expand the team's stadium. The player follows his team's games as a small
  white dot moving horizontally over a green rectangle, simulating a ball moving
  on a soccer field. Up to four players can play simultaneously in hot-seat
  mode. Bundesliga Manager was the first title in Software 2000's six game
  series of football management games.
screenshots:
  - https://cdn.dos.zone/original/2X/9/93d14a96fe98001ced5a47ac6213355ac17e8e95.png
  - https://cdn.dos.zone/original/2X/b/b016fc92492e52546a1eae128447ba993deba3c5.png
---
