---
layout: page.njk
title: Bunny Blast | 🕹️Play Bunny Blast Online | Download js-dos bundle
ogDescription: Want to Play Bunny Blast? 🕹 On Dos Zone you can play Bunny Blast
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bunny Blast
permalink: /bunny-blast-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbunny-blast.jsdos
description: Bunny Blast is a single player, freeware, shooter. The game is very
  simple which is understandable as it was written as a learning exercise.
  Basically the game is Whac-A-Mole. Pink rabbits appear from the bottom of the
  screen and the player uses the mouse to shoot them. There are seven levels all
  with different names and identical game play.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dfc26bbf0983789ea4a378da661bf464f7cb21de.png
  - https://cdn.dos.zone/original/2X/6/647648e4193e7b590a6fadd1a5e83c2e1f89e1b2.png
---
