---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bunny-blast.jsdos
layout: page.njk
ogDescription: Bunny Blast is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bunny Blast
  on mobile. On DOS.Zone Bunny Blast available to play for free without registration.
permalink: /bunny-blast-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/dfc26bbf0983789ea4a378da661bf464f7cb21de.png
- https://cdn.dos.zone/original/2X/6/647648e4193e7b590a6fadd1a5e83c2e1f89e1b2.png
shortTitle: Bunny Blast
title: Bunny Blast | 🕹️Play Bunny Blast Online | DOS game in browser

---
