---
layout: page.njk
title: Bureaucracy | 🕹️Play Bureaucracy Online | Download js-dos bundle
ogDescription: Want to Play Bureaucracy? 🕹 On Dos Zone you can play Bureaucracy
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Bureaucracy
permalink: /bureaucracy-mar-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbureaucracy.jsdos
description: Bureaucracy is a text adventure game that describes the
  misadventures of a person who has recently moved to a new apartment and begins
  to fall victim to various bureaucratic procedures that always go wrong. He
  can't receive his mail, access his bank account, or generally lead a normal
  life; all his activities are impeded by needless and confusing hurdles. In
  order to retrieve the lost mail and put his life back on track, the
  protagonist will have to meet exotic characters and perform various tasks
  while being constantly threatened by various bureaucratic occurrences. The
  gameplay involves typing commands composed out of verb and object
  combinations, used to interact with the game world and solve puzzles. In
  addition, a special "blood pressure" meter will gradually fill itself the more
  the protagonist is bothered by bureaucratic annoyances. Once this meter is
  completely full, the player character suffers an aneurysm, and the game ends.
screenshots:
  - https://cdn.dos.zone/original/2X/1/12229848dd6bed38faaf9e39fd9a56d1858e4902.png
  - https://cdn.dos.zone/original/2X/4/4562e5618c54739771749f222e217aa7227059f3.png
---
