---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/burntime.jsdos
layout: page.njk
ogDescription: Burntime is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Burntime on
  mobile. On DOS.Zone Burntime available to play for free without registration.
permalink: /burntime-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/557b293b00d7c5e3395b9ce8921e96e68fcd4ef3.gif
- https://cdn.dos.zone/original/2X/6/68735b9c8fcf124cf16659dec84f6ba04a930820.gif
shortTitle: Burntime
title: Burntime | 🕹️Play Burntime Online | DOS game in browser

---
