---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bush-buck-global-treasure-hunter.jsdos
layout: page.njk
ogDescription: 'Bush Buck: Global Treasure Hunter is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Bush Buck: Global Treasure Hunter on mobile. On DOS.Zone Bush Buck:
  Global Treasure Hunter available to play for free without registration.'
permalink: /bush-buck-global-treasure-hunter-1991/
screenshots:
- https://cdn.dos.zone/original/2X/a/a5993eb3bff55e27c485866e48fa7acbb7e4ec8e.png
- https://cdn.dos.zone/original/2X/b/bebd5e85239d91c9819ddb0beff0942793929aae.png
shortTitle: 'Bush Buck: Global Treasure Hunter'
title: 'Bush Buck: Global Treasure Hunter | 🕹️Play Bush Buck: Global Treasure Hunter
  Online | DOS game in browser'

---
