---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bust-a-move_.jsdos
layout: page.njk
ogDescription: Bust-A-Move is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Bust-A-Move
  on mobile. On DOS.Zone Bust-A-Move available to play for free without registration.
permalink: /bust-a-move-1997/
screenshots:
- https://cdn.dos.zone/original/2X/c/c7f30645db015b2b33051b0f34955fa07ff07835.png
- https://cdn.dos.zone/original/2X/b/b2d9f19649a4631d984e81455ca418c7c5f0784.png
shortTitle: Bust-A-Move
title: Bust-A-Move | 🕹️Play Bust-A-Move Online | DOS game in browser

---
