---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/butt-slam.jsdos
layout: page.njk
ogDescription: Butt Slam!!! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Butt Slam!!!
  on mobile. On DOS.Zone Butt Slam!!! available to play for free without registration.
permalink: /butt-slam-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8fc44d8a425f26dd026d467bd64991e6e422b0af.png
- https://cdn.dos.zone/original/2X/c/c87aabedb8112242c52e271dc7493f0703697516.png
shortTitle: Butt Slam!!!
title: Butt Slam!!! | 🕹️Play Butt Slam!!! Online | DOS game in browser

---
