---
layout: page.njk
title: Cadaver | 🕹️Play Cadaver Online | Download js-dos bundle
ogDescription: Want to Play Cadaver? 🕹 On Dos Zone you can play Cadaver OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Cadaver
permalink: /cadaver-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcadaver.jsdos
description: "Cadaver is an isometric 3D arcade adventure, played using a
  joystick and keys. In the person of the thief Karadoc, the player sets out to
  raid the five stories of the castle Wulf. Legend has it that it’s filled with
  treasure. What the legend didn’t say is that the Castle is also filled with
  deadly traps, riddles and monsters. Surviving is not only a question of
  defending your life. Karadoc needs to explore the murky dungeons and eerie
  corridors to prove his wit in collecting and interacting with objects, putting
  them to the right use, mastering spells and solving tasks posed by the gods.
  Quick reflexes and jumping skill wouldn’t hurt either. The ultimate objective
  is to kill the necromancer, Dianos. Karadoc's basic skills include the ability
  to walk, jump, climb stairs and fight monsters. There are three major modes of
  controlling the dwarf and his actions: basic movement, interacting with
  objects via icons and the rucksack."
screenshots:
  - https://cdn.dos.zone/original/2X/6/678c78e5b503f0345a9e22e9864dd959d0115b56.gif
  - https://cdn.dos.zone/original/2X/7/783b4a6f585c45ba3f2e63be3826309289515179.gif
---
