---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cadaver.jsdos
layout: page.njk
ogDescription: Cadaver is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cadaver on
  mobile. On DOS.Zone Cadaver available to play for free without registration.
permalink: /cadaver-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/678c78e5b503f0345a9e22e9864dd959d0115b56.gif
- https://cdn.dos.zone/original/2X/7/783b4a6f585c45ba3f2e63be3826309289515179.gif
shortTitle: Cadaver
title: Cadaver | 🕹️Play Cadaver Online | DOS game in browser

---
