---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/calamari-cubes.jsdos
layout: page.njk
ogDescription: Calamari Cubes is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Calamari Cubes
  on mobile. On DOS.Zone Calamari Cubes available to play for free without registration.
permalink: /calamari-cubes-oct-14-1997/
screenshots:
- https://cdn.dos.zone/original/2X/e/ef478ac8a5837acbfa720b409e15974ba2f307b7.jpeg
- https://cdn.dos.zone/original/2X/a/a80b718c7bd667a49d36c11114e1eb91a7d8d13.jpeg
shortTitle: Calamari Cubes
title: Calamari Cubes | 🕹️Play Calamari Cubes Online | DOS game in browser

---
