---
layout: page.njk
title: Campaign | 🕹️Play Campaign Online | Download js-dos bundle
ogDescription: Want to Play Campaign? 🕹 On Dos Zone you can play Campaign OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Campaign
permalink: /campaign-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcampaign.jsdos
description: "Campaign covers some of the most important battles of the Second
  World War, from Sahara to the Russian campaign, and from the Battle of the
  Bulge to D-Day. A map editor allowing users to modify existing scenarios or to
  create new ones is included. You can take involvement at many levels of a
  battle. You can take direct control of either driving or gunning a tank,
  direct groups of 16 tanks and their support units, and create a combined
  overall strategy factoring in supply routes. Over 150 different vehicles from
  both sides are featured. It's a hard-core wargame that will like mostly to the
  \"aficionados\" of the genre. The game package includes a lot of extras: a
  thick \"Equipment factfinder\" manual (170 pages), 2 huge posters, replicas of
  WW2 postcards and of a newspaper."
screenshots:
  - https://cdn.dos.zone/original/2X/a/afa31cf3b3eceb996494f38dafcad7af1cbae1be.gif
  - https://cdn.dos.zone/original/2X/2/265bdeafda2246b7923ab439c70a4c19b865bd5.gif
---
