---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/capone.jsdos
layout: page.njk
ogDescription: Capone is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Capone on mobile.
  On DOS.Zone Capone available to play for free without registration.
permalink: /capone-1988/
screenshots:
- https://cdn.dos.zone/original/2X/1/1e3d4a7d12c9aadeb53ce5c8bb41f9a25b2b9739.gif
- https://cdn.dos.zone/original/2X/5/5f6cf5c0ed1c61513392ce34d903840de3499cb1.png
shortTitle: Capone
title: Capone | 🕹️Play Capone Online | DOS game in browser

---
