---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/captain-spleen.jsdos
layout: page.njk
ogDescription: Captain Spleen is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Captain Spleen
  on mobile. On DOS.Zone Captain Spleen available to play for free without registration.
permalink: /captain-spleen-jun-14-1996/
screenshots:
- https://cdn.dos.zone/original/2X/f/fc5482d4f0d4be0d4781a0eba34ef41ea75a2c16.png
- https://cdn.dos.zone/original/2X/2/2b6ebdf16e06db86c4165f3279e38b3e0553f3e4.png
shortTitle: Captain Spleen
title: Captain Spleen | 🕹️Play Captain Spleen Online | DOS game in browser

---
