---
layout: page.njk
title: Captain Spleen | 🕹️Play Captain Spleen Online | Download js-dos bundle
ogDescription: Want to Play Captain Spleen? 🕹 On Dos Zone you can play Captain
  Spleen OR donwload js-dos bundle for free. Start playing now!
shortTitle: Captain Spleen
permalink: /captain-spleen-jun-14-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcaptain-spleen.jsdos
description: "Captain Spleen is a planet-hopping comedy sci-fi adventure game.
  It uses keyboard input, but not for typing commands, only for selecting from
  option menus. The PC speaker is used for sound. In the introduction, we learn
  that our hero Captain Spleen is in debt and needs to pay off his loans. The
  starting location is McScotty's, a fast-food space station. Once we leave,
  there is a main menu of options: we can choose where to go to next from a list
  of seven destinations, change the speed that Captain Spleen's ship is
  travelling at, see a listing of current cargo, communicate with any nearby
  ships, activate weapons systems, and save/load the game."
screenshots:
  - https://cdn.dos.zone/original/2X/f/fc5482d4f0d4be0d4781a0eba34ef41ea75a2c16.png
  - https://cdn.dos.zone/original/2X/2/2b6ebdf16e06db86c4165f3279e38b3e0553f3e4.png
---
