---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/captain-spleen-2.jsdos
layout: page.njk
ogDescription: Captain Spleen 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Captain Spleen
  2 on mobile. On DOS.Zone Captain Spleen 2 available to play for free without registration.
permalink: /captain-spleen-2-1997/
screenshots:
- https://cdn.dos.zone/original/2X/3/3049863a54f11c913702a06b5648f41ff2637db6.png
- https://cdn.dos.zone/original/2X/a/af4037d5313c20e4b3473cd6250303bd8f8e5680.png
shortTitle: Captain Spleen 2
title: Captain Spleen 2 | 🕹️Play Captain Spleen 2 Online | DOS game in browser

---
