---
layout: page.njk
title: Captain Blood | 🕹️Play Captain Blood Online | Download js-dos bundle
ogDescription: Want to Play Captain Blood? 🕹 On Dos Zone you can play Captain
  Blood OR donwload js-dos bundle for free. Start playing now!
shortTitle: Captain Blood
permalink: /captain-blood-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcaptain-blood.jsdos
description: Bob Morlock is a game designer who has just developed a new sci-fi
  video game set in outer space and alien worlds. While testing the product
  Morlock inexplicably finds himself in the spaceship within the game. A
  hyperspace accident clones him thirty times. Each of the clones departs,
  taking with him a portion of a vital fluid that sustains Morlock's life.
  Assuming the persona of the brave Captain Blood, the programmer tracks down
  and disintegrated twenty-five clones, spending 800 years to achieve that goal.
  However, five clones still remain, hidden somewhere in the depths of the
  galaxy. Captain Blood must find these clones and destroy them before he loses
  his own life. Captain Blood is an open-ended first-person adventure game. Much
  of the game consists of traveling to various planets and communicating with
  the aliens there to gather clues concerning the clones' whereabouts. The
  player commands a biological ship called Ark, and must launch probes onto
  planet surfaces, successfully navigating them through the landscape to locate
  an alien. The Ark can also scan planets and sometimes teleport aliens to
  different locations. Conversations with the aliens are conducted via the
  so-called UPCOM interface. Over 150 icons are available to represent different
  concepts. Since each alien speaks his own language, the player must input
  various combinations of the icons to be able to understand the alien and
  communicate with him. Successfully concluding conversations may offer clues or
  unlock other planets. The protagonist's health deteriorates over the time,
  which affects the game's interface by making it more difficult to control.
  These symptoms may be reverted by disintegrating a clone.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b43b881c74a3a1a8d25da3918f3b6c1882cad2e.png
  - https://cdn.dos.zone/original/2X/c/c04cf6853a8d892036707c27a7ca543566ac81e1.gif
---
