---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/carl-lewis-go-for-the-gold-.jsdos
layout: page.njk
ogDescription: Carl Lewis' Go for the Gold  is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Carl Lewis' Go for the Gold  on mobile. On DOS.Zone Carl Lewis' Go for the Gold  available
  to play for free without registration.
permalink: /carl-lewis-go-for-the-gold-1990/
screenshots:
- https://cdn.dos.zone/original/2X/1/1abb84493234fa8887ab74c03b8d6e939450dffb.png
- https://cdn.dos.zone/original/2X/6/679a9545b9e4cf5297f562e133fe69a6703bbd66.png
shortTitle: 'Carl Lewis'' Go for the Gold '
title: Carl Lewis' Go for the Gold  | 🕹️Play Carl Lewis' Go for the Gold  Online |
  DOS game in browser

---
