---
layout: page.njk
title: Carnage | 🕹️Play Carnage Online | Download js-dos bundle
ogDescription: Want to Play Carnage? 🕹 On Dos Zone you can play Carnage OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Carnage
permalink: /carnage-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcarnage.jsdos
description: In Carnage you race in a top-down view where every car goes with
  the same speed. And if you want to see the next track you must win your race;
  if you can't, unfortunately the game is over! In total there are 18 tracks.
  After every race you earn 800 pounds, and go to a shop where you can buy
  necessary things for your car like nitros and mines, or equipments for
  upgrade.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cc28a7db827071cd491b048b7e97a0c77f414d83.png
  - https://cdn.dos.zone/original/2X/2/242e23faa3795d6f10f7e6c369ff721f5581603f.gif
---
