---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/carnage.jsdos
layout: page.njk
ogDescription: Carnage is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Carnage on
  mobile. On DOS.Zone Carnage available to play for free without registration.
permalink: /carnage-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/cc28a7db827071cd491b048b7e97a0c77f414d83.png
- https://cdn.dos.zone/original/2X/2/242e23faa3795d6f10f7e6c369ff721f5581603f.gif
shortTitle: Carnage
title: Carnage | 🕹️Play Carnage Online | DOS game in browser

---
