---
layout: page.njk
title: Carriers at War | 🕹️Play Carriers at War Online | Download js-dos bundle
ogDescription: Want to Play Carriers at War? 🕹 On Dos Zone you can play
  Carriers at War OR donwload js-dos bundle for free. Start playing now!
shortTitle: Carriers at War
permalink: /carriers-at-war-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcarriers-at-war.jsdos
description: Carriers at War is a remake of the original for the Apple II and
  Commodore 64. The game is a strategic war simulation (wargame) in which the
  player takes on the role of a task force commander in control of Fleet Carrier
  Air/Naval Operations in the Pacific from 1941-1945. The player can reenact six
  crucial carrier battles from that era including Pearl Harbor, Coral Sea,
  Midway, Eastern Solomons, Santa Cruz and the Great Marianas Turkey Shoot. The
  game features completely new graphics including a menu overhaul to make more
  use of a windowed interface. Most important in the graphic overhaul is that
  combat is now presented in animated graphics. Gameplay has also changed with
  new features including fire damage on ships, which can be repaired, but can
  also easily spread to do more harm (and this too is graphically represented).
  More airplanes can be commanded and now individually inspected instead of in
  squadrons. The AI has also been refined to play more like a human player with
  imperfect information available to it.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7840e740ecc003ddd894e853a395e50f7a1c88af.gif
  - https://cdn.dos.zone/original/2X/2/2fc71635ddb11276c51b645dd6ae0e226447cc2f.gif
---
