---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/carriers-at-war.jsdos
layout: page.njk
ogDescription: Carriers at War is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Carriers at
  War on mobile. On DOS.Zone Carriers at War available to play for free without registration.
permalink: /carriers-at-war-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/7840e740ecc003ddd894e853a395e50f7a1c88af.gif
- https://cdn.dos.zone/original/2X/2/2fc71635ddb11276c51b645dd6ae0e226447cc2f.gif
shortTitle: Carriers at War
title: Carriers at War | 🕹️Play Carriers at War Online | DOS game in browser

---
