---
layout: page.njk
title: Carriers at War II | 🕹️Play Carriers at War II Online | Download js-dos bundle
ogDescription: Want to Play Carriers at War II? 🕹 On Dos Zone you can play
  Carriers at War II OR donwload js-dos bundle for free. Start playing now!
shortTitle: Carriers at War II
permalink: /carriers-at-war-ii-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcarriers-at-war-ii.jsdos
description: "Carriers at War II: Fleet Carrier Operations in Southeast Asia
  1936-1946, is the follow up to Strategic Studies Group's 1991 game Carriers at
  War. The game covers 10 crucial years in the development of air/naval warfare
  which includes scenarios for the Java Sea, Port Darwin, Leyte Gulf and
  Okinawa."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7fa2bb44b227e03cffd1c96af45c451752f59ab.gif
  - https://cdn.dos.zone/original/2X/e/ef471008347ca96dbc60893a442d72aca29b7bbf.gif
---
