---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/carriers-at-war-ii.jsdos
layout: page.njk
ogDescription: Carriers at War II is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Carriers at War II on mobile. On DOS.Zone Carriers at War II available to play for
  free without registration.
permalink: /carriers-at-war-ii-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/7fa2bb44b227e03cffd1c96af45c451752f59ab.gif
- https://cdn.dos.zone/original/2X/e/ef471008347ca96dbc60893a442d72aca29b7bbf.gif
shortTitle: Carriers at War II
title: Carriers at War II | 🕹️Play Carriers at War II Online | DOS game in browser

---
