---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/castaway-the-ordeal-begins.jsdos
layout: page.njk
ogDescription: 'Castaway: The Ordeal Begins is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Castaway: The Ordeal Begins on mobile. On DOS.Zone Castaway: The Ordeal Begins
  available to play for free without registration.'
permalink: /castaway-the-ordeal-begins-1995/
screenshots:
- https://cdn.dos.zone/original/2X/1/199959e6acbeb1441170c2bcc5bc650746859ed0.gif
- https://cdn.dos.zone/original/2X/5/52b9d7c599c57492d5e68bfec256149a1a20431a.gif
shortTitle: 'Castaway: The Ordeal Begins'
title: 'Castaway: The Ordeal Begins | 🕹️Play Castaway: The Ordeal Begins Online |
  DOS game in browser'

---
