---
layout: page.njk
title: Castle Adventure | 🕹️Play Castle Adventure Online | Download js-dos bundle
ogDescription: Want to Play Castle Adventure? 🕹 On Dos Zone you can play Castle
  Adventure OR donwload js-dos bundle for free. Start playing now!
shortTitle: Castle Adventure
permalink: /castle-adventure-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcastle-adventure.jsdos
description: This game is like a cross between a Kroz game and a text adventure
  -- the player moves through a castle using the arrow keys, picking up
  equipment and battling monsters in real-time along the way; however, at any
  time, it is also possible to type simple commands into the game's text parser,
  allowing a greater variety of actions and more complex solutions to
  problems.  The object of the game is to escape from the 83-room castle while
  collecting as many of the thirteen available treasures as possible.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ead9d732d68d64180011f5cc56fa743f91402a9.png
  - https://cdn.dos.zone/original/2X/1/15903f0f5de8e2a3debfd732e54250fd47034a39.png
---
