---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cavequest.jsdos
layout: page.njk
ogDescription: Cavequest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cavequest
  on mobile. On DOS.Zone Cavequest available to play for free without registration.
permalink: /cavequest-1985/
screenshots:
- https://cdn.dos.zone/original/2X/e/ea53dac79ead0e8988eb14820e09d52e4c024d35.png
- https://cdn.dos.zone/original/2X/c/c60d70393f396e5d04555209c2c5262295b83a18.png
shortTitle: Cavequest
title: Cavequest | 🕹️Play Cavequest Online | DOS game in browser

---
