---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/caverns-of-kroz.jsdos
layout: page.njk
ogDescription: Caverns of Kroz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Caverns of
  Kroz on mobile. On DOS.Zone Caverns of Kroz available to play for free without registration.
permalink: /caverns-of-kroz-sep-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/bc5cfe0999d5db32b72050f0b232d587353066b9.gif
- https://cdn.dos.zone/original/2X/8/86fe8e70e64fbfed2b146675439fcdd3cdec6f29.png
shortTitle: Caverns of Kroz
title: Caverns of Kroz | 🕹️Play Caverns of Kroz Online | DOS game in browser

---
