---
layout: page.njk
title: Cavequest | 🕹️Play Cavequest Online | Download js-dos bundle
ogDescription: Want to Play Cavequest? 🕹 On Dos Zone you can play Cavequest OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Cavequest
permalink: /cavequest-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcavequest.jsdos
description: Cavequest is an action-oriented fantasy role-playing game. Zeus has
  chosen you to leave the Land of the Gods and become mortal on Earth.  Before
  beginning your quest, you are given life points to configure your
  intelligence, charisma, strength, dexterity, stamina, and wizard skills.
  Unlike some traditional role-playing games of the time, you have complete
  control over your attributes. Once you have configured your character, you
  travel from the Land of the Gods to Earth. After outfitting your equipment at
  the Armory and magical items at the Witches Lair, you choose one of the five
  levels of the cave. Life points are gained by killing monsters and collecting
  treasures in caves. They can be used to enhance your character's attributes or
  be converted to silver for additional purchases. While in the caves, you will
  encounter skeletons, giant bats, giant bugs, giant leeches, giant rats, great
  slimes, lizardmen, antmen, giant squids, and zombies. Be careful to not do too
  much at one time, or else you may drain your stamina and become too tired to
  hit the monsters!
screenshots:
  - https://cdn.dos.zone/original/2X/e/ea53dac79ead0e8988eb14820e09d52e4c024d35.png
  - https://cdn.dos.zone/original/2X/c/c60d70393f396e5d04555209c2c5262295b83a18.png
---
