---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/centerfold-squares.jsdos
layout: page.njk
ogDescription: Centerfold Squares is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Centerfold Squares on mobile. On DOS.Zone Centerfold Squares available to play for
  free without registration.
permalink: /centerfold-squares-1988/
screenshots:
- https://cdn.dos.zone/original/2X/6/67a748389b6fdd0f508abfa20b6e46d7f467823.gif
- https://cdn.dos.zone/original/2X/3/31e3ab21fb086cad69ac75aac2b7898b8c659eca.gif
shortTitle: Centerfold Squares
title: Centerfold Squares | 🕹️Play Centerfold Squares Online | DOS game in browser

---
