---
layout: page.njk
title: Centerfold Squares | 🕹️Play Centerfold Squares Online | Download js-dos bundle
ogDescription: Want to Play Centerfold Squares? 🕹 On Dos Zone you can play
  Centerfold Squares OR donwload js-dos bundle for free. Start playing now!
shortTitle: Centerfold Squares
permalink: /centerfold-squares-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcenterfold-squares.jsdos
description: An adult puzzle game.  Players compete against the computer with
  the goal of occupying the squares covering a digitized picture of a
  centerfold.  When you acquire a square, it disappears, revealing more of the
  picture.  Includes a large variety of pictures, with numerous difficulty
  levels.
screenshots:
  - https://cdn.dos.zone/original/2X/6/67a748389b6fdd0f508abfa20b6e46d7f467823.gif
  - https://cdn.dos.zone/original/2X/3/31e3ab21fb086cad69ac75aac2b7898b8c659eca.gif
---
