---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/centipede_____.jsdos
layout: page.njk
ogDescription: Centipede is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Centipede
  on mobile. On DOS.Zone Centipede available to play for free without registration.
permalink: /centipede-1983/
screenshots:
- https://cdn.dos.zone/original/2X/1/12f760e36811487facb261a81a8648a5ed3ccd23.png
- https://cdn.dos.zone/original/2X/5/52a9d2efaabda6d92849722b08d20220e6190b76.png
shortTitle: Centipede
title: Centipede | 🕹️Play Centipede Online | DOS game in browser

---
