---
layout: page.njk
title: Center Court Tennis | 🕹️Play Center Court Tennis Online | Download
  js-dos bundle
ogDescription: Want to Play Center Court Tennis? 🕹 On Dos Zone you can play
  Center Court Tennis OR donwload js-dos bundle for free. Start playing now!
shortTitle: Center Court Tennis
permalink: /center-court-tennis-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcenter-court-tennis_.jsdos
description: "A slightly isometric top-down tennis game between two players,
  either computer or human. Players can choose three types of field to play on:
  grass, dirt or clay as well as three difficulty settings. Players can create a
  new character and save its statistics to track its progress. The game features
  the standard rules of tennis, where a ball must be hit over the net into the
  opposing player's area of the court."
screenshots:
  - https://cdn.dos.zone/original/2X/b/b6ac63fab83f2da94351c351a771faf27dbcf034.png
  - https://cdn.dos.zone/original/2X/c/c7f3b50f4cbe92a44086238e195f89527919af82.png
---
