---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chain-reaction____.jsdos
layout: page.njk
ogDescription: Chain Reaction is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Chain Reaction
  on mobile. On DOS.Zone Chain Reaction available to play for free without registration.
permalink: /chain-reaction-aug-14-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/498aea8f14e55f5c5216515216bf6904b81f8089.png
- https://cdn.dos.zone/original/2X/8/8c72f263db99ccd9f35cf1f724a39ce70686ca33.png
shortTitle: Chain Reaction
title: Chain Reaction | 🕹️Play Chain Reaction Online | DOS game in browser

---
