---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/champ-ms-pacman.jsdos
layout: page.njk
ogDescription: CHAMP Ms. Pacman is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in CHAMP Ms.
  Pacman on mobile. On DOS.Zone CHAMP Ms. Pacman available to play for free without
  registration.
permalink: /champ-ms-pacman-dec-04-1994/
screenshots:
- https://cdn.dos.zone/original/2X/2/20923a604502a381a53252ab139c43caa83f1ca3.png
- https://cdn.dos.zone/original/2X/c/c9626acb4f6c6632b8e6ec3d3de6194e5de2ded5.png
shortTitle: CHAMP Ms. Pacman
title: CHAMP Ms. Pacman | 🕹️Play CHAMP Ms. Pacman Online | DOS game in browser

---
