---
layout: page.njk
title: Champ Centipede | 🕹️Play Champ Centipede Online | Download js-dos bundle
ogDescription: Want to Play Champ Centipede? 🕹 On Dos Zone you can play Champ
  Centipede OR donwload js-dos bundle for free. Start playing now!
shortTitle: Champ Centipede
permalink: /champ-centipede-oct-12-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchamp-centipede.jsdos
description: Champ Centipede is a variant of Atari's Centipede. One or two
  players must get rid of all the insects invading a mushroom patch, including
  Fleas, Spiders, Scorpions and the Centipede. The game includes different
  difficulty levels, sound effects and a high score table. It is controlled
  either by the keyboard, joystick or the mouse and has single player, player v
  player and a two player co-operative mode
screenshots:
  - https://cdn.dos.zone/original/2X/6/620c903696ee62820bffdb8ae1404ffce2fc4a36.png
  - https://cdn.dos.zone/original/2X/6/6f834de71f67cb9b36a32952ef397e844064208a.png
---
