---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/championship-manager-93.jsdos
layout: page.njk
ogDescription: Championship Manager 93 is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Championship Manager 93 on mobile. On DOS.Zone Championship Manager 93 available
  to play for free without registration.
permalink: /championship-manager-93-1994/
screenshots:
- https://cdn.dos.zone/original/2X/5/575d6fe2b84d7e471e6f06347ab5922d284bbb80.png
- https://cdn.dos.zone/original/2X/3/36c1b0e602a501295c00f420315369b57ccc4d0d.png
shortTitle: Championship Manager 93
title: Championship Manager 93 | 🕹️Play Championship Manager 93 Online | DOS game
  in browser

---
