---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/champ-centipede.jsdos
layout: page.njk
ogDescription: Champ Centipede is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Champ Centipede
  on mobile. On DOS.Zone Champ Centipede available to play for free without registration.
permalink: /champ-centipede-oct-12-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/620c903696ee62820bffdb8ae1404ffce2fc4a36.png
- https://cdn.dos.zone/original/2X/6/6f834de71f67cb9b36a32952ef397e844064208a.png
shortTitle: Champ Centipede
title: Champ Centipede | 🕹️Play Champ Centipede Online | DOS game in browser

---
