---
layout: page.njk
title: Championship Manager 93 | 🕹️Play Championship Manager 93 Online |
  Download js-dos bundle
ogDescription: Want to Play Championship Manager 93? 🕹 On Dos Zone you can play
  Championship Manager 93 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Championship Manager 93
permalink: /championship-manager-93-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchampionship-manager-93.jsdos
description: Championship Manager 93/94 is the successor to Championship
  Manager. The text-based interface remains the same, but several new features
  have been added to the game. Included now are reserve squads, transfers with
  international players and injury time. Also, the match engine has been
  slightly changed to give more information. As it could be expected, all
  statistics are up to date with the 93/94 season, including real world teams
  and players.
screenshots:
  - https://cdn.dos.zone/original/2X/5/575d6fe2b84d7e471e6f06347ab5922d284bbb80.png
  - https://cdn.dos.zone/original/2X/3/36c1b0e602a501295c00f420315369b57ccc4d0d.png
---
