---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/championship-manager-italia.jsdos
layout: page.njk
ogDescription: Championship Manager Italia is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Championship Manager Italia on mobile. On DOS.Zone Championship Manager Italia
  available to play for free without registration.
permalink: /championship-manager-italia-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/92d7f00bb92704ab854759420d8f1b33eb7c597d.png
- https://cdn.dos.zone/original/2X/6/6596dc5143e4f6c9f0558175fdd13db8215fedd5.png
shortTitle: Championship Manager Italia
title: Championship Manager Italia | 🕹️Play Championship Manager Italia Online | DOS
  game in browser

---
