---
layout: page.njk
title: Championship Manager Italia | 🕹️Play Championship Manager Italia Online
  | Download js-dos bundle
ogDescription: Want to Play Championship Manager Italia? 🕹 On Dos Zone you can
  play Championship Manager Italia OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Championship Manager Italia
permalink: /championship-manager-italia-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchampionship-manager-italia.jsdos
description: Championship Manager Italia is an updated version of Championship
  Manager 93/94. The only difference is that the player now takes control over
  an Italian soccer club of the series A or B instead of an UK team. The applied
  soccer rules are adjusted to the Italian circumstances.
screenshots:
  - https://cdn.dos.zone/original/2X/9/92d7f00bb92704ab854759420d8f1b33eb7c597d.png
  - https://cdn.dos.zone/original/2X/6/6596dc5143e4f6c9f0558175fdd13db8215fedd5.png
---
