---
layout: page.njk
title: Championship Blackjack | 🕹️Play Championship Blackjack Online | Download
  js-dos bundle
ogDescription: Want to Play Championship Blackjack? 🕹 On Dos Zone you can play
  Championship Blackjack OR donwload js-dos bundle for free. Start playing now!
shortTitle: Championship Blackjack
permalink: /championship-blackjack-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchampionship-blackjack.jsdos
description: "Championship Blackjack is a conversion of the ubiquitous casino
  game, challenging up to six human players to rack up money by beating the
  dealer's hand.  You can fine-tune the precise variant of Blackjack you wish to
  play: the game comes with five predefined rule sets, and each rule can be
  further tweaked individually. One of the two game modes is \"Fun Blackjack\" -
  initial bankrolls are set by the players, and any number of hands may be
  played.  The built-in hint system can provide advice according to two
  different strategies (basic or point-count).  The other mode is Tournament:
  all players start with $500, the number of hands is set in advance, and hints
  are disabled. The current game's progress can always be reviewed by calling up
  the Statistics screen.  For those who just like to watch, a Simulation mode is
  also available, which pits a crew of computer players against the house."
screenshots:
  - https://cdn.dos.zone/original/2X/4/4949ec5ffb40f8e271096f570939630bbeb125a8.png
  - https://cdn.dos.zone/original/2X/5/5a8bfaf86dbd70d6fe484048fcb507f6d4a97c2c.png
---
