---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/championship-blackjack.jsdos
layout: page.njk
ogDescription: Championship Blackjack is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Championship Blackjack on mobile. On DOS.Zone Championship Blackjack available
  to play for free without registration.
permalink: /championship-blackjack-1982/
screenshots:
- https://cdn.dos.zone/original/2X/4/4949ec5ffb40f8e271096f570939630bbeb125a8.png
- https://cdn.dos.zone/original/2X/5/5a8bfaf86dbd70d6fe484048fcb507f6d4a97c2c.png
shortTitle: Championship Blackjack
title: Championship Blackjack | 🕹️Play Championship Blackjack Online | DOS game in
  browser

---
