---
layout: page.njk
title: Charlie Chaplin | 🕹️Play Charlie Chaplin Online | Download js-dos bundle
ogDescription: Want to Play Charlie Chaplin? 🕹 On Dos Zone you can play Charlie
  Chaplin OR donwload js-dos bundle for free. Start playing now!
shortTitle: Charlie Chaplin
permalink: /charlie-chaplin-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcharlie-chaplin.jsdos
description: Charlie Chaplin is a unique game in which the player takes control
  of the world-famous comedian. As Charlie Chaplin the player has to star in
  films, which are much in the line of famous black-and-white masterpieces.
  After a scene is filmed, the player is given the opportunity to edit it. Once
  every scene for the movie is filmed and edited, the player is allowed to film,
  star in and edit a much more expensive movie (i. e. expensive script, more
  props and extras). To resemble a Charlie Chaplin movie the game is
  deliberately executed in a two-color palette.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e256a6bc3a1298ef0931757b3fff6819249089ee.png
  - https://cdn.dos.zone/original/2X/1/1f56d2b52a435d6fdec9376a8c3d104d23da76eb.png
---
