---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/char.jsdos
layout: page.njk
ogDescription: Char is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Char on mobile.
  On DOS.Zone Char available to play for free without registration.
permalink: /char-nov-2005/
screenshots: []
shortTitle: Char
title: Char | 🕹️Play Char Online | DOS game in browser

---
