---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/checkers_____.jsdos
layout: page.njk
ogDescription: Checkers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Checkers on
  mobile. On DOS.Zone Checkers available to play for free without registration.
permalink: /checkers-mar-02-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/ff3946d50df83312947905ffab5944d87bb916d8.png
- https://cdn.dos.zone/original/2X/6/660338c9245dab8d8d1db1d81717195462811a30.png
shortTitle: Checkers
title: Checkers | 🕹️Play Checkers Online | DOS game in browser

---
