---
layout: page.njk
title: Checkers | 🕹️Play Checkers Online | Download js-dos bundle
ogDescription: Want to Play Checkers? 🕹 On Dos Zone you can play Checkers OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Checkers
permalink: /checkers-mar-02-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcheckers_____.jsdos
description: Checkers is a single player, shareware implementation of the
  traditional board game. It is played entirely via the keyboard and has
  functions for changing the colour of the pieces, the board and for printing
  out  the moves made in the game. Piece selection in this game is a unusual,
  the rows and columns are numbered and the player selects the column of the
  piece they wish to move. The game then picks the piece in that column that can
  be moved and repeatedly shows it first in its current position and then in its
  new position. If this is the move the player wishes to make they press ENTER
  to confirm. If it's not they use the up/down arrows to select either a
  different destination square or a different piece. This game does not
  recognise quadruple jumps.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ff3946d50df83312947905ffab5944d87bb916d8.png
  - https://cdn.dos.zone/original/2X/6/660338c9245dab8d8d1db1d81717195462811a30.png
---
