---
layout: page.njk
title: Chemical Warfare | 🕹️Play Chemical Warfare Online | Download js-dos bundle
ogDescription: Want to Play Chemical Warfare? 🕹 On Dos Zone you can play
  Chemical Warfare OR donwload js-dos bundle for free. Start playing now!
shortTitle: Chemical Warfare
permalink: /chemical-warfare-jun-14-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchemical-warfare.jsdos
description: Chemical Warfare is a first-person shooter game created with Pie in
  the Sky Software 's 3D Game Creation System. The plot involves an unnamed
  Middle Eastern dictatorship that is secretly manufacturing chemical weapons.
  The player's objective is to infiltrate the military compound where production
  takes place, gain access to the underground facility and find the data disk
  with crucial information on the country's chemical weapons programme. After
  retrieving the disk, the player must make their way back to the surface while
  fighting enemy reinforcements. The game ends when the player makes it to the
  rescue helicopter outside the compound. Chemical Warfare spans across seven
  levels, each representing a portion of the military compound. As with other
  games running on the same engine, the player may freely move back and forth
  between the levels. In certain places the game generates scripted enemy
  reinforcements when the player revisits areas that have been completed
  earlier. There is no multiplayer mode.
screenshots:
  - https://cdn.dos.zone/original/2X/5/50158e3f0c24f558305e6e9b14ee05a326378c6d.png
  - https://cdn.dos.zone/original/2X/f/f0b20fad4d8efafb61a962b56e460940cedd8533.png
---
