---
layout: page.njk
title: Chess System Tal | 🕹️Play Chess System Tal Online | Download js-dos bundle
ogDescription: Want to Play Chess System Tal? 🕹 On Dos Zone you can play Chess
  System Tal OR donwload js-dos bundle for free. Start playing now!
shortTitle: Chess System Tal
permalink: /chess-system-tal-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchess-system-tal.jsdos
description: Chess System Tal is a Chess game that allows you to play Chess
  against your computer. It is the sequel to Complete Chess System. Different
  from most Chess games, Tal doesn't try to play the best and most safe move
  every time, but instead it has its own personality based on professional chess
  player Mikhail Tal, who's known for making unexpected moves and having an
  attacking play style. There are four different views available for the chess
  board and eight different designs. The game provides hint modes that help you
  play the game.
screenshots: []
---
