---
layout: page.njk
title: Chess & Checkers | 🕹️Play Chess & Checkers Online | Download js-dos bundle
ogDescription: Want to Play Chess & Checkers? 🕹 On Dos Zone you can play Chess
  & Checkers OR donwload js-dos bundle for free. Start playing now!
shortTitle: Chess & Checkers
permalink: /chess-checkers-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchess-checkers.jsdos
description: Chess & Checkers is a simple, two player, shareware implementation
  of these classic board games. There is no 'intelligence' in this game, it is
  not possible to play against the computer, the game merely presents an
  electronic board on which two players can play each other. It is entirely
  keyboard controlled. The player uses the arrow keys to target a piece and
  presses the spacebar to select it. They then use the arrow keys to select the
  destination square and the ENTER key to move the piece to it. There is no save
  game function, no sound effects, and no game configuration options
screenshots:
  - https://cdn.dos.zone/original/2X/1/18beafbbdf1c9a673a5ecb78b62a15c486aaf63b.png
  - https://cdn.dos.zone/original/2X/d/da34a439bab026229e7c01c312131c9f7657f91d.png
---
