---
layout: page.njk
title: Chess Housers | 🕹️Play Chess Housers Online | Download js-dos bundle
ogDescription: Want to Play Chess Housers? 🕹 On Dos Zone you can play Chess
  Housers OR donwload js-dos bundle for free. Start playing now!
shortTitle: Chess Housers
permalink: /chess-housers-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchess-housers.jsdos
description: >-
  Chess Housers is a puzzle game from Spain. The player guides a disembodied
  glove with the ARROW keys through a isometric labyrinth with a checkerboard
  pattern on the floor and lots of chess pieces placed. The glove has to push (
  ARROW keys + SPACE bar) this pieces to clear its way to the exit. The pieces
  move with the same pattern that they have on chess: pawns move forward, horses
  have an "L"-shaped movement, and so on. The glove can be killed if it is in
  their path. The chess pieces are set up in small rooms as a series puzzles
  that must be solved. Other objects in the rooms include:

  ► Boulders that must be smashed by the horse pieces, if they're in the way; ► Transparent boxes, usually found stopping the movement of a piece, that can be destroyed by the glove; ► Pyramid teleporters to transport the glove to other parts of the maze; ► Maps show the maze layout to the player; ► Temporary save points in the shape of a glove stuck with a knife; ► A cross is the maze exit.

  The game has temporary save points that disappear once the player exits to DOS. There is a password system: the code is displayed after the completion of each maze.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fbfc6aa18fd94fb78383c83d08ec850b7ea010c6.png
  - https://cdn.dos.zone/original/2X/4/46a548cd9c6538517a471143d1a4195b8137dcd7.png
---
