---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chess-player-2150.jsdos
layout: page.njk
ogDescription: Chess Player 2150 is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Chess Player 2150 on mobile. On DOS.Zone Chess Player 2150 available to play for
  free without registration.
permalink: /chess-player-2150-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/284334df7b0a7664291f7dc6f174eb3fcabb9ff9.png
- https://cdn.dos.zone/original/2X/3/349d87f9fe11862f515db883a881ea51c2e73984.png
shortTitle: Chess Player 2150
title: Chess Player 2150 | 🕹️Play Chess Player 2150 Online | DOS game in browser

---
