---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chess-housers.jsdos
layout: page.njk
ogDescription: Chess Housers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Chess Housers
  on mobile. On DOS.Zone Chess Housers available to play for free without registration.
permalink: /chess-housers-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/fbfc6aa18fd94fb78383c83d08ec850b7ea010c6.png
- https://cdn.dos.zone/original/2X/4/46a548cd9c6538517a471143d1a4195b8137dcd7.png
shortTitle: Chess Housers
title: Chess Housers | 🕹️Play Chess Housers Online | DOS game in browser

---
