---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/a/a580eccc17fca3235d67cf85331e7cb204eb4899.jsdos
layout: page.njk
ogDescription: Chex Quest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Chex Quest
  on mobile. On DOS.Zone Chex Quest available to play for free without registration.
permalink: /chex-quest-1996/
screenshots:
- https://cdn.dos.zone/original/2X/7/7c13247d0cf219f59fff326673c6a8763968236c.png
- https://cdn.dos.zone/original/2X/8/8ec6f5fe4152724bb3a2c6bda31a460e4517ee5b.png
shortTitle: Chex Quest
title: Chex Quest | 🕹️Play Chex Quest Online | DOS game in browser

---
