---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chicago-90.jsdos
layout: page.njk
ogDescription: Chicago 90 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Chicago 90
  on mobile. On DOS.Zone Chicago 90 available to play for free without registration.
permalink: /chicago-90-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/3b30abdd7992dd233aa780f4891b5eba2949f19a.png
- https://cdn.dos.zone/original/2X/a/a0b7dd1c78db6b8fec4ee30e2268c6e21ba925cb.png
shortTitle: Chicago 90
title: Chicago 90 | 🕹️Play Chicago 90 Online | DOS game in browser

---
