---
layout: page.njk
title: Choo Choo Minder | 🕹️Play Choo Choo Minder Online | Download js-dos bundle
ogDescription: Want to Play Choo Choo Minder? 🕹 On Dos Zone you can play Choo
  Choo Minder OR donwload js-dos bundle for free. Start playing now!
shortTitle: Choo Choo Minder
permalink: /choo-choo-minder-1993/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchoo-choo-minder.jsdos
description: Choo Choo Minder is a puzzle game consisting of 45 levels. On each
  level the player should compose a train of carriages in proper order,
  controlling a locomotive and toggling the railway switches. The game may be
  saved in progress to restore it later. Scores are given for the faster
  solution of the puzzle. Top scores are stored in top six table.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d03a08f5da1f3833b3bec581304a044f99b805a6.png
  - https://cdn.dos.zone/original/2X/1/170f4d03b08f871fa1db7f42ff125cdb71aa3d52.png
---
