---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chopper-commando.jsdos
layout: page.njk
ogDescription: Chopper Commando is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Chopper Commando
  on mobile. On DOS.Zone Chopper Commando available to play for free without registration.
permalink: /chopper-commando-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/c819d8468f6bc6e7c89d78c2bdf54addf8577ad6.png
- https://cdn.dos.zone/original/2X/d/dffd7b8eb7cdca3964c3be375d04392b2a10ec78.png
shortTitle: Chopper Commando
title: Chopper Commando | 🕹️Play Chopper Commando Online | DOS game in browser

---
