---
layout: page.njk
title: Circus | 🕹️Play Circus Online | Download js-dos bundle
ogDescription: Want to Play Circus? 🕹 On Dos Zone you can play Circus OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Circus
permalink: /circus-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcircus____.jsdos
description: Circus is an educational game for children of 6-8 ages, getting
  familiar with the basics of digits (from 1 to 10) and arithmetic operations
  (compare, addition, subtraction, multiplication, and division). This process
  is achieved by animated questions asked by the circus performers, while the
  player selects the answers in digits, ranging from 1 to 10. Juggling and
  goalkeeper arcade games are also present for fun.
screenshots:
  - https://cdn.dos.zone/original/2X/9/91acb8e35bdedacb5f16a0fc1f25c1ebff998291.png
  - https://cdn.dos.zone/original/2X/2/2150c9b0f307b22f46526e7f766f7e99a2554bf1.png
---
