---
layout: page.njk
title: Circlink | 🕹️Play Circlink Online | Download js-dos bundle
ogDescription: Want to Play Circlink? 🕹 On Dos Zone you can play Circlink OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Circlink
permalink: /circlink-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcirclink.jsdos
description: >-
  Circlink is a shareware strategy game for up to four players, the computer can
  take one of the available player positions if required.

  The game is played on a 10x7 grid. In each cell is a circle with a hole in one side. The object of the game is to place a marble into a cell at the top of the grid and, by rotating either all cells in a column or all cells in a row, to move it to the bottom of the grid. 

  The game is customisable and is completed when one player moves one, two, three or four marbles to the bottom row. The game has basic sound effects, mainly bleeps, and is entirely keyboard controlled
screenshots:
  - https://cdn.dos.zone/original/2X/6/69db9c4ee2e0fb233359253e8f109c0966db4f06.png
  - https://cdn.dos.zone/original/2X/a/a84fa578d86f487c26c8f210a241bd692474a22d.png
---
