---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cisco-heat-all-american-police-car-race.jsdos
layout: page.njk
ogDescription: 'Cisco Heat: All American Police Car Race is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Cisco Heat: All American Police Car Race on mobile. On DOS.Zone
  Cisco Heat: All American Police Car Race available to play for free without registration.'
permalink: /cisco-heat-all-american-police-car-race-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e200a002d85f63bed6d7dc0ad81f4434c1522868.png
- https://cdn.dos.zone/original/2X/c/ce47f59abb557c5aac0f73313c0049d12e036631.png
shortTitle: 'Cisco Heat: All American Police Car Race'
title: 'Cisco Heat: All American Police Car Race | 🕹️Play Cisco Heat: All American
  Police Car Race Online | DOS game in browser'

---
