---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/city-beneath-the-surface.jsdos
layout: page.njk
ogDescription: City Beneath the Surface is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in City Beneath the Surface on mobile. On DOS.Zone City Beneath the Surface available
  to play for free without registration.
permalink: /city-beneath-the-surface-nov-27-1998/
screenshots:
- https://cdn.dos.zone/original/2X/b/b09cdbc4d2d7b382ab377901f77bc7f96f64a92c.png
- https://cdn.dos.zone/original/2X/7/7f681fbe330fed4a1e6f27621093a738a4904f31.png
shortTitle: City Beneath the Surface
title: City Beneath the Surface | 🕹️Play City Beneath the Surface Online | DOS game
  in browser

---
