---
layout: page.njk
title: City Beneath the Surface | 🕹️Play City Beneath the Surface Online |
  Download js-dos bundle
ogDescription: Want to Play City Beneath the Surface? 🕹 On Dos Zone you can
  play City Beneath the Surface OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: City Beneath the Surface
permalink: /city-beneath-the-surface-nov-27-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcity-beneath-the-surface.jsdos
description: City Beneath the Surface is a fantasy role-playing game played from
  a first-person perspective similar to Dungeon Master, with grid-based movement
  and real-time combat. The story is set four years after the end of a brutal
  war between a human kingdom and orc invaders, which ended with the victory of
  the alliance between humans, elves and dwarves that was joined by some of the
  orcs as well. Yet four years later, a mysterious portal opens near the
  kingdom's capital, and first, all the powerful warriors and mages in the land
  are slain in their sleep by an unknown force, then horrible creatures start
  pouring out of the portal. The king decides to send a small reconnaissance
  group into the portal with the order to gather as much information about the
  enemy and their leadership as possible. This group is the party of heroes
  controlled by the player. The game itself consists of 30 dungeon levels filled
  with various monsters, traps and occasional puzzles. The player's party is
  limited to four characters, with five races and four classes available.
  Additionally the game ships with six pre-generated parties (stored in save
  game slots) for the player to try. Interaction with the world is accomplished
  mostly with the mouse, with the exception of numeric keypad used for movement.
  Characters level up upon gaining enough experience points in battles.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b09cdbc4d2d7b382ab377901f77bc7f96f64a92c.png
  - https://cdn.dos.zone/original/2X/7/7f681fbe330fed4a1e6f27621093a738a4904f31.png
---
