---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cityrunner.jsdos
layout: page.njk
ogDescription: CityRunner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in CityRunner
  on mobile. On DOS.Zone CityRunner available to play for free without registration.
permalink: /cityrunner-1995/
screenshots:
- https://cdn.dos.zone/original/2X/1/16bbda37d5d1ebc791a238cd322dd73c8829d174.png
- https://cdn.dos.zone/original/2X/1/1b704472944b51a6474c09244609eb04d1a3bbcc.png
shortTitle: CityRunner
title: CityRunner | 🕹️Play CityRunner Online | DOS game in browser

---
