---
layout: page.njk
title: "Classic Adventure: The Original Colossal Cave! | 🕹️Play Classic
  Adventure: The Original Colossal Cave! Online | Download js-dos bundle"
ogDescription: "Want to Play Classic Adventure: The Original Colossal Cave!? 🕹
  On Dos Zone you can play Classic Adventure: The Original Colossal Cave! OR
  donwload js-dos bundle for free. Start playing now!"
shortTitle: "Classic Adventure: The Original Colossal Cave!"
permalink: /classic-adventure-the-original-colossal-cave-sep-15-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fclassic-adventure-the-original-colossal-cave.jsdos
description: 'Classic Adventure: The Original Colossal Cave! is a version of the
  text adventure game Colossal Cave Adventure developed by Will Crowther and Don
  Woods which has spawned so many copies and variants over the years. This is a
  370-point version that was developed in MS-PDS FORTRAN. It starts, as most
  versions of this game start, "You are standing at the end of a road before
  which is a small brick building. Around you is a forest. A small stream flows
  out of the building and down a gully." The player then explores the
  environment, encountering snakes, dwarves, treasure, traps and usually death.'
screenshots:
  - https://cdn.dos.zone/original/2X/d/d28286ddd431156bbde7b23be268a09b14f683c5.png
  - https://cdn.dos.zone/original/2X/d/d5cb9a47d65a858684cd19544dc40b622ebf729.png
---
