---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/classic-adventure-the-original-colossal-cave.jsdos
layout: page.njk
ogDescription: 'Classic Adventure: The Original Colossal Cave! is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Classic Adventure: The Original Colossal Cave! on mobile. On
  DOS.Zone Classic Adventure: The Original Colossal Cave! available to play for free
  without registration.'
permalink: /classic-adventure-the-original-colossal-cave-sep-15-1996/
screenshots:
- https://cdn.dos.zone/original/2X/d/d28286ddd431156bbde7b23be268a09b14f683c5.png
- https://cdn.dos.zone/original/2X/d/d5cb9a47d65a858684cd19544dc40b622ebf729.png
shortTitle: 'Classic Adventure: The Original Colossal Cave!'
title: 'Classic Adventure: The Original Colossal Cave! | 🕹️Play Classic Adventure:
  The Original Colossal Cave! Online | DOS game in browser'

---
