---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cleanup.jsdos
layout: page.njk
ogDescription: CleanUp is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in CleanUp on
  mobile. On DOS.Zone CleanUp available to play for free without registration.
permalink: /cleanup-1989/
screenshots:
- https://cdn.dos.zone/original/2X/e/ebfe6216487f59516cc52bbe8037c5aabec63fb.png
- https://cdn.dos.zone/original/2X/5/5fb8f75720611aa1612dde578d257465bcfeb5da.png
shortTitle: CleanUp
title: CleanUp | 🕹️Play CleanUp Online | DOS game in browser

---
