---
layout: page.njk
title: CleanUp | 🕹️Play CleanUp Online | Download js-dos bundle
ogDescription: Want to Play CleanUp? 🕹 On Dos Zone you can play CleanUp OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: CleanUp
permalink: /cleanup-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcleanup.jsdos
description: >-
  CleanUp is a single player, keyboard controlled, shareware puzzle game. It is
  a reworked version of a game 1979 game by Doug Schiller that was released on
  the TRS-80. The game area consists of randomly scattered blocks among which
  are gold stars. The player must negotiate their way around this arena
  collecting the stars.

  The game is keyboard controlled, pressing a non-arrow key ends the game as does colliding with a block or crossing the player's previous pathway. The game is scored with the score calculation being based on the number of stars collected, the speed at which the game was being played, and the length of the path taken by the player. The game has a high score table and basic sound effects, bleeps and whistles.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ebfe6216487f59516cc52bbe8037c5aabec63fb.png
  - https://cdn.dos.zone/original/2X/5/5fb8f75720611aa1612dde578d257465bcfeb5da.png
---
