---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clearer.jsdos
layout: page.njk
ogDescription: Clearer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Clearer on
  mobile. On DOS.Zone Clearer available to play for free without registration.
permalink: /clearer-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/7d7f2f96363625a71738d6748cf3996a8da79c0a.png
- https://cdn.dos.zone/original/2X/b/bbcd7fae1832b7df862f277ae973d13cdda22dc2.png
shortTitle: Clearer
title: Clearer | 🕹️Play Clearer Online | DOS game in browser

---
