---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/climber-5.jsdos
layout: page.njk
ogDescription: Climber 5 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Climber 5
  on mobile. On DOS.Zone Climber 5 available to play for free without registration.
permalink: /climber-5-1987/
screenshots:
- https://cdn.dos.zone/original/2X/4/4be0b405ed126e028520a40627b45985985d69fd.png
- https://cdn.dos.zone/original/2X/f/fdc51aa2a51edc8ef872ec642cf173896c51d080.png
shortTitle: Climber 5
title: Climber 5 | 🕹️Play Climber 5 Online | DOS game in browser

---
