---
layout: page.njk
title: Climber 5 | 🕹️Play Climber 5 Online | Download js-dos bundle
ogDescription: Want to Play Climber 5? 🕹 On Dos Zone you can play Climber 5 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Climber 5
permalink: /climber-5-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fclimber-5.jsdos
description: HOMERUN! NUTS! That's not that great a thing for you as you are the
  batboy and must climb the structure to retrieve the homerun ball. Be careful
  not to hit any moving items. This plays out rather like Donkey Kong You begin
  in the bottom right or bottom center and must make your way, via ladders, to
  the top left to retrieve a ball. Avoid moving obstacles however you can. Be
  careful you do not touch an obstacle or you will lose a life and be returned
  to your starting point. When you get the ball, you move on to the next level.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4be0b405ed126e028520a40627b45985985d69fd.png
  - https://cdn.dos.zone/original/2X/f/fdc51aa2a51edc8ef872ec642cf173896c51d080.png
---
