---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clive-barkers-nightbreed-the-action-game.jsdos
layout: page.njk
ogDescription: 'Clive Barker''s Nightbreed:  The Action Game is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Clive Barker''s Nightbreed:  The Action Game on mobile. On
  DOS.Zone Clive Barker''s Nightbreed:  The Action Game available to play for free
  without registration.'
permalink: /clive-barkers-nightbreed-the-action-game-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/9f5408b6317e1c5ed4e8c04f459c94db7db0ff82.jpeg
- https://cdn.dos.zone/original/2X/8/863faa4e3b65ebfc2342a58beda5c4e7154f6e7c.jpeg
shortTitle: 'Clive Barker''s Nightbreed:  The Action Game'
title: 'Clive Barker''s Nightbreed:  The Action Game | 🕹️Play Clive Barker''s Nightbreed:  The
  Action Game Online | DOS game in browser'

---
