---
layout: page.njk
title: Clock Solitaire | 🕹️Play Clock Solitaire Online | Download js-dos bundle
ogDescription: Want to Play Clock Solitaire? 🕹 On Dos Zone you can play Clock
  Solitaire OR donwload js-dos bundle for free. Start playing now!
shortTitle: Clock Solitaire
permalink: /clock-solitaire-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fclock-solitaire.jsdos
description: In these days where card games abound and compilations can contain
  hundreds of games it's easy to forget that it was not always so. Clock
  Solitaire is a single player, shareware game consisting of just one solitaire
  variant.  It is played entirely with the mouse, the player clicks on the pack
  to deal and then moves cards around to their corresponding position in a clock
  face arrangement. This form of solitaire is one where there is very little
  strategy, success ofrfailure depends entirely upon the deal of the cards.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3764034aad0202c8fc7bbf9d3a0e4f3f16cf9f7b.png
  - https://cdn.dos.zone/original/2X/a/a70a17d1634a80516fb8ad0612db20e043e77c59.png
---
