---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clock-solitaire.jsdos
layout: page.njk
ogDescription: Clock Solitaire is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Clock Solitaire
  on mobile. On DOS.Zone Clock Solitaire available to play for free without registration.
permalink: /clock-solitaire-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/3764034aad0202c8fc7bbf9d3a0e4f3f16cf9f7b.png
- https://cdn.dos.zone/original/2X/a/a70a17d1634a80516fb8ad0612db20e043e77c59.png
shortTitle: Clock Solitaire
title: Clock Solitaire | 🕹️Play Clock Solitaire Online | DOS game in browser

---
