---
layout: page.njk
title: Clone Invader | 🕹️Play Clone Invader Online | Download js-dos bundle
ogDescription: Want to Play Clone Invader? 🕹 On Dos Zone you can play Clone
  Invader OR donwload js-dos bundle for free. Start playing now!
shortTitle: Clone Invader
permalink: /clone-invader-sep-19-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fclone-invader.jsdos
description: Clone Invader is, as one can deduce from its title, a clone of the
  classic arcade game Space Invaders. Controlling a small space fighter you have
  to destroy lines of alien ships before they can reach the bottom of the
  screen, to get points. To complete this task and enter a new level, the player
  has to stay alive and avoid being shot. You can either shoot the bullets of
  your enemies or hide behind one of the three rocks. Clone Invader can be
  played by up to two players (hot-seat, one after the other), either by mouse
  or by keyboard.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f2043c347786cc7406099aed1a8c6b3ad321f639.png
  - https://cdn.dos.zone/original/2X/e/e7d38c4a58b9c88aa3a5c24ba3056c23defb7ce1.png
---
