---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clonk-2-debakel.jsdos
layout: page.njk
ogDescription: 'Clonk 2: Debakel is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Clonk 2: Debakel on mobile. On DOS.Zone Clonk 2: Debakel available to play for free
  without registration.'
permalink: /clonk-2-debakel-oct-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/982e56291bef92d041cef9eb9875f234bb888e20.png
- https://cdn.dos.zone/original/2X/d/d8a50716cdde00e5a42e00bb86fe850ab6413298.png
shortTitle: 'Clonk 2: Debakel'
title: 'Clonk 2: Debakel | 🕹️Play Clonk 2: Debakel Online | DOS game in browser'

---
