---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clone-invader.jsdos
layout: page.njk
ogDescription: Clone Invader is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Clone Invader
  on mobile. On DOS.Zone Clone Invader available to play for free without registration.
permalink: /clone-invader-sep-19-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/f2043c347786cc7406099aed1a8c6b3ad321f639.png
- https://cdn.dos.zone/original/2X/e/e7d38c4a58b9c88aa3a5c24ba3056c23defb7ce1.png
shortTitle: Clone Invader
title: Clone Invader | 🕹️Play Clone Invader Online | DOS game in browser

---
