---
layout: page.njk
title: Clyde's Revenge | 🕹️Play Clyde's Revenge Online | Download js-dos bundle
ogDescription: Want to Play Clyde's Revenge? 🕹 On Dos Zone you can play Clyde's
  Revenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Clyde's Revenge
permalink: /clydes-revenge-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fclydes-revenge.jsdos
description: Clyde's Revenge (revenge for what, we are uncertain) is a sequel to
  Clyde's Adventure. It is a platform game that has you locked in many strange
  castles, and your only method of escape is to collect the magic stones to free
  yourself. Unlike many platform games, Clyde's Revenge has no enemies to kill
  and no bosses to beat. Instead, you must solve puzzles, avoid traps, and pull
  an innumerable number of levers. You will also need to collect life, in case
  of the odd tumble from a large height or the most unfortunate slip into a pool
  of lava.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c3c09b2a76ee3078ac8ee4611af71380e23d4133.png
  - https://cdn.dos.zone/original/2X/6/6adb42540644e3e186e17b04ebe1ca3e4d934df5.gif
---
