---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/clydes-revenge.jsdos
layout: page.njk
ogDescription: Clyde's Revenge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Clyde's Revenge
  on mobile. On DOS.Zone Clyde's Revenge available to play for free without registration.
permalink: /clydes-revenge-1995/
screenshots:
- https://cdn.dos.zone/original/2X/c/c3c09b2a76ee3078ac8ee4611af71380e23d4133.png
- https://cdn.dos.zone/original/2X/6/6adb42540644e3e186e17b04ebe1ca3e4d934df5.gif
shortTitle: Clyde's Revenge
title: Clyde's Revenge | 🕹️Play Clyde's Revenge Online | DOS game in browser

---
