---
layout: page.njk
title: Coaster | 🕹️Play Coaster Online | Download js-dos bundle
ogDescription: Want to Play Coaster? 🕹 On Dos Zone you can play Coaster OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Coaster
permalink: /coaster-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcoaster.jsdos
description: The basic goal of "Coaster" is quite simply to build a roller
  coaster. After designing your coaster you have it ridden by a panel of experts
  which assign it a score. You can also ride it yourself.
screenshots:
  - https://cdn.dos.zone/original/2X/9/91922e524b1274c32b75f924cc74c5868868d91.jpeg
  - https://cdn.dos.zone/original/2X/f/fca0cf360edcf35e997f59100501760c1c6f1e59.jpeg
---
