---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/code-europe.jsdos
layout: page.njk
ogDescription: 'Code: Europe is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Code: Europe
  on mobile. On DOS.Zone Code: Europe available to play for free without registration.'
permalink: /code-europe-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/119396832803a0b2aac0edc4baa1d3007689668e.png
- https://cdn.dos.zone/original/2X/8/881b3a9e89278acbbbc791749a817f817b999bb.png
shortTitle: 'Code: Europe'
title: 'Code: Europe | 🕹️Play Code: Europe Online | DOS game in browser'

---
