---
layout: page.njk
title: "Code: Europe | 🕹️Play Code: Europe Online | Download js-dos bundle"
ogDescription: "Want to Play Code: Europe? 🕹 On Dos Zone you can play Code:
  Europe OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Code: Europe"
permalink: /code-europe-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcode-europe.jsdos
description: Interactive education through the eyes of secret agent. You are the
  spy, who directed to one of the European countries to find out secret case.
  Each case is different and to solve the case you have to composite a puzzle
  items, which are given to you for the correct answers. Informers from
  different cities tell you something specific about country and then you need
  to answer a corresponding question correctly. If your answer is correct then
  you gain another clue and maybe puzzle item. After completing a puzzle you are
  tested by your boss. If you are successful then your rank is raised.
screenshots:
  - https://cdn.dos.zone/original/2X/1/119396832803a0b2aac0edc4baa1d3007689668e.png
  - https://cdn.dos.zone/original/2X/8/881b3a9e89278acbbbc791749a817f817b999bb.png
---
