---
layout: page.njk
title: Color Lines | 🕹️Play Color Lines Online | Download js-dos bundle
ogDescription: Want to Play Color Lines? 🕹 On Dos Zone you can play Color Lines
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Color Lines
permalink: /color-lines-1992/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Ff%2Ffce2566b9fd55f562dab5127a02804bc15697f53.jsdos
description: This is the original Russian version of Lines. It is a turn-based
  board game. Each turn, three randomly colored balls fall on random grids of a
  9x9 squares board. Your mission is to re-locate the balls (by moving one of
  them per turn) to form lines consisting of five or more balls of the same
  color. The lines can be arranged vertically, horizontally, or diagonally. Each
  line you build immediately disappears, giving you points. There is basically
  no end to the game, but your first objective is to surpass the 3000 points
  scored by the "king". Once you surpass him, he loses the throne and you become
  the new king, but the game continues ad infinitum. You lose when the entire
  board is filled with balls.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f555aabeb44688a75adc710f3dbd4cec759aec41.png
  - https://cdn.dos.zone/original/2X/b/b46decb94730f5ce3019aadefdc43d6212593d0a.png
---
