---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/colossus-x-backgammon.jsdos
layout: page.njk
ogDescription: Colossus X Backgammon is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Colossus X Backgammon on mobile. On DOS.Zone Colossus X Backgammon available
  to play for free without registration.
permalink: /colossus-x-backgammon-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/d5ba323ed39415c0bd5a07e88bf5379bc6c200e3.png
- https://cdn.dos.zone/original/2X/a/a03af1fbb6db71fbcd94c6d1b207bfa64ad6190a.png
shortTitle: Colossus X Backgammon
title: Colossus X Backgammon | 🕹️Play Colossus X Backgammon Online | DOS game in browser

---
