---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/colossus-x-draughts.jsdos
layout: page.njk
ogDescription: Colossus X Draughts is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Colossus X Draughts on mobile. On DOS.Zone Colossus X Draughts available to play
  for free without registration.
permalink: /colossus-x-draughts-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/1bf4c65a2c60c309933833521e4a678233134919.png
- https://cdn.dos.zone/original/2X/e/e06f062490c80fc526ffbf48fb7b4919751ebc08.png
shortTitle: Colossus X Draughts
title: Colossus X Draughts | 🕹️Play Colossus X Draughts Online | DOS game in browser

---
