---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/comanche-cd.jsdos
layout: page.njk
ogDescription: Comanche CD is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Comanche CD
  on mobile. On DOS.Zone Comanche CD available to play for free without registration.
permalink: /comanche-cd-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f29a5f6ea047cc081db07598b2098b1bc608eaa.png
- https://cdn.dos.zone/original/2X/c/cc37e86e2a60ab9caff8fdb51038262119d74893.png
shortTitle: Comanche CD
title: Comanche CD | 🕹️Play Comanche CD Online | DOS game in browser

---
