---
layout: page.njk
title: Comanche CD | 🕹️Play Comanche CD Online | Download js-dos bundle
ogDescription: Want to Play Comanche CD? 🕹 On Dos Zone you can play Comanche CD
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Comanche CD
permalink: /comanche-cd-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcomanche-cd.jsdos
description: >-
  This is a compilation of the voxel-based simulations of the helicopter RAH-66.
  It contains the following games: Comanche: Maximum Overkill (base game)

  Comanche: Global Challenge (add-on)

  Comanche: Over the Edge (add-on) In addition, the compilation offers ten bonus missions.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f29a5f6ea047cc081db07598b2098b1bc608eaa.png
  - https://cdn.dos.zone/original/2X/c/cc37e86e2a60ab9caff8fdb51038262119d74893.png
---
