---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/combatrobo-zakato.jsdos
layout: page.njk
ogDescription: Combatrobo Zakato is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Combatrobo Zakato on mobile. On DOS.Zone Combatrobo Zakato available to play for
  free without registration.
permalink: /combatrobo-zakato-dec-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f858a46d3cac9296996d15de3dba057e48d19e86.png
- https://cdn.dos.zone/original/2X/b/b05dd1bef500145f82d13aec9a1e632a07b925e1.png
shortTitle: Combatrobo Zakato
title: Combatrobo Zakato | 🕹️Play Combatrobo Zakato Online | DOS game in browser

---
