---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/combat-checkers.jsdos
layout: page.njk
ogDescription: Combat Checkers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Combat Checkers
  on mobile. On DOS.Zone Combat Checkers available to play for free without registration.
permalink: /combat-checkers-dec-29-1991/
screenshots:
- https://cdn.dos.zone/original/2X/2/261689f0979f8adf4e67b115f721f7934f8a06e3.png
- https://cdn.dos.zone/original/2X/b/bfa18467acf915e9da244b4e612886a8f7319faa.png
shortTitle: Combat Checkers
title: Combat Checkers | 🕹️Play Combat Checkers Online | DOS game in browser

---
