---
layout: page.njk
title: Command & Conquer | 🕹️Play Command & Conquer Online | Download js-dos bundle
ogDescription: Want to Play Command & Conquer? 🕹 On Dos Zone you can play
  Command & Conquer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Command & Conquer
permalink: /command-conquer-sep-26-1995/
bundles:
  - type: js
    title: gdi-novideo
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_gdi_novid.jsdos
  - type: js
    title: nod-novideo
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_nod_novid.jsdos
  - type: cloud
    title: gdi-full
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_gdi.jsdos
  - type: cloud
    title: nod-full
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_nod.jsdos
description: Command & Conquer develops ideas from Westwood's previous game Dune
  2, forming a real-time strategy (RTS) game. The control system involves
  selecting units with the mouse and then directing them, while the opponents
  make their moves without waiting for a "turn" to end. The game focuses on a
  war between two organizations, The Brotherhood of Nod and the Global Defense
  Initiative. The player can take control of either side for more than 15
  missions. Both have different units and structures, including artillery, tanks
  and light infantry. In most missions, a base needs to be built first in order
  to build new units and structures. Most important are the harvesters, which
  collect Tiberium and deliver it to a refinery, where it's converted into
  money, thus funding the construction of a base and an army. The game also
  features FMV mission briefings and victory cutscenes.
screenshots:
  - https://cdn.dos.zone/original/2X/a/ae3116154ac2b9725465dc1fe59fa39507886432.png
  - https://cdn.dos.zone/original/2X/b/bfe596873163a1de241b0ddbd5b1a6e34af038cc.jpeg
---
