---
bundles:
- lang: ENG
  mobile: false
  title: gdi-novideo
  type: js
  url: custom/dos/cc_gdi_novid.jsdos
- lang: ENG
  mobile: false
  title: nod-novideo
  type: js
  url: custom/dos/cc_nod_novid.jsdos
- lang: ENG
  mobile: false
  title: gdi-full
  type: cloud
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_gdi.jsdos
- lang: ENG
  mobile: false
  title: nod-full
  type: cloud
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcc_nod.jsdos
layout: page.njk
ogDescription: Command & Conquer is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Command & Conquer on mobile. On DOS.Zone Command & Conquer available to play for
  free without registration.
permalink: /command-conquer-sep-26-1995/
screenshots:
- https://cdn.dos.zone/original/2X/a/ae3116154ac2b9725465dc1fe59fa39507886432.png
- https://cdn.dos.zone/original/2X/b/bfe596873163a1de241b0ddbd5b1a6e34af038cc.jpeg
shortTitle: Command & Conquer
title: Command & Conquer | 🕹️Play Command & Conquer Online | DOS game in browser
youtube: L0Wk5MKz3sk

---
