---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/commander-keen-1-3.jsdos
layout: page.njk
ogDescription: Commander Keen 1-3 is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Commander Keen 1-3 on mobile. On DOS.Zone Commander Keen 1-3 available to play for
  free without registration.
permalink: /commander-keen-1-3-1992/
screenshots: []
shortTitle: Commander Keen 1-3
title: Commander Keen 1-3 | 🕹️Play Commander Keen 1-3 Online | DOS game in browser

---
