---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/commando-enhanced.jsdos
layout: page.njk
ogDescription: Commando Enhanced is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Commando Enhanced on mobile. On DOS.Zone Commando Enhanced available to play for
  free without registration.
permalink: /commando-enhanced-1998/
screenshots:
- https://cdn.dos.zone/original/2X/4/4af1aa3e88b81ebd2522803254d99af4b14f890b.png
- https://cdn.dos.zone/original/2X/b/befef2d0dc7382576d3912581decd9fe54ca1e68.png
shortTitle: Commando Enhanced
title: Commando Enhanced | 🕹️Play Commando Enhanced Online | DOS game in browser

---
