---
layout: page.njk
title: "Commander Keen: Aliens Ate My Babysitter! | 🕹️Play Commander Keen:
  Aliens Ate My Babysitter! Online | Download js-dos bundle"
ogDescription: "Want to Play Commander Keen: Aliens Ate My Babysitter!? 🕹 On
  Dos Zone you can play Commander Keen: Aliens Ate My Babysitter! OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "Commander Keen: Aliens Ate My Babysitter!"
permalink: /commander-keen-aliens-ate-my-babysitter-dec-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcommander-keen-aliens-ate-my-babysitter_.jsdos
description: |-
  This compilation release contains:
  Commander Keen: Aliens Ate My Babysitter!
  Commander Keen 4: Secret of the Oracle
screenshots: []
---
