---
bundles:
- lang: ENG
  mobile: false
  title: allies
  type: cloud
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fra-allies.jsdos
- lang: ENG
  mobile: false
  title: soviet
  type: cloud
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fra-soviet.jsdos
layout: page.njk
ogDescription: 'Command & Conquer: Red Alert is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Command & Conquer: Red Alert on mobile. On DOS.Zone Command & Conquer:
  Red Alert available to play for free without registration.'
permalink: /command-conquer-red-alert-nov-22-1996/
screenshots:
- https://cdn.dos.zone/original/2X/0/05fe92a72dc4baa73fe658e936dfc6188cf7a752.gif
- https://cdn.dos.zone/original/2X/d/d31e1b45b43ee82a695784222e6dbcde7b3ac2f2.png
shortTitle: 'Command & Conquer: Red Alert'
title: 'Command & Conquer: Red Alert | 🕹️Play Command & Conquer: Red Alert Online
  | DOS game in browser'

---
