---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/commander-keen-3-keen-must-die.jsdos
layout: page.njk
ogDescription: 'Commander Keen 3: Keen Must Die! is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Commander Keen 3: Keen Must Die! on mobile. On DOS.Zone Commander Keen
  3: Keen Must Die! available to play for free without registration.'
permalink: /commander-keen-3-keen-must-die-dec-14-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/7ea1504c3ca3bfd42d082b8dd483fd7ec4a2e6c2.png
- https://cdn.dos.zone/original/2X/3/3bd9d31d0418cadd21cf5721ed1e0e65da1ae55c.png
shortTitle: 'Commander Keen 3: Keen Must Die!'
title: 'Commander Keen 3: Keen Must Die! | 🕹️Play Commander Keen 3: Keen Must Die!
  Online | DOS game in browser'

---
