---
layout: page.njk
title: Computer Operator | 🕹️Play Computer Operator Online | Download js-dos bundle
ogDescription: Want to Play Computer Operator? 🕹 On Dos Zone you can play
  Computer Operator OR donwload js-dos bundle for free. Start playing now!
shortTitle: Computer Operator
permalink: /computer-operator-oct-16-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcomputer-operator.jsdos
description: This BASIC game simulates the experience of running a large,
  multi-user mainframe system of its day.  As the operator, you first configure
  the system by choosing the memory size, the number of disk and tape drives,
  the maximum number of concurrent users, and the overall game speed.  These
  factors determine the difficulty of your job - which is to cope with user
  demands and keep the system running.  If too many problems pile up, the system
  crashes and you lose. After the system is booted, users begin to log in and do
  their work; you monitor the system's status in real time, and carry out your
  maintenance tasks using text commands.  User jobs place demands on CPU time,
  on storage devices, and on the printer; you'll need to balance the load,
  repair failed equipment, bring devices offline and online as needed, and meet
  the users' storage requirements.   You can also force users offline, and even
  communicate back when they complain at you through the messaging system.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ec29a33573590e6081ff5377b3d3e6b55d611e6d.png
  - https://cdn.dos.zone/original/2X/7/7c45a9aa41d0d0803e940a35921b1a65e4698ccf.png
---
