---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/computer-operator.jsdos
layout: page.njk
ogDescription: Computer Operator is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Computer Operator on mobile. On DOS.Zone Computer Operator available to play for
  free without registration.
permalink: /computer-operator-oct-16-1982/
screenshots:
- https://cdn.dos.zone/original/2X/e/ec29a33573590e6081ff5377b3d3e6b55d611e6d.png
- https://cdn.dos.zone/original/2X/7/7c45a9aa41d0d0803e940a35921b1a65e4698ccf.png
shortTitle: Computer Operator
title: Computer Operator | 🕹️Play Computer Operator Online | DOS game in browser

---
