---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/compaq-dos-included-games.jsdos
layout: page.njk
ogDescription: Compaq-DOS (included games) is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Compaq-DOS (included games) on mobile. On DOS.Zone Compaq-DOS (included games)
  available to play for free without registration.
permalink: /compaq-dos-included-games-jan-24-1983/
screenshots:
- https://cdn.dos.zone/original/2X/a/a544c2b56971e121ba6223173bbfadd3831f86ab.png
- https://cdn.dos.zone/original/2X/2/2c278b90801ab32b0a4100fe0bc77658da16b2d.png
shortTitle: Compaq-DOS (included games)
title: Compaq-DOS (included games) | 🕹️Play Compaq-DOS (included games) Online | DOS
  game in browser

---
