---
layout: page.njk
title: COMPUTE!'s Guide to Adventure Games (included game) | 🕹️Play COMPUTE!'s
  Guide to Adventure Games (included game) Online | Download js-dos bundle
ogDescription: Want to Play COMPUTE!'s Guide to Adventure Games (included game)?
  🕹 On Dos Zone you can play COMPUTE!'s Guide to Adventure Games (included
  game) OR donwload js-dos bundle for free. Start playing now!
shortTitle: COMPUTE!'s Guide to Adventure Games (included game)
permalink: /compute-s-guide-to-adventure-games-included-game-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcomputes-guide-to-adventure-games-included-game.jsdos
description: In this demonstration game, whose type-in source code is included
  in the book to demonstrate text adventure game programming, the player must
  venture into a defunct factory tower (based on a real building in Manchester,
  NH) in hopes of retrieving magnetic media on which is stored a copy of
  Crowther & Woods' inaugural adventure game, ADVENTURE.  Typical text adventure
  adversaries of vermin and small animals interfere with the efforts, and must
  be overcome through the solving of standard text adventure puzzles. Three
  versions of this game's source code are included in the book, for Microsoft
  BASIC, modified Microsoft BASIC for Atari computers, and for TI BASIC.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b3d2ba6209ed3b3f981a655f671ed0ab61d76a46.png
  - https://cdn.dos.zone/original/2X/8/80afed40fdf37fded644740dab2ab4a81740c6d7.png
---
