---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/computerwars.jsdos
layout: page.njk
ogDescription: ComputerWars is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in ComputerWars
  on mobile. On DOS.Zone ComputerWars available to play for free without registration.
permalink: /computerwars-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6ab5d976a13915baf2524d20514d402167e26fe0.png
- https://cdn.dos.zone/original/2X/8/8a7cbe64058441df0fd9617ba86038eda9fa946c.png
shortTitle: ComputerWars
title: ComputerWars | 🕹️Play ComputerWars Online | DOS game in browser

---
