---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/computer-puzzles-unlimited.jsdos
layout: page.njk
ogDescription: Computer Puzzles Unlimited is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Computer Puzzles Unlimited on mobile. On DOS.Zone Computer Puzzles Unlimited
  available to play for free without registration.
permalink: /computer-puzzles-unlimited-1994/
screenshots:
- https://cdn.dos.zone/original/2X/6/69c365615dd03cdcbb3311a77f2f511ec9fe4092.png
- https://cdn.dos.zone/original/2X/3/31be0d0ce988a978412716a638b3ce8416bb9405.png
shortTitle: Computer Puzzles Unlimited
title: Computer Puzzles Unlimited | 🕹️Play Computer Puzzles Unlimited Online | DOS
  game in browser

---
