---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/computes-guide-to-adventure-games-included-game.jsdos
layout: page.njk
ogDescription: COMPUTE!'s Guide to Adventure Games (included game) is a famous and
  most played DOS game that now is available to play in browser. With virtual mobile
  controls you also can play in COMPUTE!'s Guide to Adventure Games (included game)
  on mobile. On DOS.Zone COMPUTE!'s Guide to Adventure Games (included game) available
  to play for free without registration.
permalink: /compute-s-guide-to-adventure-games-included-game-1984/
screenshots:
- https://cdn.dos.zone/original/2X/b/b3d2ba6209ed3b3f981a655f671ed0ab61d76a46.png
- https://cdn.dos.zone/original/2X/8/80afed40fdf37fded644740dab2ab4a81740c6d7.png
shortTitle: COMPUTE!'s Guide to Adventure Games (included game)
title: COMPUTE!'s Guide to Adventure Games (included game) | 🕹️Play COMPUTE!'s Guide
  to Adventure Games (included game) Online | DOS game in browser

---
