---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/conflict-middle-east.jsdos
layout: page.njk
ogDescription: 'Conflict: Middle East is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Conflict: Middle East on mobile. On DOS.Zone Conflict: Middle East available
  to play for free without registration.'
permalink: /conflict-middle-east-1991/
screenshots:
- https://cdn.dos.zone/original/2X/b/beb548ae48e5514117422dd895458e3850e81630.gif
- https://cdn.dos.zone/original/2X/7/76860f341de5cc7ff42a151b94de1ad4e67b2cb1.gif
shortTitle: 'Conflict: Middle East'
title: 'Conflict: Middle East | 🕹️Play Conflict: Middle East Online | DOS game in
  browser'

---
