---
layout: page.njk
title: "Conflict: Europe | 🕹️Play Conflict: Europe Online | Download js-dos bundle"
ogDescription: "Want to Play Conflict: Europe? 🕹 On Dos Zone you can play
  Conflict: Europe OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Conflict: Europe"
permalink: /conflict-europe-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fconflict-europe.jsdos
description: Essentially an update of 8-bit game Theatre Europe, your task is
  again to play World War 3 scenarios fighting as NATO vs the Warsaw Pact. The
  game uses pretty basic handling. While you can access some menus as the bottom
  of the screen you can see the map on the main part of the screen where each
  unit is indicated as small square. Your aim, of course, is to eliminate all
  the enemy units. Some special actions can be selected, like deploying special
  units, attack with chemical weapons or even nuclear ones.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2066707a199bb3eca712c15bf62a470b5e7c3617.png
  - https://cdn.dos.zone/original/2X/4/4d798294ad49ee5f787868bdd5093dd0d6614bd1.png
---
