---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/conflict.jsdos
layout: page.njk
ogDescription: Conflict is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Conflict on
  mobile. On DOS.Zone Conflict available to play for free without registration.
permalink: /conflict-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/ce6f97daf57e570ca67db93cb86ae8bbed24b98b.gif
- https://cdn.dos.zone/original/2X/8/84a1f8eb802688e990ffebe4fccb4790ca9b7b00.gif
shortTitle: Conflict
title: Conflict | 🕹️Play Conflict Online | DOS game in browser

---
