---
layout: page.njk
title: "Conflict: Middle East | 🕹️Play Conflict: Middle East Online | Download
  js-dos bundle"
ogDescription: "Want to Play Conflict: Middle East? 🕹 On Dos Zone you can play
  Conflict: Middle East OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Conflict: Middle East"
permalink: /conflict-middle-east-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fconflict-middle-east.jsdos
description: "Conflict: Middle East is a detailed wargame/simulation of the
  Arab/Israeli Wars from 1973 until the present (1991). The action is historical
  and hypothetical. You can fight the entire 1973 Arab/Israeli conflict on an
  operational level as the Israelis or take on the more daunting task of the
  Arab forces. Choose the hypothetical 1990's scenario for modern day desert
  warfare. The game is fought at the Brigade/Division level where you will
  control every detail of land and air war down to the individual infantry
  squads, vehicles and gun tubes. You must also keep track of weather, supplies,
  and politics as they will impact many of your options."
screenshots:
  - https://cdn.dos.zone/original/2X/b/beb548ae48e5514117422dd895458e3850e81630.gif
  - https://cdn.dos.zone/original/2X/7/76860f341de5cc7ff42a151b94de1ad4e67b2cb1.gif
---
