---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/conflict-europe.jsdos
layout: page.njk
ogDescription: 'Conflict: Europe is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Conflict: Europe on mobile. On DOS.Zone Conflict: Europe available to play for free
  without registration.'
permalink: /conflict-europe-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/2066707a199bb3eca712c15bf62a470b5e7c3617.png
- https://cdn.dos.zone/original/2X/4/4d798294ad49ee5f787868bdd5093dd0d6614bd1.png
shortTitle: 'Conflict: Europe'
title: 'Conflict: Europe | 🕹️Play Conflict: Europe Online | DOS game in browser'

---
