---
layout: page.njk
title: Connectris | 🕹️Play Connectris Online | Download js-dos bundle
ogDescription: Want to Play Connectris? 🕹 On Dos Zone you can play Connectris
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Connectris
permalink: /connectris-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fconnectris.jsdos
description: Connectris is a puzzle game that is a cross between Tetris and Pipe
  Mania. Pieces of pipe fall from the top of the screen, and you have to stack
  them so that all the exits are connected.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d89d72d9be4a1b3241d50d4206affa58e72b7be3.png
  - https://cdn.dos.zone/original/2X/4/401747ea9108df19d670532d2eb3f77527befd0.png
---
