---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/connectris.jsdos
layout: page.njk
ogDescription: Connectris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Connectris
  on mobile. On DOS.Zone Connectris available to play for free without registration.
permalink: /connectris-1996/
screenshots:
- https://cdn.dos.zone/original/2X/d/d89d72d9be4a1b3241d50d4206affa58e72b7be3.png
- https://cdn.dos.zone/original/2X/4/401747ea9108df19d670532d2eb3f77527befd0.png
shortTitle: Connectris
title: Connectris | 🕹️Play Connectris Online | DOS game in browser

---
