---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/conquest_.jsdos
layout: page.njk
ogDescription: Conquest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Conquest on
  mobile. On DOS.Zone Conquest available to play for free without registration.
permalink: /conquest-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6519b91c459e87a849d686188b5397031e75fa3a.png
- https://cdn.dos.zone/original/2X/f/f0430a0b5730ae47ea65e9782c0306c327c025e2.png
shortTitle: Conquest
title: Conquest | 🕹️Play Conquest Online | DOS game in browser

---
