---
layout: page.njk
title: Conquest | 🕹️Play Conquest Online | Download js-dos bundle
ogDescription: Want to Play Conquest? 🕹 On Dos Zone you can play Conquest OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Conquest
permalink: /conquest-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fconquest_.jsdos
description: Conquest is a Risk clone which uses the same game rules as the
  original game. The player places his/her army on the given map and must
  conquer the majority of the lands to win. Attacks can be made to  adjacent
  lands and are made in turns. Once a battle is won the winning player can move
  their armies into the territory they just won.  Eight people can play via
  modem or shared keyboard or other players can be assigned to the computer's
  AI. One variation on the theme this game presents are two unique maps, one
  very geometric map and one map representing Australia where the entire game is
  played out in territories of Australia.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6519b91c459e87a849d686188b5397031e75fa3a.png
  - https://cdn.dos.zone/original/2X/f/f0430a0b5730ae47ea65e9782c0306c327c025e2.png
---
