---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cool-ball.jsdos
layout: page.njk
ogDescription: Cool Ball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cool Ball
  on mobile. On DOS.Zone Cool Ball available to play for free without registration.
permalink: /cool-ball-1990/
screenshots:
- https://cdn.dos.zone/original/2X/6/69f58bb64d0a22e535c2a539ea3a840539cd74b0.png
- https://cdn.dos.zone/original/2X/6/6607afa2dbd247337742cfc7f4ab647c4ebc0794.png
shortTitle: Cool Ball
title: Cool Ball | 🕹️Play Cool Ball Online | DOS game in browser

---
