---
layout: page.njk
title: Corporation | 🕹️Play Corporation Online | Download js-dos bundle
ogDescription: Want to Play Corporation? 🕹 On Dos Zone you can play Corporation
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Corporation
permalink: /corporation-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcorporation.jsdos
description: A first person shooter that requires you to think things through
  rather than just attack anything that moves.  This game preceded Wolfenstein
  3D by a number of years, and while the walls were not ray cast, but solid fill
  polygons, it was still one of the earliest simulations to tackle a human
  viewpoint with complete, 360 degree freedom of movement.
screenshots:
  - https://cdn.dos.zone/original/2X/9/901e7ea5e5037892f61d87d3b96032f95972180f.png
  - https://cdn.dos.zone/original/2X/b/bf47c470bdcedf4ffa71e12a14e92d23d55c766e.png
---
