---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/corporation.jsdos
layout: page.njk
ogDescription: Corporation is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Corporation
  on mobile. On DOS.Zone Corporation available to play for free without registration.
permalink: /corporation-1991/
screenshots:
- https://cdn.dos.zone/original/2X/9/901e7ea5e5037892f61d87d3b96032f95972180f.png
- https://cdn.dos.zone/original/2X/b/bf47c470bdcedf4ffa71e12a14e92d23d55c766e.png
shortTitle: Corporation
title: Corporation | 🕹️Play Corporation Online | DOS game in browser

---
