---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crash.jsdos
layout: page.njk
ogDescription: CRASH is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in CRASH on mobile.
  On DOS.Zone CRASH available to play for free without registration.
permalink: /crash-mar-1996/
screenshots:
- https://cdn.dos.zone/original/2X/e/e165a236382c6ae2fca4e451746ad6779d2e3cfb.png
- https://cdn.dos.zone/original/2X/1/12462e5f8d6bd854734f2bf20e1850e6dcaf4106.png
shortTitle: CRASH
title: CRASH | 🕹️Play CRASH Online | DOS game in browser

---
