---
layout: page.njk
title: Crates | 🕹️Play Crates Online | Download js-dos bundle
ogDescription: Want to Play Crates? 🕹 On Dos Zone you can play Crates OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Crates
permalink: /crates-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcrates.jsdos
description: Crates is a single-player, shareware, logic puzzle game similar to
  Chip's Challenge. The game consists of a series of rooms in which are a number
  of crates. The player's objective is to manoeuvre these crates into the
  designated storage area in the minimum possible number of moves. The shareware
  version has five rooms while the full registered version has fifty, ten rooms
  on five floors, and a room editor. Each room has a par number, the number of
  moves with which the player should be able complete the puzzle, some of these
  numbers can be beaten.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f7738804a91a4ea4f4d7fc50a01506ea328b1f2f.png
  - https://cdn.dos.zone/original/2X/5/5f3bc949fce7343e7550aa51f7fd803d5c96957e.png
---
