---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crates.jsdos
layout: page.njk
ogDescription: Crates is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Crates on mobile.
  On DOS.Zone Crates available to play for free without registration.
permalink: /crates-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/f7738804a91a4ea4f4d7fc50a01506ea328b1f2f.png
- https://cdn.dos.zone/original/2X/5/5f3bc949fce7343e7550aa51f7fd803d5c96957e.png
shortTitle: Crates
title: Crates | 🕹️Play Crates Online | DOS game in browser

---
