---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crazy-drake.jsdos
layout: page.njk
ogDescription: Crazy Drake is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Crazy Drake
  on mobile. On DOS.Zone Crazy Drake available to play for free without registration.
permalink: /crazy-drake-1996/
screenshots:
- https://cdn.dos.zone/original/2X/a/a2ab59b99c9a1004b5aefcd753a80fc3d364883c.png
- https://cdn.dos.zone/original/2X/6/64419ec9a80e8fa4a827d1c53383f7751b39e1f6.png
shortTitle: Crazy Drake
title: Crazy Drake | 🕹️Play Crazy Drake Online | DOS game in browser

---
