---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/creative-contraptions.jsdos
layout: page.njk
ogDescription: Creative Contraptions is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Creative Contraptions on mobile. On DOS.Zone Creative Contraptions available
  to play for free without registration.
permalink: /creative-contraptions-1985/
screenshots:
- https://cdn.dos.zone/original/2X/d/d047f89b19207bfc1f167cdbb8295031939b10e4.png
- https://cdn.dos.zone/original/2X/6/6d7045bc50a575c76b473998e6c96477098bd98f.png
shortTitle: Creative Contraptions
title: Creative Contraptions | 🕹️Play Creative Contraptions Online | DOS game in browser

---
