---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/creepers.jsdos
layout: page.njk
ogDescription: Creepers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Creepers on
  mobile. On DOS.Zone Creepers available to play for free without registration.
permalink: /creepers-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/1bfb6d719d3375dfebfba5cf19a80ebcebc9fc92.gif
- https://cdn.dos.zone/original/2X/6/6910ec47187efb27fb6efa8af4cd6f2ab205d043.gif
shortTitle: Creepers
title: Creepers | 🕹️Play Creepers Online | DOS game in browser

---
