---
layout: page.njk
title: Creepers | 🕹️Play Creepers Online | Download js-dos bundle
ogDescription: Want to Play Creepers? 🕹 On Dos Zone you can play Creepers OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Creepers
permalink: /creepers-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcreepers.jsdos
description: Help your worm change into a butterfly by getting past
  obstacles.  You will use a lot of tools and your intelligence. Gameplay is
  similar to Lemmings, but now with bugs.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1bfb6d719d3375dfebfba5cf19a80ebcebc9fc92.gif
  - https://cdn.dos.zone/original/2X/6/6910ec47187efb27fb6efa8af4cd6f2ab205d043.gif
---
