---
layout: page.njk
title: Cribbage | 🕹️Play Cribbage Online | Download js-dos bundle
ogDescription: Want to Play Cribbage? 🕹 On Dos Zone you can play Cribbage OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Cribbage
permalink: /cribbage-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcribbage__.jsdos
description: Cribbage is a single player, shareware, implementation of the
  popular card game of the same name. This implementation is the two player, six
  card game and it can be played with keyboard or mouse and in either colour of
  monochrome. The shareware release is limited in that it only allows the player
  to have a single game at a time after which it displays a shareware reminder
  screen and closes down. The shareware release was issued in a package along
  with Kirsta's other shareware games Backgammon and Draughts
screenshots:
  - https://cdn.dos.zone/original/2X/4/4c10ef9eaddf6c706107e4f1b7292d7ff5959f1b.png
  - https://cdn.dos.zone/original/2X/e/e90b87ed51ca96dc381fc40017a80c0f613ead11.png
---
