---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cribbage_.jsdos
layout: page.njk
ogDescription: Cribbage is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cribbage on
  mobile. On DOS.Zone Cribbage available to play for free without registration.
permalink: /cribbage-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/60159a6616b6306ccbb8c1a6cfbc2c47e181157e.png
- https://cdn.dos.zone/original/2X/5/5079692807023654ca5e240543c106d8288f6fea.png
shortTitle: Cribbage
title: Cribbage | 🕹️Play Cribbage Online | DOS game in browser

---
