---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crime.jsdos
layout: page.njk
ogDescription: cRiMe is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in cRiMe on mobile.
  On DOS.Zone cRiMe available to play for free without registration.
permalink: /crime-1985/
screenshots:
- https://cdn.dos.zone/original/2X/f/ff35cb8e786c92fd32ab0ec0fcbeaf4708763e6e.png
- https://cdn.dos.zone/original/2X/d/dfcb17ae7e610ac1eba077cc34370055530a0743.png
shortTitle: cRiMe
title: cRiMe | 🕹️Play cRiMe Online | DOS game in browser

---
