---
layout: page.njk
title: cRiMe | 🕹️Play cRiMe Online | Download js-dos bundle
ogDescription: Want to Play cRiMe? 🕹 On Dos Zone you can play cRiMe OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: cRiMe
permalink: /crime-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcrime.jsdos
description: This rudimentary (single-word command) text adventure takes a
  frequent game convention -- plunder and carnage -- and places it in the
  domestic setting of an everyday urban centre.  The task before the player is
  to run rampant on a brief (8-16 minutes) but intense crime wave (specifically,
  murders and robberies) and escape the city unapprehended by authorities.  The
  city, however, has a few anti-social tricks of its own, so watch out!
screenshots:
  - https://cdn.dos.zone/original/2X/f/ff35cb8e786c92fd32ab0ec0fcbeaf4708763e6e.png
  - https://cdn.dos.zone/original/2X/d/dfcb17ae7e610ac1eba077cc34370055530a0743.png
---
