---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crisis-in-the-kremlin.jsdos
layout: page.njk
ogDescription: Crisis in the Kremlin is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Crisis in the Kremlin on mobile. On DOS.Zone Crisis in the Kremlin available
  to play for free without registration.
permalink: /crisis-in-the-kremlin-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/f79c863d376ce9271f3f983843295bd234b27195.png
- https://cdn.dos.zone/original/2X/5/546ae9b2cb2f854b982074f134eabf5b74bc394b.png
shortTitle: Crisis in the Kremlin
title: Crisis in the Kremlin | 🕹️Play Crisis in the Kremlin Online | DOS game in browser

---
