---
layout: page.njk
title: Crisis in the Kremlin | 🕹️Play Crisis in the Kremlin Online | Download
  js-dos bundle
ogDescription: Want to Play Crisis in the Kremlin? 🕹 On Dos Zone you can play
  Crisis in the Kremlin OR donwload js-dos bundle for free. Start playing now!
shortTitle: Crisis in the Kremlin
permalink: /crisis-in-the-kremlin-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcrisis-in-the-kremlin.jsdos
description: One of the few political sims available, take over the Kremlin as
  one of the three Russian leaders (Ligachov, Yeltsin, or Gorbachov), determine
  your foreign and domestic policies, and react to the crises that happens (like
  the Chernobyl crisis). Keep yourself in office by keeping both the
  Nationalists and the Reformists in line. Can you do better than Gorbachov
  himself?
screenshots:
  - https://cdn.dos.zone/original/2X/f/f79c863d376ce9271f3f983843295bd234b27195.png
  - https://cdn.dos.zone/original/2X/5/546ae9b2cb2f854b982074f134eabf5b74bc394b.png
---
