---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/croustibat.jsdos
layout: page.njk
ogDescription: Croustibat is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Croustibat
  on mobile. On DOS.Zone Croustibat available to play for free without registration.
permalink: /croustibat-1995/
screenshots:
- https://cdn.dos.zone/original/2X/3/35cbace503bf1b4ff201362bdd0486be47b16456.png
- https://cdn.dos.zone/original/2X/7/7df9d580681f699394ded23d7fd50a252f0273df.png
shortTitle: Croustibat
title: Croustibat | 🕹️Play Croustibat Online | DOS game in browser

---
