---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crown.jsdos
layout: page.njk
ogDescription: Crown is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Crown on mobile.
  On DOS.Zone Crown available to play for free without registration.
permalink: /crown-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e4ce3b26a8149ebe515500bbad347ba58de6167b.jpeg
- https://cdn.dos.zone/original/2X/e/e7c4e9b0a760898190b38a81575f72c52ea5ca9.jpeg
shortTitle: Crown
title: Crown | 🕹️Play Crown Online | DOS game in browser

---
