---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crush-crumble-and-chomp.jsdos
layout: page.njk
ogDescription: Crush, Crumble and Chomp! is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Crush, Crumble and Chomp! on mobile. On DOS.Zone Crush, Crumble and Chomp! available
  to play for free without registration.
permalink: /crush-crumble-and-chomp-1983/
screenshots:
- https://cdn.dos.zone/original/2X/5/5ca4d517c0c4f4d242834a26bda1edfb7301093c.png
- https://cdn.dos.zone/original/2X/5/5639221cbedd279adf37a540612340f0594215d1.png
shortTitle: Crush, Crumble and Chomp!
title: Crush, Crumble and Chomp! | 🕹️Play Crush, Crumble and Chomp! Online | DOS game
  in browser

---
