---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/crystal-ball.jsdos
layout: page.njk
ogDescription: Crystal Ball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Crystal Ball
  on mobile. On DOS.Zone Crystal Ball available to play for free without registration.
permalink: /crystal-ball-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/53a8f92ba4cdf9fb39d8392ff812f164e6228cfe.gif
- https://cdn.dos.zone/original/2X/7/74edac64f2b5a046596c452b838b05b822996a88.gif
shortTitle: Crystal Ball
title: Crystal Ball | 🕹️Play Crystal Ball Online | DOS game in browser

---
