---
layout: page.njk
title: Cube | 🕹️Play Cube Online | Download js-dos bundle
ogDescription: Want to Play Cube? 🕹 On Dos Zone you can play Cube OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Cube
permalink: /cube-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcube__.jsdos
description: Cube is a single-player, freeware, Rubik's cube simulation. The
  game starts with the cube in the 'solved' position and the player uses
  keyboard commands to scramble then unscramble. The game saves automatically on
  exit, unless the player exits with Ctrl+C. There is no sound, no high score,
  and it is played entirely with the keyboard.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1523611c450aecc9a411897a7447d739e57c7276.png
---
