---
layout: page.njk
title: Cubic Tic Tac Toe | 🕹️Play Cubic Tic Tac Toe Online | Download js-dos bundle
ogDescription: Want to Play Cubic Tic Tac Toe? 🕹 On Dos Zone you can play Cubic
  Tic Tac Toe OR donwload js-dos bundle for free. Start playing now!
shortTitle: Cubic Tic Tac Toe
permalink: /cubic-tic-tac-toe-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcubic-tic-tac-toe.jsdos
description: This 'Tic Tac Toe' variant is flown in 3x3x3 cubic playfield.
  Player should align three 'X's either horizontally, vertically, or diagonally
  to score a Tic Tac Toe. To win the game, player should score more Tic Tac Toes
  than opponent. To win a match, player should win more games than opponent. In
  the case of a tie game, the tie is awarded to CATS as in the regular game of
  Tic Tac Toe. The game is a single against the computer or two-player of three
  different variations. There are three difficulty levels defined by match
  lengths.
screenshots:
  - https://cdn.dos.zone/original/2X/d/de436878eb2cd6ab227c1a123d713b26799cb0eb.png
  - https://cdn.dos.zone/original/2X/c/c427f4d386ade3e14f9a05ccb25d0e944bb12072.png
---
