---
layout: page.njk
title: Curse of the Catacombs | 🕹️Play Curse of the Catacombs Online | Download
  js-dos bundle
ogDescription: Want to Play Curse of the Catacombs? 🕹 On Dos Zone you can play
  Curse of the Catacombs OR donwload js-dos bundle for free. Start playing now!
shortTitle: Curse of the Catacombs
permalink: /curse-of-the-catacombs-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcurse-of-the-catacombs.jsdos
description: Curse of the Catacombs is a first-person shooter very similar to
  the previous game. Once again, you're a mage whose quest is to destroy the
  evil Nemesis. Just like in the previous installment, you can throw fireballs
  at your foes or use them to destroy certain walls. You can find bolts and
  nukes which allow more powerful attacks, healing potions, scrolls and keys.
  You can also find gems which allow you to see approaching enemies on your
  radar. Of course, there are completely new levels to explore and many new
  enemies to fight, such as harmless rabbits which suddenly turn into fearsome
  beasts, or evil trees which can be set on fire.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9ac1b538d3cb12062a180e1582d74885fbbaf553.gif
  - https://cdn.dos.zone/original/2X/8/8efb890c23a5415eb9d2d22d7de50a647714c144.gif
---
