---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/curse-of-the-catacombs.jsdos
layout: page.njk
ogDescription: Curse of the Catacombs is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Curse of the Catacombs on mobile. On DOS.Zone Curse of the Catacombs available
  to play for free without registration.
permalink: /curse-of-the-catacombs-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9ac1b538d3cb12062a180e1582d74885fbbaf553.gif
- https://cdn.dos.zone/original/2X/8/8efb890c23a5415eb9d2d22d7de50a647714c144.gif
shortTitle: Curse of the Catacombs
title: Curse of the Catacombs | 🕹️Play Curse of the Catacombs Online | DOS game in
  browser

---
