---
layout: page.njk
title: Custer's Last Command | 🕹️Play Custer's Last Command Online | Download
  js-dos bundle
ogDescription: Want to Play Custer's Last Command? 🕹 On Dos Zone you can play
  Custer's Last Command OR donwload js-dos bundle for free. Start playing now!
shortTitle: Custer's Last Command
permalink: /custers-last-command-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcusters-last-command.jsdos
description: "Custer's Last Command is a hex and turn-based wargame recreating
  the Battle of the Little Bighorn taking place on June 25-26 during the Great
  Sioux War of 1876, which ended with decisive Native American victory over the
  U.S. Army. The battle can be played from Custer's or Indians' side, with
  optional alternate set-ups (e.g.: Custer was offered backup of Gatling guns,
  which he refused)."
screenshots:
  - https://cdn.dos.zone/original/2X/8/80f1cf5ac8ee64032e97a6ee31b9d13f106886ac.png
  - https://cdn.dos.zone/original/2X/9/974eaa4b1f0871da17e142a2650ba1f7625fdfa3.png
---
