---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/custers-last-command.jsdos
layout: page.njk
ogDescription: Custer's Last Command is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Custer's Last Command on mobile. On DOS.Zone Custer's Last Command available
  to play for free without registration.
permalink: /custers-last-command-1995/
screenshots:
- https://cdn.dos.zone/original/2X/8/80f1cf5ac8ee64032e97a6ee31b9d13f106886ac.png
- https://cdn.dos.zone/original/2X/9/974eaa4b1f0871da17e142a2650ba1f7625fdfa3.png
shortTitle: Custer's Last Command
title: Custer's Last Command | 🕹️Play Custer's Last Command Online | DOS game in browser

---
