---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cyberstrike.jsdos
layout: page.njk
ogDescription: CyberStrike is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in CyberStrike
  on mobile. On DOS.Zone CyberStrike available to play for free without registration.
permalink: /cyberstrike-1994/
screenshots:
- https://cdn.dos.zone/original/2X/2/2827c96b18637f10b2342ed5c01b433e16b2d718.png
- https://cdn.dos.zone/original/2X/f/f87cf0593213502e3c86c723b80d0a69cf434600.png
shortTitle: CyberStrike
title: CyberStrike | 🕹️Play CyberStrike Online | DOS game in browser

---
