---
layout: page.njk
title: "Cyberbykes: Shadow Racer VR | 🕹️Play Cyberbykes: Shadow Racer VR Online
  | Download js-dos bundle"
ogDescription: "Want to Play Cyberbykes: Shadow Racer VR? 🕹 On Dos Zone you can
  play Cyberbykes: Shadow Racer VR OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Cyberbykes: Shadow Racer VR"
permalink: /cyberbykes-shadow-racer-vr-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcyberbykes-shadow-racer-vr.jsdos
description: Cyberbykes was one of the earliest 3d games to support VR glasses
  and graphic resolutions higher than the VGA standard. It also includes network
  play and an editor. You control a robotic bike remotely. Blow up the
  opposition with 15 different weapons while recovering government secrets in a
  trendy-for-its-time cyberpunk nightmare future setting. Actual gameplay
  involves open 3D combat similar to Stellar 7 and Arctic Fox.
screenshots:
  - https://cdn.dos.zone/original/2X/1/13a2253a49aded8259a0fa6397471486110f9d.png
  - https://cdn.dos.zone/original/2X/f/f188af24d693208e0122ace1d7d3c36c89ca4d68.png
---
