---
layout: page.njk
title: Cybersphere Plus | 🕹️Play Cybersphere Plus Online | Download js-dos bundle
ogDescription: Want to Play Cybersphere Plus? 🕹 On Dos Zone you can play
  Cybersphere Plus OR donwload js-dos bundle for free. Start playing now!
shortTitle: Cybersphere Plus
permalink: /cybersphere-plus-jun-10-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcybersphere-plus.jsdos
description: Cybersphere Plus is an updated version of Cybersphere featuring
  completely new, more challenging levels. The core playing mechanics are the
  same as in the original Cybersphere. Cybersphere Plus was distributed via the
  Apogee shareware model. The game is broken into five "sectors", each several
  levels long. The freely distributed shareware version contains the first
  sector with three regular levels and two bonus stages.
screenshots:
  - https://cdn.dos.zone/original/2X/1/141871bb63b38fc087ee978489771e7900351e46.png
  - https://cdn.dos.zone/original/2X/e/ebe392aaeff6861a6d26835643a2c90c5f181e26.png
---
