---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cyberchess.jsdos
layout: page.njk
ogDescription: Cyberchess is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cyberchess
  on mobile. On DOS.Zone Cyberchess available to play for free without registration.
permalink: /cyberchess-1992/
screenshots:
- https://cdn.dos.zone/original/2X/2/24797b4eb32f83237da0432db280c0151708cb30.gif
- https://cdn.dos.zone/original/2X/5/5554f78a251b7072dd2c0ba5dad8a917a52c6149.png
shortTitle: Cyberchess
title: Cyberchess | 🕹️Play Cyberchess Online | DOS game in browser

---
