---
layout: page.njk
title: CyberStrike | 🕹️Play CyberStrike Online | Download js-dos bundle
ogDescription: Want to Play CyberStrike? 🕹 On Dos Zone you can play CyberStrike
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: CyberStrike
permalink: /cyberstrike-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcyberstrike.jsdos
description: >-
  (From the back of the box):

  "I'ts kill or be killed.  Move or die.  Match wits against real players in CyberCity.  Collect Power up modules to boost performance on your own personal Cyberpod.  The longer you stay alive, the more powerful you become. Four teams of four players each compete for control of precious city squares.  Work together or play head-to-head as you strive to blast your enemies out of their pods.  Talk to your teammates or taunt your opponents.  Strategy, skill and lightning reflexes are the only things that will keep you alive in this deadly world.  Cyberstrike(tm)- it's multiplayer virtual reality at it's best." The objective is to stomp around blasting your foes with lasers, bombs, missiles, etc. while battling for city blocks.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2827c96b18637f10b2342ed5c01b433e16b2d718.png
  - https://cdn.dos.zone/original/2X/f/f87cf0593213502e3c86c723b80d0a69cf434600.png
---
