---
layout: page.njk
title: Cyborgirl | 🕹️Play Cyborgirl Online | Download js-dos bundle
ogDescription: Want to Play Cyborgirl? 🕹 On Dos Zone you can play Cyborgirl OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Cyborgirl
permalink: /cyborgirl-1995/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F2%2F20c58161b8f82399dfdbf5f5d700cea1e5deaf34.jsdos
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcyborgirl.jsdos
description: Cyborgirl is a standalone release of the Cyborgirl pinball table,
  originally included in the game Epic Pinball.
screenshots:
  - https://cdn.dos.zone/original/2X/4/47a0453a60959c8877940e72d9775209a863d6d5.png
  - https://cdn.dos.zone/original/2X/4/42c9d4da0e5ee66d121a02572b867149c036ea9b.png
---
