---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/2/20c58161b8f82399dfdbf5f5d700cea1e5deaf34.jsdos
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cyborgirl.jsdos
layout: page.njk
ogDescription: Cyborgirl is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cyborgirl
  on mobile. On DOS.Zone Cyborgirl available to play for free without registration.
permalink: /cyborgirl-1995/
screenshots:
- https://cdn.dos.zone/original/2X/4/47a0453a60959c8877940e72d9775209a863d6d5.png
- https://cdn.dos.zone/original/2X/4/42c9d4da0e5ee66d121a02572b867149c036ea9b.png
shortTitle: Cyborgirl
title: Cyborgirl | 🕹️Play Cyborgirl Online | DOS game in browser

---
