---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cylindrix.jsdos
layout: page.njk
ogDescription: Cylindrix is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Cylindrix
  on mobile. On DOS.Zone Cylindrix available to play for free without registration.
permalink: /cylindrix-1996/
screenshots:
- https://cdn.dos.zone/original/2X/7/7fe23c0518eddec2c315ac998966641a6470968f.png
- https://cdn.dos.zone/original/2X/6/6e31f519645736702d999923b436dfa28f78d4e0.png
shortTitle: Cylindrix
title: Cylindrix | 🕹️Play Cylindrix Online | DOS game in browser

---
