---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cyrus.jsdos
layout: page.njk
ogDescription: Cyrus is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Cyrus on mobile.
  On DOS.Zone Cyrus available to play for free without registration.
permalink: /cyrus-1985/
screenshots:
- https://cdn.dos.zone/original/2X/8/8d42d88f3328e75b53f0539e027b107314d8038d.gif
- https://cdn.dos.zone/original/2X/1/1a59b768307659cb801f035ff48b3f9bb0e29916.gif
shortTitle: Cyrus
title: Cyrus | 🕹️Play Cyrus Online | DOS game in browser

---
