---
layout: page.njk
title: "D-Day: The Beginning of the End | 🕹️Play D-Day: The Beginning of the
  End Online | Download js-dos bundle"
ogDescription: "Want to Play D-Day: The Beginning of the End? 🕹 On Dos Zone you
  can play D-Day: The Beginning of the End OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "D-Day: The Beginning of the End"
permalink: /d-day-the-beginning-of-the-end-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fd-day-the-beginning-of-the-end.jsdos
description: The pivotal battle of World War 2 is recreated using Impressions'
  Micro Miniatures wargaming system. You take an overall command of the units by
  directing them, and can play out the individual battles yourself if you wish.
  The screen display uses letters to indicate the unit type, with only
  functional use of graphics and sound throughout. The gameplay is turn-based,
  with you selecting each move for your units before activating them and letting
  the computer do the same. The strategic considerations include the surrounding
  terrain, whether the enemy forces are fortified and ready for your attack,
  unit morale, unit fatigue and remaining movement points. At higher difficulty
  levels your orders may not be followed to the letter, as the more ambitious or
  arrogant generals attempt their own plans.
screenshots:
  - https://cdn.dos.zone/original/2X/d/da0c2e9ab61403ad0efa33b7fcdd63b2ed58c3e9.png
  - https://cdn.dos.zone/original/2X/d/d1a66177ca8e40f31e7553be83634a831e90aea0.png
---
