---
layout: page.njk
title: Daley Thompson's Olympic Challenge | 🕹️Play Daley Thompson's Olympic
  Challenge Online | Download js-dos bundle
ogDescription: Want to Play Daley Thompson's Olympic Challenge? 🕹 On Dos Zone
  you can play Daley Thompson's Olympic Challenge OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Daley Thompson's Olympic Challenge
permalink: /daley-thompsons-olympic-challenge-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdaley-thompsons-olympic-challenge.jsdos
description: The third licensed game based around the legendary British
  decathlete did something slightly wider in scope than the basic Games style of
  play. Before you play the main events you have to train in the gym.
  Weight-lifting, squats and sit-ups are included, which involve waggling the
  joystick as fast as you can to fill a displayed bottle of Lucozade (clever bit
  of product-placement there). The better you do at this, the better you'll fare
  in the events, which are predominantly waggling-based as well. They include
  the standard decathlon events of running, jumping and throwing as well as you
  can. There are four types of shoes available, and choosing the wrong one for
  the event will seriously hamper your performance.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fd89dba56c34068c614f2d37ea71c6c418669a81.png
  - https://cdn.dos.zone/original/2X/3/3024e9399a81cc692fcbf77188d586a227b35494.png
---
