---
layout: page.njk
title: Dangerous Dave's Risky Rescue | 🕹️Play Dangerous Dave's Risky Rescue
  Online | Download js-dos bundle
ogDescription: Want to Play Dangerous Dave's Risky Rescue? 🕹 On Dos Zone you
  can play Dangerous Dave's Risky Rescue OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Dangerous Dave's Risky Rescue
permalink: /dangerous-daves-risky-rescue-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdangerous-daves-risky-rescue.jsdos
description: Dangerous Dave is back in this gory and macabre side-scrolling
  action game. Battle wolves and other man-killing creatures with your shotgun
  attempting to rescue Dave's little brother Delbert from the castle of the evil
  Dr. Nemesis. There are eleven levels in the game and some more creatures than
  in the previous installments.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9f021f264c6d736da909b87d3178957b340abfe1.png
  - https://cdn.dos.zone/original/2X/8/8b93b04644529af58a51d535893ce96b2759dd14.gif
---
