---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dangerous-daves-risky-rescue.jsdos
layout: page.njk
ogDescription: Dangerous Dave's Risky Rescue is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Dangerous Dave's Risky Rescue on mobile. On DOS.Zone Dangerous Dave's
  Risky Rescue available to play for free without registration.
permalink: /dangerous-daves-risky-rescue-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9f021f264c6d736da909b87d3178957b340abfe1.png
- https://cdn.dos.zone/original/2X/8/8b93b04644529af58a51d535893ce96b2759dd14.gif
shortTitle: Dangerous Dave's Risky Rescue
title: Dangerous Dave's Risky Rescue | 🕹️Play Dangerous Dave's Risky Rescue Online
  | DOS game in browser

---
