---
bundles:
- title: Dangerous Dave 2 For Android
  type: android
  url: https://play.google.com/store/apps/details?id=pfs.wwwplayer.ddave
- lang: ENG
  title: ''
  type: datafile
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F6%2F6a2bfa87c031c2a11ab212758a5d914f7c112eeb.jsdos
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/6/6a2bfa87c031c2a11ab212758a5d914f7c112eeb.jsdos
layout: page.njk
ogDescription: Dangerous Dave in the Haunted Mansion is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Dangerous Dave in the Haunted Mansion on mobile. On DOS.Zone Dangerous
  Dave in the Haunted Mansion available to play for free without registration.
permalink: /dangerous-dave-in-the-haunted-mansion-1991/
screenshots:
- https://cdn.dos.zone/original/2X/8/87a01eef746d249034c742ef0c51f5ab2eec9b9d.gif
- https://cdn.dos.zone/original/2X/d/d8d167ef74c85a55d7c762cea73d7194c15112f9.png
shortTitle: Dangerous Dave in the Haunted Mansion
title: Dangerous Dave in the Haunted Mansion | 🕹️Play Dangerous Dave in the Haunted
  Mansion Online | DOS game in browser
youtube: S_F8MHoVW80

---
