---
layout: page.njk
title: Dare-Devil | 🕹️Play Dare-Devil Online | Download js-dos bundle
ogDescription: Want to Play Dare-Devil? 🕹 On Dos Zone you can play Dare-Devil
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dare-Devil
permalink: /dare-devil-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdare-devil.jsdos
description: "In Dare-Devil you assume the role of a stunt performer with a gift
  for motorcycle jumping.  Our dashing adrenaline junkie takes on a formidable
  challenge: a series of jumps over an increasing number of buses.  On your way
  to the launch ramp, you pick up speed and finetune it by adjusting your
  throttle.  If you clear the jump without crashing, you get to repeat your
  accomplishment with one more bus added. To win, you have to successfully make
  the final jump over nine buses.  Lives are unlimited, so having your body
  scraped off the floor is merely a minor hitch on the way to victory."
screenshots:
  - https://cdn.dos.zone/original/2X/9/958a6437d33fa727ceb6a40c8088aff72893304.png
  - https://cdn.dos.zone/original/2X/d/d320a86e091d236b76a120db1da65a7e6f701119.png
---
