---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/darker.jsdos
layout: page.njk
ogDescription: Darker is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Darker on mobile.
  On DOS.Zone Darker available to play for free without registration.
permalink: /darker-1995/
screenshots:
- https://cdn.dos.zone/original/2X/5/5794d8f39de266a19808b19156ad19ec5030864e.png
- https://cdn.dos.zone/original/2X/c/c9da4958f444ee3250c8711d9b2fae46e1815b3c.png
shortTitle: Darker
title: Darker | 🕹️Play Darker Online | DOS game in browser

---
