---
layout: page.njk
title: Dark Continent | 🕹️Play Dark Continent Online | Download js-dos bundle
ogDescription: Want to Play Dark Continent? 🕹 On Dos Zone you can play Dark
  Continent OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dark Continent
permalink: /dark-continent-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdark-continent.jsdos
description: Dark Continent is a single-player shareware recreational text
  adventure in which the player travels to Africa in search of a fabulous jewel.
  The game starts on day three of the expedition. The native bearers have run
  off taking the supplies  and all the money. Alone in a strange country with no
  possessions the player's task is to find King Solomon's diamond and get back
  home to England. The game is entirely text based. With the exception of
  special commands such as U, D, N, S, E, and W which are abbreviations for GO
  UP, GO DOWN, GO NORTH, etc, all commands consist of two words such as GET
  THING or GO PLACE. The game can be saved by typing SAVE GAME. Running under
  DOS the game runs in a single window. It runs in Windows by opening a DOS
  window in which there are two panels. The game plays in the left hand panel
  while the right pane contains the copyright information.
screenshots:
  - https://cdn.dos.zone/original/2X/a/aee1fa29a0956d38d0968a3d1e7dfd87f8dedf22.jpeg
  - https://cdn.dos.zone/original/2X/2/2745c05eec009f4a463698ee99ecd32b9a2a89fb.jpeg
---
