---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dark-continent.jsdos
layout: page.njk
ogDescription: Dark Continent is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dark Continent
  on mobile. On DOS.Zone Dark Continent available to play for free without registration.
permalink: /dark-continent-1987/
screenshots:
- https://cdn.dos.zone/original/2X/a/aee1fa29a0956d38d0968a3d1e7dfd87f8dedf22.jpeg
- https://cdn.dos.zone/original/2X/2/2745c05eec009f4a463698ee99ecd32b9a2a89fb.jpeg
shortTitle: Dark Continent
title: Dark Continent | 🕹️Play Dark Continent Online | DOS game in browser

---
