---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/darts.jsdos
layout: page.njk
ogDescription: Darts is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Darts on mobile.
  On DOS.Zone Darts available to play for free without registration.
permalink: /darts-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/1bf4a5d37bbe85be08209a8057902844b46f0a2a.gif
- https://cdn.dos.zone/original/2X/5/50d827251276ec4b124a6a261eede03e916e6e7.gif
shortTitle: Darts
title: Darts | 🕹️Play Darts Online | DOS game in browser

---
