---
layout: page.njk
title: Darts | 🕹️Play Darts Online | Download js-dos bundle
ogDescription: Want to Play Darts? 🕹 On Dos Zone you can play Darts OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Darts
permalink: /darts-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdarts.jsdos
description: "Darts is a (shareware) computer version of the semi-organized
  darts leagues of America and England, adopting rules often used in those dart
  leagues. Players stand back from a circular board and aim to hit one of the 62
  sections. It is split into 20 outward rings (each with a score of 1-20 and
  each with a Double-points zone on the outside and a Triple-points zone in the
  middle), as well as a Bullseye ring for 50 points in the centre, and an Outer
  Bull zone for 25. Players take 3 darts in a row and in the standard game the
  aim is to reduce your score (from 301 in this version) to zero, finishing with
  either a double or the Bullseye. This game offers 3 additional game types:
  Round the Clock, Slider, and Cricket, as well as additional target practice.
  The game has a maximum of 4 players."
screenshots:
  - https://cdn.dos.zone/original/2X/1/1bf4a5d37bbe85be08209a8057902844b46f0a2a.gif
  - https://cdn.dos.zone/original/2X/5/50d827251276ec4b124a6a261eede03e916e6e7.gif
---
