---
layout: page.njk
title: "Das Boot: German U-Boat Simulation | 🕹️Play Das Boot: German U-Boat
  Simulation Online | Download js-dos bundle"
ogDescription: "Want to Play Das Boot: German U-Boat Simulation? 🕹 On Dos Zone
  you can play Das Boot: German U-Boat Simulation OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Das Boot: German U-Boat Simulation"
permalink: /das-boot-german-u-boat-simulation-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdas-boot-german-u-boat-simulation.jsdos
description: Das Boot (literally 'The Boat') simulates controlling a Type VII
  U-Boat for the Nazis, in an exact recreation of submarine warfare circa 1941.
  Both internal and external views are provided, all rendered in full 3D. Allied
  submarines and surface boats are attacking you from all sides - use your
  Hydrophone to be aware of forthcoming threads, and use the water as protection
  from enemy planes. You have 4 styles of torpedo on board - Contact, Acoustic,
  Looping and Magnetic. All orders are sent in code, to prevent sensitive
  information reaching Allied forces, with an Enigma code-cracking machine built
  in to decipher them. There are three skill levels to play at.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ec075b97e04424e4ab9ba8389ae12785eae7d660.png
  - https://cdn.dos.zone/original/2X/4/41f0789367e72a52fca3e39f401b5e70d3ebb6ba.png
---
