---
layout: page.njk
title: DaSi | 🕹️Play DaSi Online | Download js-dos bundle
ogDescription: Want to Play DaSi? 🕹 On Dos Zone you can play DaSi OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: DaSi
permalink: /dasi-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdasi.jsdos
description: Nothing less than a computerized spirit board (of which the Ouija
  is the best known), DaSi lets you commune with whatever technologically-savvy
  spirits may be channeling through the astral plane near you using an ordinary
  computer mouse as the planchette, spelling out messages letter by letter. It
  just lays down the infrastructure -- you've got to bring the spooks yourself.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ce7d03bf6c8988f11e63ed97f383ec83b72755b.png
  - https://cdn.dos.zone/original/2X/e/e3e24c7883510dc16c15ed2b20e862a3a088b36d.png
---
