---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dasi.jsdos
layout: page.njk
ogDescription: DaSi is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in DaSi on mobile.
  On DOS.Zone DaSi available to play for free without registration.
permalink: /dasi-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ce7d03bf6c8988f11e63ed97f383ec83b72755b.png
- https://cdn.dos.zone/original/2X/e/e3e24c7883510dc16c15ed2b20e862a3a088b36d.png
shortTitle: DaSi
title: DaSi | 🕹️Play DaSi Online | DOS game in browser

---
