---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/david-ahls-basic-computer-adventures.jsdos
layout: page.njk
ogDescription: David Ahl's Basic Computer Adventures is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in David Ahl's Basic Computer Adventures on mobile. On DOS.Zone David
  Ahl's Basic Computer Adventures available to play for free without registration.
permalink: /david-ahls-basic-computer-adventures-1986/
screenshots: []
shortTitle: David Ahl's Basic Computer Adventures
title: David Ahl's Basic Computer Adventures | 🕹️Play David Ahl's Basic Computer Adventures
  Online | DOS game in browser

---
