---
layout: page.njk
title: Day of the Pharaoh | 🕹️Play Day of the Pharaoh Online | Download js-dos bundle
ogDescription: Want to Play Day of the Pharaoh? 🕹 On Dos Zone you can play Day
  of the Pharaoh OR donwload js-dos bundle for free. Start playing now!
shortTitle: Day of the Pharaoh
permalink: /day-of-the-pharaoh-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fday-of-the-pharaoh.jsdos
description: Nil Dieu Vivant (also known as Day of the Pharaoh) is an
  action-oriented strategy game set in ancient Egypt. You start as descendant of
  the Pharaoh who was exiled from his kingdom. Your mission is to return to
  Cairo and claim the throne that is your birthright. You have to prove your
  worth to the people of Egypt by conquering neighboring lands and defending
  your kingdom from attack. You can make offerings to various Egyptian gods in
  hopes of divine aid, marry a bride to ensure that your line will continue if
  you fall in battle, wage wars with neighboring countries, and so on. To
  construct the various buildings, you will need to find different types. Your
  starting city will not have all the raw materials available, so you will be
  forced to conquer your neighbors early on. Combat takes place action-style.
  You will ride in a royal chariot, shooting arrows at the invaders who will
  throw lances at you. Divine favors, when they are granted, can result in
  complete annihilation of your enemies, but those are very rare and depend
  mostly on luck.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4c49c0fcc8b169c4cc532009de443fa1d39da6d0.png
  - https://cdn.dos.zone/original/2X/9/935e4f97290494ff563cb85c19b340dc1301e3d.png
---
