---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/day-of-the-pharaoh.jsdos
layout: page.njk
ogDescription: Day of the Pharaoh is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Day of the Pharaoh on mobile. On DOS.Zone Day of the Pharaoh available to play for
  free without registration.
permalink: /day-of-the-pharaoh-1989/
screenshots:
- https://cdn.dos.zone/original/2X/4/4c49c0fcc8b169c4cc532009de443fa1d39da6d0.png
- https://cdn.dos.zone/original/2X/9/935e4f97290494ff563cb85c19b340dc1301e3d.png
shortTitle: Day of the Pharaoh
title: Day of the Pharaoh | 🕹️Play Day of the Pharaoh Online | DOS game in browser

---
