---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/death-by-dark-shadows.jsdos
layout: page.njk
ogDescription: Death by Dark Shadows is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Death by Dark Shadows on mobile. On DOS.Zone Death by Dark Shadows available
  to play for free without registration.
permalink: /death-by-dark-shadows-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/3743058a7f9e89e6ce1aa257cf315576afc0a22a.png
- https://cdn.dos.zone/original/2X/5/5b11bf51693bae382074b99e6465e67147664862.gif
shortTitle: Death by Dark Shadows
title: Death by Dark Shadows | 🕹️Play Death by Dark Shadows Online | DOS game in browser

---
