---
layout: page.njk
title: Death by Dark Shadows | 🕹️Play Death by Dark Shadows Online | Download
  js-dos bundle
ogDescription: Want to Play Death by Dark Shadows? 🕹 On Dos Zone you can play
  Death by Dark Shadows OR donwload js-dos bundle for free. Start playing now!
shortTitle: Death by Dark Shadows
permalink: /death-by-dark-shadows-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdeath-by-dark-shadows.jsdos
description: Death by Dark Shadows is a platformer similar in style to the
  Prince of Persia series. The same basic game concept ideas are used - Fight
  the voodoo curse and the bad guys at the same time, all while avoiding deadly
  traps.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3743058a7f9e89e6ce1aa257cf315576afc0a22a.png
  - https://cdn.dos.zone/original/2X/5/5b11bf51693bae382074b99e6465e67147664862.gif
---
