---
layout: page.njk
title: Decisive Battles of the American Civil War, Vol. 3 | 🕹️Play Decisive
  Battles of the American Civil War, Vol. 3 Online | Download js-dos bundle
ogDescription: Want to Play Decisive Battles of the American Civil War, Vol. 3?
  🕹 On Dos Zone you can play Decisive Battles of the American Civil War, Vol. 3
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Decisive Battles of the American Civil War, Vol. 3
permalink: /decisive-battles-of-the-american-civil-war-vol-3-nov-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdecisive-battles-of-the-american-civil-war-vol-3.jsdos
description: 'The third volume of the Decisive Battles of the American Civil War
  series allows the player to reenact another six crucial battles of the
  American Civil War: Wilderness, Spotsylvania, Cold Harbor, Atlanta, Franklin,
  Nashville. Just as the first and second volume, this turn-based, hex-based
  wargame focuses on simulating the limited control, communication and "fog of
  war" of a XIX-century battlefield, providing a challenge to the player taking
  command of either North or South forces. Apart from single and two player
  gameplay option, an editor is also available, enabling the creation of own
  scenarios.'
screenshots:
  - https://cdn.dos.zone/original/2X/d/d703c574dccee6fd3aa70e13e1064fd918c156c6.png
  - https://cdn.dos.zone/original/2X/8/85c9ff1a3a46507c9095e1739f9bd786a1b4bbcf.png
---
