---
layout: page.njk
title: Decisive Battles of the American Civil War, Vol. 2 | 🕹️Play Decisive
  Battles of the American Civil War, Vol. 2 Online | Download js-dos bundle
ogDescription: Want to Play Decisive Battles of the American Civil War, Vol. 2?
  🕹 On Dos Zone you can play Decisive Battles of the American Civil War, Vol. 2
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Decisive Battles of the American Civil War, Vol. 2
permalink: /decisive-battles-of-the-american-civil-war-vol-2-jul-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdecisive-battles-of-the-american-civil-war-vol-2.jsdos
description: 'The second volume of the Decisive Battles of the American Civil
  War series allows the player to reenact another five crucial battles of the
  American Civil War: Gaines Mill, Stones River, Gettysburg, Chickamauga,
  Chattanooga. Just as the first volume, this turn-based, hex-based wargame
  focuses on simulating the limited control, communication and "fog of war" of a
  XIX-century battlefield, providing a challenge to the player taking command of
  either North or South forces. Apart from single and two player gameplay
  option, an editor is also available, enabling the creation of own scenarios.'
screenshots:
  - https://cdn.dos.zone/original/2X/2/2491edc3b8d6e33b3ba065d38279d712635f7457.png
  - https://cdn.dos.zone/original/2X/5/5053d3e0f2b06c931e0920cc7338a12ef605145d.png
---
