---
layout: page.njk
title: Deer Napped | 🕹️Play Deer Napped Online | Download js-dos bundle
ogDescription: Want to Play Deer Napped? 🕹 On Dos Zone you can play Deer Napped
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Deer Napped
permalink: /deer-napped-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdeer-napped.jsdos
description: Another game that uses the same 3d creation software as Castaway.
  In this game, the player is a ninja working for Santa and must rescue his
  reindeer from the Abominable Snowpeople.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f27ad65ea739a219be9637f6eabe9170d81de8c.gif
  - https://cdn.dos.zone/original/2X/1/18d16cbe560250387d644ca2bf1de20003e4569f.gif
---
