---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/defender-of-the-faith-the-adventures-of-david.jsdos
layout: page.njk
ogDescription: 'Defender of the Faith: The Adventures of David is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Defender of the Faith: The Adventures of David on mobile. On
  DOS.Zone Defender of the Faith: The Adventures of David available to play for free
  without registration.'
permalink: /defender-of-the-faith-the-adventures-of-david-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/7a6f948504b65f37d98b63f14449819ce2933d18.png
- https://cdn.dos.zone/original/2X/3/3c1b4e95a13b2f56cafeeb55104086fc0da08455.png
shortTitle: 'Defender of the Faith: The Adventures of David'
title: 'Defender of the Faith: The Adventures of David | 🕹️Play Defender of the Faith:
  The Adventures of David Online | DOS game in browser'

---
