---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/defense.jsdos
layout: page.njk
ogDescription: Defense is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Defense on
  mobile. On DOS.Zone Defense available to play for free without registration.
permalink: /defense-1994/
screenshots:
- https://cdn.dos.zone/original/2X/4/460effd01605761e13bff366790c9d3c24e15961.jpeg
- https://cdn.dos.zone/original/2X/3/3c4598c7f3fee45c2013f7d4f17303f11bbfaf83.jpeg
shortTitle: Defense
title: Defense | 🕹️Play Defense Online | DOS game in browser

---
