---
layout: page.njk
title: Defender | 🕹️Play Defender Online | Download js-dos bundle
ogDescription: Want to Play Defender? 🕹 On Dos Zone you can play Defender OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Defender
permalink: /defender-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdefender__.jsdos
description: Defender is a shareware clone based like many others on Eugene
  Jarvis' classic. As this is a clone the gameplay is identical to the original.
  The player controls a spaceship which they must use to prevent aliens from
  abducting people. This version can be played with the keyboard, mouse or
  joystick. It has a high score table and sound effects.
screenshots:
  - https://cdn.dos.zone/original/2X/9/989e25482aea271f31df38106c21f29523f229.png
  - https://cdn.dos.zone/original/2X/2/29545f1f83bc677a1a718ce5120b9f51dc4f5507.png
---
