---
layout: page.njk
title: Demineur | 🕹️Play Demineur Online | Download js-dos bundle
ogDescription: Want to Play Demineur? 🕹 On Dos Zone you can play Demineur OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Demineur
permalink: /demineur-mar-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdemineur.jsdos
description: French demogroup Eclipse takes on Minesweeper with its own
  variation on the theme. The 8x8 game grid hides an adjustable number of mines
  - 10 by default. Each square can be uncovered to reveal its contents, or
  flagged as containing a mine. If an uncovered square turns up empty, the
  number of adjacent mines will be shown; if a mine is uncovered, it will
  promptly detonate, losing the game (and ripping an appropriately large hole
  through the screen).  The goal is to strategically clear the field by locating
  and flagging the mines, without causing an explosion. Version 2.0 of Demineur
  expands the game with the addition of music, a different color scheme, and a
  facility for multiple game modes (which apparently remained unused).
screenshots:
  - https://cdn.dos.zone/original/2X/9/94c449b3bfaa64ae66558d72238739ed43fb688.png
  - https://cdn.dos.zone/original/2X/d/d0edd150b78be08e0cb5859906b8c07a3b15efff.png
---
