---
layout: page.njk
title: Demoniak | 🕹️Play Demoniak Online | Download js-dos bundle
ogDescription: Want to Play Demoniak? 🕹 On Dos Zone you can play Demoniak OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Demoniak
permalink: /demoniak-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdemoniak.jsdos
description: Demoniak is an interactive fiction adventure in which the player
  guides four superheroes in an attempt to stop the evil Demoniak entering our
  dimension and doing dastardly things by sealing his gateway. The player may
  'become' another character at any time and give that character instructions,
  objects, such as weapons, may be passed from one character to another.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d97744786573c294f1e01dd55836400076874660.jpeg
  - https://cdn.dos.zone/original/2X/6/6989ad047b2826276f4d973727e2d7d5e8e6d359.jpeg
---
