---
layout: page.njk
title: Desert | 🕹️Play Desert Online | Download js-dos bundle
ogDescription: Want to Play Desert? 🕹 On Dos Zone you can play Desert OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Desert
permalink: /desert-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdesert.jsdos
description: "It ain't easy being a cameleer: not only do you have to survive a
  40-mile trek across the Gobi desert, with only one camel and a quart of water
  -- you and your trusty humped steed have managed (somehow) to anger a tribe of
  knocked-kneed pygmies, who are now hot on your heels.  All in all, you seem to
  be in a bit of a pickle. Your canteen is good for six drinks of water, unless
  you find a way to refill it.  On each turn, you choose a course of action:
  have a drink; forge ahead moderately, or at full speed (which works your camel
  harder); rest for the night; check your status; or give it up and hope for
  help.  You'll have to watch your water supply, your camel's health, and your
  distance from the pursuing pygmies.  To top it off, the wasteland is full of
  surprises: some are good (like the occasional oasis), others not so much
  (sandstorms and roving bands of nomads, who may try to capture you for
  ransom)."
screenshots:
  - https://cdn.dos.zone/original/2X/d/d2c6400eae3127c8508b3cc5e197eec8327ab702.png
  - https://cdn.dos.zone/original/2X/5/586d9cc738786e7852401a6b06d798b263245f43.png
---
