---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/desert-race.jsdos
layout: page.njk
ogDescription: Desert Race is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Desert Race
  on mobile. On DOS.Zone Desert Race available to play for free without registration.
permalink: /desert-race-jul-10-1999/
screenshots:
- https://cdn.dos.zone/original/2X/e/e756c049a0e12e1512d11ccfb113cfab23001637.png
- https://cdn.dos.zone/original/2X/a/af813ae49c61d158b1dbbd2fbcf2801950b07df3.png
shortTitle: Desert Race
title: Desert Race | 🕹️Play Desert Race Online | DOS game in browser

---
