---
layout: page.njk
title: Designasaurus | 🕹️Play Designasaurus Online | Download js-dos bundle
ogDescription: Want to Play Designasaurus? 🕹 On Dos Zone you can play
  Designasaurus OR donwload js-dos bundle for free. Start playing now!
shortTitle: Designasaurus
permalink: /designasaurus-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdesignasaurus.jsdos
description: Designasaurus is an educational simulation game set in the far
  future. It enables the player to create (build) custom dinosaurs and then walk
  (control) them through all five ecosystems. The designed dinosaurs can also be
  printed.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fb8e67f0044bd216da817dbd3b2b5dd2c28164dd.png
  - https://cdn.dos.zone/original/2X/8/8434f4b0f4642e887cbf70a0d5836a695c95c623.png
---
