---
layout: page.njk
title: Devastator | 🕹️Play Devastator Online | Download js-dos bundle
ogDescription: Want to Play Devastator? 🕹 On Dos Zone you can play Devastator
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Devastator
permalink: /devastator-aug-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdevastator_.jsdos
description: "Mankind's last defender is pitted against an endless wave of alien
  ships, hellbent on destroying the Earth using incredibly powerful
  explosives.  You must outwit their evasive maneuvers and take them down before
  they carry out their nefarious scheme. You are given a strict time limit to
  hunt down each ship, and it gets shorter and shorter as the game progresses:
  take aim and fire before the countdown expires, or the enemy will plant its
  explosive charge in Earth's orbit.  If ten of them succeed, the Earth is
  doomed."
screenshots:
  - https://cdn.dos.zone/original/2X/3/38d6b2e3580ba92636d16151dcdcc797be0ed36c.png
  - https://cdn.dos.zone/original/2X/8/8323fdc17dbf1ca5f61cd156cac1ede05e7e196f.png
---
