---
layout: page.njk
title: Devil Land | 🕹️Play Devil Land Online | Download js-dos bundle
ogDescription: Want to Play Devil Land? 🕹 On Dos Zone you can play Devil Land
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Devil Land
permalink: /devil-land-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdevil-land.jsdos
description: As a devil named Little Giovanni you have to beat about 40 levels.
  In each level there are three hidden golden hairs which have to be found to
  open the exit to the next stage. You have no weapons but you can kill some
  enemies by jumping on their heads. Like in Super Mario Bros you get bonus
  items by bouncing on floating blocks, such as invulnerability or extra lives.
  None of them are power-ups, this means every enemy contact results in a life
  loss. In underwater levels you have to swim into oxygen bubbles to avoid
  drowning.
screenshots:
  - https://cdn.dos.zone/original/2X/8/867ff5b564b3100fc3785018f957d9baad8ec270.png
  - https://cdn.dos.zone/original/2X/b/b7c7361abf8b3f83722dbf9c99ee2a96cd1284df.png
---
