---
layout: page.njk
title: Dhrystone 2 Test | 🕹️Play Dhrystone 2 Test Online | Download js-dos bundle
ogDescription: Want to Play Dhrystone 2 Test? 🕹 On Dos Zone you can play
  Dhrystone 2 Test OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dhrystone 2 Test
permalink: /dhrystone-2-test-jul-2020/
bundles:
  - type: js
    title: v1
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fb%2Fb4b5275904d86a4ab8a20917b2b7e34f0df47bf7.jsdos
description: Test program to measure js-dos emulator performance. Basically this
  test produce a lot of int operations and measure amount of operations
  (Dhrystones) produced per second. Output is a VAX MIPS RATING which is
  Drhystones per second divided by 1757 (is as DEC VAX 11/780 result).
screenshots:
  - https://cdn.dos.zone/original/2X/a/a306d8f6d24a5541feac4c9be6a407bf8c7b934a.png
---
