---
bundles:
- lang: ENG
  mobile: false
  title: v1
  type: js
  url: original/2X/b/b4b5275904d86a4ab8a20917b2b7e34f0df47bf7.jsdos
layout: page.njk
ogDescription: Dhrystone 2 Test is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dhrystone
  2 Test on mobile. On DOS.Zone Dhrystone 2 Test available to play for free without
  registration.
permalink: /dhrystone-2-test-jul-2020/
screenshots:
- https://cdn.dos.zone/original/2X/a/a306d8f6d24a5541feac4c9be6a407bf8c7b934a.png
shortTitle: Dhrystone 2 Test
title: Dhrystone 2 Test | 🕹️Play Dhrystone 2 Test Online | DOS game in browser

---
