---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/diamond-dash_.jsdos
layout: page.njk
ogDescription: Diamond Dash is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Diamond Dash
  on mobile. On DOS.Zone Diamond Dash available to play for free without registration.
permalink: /diamond-dash-mar-02-1993/
screenshots:
- https://cdn.dos.zone/original/2X/d/dedc1018a4350915d1e5d83daff59af9f3a90b94.png
- https://cdn.dos.zone/original/2X/f/f457a0dad96393f46219e4c6c194a08d5d8a9c68.png
shortTitle: Diamond Dash
title: Diamond Dash | 🕹️Play Diamond Dash Online | DOS game in browser

---
