---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dick-tracy__.jsdos
layout: page.njk
ogDescription: Dick Tracy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dick Tracy
  on mobile. On DOS.Zone Dick Tracy available to play for free without registration.
permalink: /dick-tracy-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/54f1031d0bb84723578ea820cd228ffbce51e724.png
- https://cdn.dos.zone/original/2X/3/35922d98fb5106e91e98d778bc16857f2c14a3df.gif
shortTitle: Dick Tracy
title: Dick Tracy | 🕹️Play Dick Tracy Online | DOS game in browser

---
