---
layout: page.njk
title: Dick Tracy | 🕹️Play Dick Tracy Online | Download js-dos bundle
ogDescription: Want to Play Dick Tracy? 🕹 On Dos Zone you can play Dick Tracy
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dick Tracy
permalink: /dick-tracy-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdick-tracy__.jsdos
description: >-
  Dick Tracy is a tie in to the 1990 movie adaptation of the classic comic
  strip, staring Warren Beatty and Madonna.

  While an action/adventure hybrid using this license was released by Disney for the PC and Amiga, Titus also held a license to the movie.  This is a side scrolling action game, where you control Dick Tracy as he moves through five stages, shooting gangsters with an assortment of weapons.  Each stage leads to one of the mob bosses, until you ultimately capture the big man himself.
screenshots:
  - https://cdn.dos.zone/original/2X/5/54f1031d0bb84723578ea820cd228ffbce51e724.png
  - https://cdn.dos.zone/original/2X/3/35922d98fb5106e91e98d778bc16857f2c14a3df.gif
---
