---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/die-welt.jsdos
layout: page.njk
ogDescription: Die Welt is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Die Welt on
  mobile. On DOS.Zone Die Welt available to play for free without registration.
permalink: /die-welt-1996/
screenshots:
- https://cdn.dos.zone/original/2X/6/61a0dedd2ec2bee03d1a656a7d8df80afe539574.png
- https://cdn.dos.zone/original/2X/4/45187ae49818255d8f4cd15f094ae092138fa0d7.png
shortTitle: Die Welt
title: Die Welt | 🕹️Play Die Welt Online | DOS game in browser

---
