---
layout: page.njk
title: Digger | 🕹️Play Digger Online | Download js-dos bundle
ogDescription: Want to Play Digger? 🕹 On Dos Zone you can play Digger OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Digger
permalink: /digger-may-06-1999/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F2%2F24b00b14f118580763440ecaddcc948f8cb94f14.jsdos
description: Digger or Digger Remastered is free version of old the classic PC
  Booter version of Digger. It is a faithful clone with unchanged gameplay, but
  it has new (optional) graphics and is available for a wide range of new
  platforms.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f833b147609640191342f555d70eb07261f53c03.png
  - https://cdn.dos.zone/original/2X/5/5c97106c8c2d936cfcd75a015e3e6dbb6219d476.png
---
