---
layout: page.njk
title: Digital League Baseball | 🕹️Play Digital League Baseball Online |
  Download js-dos bundle
ogDescription: Want to Play Digital League Baseball? 🕹 On Dos Zone you can play
  Digital League Baseball OR donwload js-dos bundle for free. Start playing now!
shortTitle: Digital League Baseball
permalink: /digital-league-baseball-aug-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdigital-league-baseball.jsdos
description: >-
  Digital League Baseball is a single player, shareware, baseball simulation.
  The player can select either the four major leagues of the USA, The National
  League East & West and the American League East & West. Having chosen a league
  they then choose two teams, a home team and a visiting team, select the
  players from the squad, decide the batting order, the pitcher, and the game
  starts.

  This is an old game and processing power when it was developed wasn't great. As a result the game has adopted a novel approach to delivering graphics. All the action takes place on small windows that appear on the main game area. A typical sequence starts with a window opening to show the pitcher throwing the ball to the hitter. If the ball is struck it flies out of that window which promptly closes, a new one opens depicting the ball approaching a fielder who may/may not catch the ball. Often the fielder will catch the ball and immediately throw it to one of the bases so that window closes and another one opens showing whether the runner made it safely to the base or not.


  When a game is over the player is shown the current league table and is invited to select another pair of teams to play each other.


  The game has sound effects typical of games of this age namely blips as the ball is hit and something to simulate applause when a runner makes it home safely. There are also in-game options to change the team, substitute the pitcher, steal, bunt, view in-game stats and more.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f8f2c644e4681240bc2b3f79a371ad8aba17ded2.jpeg
  - https://cdn.dos.zone/original/2X/a/a2272dafe09fae5af4d93b88de0d87f765cc5ff3.jpeg
---
