---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dime-city.jsdos
layout: page.njk
ogDescription: Dime City is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dime City
  on mobile. On DOS.Zone Dime City available to play for free without registration.
permalink: /dime-city-1995/
screenshots:
- https://cdn.dos.zone/original/2X/6/6a1462aa61d07080b7633f3641828a1a71b1b62b.png
- https://cdn.dos.zone/original/2X/b/b234ad26f79b643674c4fd4da741916d7651e242.png
shortTitle: Dime City
title: Dime City | 🕹️Play Dime City Online | DOS game in browser

---
