---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dimono.jsdos
layout: page.njk
ogDescription: Dimono is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Dimono on mobile.
  On DOS.Zone Dimono available to play for free without registration.
permalink: /dimono-feb-24-2008/
screenshots:
- https://cdn.dos.zone/original/2X/4/437a81afad0654b09771919032cad926db76468e.png
- https://cdn.dos.zone/original/2X/6/64c177d7383e947bdb261e31c95b07d18175e641.png
shortTitle: Dimono
title: Dimono | 🕹️Play Dimono Online | DOS game in browser

---
