---
layout: page.njk
title: Dino Hunt | 🕹️Play Dino Hunt Online | Download js-dos bundle
ogDescription: Want to Play Dino Hunt? 🕹 On Dos Zone you can play Dino Hunt OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Dino Hunt
permalink: /dino-hunt-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdino-hunt.jsdos
description: Dino Hunt is a single-player shareware game. The objective is to
  get Nicky Neanderthal back to his cave after first hunting the many dinosaurs
  that inhabit the area. Points are scored for each dinosaur killed. Nicky is
  controlled with the arrow keys on the keyboard. He can move over ground and
  through grass but cannot pass through bushes or water. The spear is thrown by
  pressing the space bar. Entering Nicky's cave ends the current level and
  starts the next. The five levels get progressively harder as dinosaurs become
  faster and more abundant.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9fe7cc4d22e42d8fa586e09f2b431f727413fc5e.png
  - https://cdn.dos.zone/original/2X/6/6771177236d0ec52bc2fce6036286ba9d0704f8b.gif
---
