---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dino-hunt.jsdos
layout: page.njk
ogDescription: Dino Hunt is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dino Hunt
  on mobile. On DOS.Zone Dino Hunt available to play for free without registration.
permalink: /dino-hunt-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9fe7cc4d22e42d8fa586e09f2b431f727413fc5e.png
- https://cdn.dos.zone/original/2X/6/6771177236d0ec52bc2fce6036286ba9d0704f8b.gif
shortTitle: Dino Hunt
title: Dino Hunt | 🕹️Play Dino Hunt Online | DOS game in browser

---
