---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/disk-crash.jsdos
layout: page.njk
ogDescription: Disk Crash is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Disk Crash
  on mobile. On DOS.Zone Disk Crash available to play for free without registration.
permalink: /disk-crash-1985/
screenshots:
- https://cdn.dos.zone/original/2X/f/f1971ba6970ac1fd9634fc70e286a0db52dabb0e.png
- https://cdn.dos.zone/original/2X/a/ab74330adfef2b73d4d41cc91e38e4a5c11a208.png
shortTitle: Disk Crash
title: Disk Crash | 🕹️Play Disk Crash Online | DOS game in browser

---
