---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/6/64ae157f1baa4317f626ccbc74364d9da87d5558.jsdos
layout: page.njk
ogDescription: Disney's Aladdin is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Disney's Aladdin
  on mobile. On DOS.Zone Disney's Aladdin available to play for free without registration.
permalink: /disneys-aladdin-1994/
screenshots:
- https://cdn.dos.zone/original/2X/0/0c804843419df5ca544296ed56b41967b0c6a0d9.gif
- https://cdn.dos.zone/original/2X/3/3a2e44dc8b2a46f280028696d7c5eed5d246b0fa.gif
shortTitle: Disney's Aladdin
title: Disney's Aladdin | 🕹️Play Disney's Aladdin Online | DOS game in browser

---
