---
layout: page.njk
title: Dive Bomber | 🕹️Play Dive Bomber Online | Download js-dos bundle
ogDescription: Want to Play Dive Bomber? 🕹 On Dos Zone you can play Dive Bomber
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dive Bomber
permalink: /dive-bomber-feb-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdive-bomber.jsdos
description: In World War 2, the Bismarck battleship has been dominant thus far.
  Armed with torpedoes and a machine gun, can you destroy the Bismarck with a
  well-aimed torpedo and turn the tide of WW2 in the Allies' favour? Find out is
  this flight simulation and strategy game. How you complete the task is largely
  up to you. You will need to deal with the plane's instruments, to take off,
  and plan which areas of the sky you patrol in the search for the Bismarck.
  There are four distinct instrument panels to control engineer, navigator and
  gunner functions as well as the main flight controls. Statistics on how much
  of each enemy's fleet you destroy are kept.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ee527b1bcc60d43abc226ed1c8a4556b173c4c54.gif
  - https://cdn.dos.zone/original/2X/7/797a0af36d873378a1c46765d16ad8830ddea26c.gif
---
