---
layout: page.njk
title: Don't Wake the SysOp | 🕹️Play Don't Wake the SysOp Online | Download
  js-dos bundle
ogDescription: Want to Play Don't Wake the SysOp? 🕹 On Dos Zone you can play
  Don't Wake the SysOp OR donwload js-dos bundle for free. Start playing now!
shortTitle: Don't Wake the SysOp
permalink: /dont-wake-the-sysop-sep-24-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdont-wake-the-sysop.jsdos
description: "This BBS door game has a misleading name: rather, it should be
  called \"See how much you can get away with bugging the SysOp before he wakes
  up\", the SysOp being (for those of you who weren't online at the time) the
  system operator of a bulletin board service the player remotely dials in
  to.  Often the BBS computer would be running in the SysOp's bedroom, and
  frequently users would pester the SysOp with the oft-abused (P)age SysOp menu
  command, which would make his computer beep and chirp to get his attention.
  What's the emergency?  What?  You're bored?  You want me to install better
  door games?  Well, ok. This is a game played from a BBS's log-off menu, when
  the user is already on their way offline, and simulates varying levels of
  harassing a hypothetical and simulated SysOp, for points, with the dire
  consequence of being kicked offline should the virtual SysOp actually roll
  over in their simulated slumber and be disturbed.  A low-key cyber-Russian
  Roulette, if you will.  Higher-point harassment (choosing the option to call
  the SysOp's voice line, for instance, or hollering outside their window) bears
  with it a greater chance of failure and disconnection.  High scores are noted,
  and players can compete among themselves on a call to call basis to see who
  stays on top."
screenshots:
  - https://cdn.dos.zone/original/2X/1/14cc03e654b78a934794e78d7ea163f3bc2847a4.png
  - https://cdn.dos.zone/original/2X/4/45318d5fc506339000a9643ea8f3471aa42623b2.png
---
