---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dont-wake-the-sysop.jsdos
layout: page.njk
ogDescription: Don't Wake the SysOp is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Don't Wake the SysOp on mobile. On DOS.Zone Don't Wake the SysOp available to
  play for free without registration.
permalink: /dont-wake-the-sysop-sep-24-1995/
screenshots:
- https://cdn.dos.zone/original/2X/1/14cc03e654b78a934794e78d7ea163f3bc2847a4.png
- https://cdn.dos.zone/original/2X/4/45318d5fc506339000a9643ea8f3471aa42623b2.png
shortTitle: Don't Wake the SysOp
title: Don't Wake the SysOp | 🕹️Play Don't Wake the SysOp Online | DOS game in browser

---
