---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dopplegnger.jsdos
layout: page.njk
ogDescription: Doppleg&#xE4;nger is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Doppleg&#xE4;nger on mobile. On DOS.Zone Doppleg&#xE4;nger available to play for
  free without registration.
permalink: /doppleganger-1985/
screenshots:
- https://cdn.dos.zone/original/2X/6/665d18a8cfd420064852a97399e13c5fcad8d6ed.png
- https://cdn.dos.zone/original/2X/4/4731e7c9b0b7727aeb5a580044cf988d7d2cba75.png
shortTitle: Doppleg&#xE4;nger
title: Doppleg&#xE4;nger | 🕹️Play Doppleg&#xE4;nger Online | DOS game in browser

---
