---
layout: page.njk
title: Doppleg&#xE4;nger | 🕹️Play Doppleg&#xE4;nger Online | Download js-dos bundle
ogDescription: Want to Play Doppleg&#xE4;nger? 🕹 On Dos Zone you can play
  Doppleg&#xE4;nger OR donwload js-dos bundle for free. Start playing now!
shortTitle: Doppleg&#xE4;nger
permalink: /doppleganger-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdopplegnger.jsdos
description: Dopplegänger is a single person, interactive fiction, text
  adventure. Inter-Planetary Human Simulations has finally developed an android,
  the "IPHS-3939/41-B" called "IP-39" for short, that is "the ultimate human
  match." This amazingly humanoid machine is now missing. Was it stolen? Did it
  escape? Most importantly, where is it now? The player takes the role of
  Michael Telan, a secret agent working for Argrath Intelligence. It is your
  task to investigate and recover the IP-39.
screenshots:
  - https://cdn.dos.zone/original/2X/6/665d18a8cfd420064852a97399e13c5fcad8d6ed.png
  - https://cdn.dos.zone/original/2X/4/4731e7c9b0b7727aeb5a580044cf988d7d2cba75.png
---
