---
layout: page.njk
title: Doraon Neoguri | 🕹️Play Doraon Neoguri Online | Download js-dos bundle
ogDescription: Want to Play Doraon Neoguri? 🕹 On Dos Zone you can play Doraon
  Neoguri OR donwload js-dos bundle for free. Start playing now!
shortTitle: Doraon Neoguri
permalink: /doraon-neoguri-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdoraon-neoguri.jsdos
description: Doraon Neoguri is a Korean-made variant of the arcade game Ponpoko.
  The player guides a raccoon dog through a series of single-screen platform
  stages. The goal in each stage is to eat all the fruits in it. Enemies are
  moving around and try to prevent the greedy little animal from snatching the
  fruits. Deadly spikes are placed around many fruits as well. Unidentified
  objects may contain bonus points, but also may produce new enemies. The
  protagonist can climb ladders to access upper platforms and can also jump
  horizontally. A contact with an enemy or a trap, as well as falling damage,
  will kill him instantly, forcing the player to retry the stage until the
  raccoon dog runs out of lives. There is little difference gameplay-wise
  between this version and the arcade original. However, the levels have
  different layouts, some graphics (such as the protagonist sprite) are
  re-drawn, and the order of fruits is different as well.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ec36d57f47576132ceef6828b8ae2f120af67a42.png
  - https://cdn.dos.zone/original/2X/8/88fb0ad039ce3c1ce5623953116d8e4394e6b5a6.png
---
