---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dots__.jsdos
layout: page.njk
ogDescription: Dots is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Dots on mobile.
  On DOS.Zone Dots available to play for free without registration.
permalink: /dots-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2a0cbfbc8fc89ca014684978feccbb26dba763e.png
- https://cdn.dos.zone/original/2X/5/5912638f2d1c8ee35692e0023c68a76310b4c4c.png
shortTitle: Dots
title: Dots | 🕹️Play Dots Online | DOS game in browser

---
