---
layout: page.njk
title: Double Dragon | 🕹️Play Double Dragon Online | Download js-dos bundle
ogDescription: Want to Play Double Dragon? 🕹 On Dos Zone you can play Double
  Dragon OR donwload js-dos bundle for free. Start playing now!
shortTitle: Double Dragon
permalink: /double-dragon-nov-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdouble-dragon.jsdos
description: Set in a post-apocalyptic New York, Double Dragon is the story of
  Billy and Jimmy Lee, twin brothers trained in the fighting style of
  Sou-Setsu-Ken. Together, they manage a small martial arts training school,
  teaching their students in self-defense. One day, Billy's girlfriend, Marian,
  is kidnapped off the street by the "Black Warriors", a savage street gang led
  by a man named Willy. The Black Warriors demand the Lee brothers disclose
  their martial arts secrets in exchange for Marian's freedom. The Lee brothers
  set out on a rescue mission to crush the Black Warriors and save Marian. Using
  whatever techniques they have at their disposal, from the basic punches and
  kicks to the invulnerable elbow strike, as well any weapon that comes into
  their hands, the Lee brothers must pursue the gang through the city slum,
  industrial area and the forest before reaching their hideout to confront the
  big boss, Willy. The NES version of this game also has an additional VS.
  fighting mode for one or two players. Players choose from a field of six
  different characters (Billy and 5 of the enemy characters) and enter into a
  one-on-one fighting match. Players have to punch, kick, jumpkick, and even use
  a weapon against their opponents until someone's health bar is fully drained.
  The winner is the last one standing.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f47c7cee527c26242e96faf344a679e60a43c161.gif
  - https://cdn.dos.zone/original/2X/9/9487a97866775683dc2aa5938243aca8ac58b6ea.gif
---
