---
layout: page.njk
title: DoubleLink | 🕹️Play DoubleLink Online | Download js-dos bundle
ogDescription: Want to Play DoubleLink? 🕹 On Dos Zone you can play DoubleLink
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: DoubleLink
permalink: /doublelink-jan-19-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdoublelink.jsdos
description: "DoubleLink is a single player, shareware, falling block game. In
  this game the falling blocks are bi-coloured capsules. The game area is
  populated with 'meanies', coloured frowning faces, and the objective is to
  clear these by making rows of four blocks of the same colour. This scores
  points and makes the blocks and any 'meanies' the row contains disappear. Note
  1: Blocks only disappear in groups of four, if a longer string is formed then
  the surplus blocks will be left behind Note 2: diagonal rows do not count in
  this game. There are ten levels in this game, the harder the level the more
  'meanies' are on screen at the start of the game. The game is entirely
  keyboard controlled."
screenshots:
  - https://cdn.dos.zone/original/2X/3/36af4d9da0e2254dd9a07d39e7060a03321c1f1.png
  - https://cdn.dos.zone/original/2X/b/b9492f91a579f2dc2eef0bc1d7b57b1d477a7556.png
---
