---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dr-ruths-computer-game-of-good-sex.jsdos
layout: page.njk
ogDescription: Dr. Ruth's Computer Game of Good Sex is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Dr. Ruth's Computer Game of Good Sex on mobile. On DOS.Zone Dr.
  Ruth's Computer Game of Good Sex available to play for free without registration.
permalink: /dr-ruths-computer-game-of-good-sex-oct-1986/
screenshots:
- https://cdn.dos.zone/original/2X/e/e7a1587fe88e5fb64e3dd40c875d7f57c648f562.png
- https://cdn.dos.zone/original/2X/f/f845862a3ecd305d4666ae64c0a4b26dddd7b79.png
shortTitle: Dr. Ruth's Computer Game of Good Sex
title: Dr. Ruth's Computer Game of Good Sex | 🕹️Play Dr. Ruth's Computer Game of Good
  Sex Online | DOS game in browser

---
