---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dr-rudy-2.jsdos
layout: page.njk
ogDescription: Dr. Rudy 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dr. Rudy 2
  on mobile. On DOS.Zone Dr. Rudy 2 available to play for free without registration.
permalink: /dr-rudy-2-jun-01-1996/
screenshots:
- https://cdn.dos.zone/original/2X/d/da4f2a81decc82f7f0ce6ae2f9b2a2ce87545769.png
- https://cdn.dos.zone/original/2X/a/a2babb850d5aba5a345884b596f5ccc3fe566b86.png
shortTitle: Dr. Rudy 2
title: Dr. Rudy 2 | 🕹️Play Dr. Rudy 2 Online | DOS game in browser

---
