---
layout: page.njk
title: Dr. Ruth's Computer Game of Good Sex | 🕹️Play Dr. Ruth's Computer Game
  of Good Sex Online | Download js-dos bundle
ogDescription: Want to Play Dr. Ruth's Computer Game of Good Sex? 🕹 On Dos Zone
  you can play Dr. Ruth's Computer Game of Good Sex OR donwload js-dos bundle
  for free. Start playing now!
shortTitle: Dr. Ruth's Computer Game of Good Sex
permalink: /dr-ruths-computer-game-of-good-sex-oct-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdr-ruths-computer-game-of-good-sex.jsdos
description: A text based quiz game about human sexuality. Dr. Ruth did the
  questions along with her researchers. It is a time based quiz game where you
  have multiple choice. These are not obvious and sometimes you have to choose
  the only true or false answer among the four or five choices. There is a
  countdown clock and your score also is modified by how fast you answer the
  questions.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e7a1587fe88e5fb64e3dd40c875d7f57c648f562.png
  - https://cdn.dos.zone/original/2X/f/f845862a3ecd305d4666ae64c0a4b26dddd7b79.png
---
