---
layout: page.njk
title: Dragonsphere | 🕹️Play Dragonsphere Online | Download js-dos bundle
ogDescription: Want to Play Dragonsphere? 🕹 On Dos Zone you can play
  Dragonsphere OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dragonsphere
permalink: /dragonsphere-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdragonsphere.jsdos
description: The young Callash has been just crowned the king of Gran Callahach.
  Twenty years ago the land was in grave peril, as the evil sorcerer Sanwe
  planned to conquer and ruin it. But he old king's court wizard Ner-Tom
  magically imprisoned Sanwe using the powers of the Dragonsphere spell. The
  sorcerer swore to avenge his humiliation once the spell's energy runs out.
  Now, this time has come, and the young hero must defeat Sanwe before he breaks
  free. As he approaches the sorcerer's prison, he is yet to realize that
  dealing with Sanwe will lead to startling realizations concerning his own
  self, and unravel a new sinister plot... Dragonsphere is a graphic adventure
  in the classic third-person LucasArts and Sierra style, and the third
  adventure game by MicroProse, similar visually and gameplay-wise to Rex
  Nebular and the Cosmic Gender Bender. The interaction with the game world is
  performed by applying one of the ten different verb commands to objects and/or
  people. Additionally, each object has several unique, specific verb commands
  that can be applied giving the player quite a number of possible combinations
  of object usage and sometimes more straight forward resolution to the problem.
  The game contains vast amounts of unique text responses to player's actions
  and branching dialogue with characters. Some of them are fatal for the main
  character so they need to be chosen wisely or accordingly to the presented
  facts and observations. The puzzles are, for the most part, inventory-based.
  The game features hand-painted backgrounds and some digitized animation.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ee0c10cc3efdefaba3b65204fd44450d0b3bd2b.gif
  - https://cdn.dos.zone/original/2X/4/48c41d5aa9a08354cf0aae81a2df6028c7f90280.gif
---
