---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/drag-race-eliminator.jsdos
layout: page.njk
ogDescription: Drag Race Eliminator is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Drag Race Eliminator on mobile. On DOS.Zone Drag Race Eliminator available to
  play for free without registration.
permalink: /drag-race-eliminator-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/de69630d2bfdc9bf3f4916dc08d3f2e74895302d.png
- https://cdn.dos.zone/original/2X/8/83859b3fed9e6cad881a61049baeafa1737a7843.png
shortTitle: Drag Race Eliminator
title: Drag Race Eliminator | 🕹️Play Drag Race Eliminator Online | DOS game in browser

---
