---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dragonsphere.jsdos
layout: page.njk
ogDescription: Dragonsphere is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dragonsphere
  on mobile. On DOS.Zone Dragonsphere available to play for free without registration.
permalink: /dragonsphere-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/ee0c10cc3efdefaba3b65204fd44450d0b3bd2b.gif
- https://cdn.dos.zone/original/2X/4/48c41d5aa9a08354cf0aae81a2df6028c7f90280.gif
shortTitle: Dragonsphere
title: Dragonsphere | 🕹️Play Dragonsphere Online | DOS game in browser

---
