---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/drak.jsdos
layout: page.njk
ogDescription: Drak is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Drak on mobile.
  On DOS.Zone Drak available to play for free without registration.
permalink: /drak-1995/
screenshots:
- https://cdn.dos.zone/original/2X/c/c92ea6a179de0533ddf83bf6eb7f1a6b4b677c95.png
- https://cdn.dos.zone/original/2X/c/cc7d83ffc494a164bc1b6407c098c67ce6d3efc.png
shortTitle: Drak
title: Drak | 🕹️Play Drak Online | DOS game in browser

---
