---
layout: page.njk
title: Drak | 🕹️Play Drak Online | Download js-dos bundle
ogDescription: Want to Play Drak? 🕹 On Dos Zone you can play Drak OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Drak
permalink: /drak-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdrak.jsdos
description: Another Tetris clone. In the phantasy world reconstructed after
  decadence, the favourite game was Drak - a game where you have to eliminate
  lines of blocks flying from the top. This game allows you to practice or
  complete the Conquest, ultimate goal of Drak, which consist of 100 stages. You
  have to eliminate lines until indicator turns yellow. Also bombs are flying
  from the top. Sometimes obstacles and other difficulties can be on the path of
  the flying object.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c92ea6a179de0533ddf83bf6eb7f1a6b4b677c95.png
  - https://cdn.dos.zone/original/2X/c/cc7d83ffc494a164bc1b6407c098c67ce6d3efc.png
---
