---
layout: page.njk
title: Draughts | 🕹️Play Draughts Online | Download js-dos bundle
ogDescription: Want to Play Draughts? 🕹 On Dos Zone you can play Draughts OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Draughts
permalink: /draughts-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdraughts_.jsdos
description: >-
  Draughts is a single player, shareware, implementation of the classic board
  game. This implementation is for player vs the computer, it can be played with
  keyboard or mouse and in either colour of monochrome. The shareware release is
  limited in that it only allows the player to have a single game at a time
  after which it displays a shareware reminder screen and closes down. The full
  registered version has different skill levels to play against, and two game
  variants Diagonal Draughts and Losing Draughts.

  The shareware release was issued in a package along with Kirsta's other shareware games Backgammon and Cribbage
screenshots:
  - https://cdn.dos.zone/original/2X/d/d15dba2cd4ee12074bd8b1cc39ffd1a059be1151.png
  - https://cdn.dos.zone/original/2X/c/cae21a7f78b0c2946438f2ab62d34df998f525ad.png
---
