---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/draughts_.jsdos
layout: page.njk
ogDescription: Draughts is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Draughts on
  mobile. On DOS.Zone Draughts available to play for free without registration.
permalink: /draughts-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/d15dba2cd4ee12074bd8b1cc39ffd1a059be1151.png
- https://cdn.dos.zone/original/2X/c/cae21a7f78b0c2946438f2ab62d34df998f525ad.png
shortTitle: Draughts
title: Draughts | 🕹️Play Draughts Online | DOS game in browser

---
