---
layout: page.njk
title: Draw Poker | 🕹️Play Draw Poker Online | Download js-dos bundle
ogDescription: Want to Play Draw Poker? 🕹 On Dos Zone you can play Draw Poker
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Draw Poker
permalink: /draw-poker-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdraw-poker.jsdos
description: >-
  Draw Poker is standard poker in the context of common U.S. card games where
  each player is dealt a five card hand and then can decide if they would like
  to place a bet on the first round or check (pass). The player in the game is
  against four other players all controlled by the computer with the names of
  Lucky, Shifty, Ace and Slim.
    
  Players will be dealt five cards from a shuffled deck.  All players ante $5 to the pot.  Starting as in many poker games the first round requires that to open you must have a pair of Jack’s or higher to start the betting.  Then each player in betting rounds hopes to build a better hand by replacing or "drawing" cards as needed.  Each player begins the game with $2,000 dollars.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c17db353f62b2116542454723c3807f84a4c2557.png
  - https://cdn.dos.zone/original/2X/6/6aea0d19115e745faf88822c7113f8f6a343f6f5.png
---
