---
layout: page.njk
title: Drazen Petrovic Basket | 🕹️Play Drazen Petrovic Basket Online | Download
  js-dos bundle
ogDescription: Want to Play Drazen Petrovic Basket? 🕹 On Dos Zone you can play
  Drazen Petrovic Basket OR donwload js-dos bundle for free. Start playing now!
shortTitle: Drazen Petrovic Basket
permalink: /drazen-petrovic-basket-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdrazen-petrovic-basket.jsdos
description: "\"Drazen Petrovic Basket\" is a game based on the great European
  basketball player (who dramatically died in a car accident four years later),
  which develops a basketball competition in the elimination mode, it is, you
  will start in 1/8 final and according to your results you will continue on the
  fight for the title or not. An interesting point of the game is that all the
  teams are composed by five players: one guard, two forwards and two centers,
  everyone with the typical characteristics of his position and with the
  possibility of being controlled at every moment. There are also personal
  faults, so if anyone of your players gets the fifth one he will be expelled of
  the court, but that's not all, the game also allows you to request time outs,
  two for each game period, giving you the possibility of changing the tactics,
  seeing the game stats, etc."
screenshots:
  - https://cdn.dos.zone/original/2X/d/dfee342c5409609315844542767bca77258ae7aa.png
  - https://cdn.dos.zone/original/2X/b/b57116d2f6669f04e52bd680038792c64ab8fc50.png
---
