---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dreamweb.jsdos
layout: page.njk
ogDescription: DreamWeb is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in DreamWeb on
  mobile. On DOS.Zone DreamWeb available to play for free without registration.
permalink: /dreamweb-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/eadbcf32df6ec27f8a398cf8ed2f9c9288adde8b.png
- https://cdn.dos.zone/original/2X/f/f9bfd7d053f443c3f7cf6b0b182a457e8365eda7.jpeg
shortTitle: DreamWeb
title: DreamWeb | 🕹️Play DreamWeb Online | DOS game in browser

---
