---
layout: page.njk
title: Dropper | 🕹️Play Dropper Online | Download js-dos bundle
ogDescription: Want to Play Dropper? 🕹 On Dos Zone you can play Dropper OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Dropper
permalink: /dropper-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdropper.jsdos
description: Dropper is an arcade game to catch the drops of a certain liquid
  falling from a ceiling, until these drops make a flood in the room. The player
  moves a bowl on the floor, and tries to figure out where the drop will fall,
  reflecting its starting position on the ceiling to the location on the floor.
  The more accurate catch gives more points. Rare red drops give more points in
  comparison to ordinary blue drops. Starting from a novice difficulty, the
  player should complete the level filling his bowl completely to reach the next
  difficulty. The player's progress is saved in his profile and restored on next
  game's run. Highest scores are stored in top eight table.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6090e9e1170706aae8d76b0e0ec481bc58e4e089.png
  - https://cdn.dos.zone/original/2X/e/e6bcec2f5771b5c891c0ff7fa82439f74a016eaf.png
---
