---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/duck-hunt__.jsdos
layout: page.njk
ogDescription: Duck Hunt is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Duck Hunt
  on mobile. On DOS.Zone Duck Hunt available to play for free without registration.
permalink: /duck-hunt-jul-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/f41de7652d59ffc6960336f5aea785f5c3404a4c.png
- https://cdn.dos.zone/original/2X/e/e71afac1cf114c94bacffbc2ba3cd5ef1869dfa0.png
shortTitle: Duck Hunt
title: Duck Hunt | 🕹️Play Duck Hunt Online | DOS game in browser

---
