---
layout: page.njk
title: Duke Nukem 3D | 🕹️Play Duke Nukem 3D Online | Download js-dos bundle
ogDescription: Want to Play Duke Nukem 3D? 🕹 On Dos Zone you can play Duke
  Nukem 3D OR donwload js-dos bundle for free. Start playing now!
shortTitle: Duke Nukem 3D
permalink: /duke-nukem-3d-1996/
bundles:
  - type: js
    title: +lowres
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F0%2F049dddc01c5b8e40aefb48870450534d4d7cf068.jsdos
  - type: cloud
    title: .hires
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Ff%2Ff314f7288d8f0af82efe6d0d4083825e83ff39f2.jsdos
description: >-
  <p>Duke Nukem 3D is a first-person shooter video game developed and published
  by 3D Realms.<br>

  Released on April 24, 1996, Duke Nukem 3D is the third game in the Duke Nukem series and a sequel to Duke Nukem II. The game was a commercial success and has seen numerous console ports, expansion packs, and special edition re-releases since its debut.</p>

  <p>As a groundbreaking entry in the first-person shooter genre, Duke Nukem 3D was generally well-received by critics. The game was also immediately controversial and drew criticism in the mainstream media for its violence and pornographic content.</p>

  <p>A sequel, Duke Nukem Forever, was released in 2011</p>

  <details>

  <summary>

  Screenshot</summary>

  <p><img src="https://cdn.dos.zone/original/2X/6/6531d7e5e88eaf1dd71871484156712016d798a0.jpeg" alt="220px-Duke_Nukem_3D_Coverart" data-base62-sha1="erd0PwBy6ta1TZs4ZYAGdftStb2" width="220" height="262"></p>

  </details>
screenshots:
  - https://cdn.dos.zone/original/2X/6/6531d7e5e88eaf1dd71871484156712016d798a0.jpeg
---
