---
bundles:
- lang: ENG
  mobile: false
  title: +lowres
  type: js
  url: original/2X/0/049dddc01c5b8e40aefb48870450534d4d7cf068.jsdos
- lang: ENG
  mobile: false
  title: .hires
  type: cloud
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Ff%2Ff314f7288d8f0af82efe6d0d4083825e83ff39f2.jsdos
layout: page.njk
ogDescription: Duke Nukem 3D is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Duke Nukem
  3D on mobile. On DOS.Zone Duke Nukem 3D available to play for free without registration.
permalink: /duke-nukem-3d-1996/
screenshots:
- https://cdn.dos.zone/original/2X/6/6531d7e5e88eaf1dd71871484156712016d798a0.jpeg
shortTitle: Duke Nukem 3D
title: Duke Nukem 3D | 🕹️Play Duke Nukem 3D Online | DOS game in browser

---
