---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dune-iii.jsdos
layout: page.njk
ogDescription: Dune III is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dune III on
  mobile. On DOS.Zone Dune III available to play for free without registration.
permalink: /dune-iii-jan-1995/
screenshots:
- https://cdn.dos.zone/original/2X/1/19edd66a24c54668642edf9b4131422b44ca5b69.png
- https://cdn.dos.zone/original/2X/3/343297bf4c3ed7de7b61f29b9a7968ec65ea17b4.png
shortTitle: Dune III
title: Dune III | 🕹️Play Dune III Online | DOS game in browser

---
