---
layout: page.njk
title: "Dune II: The Building of a Dynasty | 🕹️Play Dune II: The Building of a
  Dynasty Online | Download js-dos bundle"
ogDescription: "Want to Play Dune II: The Building of a Dynasty? 🕹 On Dos Zone
  you can play Dune II: The Building of a Dynasty OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Dune II: The Building of a Dynasty"
permalink: /dune-ii-the-building-of-a-dynasty-dec-1992/
bundles:
  - type: android
    title: Dune 2 For Android
    url: https://play.google.com/store/apps/details?id=playerforsoftware.wwwplayer
  - type: datafile
    title: opendune2-datafile
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F8%2F80c8fbe524842580537590f14c3b6b370d5198ca.zip
  - type: datafile
    title: opendune2-datafile
    mobile: false
    lang: RUS
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fa%2Fad8184c54a28a7f89542fa0b136a2c86adc9379d.zip
  - type: datafile
    title: opendune2-datafile
    mobile: false
    lang: FRA
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F6%2F611926debf5f1f3710d134c05a4ce2e2dc5a395d.zip
  - type: external-js
    title: "epicport"
    mobile: false
    lang: ENG
    url: http://epicport.com/en/dune2
description: "The planet Arrakis (also known as Dune for its sandy landscape) is
  the only place in the known universe where Melange (more commonly known as the
  Spice) can be found. The Spice is the basis of interstellar travel and thus
  the standard of the Imperial economy. To increase productivity, The Padishah
  Emperor has invited three powerful Houses (Harkonnen, Atreides and Ordos) to
  compete against one another economically and bring up spice production.
  Competition among these houses begins peacefully but soon turns ugly as they
  battle each other with armed troops, advanced weaponry, and spies. The planet
  itself is also hostile, with dangerous sandworms inhabiting the spice fields.
  Dune II is often considered the first mainstream modern real-time strategy
  game and established many conventions of the genre. Even though set in Frank
  Herbert's famous Dune universe, the game is only loosely connected to  the
  plot of any of the books or the films based from them. Controlling either of
  the three Houses, the player must fight a number of battles against the other
  Houses.  In the early levels, the goal is simply to earn a certain number of
  credits, while in the later missions, all enemies must be destroyed. The
  single resource in the game is the Spice, which must be collected by
  harvesters. The spice is converted to credits in a refinery, which are then
  spent to construct additional buildings and units. There are two terrain
  types: buildings can only be constructed on stone, while the Spice is only
  found on sand. However, units moving on sand attract the large sandworms of
  Dune, who are virtually indestructible and can swallow even large units whole.
  As levels progress, new and more advanced buildings and units are made
  available, including structures like a radar station, a repair facility or
  defense turrets and, for units, various ground troops, light vehicles and
  tanks. Each House can construct one unique special unit, and, after building a
  palace improvement, can unleash a unique palace effect. After a mission is
  completed, the player can select the next mission on a map of Dune. This
  choice determines the layout of the next map to be played, but has no effect
  on the overall campaign."
screenshots:
  - https://cdn.dos.zone/original/2X/4/439e334ee7942178bf237e841edf28beaf729c82.jpeg
  - https://cdn.dos.zone/original/2X/a/ae9a5adfd6ba49ad47ba1c7c8aa2309a0d5190a2.png
youtube: 8lsuu6mha7c
---
