---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dungeons-of-kroz.jsdos
layout: page.njk
ogDescription: Dungeons of Kroz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dungeons of
  Kroz on mobile. On DOS.Zone Dungeons of Kroz available to play for free without
  registration.
permalink: /dungeons-of-kroz-mar-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/fa679c4538decd6a9802059ec662df39c1e97dd.gif
- https://cdn.dos.zone/original/2X/9/934201c8cf40903d1159c1fb1ccd77ddf268a237.png
shortTitle: Dungeons of Kroz
title: Dungeons of Kroz | 🕹️Play Dungeons of Kroz Online | DOS game in browser

---
