---
layout: page.njk
title: Dungeons of Kroz | 🕹️Play Dungeons of Kroz Online | Download js-dos bundle
ogDescription: Want to Play Dungeons of Kroz? 🕹 On Dos Zone you can play
  Dungeons of Kroz OR donwload js-dos bundle for free. Start playing now!
shortTitle: Dungeons of Kroz
permalink: /dungeons-of-kroz-mar-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdungeons-of-kroz.jsdos
description: Dungeons of Kroz is the second installment of the Kroz trilogy -
  this game is very similar to the Kingdom of Kroz, only differing in level
  design and puzzles.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fa679c4538decd6a9802059ec662df39c1e97dd.gif
  - https://cdn.dos.zone/original/2X/9/934201c8cf40903d1159c1fb1ccd77ddf268a237.png
---
