---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dunjax.jsdos
layout: page.njk
ogDescription: Dunjax is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Dunjax on mobile.
  On DOS.Zone Dunjax available to play for free without registration.
permalink: /dunjax-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/cba14f8abf884ae54a2b42e80b5ccf959116a12a.png
- https://cdn.dos.zone/original/2X/6/6a0c39a8937e79192696a4509b13bbfd23c172cc.png
shortTitle: Dunjax
title: Dunjax | 🕹️Play Dunjax Online | DOS game in browser

---
