---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dvorak-on-typing.jsdos
layout: page.njk
ogDescription: Dvorak on Typing is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Dvorak on
  Typing on mobile. On DOS.Zone Dvorak on Typing available to play for free without
  registration.
permalink: /dvorak-on-typing-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/6570702a52a96eda64103487fa71c256002304a2.png
- https://cdn.dos.zone/original/2X/a/ac6f1e2f586d0432c0f34a848122320786b93812.png
shortTitle: Dvorak on Typing
title: Dvorak on Typing | 🕹️Play Dvorak on Typing Online | DOS game in browser

---
