---
layout: page.njk
title: Early Games for Young Children | 🕹️Play Early Games for Young Children
  Online | Download js-dos bundle
ogDescription: Want to Play Early Games for Young Children? 🕹 On Dos Zone you
  can play Early Games for Young Children OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Early Games for Young Children
permalink: /early-games-for-young-children-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fearly-games-for-young-children.jsdos
description: A collection of educational mini-games for pre-school children,
  aimed at ages 2½-6 and designed to impart basic skills with letters, numbers
  and shapes. The exercises include counting, adding and subtracting colored
  blocks, matching on-screen letters and numbers with the keyboard, memorizing
  the alphabet, comparing shapes, and practicing basic color drawing.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ec9f467f460de969190f9c13fc535ad384b28e38.png
  - https://cdn.dos.zone/original/2X/b/bb4e2fee78bb84c781975216301d66dc04a51a81.png
---
