---
layout: page.njk
title: Earthworm Jim | 🕹️Play Earthworm Jim Online | Download js-dos bundle
ogDescription: Want to Play Earthworm Jim? 🕹 On Dos Zone you can play Earthworm
  Jim OR donwload js-dos bundle for free. Start playing now!
shortTitle: Earthworm Jim
permalink: /earthworm-jim-nov-30-1995/
bundles:
  - type: js
    title: "part 2 "
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fa%2Faad1d125300d7d93bc28058fa4d0247a7142510e.jsdos
description: A crow is chasing a worm named Jim while in outer space Psy-Crow is
  chasing a renegade ship. The ship's captain has stolen an
  ultra-high-tech-indestructible-super-space-cyber-suit and Queen
  Slug-for-a-Butt has ordered Psy-Crow to get it, since it can make her more
  beautiful than Princess-What's-Her-Name. Psy-Crow blasts the captain and the
  suit falls to Planet Earth. Back on earth Jim wonders if he is finally safe
  when an ultra-high-tech-indestructible-super-space-cyber-suit lands on him.
  Luckily Jim rests in the neck ring of the suit. Then the space particles begin
  interacting with Jim, causing a light-speed evolution. Jim soon realizes he is
  in control of the suit. Jim overhears the Queen's plans for the suit and
  decides to meet this Princess...
screenshots:
  - https://cdn.dos.zone/original/2X/6/61c6bd05f39bfdd81a0a811687f062b858b308dd.png
  - https://cdn.dos.zone/original/2X/e/e7ee34aa05a61858cca5a0eb17c8254151095438.png
---
