---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/earthrise.jsdos
layout: page.njk
ogDescription: Earthrise is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Earthrise
  on mobile. On DOS.Zone Earthrise available to play for free without registration.
permalink: /earthrise-1990/
screenshots:
- https://cdn.dos.zone/original/2X/3/3a6a8eb33e36776cd9e5f26e13c0c1c8c4d6e9d6.gif
- https://cdn.dos.zone/original/2X/5/5c2da0761b7417b4461e2329fd45034e71d4b3ce.gif
shortTitle: Earthrise
title: Earthrise | 🕹️Play Earthrise Online | DOS game in browser

---
