---
layout: page.njk
title: Eat'em II | 🕹️Play Eat'em II Online | Download js-dos bundle
ogDescription: Want to Play Eat'em II? 🕹 On Dos Zone you can play Eat'em II OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Eat'em II
permalink: /eatem-ii-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Featem-ii.jsdos
description: Eat'em II is a single player, Pac-Man like game. As with Pac-Man
  the player navigates a maze eating food to score points and they are chased by
  ghosts. Unlike Pac-Man the maze is much larger and extends beyond the screen
  in all directions. Another twist is that instead of eating a power pill and
  then being able to chase down and eat the ghosts as in Pac Man, in this game
  the power pill gives the player the chance to shoot their enemies.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ffc4b5db8d1c35b978908dc324bb247c130d2836.png
  - https://cdn.dos.zone/original/2X/a/a9dc2f6f9f78ca54af6bf7b3141f7cf0aa53355a.png
---
