---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/eatem-ii.jsdos
layout: page.njk
ogDescription: Eat'em II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Eat'em II
  on mobile. On DOS.Zone Eat'em II available to play for free without registration.
permalink: /eatem-ii-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/ffc4b5db8d1c35b978908dc324bb247c130d2836.png
- https://cdn.dos.zone/original/2X/a/a9dc2f6f9f78ca54af6bf7b3141f7cf0aa53355a.png
shortTitle: Eat'em II
title: Eat'em II | 🕹️Play Eat'em II Online | DOS game in browser

---
