---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/education-series-general-knowledge-builder.jsdos
layout: page.njk
ogDescription: 'Education Series: General Knowledge Builder is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Education Series: General Knowledge Builder on mobile. On DOS.Zone
  Education Series: General Knowledge Builder available to play for free without registration.'
permalink: /education-series-general-knowledge-builder-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/f67895af0f607d97bb64fca78fbebcd837a6030e.png
- https://cdn.dos.zone/original/2X/8/8ff96fd88731be9c680e4ba33d99d11a5f06080c.png
shortTitle: 'Education Series: General Knowledge Builder'
title: 'Education Series: General Knowledge Builder | 🕹️Play Education Series: General
  Knowledge Builder Online | DOS game in browser'

---
