---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/edward-o-thorps-real-blackjack.jsdos
layout: page.njk
ogDescription: Edward O. Thorp's Real Blackjack is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Edward O. Thorp's Real Blackjack on mobile. On DOS.Zone Edward O. Thorp's
  Real Blackjack available to play for free without registration.
permalink: /edward-o-thorps-real-blackjack-1990/
screenshots:
- https://cdn.dos.zone/original/2X/3/3b2be0b044b7cc623e33599ab23cfdaf3ad0cef0.png
- https://cdn.dos.zone/original/2X/6/66956d6c677470e5324074a43f93bb9198ed4eea.png
shortTitle: Edward O. Thorp's Real Blackjack
title: Edward O. Thorp's Real Blackjack | 🕹️Play Edward O. Thorp's Real Blackjack
  Online | DOS game in browser

---
