---
layout: page.njk
title: Edward Grabowski's The Blue & The Gray | 🕹️Play Edward Grabowski's The
  Blue & The Gray Online | Download js-dos bundle
ogDescription: Want to Play Edward Grabowski's The Blue & The Gray? 🕹 On Dos
  Zone you can play Edward Grabowski's The Blue & The Gray OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: Edward Grabowski's The Blue & The Gray
permalink: /edward-grabowskis-the-blue-the-gray-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fedward-grabowskis-the-blue-the-gray.jsdos
description: "Edward Grabowski's The Blue and the Gray gives you your chance to
  fight the American Civil War.  You control either the federal (blue) or
  Confederate (gray) army, starting in July 1861.  You have four years to defeat
  the other side by capturing the opposition's cities and winning military
  conflicts.  Play takes place at two levels: first, you move your divisions
  across a map of America in a turn based game at the campaign level: then when
  two forces meet, a Micro Miniatures battle takes place with the result having
  its affect on the campaign level. This game gives you the chance to rewrite
  history, by choosing the course that the war will take.  The computer uses
  histroical records to determine the recruitment of forces and availability of
  weapons over time, so that both sides have approzimately the same \"raw
  material\" that they did in the real war.  Whether you win or lose depends on
  how you use them."
screenshots:
  - https://cdn.dos.zone/original/2X/4/436191e3ff33bae2d0a702bafd3e657cf02bd77b.png
  - https://cdn.dos.zone/original/2X/a/a7f76fda5df9bfa47241c843a89b4fc55f2ee1df.png
---
