---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ega-roids.jsdos
layout: page.njk
ogDescription: EGA-Roids is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in EGA-Roids
  on mobile. On DOS.Zone EGA-Roids available to play for free without registration.
permalink: /ega-roids-1986/
screenshots:
- https://cdn.dos.zone/original/2X/6/6648f29c5160f3e13b9e0759697bdacade60f62a.gif
- https://cdn.dos.zone/original/2X/c/cbaf48d9156faeddd9cce825b80ba8849e9573cf.gif
shortTitle: EGA-Roids
title: EGA-Roids | 🕹️Play EGA-Roids Online | DOS game in browser

---
