---
layout: page.njk
title: EGA-Roids | 🕹️Play EGA-Roids Online | Download js-dos bundle
ogDescription: Want to Play EGA-Roids? 🕹 On Dos Zone you can play EGA-Roids OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: EGA-Roids
permalink: /ega-roids-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fega-roids.jsdos
description: A conversion of the classic game 'Asteroids' specifically written
  to take advantage of (then-new) EGA's high-res mode. You won't find any bells
  & whistles here, as it focuses on core gameplay. The key controls are in a
  non-standard placement and are non-configurable.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6648f29c5160f3e13b9e0759697bdacade60f62a.gif
  - https://cdn.dos.zone/original/2X/c/cbaf48d9156faeddd9cce825b80ba8849e9573cf.gif
---
