---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/egawalls.jsdos
layout: page.njk
ogDescription: Egawalls is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Egawalls on
  mobile. On DOS.Zone Egawalls available to play for free without registration.
permalink: /egawalls-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/9fa41a24f820c21c54a7ada3b2497b35d9894e47.png
- https://cdn.dos.zone/original/2X/a/a35e4184a408faf384e4672964e1de44b83353c9.png
shortTitle: Egawalls
title: Egawalls | 🕹️Play Egawalls Online | DOS game in browser

---
