---
layout: page.njk
title: Egawalls | 🕹️Play Egawalls Online | Download js-dos bundle
ogDescription: Want to Play Egawalls? 🕹 On Dos Zone you can play Egawalls OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Egawalls
permalink: /egawalls-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fegawalls.jsdos
description: Egawalls is a two-player breakout clone with 48 stages. The
  two-paddle simultaneous gameplay allows for one player to concentrate on the
  ball, while the other catches the bonus blocks. You can collect power-ups and
  letters to form the word BONUS for a bonus score. Power-ups include C for an
  extra blocking tile at the bottom, H to teleport the ball to the upper area of
  the screen, E for extra life, A to immediately advance to the next stage.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9fa41a24f820c21c54a7ada3b2497b35d9894e47.png
  - https://cdn.dos.zone/original/2X/a/a35e4184a408faf384e4672964e1de44b83353c9.png
---
