---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/egawheel.jsdos
layout: page.njk
ogDescription: EGAWHEEL is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in EGAWHEEL on
  mobile. On DOS.Zone EGAWHEEL available to play for free without registration.
permalink: /egawheel-1987/
screenshots:
- https://cdn.dos.zone/original/2X/6/611906d262e3322cf1051ccc7cbfc6b2696f431d.png
- https://cdn.dos.zone/original/2X/5/534e16c76a382cbebc47cd4fd8301afe8b0cd4e9.png
shortTitle: EGAWHEEL
title: EGAWHEEL | 🕹️Play EGAWHEEL Online | DOS game in browser

---
