---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/eggerland-3.jsdos
layout: page.njk
ogDescription: Eggerland 3 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Eggerland
  3 on mobile. On DOS.Zone Eggerland 3 available to play for free without registration.
permalink: /eggerland-3-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/66e632eda97400e6c13f736416f9eba2979a9eea.png
- https://cdn.dos.zone/original/2X/8/8a9ce828ea5fa0ddeeda4f8e97ffe2c278da41a2.png
shortTitle: Eggerland 3
title: Eggerland 3 | 🕹️Play Eggerland 3 Online | DOS game in browser

---
