---
layout: page.njk
title: Eggerland 3 | 🕹️Play Eggerland 3 Online | Download js-dos bundle
ogDescription: Want to Play Eggerland 3? 🕹 On Dos Zone you can play Eggerland 3
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Eggerland 3
permalink: /eggerland-3-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Feggerland-3.jsdos
description: This game is a clone of the various official Eggerland games. You
  play as Mr. EGGY (who looks like Lolo) who must go through a lot of puzzle
  screens. Your goal is to free your beloved wife Eggorina.
screenshots:
  - https://cdn.dos.zone/original/2X/6/66e632eda97400e6c13f736416f9eba2979a9eea.png
  - https://cdn.dos.zone/original/2X/8/8a9ce828ea5fa0ddeeda4f8e97ffe2c278da41a2.png
---
