---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ein-kmo-bamba.jsdos
layout: page.njk
ogDescription: Ein Kmo Bamba is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Ein Kmo Bamba
  on mobile. On DOS.Zone Ein Kmo Bamba available to play for free without registration.
permalink: /ein-kmo-bamba-1996/
screenshots:
- https://cdn.dos.zone/original/2X/f/f2f5db76673c47ee7cb83843de6ac932fe6d83f0.png
- https://cdn.dos.zone/original/2X/b/bcfcf6dfe65b132325d8d85c973c78c37f35d7ad.png
shortTitle: Ein Kmo Bamba
title: Ein Kmo Bamba | 🕹️Play Ein Kmo Bamba Online | DOS game in browser

---
