---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/el-capitn-trueno.jsdos
layout: page.njk
ogDescription: El Capit&#xE1;n Trueno is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in El Capit&#xE1;n Trueno on mobile. On DOS.Zone El Capit&#xE1;n Trueno available
  to play for free without registration.
permalink: /el-capitan-trueno-1990/
screenshots:
- https://cdn.dos.zone/original/2X/d/dd4891f7410437a241e0a43c6e34410acc620f45.png
- https://cdn.dos.zone/original/2X/1/1e5ea605f0ed18614d8f220e81a196c31e175e15.png
shortTitle: El Capit&#xE1;n Trueno
title: El Capit&#xE1;n Trueno | 🕹️Play El Capit&#xE1;n Trueno Online | DOS game in
  browser

---
