---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/el-fish.jsdos
layout: page.njk
ogDescription: El-Fish is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in El-Fish on
  mobile. On DOS.Zone El-Fish available to play for free without registration.
permalink: /el-fish-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/cba63b17973ad208e3b7ea3026cd85806d31c139.gif
- https://cdn.dos.zone/original/2X/3/3fbffdf780bda89f451722a8c834fcff0e2d51c8.gif
shortTitle: El-Fish
title: El-Fish | 🕹️Play El-Fish Online | DOS game in browser

---
