---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/el-grinch.jsdos
layout: page.njk
ogDescription: El Grinch is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in El Grinch
  on mobile. On DOS.Zone El Grinch available to play for free without registration.
permalink: /el-grinch-1983/
screenshots:
- https://cdn.dos.zone/original/2X/4/4e42f25740f5bc44a45a092e7330e143f24a84ee.png
- https://cdn.dos.zone/original/2X/5/5d6e1032d35fa5afa2787f3c131a3ac4722684e8.png
shortTitle: El Grinch
title: El Grinch | 🕹️Play El Grinch Online | DOS game in browser

---
