---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/electroman.jsdos
layout: page.njk
ogDescription: Electroman is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Electroman
  on mobile. On DOS.Zone Electroman available to play for free without registration.
permalink: /electroman-1993/
screenshots: []
shortTitle: Electroman
title: Electroman | 🕹️Play Electroman Online | DOS game in browser

---
