---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/electronic-grammar-parts-of-speech.jsdos
layout: page.njk
ogDescription: 'Electronic Grammar: Parts of Speech is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Electronic Grammar: Parts of Speech on mobile. On DOS.Zone Electronic
  Grammar: Parts of Speech available to play for free without registration.'
permalink: /electronic-grammar-parts-of-speech-feb-04-1986/
screenshots:
- https://cdn.dos.zone/original/2X/5/5c52d1923fb5317c8c6bb9bcf69c3bae8e212ffc.png
- https://cdn.dos.zone/original/2X/c/c8c9ab6cf102e3e98a351f947b9994b819b0afcb.png
shortTitle: 'Electronic Grammar: Parts of Speech'
title: 'Electronic Grammar: Parts of Speech | 🕹️Play Electronic Grammar: Parts of
  Speech Online | DOS game in browser'

---
