---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/elf.jsdos
layout: page.njk
ogDescription: Elf is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in Elf on mobile. On
  DOS.Zone Elf available to play for free without registration.
permalink: /elf-1992/
screenshots:
- https://cdn.dos.zone/original/2X/b/b123aa607e903f753f2a663079f6d9a207138eae.png
- https://cdn.dos.zone/original/2X/d/d05cdc265058cfbe754765abf1aacc165f9dc103.png
shortTitle: Elf
title: Elf | 🕹️Play Elf Online | DOS game in browser

---
