---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/emeritus-pong.jsdos
layout: page.njk
ogDescription: Emeritus Pong is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Emeritus Pong
  on mobile. On DOS.Zone Emeritus Pong available to play for free without registration.
permalink: /emeritus-pong-jul-04-2008/
screenshots:
- https://cdn.dos.zone/original/2X/e/e17e6c246f022c10d7dd55bf24228bf75b85625d.png
- https://cdn.dos.zone/original/2X/d/d0f54baaa04aebcf43522ada34a50f2998049ffa.png
shortTitle: Emeritus Pong
title: Emeritus Pong | 🕹️Play Emeritus Pong Online | DOS game in browser

---
