---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/emergency-mission.jsdos
layout: page.njk
ogDescription: Emergency Mission is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Emergency Mission on mobile. On DOS.Zone Emergency Mission available to play for
  free without registration.
permalink: /emergency-mission-1986/
screenshots:
- https://cdn.dos.zone/original/2X/f/f87f1d2a50f94711edee527bd5ebf3e13d465af4.png
- https://cdn.dos.zone/original/2X/f/fdd2db56c181e025d0668da83d215bc31d202043.png
shortTitle: Emergency Mission
title: Emergency Mission | 🕹️Play Emergency Mission Online | DOS game in browser

---
