---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/empire-soccer-94.jsdos
layout: page.njk
ogDescription: Empire Soccer 94 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Empire Soccer
  94 on mobile. On DOS.Zone Empire Soccer 94 available to play for free without registration.
permalink: /empire-soccer-94-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/37dec133e25d815f1cfaf4ce00b9dcb8fcb50b4b.png
- https://cdn.dos.zone/original/2X/5/584e26abbac503b3e9e97c06cd39cc6c4614c0f7.png
shortTitle: Empire Soccer 94
title: Empire Soccer 94 | 🕹️Play Empire Soccer 94 Online | DOS game in browser

---
