---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/empire___.jsdos
layout: page.njk
ogDescription: Empire is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Empire on mobile.
  On DOS.Zone Empire available to play for free without registration.
permalink: /empire-1985/
screenshots: []
shortTitle: Empire
title: Empire | 🕹️Play Empire Online | DOS game in browser

---
