---
layout: page.njk
title: Enchanted Pinball | 🕹️Play Enchanted Pinball Online | Download js-dos bundle
ogDescription: Want to Play Enchanted Pinball? 🕹 On Dos Zone you can play
  Enchanted Pinball OR donwload js-dos bundle for free. Start playing now!
shortTitle: Enchanted Pinball
permalink: /enchanted-pinball-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fenchanted-pinball.jsdos
description: In the year 1522 a peace-loving magician discovered, while reading
  a crystal ball, that the Earth would be destroyed in the 21th century by a
  wicked man. He invokes the galactic forces and is transported into the 21th
  century landing inside a pinball machine. The player must help him out so that
  he can save the Earth. To do that the player must pass the nine tests such as
  breaking all the rocks, scaring away the evil spirits, activating the energy
  of the spirit serpent, feeding up a hungry frog, and others - all inside a
  modified pinball machine.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e1508f3123e255318323492ab7e096199f8a1150.png
  - https://cdn.dos.zone/original/2X/5/5001483640538737b87b22573a6da0a03973ea91.png
---
