---
layout: page.njk
title: Encounter | 🕹️Play Encounter Online | Download js-dos bundle
ogDescription: Want to Play Encounter? 🕹 On Dos Zone you can play Encounter OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Encounter
permalink: /encounter-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fencounter.jsdos
description: Somewhat similar to Space Invaders, you pilot a craft that is
  flying through space while avoiding pieces of your destroyed planet and being
  shot by the alien space craft who destroyed your planet.  You must destroy
  those craft before running out of fuel.  Rather than a full screen of enemies
  to destroy, you start out the game only needing to fight two spaceships... but
  that is just the beginning.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e23bb6d559e854de54104e80119cd9601ed12bc8.png
  - https://cdn.dos.zone/original/2X/5/556d4583c10cac7437d388428d3f18b4b3b1fd2e.gif
---
