---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/encounter.jsdos
layout: page.njk
ogDescription: Encounter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Encounter
  on mobile. On DOS.Zone Encounter available to play for free without registration.
permalink: /encounter-1984/
screenshots:
- https://cdn.dos.zone/original/2X/e/e23bb6d559e854de54104e80119cd9601ed12bc8.png
- https://cdn.dos.zone/original/2X/5/556d4583c10cac7437d388428d3f18b4b3b1fd2e.gif
shortTitle: Encounter
title: Encounter | 🕹️Play Encounter Online | DOS game in browser

---
