---
layout: page.njk
title: Entity | 🕹️Play Entity Online | Download js-dos bundle
ogDescription: Want to Play Entity? 🕹 On Dos Zone you can play Entity OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Entity
permalink: /entity-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fentity.jsdos
description: Entity is a side-scrolling platform game in which you control a
  female (in her bare essentials) trying to save a planet from an evil creature
  (the entity) that has broken lose from it's petrified state and is about to
  wreak havoc. An elder informs her that she is the chosen one, whom we get to
  see in the intro.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d186e333656035f76fca1bec34657b0f6d911059.gif
  - https://cdn.dos.zone/original/2X/7/76d7d05a537d1053c1ccabfafe450c6b78a58f45.gif
---
