---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/entity.jsdos
layout: page.njk
ogDescription: Entity is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Entity on mobile.
  On DOS.Zone Entity available to play for free without registration.
permalink: /entity-1994/
screenshots:
- https://cdn.dos.zone/original/2X/d/d186e333656035f76fca1bec34657b0f6d911059.gif
- https://cdn.dos.zone/original/2X/7/76d7d05a537d1053c1ccabfafe450c6b78a58f45.gif
shortTitle: Entity
title: Entity | 🕹️Play Entity Online | DOS game in browser

---
