---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ernies-magic-shapes.jsdos
layout: page.njk
ogDescription: Ernie's Magic Shapes is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Ernie's Magic Shapes on mobile. On DOS.Zone Ernie's Magic Shapes available to
  play for free without registration.
permalink: /ernies-magic-shapes-1984/
screenshots:
- https://cdn.dos.zone/original/2X/4/427c266e08472d9acde30c465375d4cbb376aacf.png
- https://cdn.dos.zone/original/2X/a/a8d9d467170d2a420d21ff54dcc28edd72448f6c.png
shortTitle: Ernie's Magic Shapes
title: Ernie's Magic Shapes | 🕹️Play Ernie's Magic Shapes Online | DOS game in browser

---
