---
layout: page.njk
title: Ernie's Magic Shapes | 🕹️Play Ernie's Magic Shapes Online | Download
  js-dos bundle
ogDescription: Want to Play Ernie's Magic Shapes? 🕹 On Dos Zone you can play
  Ernie's Magic Shapes OR donwload js-dos bundle for free. Start playing now!
shortTitle: Ernie's Magic Shapes
permalink: /ernies-magic-shapes-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fernies-magic-shapes.jsdos
description: With the wave of his magic wand, Ernie the Magician makes a shape
  float over his head. Another wave, and a second shape appears on a table
  nearby. The player now decides whether or not the two shapes match. If so, and
  the player agrees, Ernie nods and the two shapes float together before
  disappearing. If not, Ernie shakes his head "no", waves his wand, and a new
  shape appears on the table. Ernie's Magic Shapes has six levels of play. At
  the lower levels, the player compares one shape to another or the colors of
  two similar shapes. Levels four and five require greater visual discrimination
  since the target object is made up of several shapes and each one has to be
  matched individually. At the highest level, there is a complex mixture of both
  shapes and colors.
screenshots:
  - https://cdn.dos.zone/original/2X/4/427c266e08472d9acde30c465375d4cbb376aacf.png
  - https://cdn.dos.zone/original/2X/a/a8d9d467170d2a420d21ff54dcc28edd72448f6c.png
---
