---
layout: page.njk
title: Escape from Monster-Castle | 🕹️Play Escape from Monster-Castle Online |
  Download js-dos bundle
ogDescription: Want to Play Escape from Monster-Castle? 🕹 On Dos Zone you can
  play Escape from Monster-Castle OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Escape from Monster-Castle
permalink: /escape-from-monster-castle-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fescape-from-monster-castle.jsdos
description: Escape from Monster-Castle is an action game in the style of
  Gauntlet where you have to fight your way through assaulting enemies to get to
  the end of the level and finally escape the monster castle. The game can be
  played by up to 2 players. Each level has multiple connected floors. You
  control your character from a top-down view and can move and shoot in 8
  directions. Enemies often spawn from monster heads. If you are hit by an
  enemy, your health goes down, but can be restored by collecting health packs.
  Keys have to be collected to continue your journey. There are many different
  enemies with different properties; most can be destroyed, but some cannot. In
  many cases, when you hit an enemy, it warps into a lesser form. There is also
  money to be collected, as are bombs, which can be deployed. The shareware
  version comes with 5 levels, whereas the full version comes with 25 levels and
  a level editor.
screenshots:
  - https://cdn.dos.zone/original/2X/2/21446e6bab868ced142dd002d2ac967a28192ccd.png
  - https://cdn.dos.zone/original/2X/b/b8a3171472cba98cc8135fb5fcaab4aa6f44d4e0.png
---
