---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/evasive-maneuvers.jsdos
layout: page.njk
ogDescription: Evasive Maneuvers is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Evasive Maneuvers on mobile. On DOS.Zone Evasive Maneuvers available to play for
  free without registration.
permalink: /evasive-maneuvers-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/73a5c405c1248ee4ea1bb15653b3d00d20d99c94.jpeg
- https://cdn.dos.zone/original/2X/8/8f44b26f011489e91b89829e7b4a9aaa5413a6db.jpeg
shortTitle: Evasive Maneuvers
title: Evasive Maneuvers | 🕹️Play Evasive Maneuvers Online | DOS game in browser

---
