---
layout: page.njk
title: "Everest: The Iceman's Apprentice | 🕹️Play Everest: The Iceman's
  Apprentice Online | Download js-dos bundle"
ogDescription: "Want to Play Everest: The Iceman's Apprentice? 🕹 On Dos Zone
  you can play Everest: The Iceman's Apprentice OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Everest: The Iceman's Apprentice"
permalink: /everest-the-icemans-apprentice-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Feverest-the-icemans-apprentice.jsdos
description: "Everest: The Iceman's Apprentice is a single player, shareware,
  mountaineering game. The game was released as shareware with just two climbs:
  Rainier in Washington state USA and Ama Dablam in Nepal. On registration the
  player received eight additional climbs including Annapurna, Kangchenjunga,
  and of course Everest itself. Using photographs of the actual mountains this
  game is essentially a management game. The player selects a group of climbers,
  each of which has strengths and weaknesses. They start at the base camp and
  assign orders to their climbers to proceed to a waypoint carrying supplies.
  There they may establish another camp, rest, return to base for more supplies
  before pushing on up the mountain. Supply management is important because
  undernourished climbers do not perform well and at altitudes over twenty
  thousand feet all climbers must carry oxygen at all times. In addition there
  are the usual hazards, such as climbers failing to reach the next camp due to
  fatigue or lack of motivation, falling rock or ice, falling on steep pitches,
  avalanches and bad weather. The game consists of three episodes each of which
  is composed of multiple climbs which must be completed in order. As climbers
  complete climbs they grow in strength and willpower which makes them eligible
  to attempt later climbs."
screenshots:
  - https://cdn.dos.zone/original/2X/2/26501eb4fd88d5e285b32cb68cc24c7283f0ec83.png
  - https://cdn.dos.zone/original/2X/5/54ea819f28e434492b809f42b53f178a33d7c3a0.png
---
