---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/everest-the-icemans-apprentice.jsdos
layout: page.njk
ogDescription: 'Everest: The Iceman''s Apprentice is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Everest: The Iceman''s Apprentice on mobile. On DOS.Zone Everest:
  The Iceman''s Apprentice available to play for free without registration.'
permalink: /everest-the-icemans-apprentice-1996/
screenshots:
- https://cdn.dos.zone/original/2X/2/26501eb4fd88d5e285b32cb68cc24c7283f0ec83.png
- https://cdn.dos.zone/original/2X/5/54ea819f28e434492b809f42b53f178a33d7c3a0.png
shortTitle: 'Everest: The Iceman''s Apprentice'
title: 'Everest: The Iceman''s Apprentice | 🕹️Play Everest: The Iceman''s Apprentice
  Online | DOS game in browser'

---
