---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/exploding-atoms.jsdos
layout: page.njk
ogDescription: Exploding Atoms is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Exploding
  Atoms on mobile. On DOS.Zone Exploding Atoms available to play for free without
  registration.
permalink: /exploding-atoms-sep-07-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/3fb6b2006c196c9deb408c0613f331ceba487d6a.png
- https://cdn.dos.zone/original/2X/7/7ed54c664b827a2e8fe2d516c980a3b5051f04b2.png
shortTitle: Exploding Atoms
title: Exploding Atoms | 🕹️Play Exploding Atoms Online | DOS game in browser

---
