---
layout: page.njk
title: Exploding Atoms | 🕹️Play Exploding Atoms Online | Download js-dos bundle
ogDescription: Want to Play Exploding Atoms? 🕹 On Dos Zone you can play
  Exploding Atoms OR donwload js-dos bundle for free. Start playing now!
shortTitle: Exploding Atoms
permalink: /exploding-atoms-sep-07-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fexploding-atoms.jsdos
description: Exploding Atoms is a two-player, shareware strategy game played
  between one person and the computer or two people. The game is played on an
  8x8 grid. Players take turns placing atoms onto cells on the grid. Each cell
  has an associated value and when the cell holds that number of atoms it
  explodes sending atoms into neighbouring cells and if they now contain four
  atoms they too will explode and so on. Eventually the player's begin to
  compete for the same cells and as they advance into each other's territory the
  colour of the atoms in the cells changes. The winner is person who occupies
  all the squares at the end of the game.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3fb6b2006c196c9deb408c0613f331ceba487d6a.png
  - https://cdn.dos.zone/original/2X/7/7ed54c664b827a2e8fe2d516c980a3b5051f04b2.png
---
