---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/expo.jsdos
layout: page.njk
ogDescription: Expo is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Expo on mobile.
  On DOS.Zone Expo available to play for free without registration.
permalink: /expo-1990/
screenshots:
- https://cdn.dos.zone/original/2X/6/6db93783f30edb81b7a78b96b9be768ef32961e9.png
- https://cdn.dos.zone/original/2X/8/8427dcc843e325eb01124c695ce549c91cfb6782.png
shortTitle: Expo
title: Expo | 🕹️Play Expo Online | DOS game in browser

---
