---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/f-1.jsdos
layout: page.njk
ogDescription: F-1 is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in F-1 on mobile. On
  DOS.Zone F-1 available to play for free without registration.
permalink: /f-1-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/785b713d1649bad1539d1a9176e739cfbff2460b.png
- https://cdn.dos.zone/original/2X/d/d0b512f69e505cbf6553379e642a5b00101f7727.png
shortTitle: F-1
title: F-1 | 🕹️Play F-1 Online | DOS game in browser

---
