---
layout: page.njk
title: F-1 | 🕹️Play F-1 Online | Download js-dos bundle
ogDescription: Want to Play F-1? 🕹 On Dos Zone you can play F-1 OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: F-1
permalink: /f-1-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ff-1.jsdos
description: >-
  "F-1" is an unofficial Formula 1 racing game. You must compete along the
  Formula 1 season (16 circuits included). There are three game modes: Practise,
  Race (Single race) & Complete season. 
   
  Before each race, you can modify aspects like tires, transmission (manual or automatic), the number of laps or the difficulty level (between three levels). During the race, if you have problems, you have the option to stop at the boxes to repair your car.
screenshots:
  - https://cdn.dos.zone/original/2X/7/785b713d1649bad1539d1a9176e739cfbff2460b.png
  - https://cdn.dos.zone/original/2X/d/d0b512f69e505cbf6553379e642a5b00101f7727.png
---
