---
layout: page.njk
title: F-16 Early Deployment Airstrike Force | 🕹️Play F-16 Early Deployment
  Airstrike Force Online | Download js-dos bundle
ogDescription: Want to Play F-16 Early Deployment Airstrike Force? 🕹 On Dos
  Zone you can play F-16 Early Deployment Airstrike Force OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: F-16 Early Deployment Airstrike Force
permalink: /f-16-early-deployment-airstrike-force-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ff-16-early-deployment-airstrike-force.jsdos
description: "Your craft: an F-16, complete with 7 air-to-ground missiles and
  300 fuel units.  Your mission: go on a sortie over hostile territory and
  destroy enemy installations, by launching your missiles directly above
  target.  The action is controlled from a non-scrolling side view; each sector
  contains an assortment of targets, obstacles and traps.  You can clear a
  sector instantly by engaging your thruster, although this gulps down quite an
  amount of fuel. Ammo and fuel may be replenished at the floating resupply
  depots.  Run out of gas, or collide with anything at all, and your fighter
  will crash and burn - you only get two lives to rack up as many points as you
  can."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c06d8ce52b245591b86cf61d2e3f5b108db7dd31.png
  - https://cdn.dos.zone/original/2X/4/4061ec66dc7dd9d134260eba18a7aaf2ba48aed0.png
---
