---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/f-tetris.jsdos
layout: page.njk
ogDescription: F-Tetris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in F-Tetris on
  mobile. On DOS.Zone F-Tetris available to play for free without registration.
permalink: /f-tetris-2003/
screenshots:
- https://cdn.dos.zone/original/2X/8/80d2839d00b6248cf26df52d48a8c3931e56fed1.png
- https://cdn.dos.zone/original/2X/3/320601ff2b641e6089d7da60cc5518fbbfcba45e.png
shortTitle: F-Tetris
title: F-Tetris | 🕹️Play F-Tetris Online | DOS game in browser

---
