---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/facetrex.jsdos
layout: page.njk
ogDescription: Facetrex is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Facetrex on
  mobile. On DOS.Zone Facetrex available to play for free without registration.
permalink: /facetrex-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/fc00d760653340fe3d4ee834e8a0c63214de1153.png
- https://cdn.dos.zone/original/2X/f/f7c3834f03461f1b7dd24324f41f9dc09ba5d6d9.png
shortTitle: Facetrex
title: Facetrex | 🕹️Play Facetrex Online | DOS game in browser

---
