---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/faceoff.jsdos
layout: page.njk
ogDescription: FaceOff! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in FaceOff! on
  mobile. On DOS.Zone FaceOff! available to play for free without registration.
permalink: /faceoff-oct-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/b6ed7735ec14d4f11504b1cb40dd1f1b3b6af548.gif
- https://cdn.dos.zone/original/2X/9/923657dcca2593f5c2ea63e6dc7cf3e207a80a5.gif
shortTitle: FaceOff!
title: FaceOff! | 🕹️Play FaceOff! Online | DOS game in browser

---
