---
layout: page.njk
title: Facing the Empire | 🕹️Play Facing the Empire Online | Download js-dos bundle
ogDescription: Want to Play Facing the Empire? 🕹 On Dos Zone you can play
  Facing the Empire OR donwload js-dos bundle for free. Start playing now!
shortTitle: Facing the Empire
permalink: /facing-the-empire-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffacing-the-empire.jsdos
description: Facing the Empire is an interstellar space war simulator. As a
  Lyran you must protect your Star Bases from the invading Morte Star Empire and
  drive them out of this sector of the galaxy. At first you need to build up
  your forces by constructing bases and researching the whereabouts of the
  Morte. Then you must hunt them down while defending your Colonies and Bases.
  Taking turns the player as the Lyran forces chooses destinations to search and
  when located the enemies to attack. The Computer as the Morte Star Empire and
  the player roll within the game engine to determine the outcome of the battles
  and missions.
screenshots:
  - https://cdn.dos.zone/original/2X/5/568b4d28b5a71bae5272e278b6970fb2ac49ba21.png
  - https://cdn.dos.zone/original/2X/c/cc00a24f157150ff83f5d01120f4e2335490325d.png
---
