---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/facing-the-empire.jsdos
layout: page.njk
ogDescription: Facing the Empire is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Facing the Empire on mobile. On DOS.Zone Facing the Empire available to play for
  free without registration.
permalink: /facing-the-empire-1991/
screenshots:
- https://cdn.dos.zone/original/2X/5/568b4d28b5a71bae5272e278b6970fb2ac49ba21.png
- https://cdn.dos.zone/original/2X/c/cc00a24f157150ff83f5d01120f4e2335490325d.png
shortTitle: Facing the Empire
title: Facing the Empire | 🕹️Play Facing the Empire Online | DOS game in browser

---
