---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fallout_.jsdos
layout: page.njk
ogDescription: Fallout is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fallout on
  mobile. On DOS.Zone Fallout available to play for free without registration.
permalink: /fallout-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/c495ab08619d1423ceb71f020d352392d9ca7844.png
- https://cdn.dos.zone/original/2X/9/98677e48ab5d665fc30dfa919153b8e341995dd6.png
shortTitle: Fallout
title: Fallout | 🕹️Play Fallout Online | DOS game in browser

---
