---
layout: page.njk
title: Fallout | 🕹️Play Fallout Online | Download js-dos bundle
ogDescription: Want to Play Fallout? 🕹 On Dos Zone you can play Fallout OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Fallout
permalink: /fallout-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffallout_.jsdos
description: Fallout is a single player, keyboard controlled, tile matching
  game. Blocks fall from the top of the screen. They are always three coloured
  bricks long and the object of the game is to create horizontal, vertical or
  diagonal strings, of the same coloured brick that are three or more bricks on
  length. Such strings explode and disappear scoring the player points and
  causing the blocks above to drop down to fill any vacant slots. Occasionally
  the falling bock contains a bomb that can be used to blow up nearby bricks.
  There is sound and a boss key and a high score table.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c495ab08619d1423ceb71f020d352392d9ca7844.png
  - https://cdn.dos.zone/original/2X/9/98677e48ab5d665fc30dfa919153b8e341995dd6.png
---
