---
layout: page.njk
title: FBI Fred | 🕹️Play FBI Fred Online | Download js-dos bundle
ogDescription: Want to Play FBI Fred? 🕹 On Dos Zone you can play FBI Fred OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: FBI Fred
permalink: /fbi-fred-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffbi-fred.jsdos
description: FBI Fred is a shareware, side-scrolling, action game in which the
  player controls the eponymous Fred and aids him in his investigation. The
  object of the game is to discover an access code. Along the way Fred must
  collect good things like gems and food while killing the baddies which are
  mainly rats and birds. To do this Fred has a gun and a laser, both of which
  have just five shots each. This is a single-person game, it has a high score
  table and is entirely keyboard controlled.
screenshots:
  - https://cdn.dos.zone/original/2X/4/480bf21c288bb679544820277a4d5d03901457ae.jpeg
  - https://cdn.dos.zone/original/2X/5/596692a06f0ef9ba0ba589d8aac5287898f3a22f.jpeg
---
