---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fengkuang-shuang-xiang-pao.jsdos
layout: page.njk
ogDescription: Fengkuang Shuang Xiang Pao is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Fengkuang Shuang Xiang Pao on mobile. On DOS.Zone Fengkuang Shuang Xiang Pao
  available to play for free without registration.
permalink: /fengkuang-shuang-xiang-pao-1992/
screenshots:
- https://cdn.dos.zone/original/2X/8/8b823eef49be60ebc5590a7f748b3aa77feae61f.png
- https://cdn.dos.zone/original/2X/9/9f5e322c616a6092b8f1ac7bcc9d2ad2522b6839.png
shortTitle: Fengkuang Shuang Xiang Pao
title: Fengkuang Shuang Xiang Pao | 🕹️Play Fengkuang Shuang Xiang Pao Online | DOS
  game in browser

---
