---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fernando-martn-basket-master.jsdos
layout: page.njk
ogDescription: Fernando Martín Basket Master is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Fernando Martín Basket Master on mobile. On DOS.Zone Fernando Martín
  Basket Master available to play for free without registration.
permalink: /fernando-martin-basket-master-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/cf1a3da2cad912c2b4f4f5d34bf1724e31ae35a4.png
- https://cdn.dos.zone/original/2X/b/bc7abcae25c33e43af9ec8928fbcbeae4be4755a.png
shortTitle: Fernando Martín Basket Master
title: Fernando Martín Basket Master | 🕹️Play Fernando Martín Basket Master Online
  | DOS game in browser

---
