---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/field-general.jsdos
layout: page.njk
ogDescription: Field General is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Field General
  on mobile. On DOS.Zone Field General available to play for free without registration.
permalink: /field-general-jan-15-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e70186381346c82f920aa65f0a98e0651f238a58.png
- https://cdn.dos.zone/original/2X/2/25313fcbc0e97970a8ebb47b74fca797a73334a0.png
shortTitle: Field General
title: Field General | 🕹️Play Field General Online | DOS game in browser

---
