---
layout: page.njk
title: Fields of Glory | 🕹️Play Fields of Glory Online | Download js-dos bundle
ogDescription: Want to Play Fields of Glory? 🕹 On Dos Zone you can play Fields
  of Glory OR donwload js-dos bundle for free. Start playing now!
shortTitle: Fields of Glory
permalink: /fields-of-glory-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffields-of-glory.jsdos
description: Originally released in 1993, this historical combat simulation
  deals with the wars of Napoleon after his return from exile in Elba in 1815.
  The game is close to historical facts and therefore can be recommended to
  provide good information about this period of European history.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e73b2ce051bd26e1fee09eb240932f71adec1c12.gif
  - https://cdn.dos.zone/original/2X/2/24ba1259ec9457654bfa28fbae0155e2a5fb96ec.gif
---
