---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fifteen-puzzle.jsdos
layout: page.njk
ogDescription: Fifteen Puzzle is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fifteen Puzzle
  on mobile. On DOS.Zone Fifteen Puzzle available to play for free without registration.
permalink: /fifteen-puzzle-1983/
screenshots:
- https://cdn.dos.zone/original/2X/2/209838791d7bfcf74ea48969a924b9c7838843c9.png
- https://cdn.dos.zone/original/2X/b/ba4748e0c72246ed7e588aab185d97a8624a10c4.png
shortTitle: Fifteen Puzzle
title: Fifteen Puzzle | 🕹️Play Fifteen Puzzle Online | DOS game in browser

---
