---
layout: page.njk
title: Final Assault | 🕹️Play Final Assault Online | Download js-dos bundle
ogDescription: Want to Play Final Assault? 🕹 On Dos Zone you can play Final
  Assault OR donwload js-dos bundle for free. Start playing now!
shortTitle: Final Assault
permalink: /final-assault-sep-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffinal-assault.jsdos
description: Final Assault is a mountain climbing action/simulation game. The
  object of the game is to climb to the peak of a mountain via several different
  trails of varying difficulty. Progress is made in a fashion similar to that
  used in Epyx 'games' series, with alternating joystick movements. To help out,
  you carry a backpack which you may stock with assorted items. Since there is a
  weight limit, you must choose which items you most likely will need for a
  given trail. For example, an exceptionally long trail may require camping gear
  and some additional food, where as a short trail will allow for some more
  luxuries such as extra rope.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6a2d7c503273e15b460d0d3b0347bb1cbadc7abc.png
  - https://cdn.dos.zone/original/2X/e/e85ce681a290c1299abe789d4f52897dcf4ce944.gif
---
