---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fireteam-2200.jsdos
layout: page.njk
ogDescription: Fireteam 2200 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fireteam 2200
  on mobile. On DOS.Zone Fireteam 2200 available to play for free without registration.
permalink: /fireteam-2200-1991/
screenshots:
- https://cdn.dos.zone/original/2X/9/9e5d736f9844999ffcca24b489abd33430b086e2.png
- https://cdn.dos.zone/original/2X/a/a99f3eaa5f6f11df4387e0c783706fd65b84d058.png
shortTitle: Fireteam 2200
title: Fireteam 2200 | 🕹️Play Fireteam 2200 Online | DOS game in browser

---
