---
layout: page.njk
title: Fire and Ice | 🕹️Play Fire and Ice Online | Download js-dos bundle
ogDescription: Want to Play Fire and Ice? 🕹 On Dos Zone you can play Fire and
  Ice OR donwload js-dos bundle for free. Start playing now!
shortTitle: Fire and Ice
permalink: /fire-and-ice-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffire-and-ice.jsdos
description: >-
  Fire and Ice is a single player, space shooter. The player flies their craft
  over an alien landscape shooting enemy ships and avoiding being shot down. The
  game takes its name from the fire and the ice phases of the planet's
  atmosphere. Fuel is a problem as it quickly runs out forcing the pilot to
  swoop low to the ground to refuel from gas pumps that are dotted on the
  landscape.

  The player has five ships with which to score as highly as possible, one extra ship can be earned by scoring 7500 points. Contact with the ground, cavern wall, enemy ship or being shot costs a life. The game is entirely keyboard controlled
screenshots:
  - https://cdn.dos.zone/original/2X/c/c35349e0a1156be4199695401e37e702b9b08b58.png
  - https://cdn.dos.zone/original/2X/3/330522ebfd5c8fd87402c55fc97ef28d32f02cdf.png
---
