---
layout: page.njk
title: Firezone | 🕹️Play Firezone Online | Download js-dos bundle
ogDescription: Want to Play Firezone? 🕹 On Dos Zone you can play Firezone OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Firezone
permalink: /firezone-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffirezone.jsdos
description: 2160.  Beam technology, energy shields, and ground-skimming
  propulsion systems have revolutionized ground combat into high-speed,
  wide-ranging battles. World powers like the Pacific Combine and the European
  League spar and vie for territory with Grav tanks, striders, and
  Leviathans.  Take the role of a commander overseeing one of these skirmishes
  and match your tactical wits with the computer or another player. Firezone
  translates pen-and-paper, tactical wargaming to the computer screen.  Your
  primary view is a hex battle map with up to seven different types of terrain,
  showing stacks of infantry, artillery, armor, and command bases.    There is a
  structured turn sequence, with players alternating movement, fire, and
  retaliation.  The game stretches beyond a table-top wargame by allowing hidden
  units and providing a map-editor with which to create your own scenarios (nine
  are included).
screenshots:
  - https://cdn.dos.zone/original/2X/4/485f6e122b49c65ba32cfe313a24b6acfe1f7d8.png
  - https://cdn.dos.zone/original/2X/c/c8c06cf9b850af9f582f750b5a6c28c6842b1822.png
---
