---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/firezone.jsdos
layout: page.njk
ogDescription: Firezone is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Firezone on
  mobile. On DOS.Zone Firezone available to play for free without registration.
permalink: /firezone-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/4/485f6e122b49c65ba32cfe313a24b6acfe1f7d8.png
- https://cdn.dos.zone/original/2X/c/c8c06cf9b850af9f582f750b5a6c28c6842b1822.png
shortTitle: Firezone
title: Firezone | 🕹️Play Firezone Online | DOS game in browser

---
