---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fire-and-forget.jsdos
layout: page.njk
ogDescription: Fire and Forget is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fire and Forget
  on mobile. On DOS.Zone Fire and Forget available to play for free without registration.
permalink: /fire-and-forget-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/d3a034b88e2c06598542e500d223c3b4d2c825e9.png
- https://cdn.dos.zone/original/2X/4/4613f444c1a76030435afcf02ed6a3b58fa01453.gif
shortTitle: Fire and Forget
title: Fire and Forget | 🕹️Play Fire and Forget Online | DOS game in browser

---
