---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fire-fighter_.jsdos
layout: page.njk
ogDescription: Fire Fighter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fire Fighter
  on mobile. On DOS.Zone Fire Fighter available to play for free without registration.
permalink: /fire-fighter-1985/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ac6ff1b58f7a87ab586a48fc5306d8430b111cd.png
- https://cdn.dos.zone/original/2X/2/255f699b8575d3cb6d62881e339157461267e467.png
shortTitle: Fire Fighter
title: Fire Fighter | 🕹️Play Fire Fighter Online | DOS game in browser

---
