---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fire-power.jsdos
layout: page.njk
ogDescription: Fire Power is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fire Power
  on mobile. On DOS.Zone Fire Power available to play for free without registration.
permalink: /fire-power-oct-1988/
screenshots:
- https://cdn.dos.zone/original/2X/a/a1fe3a478e783ea3a3bb11e9977b920cfb754325.gif
- https://cdn.dos.zone/original/2X/4/4b534014429f22a8469ee73a6e759a45e39a8bf0.gif
shortTitle: Fire Power
title: Fire Power | 🕹️Play Fire Power Online | DOS game in browser

---
