---
layout: page.njk
title: Fire Fighter | 🕹️Play Fire Fighter Online | Download js-dos bundle
ogDescription: Want to Play Fire Fighter? 🕹 On Dos Zone you can play Fire
  Fighter OR donwload js-dos bundle for free. Start playing now!
shortTitle: Fire Fighter
permalink: /fire-fighter-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffire-fighter_.jsdos
description: "Playing a bit like the reverse of Pyro II, this game puts the
  player in charge of a forest fire response team, combating the spread of
  flare-ups into timberland and cabins using three fire-fighting tools: water
  Drops, Firebreaks, and Backfires, all of which work with varying success
  depending on the regard to the wind speed and direction.  The layouts of
  flashpoints, cabins and fire-thwarting lakes is randomly generated with each
  game; a high score is assigned based on how quickly the player is able to
  control the total damage inflicted by all fires."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8ac6ff1b58f7a87ab586a48fc5306d8430b111cd.png
  - https://cdn.dos.zone/original/2X/2/255f699b8575d3cb6d62881e339157461267e467.png
---
