---
layout: page.njk
title: Fire and Forget | 🕹️Play Fire and Forget Online | Download js-dos bundle
ogDescription: Want to Play Fire and Forget? 🕹 On Dos Zone you can play Fire
  and Forget OR donwload js-dos bundle for free. Start playing now!
shortTitle: Fire and Forget
permalink: /fire-and-forget-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffire-and-forget.jsdos
description: Restore peace on earth and collect a high score while doing so in
  the first one of the Fire and Forget games by Titus. Fire and Forget is a
  racing game in which you have to complete courses by blowing up various
  enemies and avoiding obstacles on the road. The different tracks are located
  all over the globe. There are six courses within each level of difficulty. You
  have an infinite amount of lives, but when your car runs out of fuel it's game
  over. So be sure to pick up those power-ups.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d3a034b88e2c06598542e500d223c3b4d2c825e9.png
  - https://cdn.dos.zone/original/2X/4/4613f444c1a76030435afcf02ed6a3b58fa01453.gif
---
