---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fire_.jsdos
layout: page.njk
ogDescription: Fire! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Fire! on mobile.
  On DOS.Zone Fire! available to play for free without registration.
permalink: /fire-1989/
screenshots:
- https://cdn.dos.zone/original/2X/e/e783e72a2131125de0556c7869927828e3b5db88.png
- https://cdn.dos.zone/original/2X/a/a730433f9e2bd8a421f68d2375a092c710f80846.png
shortTitle: Fire!
title: Fire! | 🕹️Play Fire! Online | DOS game in browser

---
