---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fire-hawk-thexder-the-second-contact.jsdos
layout: page.njk
ogDescription: 'Fire Hawk: Thexder - The Second Contact is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Fire Hawk: Thexder - The Second Contact on mobile. On DOS.Zone
  Fire Hawk: Thexder - The Second Contact available to play for free without registration.'
permalink: /fire-hawk-thexder-the-second-contact-1990/
screenshots:
- https://cdn.dos.zone/original/2X/1/13e113206763f026ca27a6d48c956f7617c97b6c.gif
- https://cdn.dos.zone/original/2X/d/d1ca753a3a29e8bfc11f9252862745e41593ac1d.gif
shortTitle: 'Fire Hawk: Thexder - The Second Contact'
title: 'Fire Hawk: Thexder - The Second Contact | 🕹️Play Fire Hawk: Thexder - The
  Second Contact Online | DOS game in browser'

---
