---
layout: page.njk
title: Fisher-Price I Can Remember | 🕹️Play Fisher-Price I Can Remember Online
  | Download js-dos bundle
ogDescription: Want to Play Fisher-Price I Can Remember? 🕹 On Dos Zone you can
  play Fisher-Price I Can Remember OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Fisher-Price I Can Remember
permalink: /fisher-price-i-can-remember-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffisher-price-i-can-remember.jsdos
description: 'Fisher-Price: I Can Remember is a card-based game of memory
  transposed onto the NES. The object is to flip over pairs of cards and find
  pairs that match. If an unmatched pair is flipped then they get flipped back
  and the player must remember that data for their next turn. The game has 3
  levels, with each having progressively more cards (12, 16, or 20). The cards
  contain pictures of Fisher-Price toys. Finding matches removes the cards from
  the screen which then reveals parts of a larger Fisher-Price item. The game
  allows a player to play alone, or it allows 2-player competitive play.
  Further, it also allows human vs. computer competition, where the computer
  player is named "Electro".'
screenshots:
  - https://cdn.dos.zone/original/2X/5/584521af41d83f2df855738280f4f684b2841c41.png
  - https://cdn.dos.zone/original/2X/9/98c04a8ba864e4f4cc7415e7587f3d30e55ede2.png
---
