---
layout: page.njk
title: Fistfight | 🕹️Play Fistfight Online | Download js-dos bundle
ogDescription: Want to Play Fistfight? 🕹 On Dos Zone you can play Fistfight OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Fistfight
permalink: /fistfight-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffistfight.jsdos
description: A beat'em up game where two heroes, a boy named Ki and his sister
  Tia, fight villains screen-by-screen in the side-scrolling fashion, with their
  martial arts. There are one and two player modes, the latter allowing two
  local players to fight simultaneously.
screenshots:
  - https://cdn.dos.zone/original/2X/7/720371f747db7ad6654dca99ba9d103b75f585c4.png
  - https://cdn.dos.zone/original/2X/b/b052e4dfd965af3490d0164229d56ddb8b30be3d.png
---
