---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fleuch-pc.jsdos
layout: page.njk
ogDescription: Fleuch PC is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fleuch PC
  on mobile. On DOS.Zone Fleuch PC available to play for free without registration.
permalink: /fleuch-pc-feb-1996/
screenshots:
- https://cdn.dos.zone/original/2X/6/6c0f08da96796e5b2a14f33fbd25cdf3e2a282ee.png
- https://cdn.dos.zone/original/2X/e/e821e414939efe0e24049d007f03f3cb13c14b19.png
shortTitle: Fleuch PC
title: Fleuch PC | 🕹️Play Fleuch PC Online | DOS game in browser

---
