---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/flight-action.jsdos
layout: page.njk
ogDescription: Flight Action is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Flight Action
  on mobile. On DOS.Zone Flight Action available to play for free without registration.
permalink: /flight-action-1996/
screenshots:
- https://cdn.dos.zone/original/2X/7/795e7f7a51a051de3b9e90b698ac472411c1b90.png
- https://cdn.dos.zone/original/2X/c/c5bc3c844a11d89cc68281d25fe817328ac7d3a4.png
shortTitle: Flight Action
title: Flight Action | 🕹️Play Flight Action Online | DOS game in browser

---
