---
layout: page.njk
title: FLIP-ELLO | 🕹️Play FLIP-ELLO Online | Download js-dos bundle
ogDescription: Want to Play FLIP-ELLO? 🕹 On Dos Zone you can play FLIP-ELLO OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: FLIP-ELLO
permalink: /flip-ello-jun-01-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fflip-ello.jsdos
description: "FLIP-ELLO is an early IBM PC conversion of Othello/Reversi, and as
  such it faithfully keeps to the established rules of the classic board game:
  each player chooses a color - black or white, represented here by \"X\"s and
  \"O\"s respectively.  Initially two chips of each color are placed at the
  center of the 8x8 grid, then the players take turns placing additional chips,
  attempting to capture the opponent's chips and flipping them over to the
  player's color: this is done by enclosing a sequence (vertical, horizontal or
  diagonal) between two chips of one’s own color. When no more moves can be
  made, whoever has more chips on the board gets the game. In this adaptation,
  it is possible to ask for hints (whether any moves remain, or which of the
  possible moves is best); players may also switch sides in mid-game, as a
  potential extra challenge to whoever's currently in the lead.  If any side
  runs out of pieces, one may be \"borrowed\" from the opponent.  The game is
  playable against another human or against the computer, which tends to
  accompany its moves with gleeful taunts and jeers."
screenshots:
  - https://cdn.dos.zone/original/2X/f/f18655d01c360b6e5e12c027c15a0b0fb25b408d.png
  - https://cdn.dos.zone/original/2X/d/d806668f7c84b2f58036b4f7fcec2c898114b327.png
---
