---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/flip-ello.jsdos
layout: page.njk
ogDescription: FLIP-ELLO is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in FLIP-ELLO
  on mobile. On DOS.Zone FLIP-ELLO available to play for free without registration.
permalink: /flip-ello-jun-01-1982/
screenshots:
- https://cdn.dos.zone/original/2X/f/f18655d01c360b6e5e12c027c15a0b0fb25b408d.png
- https://cdn.dos.zone/original/2X/d/d806668f7c84b2f58036b4f7fcec2c898114b327.png
shortTitle: FLIP-ELLO
title: FLIP-ELLO | 🕹️Play FLIP-ELLO Online | DOS game in browser

---
