---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/flipper.jsdos
layout: page.njk
ogDescription: Flipper is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Flipper on
  mobile. On DOS.Zone Flipper available to play for free without registration.
permalink: /flipper-1983/
screenshots:
- https://cdn.dos.zone/original/2X/f/f3e53b4ddbc62f8947c15bfdcfc803002073456a.png
- https://cdn.dos.zone/original/2X/8/80257fb2a446e4c9f9385a8c3035e4fdfd368e4d.png
shortTitle: Flipper
title: Flipper | 🕹️Play Flipper Online | DOS game in browser

---
