---
layout: page.njk
title: Flipper | 🕹️Play Flipper Online | Download js-dos bundle
ogDescription: Want to Play Flipper? 🕹 On Dos Zone you can play Flipper OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Flipper
permalink: /flipper-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fflipper.jsdos
description: A strategy game played on a 3x3 board; each tile has two sides, one
  black and one white, and the game begins with the board in a random state.  A
  tile can be flipped by entering its number on the keyboard, but only if it is
  currently white.  Flipping the central one will also flip the four tiles
  connected to it; a corner piece will flip the 3 surrounding ones along with
  it, and the tiles in the middle of each edge cause the entire edge to flip.
  The game keeps track of elapsed time and the number of moves made.  To win,
  the player must flip the tiles until the central one is black, and all the
  others are white.  If all tiles are flipped to the black position, the game is
  lost.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f3e53b4ddbc62f8947c15bfdcfc803002073456a.png
  - https://cdn.dos.zone/original/2X/8/80257fb2a446e4c9f9385a8c3035e4fdfd368e4d.png
---
