---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/floatris.jsdos
layout: page.njk
ogDescription: Floatris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Floatris on
  mobile. On DOS.Zone Floatris available to play for free without registration.
permalink: /floatris-nov-08-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/ed5c6839999c1068c23c34d0a27a749bb1107f4d.png
- https://cdn.dos.zone/original/2X/1/17261f3c34ac5a2a43beea6cadaf11d4aa6423dc.png
shortTitle: Floatris
title: Floatris | 🕹️Play Floatris Online | DOS game in browser

---
