---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fluf.jsdos
layout: page.njk
ogDescription: Fluf! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Fluf! on mobile.
  On DOS.Zone Fluf! available to play for free without registration.
permalink: /fluf-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/3237e80ab5046128c32c49bf1eedf761b9be99c5.png
- https://cdn.dos.zone/original/2X/f/fe48417f45c8bda42abcf8e2d7b9b5fb02254288.png
shortTitle: Fluf!
title: Fluf! | 🕹️Play Fluf! Online | DOS game in browser

---
