---
layout: page.njk
title: Fly | 🕹️Play Fly Online | Download js-dos bundle
ogDescription: Want to Play Fly? 🕹 On Dos Zone you can play Fly OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Fly
permalink: /fly-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffly_.jsdos
description: "It spreads disease, it hangs out in your food, it has an annoying
  buzz.  It's the common housefly, and this game wages total extermination on
  the nasty little bugger.  One fly after the other comes dancing across your
  screen.  Pay careful attention to its position: once it stops, you have to
  choose one of your three swatters to nail it with.  If you succeed, you get a
  look at the filthy critter's splattered remains... and face off against a
  faster fly.  If you miss, you'll have to deal with a slower one again.  The
  more you whack, the quicker they get - if you manage to nail the fastest of
  them all, victory is yours!"
screenshots:
  - https://cdn.dos.zone/original/2X/2/27003edb570376af9aecf2fc537675d71abf4cc8.png
  - https://cdn.dos.zone/original/2X/e/e78bbec3d99981a7781fdc4a0d1ee17aa9d78f86.png
---
