---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/flygame.jsdos
layout: page.njk
ogDescription: Flygame is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Flygame on
  mobile. On DOS.Zone Flygame available to play for free without registration.
permalink: /flygame-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/1382108dc53520401c91eaf37c9e1257988d4304.png
- https://cdn.dos.zone/original/2X/1/1379f6b15f0535a3ee71f0f2077ca5f4de7dc9f6.png
shortTitle: Flygame
title: Flygame | 🕹️Play Flygame Online | DOS game in browser

---
