---
layout: page.njk
title: Football | 🕹️Play Football Online | Download js-dos bundle
ogDescription: Want to Play Football? 🕹 On Dos Zone you can play Football OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Football
permalink: /football-nov-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffootball.jsdos
description: For all armchair quarterbacks, subLOGIC's football is an in depth
  strategy/action football game complete with full rosters of (fictional)
  players. Once a play has been selected using the quick menus, the game shifts
  into action mode where you control player's actions. One or two player modes
  available; play against a friend or the computer.
screenshots:
  - https://cdn.dos.zone/original/2X/2/242b3e06f6c349c48e24db301b0988a7fe564420.gif
  - https://cdn.dos.zone/original/2X/2/2617228264dfb6a00fec9576b96681fd56a654fb.png
---
