---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/football-glory.jsdos
layout: page.njk
ogDescription: Football Glory is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Football Glory
  on mobile. On DOS.Zone Football Glory available to play for free without registration.
permalink: /football-glory-1995/
screenshots:
- https://cdn.dos.zone/original/2X/b/bc1ca299e614e30b9bf409a1f53b4efa20c13ea6.gif
- https://cdn.dos.zone/original/2X/6/664031865b35f9c0c58db72df04a181eefcf843d.gif
shortTitle: Football Glory
title: Football Glory | 🕹️Play Football Glory Online | DOS game in browser

---
