---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/football.jsdos
layout: page.njk
ogDescription: Football is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Football on
  mobile. On DOS.Zone Football available to play for free without registration.
permalink: /football-nov-1986/
screenshots:
- https://cdn.dos.zone/original/2X/2/242b3e06f6c349c48e24db301b0988a7fe564420.gif
- https://cdn.dos.zone/original/2X/2/2617228264dfb6a00fec9576b96681fd56a654fb.png
shortTitle: Football
title: Football | 🕹️Play Football Online | DOS game in browser

---
