---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ford-simulator-ii.jsdos
layout: page.njk
ogDescription: Ford Simulator II is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Ford Simulator II on mobile. On DOS.Zone Ford Simulator II available to play for
  free without registration.
permalink: /ford-simulator-ii-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/737323370ebf11461cd44a7285d7687cfa3f106b.gif
- https://cdn.dos.zone/original/2X/a/a8f2282e6c2deda87eda91e9d0a496243d76bb21.gif
shortTitle: Ford Simulator II
title: Ford Simulator II | 🕹️Play Ford Simulator II Online | DOS game in browser

---
