---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fox-ranger.jsdos
layout: page.njk
ogDescription: Fox Ranger is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fox Ranger
  on mobile. On DOS.Zone Fox Ranger available to play for free without registration.
permalink: /fox-ranger-1992/
screenshots:
- https://cdn.dos.zone/original/2X/8/8eb9b0c796dddc5a1978b82ddc2250ac00f1760.png
- https://cdn.dos.zone/original/2X/1/1c6d3023c1383ef1a11b2e488bab575002df6d96.png
shortTitle: Fox Ranger
title: Fox Ranger | 🕹️Play Fox Ranger Online | DOS game in browser

---
