---
layout: page.njk
title: Fox Ranger | 🕹️Play Fox Ranger Online | Download js-dos bundle
ogDescription: Want to Play Fox Ranger? 🕹 On Dos Zone you can play Fox Ranger
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Fox Ranger
permalink: /fox-ranger-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffox-ranger.jsdos
description: Fox Ranger is a side scrolling space shooter from Korea. There are
  6 stages with an end-boss at the end of each stage. The gameplay is simply
  shoot-anything-that-moves and there are lots of enemies on screen to shoot
  down. Press CTRL to fire the standard weapon and ALT to use the extra weapon,
  which is shown in a box at the top of the screen. When you die and your
  standard weapon is powered-up you don't lose it, instead it is powered-down,
  so you still have at least something. You can select level easy, normal or
  hard to start with 7, 5 or 3 ships. And you can set the shield to easy, normal
  or hard to start with 9, 6 or 3 shield units.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8eb9b0c796dddc5a1978b82ddc2250ac00f1760.png
  - https://cdn.dos.zone/original/2X/1/1c6d3023c1383ef1a11b2e488bab575002df6d96.png
---
