---
layout: page.njk
title: Frank Bruno's Boxing | 🕹️Play Frank Bruno's Boxing Online | Download
  js-dos bundle
ogDescription: Want to Play Frank Bruno's Boxing? 🕹 On Dos Zone you can play
  Frank Bruno's Boxing OR donwload js-dos bundle for free. Start playing now!
shortTitle: Frank Bruno's Boxing
permalink: /frank-brunos-boxing-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffrank-brunos-boxing.jsdos
description: Former boxing World Champion Frank Bruno, famed for his catchphrase
  "you know what I mean, Harry?" and more recently his heroic battle with
  depression, put his name  to this boxing game which replicates Super
  Punch-Out!!. As Frank, you must take on 8 progressively tough boxers (3 on
  C16) to win the title. The action is viewed from right behind Frank in 3D,
  meaning that you can see and feel the full impact of punches. A full range of
  moves is provided, with the standard jabs complimented by body punches and the
  ability to dodge, duck or raise your guard. Each punch weakens your opponent's
  strength, although going long enough without being hit can see this begin to
  recover. A rain of blows can produce a quick knockout, but in general you must
  hit him many times, and then with a knockout blow, to see him go down. Most of
  your opponents have a special move which must be avoided, or you will be
  floored instantly. Once you have beaten all of your opponents you are declared
  Champion of the World.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2824cf2cce37a2a2b966e944d5f592f2c056dd61.png
  - https://cdn.dos.zone/original/2X/2/2559d71f0b744c0e6444eb9a3ed5e9216896539a.png
---
