---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/frantis-mission-ii.jsdos
layout: page.njk
ogDescription: 'Frantis: Mission II is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Frantis: Mission II on mobile. On DOS.Zone Frantis: Mission II available to play
  for free without registration.'
permalink: /frantis-mission-ii-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/b83ce56d2da84f096c5bc69a726de3400bd26e19.png
- https://cdn.dos.zone/original/2X/d/dd4fd504a71942557f2baac02c654b9ff0e5a426.png
shortTitle: 'Frantis: Mission II'
title: 'Frantis: Mission II | 🕹️Play Frantis: Mission II Online | DOS game in browser'

---
