---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/frankenstein_____.jsdos
layout: page.njk
ogDescription: Frankenstein is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Frankenstein
  on mobile. On DOS.Zone Frankenstein available to play for free without registration.
permalink: /frankenstein-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/350e3042f71718ebba809643cdde8c1c8eec72d9.png
- https://cdn.dos.zone/original/2X/b/b333a5f36bf53260516effaec339f0da10e500f5.png
shortTitle: Frankenstein
title: Frankenstein | 🕹️Play Frankenstein Online | DOS game in browser

---
