---
layout: page.njk
title: Frankenstein | 🕹️Play Frankenstein Online | Download js-dos bundle
ogDescription: Want to Play Frankenstein? 🕹 On Dos Zone you can play
  Frankenstein OR donwload js-dos bundle for free. Start playing now!
shortTitle: Frankenstein
permalink: /frankenstein-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffrankenstein_____.jsdos
description: Frankenstein is a timed side-scrolling platform game. As Egor
  Woodenhead the player must collect all the body parts and screws needed to
  create infamous Frankenstein's Monster. The game area is divided into four
  locations - village, cemetery, dungeon and the castle - full of hostile
  peasants and animals. Contact with the enemies means a loss of energy, same as
  touching ground spikes and falling from high. They can be killed by jumping on
  their's heads. Egor may carry up two items at a time and supplement his energy
  by the contact with a blond haired woman walking through the village.
screenshots:
  - https://cdn.dos.zone/original/2X/3/350e3042f71718ebba809643cdde8c1c8eec72d9.png
  - https://cdn.dos.zone/original/2X/b/b333a5f36bf53260516effaec339f0da10e500f5.png
---
