---
layout: page.njk
title: "Frantis: Mission II | 🕹️Play Frantis: Mission II Online | Download
  js-dos bundle"
ogDescription: "Want to Play Frantis: Mission II? 🕹 On Dos Zone you can play
  Frantis: Mission II OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Frantis: Mission II"
permalink: /frantis-mission-ii-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffrantis-mission-ii.jsdos
description: "Frantis: Mission II is a side-scrolling platform game which
  continues the story of MegaDestroyer Frantis. As the main character's craft is
  shot down over planet Rakbet IV he bails out in an escape pod and lands right
  in an underground enemy base. He must now continue his mission on foot,
  proceeding deeper into the complex in order to destroy it from the inside.
  Typical for the genre, the gameplay of Frantis: Mission II consists of
  navigating two-dimensional levels, collecting powerups, keycards and fighting
  various enemies. It is possible to buy powerups in terminals that can be
  sometimes find in the levels. The game only has a single-player mode."
screenshots:
  - https://cdn.dos.zone/original/2X/b/b83ce56d2da84f096c5bc69a726de3400bd26e19.png
  - https://cdn.dos.zone/original/2X/d/dd4fd504a71942557f2baac02c654b9ff0e5a426.png
---
