---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/frazzle_.jsdos
layout: page.njk
ogDescription: Frazzle! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Frazzle! on
  mobile. On DOS.Zone Frazzle! available to play for free without registration.
permalink: /frazzle-jul-12-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/55de055f1b81ae2e7b7ffd9e5fd1552d5815898.png
- https://cdn.dos.zone/original/2X/a/aed2dad562fe8bb43ee9762bc6a23ce1356b79a.png
shortTitle: Frazzle!
title: Frazzle! | 🕹️Play Frazzle! Online | DOS game in browser

---
