---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/freak-out.jsdos
layout: page.njk
ogDescription: Freak Out is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Freak Out
  on mobile. On DOS.Zone Freak Out available to play for free without registration.
permalink: /freak-out-1992/
screenshots:
- https://cdn.dos.zone/original/2X/b/bec33ccbb01bdb0d2a82b11bb162f99aba629fba.png
- https://cdn.dos.zone/original/2X/5/54d4f288b5d7b90d8e01d09ec68f7cb60a09d28.png
shortTitle: Freak Out
title: Freak Out | 🕹️Play Freak Out Online | DOS game in browser

---
