---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/freddys-rescue-roundup.jsdos
layout: page.njk
ogDescription: Freddy's Rescue Roundup is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Freddy's Rescue Roundup on mobile. On DOS.Zone Freddy's Rescue Roundup available
  to play for free without registration.
permalink: /freddys-rescue-roundup-1984/
screenshots:
- https://cdn.dos.zone/original/2X/a/a3de4a277ef1392d1fc6b7f4bcbab98b54e22ba2.gif
- https://cdn.dos.zone/original/2X/8/8f49ad1f3688d2fb9b738bb0355b1e6f9041b97a.png
shortTitle: Freddy's Rescue Roundup
title: Freddy's Rescue Roundup | 🕹️Play Freddy's Rescue Roundup Online | DOS game
  in browser

---
