---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/freddy-pharkas-frontier-pharmacist.jsdos
layout: page.njk
ogDescription: 'Freddy Pharkas: Frontier Pharmacist is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Freddy Pharkas: Frontier Pharmacist on mobile. On DOS.Zone Freddy
  Pharkas: Frontier Pharmacist available to play for free without registration.'
permalink: /freddy-pharkas-frontier-pharmacist-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/fa0788d4f4bdc5241eaff8b23f6d0940bd728d1.png
- https://cdn.dos.zone/original/2X/1/16ece0d44335c2dc49e5e090f381e71124d1e7e5.gif
shortTitle: 'Freddy Pharkas: Frontier Pharmacist'
title: 'Freddy Pharkas: Frontier Pharmacist | 🕹️Play Freddy Pharkas: Frontier Pharmacist
  Online | DOS game in browser'

---
