---
layout: page.njk
title: Freddy's Rescue Roundup | 🕹️Play Freddy's Rescue Roundup Online |
  Download js-dos bundle
ogDescription: Want to Play Freddy's Rescue Roundup? 🕹 On Dos Zone you can play
  Freddy's Rescue Roundup OR donwload js-dos bundle for free. Start playing now!
shortTitle: Freddy's Rescue Roundup
permalink: /freddys-rescue-roundup-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffreddys-rescue-roundup.jsdos
description: Freddy's Rescue Roundup is an action platform game where you need
  to collect all of the chickens on the screen within the available time limit
  while avoiding enemy robots. Within the maze besides chickens and enemy robots
  are some bonuses which will temporarily freeze the robots or replenish your
  supplies. Doors are also present which will quickly transport you to the
  matching door in the maze. The game features three different skill levels and
  allows you to choose an entry point into the maze.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a3de4a277ef1392d1fc6b7f4bcbab98b54e22ba2.gif
  - https://cdn.dos.zone/original/2X/8/8f49ad1f3688d2fb9b738bb0355b1e6f9041b97a.png
---
