---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/freedom-rebels-in-the-darkness.jsdos
layout: page.njk
ogDescription: 'Freedom: Rebels in the Darkness is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Freedom: Rebels in the Darkness on mobile. On DOS.Zone Freedom: Rebels
  in the Darkness available to play for free without registration.'
permalink: /freedom-rebels-in-the-darkness-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/588545e49cd600381faae772c9d33b6f8f307d07.png
- https://cdn.dos.zone/original/2X/4/4fe8ec1c9fca661cc0710e426342d7d7b41da961.png
shortTitle: 'Freedom: Rebels in the Darkness'
title: 'Freedom: Rebels in the Darkness | 🕹️Play Freedom: Rebels in the Darkness Online
  | DOS game in browser'

---
