---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/frigate.jsdos
layout: page.njk
ogDescription: Frigate is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Frigate on
  mobile. On DOS.Zone Frigate available to play for free without registration.
permalink: /frigate-jan-1988/
screenshots:
- https://cdn.dos.zone/original/2X/7/77b1c31a395e570801f35e354e0822192d1a420.png
- https://cdn.dos.zone/original/2X/4/4f9881229788f50de143e7e5dc424ce200c25b6b.png
shortTitle: Frigate
title: Frigate | 🕹️Play Frigate Online | DOS game in browser

---
