---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/frightmare.jsdos
layout: page.njk
ogDescription: Frightmare is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Frightmare
  on mobile. On DOS.Zone Frightmare available to play for free without registration.
permalink: /frightmare-oct-1989/
screenshots:
- https://cdn.dos.zone/original/2X/d/d7f06e89c663253ef2ff63670f566402d0866e9c.png
- https://cdn.dos.zone/original/2X/1/12646077f05509cbe1428d169c095268d8d732bf.png
shortTitle: Frightmare
title: Frightmare | 🕹️Play Frightmare Online | DOS game in browser

---
