---
layout: page.njk
title: From Corner to Corner | 🕹️Play From Corner to Corner Online | Download
  js-dos bundle
ogDescription: Want to Play From Corner to Corner? 🕹 On Dos Zone you can play
  From Corner to Corner OR donwload js-dos bundle for free. Start playing now!
shortTitle: From Corner to Corner
permalink: /from-corner-to-corner-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffrom-corner-to-corner.jsdos
description: From Corner To Corner is a four-players or two-players turn-based
  board game. The goal for each player is to move all balls from player's corner
  to the opposite corner of the playfield faster than others. The ball can move
  a one space and also jump over a single nearest ball for unlimited times in
  any direction - vertical, horizontal, diagonal. Each turn the player selects
  one ball and points out the destination of the ball's route. The game has an
  option to select human or AI opponents as well as to set a one of four
  difficulty levels.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d25eadcede87667d629c2bfba2f3dbff8dc1bca3.png
  - https://cdn.dos.zone/original/2X/2/2796f93d2171b146d91308b6a8b566545c0d7be.png
---
