---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/front-lines.jsdos
layout: page.njk
ogDescription: Front Lines is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Front Lines
  on mobile. On DOS.Zone Front Lines available to play for free without registration.
permalink: /front-lines-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/e501baf5c6dbb493c511128d2339641616229a92.png
- https://cdn.dos.zone/original/2X/d/d28c4325900af0c639b62380c1300369a8223572.png
shortTitle: Front Lines
title: Front Lines | 🕹️Play Front Lines Online | DOS game in browser

---
