---
layout: page.njk
title: "Fun School 3: for 5 to 7 Year Olds | 🕹️Play Fun School 3: for 5 to 7
  Year Olds Online | Download js-dos bundle"
ogDescription: "Want to Play Fun School 3: for 5 to 7 Year Olds? 🕹 On Dos Zone
  you can play Fun School 3: for 5 to 7 Year Olds OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Fun School 3: for 5 to 7 Year Olds"
permalink: /fun-school-3-for-5-to-7-year-olds-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffun-school-3-for-5-to-7-year-olds.jsdos
description: These six small educational games star Freddy the Frog. Each uses
  simple controls to ensure that children can play without difficulty from the
  software. Using forward, back, left and right keys Freddy must get to various
  important buildings as depicted on the screen. In Adding he is presented with
  a network of lily pads, some of which contain numbers or mathematical symbols.
  Land on these in the correct order to produce a correct sum. In the Toyshop,
  first identify toys from their names, then choose a toy at a specified price,
  and then combine goods to meet a specified price limit. Electricity allows you
  to learn about circuits - by working out whether an existing layout will work,
  and modifying it so that it will. The next game involves telling the time, so
  as to get the prince his key. Funtext teaches information searching using a
  Ceefax-type environment.
screenshots:
  - https://cdn.dos.zone/original/2X/4/464d124bbd4175b00c672b113699734cce3c0717.png
  - https://cdn.dos.zone/original/2X/9/902f6402b21dec38b87f1014dced48c5b032f495.png
---
