---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fun-house_.jsdos
layout: page.njk
ogDescription: Fun House is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fun House
  on mobile. On DOS.Zone Fun House available to play for free without registration.
permalink: /fun-house-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/93ea1a4b9d968c311c27318dd46739d5b40eb1a6.png
- https://cdn.dos.zone/original/2X/2/2e7db3d43019ace668794d6e5db5c7933c68632f.png
shortTitle: Fun House
title: Fun House | 🕹️Play Fun House Online | DOS game in browser

---
