---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fun-school-4-for-7-to-11-year-olds.jsdos
layout: page.njk
ogDescription: 'Fun School 4: for 7 to 11 year olds is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Fun School 4: for 7 to 11 year olds on mobile. On DOS.Zone Fun
  School 4: for 7 to 11 year olds available to play for free without registration.'
permalink: /fun-school-4-for-7-to-11-year-olds-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e0d33fdf1a0a753f25cf3481fc7443a529c60c24.png
- https://cdn.dos.zone/original/2X/3/3076b39387514ba517b245ad01f6059b5a289ae.png
shortTitle: 'Fun School 4: for 7 to 11 year olds'
title: 'Fun School 4: for 7 to 11 year olds | 🕹️Play Fun School 4: for 7 to 11 year
  olds Online | DOS game in browser'

---
