---
layout: page.njk
title: Fun House | 🕹️Play Fun House Online | Download js-dos bundle
ogDescription: Want to Play Fun House? 🕹 On Dos Zone you can play Fun House OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Fun House
permalink: /fun-house-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffun-house_.jsdos
description: >-
  Fun House is a game based on a children's TV game show. The game's object is
  to test  luck and skill at stunts and trivia questions.

  Two contestants compete against each other to win the stunt and trivia rounds.

  Then the winner goes to gather prizes in the maze.
screenshots:
  - https://cdn.dos.zone/original/2X/9/93ea1a4b9d968c311c27318dd46739d5b40eb1a6.png
  - https://cdn.dos.zone/original/2X/2/2e7db3d43019ace668794d6e5db5c7933c68632f.png
---
