---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fun-school-3-for-5-to-7-year-olds.jsdos
layout: page.njk
ogDescription: 'Fun School 3: for 5 to 7 Year Olds is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Fun School 3: for 5 to 7 Year Olds on mobile. On DOS.Zone Fun School
  3: for 5 to 7 Year Olds available to play for free without registration.'
permalink: /fun-school-3-for-5-to-7-year-olds-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/464d124bbd4175b00c672b113699734cce3c0717.png
- https://cdn.dos.zone/original/2X/9/902f6402b21dec38b87f1014dced48c5b032f495.png
shortTitle: 'Fun School 3: for 5 to 7 Year Olds'
title: 'Fun School 3: for 5 to 7 Year Olds | 🕹️Play Fun School 3: for 5 to 7 Year
  Olds Online | DOS game in browser'

---
