---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/funny-fruits.jsdos
layout: page.njk
ogDescription: Funny Fruits is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Funny Fruits
  on mobile. On DOS.Zone Funny Fruits available to play for free without registration.
permalink: /funny-fruits-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/c9935f0978967ad69e9c13d35fda505ee6acbde0.png
- https://cdn.dos.zone/original/2X/1/117af938ffc542d4c7d16a74415fb5d950ff1206.png
shortTitle: Funny Fruits
title: Funny Fruits | 🕹️Play Funny Fruits Online | DOS game in browser

---
