---
layout: page.njk
title: Funny Fruits | 🕹️Play Funny Fruits Online | Download js-dos bundle
ogDescription: Want to Play Funny Fruits? 🕹 On Dos Zone you can play Funny
  Fruits OR donwload js-dos bundle for free. Start playing now!
shortTitle: Funny Fruits
permalink: /funny-fruits-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffunny-fruits.jsdos
description: Funny Fruits is a Color Lines type puzzle game. The player must
  build a straight line, consisting of at least five identical fruits. The
  constructed line disappears from the board. Each turn brings an appearance of
  three new fruits randomly located on the gaming hexagonal cell board. After
  completing the line the player gets fruit juice that fills a 100 ml tube
  located at the right side of the screen. Filling the tube allows to move to
  the next level.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c9935f0978967ad69e9c13d35fda505ee6acbde0.png
  - https://cdn.dos.zone/original/2X/1/117af938ffc542d4c7d16a74415fb5d950ff1206.png
---
