---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fuzzy-worm.jsdos
layout: page.njk
ogDescription: Fuzzy Worm is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Fuzzy Worm
  on mobile. On DOS.Zone Fuzzy Worm available to play for free without registration.
permalink: /fuzzy-worm-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/66c902ad634753665adba61ec10f761251ee235c.png
- https://cdn.dos.zone/original/2X/c/cba133ccf1398fc2188756a4eedf5e8acd26dec5.png
shortTitle: Fuzzy Worm
title: Fuzzy Worm | 🕹️Play Fuzzy Worm Online | DOS game in browser

---
