---
layout: page.njk
title: "Galactix II: The Search for the Lost Orbs | 🕹️Play Galactix II: The
  Search for the Lost Orbs Online | Download js-dos bundle"
ogDescription: "Want to Play Galactix II: The Search for the Lost Orbs? 🕹 On
  Dos Zone you can play Galactix II: The Search for the Lost Orbs OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "Galactix II: The Search for the Lost Orbs"
permalink: /galactix-ii-the-search-for-the-lost-orbs-may-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgalactix-ii-the-search-for-the-lost-orbs.jsdos
description: "The extraterrestrial hero of 1988's Galactix returns for yet
  another adventure, this time at the behest of the King of Galaxia.  His Alien
  Highness woke up one day and could not find his three magical orbs; the
  treasured artifacts have been stolen by bandits, and the agitated monarch
  immediately sends you on a mission to retrieve them.  As before, your path
  will take you through a series of rooms populated by hostiles, which you'll
  have to dispatch with your phaser gun to get at the various objects that your
  quest demands.  These are manipulated using a menu-based inventory system,
  after the style common in adventure games, which complements the basic
  platform/arcade action as it did in the first Galactix. This time around the
  challenge is somewhat tougher: it is not enough to simply return the three
  orbs - your strict sovereign has also decreed that you must eliminate the
  thieving bandits from the land (along with the treacherous guards), and won't
  allow you back in the throne room until you've offed them all.  This is
  somewhat complicated by the fact that they come back from the dead when you
  re-enter a previous room.  Also, instead of the infinitely-recharging pistol
  from the previous game, your phaser has limited ammunition which must be
  replenished by finding additional bullets."
screenshots:
  - https://cdn.dos.zone/original/2X/e/ede931e70644af5b6ecef47431a07bedc33bf57b.png
  - https://cdn.dos.zone/original/2X/f/f97b423895b01139cfbeb2938aefc71dd3226471.png
---
