---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galaxy.jsdos
layout: page.njk
ogDescription: Galaxy is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Galaxy on mobile.
  On DOS.Zone Galaxy available to play for free without registration.
permalink: /galaxy-1982/
screenshots:
- https://cdn.dos.zone/original/2X/a/a4e2a1edb8dc263143b94107673c3937e307345c.png
- https://cdn.dos.zone/original/2X/6/65173cefbab16f47e21172888afc7bd168267c9b.png
shortTitle: Galaxy
title: Galaxy | 🕹️Play Galaxy Online | DOS game in browser

---
