---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galaga-94.jsdos
layout: page.njk
ogDescription: Galaga 94 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Galaga 94
  on mobile. On DOS.Zone Galaga 94 available to play for free without registration.
permalink: /galaga-94-1994/
screenshots:
- https://cdn.dos.zone/original/2X/1/14d839d6aebb017189d8d9b1db93fdb0edc605b.png
- https://cdn.dos.zone/original/2X/1/1c7b32aeb60836603524db5e4f539228070d795f.png
shortTitle: Galaga 94
title: Galaga 94 | 🕹️Play Galaga 94 Online | DOS game in browser

---
