---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galaxi.jsdos
layout: page.njk
ogDescription: Galaxi is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Galaxi on mobile.
  On DOS.Zone Galaxi available to play for free without registration.
permalink: /galaxi-jan-18-1996/
screenshots:
- https://cdn.dos.zone/original/2X/c/c6ad4e9fef3b7b827a8e2d129f64b56f80f54414.png
- https://cdn.dos.zone/original/2X/3/358655d954f68883d7adeb95887ef879db2e49e0.png
shortTitle: Galaxi
title: Galaxi | 🕹️Play Galaxi Online | DOS game in browser

---
