---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galactix_.jsdos
layout: page.njk
ogDescription: Galactix is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Galactix on
  mobile. On DOS.Zone Galactix available to play for free without registration.
permalink: /galactix-sep-1988/
screenshots:
- https://cdn.dos.zone/original/2X/9/9441f78336f1ac12124c453e6d0c3618841b1b59.png
- https://cdn.dos.zone/original/2X/4/4b09b53d608b3b4dda7c80baf749baf9228bf457.png
shortTitle: Galactix
title: Galactix | 🕹️Play Galactix Online | DOS game in browser

---
