---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galactic-encounters.jsdos
layout: page.njk
ogDescription: Galactic Encounters is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Galactic Encounters on mobile. On DOS.Zone Galactic Encounters available to play
  for free without registration.
permalink: /galactic-encounters-1982/
screenshots:
- https://cdn.dos.zone/original/2X/b/b0b3c1bbb2739853437009445aa63de2747fc7b0.png
- https://cdn.dos.zone/original/2X/d/dc1116de7d7de6c109a5470a9dc78959d6436b70.png
shortTitle: Galactic Encounters
title: Galactic Encounters | 🕹️Play Galactic Encounters Online | DOS game in browser

---
