---
layout: page.njk
title: Galaga 94 | 🕹️Play Galaga 94 Online | Download js-dos bundle
ogDescription: Want to Play Galaga 94? 🕹 On Dos Zone you can play Galaga 94 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Galaga 94
permalink: /galaga-94-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgalaga-94.jsdos
description: >-
  Galaga 94 is based on Galaga

  the classic vertical shooter from Namco. It's a fixed screen shooter in which the player moves right and left shooting at waves of alien spaceships as the swoop around the screen raining bombs and such like. The player starts with a ship that is capable of firing three rockets, i.e. only three rockets can be in flight on screen at the same time. For every twenty aliens destroyed the game will send a 'bonus bringer' craft, destroy that and a bonus items  will be dropped. Bonuses range from having more missiles on screen, shields, an extra life to a straightforward points increase
screenshots:
  - https://cdn.dos.zone/original/2X/1/14d839d6aebb017189d8d9b1db93fdb0edc605b.png
  - https://cdn.dos.zone/original/2X/1/1c7b32aeb60836603524db5e4f539228070d795f.png
---
