---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galleons.jsdos
layout: page.njk
ogDescription: Galleons is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Galleons on
  mobile. On DOS.Zone Galleons available to play for free without registration.
permalink: /galleons-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f04e757c589bd48436c5b40473feadc01c9a33b6.png
- https://cdn.dos.zone/original/2X/3/38387dd167ccfa4d9dd42025e2718b8a4efa26bd.png
shortTitle: Galleons
title: Galleons | 🕹️Play Galleons Online | DOS game in browser

---
