---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/game-of-robot_.jsdos
layout: page.njk
ogDescription: Game of Robot is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Game of Robot
  on mobile. On DOS.Zone Game of Robot available to play for free without registration.
permalink: /game-of-robot-1986/
screenshots:
- https://cdn.dos.zone/original/2X/5/582d78f697397615c16a0c8b7fcd2f90d5916362.png
- https://cdn.dos.zone/original/2X/3/3329c647c2eff3eaa8970bbcb9deb466447ac7e1.png
shortTitle: Game of Robot
title: Game of Robot | 🕹️Play Game of Robot Online | DOS game in browser

---
