---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/garden.jsdos
layout: page.njk
ogDescription: Garden is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Garden on mobile.
  On DOS.Zone Garden available to play for free without registration.
permalink: /garden-1989/
screenshots:
- https://cdn.dos.zone/original/2X/1/122710baef2646e6a5a8b069a419660e1782d757.png
- https://cdn.dos.zone/original/2X/2/2da8a8cc309e2d98e81e579de2cfd18b53ebb5c9.png
shortTitle: Garden
title: Garden | 🕹️Play Garden Online | DOS game in browser

---
