---
layout: page.njk
title: Garden | 🕹️Play Garden Online | Download js-dos bundle
ogDescription: Want to Play Garden? 🕹 On Dos Zone you can play Garden OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Garden
permalink: /garden-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgarden.jsdos
description: >-
  Garden is a shareware arcade type of game which, in concept, is a bit like a
  playing Whac-A-Mole with invisible moles. The player has to look after a
  garden, in the garden are flowers and weeds and, unfortunately, some gophers.
  The gophers eat the flowers and must be stomped on, the problem is they are
  underground and cannot be seen, the only way the player has any idea where
  they are is to watch where flowers disappear and hunt in that location. When
  they player is in a position to stomp a gopher the cursor changes colour

  Points are scored for trampling weeds but are lost when flowers are trampled or eaten. The game ends when all the gophers have been stomped and if the player has scored more than 2000 points the next game will be harder with more flowers to avoid and gophers to catch.
screenshots:
  - https://cdn.dos.zone/original/2X/1/122710baef2646e6a5a8b069a419660e1782d757.png
  - https://cdn.dos.zone/original/2X/2/2da8a8cc309e2d98e81e579de2cfd18b53ebb5c9.png
---
