---
layout: page.njk
title: Gateway to the Savage Frontier | 🕹️Play Gateway to the Savage Frontier
  Online | Download js-dos bundle
ogDescription: Want to Play Gateway to the Savage Frontier? 🕹 On Dos Zone you
  can play Gateway to the Savage Frontier OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Gateway to the Savage Frontier
permalink: /gateway-to-the-savage-frontier-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgateway-to-the-savage-frontier.jsdos
description: The party of adventurers has just escorted a caravan from the
  dwarven-ruled citadel Adbar to the city of Yartar. Now it's time to relax -
  the heroes head to the nearest tavern for food and drinks. However, somebody
  slips a drug into their food, and they all pass out. Upon awakening, they
  discover that they have been robbed of nearly all their possessions. The
  heroes must now begin everything from scratch. Investigating the matter, they
  unravel a much bigger and more sinister plot, which involves the evil
  organization Zhentarim and their plans for conquering the land. Gateway to the
  Savage Frontier is a Gold Box Advanced Dungeons & Dragons role-playing game
  set in a Forgotten Realms area known as the Savage Frontier. The gameplay is
  very similar to other games in the series, including creating and managing a
  six-member party of adventurers following the AD&D rules, first-person view
  for exploration, and turn-based combat. A new addition is a world map travel
  mode, which includes enemy encounters, and character-specific side quests,
  which can be undertaken by finding and talking to certain non-playable
  characters.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f2c488efe8015dfe5c386acb88f856ee8e4e07da.gif
  - https://cdn.dos.zone/original/2X/4/4cda81b8b6d2d5b49c131c8aa1e583d635c3c75a.gif
---
