---
layout: page.njk
title: Gavrila | 🕹️Play Gavrila Online | Download js-dos bundle
ogDescription: Want to Play Gavrila? 🕹 On Dos Zone you can play Gavrila OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Gavrila
permalink: /gavrila-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgavrila.jsdos
description: Gavrila is a Russian first name of a charming loader, who is guided
  by the player in order to solve the weighting puzzles in a limited time to
  gain points. Entering rooms in multi-storey building, Gavrila should put
  proper boxes on the weighing-machine and apply proper labels to these boxes
  based on the initial task. There are four weighting trials for each room
  before making a final decision. The room with puzzle is kept unsolved until
  the Gavrila's decision is correct. Gavrila can also interact with different
  objects in the room such as spider web or mouse hole for fun. The progress for
  already solved rooms is restored for a certain player's profile with next game
  run. Highest scores are stored in top five table.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8bc8f4f7bd2c5e77696e3ef8b45545e766a240bb.png
  - https://cdn.dos.zone/original/2X/1/11b3688813dfc849b9224a38ec67daa62d7ec66a.png
---
