---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gavrila.jsdos
layout: page.njk
ogDescription: Gavrila is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gavrila on
  mobile. On DOS.Zone Gavrila available to play for free without registration.
permalink: /gavrila-1995/
screenshots:
- https://cdn.dos.zone/original/2X/8/8bc8f4f7bd2c5e77696e3ef8b45545e766a240bb.png
- https://cdn.dos.zone/original/2X/1/11b3688813dfc849b9224a38ec67daa62d7ec66a.png
shortTitle: Gavrila
title: Gavrila | 🕹️Play Gavrila Online | DOS game in browser

---
