---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/general-trivia.jsdos
layout: page.njk
ogDescription: General Trivia is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in General Trivia
  on mobile. On DOS.Zone General Trivia available to play for free without registration.
permalink: /general-trivia-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/f94f6cb517b52a1fd423a048548d31dc8644f9b1.png
- https://cdn.dos.zone/original/2X/7/732add5326dceb04d2caf54eea748c9d80a9447.png
shortTitle: General Trivia
title: General Trivia | 🕹️Play General Trivia Online | DOS game in browser

---
