---
layout: page.njk
title: Generic Adventure 551 | 🕹️Play Generic Adventure 551 Online | Download
  js-dos bundle
ogDescription: Want to Play Generic Adventure 551? 🕹 On Dos Zone you can play
  Generic Adventure 551 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Generic Adventure 551
permalink: /generic-adventure-551-sep-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgeneric-adventure-551.jsdos
description: "Generic Adventure 551 is a version of the classic interactive
  fiction game Adventure (also known as Colossal Cave Adventure). It is based on
  Dave Long 's 350 point Fortran version (1978) which was later (around 1984)
  expanded to 551 points by different authors The code was later touched by Doug
  McDonald so it could be compiled with Fortran translation tools and released
  to the Usenet in August 1990. His code was then ported to other platforms. The
  basic content does not differ from the original: the player searches a
  mysterious cave for treasure. This requires exploring the environment and
  solving puzzles by typing in commands into a parser. The DOS port adds the
  ability to save the game to different files and the Amiga ports has a
  different front-end."
screenshots:
  - https://cdn.dos.zone/original/2X/2/202c6c18d1da155830e26a89ce5cc68c5002689a.png
  - https://cdn.dos.zone/original/2X/8/8c1c6b7a5903851c64b521f010ecd670849998bb.png
---
