---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/genghis-khan-ii-clan-of-the-gray-wolf.jsdos
layout: page.njk
ogDescription: 'Genghis Khan II: Clan of the Gray Wolf is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Genghis Khan II: Clan of the Gray Wolf on mobile. On DOS.Zone
  Genghis Khan II: Clan of the Gray Wolf available to play for free without registration.'
permalink: /genghis-khan-ii-clan-of-the-gray-wolf-1993/
screenshots:
- https://cdn.dos.zone/original/2X/a/a95856c498524cf89e53d62f84390d87d8228ce7.gif
- https://cdn.dos.zone/original/2X/7/7a765373a760be6c7c661778713cc2e728640dbe.gif
shortTitle: 'Genghis Khan II: Clan of the Gray Wolf'
title: 'Genghis Khan II: Clan of the Gray Wolf | 🕹️Play Genghis Khan II: Clan of the
  Gray Wolf Online | DOS game in browser'

---
