---
layout: page.njk
title: "Genghis Khan II: Clan of the Gray Wolf | 🕹️Play Genghis Khan II: Clan
  of the Gray Wolf Online | Download js-dos bundle"
ogDescription: "Want to Play Genghis Khan II: Clan of the Gray Wolf? 🕹 On Dos
  Zone you can play Genghis Khan II: Clan of the Gray Wolf OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Genghis Khan II: Clan of the Gray Wolf"
permalink: /genghis-khan-ii-clan-of-the-gray-wolf-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgenghis-khan-ii-clan-of-the-gray-wolf.jsdos
description: "Genghis Khan II: Clan of the Gray Wolf is a 2D turn-based grand
  strategy game, based on the life of the historical Mongol leader Temujin,
  better known as Genghis Khan. The gameplay is similar to other grand strategy
  games from Koei, like Romance of the Three Kingdoms or Nobunaga's Ambition.
  The game has various scenarios from the Conquest of Mongolia (the unification
  of Mongol tribes) to World Conquest (with up to six playable factions). On the
  world/country map (divided into smaller provinces) the player develops his own
  provinces, gives orders to his subordinates, establishes alliances and
  recruits armies. The battles are presented in a separate mode, where the
  player directs troops using commands."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a95856c498524cf89e53d62f84390d87d8228ce7.gif
  - https://cdn.dos.zone/original/2X/7/7a765373a760be6c7c661778713cc2e728640dbe.gif
---
