---
layout: page.njk
title: Genghis Khan | 🕹️Play Genghis Khan Online | Download js-dos bundle
ogDescription: Want to Play Genghis Khan? 🕹 On Dos Zone you can play Genghis
  Khan OR donwload js-dos bundle for free. Start playing now!
shortTitle: Genghis Khan
permalink: /genghis-khan-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgenghis-khan.jsdos
description: "Genghis Khan is a top-down 2D turn-based grand strategy game,
  based on the real mongol leader Genghis Khan's life. The game's main objective
  is to become the supreme ruler. The player can select from two campaigns:
  Mongol conquest or World conquest. In the Mongol conquest, players take on the
  role as Temujin (later known as Genghis Khan), with the goal being to unite
  all the tribes of Mongolia. In the World conquest, Players can be one of four
  characters. Similar to the Mongol conquest, players must unite all the
  countries together. Players can use military force (players must gather an
  army and lead them into war) or use diplomacy (including things such as
  strategic marriages). The main focus of the game involves management of
  territory, as the player manages various activities that improve their
  provinces. Battlefields are hex tiled based, with players giving commands to
  units groups with the objective of  trying to defeat the forces of the enemy
  combatants."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e7187e06a5bf43a60109919e89813dcee801bf35.gif
  - https://cdn.dos.zone/original/2X/f/ff33633cc424bbf7cd69ef3e43ea58d66faa5b34.gif
---
