---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/genghis-khan_.jsdos
layout: page.njk
ogDescription: Genghis Khan is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Genghis Khan
  on mobile. On DOS.Zone Genghis Khan available to play for free without registration.
permalink: /genghis-khan-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/fd52f28b1c8cd3f8fc1e4b921fcdd070ecb6175c.png
- https://cdn.dos.zone/original/2X/2/2d13d40cc65c2462cdaea08c5f7b9c62f8cf0521.png
shortTitle: Genghis Khan
title: Genghis Khan | 🕹️Play Genghis Khan Online | DOS game in browser

---
