---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gertrudes-secrets.jsdos
layout: page.njk
ogDescription: Gertrude's Secrets is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Gertrude's Secrets on mobile. On DOS.Zone Gertrude's Secrets available to play for
  free without registration.
permalink: /gertrudes-secrets-1984/
screenshots:
- https://cdn.dos.zone/original/2X/b/b8998c4abcdd8c42799257dc72870284e16f92da.png
- https://cdn.dos.zone/original/2X/2/2067c57afece9d4b9db28d34cd7a1a9f133c3f1a.png
shortTitle: Gertrude's Secrets
title: Gertrude's Secrets | 🕹️Play Gertrude's Secrets Online | DOS game in browser

---
