---
layout: page.njk
title: Gertrude's Puzzles | 🕹️Play Gertrude's Puzzles Online | Download js-dos bundle
ogDescription: Want to Play Gertrude's Puzzles? 🕹 On Dos Zone you can play
  Gertrude's Puzzles OR donwload js-dos bundle for free. Start playing now!
shortTitle: Gertrude's Puzzles
permalink: /gertrudes-puzzles-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgertrudes-puzzles.jsdos
description: "Gertrude's Puzzles, like its companion game Gertrude's Secrets, is
  an educational title featuring Gertrude the Goose, although it's intended for
  a (very slightly) older audience.  Here, too, the player roams around an
  interconnected series of chambers, and (with Gertrude's aid) solves puzzles
  which exercise logic, pattern recognition and visual interpretation skills.
  The tour of Gertrude's residence begins with a tutorial, which introduces the
  concept of interacting with objects by using the cursor.  The three types of
  puzzles are based on manipulating and sorting objects according to their
  shapes and colors: the Box Puzzles challenge the player to arrange objects on
  a grid; the Network Puzzles, on a relationship graph; and the Layout Puzzles,
  in a sort of Venn diagram. Solving each puzzle awards a random prize from
  Gertrude, and the prizes are collected for display in the Treasure Room.  For
  variety's sake, the appearance of puzzle pieces can be altered by choosing
  from six predefined sets -- or by visiting the designated Shape Edit room,
  where players can create and modify custom pieces."
screenshots:
  - https://cdn.dos.zone/original/2X/d/d589a286023891d8ed5d2c957ff6d1190510785e.png
  - https://cdn.dos.zone/original/2X/e/ef56e4cd578b4361a4599171433e58e4b408b7f9.png
---
