---
layout: page.njk
title: Gettysburg | 🕹️Play Gettysburg Online | Download js-dos bundle
ogDescription: Want to Play Gettysburg? 🕹 On Dos Zone you can play Gettysburg
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Gettysburg
permalink: /gettysburg-nov-12-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgettysburg.jsdos
description: Gettysburg is a wargame simulating the Battle of Gettysburg (fought
  on July 1-3, 1863), the turning point and one of the bloodiest battles of the
  American Civil War. You may choose to command either Union or Confederate
  forces, it is also possible to play a two player game or watch the computer
  playing both sides. As in the previous games in this series, the player is
  observing the battle area through a 3D perspective, while issuing commands by
  typing in certain pre-defined text elements (combined with names of
  commanders, places and time of execution). You will get reports from your
  officers indicating whether or not your orders have been carried out to the
  letter.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fd2b20e7684dc6252178b356d2b3af1647a2cb88.png
  - https://cdn.dos.zone/original/2X/f/f757731bd30ce03ce94ec51fb3a309b0b59e7db9.png
---
