---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/giant-killer.jsdos
layout: page.njk
ogDescription: Giant Killer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Giant Killer
  on mobile. On DOS.Zone Giant Killer available to play for free without registration.
permalink: /giant-killer-1987/
screenshots:
- https://cdn.dos.zone/original/2X/e/ed155c5c0c5276ac0bbc310035a0b2b01df784ce.png
- https://cdn.dos.zone/original/2X/7/7acf55253cd457138eaac40ece7e65632be0cde.png
shortTitle: Giant Killer
title: Giant Killer | 🕹️Play Giant Killer Online | DOS game in browser

---
