---
layout: page.njk
title: Glook | 🕹️Play Glook Online | Download js-dos bundle
ogDescription: Want to Play Glook? 🕹 On Dos Zone you can play Glook OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Glook
permalink: /glook-mar-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fglook.jsdos
description: Glook is a side-scrolling shooting game similar to Defender. The
  player controls a small armed flying craft and must fend off invading aliens
  that try to abduct humans. To complete a stage, the player needs to destroy
  all Hunters, the aliens that that can capture humans, but there are also other
  types of aliens that attack the player. Glook can be played by one or two
  players on the same computer. In a two-player game, players take turns to
  fight the aliens until either the stage is complete or they run out of lives.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8ce691f962026c5d9b00cb79f09bb75cff6acec1.png
  - https://cdn.dos.zone/original/2X/d/d48d95dff1ef0dcdf40e3d0231f561196ec110f1.png
---
