---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/goal_.jsdos
layout: page.njk
ogDescription: Goal! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Goal! on mobile.
  On DOS.Zone Goal! available to play for free without registration.
permalink: /goal-1993/
screenshots:
- https://cdn.dos.zone/original/2X/8/857927a434cb8b76a286c2f00bcfd650d9754b9f.gif
- https://cdn.dos.zone/original/2X/d/db78ca1d704d2ee418e55b72681b079e4b6bee51.gif
shortTitle: Goal!
title: Goal! | 🕹️Play Goal! Online | DOS game in browser

---
