---
layout: page.njk
title: Goal! | 🕹️Play Goal! Online | Download js-dos bundle
ogDescription: Want to Play Goal!? 🕹 On Dos Zone you can play Goal! OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Goal!
permalink: /goal-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgoal_.jsdos
description: Goal! takes the basic gameplay of Dino Dini's previous Kick Off
  games, but updates most features in some way. Teams from various European
  countries are included, and you can customise these by moving players around,
  and changing the starting lineups and formations. An Arcade Challenge mode
  sees you play matches against each of the five computer team speeds, in
  succession, until you lose one. You can also arrange leagues or play
  individual matches. A wide range of options are included, with variable wind
  settings, a range of pitches and referees, variable match lengths, and the
  chance to play up/down or left/right, a choice of close or distant view, and
  variable computer speed and skill. All of these features can be combined in
  various ways with each other.
screenshots:
  - https://cdn.dos.zone/original/2X/8/857927a434cb8b76a286c2f00bcfd650d9754b9f.gif
  - https://cdn.dos.zone/original/2X/d/db78ca1d704d2ee418e55b72681b079e4b6bee51.gif
---
