---
layout: page.njk
title: Gobbler | 🕹️Play Gobbler Online | Download js-dos bundle
ogDescription: Want to Play Gobbler? 🕹 On Dos Zone you can play Gobbler OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Gobbler
permalink: /gobbler-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgobbler_.jsdos
description: >-
  Gobbler is a single player, shareware, which plays a bit like Pac-Man The game
  takes place in a maze. Throughout the maze are tokens of some sort that the
  player must collect to score points. Only by collecting all the tokens can the
  player clear the level and progress to the next. There are, of course, ghosts
  patrolling the maze and contact with them ends the game.

  Unlike Pac-Man there are no power pills that allow the player to overpower the ghosts, this is a puzzle game that is purely about planning a route around the maze while avoiding them. The game is entirely keyboard controlled, uses character graphics and has sound effects. The registered game allows the players to alter the action keys used navigate the maze while the shareware game does not.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3c2a7c36a991cb97d3a91ea07a25d7025bd71ede.png
  - https://cdn.dos.zone/original/2X/6/601c7c22163f1aa7a46d84e32537974a06a3d823.png
---
