---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gobble-man.jsdos
layout: page.njk
ogDescription: Gobble Man is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gobble Man
  on mobile. On DOS.Zone Gobble Man available to play for free without registration.
permalink: /gobble-man-1982/
screenshots:
- https://cdn.dos.zone/original/2X/3/301f00156493ffea0b61eb9aa2b7c0971981fbb5.png
- https://cdn.dos.zone/original/2X/7/736874b10ddaf6fdddbce84b2edb9a7feece5211.png
shortTitle: Gobble Man
title: Gobble Man | 🕹️Play Gobble Man Online | DOS game in browser

---
