---
layout: page.njk
title: God Jul! | 🕹️Play God Jul! Online | Download js-dos bundle
ogDescription: Want to Play God Jul!? 🕹 On Dos Zone you can play God Jul! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: God Jul!
permalink: /god-jul-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgod-jul.jsdos
description: God Jul! (Merry Christmas! in Swedish) is a Christmas-themed arcade
  game, where the player should help a janitor to clean a staircase of small
  house from snow. This process is divided by three stages, all of them should
  be completed in 10-15 minutes. Clean staircase at each stage will end up with
  a score based on the completion time and congratulations from Santa Claus. The
  player controls the janitor on the staircase, directing him to snow and
  avoiding the falling icicles. Highest scores are stored into top ten table.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a6bcd9c212e8c5e80fec2b605dc7ab315843c542.png
  - https://cdn.dos.zone/original/2X/1/1c706cca183af341eebe8c5050baffb500df97e3.png
---
