---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gold-rush.jsdos
layout: page.njk
ogDescription: Gold Rush! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gold Rush!
  on mobile. On DOS.Zone Gold Rush! available to play for free without registration.
permalink: /gold-rush-1988/
screenshots:
- https://cdn.dos.zone/original/2X/3/359226749beda2e4de93948aa50e4392dcf39a5c.png
- https://cdn.dos.zone/original/2X/6/6c31503e0a4bbe4626066cea2e32a1b715fe6a1e.png
shortTitle: Gold Rush!
title: Gold Rush! | 🕹️Play Gold Rush! Online | DOS game in browser

---
