---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/a/ad3686df58a0bac357d3bb81b3f2536205e9ad76.jsdos
layout: page.njk
ogDescription: Golden Axe is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Golden Axe
  on mobile. On DOS.Zone Golden Axe available to play for free without registration.
permalink: /golden-axe-1990/
screenshots:
- https://cdn.dos.zone/original/2X/f/fc38477a68ccc68c8e8a92447076962073b7e63d.gif
- https://cdn.dos.zone/original/2X/4/467c5c0d236a80f8e7ae137e7ae630e0d34f39d6.png
shortTitle: Golden Axe
title: Golden Axe | 🕹️Play Golden Axe Online | DOS game in browser
youtube: iEaRErl76jM?start=32

---
