---
layout: page.njk
title: Golden Axe | 🕹️Play Golden Axe Online | Download js-dos bundle
ogDescription: Want to Play Golden Axe? 🕹 On Dos Zone you can play Golden Axe
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Golden Axe
permalink: /golden-axe-1990/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fa%2Fad3686df58a0bac357d3bb81b3f2536205e9ad76.jsdos
description: "Golden Axe is an arcade beat-'em-up game that puts players in the
  shoes of one of three heroes, each with his own reason for trying to overthrow
  the evil rule of Death-Adder, who - along with his forces of darkness -
  kidnapped and imprisoned the King and his daughter and stole the legendary
  Golden Axe. This is a horizontal fighting game, where you basically take one
  of the three characters (the barbarian Ax Battler, a dwarf named Gilius
  Thunderhead or the amazon Tyris Flare) and bash everything which stands
  between you and Death Adder himself. Each character has a special magical
  ability that can be charged by kicking small blue creatures that drop a
  potion. There is also a green variety off this creature that drops food that
  replenishes your health. Some enemies ride dragons and a scorpion like
  creature. The enemies can be knocked off and you can mount the creature
  yourself and attack the enemies with it. The game allows to play up to two
  players on a same screen, however in the C64 version this option has not been
  implemented. C64 version was also stripped off in the other areas, such as:
  only one enemy can engage the player at a time or there are only two types of
  dragons instead of three."
screenshots:
  - https://cdn.dos.zone/original/2X/f/fc38477a68ccc68c8e8a92447076962073b7e63d.gif
  - https://cdn.dos.zone/original/2X/4/467c5c0d236a80f8e7ae137e7ae630e0d34f39d6.png
youtube: iEaRErl76jM?start=32
---
