---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/golf______.jsdos
layout: page.njk
ogDescription: Golf is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Golf on mobile.
  On DOS.Zone Golf available to play for free without registration.
permalink: /golf-1982/
screenshots:
- https://cdn.dos.zone/original/2X/1/18a334aa5aeae057371fa8c37ce614bd35ba9e2e.png
- https://cdn.dos.zone/original/2X/d/dba22b5b6b86392ba554c3e72beec1db2a2a6b17.png
shortTitle: Golf
title: Golf | 🕹️Play Golf Online | DOS game in browser

---
