---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gone-fishing.jsdos
layout: page.njk
ogDescription: Gone Fishing is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gone Fishing
  on mobile. On DOS.Zone Gone Fishing available to play for free without registration.
permalink: /gone-fishing-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/969a0f5d6d3cd6ce36cd881edf5d058040e9e79c.png
- https://cdn.dos.zone/original/2X/f/fef7089187fcfd3b9d229d1dc130ebff0d494821.png
shortTitle: Gone Fishing
title: Gone Fishing | 🕹️Play Gone Fishing Online | DOS game in browser

---
