---
layout: page.njk
title: Gone Fishing | 🕹️Play Gone Fishing Online | Download js-dos bundle
ogDescription: Want to Play Gone Fishing? 🕹 On Dos Zone you can play Gone
  Fishing OR donwload js-dos bundle for free. Start playing now!
shortTitle: Gone Fishing
permalink: /gone-fishing-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgone-fishing.jsdos
description: Gone Fishing is a fishing simulator. Starting small in a rented
  boat with a plastic worm, a spinner, or other tackle, you can work your way to
  tournament status, purchasing not only additional tackle, but also equipment
  such as depth finders and serious bass boats. The player takes over a
  character's life, balancing business and fishing. Game elements include
  examining the weather forecast and deciding where to fish. Regular work needs
  to be done to provide money for the fishing hobby, or tournaments can be
  entered for financial support when they are won. Once a fish has been caught,
  it needs to be managed carefully to reel it in.
screenshots:
  - https://cdn.dos.zone/original/2X/9/969a0f5d6d3cd6ce36cd881edf5d058040e9e79c.png
  - https://cdn.dos.zone/original/2X/f/fef7089187fcfd3b9d229d1dc130ebff0d494821.png
---
