---
layout: page.njk
title: Gotcha | 🕹️Play Gotcha Online | Download js-dos bundle
ogDescription: Want to Play Gotcha? 🕹 On Dos Zone you can play Gotcha OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Gotcha
permalink: /gotcha-may-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgotcha__.jsdos
description: Gotcha is a single player, shareware, keyboard controlled, puzzle
  game based on the classic game QIX. The game area consists of a rectangle with
  a border. The object of the game is to claim over fifty percent of the
  rectangle by making smaller rectangles. However, within the main rectangle
  lurk 'the meanies' and if they make contact with the player or the line that
  they are drawing a life is lost. The player is safe from 'the meanies' while
  they are in the border but there's another pest, Mr Hurry, who chases the
  player if they take too long to clear a level. The shareware version of the
  game has just five levels and only one set of meanies. The registered version
  has one or two meanies, minefields and bonus rounds.
screenshots:
  - https://cdn.dos.zone/original/2X/1/157ef62e308a79d5cec24299396514d3ab706b1.png
  - https://cdn.dos.zone/original/2X/7/71518415cf6372ac1cf3cda009420aed998a526d.png
---
