---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/gta-mobile.jsdos
layout: page.njk
ogDescription: Grand Theft Auto is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Grand Theft
  Auto on mobile. On DOS.Zone Grand Theft Auto available to play for free without
  registration.
permalink: /grand-theft-auto-1997/
screenshots:
- https://cdn.dos.zone/original/2X/9/9680c5bbdbebd771cf83b4fe23de21f105fb75d5.jpeg
- https://cdn.dos.zone/original/2X/f/fac2de772f8d33abe329322b7905626ce6ef3fea.png
shortTitle: Grand Theft Auto
title: Grand Theft Auto | 🕹️Play Grand Theft Auto Online | DOS game in browser
youtube: XOm5meWbVl4

---
