---
layout: page.njk
title: Grand Prix 500 2 | 🕹️Play Grand Prix 500 2 Online | Download js-dos bundle
ogDescription: Want to Play Grand Prix 500 2? 🕹 On Dos Zone you can play Grand
  Prix 500 2 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Grand Prix 500 2
permalink: /grand-prix-500-2-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgrand-prix-500-2.jsdos
description: You can choose between 4 bikes, 12 tracks (including favourites
  like Brno, Suzuka and Spa), with 1 or 2 players in this Grand Prix motorcycle
  racing simulation. You can play a full season including qualifying modes, a
  single race, or simply practice a circuit to learn it and master the controls.
  Like the first Lotus game the game always uses a split screen; in one-player
  mode the top half of the screen displays the track map.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5e12b2ad7473a8bc8f668c07296f21c9d64933c3.png
  - https://cdn.dos.zone/original/2X/d/d05fcfd2f9c524df1a4f89322cc4f1c260d2ebee.gif
---
