---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gravitar_.jsdos
layout: page.njk
ogDescription: Gravitar is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gravitar on
  mobile. On DOS.Zone Gravitar available to play for free without registration.
permalink: /gravitar-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/57c22e1c7bbcde4cb2dc653425f8c9cbe3632bc8.png
- https://cdn.dos.zone/original/2X/d/d75b62e852b82cbddd4123bdabccc3fe67b32c65.png
shortTitle: Gravitar
title: Gravitar | 🕹️Play Gravitar Online | DOS game in browser

---
