---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gravedigger.jsdos
layout: page.njk
ogDescription: Gravedigger is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Gravedigger
  on mobile. On DOS.Zone Gravedigger available to play for free without registration.
permalink: /gravedigger-dec-24-2002/
screenshots:
- https://cdn.dos.zone/original/2X/f/f33759e7db0390057c74bdbe8bb55bb6a7f1cff2.png
- https://cdn.dos.zone/original/2X/b/b71619fb60273337ce564b3c6c9972fbb85abf49.png
shortTitle: Gravedigger
title: Gravedigger | 🕹️Play Gravedigger Online | DOS game in browser

---
