---
layout: page.njk
title: Grayhound Racer | 🕹️Play Grayhound Racer Online | Download js-dos bundle
ogDescription: Want to Play Grayhound Racer? 🕹 On Dos Zone you can play
  Grayhound Racer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Grayhound Racer
permalink: /grayhound-racer-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgrayhound-racer.jsdos
description: Your main aspiration here is to get as rich as you can by placing
  your bets at the dog racing venue.  You start out with $1000 on hand, plus
  half that sum deposited in the bank.  Three grayhounds take part in each race,
  and the bet is on the winner only (with a fixed return of 150%).  The game
  keeps track of your stats, which are shown on screen while the dogs engage in
  their mad rush to their finish line.  As long as you have cash on hand, you
  can keep on playing - you can deposit and withdraw at the bank, or take out a
  loan (which must be returned after four races... with interest).
screenshots:
  - https://cdn.dos.zone/original/2X/2/2fe41a29666fe1ce4afac8b8d1dd3d21b1efa327.png
  - https://cdn.dos.zone/original/2X/9/9ef8409344d9be38a7fa51d4d49effe05ef5837e.png
---
