---
layout: page.njk
title: Green | 🕹️Play Green Online | Download js-dos bundle
ogDescription: Want to Play Green? 🕹 On Dos Zone you can play Green OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Green
permalink: /green-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgreen.jsdos
description: Green is an eco-strategy shareware game for one player. The game is
  based on a map which represents an idyllic rural area. The planners are out in
  force building pavements all over the landscape and the player must build
  walls and clear pathways in order to prevent them. Points are awarded for
  planners trapped / immobilised by walls and points are lost as the planners
  lay more pathways. The game is mouse controlled with function keys being used
  to access the in-game help and to quit.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c304daed50b8b5e66122f571785e83d1166cb182.jpeg
  - https://cdn.dos.zone/original/2X/4/4274970124f748fee8f25eaa686d9719123b2c38.png
---
