---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/greg-normans-shark-attack-the-ultimate-golf-simulator.jsdos
layout: page.njk
ogDescription: 'Greg Norman''s Shark Attack!: The Ultimate Golf Simulator is a famous
  and most played DOS game that now is available to play in browser. With virtual
  mobile controls you also can play in Greg Norman''s Shark Attack!: The Ultimate
  Golf Simulator on mobile. On DOS.Zone Greg Norman''s Shark Attack!: The Ultimate
  Golf Simulator available to play for free without registration.'
permalink: /greg-normans-shark-attack-the-ultimate-golf-simulator-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/55db22102caa40e2f08f90126ddc60d9c14dfe99.png
- https://cdn.dos.zone/original/2X/b/b493acbc47923b86c0bbf3abce577c9df4c97ab5.png
shortTitle: 'Greg Norman''s Shark Attack!: The Ultimate Golf Simulator'
title: 'Greg Norman''s Shark Attack!: The Ultimate Golf Simulator | 🕹️Play Greg Norman''s
  Shark Attack!: The Ultimate Golf Simulator Online | DOS game in browser'

---
