---
layout: page.njk
title: "Greg Norman's Shark Attack!: The Ultimate Golf Simulator | 🕹️Play Greg
  Norman's Shark Attack!: The Ultimate Golf Simulator Online | Download js-dos
  bundle"
ogDescription: "Want to Play Greg Norman's Shark Attack!: The Ultimate Golf
  Simulator? 🕹 On Dos Zone you can play Greg Norman's Shark Attack!: The
  Ultimate Golf Simulator OR donwload js-dos bundle for free. Start playing
  now!"
shortTitle: "Greg Norman's Shark Attack!: The Ultimate Golf Simulator"
permalink: /greg-normans-shark-attack-the-ultimate-golf-simulator-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgreg-normans-shark-attack-the-ultimate-golf-simulator.jsdos
description: Eight man-years of development resulted in this detailed recreation
  of golf, endorsed by one of the great players of the 1980s. Two courses are
  included, with 3D modeling of the effects of ball lie and swing style. You can
  disable ball effects to make it more straightforward, and weather and wind
  effects are optional. Match play and stroke play are included, as are
  Fourball, Foursome and Greensome modes for 4 players in 2 teams of two, as
  well as a practice mode. The game is played from a 3D perspective, with an
  overhead view before each shot.
screenshots:
  - https://cdn.dos.zone/original/2X/5/55db22102caa40e2f08f90126ddc60d9c14dfe99.png
  - https://cdn.dos.zone/original/2X/b/b493acbc47923b86c0bbf3abce577c9df4c97ab5.png
---
