---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/gremlins-2-the-new-batch.jsdos
layout: page.njk
ogDescription: 'Gremlins 2: The New Batch is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Gremlins 2: The New Batch on mobile. On DOS.Zone Gremlins 2: The New Batch available
  to play for free without registration.'
permalink: /gremlins-2-the-new-batch-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/9e4f3a8e610d14e11f22164661042f951b38d051.png
- https://cdn.dos.zone/original/2X/c/c52d45316c6a4f29367fcbb553eca24743ab3935.png
shortTitle: 'Gremlins 2: The New Batch'
title: 'Gremlins 2: The New Batch | 🕹️Play Gremlins 2: The New Batch Online | DOS
  game in browser'

---
