---
layout: page.njk
title: "Gremlins 2: The New Batch | 🕹️Play Gremlins 2: The New Batch Online |
  Download js-dos bundle"
ogDescription: "Want to Play Gremlins 2: The New Batch? 🕹 On Dos Zone you can
  play Gremlins 2: The New Batch OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Gremlins 2: The New Batch"
permalink: /gremlins-2-the-new-batch-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgremlins-2-the-new-batch_.jsdos
description: In the tradition of the game Beetlejuice, Gremlins 2 is an arcade
  game in which you have to go around a building shooting gremlins and
  collecting all sorts of items. The game's features include an alarm system,
  two types of weapons and various kinds of scenery.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ffe89b932e3917c8746aa9a68c7d1215efbb0e7.png
  - https://cdn.dos.zone/original/2X/5/50bb20fd1d369437b5b5dce188c346e054aaad15.png
---
