---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/guardians-of-infinity-to-save-kennedy.jsdos
layout: page.njk
ogDescription: 'Guardians of Infinity: To Save Kennedy is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Guardians of Infinity: To Save Kennedy on mobile. On DOS.Zone
  Guardians of Infinity: To Save Kennedy available to play for free without registration.'
permalink: /guardians-of-infinity-to-save-kennedy-nov-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/feb63bbfbe896b82565d1d49261d002324f7a0a4.gif
- https://cdn.dos.zone/original/2X/c/cfac64e37655b4367aea8462c6e8d3c99e7d3eda.gif
shortTitle: 'Guardians of Infinity: To Save Kennedy'
title: 'Guardians of Infinity: To Save Kennedy | 🕹️Play Guardians of Infinity: To
  Save Kennedy Online | DOS game in browser'

---
