---
layout: page.njk
title: "Guardians of Infinity: To Save Kennedy | 🕹️Play Guardians of Infinity:
  To Save Kennedy Online | Download js-dos bundle"
ogDescription: "Want to Play Guardians of Infinity: To Save Kennedy? 🕹 On Dos
  Zone you can play Guardians of Infinity: To Save Kennedy OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Guardians of Infinity: To Save Kennedy"
permalink: /guardians-of-infinity-to-save-kennedy-nov-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fguardians-of-infinity-to-save-kennedy.jsdos
description: "In 2087, a physicist, inventor of a time travel machine, assembles
  a group of Guardians to travel back in time and thwart the assassination of
  President Kennedy.  Try to convince everyone that his life is in danger and
  have an actual face to face meeting with Kennedy. Guardians of Infinity: To
  Save Kennedy is a text adventure with a few graphical images. The player
  inputs verb commands, communicating with the agents and instructing them to
  perform various tasks to prevent the assassination. There is a time limit
  imposed on the game. The gameplay heavily relies on the usage of the manual,
  since it contains vital information concerning the whereabouts and schedules
  of key people that the player must interact with in order to accomplish the
  goal."
screenshots:
  - https://cdn.dos.zone/original/2X/f/feb63bbfbe896b82565d1d49261d002324f7a0a4.gif
  - https://cdn.dos.zone/original/2X/c/cfac64e37655b4367aea8462c6e8d3c99e7d3eda.gif
---
