---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/h-tron.jsdos
layout: page.njk
ogDescription: H-Tron is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in H-Tron on mobile.
  On DOS.Zone H-Tron available to play for free without registration.
permalink: /h-tron-dec-23-2016/
screenshots:
- https://cdn.dos.zone/original/2X/d/d4a446d199cee22c8214a60c46d51fa12062728.png
- https://cdn.dos.zone/original/2X/9/9891b17f1bfc4b613408e9bcfbfcf4470521a947.png
shortTitle: H-Tron
title: H-Tron | 🕹️Play H-Tron Online | DOS game in browser

---
