---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hacker.jsdos
layout: page.njk
ogDescription: Hacker is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Hacker on mobile.
  On DOS.Zone Hacker available to play for free without registration.
permalink: /hacker-feb-1986/
screenshots:
- https://cdn.dos.zone/original/2X/3/3e59f2a2fb941030b59e2276f2d4e00118c7128a.gif
- https://cdn.dos.zone/original/2X/a/ab7242ad3a170a74bad34b1f139ec4003e787a5.gif
shortTitle: Hacker
title: Hacker | 🕹️Play Hacker Online | DOS game in browser

---
