---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hamburger-hell.jsdos
layout: page.njk
ogDescription: Hamburger Hell is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Hamburger
  Hell on mobile. On DOS.Zone Hamburger Hell available to play for free without registration.
permalink: /hamburger-hell-1986/
screenshots:
- https://cdn.dos.zone/original/2X/2/2e9076070bb4139923ffedffb86d45d002210ff1.png
- https://cdn.dos.zone/original/2X/d/d7e69a3fb7f626663a219ef6041d80ba3bcd56c3.png
shortTitle: Hamburger Hell
title: Hamburger Hell | 🕹️Play Hamburger Hell Online | DOS game in browser

---
