---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hangman__.jsdos
layout: page.njk
ogDescription: Hangman is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Hangman on
  mobile. On DOS.Zone Hangman available to play for free without registration.
permalink: /hangman-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/d64450d1f31f3b16ff9dcb2fc26d677ee3a6aafa.png
- https://cdn.dos.zone/original/2X/5/596d22066f34d06fb3008a5232156560037fb533.png
shortTitle: Hangman
title: Hangman | 🕹️Play Hangman Online | DOS game in browser

---
