---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hardball.jsdos
layout: page.njk
ogDescription: HardBall! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in HardBall!
  on mobile. On DOS.Zone HardBall! available to play for free without registration.
permalink: /hardball-feb-1988/
screenshots:
- https://cdn.dos.zone/original/2X/6/6d828595026f4fb6820be6c7139b6d867e7efc28.gif
- https://cdn.dos.zone/original/2X/6/601a1e6827f2c0cec43ff5eb77d37c6e61c9ecb.gif
shortTitle: HardBall!
title: HardBall! | 🕹️Play HardBall! Online | DOS game in browser

---
