---
layout: page.njk
title: "Harley-Davidson: The Road to Sturgis | 🕹️Play Harley-Davidson: The Road
  to Sturgis Online | Download js-dos bundle"
ogDescription: "Want to Play Harley-Davidson: The Road to Sturgis? 🕹 On Dos
  Zone you can play Harley-Davidson: The Road to Sturgis OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Harley-Davidson: The Road to Sturgis"
permalink: /harley-davidson-the-road-to-sturgis-dec-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fharley-davidson-the-road-to-sturgis.jsdos
description: It's just 10 days away from the great bike drop bash happening at
  Sturgis South Dakota, and you're miles away! Ride your Harley through the open
  countryside to get there in time.  You must dodge fallen rocks, automobiles,
  outrun the police, and rescue a few wayward females with car troubles along
  the way. During your adventure, you'll be required to upgrade your motorcycle,
  join cycling events in local towns, and talk to natives in the local stores.
  Once you get to Sturgis, then the real fun begins!
screenshots:
  - https://cdn.dos.zone/original/2X/e/e55b8f021570a2ba3ff3e963f5bdc263d36c69cf.gif
  - https://cdn.dos.zone/original/2X/9/9facc4e9974eac8d6133136965e9d0a2285833f5.gif
---
