---
layout: page.njk
title: Harrier 7 | 🕹️Play Harrier 7 Online | Download js-dos bundle
ogDescription: Want to Play Harrier 7? 🕹 On Dos Zone you can play Harrier 7 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Harrier 7
permalink: /harrier-7-aug-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fharrier-7.jsdos
description: >-
  Straits of Hormuz. Persian Gulf. Enemy forces have captured seven key military
  bases, cutting off the major oil supplies of the free world. It's up to you to
  respond. 

  You fly a McDonnell Douglas VTOL BA Harrier, and your mission is to destroy all seven bases without losing your carrier. Your opposition are MiG 21 Fighters.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a277b67123e96beac0c833d11969df83bbafd524.png
  - https://cdn.dos.zone/original/2X/e/eb7811a4a7160698dbf4e1b17a2dc87b53620d7d.png
---
