---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/haunted-childhood.jsdos
layout: page.njk
ogDescription: Haunted Childhood is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Haunted Childhood on mobile. On DOS.Zone Haunted Childhood available to play for
  free without registration.
permalink: /haunted-childhood-feb-20-2003/
screenshots:
- https://cdn.dos.zone/original/2X/7/7b27755b1a7cabf87c87e60c13a46432784669ea.png
- https://cdn.dos.zone/original/2X/e/ef2e1ad3aac0bd9a62984f7071c96edae7e7e441.png
shortTitle: Haunted Childhood
title: Haunted Childhood | 🕹️Play Haunted Childhood Online | DOS game in browser

---
