---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/heartlight.jsdos
layout: page.njk
ogDescription: Heartlight is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Heartlight
  on mobile. On DOS.Zone Heartlight available to play for free without registration.
permalink: /heartlight-1994/
screenshots:
- https://cdn.dos.zone/original/2X/2/2ed50123d7da07517ee21ce3e9fb93b322757421.png
- https://cdn.dos.zone/original/2X/f/fc3a64d9f17a2e194eaba06ada39e5683df54cd7.png
shortTitle: Heartlight
title: Heartlight | 🕹️Play Heartlight Online | DOS game in browser

---
