---
layout: page.njk
title: Hello Mr. President | 🕹️Play Hello Mr. President Online | Download
  js-dos bundle
ogDescription: Want to Play Hello Mr. President? 🕹 On Dos Zone you can play
  Hello Mr. President OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hello Mr. President
permalink: /hello-mr-president-dec-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhello-mr-president.jsdos
description: Hello Mr. President is a Korean-made humorous versus fighting game
  in which all the playable characters are contemporary presidents or prime
  ministers of different countries. These include Bill Clinton (USA), Boris
  Yeltsin (Russia), Deng Xiaoping (China), Margaret Thatcher (UK), François
  Mitterrand (France), Saddam Hussein (Iraq), Morihiro Hosokawa (Japan), and Kim
  Youngsam (South Korea). The player can choose the order of opponents for each
  character. The fighting takes place in the home country of the opponent, with
  matching backgrounds representing the location. The game also include a board
  game mode where the player moves the character on a board, solving various
  mini-games such as simple puzzles or answering trivia questions on the way.
  Succeeding in the board game allows the character to start the fight with
  better attributes. It is, however, possible to skip the board game entirely
  and go straight to the battles.
screenshots:
  - https://cdn.dos.zone/original/2X/4/450b9c425c17492ba7e408f7ac48ec6a9a75c2b6.png
  - https://cdn.dos.zone/original/2X/d/de185c25078c429c1142047459978e7a419fb411.png
---
