---
layout: page.njk
title: Helter Skelter | 🕹️Play Helter Skelter Online | Download js-dos bundle
ogDescription: Want to Play Helter Skelter? 🕹 On Dos Zone you can play Helter
  Skelter OR donwload js-dos bundle for free. Start playing now!
shortTitle: Helter Skelter
permalink: /helter-skelter-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhelter-skelter.jsdos
description: >-
  Marble Madness meets pinball. Ball rolling game with a simple goal: Move the
  ball to hit moving targets within time limit to win the level.

  On the higher levels feature hazards and bonus items, and you can score some big points if you hit them in the right sequence. Most targets are cutesy-looking aliens, and a big yellow arrow shows which one you must bounce at next.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b43eb810590e836d2263f2383bbb0dd614543823.png
  - https://cdn.dos.zone/original/2X/4/481a2df043144c1dbd156b218c835fffa9b9ca06.png
---
