---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/heretic.jsdos
layout: page.njk
ogDescription: Heretic is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Heretic on
  mobile. On DOS.Zone Heretic available to play for free without registration.
permalink: /heretic-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/ea729bf48d9f3deb50675783fb4fcc69f4be68ae.png
- https://cdn.dos.zone/original/2X/b/b1037274f99d06f9deebf608fbc8561a9ccb0697.png
shortTitle: Heretic
title: Heretic | 🕹️Play Heretic Online | DOS game in browser

---
