---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/heroquest.jsdos
layout: page.njk
ogDescription: HeroQuest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in HeroQuest
  on mobile. On DOS.Zone HeroQuest available to play for free without registration.
permalink: /heroquest-1991/
screenshots:
- https://cdn.dos.zone/original/2X/8/88ea72016dd9be99a26a568a9e9117c58bf9b7cd.png
- https://cdn.dos.zone/original/2X/2/27f69f13c21fcfbb96b3aee9ca7582508eda0761.gif
shortTitle: HeroQuest
title: HeroQuest | 🕹️Play HeroQuest Online | DOS game in browser

---
