---
bundles:
- title: Heroes of Might and Magic II for Android
  type: android
  url: https://play.google.com/store/apps/details?id=pfs.wwwplayer.homm2
- lang: ENG
  mobile: true
  title: ''
  type: datafile
  url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhomm_2.jsdos
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/homm_2.jsdos
layout: page.njk
ogDescription: Heroes Of Might And Magic II is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Heroes Of Might And Magic II on mobile. On DOS.Zone Heroes Of Might And Magic
  II available to play for free without registration.
permalink: /heroes-of-might-and-magic-ii/
screenshots:
- https://cdn.dos.zone/original/2X/c/cbccfcf1214d8b26229517708f7da9b4a07a9e31.png
- https://cdn.dos.zone/original/2X/c/c194618debc3a017ae144a8b49812d4a365cbf82.png
shortTitle: Heroes Of Might And Magic II
title: Heroes Of Might And Magic II | 🕹️Play Heroes Of Might And Magic II Online |
  DOS game in browser
youtube: qTUWg9-cEBs

---
