---
layout: page.njk
title: Heroes | 🕹️Play Heroes Online | Download js-dos bundle
ogDescription: Want to Play Heroes? 🕹 On Dos Zone you can play Heroes OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Heroes
permalink: /heroes-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fheroes_.jsdos
description: "Heroes is a free game released under the GNU licence. It is a 2D
  top-down action game, strongly inspired by Nibbles, the movie Tron and
  futuristic racing combat. The player controls a vehicle (or rather ball with
  deadly 'tail'), collects power-ups and tries to eliminate all opponents. The
  game has five modes: Quest, Death Match, Kill'em All, Time Cash and Color."
screenshots: []
---
