---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/heroes_.jsdos
layout: page.njk
ogDescription: Heroes is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Heroes on mobile.
  On DOS.Zone Heroes available to play for free without registration.
permalink: /heroes-1998/
screenshots: []
shortTitle: Heroes
title: Heroes | 🕹️Play Heroes Online | DOS game in browser

---
