---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hex___.jsdos
layout: page.njk
ogDescription: Hex is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in Hex on mobile. On
  DOS.Zone Hex available to play for free without registration.
permalink: /hex-1983/
screenshots:
- https://cdn.dos.zone/original/2X/9/926cbcd9729c6602dc15c189108f1a4b1058fed6.png
- https://cdn.dos.zone/original/2X/e/edd096caa3109d2fbef1480f2a3d0972df282cea.png
shortTitle: Hex
title: Hex | 🕹️Play Hex Online | DOS game in browser

---
