---
layout: page.njk
title: Hill Street Blues | 🕹️Play Hill Street Blues Online | Download js-dos bundle
ogDescription: Want to Play Hill Street Blues? 🕹 On Dos Zone you can play Hill
  Street Blues OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hill Street Blues
permalink: /hill-street-blues-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhill-street-blues.jsdos
description: Hill Street Blues is a top-down action / strategy mix. “Let’s be
  careful out there!” Based on the ‘80s TV drama series Hill Street Blues, this
  game puts you in the role of Captain Furillo of the Hill Street police
  department. Crime rates are soaring in the precinct, and it’s up to your team
  of nine officers (all well-known from the series and with digitized portraits)
  to keep the streets safe. Your officers move on foot or by car on a 2D
  top-down map of the city, complete with real-time traffic. True to the series,
  each day starts with a roll call from Sgt. Esterhaus. Once on duty, listen to
  radio operator A.J. Hill report crimes every few minutes. Deploy officers to
  the scene, help the victim and call an ambulance or coroner; next, identify
  and find the suspect. Some criminals may flee, others even shoot at you. Give
  chase or open fire if necessary. When the bad guy is arrested, a court trial
  may follow. Hill Street Blues is controlled entirely with the mouse via a set
  of icons – that’s everything but intuitive, especially when directing a single
  officer through the streets. Since there will soon be multiple crimes all over
  the city, the challenge is to co-ordinate multiple officers simultaneously and
  keep track of cases and suspects. If your success rate is high enough, you
  will ultimately be promoted to chief of police.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3741a5971702a1afa12a1a7305548c7e0429c9d7.gif
  - https://cdn.dos.zone/original/2X/8/86644214913a8438e561e3d0151d9522d023ca5e.jpeg
---
