---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hogbear.jsdos
layout: page.njk
ogDescription: Hogbear is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Hogbear on
  mobile. On DOS.Zone Hogbear available to play for free without registration.
permalink: /hogbear-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/95a988868eef9bdc2a69c3e48953f27c226a946f.png
- https://cdn.dos.zone/original/2X/c/cf8cd96184debab88be3f7fca025f231a1743338.png
shortTitle: Hogbear
title: Hogbear | 🕹️Play Hogbear Online | DOS game in browser

---
