---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hole-in-one-miniature-golf.jsdos
layout: page.njk
ogDescription: Hole-In-One Miniature Golf is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Hole-In-One Miniature Golf on mobile. On DOS.Zone Hole-In-One Miniature Golf
  available to play for free without registration.
permalink: /hole-in-one-miniature-golf-1989/
screenshots:
- https://cdn.dos.zone/original/2X/4/45ea776b6956ef3c2eca67122194a629ed51cb3b.png
- https://cdn.dos.zone/original/2X/9/94298cc50a93bf5423d5e2da4833aa9ecfe94ca.png
shortTitle: Hole-In-One Miniature Golf
title: Hole-In-One Miniature Golf | 🕹️Play Hole-In-One Miniature Golf Online | DOS
  game in browser

---
