---
layout: page.njk
title: Hole-In-One Miniature Golf Deluxe! | 🕹️Play Hole-In-One Miniature Golf
  Deluxe! Online | Download js-dos bundle
ogDescription: Want to Play Hole-In-One Miniature Golf Deluxe!? 🕹 On Dos Zone
  you can play Hole-In-One Miniature Golf Deluxe! OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Hole-In-One Miniature Golf Deluxe!
permalink: /hole-in-one-miniature-golf-deluxe-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhole-in-one-miniature-golf-deluxe.jsdos
description: Re-released version of Hole-In-One Miniature Golf with 3 more
  courses.  (8 in total. 144 holes).
screenshots: []
---
