---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hollywood-squares.jsdos
layout: page.njk
ogDescription: Hollywood Squares is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Hollywood Squares on mobile. On DOS.Zone Hollywood Squares available to play for
  free without registration.
permalink: /hollywood-squares-feb-1989/
screenshots:
- https://cdn.dos.zone/original/2X/c/c94817a880007453cffe87595691acf7be91512f.gif
- https://cdn.dos.zone/original/2X/3/3d66f8902aa92c7356da1c97d075b5abd54f2cd1.gif
shortTitle: Hollywood Squares
title: Hollywood Squares | 🕹️Play Hollywood Squares Online | DOS game in browser

---
