---
layout: page.njk
title: Hollywood Squares | 🕹️Play Hollywood Squares Online | Download js-dos bundle
ogDescription: Want to Play Hollywood Squares? 🕹 On Dos Zone you can play
  Hollywood Squares OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hollywood Squares
permalink: /hollywood-squares-feb-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhollywood-squares.jsdos
description: This is a GameTek conversion of the '80s version of the game show
  Hollywood Squares.  Two contestants play a version of tic-tac-toe, with
  "celebrities" filling in for the squares. The selected celeb is asked a
  question, answers it, and the contestant must agree or disagree with their
  answer. A correct guess captures that square.  After three games, the winning
  contestant picks a key and a car out of two separate pools, hoping to match
  the two up and win the car.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c94817a880007453cffe87595691acf7be91512f.gif
  - https://cdn.dos.zone/original/2X/3/3d66f8902aa92c7356da1c97d075b5abd54f2cd1.gif
---
