---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hong-kong-mahjong-pro.jsdos
layout: page.njk
ogDescription: Hong Kong Mahjong Pro is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Hong Kong Mahjong Pro on mobile. On DOS.Zone Hong Kong Mahjong Pro available
  to play for free without registration.
permalink: /hong-kong-mahjong-pro-1992/
screenshots:
- https://cdn.dos.zone/original/2X/2/2b81e984210c36a3980ebea371634f79f322f43f.png
- https://cdn.dos.zone/original/2X/e/e89a5df83cf2641da4104ba860caf451717ceed7.png
shortTitle: Hong Kong Mahjong Pro
title: Hong Kong Mahjong Pro | 🕹️Play Hong Kong Mahjong Pro Online | DOS game in browser

---
