---
layout: page.njk
title: Hong Kong Mahjong Pro | 🕹️Play Hong Kong Mahjong Pro Online | Download
  js-dos bundle
ogDescription: Want to Play Hong Kong Mahjong Pro? 🕹 On Dos Zone you can play
  Hong Kong Mahjong Pro OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hong Kong Mahjong Pro
permalink: /hong-kong-mahjong-pro-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhong-kong-mahjong-pro.jsdos
description: This game allows the player to play the ancient game of Mahjong
  against three computer players.  Unlike many other games with Mahjong in the
  title, this game does not consists of picking matching tiles off of a pile of
  tiles to see if you can remove them all.  Instead, it plays similarly to the
  card game Gin where you must accumulate straights or runs to win.  However,
  Mahjong has its own special rules involving the special tiles used to play the
  game. The game has a number of pre-programmed opponents, each with their own
  portrait, voice, and play style.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2b81e984210c36a3980ebea371634f79f322f43f.png
  - https://cdn.dos.zone/original/2X/e/e89a5df83cf2641da4104ba860caf451717ceed7.png
---
