---
layout: page.njk
title: Hong Kong Mahjong | 🕹️Play Hong Kong Mahjong Online | Download js-dos bundle
ogDescription: Want to Play Hong Kong Mahjong? 🕹 On Dos Zone you can play Hong
  Kong Mahjong OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hong Kong Mahjong
permalink: /hong-kong-mahjong-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhong-kong-mahjong.jsdos
description: >-
  Hong Kong Mahjong is a single player, shareware, mahjong game that can be
  played either with the keyboard or with the mouse. As with the later game from
  Nine Dragons Software, Hong Kong Mahjong Pro, this game plays similarly to the
  card game Gin where you must accumulate straights or runs to win. 

  There is an in-game help text which explains the game and the scoring in detail.
screenshots:
  - https://cdn.dos.zone/original/2X/5/571456ac369963515d152e7e82c2989946009593.png
  - https://cdn.dos.zone/original/2X/9/9192928de96db2d55e977141cd3dfc048048b269.png
---
