---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hooray-for-henrietta.jsdos
layout: page.njk
ogDescription: Hooray for Henrietta is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Hooray for Henrietta on mobile. On DOS.Zone Hooray for Henrietta available to
  play for free without registration.
permalink: /hooray-for-henrietta-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/55baa34155c8e9ec40192e41756a9c8e6b4a0fd9.png
- https://cdn.dos.zone/original/2X/5/570f43b2085aae166b6b2ee305790cce56b52f25.png
shortTitle: Hooray for Henrietta
title: Hooray for Henrietta | 🕹️Play Hooray for Henrietta Online | DOS game in browser

---
