---
layout: page.njk
title: Hooray for Henrietta | 🕹️Play Hooray for Henrietta Online | Download
  js-dos bundle
ogDescription: Want to Play Hooray for Henrietta? 🕹 On Dos Zone you can play
  Hooray for Henrietta OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hooray for Henrietta
permalink: /hooray-for-henrietta-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhooray-for-henrietta.jsdos
description: "'Hooray for Henrietta' is one of a series of educational titles
  from Scetlander, originally created by T.R. Tulloch and dedicated to teaching
  math in a fun way to children aged 5 to 12. A girl named Henrietta is our
  protagonist: she is going to get married to her boyfriend guy with a
  suspicious name Hopeless Harry, but that mischievous bird, John the Parrot,
  has stolen Henry's coat, boots, hat and trousers, and even kidnapped the groom
  himself. In order to save the wedding, we have to help Henrietta to recover
  the four pieces of clothes and free Henry. We are doing that by solving math
  equations (the options provide a huge variety of complexity levels, as well of
  the possibility to choose between addition, subtraction, multiplication and
  division - or all of them) as quickly as possible - or the evil parrot will
  cover Henry in cold custard! The game was later republished with 256 colors
  and sound, and then on CD-ROM."
screenshots:
  - https://cdn.dos.zone/original/2X/5/55baa34155c8e9ec40192e41756a9c8e6b4a0fd9.png
  - https://cdn.dos.zone/original/2X/5/570f43b2085aae166b6b2ee305790cce56b52f25.png
---
