---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hoosier-city.jsdos
layout: page.njk
ogDescription: Hoosier City is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Hoosier City
  on mobile. On DOS.Zone Hoosier City available to play for free without registration.
permalink: /hoosier-city-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/f43a60534d587e855c2a9c1359b91880994dbef0.png
- https://cdn.dos.zone/original/2X/d/d90aaaafc4d3b377dbf742320169b84957392013.png
shortTitle: Hoosier City
title: Hoosier City | 🕹️Play Hoosier City Online | DOS game in browser

---
