---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hopper_.jsdos
layout: page.njk
ogDescription: Hopper is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Hopper on mobile.
  On DOS.Zone Hopper available to play for free without registration.
permalink: /hopper-1985/
screenshots:
- https://cdn.dos.zone/original/2X/b/b235012fa09f789ccf7d29312da9e6e6f9470dee.png
- https://cdn.dos.zone/original/2X/e/ec6dfc3e0da462082095df1e6197089de0f12a96.png
shortTitle: Hopper
title: Hopper | 🕹️Play Hopper Online | DOS game in browser

---
