---
layout: page.njk
title: Hopper | 🕹️Play Hopper Online | Download js-dos bundle
ogDescription: Want to Play Hopper? 🕹 On Dos Zone you can play Hopper OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Hopper
permalink: /hopper-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhopper_.jsdos
description: An unofficial port of the commercial game Hopper, which existed on
  other home computer platforms, itself a clone of the popular arcade hit
  Frogger.  Lead your frog safely across a crowded city street with five lanes
  of traffic, avoiding the cars that come whizzing by - then help it cross the
  river, hopping onto logs and floating leaves to reach its home at the top. To
  tweak the difficulty, you may adjust the speed setting and select one of four
  skill levels.  Higher levels feature busier traffic and a more treacherous
  river, but compensate by boosting your score.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b235012fa09f789ccf7d29312da9e6e6f9470dee.png
  - https://cdn.dos.zone/original/2X/e/ec6dfc3e0da462082095df1e6197089de0f12a96.png
---
