---
layout: page.njk
title: Hoser | 🕹️Play Hoser Online | Download js-dos bundle
ogDescription: Want to Play Hoser? 🕹 On Dos Zone you can play Hoser OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Hoser
permalink: /hoser-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhoser.jsdos
description: "An adaptation of Snake where your multi-segmented character
  represents a garden hose: move it about in four directions across the
  playfield, collect targets to proceed, and make sure to avoid your own tail
  and other barriers. All targets (\"faucets\") shown on screen must be picked
  up before the timer runs out.  In earlier levels you only get one at a time,
  but this later increases to two and three; if you take too long, a new set
  appears and your hose grows longer as punishment.  Beat the clock three times
  to proceed to the next \"yard\", with an extra life (\"spare hose\") for your
  trouble.  Later levels also set the \"pressure valve\" higher, which increases
  the timer's speed. Two different level sets are included: in the \"amateur\"
  levels, movement controls behave as you'd expect, and you turn at right
  angles; the \"professional\" levels feature a pseudo-isometric scheme, where
  the vertical axis becomes diagonal, to make things trickier."
screenshots:
  - https://cdn.dos.zone/original/2X/6/687d521cfb4a77b560881dd96ddcf3bed184cb34.png
  - https://cdn.dos.zone/original/2X/5/567ff181c9bd9f372583a8cbea0697ffaf066a7b.png
---
