---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hoser.jsdos
layout: page.njk
ogDescription: Hoser is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Hoser on mobile.
  On DOS.Zone Hoser available to play for free without registration.
permalink: /hoser-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/687d521cfb4a77b560881dd96ddcf3bed184cb34.png
- https://cdn.dos.zone/original/2X/5/567ff181c9bd9f372583a8cbea0697ffaf066a7b.png
shortTitle: Hoser
title: Hoser | 🕹️Play Hoser Online | DOS game in browser

---
