---
layout: page.njk
title: How-Two Build a Robot! | 🕹️Play How-Two Build a Robot! Online | Download
  js-dos bundle
ogDescription: Want to Play How-Two Build a Robot!? 🕹 On Dos Zone you can play
  How-Two Build a Robot! OR donwload js-dos bundle for free. Start playing now!
shortTitle: How-Two Build a Robot!
permalink: /how-two-build-a-robot-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhow-two-build-a-robot.jsdos
description: How-Two Build A Robot! is a single player, shareware, platform game
  in which the player must collect all the parts needed to build a robot and
  take them to the laboratory where they are assembled. Naturally there
  obstacles to over come, in this case there are gates lifts and barriers to
  navigate around, switches to switch,  a stock control robot that takes
  components to its stock room,  and the whole game must be completed before the
  supply of battery power runs out. The game is entirely keyboard controlled and
  has basic sound effects such as bleeps and whistles.
screenshots:
  - https://cdn.dos.zone/original/2X/7/770a1d06eab98ea99755dc4ee6a3183e2e158e86.png
  - https://cdn.dos.zone/original/2X/f/f57cfb0a0ba34d4f7ba67ea1ca1244f745b25c72.png
---
