---
layout: page.njk
title: How to Weigh an Elephant | 🕹️Play How to Weigh an Elephant Online |
  Download js-dos bundle
ogDescription: Want to Play How to Weigh an Elephant? 🕹 On Dos Zone you can
  play How to Weigh an Elephant OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: How to Weigh an Elephant
permalink: /how-to-weigh-an-elephant-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhow-to-weigh-an-elephant.jsdos
description: This is a very short and simple EGA game that helps children
  estimate what animals are bigger or smaller than each other.  A series of zoo
  animals are shown, two per screen, and the question of which is bigger or
  smaller is given and the player presses the 1 or 2 keys and gets feedback on
  correctness.  After 10 screens of "weighed" animals, the player is given
  his/her total score.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a00a88a85201eea8be0a355ad5aeb07d6fa4f3ab.png
  - https://cdn.dos.zone/original/2X/9/923f669460874961e6ad1d712931dd23de443d5c.png
---
