---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/huckleberry-hound-in-hollywood-capers.jsdos
layout: page.njk
ogDescription: Huckleberry Hound in Hollywood Capers is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Huckleberry Hound in Hollywood Capers on mobile. On DOS.Zone Huckleberry
  Hound in Hollywood Capers available to play for free without registration.
permalink: /huckleberry-hound-in-hollywood-capers-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/49dadae824c0fda05c146b71b69f1f58b83f4c99.gif
- https://cdn.dos.zone/original/2X/e/e36c4582d76720b7a342dc4fc05beadfba587139.gif
shortTitle: Huckleberry Hound in Hollywood Capers
title: Huckleberry Hound in Hollywood Capers | 🕹️Play Huckleberry Hound in Hollywood
  Capers Online | DOS game in browser

---
