---
layout: page.njk
title: Huj Hujowi Nie Równy | 🕹️Play Huj Hujowi Nie Równy Online | Download
  js-dos bundle
ogDescription: Want to Play Huj Hujowi Nie Równy? 🕹 On Dos Zone you can play
  Huj Hujowi Nie Równy OR donwload js-dos bundle for free. Start playing now!
shortTitle: Huj Hujowi Nie Równy
permalink: /huj-hujowi-nie-rowny-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhuj-hujowi-nie-rwny.jsdos
description: "That bastion of good taste, the Hooy-Program team, lives up to its
  name by serving up an action platformer that's positively obsessed with
  disembodied penises.  However, while games like Astrotit may have set a
  precedent for tackling such an archetypal subject, here the male genitals do
  not assume the protagonist role; rather, they serve as collectibles - and
  enemies! HHNR takes you through a series of surrealistic, side-scrolling
  stages with ZX Spectrum-inspired graphics, where the objective is to pick up
  all collectible items.  These range from the aforementioned sexual appendages
  to Spectrum computers, boxes marked \"LSD\", and other such goodies.  Other
  objects are damaging, while some restore health: the only way to tell them
  apart is through trial and error.  To complicate matters, certain enemies will
  home in and pester you until they're shot at, including the flying syringe and
  (you guessed it) more penises."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c4ae127f1467e7c377cdf41572293dcf39da223d.png
  - https://cdn.dos.zone/original/2X/8/870c1257da00f4a766fd3443bede44395ac9c3d2.png
---
