---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/humbug.jsdos
layout: page.njk
ogDescription: Humbug is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Humbug on mobile.
  On DOS.Zone Humbug available to play for free without registration.
permalink: /humbug-1990/
screenshots:
- https://cdn.dos.zone/original/2X/d/d8c19d272c4587f206447e52db264bd3ce8624b6.png
- https://cdn.dos.zone/original/2X/8/85251889aba859d56c1dd19c9a15a536f5313ecf.png
shortTitle: Humbug
title: Humbug | 🕹️Play Humbug Online | DOS game in browser

---
