---
layout: page.njk
title: Hunchback 96 | 🕹️Play Hunchback 96 Online | Download js-dos bundle
ogDescription: Want to Play Hunchback 96? 🕹 On Dos Zone you can play Hunchback
  96 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hunchback 96
permalink: /hunchback-96-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhunchback-96.jsdos
description: Hunchback 96 is a single player, freeware, side-scrolling platform
  game inspired by Ocean Software's 1983 title, Hunchback. The player controls
  the eponymous Hunchback who races through the game to rescue his beloved
  Esmeralda. Along the way he must dodge fireballs, leap flaming pits, avoid
  angry birds - and that's just in the first two levels! Though there are bad
  guys in the game this is not a fighting game, Hunchback can move left / right
  and he can jump and that's it. A level is completed by travelling as far right
  as it is possible to go, exiting the screen completes the level. The player
  starts with three lives, a new life is awarded after four levels have been
  completed. The game has music and sound effects, it is entirely keyboard
  controlled. While Hunchback 96 has the same playing mechanics as its 1983
  namesake, it is not a remake, but rather an original product that pays homage
  to the classic titles from the eighties.
screenshots:
  - https://cdn.dos.zone/original/2X/5/53dd06f824f022e01394e001d5c1b40389969acd.jpeg
  - https://cdn.dos.zone/original/2X/b/befb07906b40f6e4d865f9242022e90a97f19261.jpeg
---
