---
layout: page.njk
title: Hurdles | 🕹️Play Hurdles Online | Download js-dos bundle
ogDescription: Want to Play Hurdles? 🕹 On Dos Zone you can play Hurdles OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Hurdles
permalink: /hurdles-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhurdles.jsdos
description: Hurdles is a single player side-scrolling game in which the player
  flies a space ship along a narrow corridor. Along the corridor are bonus
  points with a value of +1000 or -1000. The objective is to build up a high
  score by collecting all the positive scores. As the player progresses through
  the levels the they get harder with obstacles, the eponymous hurdles, which
  must be avoided while collecting points. There is no shooting in this game.
  The only controls are those which move the space ship up and down the screen.
  A trainer level and three game levels are available in the shareware version
  of this game with more promised on registration.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f59dc945ebd52e02df6e04135708b5cdc55c094.png
  - https://cdn.dos.zone/original/2X/2/2d82fe2b241840cda853f8a100757e0c55c80c21.png
---
