---
layout: page.njk
title: Hypercycles | 🕹️Play Hypercycles Online | Download js-dos bundle
ogDescription: Want to Play Hypercycles? 🕹 On Dos Zone you can play Hypercycles
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Hypercycles
permalink: /hypercycles-jun-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhypercycles.jsdos
description: Hypercycles is a single-player, shareware, first-person action game
  with a plot that is reminiscent of the film Tron. The evil Dr. Devaro controls
  a place known as 'The Grid', he lures users into this realm to play his
  malicious games. In these games the player must ride their hypercycle and pit
  themselves against the doctor's legions of riders. In each maze-like arena
  there are rings that must be collected, these are the keys that will open the
  door to the next level. There are also missiles and other power-ups. The game
  has music, sound effects and is entirely keyboard controlled. The full game
  has thirty levels.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9597ab7be51e806e4075dfe379bb2dfacc8a28af.png
  - https://cdn.dos.zone/original/2X/5/56842be7cf92324f35f617587bb76fbd19dc1df0.png
---
