---
layout: page.njk
title: I Can't Believe It's Not... Bomberman | 🕹️Play I Can't Believe It's
  Not... Bomberman Online | Download js-dos bundle
ogDescription: Want to Play I Can't Believe It's Not... Bomberman? 🕹 On Dos
  Zone you can play I Can't Believe It's Not... Bomberman OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: I Can't Believe It's Not... Bomberman
permalink: /i-cant-believe-its-not-bomberman-jun-26-1999/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fi-cant-believe-its-not-bomberman.jsdos
description: >-
  I Can't Believe It's Not Bomberman is Dodgy Posse's tribute to Hudson Soft's
  classic game Bomberman. The game is played via the keyboard and has two game
  modes, Adventure mode and Battle Mode, and three different sizes of game area.

  In Battle mode the player plays against a computer controlled bomberman, in Adventure mode the player is pitted against large numbers of fast moving baddies over a preset number of maps. In both types of game the objective is the same, clear the map of baddies in order to proceed.

  Some of the blocks that separate the player from the baddies will reveal power ups such as extra speed, remote bombs and a 'freeze all the bad guys' power up.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1c3e9869e7d3bd62d2c65237cfb1ee5b90b39106.jpeg
  - https://cdn.dos.zone/original/2X/2/24f1d21976dc9cd3803c17e0493e7e88f5efd00c.jpeg
---
