---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ian-bothams-cricket.jsdos
layout: page.njk
ogDescription: Ian Botham's Cricket is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Ian Botham's Cricket on mobile. On DOS.Zone Ian Botham's Cricket available to
  play for free without registration.
permalink: /ian-bothams-cricket-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c4d37f57386908390ae881532c42108f29732ec4.png
- https://cdn.dos.zone/original/2X/e/e6921c4c95bb54e651d6789ebc9c30e394ab9627.png
shortTitle: Ian Botham's Cricket
title: Ian Botham's Cricket | 🕹️Play Ian Botham's Cricket Online | DOS game in browser

---
