---
layout: page.njk
title: IAS | 🕹️Play IAS Online | Download js-dos bundle
ogDescription: Want to Play IAS? 🕹 On Dos Zone you can play IAS OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: IAS
permalink: /ias-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fias.jsdos
description: IAS is a sci-fi horizontally scrolling shoot-em-up. The player
  controls a fighter craft, defending a human space colony against the onslaught
  of enemy ships and mechas. The gameplay is similar to most other games of the
  genre and involves shooting or avoiding the incessantly advancing enemy craft
  while collecting power-ups on the way. The latter are distinguished by their
  color and change the player character's weapons, including laser fire,
  missiles, a slow yet powerful charged energy shot, etc. The secondary weapon
  has to be activated with a separate button and functions somewhat differently
  than in other comparable games, specifically targeting enemy missiles. The
  player character's health is measured by an energy bar; once it is depleted,
  the game is over.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8733888db3db7dff2d002c228668f0380dc5804f.png
  - https://cdn.dos.zone/original/2X/8/8809e3e3448a7b2fbfc6b622b80caf45202cefae.png
---
