---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ias.jsdos
layout: page.njk
ogDescription: IAS is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in IAS on mobile. On
  DOS.Zone IAS available to play for free without registration.
permalink: /ias-1994/
screenshots:
- https://cdn.dos.zone/original/2X/8/8733888db3db7dff2d002c228668f0380dc5804f.png
- https://cdn.dos.zone/original/2X/8/8809e3e3448a7b2fbfc6b622b80caf45202cefae.png
shortTitle: IAS
title: IAS | 🕹️Play IAS Online | DOS game in browser

---
