---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ibm-pc-wheel-of-fortune.jsdos
layout: page.njk
ogDescription: IBM PC Wheel of Fortune is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in IBM PC Wheel of Fortune on mobile. On DOS.Zone IBM PC Wheel of Fortune available
  to play for free without registration.
permalink: /ibm-pc-wheel-of-fortune-1984/
screenshots:
- https://cdn.dos.zone/original/2X/8/8e7721c08e7bf41f919b38386b6b46e110c42f32.png
- https://cdn.dos.zone/original/2X/9/972359340220c2ed3d72917261f310bcbda71950.png
shortTitle: IBM PC Wheel of Fortune
title: IBM PC Wheel of Fortune | 🕹️Play IBM PC Wheel of Fortune Online | DOS game
  in browser

---
