---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/icy-metal.jsdos
layout: page.njk
ogDescription: Icy Metal is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Icy Metal
  on mobile. On DOS.Zone Icy Metal available to play for free without registration.
permalink: /icy-metal-aug-30-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/ca22b78433c823a931c1cfbb8d82ae736cbc8d92.png
- https://cdn.dos.zone/original/2X/6/63ba4b4339dbfd6bad2ed5d258431160ae725a8a.png
shortTitle: Icy Metal
title: Icy Metal | 🕹️Play Icy Metal Online | DOS game in browser

---
