---
layout: page.njk
title: If It Moves, Shoot It! | 🕹️Play If It Moves, Shoot It! Online | Download
  js-dos bundle
ogDescription: Want to Play If It Moves, Shoot It!? 🕹 On Dos Zone you can play
  If It Moves, Shoot It! OR donwload js-dos bundle for free. Start playing now!
shortTitle: If It Moves, Shoot It!
permalink: /if-it-moves-shoot-it-nov-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fif-it-moves-shoot-it.jsdos
description: "It is up to you to combat the Korts and free the lost settlers in
  this classic-style top-down shooter.  Newer and more advanced weapons are
  available the more waves of aliens you destroy.  And remember the advice of
  your forefathers:  If it moves, shoot it!"
screenshots:
  - https://cdn.dos.zone/original/2X/1/10a3a600d6bb12168d0bc33bb5b78834c48d0560.png
  - https://cdn.dos.zone/original/2X/3/389be7c9db38fc8773a63d5c548937eadc1037e4.png
---
