---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/if-it-moves-shoot-it.jsdos
layout: page.njk
ogDescription: If It Moves, Shoot It! is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in If It Moves, Shoot It! on mobile. On DOS.Zone If It Moves, Shoot It! available
  to play for free without registration.
permalink: /if-it-moves-shoot-it-nov-1989/
screenshots:
- https://cdn.dos.zone/original/2X/1/10a3a600d6bb12168d0bc33bb5b78834c48d0560.png
- https://cdn.dos.zone/original/2X/3/389be7c9db38fc8773a63d5c548937eadc1037e4.png
shortTitle: If It Moves, Shoot It!
title: If It Moves, Shoot It! | 🕹️Play If It Moves, Shoot It! Online | DOS game in
  browser

---
