---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ikari-iii-the-rescue.jsdos
layout: page.njk
ogDescription: 'Ikari III: The Rescue is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Ikari III: The Rescue on mobile. On DOS.Zone Ikari III: The Rescue available
  to play for free without registration.'
permalink: /ikari-iii-the-rescue-1990/
screenshots:
- https://cdn.dos.zone/original/2X/f/f8a41244e62622229f7f1516387f7da45ece1215.gif
- https://cdn.dos.zone/original/2X/7/7cdbed3ebe0bf1a6b96624d8337b4a0b9d6ab63e.gif
shortTitle: 'Ikari III: The Rescue'
title: 'Ikari III: The Rescue | 🕹️Play Ikari III: The Rescue Online | DOS game in
  browser'

---
