---
layout: page.njk
title: "Ikari III: The Rescue | 🕹️Play Ikari III: The Rescue Online | Download
  js-dos bundle"
ogDescription: "Want to Play Ikari III: The Rescue? 🕹 On Dos Zone you can play
  Ikari III: The Rescue OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Ikari III: The Rescue"
permalink: /ikari-iii-the-rescue-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fikari-iii-the-rescue.jsdos
description: The presidential candidate's daughter has been kidnapped! It is
  your job to get past enemy lines and rescue her. This is the third game in the
  Ikari Warriors series, and features similar arcade/action gameplay. The screen
  is a top down view which scrolls vertically, with numerous bad guys to defeat.
  You start the game with just your fists, and as the levels progress you can
  find weapons and other objects to help you out.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f8a41244e62622229f7f1516387f7da45ece1215.gif
  - https://cdn.dos.zone/original/2X/7/7cdbed3ebe0bf1a6b96624d8337b4a0b9d6ab63e.gif
---
