---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/illusion-blaze.jsdos
layout: page.njk
ogDescription: Illusion Blaze is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Illusion Blaze
  on mobile. On DOS.Zone Illusion Blaze available to play for free without registration.
permalink: /illusion-blaze-nov-1994/
screenshots:
- https://cdn.dos.zone/original/2X/5/5ad6d4dad5aa912e8b45f0294b0f5be610545775.png
- https://cdn.dos.zone/original/2X/9/95a1a1766a317077823e574682b0fa08c1935ddc.png
shortTitle: Illusion Blaze
title: Illusion Blaze | 🕹️Play Illusion Blaze Online | DOS game in browser

---
