---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/in-extremis.jsdos
layout: page.njk
ogDescription: In Extremis is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in In Extremis
  on mobile. On DOS.Zone In Extremis available to play for free without registration.
permalink: /in-extremis-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/44528a6b64a80649d4a2912cea922a2016639b3d.png
- https://cdn.dos.zone/original/2X/d/d0c0aaf6fae3dbac771c57d1e46187cc458f0a00.png
shortTitle: In Extremis
title: In Extremis | 🕹️Play In Extremis Online | DOS game in browser

---
