---
layout: page.njk
title: In Extremis | 🕹️Play In Extremis Online | Download js-dos bundle
ogDescription: Want to Play In Extremis? 🕹 On Dos Zone you can play In Extremis
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: In Extremis
permalink: /in-extremis-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fin-extremis.jsdos
description: In Extremis is a science-fiction First Person Shooter (FPS) in
  which you play as a crashed space pilot stranded aboard a derelict vessel. To
  escape, you must collect key cards and insert them into terminals. Valid cards
  will give you a code for the current level. That code will grant you access to
  lockers containing weapons and equipment. A second set of key cards opens up
  elevators, allowing you to travel to deeper into the ship's 29 levels.
  Technically, the game is similar to graphical updates of the Wolfenstein 3-D
  engine (such as used in the Blake Stone series), and features textured walls
  along with optional floor and ceiling textures. Faked lighting effects (your
  screen shifts to a different colour as you pass under coloured lights) also
  appear. Architecture is still limited to 90 degree angles and heavy on mazes.
  Aside from finding new weapons and blasting aliens, you have a limited
  inventory of pickups to manage. Your suit's air tanks are constantly
  depleting, and must be replaced with fresh tanks before they run dry. Your
  suit contains a motion tracker and nightvision, both which drain the same
  replaceable batteries. Syringes can be collected and used to restore your
  health. Finally, alien nests appear on some levels and endlessly spawn new
  enemies. Bombs can be collected and deployed to destroy these.
screenshots:
  - https://cdn.dos.zone/original/2X/4/44528a6b64a80649d4a2912cea922a2016639b3d.png
  - https://cdn.dos.zone/original/2X/d/d0c0aaf6fae3dbac771c57d1e46187cc458f0a00.png
---
