---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/inca.jsdos
layout: page.njk
ogDescription: Inca is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Inca on mobile.
  On DOS.Zone Inca available to play for free without registration.
permalink: /inca-1992/
screenshots:
- https://cdn.dos.zone/original/2X/5/5b38b36a9f373e1cf2b42606c8eaeb38794586d7.gif
- https://cdn.dos.zone/original/2X/8/829c54e9dea14f76149588077ee3e96b397d3266.png
shortTitle: Inca
title: Inca | 🕹️Play Inca Online | DOS game in browser

---
