---
layout: page.njk
title: Indecent | 🕹️Play Indecent Online | Download js-dos bundle
ogDescription: Want to Play Indecent? 🕹 On Dos Zone you can play Indecent OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Indecent
permalink: /indecent-mar-17-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Findecent.jsdos
description: Indecent packs an arcade flying game with 256 different levels,
  parallax scrolling, and procedurally generated terrain, into the rather tight
  space of 256 bytes of machine code.  The idea is to get your starship safely
  across an increasingly dangerous environment, plagued by floating junk (yellow
  dots) and by cave walls that gradually start closing in the further you
  travel.  The white, pixelly ship can only be moved up or down to avoid these
  obstacles - any collision spells instantaneous doom; a progress bar at the
  bottom tells you how much of the level you've traveled.  Various levels may be
  loaded by specifying different ASCII characters as a command-line parameter.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7ee6d70cbd058ade30ce6124e94403f0bbd6cf4a.png
  - https://cdn.dos.zone/original/2X/6/63e371c18e2226ecbebc20dd6e22fd1dec1290b9.png
---
