---
layout: page.njk
title: Indenture | 🕹️Play Indenture Online | Download js-dos bundle
ogDescription: Want to Play Indenture? 🕹 On Dos Zone you can play Indenture OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Indenture
permalink: /indenture-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Findenture.jsdos
description: Indenture is a variant of the Atari 2600 game Adventure. Your goal
  is to return the golden chalice to the yellow castle. In your way are locked
  castle gates, a bat, and several dragons who would like nothing better than to
  eat you alive. Just like in Adventure you start out at the yellow castle gates
  and you must navigate your way around the game's maze like map in search of
  the chalice. The player character is represented by a yellow dot. Gameplay and
  visual style in the game are rather simple. You control your character via the
  arrow keys and pick up objects like keys, bridges, and the sword by walking
  over them. However you can only carry one object at a time. The author has
  added two more game variations to the older game's three. Game 4 has 300
  rooms, if you can discover the secret to unlocking them.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3b8f2839faa381e99d9cc558aa3e63e6e2d356ea.png
  - https://cdn.dos.zone/original/2X/5/5b8628363dd925756fbff3acb9191638f7c3633b.png
---
