---
layout: page.njk
title: "Indianapolis 500: The Simulation | 🕹️Play Indianapolis 500: The
  Simulation Online | Download js-dos bundle"
ogDescription: "Want to Play Indianapolis 500: The Simulation? 🕹 On Dos Zone
  you can play Indianapolis 500: The Simulation OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Indianapolis 500: The Simulation"
permalink: /indianapolis-500-the-simulation-dec-1989/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F4%2F48ab323233babd8c55352031214c06265da2aea0.jsdos
description: The famous Indianapolis 500 Mile race, held annually at the
  Indianapolis Motor Speedway on the Memorial Day weekend, is one of the most
  famous automobile racing events in North America. The event is simulated here
  using 3D polygon graphics to recreate the  33 cars in the race.  Players are
  able to choose their car and customize it with a variety of options.
  Modifications include wing down-force, tire pressures, wheel stagger (making
  the right-side wheels larger, to compensate for the banked corners) and turbo
  output (which provides boost, but stresses the engine and uses more fuel).
  After qualifying (by performing during four laps and taking the average)
  players can race over 10, 30, 60 or the full 200 laps. Lower modes remove car
  damage and the 'full-course yellow' system, the absence of these can make for
  repeat carnage including traffic collisions and huge pile-ups.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dbc85e0cdc43edee80ae5fcff5e7817513f040db.png
  - https://cdn.dos.zone/original/2X/2/2a2e8d99f83528764007aa358d080aee35c2916e.png
youtube: OifEAztn3AE
---
