---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/infidel.jsdos
layout: page.njk
ogDescription: Infidel is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Infidel on
  mobile. On DOS.Zone Infidel available to play for free without registration.
permalink: /infidel-1984/
screenshots:
- https://cdn.dos.zone/original/2X/4/4010a21122043897a6439bef5e4e238b7a573745.gif
shortTitle: Infidel
title: Infidel | 🕹️Play Infidel Online | DOS game in browser

---
