---
layout: page.njk
title: Infidel | 🕹️Play Infidel Online | Download js-dos bundle
ogDescription: Want to Play Infidel? 🕹 On Dos Zone you can play Infidel OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Infidel
permalink: /infidel-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Finfidel.jsdos
description: "You've been marooned by your crew in the vast wasteland of the
  Egyptian Desert.  The burning heat causes you to think you are a brave
  explorer of fortune, but you have already been branded an Infidel.  You are
  more likely to starve to death than finding the gold and riches that are
  hidden in the pyramids. Difficulty Level: Advanced"
screenshots:
  - https://cdn.dos.zone/original/2X/4/4010a21122043897a6439bef5e4e238b7a573745.gif
---
