---
layout: page.njk
title: "Inindo: Way of the Ninja | 🕹️Play Inindo: Way of the Ninja Online |
  Download js-dos bundle"
ogDescription: "Want to Play Inindo: Way of the Ninja? 🕹 On Dos Zone you can
  play Inindo: Way of the Ninja OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Inindo: Way of the Ninja"
permalink: /inindo-way-of-the-ninja-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Finindo-way-of-the-ninja.jsdos
description: "1581, Japan. Fearing a rebellion and striving to conquer the
  entire country,  the warlock Nobunaga orders to attack the Iga ninja clan. The
  ninjas bravely defend their village, but, being vastly outnumbered, are
  mercilessly slain by Nobunaga's men. Only one survived: you,  the hero of the
  game. Shortly before the assault you were sent to a nearby village to warn the
  elder of Nobunaga's attack. However, the other village is also destroyed by
  Nobunaga's army. You swear to avenge his crime. But for now, you are just an
  inexperienced young men, and are \"wanted\" by Nobunaga's men and ruthless
  bounty hunters. Will you be able to unite Japan in the ultimate struggle
  against Nobunaga? Inindo: Way of the Ninja is a Japanese-style RPG with a
  touch of strategy. You navigate your hero on the world map, visit towns, and
  descend into dungeons. The battles are turn-based and are viewed from a
  third-person perspective, like in Final Fantasy games. You can move on the
  battle field and use melee or long-ranged attacks. You'll be able to recruit
  characters of various classes to your party, who will join you for profit or
  for other reasons. After you gain enough experience, you'll also be able to
  talk to daimyos (feudal rulers) of various castles and to convince them to
  work together against Nobunaga. You can also perform various tasks for the
  daimyos, such as spying."
screenshots:
  - https://cdn.dos.zone/original/2X/9/94b7667598703870f2dffc809395139c6323ee51.gif
  - https://cdn.dos.zone/original/2X/9/9441e0038b66418e0ef3ad88392924831296f6ed.gif
---
