---
layout: page.njk
title: Intergalactic Bar Mans Pub Crawl | 🕹️Play Intergalactic Bar Mans Pub
  Crawl Online | Download js-dos bundle
ogDescription: Want to Play Intergalactic Bar Mans Pub Crawl? 🕹 On Dos Zone you
  can play Intergalactic Bar Mans Pub Crawl OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Intergalactic Bar Mans Pub Crawl
permalink: /intergalactic-bar-mans-pub-crawl-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fintergalactic-bar-mans-pub-crawl.jsdos
description: >-
  Intergalactic Bar Mans Pub Crawl is a single player, shareware, adventure
  game. The player takes the role of a bar man on an intergalactic cruiser. One
  morning they awake to find the ship deserted and the object of the game is to
  try to escape from the ship alive. To do this they explore the ship using the
  traditional N, S, W, and E keys for North South etc as well as talking to the
  ship's computer.

  The game area consists of two sections. The lower part describes the current location and is where the player enters their commands. The upper part shows the inventory, a map of the space cruiser which is drawn automatically as the player progresses through the game, and a small diagram representing the current room. As is customary in games of this type death is never very far away whether it's being sucked out into space, getting locked in a fridge, or a freak screwdriver accident. The game is entirely keyboard controlled and uses character graphics.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c9d2a291223e114c597285a64ce9d0189041f766.png
  - https://cdn.dos.zone/original/2X/d/dc75579c47a76829cb8a238d372761f805221304.png
---
