---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/interpose-x-mas-greetings.jsdos
layout: page.njk
ogDescription: Interpose X-mas Greetings is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Interpose X-mas Greetings on mobile. On DOS.Zone Interpose X-mas Greetings available
  to play for free without registration.
permalink: /interpose-x-mas-greetings-dec-16-1996/
screenshots:
- https://cdn.dos.zone/original/2X/f/fc97f5444cd31a630d02da33d8e43a82b8417802.png
- https://cdn.dos.zone/original/2X/4/4adbeb8e9a8b75dc58bfaecc921d1f63ebd5338e.png
shortTitle: Interpose X-mas Greetings
title: Interpose X-mas Greetings | 🕹️Play Interpose X-mas Greetings Online | DOS game
  in browser

---
