---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/international-sensible-soccer.jsdos
layout: page.njk
ogDescription: International Sensible Soccer is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in International Sensible Soccer on mobile. On DOS.Zone International Sensible
  Soccer available to play for free without registration.
permalink: /international-sensible-soccer-1994/
screenshots:
- https://cdn.dos.zone/original/2X/5/586e7eba89e7a2546df94cac277a8fb108be9c39.png
- https://cdn.dos.zone/original/2X/c/ce79b0c9871a909092e5fb0e843845ce576130b5.png
shortTitle: International Sensible Soccer
title: International Sensible Soccer | 🕹️Play International Sensible Soccer Online
  | DOS game in browser

---
