---
layout: page.njk
title: International Ninja Rabbits | 🕹️Play International Ninja Rabbits Online
  | Download js-dos bundle
ogDescription: Want to Play International Ninja Rabbits? 🕹 On Dos Zone you can
  play International Ninja Rabbits OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: International Ninja Rabbits
permalink: /international-ninja-rabbits-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Finternational-ninja-rabbits.jsdos
description: Having saved the day by destroying a chemical plant in Ninja
  Rabbits, Bugs must now travel the world and destroy several more chemical
  plants to save the environment from pollution. To get to each plant our hero
  must walk from left to right on a scrolling side view game. Bugs doesn't just
  have to travel above ground but has the option in various places to go
  underground as well. The baddies appear from the right and using various
  moves, punch, kick or swing his stick, our hero can defeat the baddies. The
  baddies can fight back and if they hit you then your damage meter (in the
  shape of a carrot) will get smaller before it disappears and you lose a life.
screenshots:
  - https://cdn.dos.zone/original/2X/1/10e173af4c7bdd396aa4737cc2c6ffcf4b17ff42.png
  - https://cdn.dos.zone/original/2X/9/95266e26f5fcff87dce2f671a3bdf4fd4efbad03.png
---
