---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/intergalactic-life.jsdos
layout: page.njk
ogDescription: Intergalactic Life is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Intergalactic Life on mobile. On DOS.Zone Intergalactic Life available to play for
  free without registration.
permalink: /intergalactic-life-mar-11-2002/
screenshots:
- https://cdn.dos.zone/original/2X/c/c41c90ff30ae09f4407fc2bc5bb9cde0768e74e7.png
- https://cdn.dos.zone/original/2X/3/3fed5aee8ceb3b29b8af2436f1a3557bb0d8bcd4.png
shortTitle: Intergalactic Life
title: Intergalactic Life | 🕹️Play Intergalactic Life Online | DOS game in browser

---
