---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/international-ninja-rabbits.jsdos
layout: page.njk
ogDescription: International Ninja Rabbits is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in International Ninja Rabbits on mobile. On DOS.Zone International Ninja Rabbits
  available to play for free without registration.
permalink: /international-ninja-rabbits-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/10e173af4c7bdd396aa4737cc2c6ffcf4b17ff42.png
- https://cdn.dos.zone/original/2X/9/95266e26f5fcff87dce2f671a3bdf4fd4efbad03.png
shortTitle: International Ninja Rabbits
title: International Ninja Rabbits | 🕹️Play International Ninja Rabbits Online | DOS
  game in browser

---
