---
layout: page.njk
title: International Sensible Soccer | 🕹️Play International Sensible Soccer
  Online | Download js-dos bundle
ogDescription: Want to Play International Sensible Soccer? 🕹 On Dos Zone you
  can play International Sensible Soccer OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: International Sensible Soccer
permalink: /international-sensible-soccer-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Finternational-sensible-soccer.jsdos
description: Released alongside the 1994 World Cup, this was the first version
  of Sensible Soccer to feature teams from outside Europe. The World Cup
  tournament is featured in full, and you can adjust which 24 teams this
  features, a particularly crucial feature for English and French fans, as their
  nations failed to qualify. For the first time in the series an on-screen
  referee is featured. The club team data has been updated to take into account
  transfers and kit changes since the previous version. Gameplay is much the
  same as previous editions, being viewed from above with small sprites and
  loose ball control.
screenshots:
  - https://cdn.dos.zone/original/2X/5/586e7eba89e7a2546df94cac277a8fb108be9c39.png
  - https://cdn.dos.zone/original/2X/c/ce79b0c9871a909092e5fb0e843845ce576130b5.png
---
