---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/into-the-sun-projected-distruction.jsdos
layout: page.njk
ogDescription: 'Into the Sun: Projected Distruction is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Into the Sun: Projected Distruction on mobile. On DOS.Zone Into
  the Sun: Projected Distruction available to play for free without registration.'
permalink: /into-the-sun-projected-distruction-1995/
screenshots:
- https://cdn.dos.zone/original/2X/b/b500062061833555ee4e51a1f8eeb88a2b5180c3.png
- https://cdn.dos.zone/original/2X/2/2157e23a7474d6b2ca12488005e1f57bed7fec2.png
shortTitle: 'Into the Sun: Projected Distruction'
title: 'Into the Sun: Projected Distruction | 🕹️Play Into the Sun: Projected Distruction
  Online | DOS game in browser'

---
