---
layout: page.njk
title: IQ Master | 🕹️Play IQ Master Online | Download js-dos bundle
ogDescription: Want to Play IQ Master? 🕹 On Dos Zone you can play IQ Master OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: IQ Master
permalink: /iq-master-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fiq-master.jsdos
description: IQ Master is a Tetris variant. The game takes place in the same
  manner except that the player does not stack bricks but words. Words that need
  to be formed are shown on the right side of the screen. The correct spelling
  indicated at the bottom of the screen needs to be selected from different
  choices by using the left or right cursor keys. The game highlights a part of
  the word the player needs to decide on. If correct, the selection is deleted,
  if not, it remains. During the game bombs are used to destroy some of the
  letters arranged on top of each other. The game has two levels of difficulty -
  practice and tournament. It provides the option to create a custom dictionary
  in any language.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c58978d28ed573ee61ebcad41ea2c865db9bf95f.png
  - https://cdn.dos.zone/original/2X/1/103dbf76b43c4816e05ad97c298f3ddfb014f992.png
---
