---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/iq-master.jsdos
layout: page.njk
ogDescription: IQ Master is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in IQ Master
  on mobile. On DOS.Zone IQ Master available to play for free without registration.
permalink: /iq-master-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c58978d28ed573ee61ebcad41ea2c865db9bf95f.png
- https://cdn.dos.zone/original/2X/1/103dbf76b43c4816e05ad97c298f3ddfb014f992.png
shortTitle: IQ Master
title: IQ Master | 🕹️Play IQ Master Online | DOS game in browser

---
