---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/iron-assault.jsdos
layout: page.njk
ogDescription: Iron Assault is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Iron Assault
  on mobile. On DOS.Zone Iron Assault available to play for free without registration.
permalink: /iron-assault-1995/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ee005be9bd43d7a9d069239d3af897d43fd9ed7.png
- https://cdn.dos.zone/original/2X/d/d19bb13b44ef798ad79750edb9c7842606dcf642.png
shortTitle: Iron Assault
title: Iron Assault | 🕹️Play Iron Assault Online | DOS game in browser

---
