---
layout: page.njk
title: Iskib | 🕹️Play Iskib Online | Download js-dos bundle
ogDescription: Want to Play Iskib? 🕹 On Dos Zone you can play Iskib OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Iskib
permalink: /iskib-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fiskib.jsdos
description: "Iskib is a 2D side-scrolling, arcade-like action game. The
  player's objective is to run a whole level, avoiding being shot or hit by
  obstacles. This can be done by controlling the run speed (running
  faster/slower), jumping or firing a gun. Enemies are represented by spaceships
  that move in awkward patterns and occasionally drop bombs on the running
  player. Sometimes mines or rocks block the road and one has to jump over them.
  Every bomb hit or obstacle hit is fatal, one life is lost and the whole level
  is restarted. Some power-ups are found on the road: bullets to replenish
  bullet supply, \"extra fire\" to make it possible to fire more than 1 bullet
  simultaneously or \"hover\" to extend jumping abilities. The game was designed
  to be included in an issue of Compute! magazine."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e97b0ea50f08e06c4c8c70d87ce6da4e951b867a.png
  - https://cdn.dos.zone/original/2X/7/733784ee8e3eec7f1034b1ba248c4de55d094492.png
---
