---
layout: page.njk
title: Isle Wars | 🕹️Play Isle Wars Online | Download js-dos bundle
ogDescription: Want to Play Isle Wars? 🕹 On Dos Zone you can play Isle Wars OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Isle Wars
permalink: /isle-wars-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fisle-wars.jsdos
description: Isle Wars is a single-player, shareware, mouse controlled Risk
  -like game. The object of the game is to conquer all nine islands. The player
  always plays as the Blue army and the computer plays the other three
  adversaries, the Green, Red and Brown. The game has four levels of difficulty
  which varies the number of countries the player occupies at the start of the
  game, sound, and a save/load function.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e4eb1b501cc40af09f68fe25c1687701404b96af.png
  - https://cdn.dos.zone/original/2X/6/65c375501c59129ecf2f52e9cde9f2dccde76b6.png
---
