---
layout: page.njk
title: Isle of the Dead | 🕹️Play Isle of the Dead Online | Download js-dos bundle
ogDescription: Want to Play Isle of the Dead? 🕹 On Dos Zone you can play Isle
  of the Dead OR donwload js-dos bundle for free. Start playing now!
shortTitle: Isle of the Dead
permalink: /isle-of-the-dead-dec-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fisle-of-the-dead.jsdos
description: Isle of the Dead is a mixture between a first-person shooter and a
  traditional point-and-click adventure game. While walking through a level in a
  FPS mode you can examine certain areas closer and the game switches to
  adventure mode. The shooter part is visually and technically similar to
  Wolfenstein 3D. The player controls an apparently sole survivor of a crash,
  stranded on a tropical island in the South Pacific. The hero must hunt for
  survival items, weapons and a way to get off the island. Hideous zombies,
  vicious wolves and other horrors await him.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9cf7c647bc3ea68cb198f4a4e86241f6db92d698.png
  - https://cdn.dos.zone/original/2X/5/504af0baee6ec23196c72205e8db5495678bee98.png
---
