---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/it-came-from-the-desert.jsdos
layout: page.njk
ogDescription: It Came from the Desert is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in It Came from the Desert on mobile. On DOS.Zone It Came from the Desert available
  to play for free without registration.
permalink: /it-came-from-the-desert-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/2d615454d7ad8d9e2592c8c2f8a703e4ad4995e8.png
- https://cdn.dos.zone/original/2X/9/915d2e132a267454a2e9e1042e9ae2811b6ba7d4.gif
shortTitle: It Came from the Desert
title: It Came from the Desert | 🕹️Play It Came from the Desert Online | DOS game
  in browser

---
