---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jrr-tolkiens-riders-of-rohan.jsdos
layout: page.njk
ogDescription: J.R.R. Tolkien's Riders of Rohan is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in J.R.R. Tolkien's Riders of Rohan on mobile. On DOS.Zone J.R.R. Tolkien's
  Riders of Rohan available to play for free without registration.
permalink: /j-r-r-tolkiens-riders-of-rohan-1991/
screenshots:
- https://cdn.dos.zone/original/2X/5/5140ce3a90ed75c2788972fa9d65c35ffd1566be.png
- https://cdn.dos.zone/original/2X/f/f9f61bb1937867d180e98fc68b861eeec1818bfe.png
shortTitle: J.R.R. Tolkien's Riders of Rohan
title: J.R.R. Tolkien's Riders of Rohan | 🕹️Play J.R.R. Tolkien's Riders of Rohan
  Online | DOS game in browser

---
