---
layout: page.njk
title: Jackson City | 🕹️Play Jackson City Online | Download js-dos bundle
ogDescription: Want to Play Jackson City? 🕹 On Dos Zone you can play Jackson
  City OR donwload js-dos bundle for free. Start playing now!
shortTitle: Jackson City
permalink: /jackson-city-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjackson-city.jsdos
description: Jackson City is a vertically scrolling space shoot'em-up game. The
  player, as spaceship pilot, must fight along the game levels versus hordes of
  aliens and (quite surrealistic) fruits. Also, there are, along the levels,
  power-ups that improve the firepower, the speed of the player's spaceship or
  the amount of fuel. At the end of each level there is a final boss that must
  be defeated.
screenshots:
  - https://cdn.dos.zone/original/2X/8/88d1b257f5970e02b3592912cb0e78cceafdba44.png
  - https://cdn.dos.zone/original/2X/2/26f65fe8dd007339a146a25d8d8f32c93cb9a678.png
---
