---
layout: page.njk
title: Jack Nicklaus' Greatest 18 Holes of Major Championship Golf | 🕹️Play
  Jack Nicklaus' Greatest 18 Holes of Major Championship Golf Online | Download
  js-dos bundle
ogDescription: Want to Play Jack Nicklaus' Greatest 18 Holes of Major
  Championship Golf? 🕹 On Dos Zone you can play Jack Nicklaus' Greatest 18
  Holes of Major Championship Golf OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Jack Nicklaus' Greatest 18 Holes of Major Championship Golf
permalink: /jack-nicklaus-greatest-18-holes-of-major-championship-golf-oct-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjack-nicklaus-greatest-18-holes-of-major-championship-golf.jsdos
description: Jack Nicklaus' Greatest 18 Holes of Major Championship Golf is a 3D
  golf simulation featuring an 18 Hole course created by Jack Nicklaus himself.
  Each of the 18 holes are from famous courses around the world and include
  number 8 at Pebble Beach, number 18 from Muirfield, number 12 from St.
  Andrews, number 12 from Augusta, number 10 at Riviera, and more. Gameplay is
  for one to four players and can be either stroke play or a skins game.
screenshots:
  - https://cdn.dos.zone/original/2X/7/72fb41e4ac6ceafd68349310bb14b40e6edc3f65.png
  - https://cdn.dos.zone/original/2X/3/3d55e21ab5a05adb6912aa9e78f163811c93a4ce.gif
---
