---
layout: page.njk
title: James Clavell's Shogun | 🕹️Play James Clavell's Shogun Online | Download
  js-dos bundle
ogDescription: Want to Play James Clavell's Shogun? 🕹 On Dos Zone you can play
  James Clavell's Shogun OR donwload js-dos bundle for free. Start playing now!
shortTitle: James Clavell's Shogun
permalink: /james-clavells-shogun-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjames-clavells-shogun_.jsdos
description: Wait, you say, wasn't this an Infocom title? Actually, this one
  came out first on the budget publisher Mastertronic's catalog. It's a vastly
  different game than the Infocom one - you wander around as one of a number of
  characters trying to build up your rapport with the people, doing battle and
  working your way up to becoming a shogun.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5dfb0268d728d2f1e9f4ce4e1f02b852d762fa66.gif
  - https://cdn.dos.zone/original/2X/8/88d22d3db814fe74737f0d82d41588f232988f00.gif
---
