---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/james-clavells-shogun_.jsdos
layout: page.njk
ogDescription: James Clavell's Shogun is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in James Clavell's Shogun on mobile. On DOS.Zone James Clavell's Shogun available
  to play for free without registration.
permalink: /james-clavells-shogun-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/5dfb0268d728d2f1e9f4ce4e1f02b852d762fa66.gif
- https://cdn.dos.zone/original/2X/8/88d22d3db814fe74737f0d82d41588f232988f00.gif
shortTitle: James Clavell's Shogun
title: James Clavell's Shogun | 🕹️Play James Clavell's Shogun Online | DOS game in
  browser

---
