---
layout: page.njk
title: Janosik | 🕹️Play Janosik Online | Download js-dos bundle
ogDescription: Want to Play Janosik? 🕹 On Dos Zone you can play Janosik OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Janosik
permalink: /janosik-jun-23-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjanosik.jsdos
description: Janosik is an enhanced port of Atari game of the same title.
  Graphics and audio aspects were adapted to the 16-bit computers, boards
  entirely remodeled. The game introduced some new elements, like animated short
  scenes or new types of obstacles. The game world is divided into forest,
  village and castle areas. Armed with a shepherd's axe and precise jumping
  ability Janosik must defeat all the enemies to free Maryna. This platform game
  is loosely based on the story around Juraj Jánošík, a XVII / XVIIIc. Slovak
  highlander, leader of Carpathian brigands. In Poland the legend was revived by
  a popular TV series from 1970s, making him a fictional XIXc. gallant folk
  hero, who only robs the rich Austrian nobles to help oppressed local peasants,
  "Robin Hood way".
screenshots:
  - https://cdn.dos.zone/original/2X/8/88ee76f6333af3e160cd73646c6a3493a6a81178.png
  - https://cdn.dos.zone/original/2X/2/2d685bac718456a5f9b3e79bafec60d3c94ec1f7.png
---
