---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jara-tava-the-isle-of-fire.jsdos
layout: page.njk
ogDescription: 'Jara-Tava: The Isle of Fire is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Jara-Tava: The Isle of Fire on mobile. On DOS.Zone Jara-Tava: The Isle of Fire
  available to play for free without registration.'
permalink: /jara-tava-the-isle-of-fire-1992/
screenshots: []
shortTitle: 'Jara-Tava: The Isle of Fire'
title: 'Jara-Tava: The Isle of Fire | 🕹️Play Jara-Tava: The Isle of Fire Online |
  DOS game in browser'

---
