---
layout: page.njk
title: Jasper's Journeys | 🕹️Play Jasper's Journeys Online | Download js-dos bundle
ogDescription: Want to Play Jasper's Journeys? 🕹 On Dos Zone you can play
  Jasper's Journeys OR donwload js-dos bundle for free. Start playing now!
shortTitle: Jasper's Journeys
permalink: /jaspers-journeys-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjaspers-journeys.jsdos
description: Jasper's cat has been nabbed by a nasty witch who intends to use
  him as an ingredient for her incredibly evil potion! Make your way through a
  world of magic and monsters to reach the witch's castle and save Orlando.
  Jasper's Journeys is an old fashioned jump'n'run focusing on the basics of the
  genre. It features level exploration, collecting gems and fruits, jumping over
  pits, throwing fruit energy at enemies, avoiding acid drops, unlocking doors
  and finding secrets. Noteworthy are big enemies, which you will encounter as
  boss battles, as well as normal level enemies. Also you have the chance to win
  each level through a bonus section, which you can access after finding three
  orbs in a level.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6173b055c2b23c2c93719d31d4374ff0ce39e166.png
  - https://cdn.dos.zone/original/2X/1/19eab9f027948126353d22c81c791b68acfe6547.png
---
