---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jenny-of-the-prairie.jsdos
layout: page.njk
ogDescription: Jenny of the Prairie is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Jenny of the Prairie on mobile. On DOS.Zone Jenny of the Prairie available to
  play for free without registration.
permalink: /jenny-of-the-prairie-1985/
screenshots:
- https://cdn.dos.zone/original/2X/b/ba22786bb3215717954b93f54cfcb1d5f6d57473.png
- https://cdn.dos.zone/original/2X/c/c2b47fc7ffcb2f971c17cacc5493d6f80feda85a.png
shortTitle: Jenny of the Prairie
title: Jenny of the Prairie | 🕹️Play Jenny of the Prairie Online | DOS game in browser

---
