---
layout: page.njk
title: Jeopardy! | 🕹️Play Jeopardy! Online | Download js-dos bundle
ogDescription: Want to Play Jeopardy!? 🕹 On Dos Zone you can play Jeopardy! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Jeopardy!
permalink: /jeopardy-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjeopardy_.jsdos
description: Based on the tv game show. Three players compete against each other
  by coming up with the question for a given answer. There are two rounds of
  play each with six categories of answers, and one final round consisting of a
  single answer. Each correct question given can be worth from $100 to $1000 for
  the player to respond first, or if a daily double is uncovered the player to
  find it may bet up to the current  amount of money they have. The player with
  the most money at the end wins. Jeopardy! features a high scores table so
  players can save their characters wins and losses, different male and female
  character animations to choose from, and of course a wide variety of answers
  and questions. Up to three human players can compete, or a combination of
  human and computer players.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3661543686ad9c6b1741ba37d3e33042259aa959.gif
  - https://cdn.dos.zone/original/2X/c/cd6129150575d32dbb64c36c5a05b48914e0e2d9.gif
---
