---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jeopardy-new-sports-edition.jsdos
layout: page.njk
ogDescription: Jeopardy! New Sports Edition is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Jeopardy! New Sports Edition on mobile. On DOS.Zone Jeopardy! New Sports Edition
  available to play for free without registration.
permalink: /jeopardy-new-sports-edition-1988/
screenshots: []
shortTitle: Jeopardy! New Sports Edition
title: Jeopardy! New Sports Edition | 🕹️Play Jeopardy! New Sports Edition Online |
  DOS game in browser

---
