---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jetpack-christmas-special.jsdos
layout: page.njk
ogDescription: 'Jetpack: Christmas Special is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Jetpack: Christmas Special on mobile. On DOS.Zone Jetpack: Christmas Special
  available to play for free without registration.'
permalink: /jetpack-christmas-special-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/92281df387a0f705925d8924df696062ea4c1a38.png
- https://cdn.dos.zone/original/2X/2/2aee8140bcefcfca9b593d8e96827423a00f991b.png
shortTitle: 'Jetpack: Christmas Special'
title: 'Jetpack: Christmas Special | 🕹️Play Jetpack: Christmas Special Online | DOS
  game in browser'

---
