---
layout: page.njk
title: "Jetpack: Christmas Special | 🕹️Play Jetpack: Christmas Special Online |
  Download js-dos bundle"
ogDescription: "Want to Play Jetpack: Christmas Special? 🕹 On Dos Zone you can
  play Jetpack: Christmas Special OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Jetpack: Christmas Special"
permalink: /jetpack-christmas-special-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjetpack-christmas-special.jsdos
description: Jetpack Christmas Special is a freeware edition of Jetpack
  featuring new, Christmas themed levels from the original developers. In this
  game the player takes on the role of Santa Claus. Their task is to explore
  levels "full of treasures and peril" and collect all the gifts and presents
  they contain. As with the original game exploration involves flying about with
  the aid of a jetpack until the level is cleared at which time a portal will
  open giving access to the next. The game includes the level editor and support
  for up to eight players using keyboard and/or joysticks.
screenshots:
  - https://cdn.dos.zone/original/2X/9/92281df387a0f705925d8924df696062ea4c1a38.png
  - https://cdn.dos.zone/original/2X/2/2aee8140bcefcfca9b593d8e96827423a00f991b.png
---
