---
layout: page.njk
title: Jetset | 🕹️Play Jetset Online | Download js-dos bundle
ogDescription: Want to Play Jetset? 🕹 On Dos Zone you can play Jetset OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Jetset
permalink: /jetset-oct-30-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjetset.jsdos
description: Jetset is a text mode 747 flight simulator, possibly the very first
  made for PC. Its code, in BASIC, was published on November 1982's issue of the
  BYTE magazine. Except during take off / landing, where the runway is visible,
  all you can see are the plane's panels and controls, which you can operate
  using the keyboard. Despite its minimal interface, Jetset is realistic as it
  relies on a good physics engine.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5d5399a21255e40aa8eda9a281825a689eff7192.gif
  - https://cdn.dos.zone/original/2X/c/c5bcc54ab758f5152f1a8b6d42b5f72a637658b1.gif
---
