---
layout: page.njk
title: "Jetsons: The Computer Game | 🕹️Play Jetsons: The Computer Game Online |
  Download js-dos bundle"
ogDescription: "Want to Play Jetsons: The Computer Game? 🕹 On Dos Zone you can
  play Jetsons: The Computer Game OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Jetsons: The Computer Game"
permalink: /jetsons-the-computer-game-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjetsons-the-computer-game.jsdos
description: The famous animated TV series by Hanna-Barbera spawned a film, and
  ultimately this licensed game, which contains 8 levels alternating between
  side-scrolling dodge-and-manipulate and driving gameplay. All four members of
  the Jetson family have a themed level. The driving sections take place within
  George's Jetcar, and you must slow down for the speed-limited areas and beware
  of black holes. At the beginning of the game you are George Jetson, labourer
  of the Spacely Space Sprockets company in 2062. Your boss Mr. Spacely wants
  you to work, but you want to collect money and have a fun. So after the boss
  ordinary order you can explore the company as usually, collect money bills and
  useful items, avoiding dangerous robotic mechanisms and Mr. Spacely himself.
  On further levels, other Jetsons family members must do the same things, but
  at their own locations. Level 2 involves taking Jane out of her booby-trapped
  home, level 3 sees Judy trying to get a kiss form pop heartthrob Jet Screamer,
  and finally Elroy is locked in at school and has to escape. You have to
  activate the items hidden behind the hatches with buttons. These allow you to
  progress on level, for example, fix an elevator with wrench. Time presses and
  you have to complete your mission quickly.
screenshots:
  - https://cdn.dos.zone/original/2X/7/73c75dbafa163bc3683bff5888e85f03c9ce8887.gif
  - https://cdn.dos.zone/original/2X/4/4d3c5158c66057f55a2943c0d53026a619bfa613.gif
---
