---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jetset.jsdos
layout: page.njk
ogDescription: Jetset is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Jetset on mobile.
  On DOS.Zone Jetset available to play for free without registration.
permalink: /jetset-oct-30-1982/
screenshots:
- https://cdn.dos.zone/original/2X/5/5d5399a21255e40aa8eda9a281825a689eff7192.gif
- https://cdn.dos.zone/original/2X/c/c5bcc54ab758f5152f1a8b6d42b5f72a637658b1.gif
shortTitle: Jetset
title: Jetset | 🕹️Play Jetset Online | DOS game in browser

---
