---
layout: page.njk
title: Jigsaw! | 🕹️Play Jigsaw! Online | Download js-dos bundle
ogDescription: Want to Play Jigsaw!? 🕹 On Dos Zone you can play Jigsaw! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Jigsaw!
permalink: /jigsaw-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjigsaw.jsdos
description: Jigsaw! is a puzzle game in which you can select different pictures
  to cut up into smaller blocks on screen. It works just like the locked-in
  slide puzzle boards in that you click to slide the blocks up, down, left, and
  right. You have to move blocks around and past each other to their rightful
  locations to finish the puzzle.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3aa8730935fcbe7b24e280aa5ce12e9cb6dff58d.png
  - https://cdn.dos.zone/original/2X/a/a8bac522359003dc4cacc1a393e6d8be103fca1.png
---
