---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jim-kobbes-pool-game-in-3d.jsdos
layout: page.njk
ogDescription: Jim Kobbe's Pool Game in 3D is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Jim Kobbe's Pool Game in 3D on mobile. On DOS.Zone Jim Kobbe's Pool Game in 3D
  available to play for free without registration.
permalink: /jim-kobbes-pool-game-in-3d-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/2ce5128e4bd18cf5b0622d3d93dbe9fd56474cfd.jpeg
- https://cdn.dos.zone/original/2X/7/775645698e889f820e6b6bffe62cd3efe05ea969.jpeg
shortTitle: Jim Kobbe's Pool Game in 3D
title: Jim Kobbe's Pool Game in 3D | 🕹️Play Jim Kobbe's Pool Game in 3D Online | DOS
  game in browser

---
