---
layout: page.njk
title: Jim Kobbe's Pool Game in 3D | 🕹️Play Jim Kobbe's Pool Game in 3D Online
  | Download js-dos bundle
ogDescription: Want to Play Jim Kobbe's Pool Game in 3D? 🕹 On Dos Zone you can
  play Jim Kobbe's Pool Game in 3D OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Jim Kobbe's Pool Game in 3D
permalink: /jim-kobbes-pool-game-in-3d-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjim-kobbes-pool-game-in-3d.jsdos
description: Jim Kobbe's Pool Game in 3D is a shareware, single player vs the
  computer pool game that is based on standard 8-ball pool. The graphics in this
  game are all of the 'wire frame' variety and the game is entirely keyboard
  controlled.  The player can customise the style of game to be played. They can
  turn sound on or off, set the skill level of their computer opponent, and
  apply weighting factors to the type of shot favoured by the computer. Pool
  names such as Straight, End Kick, Side Bank and so on are given to various
  types of shot. Weighting factors for each type of shot can be set in the range
  0, meaning that the shot will never be played by the computer, to 99 which
  means that this shot is most favoured.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2ce5128e4bd18cf5b0622d3d93dbe9fd56474cfd.jpeg
  - https://cdn.dos.zone/original/2X/7/775645698e889f820e6b6bffe62cd3efe05ea969.jpeg
---
