---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jim-power-the-lost-dimension-in-3d.jsdos
layout: page.njk
ogDescription: 'Jim Power: The Lost Dimension in 3D is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Jim Power: The Lost Dimension in 3D on mobile. On DOS.Zone Jim
  Power: The Lost Dimension in 3D available to play for free without registration.'
permalink: /jim-power-the-lost-dimension-in-3d-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/1ed0de90ef5db2f55a026094a8ff8e03972441e7.png
- https://cdn.dos.zone/original/2X/c/c8a2125d650fb8f369bafe322a03715b8969672d.png
shortTitle: 'Jim Power: The Lost Dimension in 3D'
title: 'Jim Power: The Lost Dimension in 3D | 🕹️Play Jim Power: The Lost Dimension
  in 3D Online | DOS game in browser'

---
