---
layout: page.njk
title: Joe Snow | 🕹️Play Joe Snow Online | Download js-dos bundle
ogDescription: Want to Play Joe Snow? 🕹 On Dos Zone you can play Joe Snow OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Joe Snow
permalink: /joe-snow-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjoe-snow.jsdos
description: "A fixed-screen platformer featuring a snowball as the title
  character, trapped in a series of caves where the chief dangers are fire-based
  - an unfortunate twist for Joe, as might be guessed.  Each level must be
  finished by hopping, skipping and jumping your way to the very top of the
  screen, and grabbing as much loot as you can along the way. Instead of lives
  or a health bar, your score doubles as your life meter: you win points by
  picking up collectibles, lose them by running into a fire or some lava, and if
  your score ever drops down to zero, it's all over.  Often there's no choice
  but to go right through those heat hazards, so survival means planning your
  route and keeping a healthy score balance."
screenshots:
  - https://cdn.dos.zone/original/2X/b/b0082eb01caa8f67a8389d75da13c97df7893c60.png
  - https://cdn.dos.zone/original/2X/1/1e9f7d7684aa812e0bee8cd8c6f140d1099777fe.png
---
