---
layout: page.njk
title: Joe Snow 2 | 🕹️Play Joe Snow 2 Online | Download js-dos bundle
ogDescription: Want to Play Joe Snow 2? 🕹 On Dos Zone you can play Joe Snow 2
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Joe Snow 2
permalink: /joe-snow-2-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjoe-snow-2.jsdos
description: 'Another installment in the continuing adventures of our snowball
  hero, wherein he attempts to retain his solid phase despite the best efforts
  of the environment with its fireballs and lava pools.  Essentially the same as
  the first game with a new set of graphics and levels: make your way through
  the stationary game world across traps and jumping puzzles, striving for the
  top to reach the next level. Once again, run-ins with fire tiles deduct from
  your score, and running out of points means an instant game over.  As in the
  previous game, higher levels mix things up with more valuable booty, and with
  twists such as conveyor belts and the "question block" familiar to Italian
  plumbers everywhere.'
screenshots:
  - https://cdn.dos.zone/original/2X/c/c10facfa05383f2e822777c461eb94288f562c18.png
  - https://cdn.dos.zone/original/2X/1/193b08808d33e22b3cb4aff692d0fd007af1608a.png
---
