---
layout: page.njk
title: Joe Blade | 🕹️Play Joe Blade Online | Download js-dos bundle
ogDescription: Want to Play Joe Blade? 🕹 On Dos Zone you can play Joe Blade OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Joe Blade
permalink: /joe-blade-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjoe-blade.jsdos
description: Tough guy Joe Blade must rescue six respected leaders from the
  madcap Crax Bloodfinger, who has kidnapped them in different areas of his
  base. Along the way he will find six bombs which must be activated, leaving
  him with only 20 minutes to rescue everyone. Joe Blade is viewed side-on and
  uses flick-screen progression. The bombs are deactivated by arranging letters
  into alphabetical order, but the bulk of the gameplay involves shooting and
  maze navigation. The screens are linked in various ways, and contain a number
  of keys which must be used correctly.
screenshots:
  - https://cdn.dos.zone/original/2X/3/329263e82dfa77c1f20b540c453af9c4ff602b5c.png
  - https://cdn.dos.zone/original/2X/2/2050043bca3c7114c10027a5a44094ebc9104e6a.png
---
