---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/jotto_.jsdos
layout: page.njk
ogDescription: Jotto is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Jotto on mobile.
  On DOS.Zone Jotto available to play for free without registration.
permalink: /jotto-1988/
screenshots:
- https://cdn.dos.zone/original/2X/3/3bdeb35251c89e8fb7e0b1ae9031aa5d42b0b282.png
- https://cdn.dos.zone/original/2X/7/791e8363e2cd8ffbdd1d60ad1018dc5f8655471c.png
shortTitle: Jotto
title: Jotto | 🕹️Play Jotto Online | DOS game in browser

---
