---
layout: page.njk
title: Journey to the Center of the Earth | 🕹️Play Journey to the Center of the
  Earth Online | Download js-dos bundle
ogDescription: Want to Play Journey to the Center of the Earth? 🕹 On Dos Zone
  you can play Journey to the Center of the Earth OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Journey to the Center of the Earth
permalink: /journey-to-the-center-of-the-earth-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjourney-to-the-center-of-the-earth_.jsdos
description: First computerised version of the novel written by Jules Verne,
  Journey to the Center of the Earth is a mix of action and adventure - an
  exploration game paved with many action-oriented mini-games. You play the role
  of a scientist who is on the way to prove that Arne Saknussem's scroll is
  true, i.e. he really discovered the center of the Earth. You'll have to find
  your way through the volcano Knessel, avoiding falling rocks and mammoths
  alike.
screenshots:
  - https://cdn.dos.zone/original/2X/4/45adaa128b2e5ea7d033321796c5fe7f2c1f9e79.png
  - https://cdn.dos.zone/original/2X/f/f9337ad3586245991de947cbb008ac74d9b5c418.png
---
