---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/journey-to-the-center-of-the-earth_.jsdos
layout: page.njk
ogDescription: Journey to the Center of the Earth is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Journey to the Center of the Earth on mobile. On DOS.Zone Journey
  to the Center of the Earth available to play for free without registration.
permalink: /journey-to-the-center-of-the-earth-1988/
screenshots:
- https://cdn.dos.zone/original/2X/4/45adaa128b2e5ea7d033321796c5fe7f2c1f9e79.png
- https://cdn.dos.zone/original/2X/f/f9337ad3586245991de947cbb008ac74d9b5c418.png
shortTitle: Journey to the Center of the Earth
title: Journey to the Center of the Earth | 🕹️Play Journey to the Center of the Earth
  Online | DOS game in browser

---
