---
layout: page.njk
title: Jumpman Lives! | 🕹️Play Jumpman Lives! Online | Download js-dos bundle
ogDescription: Want to Play Jumpman Lives!? 🕹 On Dos Zone you can play Jumpman
  Lives! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Jumpman Lives!
permalink: /jumpman-lives-sep-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fjumpman-lives.jsdos
description: This shareware adaptation of the classic Epyx game featured all of
  the levels from Jumpman and Jumpman Junior, along with several original levels
  and an editor program.  The plot is superficially changed, with the setting
  moved to a different planet, but this makes no difference to the gameplay.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b427ac0632b10d41ce663ac49f22e882f12cd62d.png
  - https://cdn.dos.zone/original/2X/4/4f5165c933cd5d2033e4979a801301c0637b2333.png
---
