---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ka-50-hokum.jsdos
layout: page.njk
ogDescription: Ka-50 Hokum is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Ka-50 Hokum
  on mobile. On DOS.Zone Ka-50 Hokum available to play for free without registration.
permalink: /ka-50-hokum-1995/
screenshots:
- https://cdn.dos.zone/original/2X/9/9159a8593e2c7598da7290d2805801caa14f915f.png
- https://cdn.dos.zone/original/2X/e/e403b576620ed38d301ab83d9ef516638e1cf47a.png
shortTitle: Ka-50 Hokum
title: Ka-50 Hokum | 🕹️Play Ka-50 Hokum Online | DOS game in browser

---
