---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kaleidokubes.jsdos
layout: page.njk
ogDescription: KaleidoKubes is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in KaleidoKubes
  on mobile. On DOS.Zone KaleidoKubes available to play for free without registration.
permalink: /kaleidokubes-1989/
screenshots: []
shortTitle: KaleidoKubes
title: KaleidoKubes | 🕹️Play KaleidoKubes Online | DOS game in browser

---
