---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/karkoths-keep.jsdos
layout: page.njk
ogDescription: Karkoth's Keep is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Karkoth's
  Keep on mobile. On DOS.Zone Karkoth's Keep available to play for free without registration.
permalink: /karkoths-keep-1983/
screenshots:
- https://cdn.dos.zone/original/2X/2/2d6393f84ed3b9092de26414d108ba4b0962c5cf.png
- https://cdn.dos.zone/original/2X/d/da7f12d5560430076ce707aa229c234ea36d9db8.png
shortTitle: Karkoth's Keep
title: Karkoth's Keep | 🕹️Play Karkoth's Keep Online | DOS game in browser

---
