---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kart-race.jsdos
layout: page.njk
ogDescription: Kart Race is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kart Race
  on mobile. On DOS.Zone Kart Race available to play for free without registration.
permalink: /kart-race-1996/
screenshots:
- https://cdn.dos.zone/original/2X/9/91aac0ada37935f2565b3ad6dc228a4ddf8b1db8.png
- https://cdn.dos.zone/original/2X/4/4bf7e055c475a3ec685f8a862d01b6ea72725ec.png
shortTitle: Kart Race
title: Kart Race | 🕹️Play Kart Race Online | DOS game in browser

---
