---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/karting-grand-prix.jsdos
layout: page.njk
ogDescription: Karting Grand Prix is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Karting Grand Prix on mobile. On DOS.Zone Karting Grand Prix available to play for
  free without registration.
permalink: /karting-grand-prix-1988/
screenshots:
- https://cdn.dos.zone/original/2X/3/35e939fb89085874b96778b6714b7e8b90776f82.png
- https://cdn.dos.zone/original/2X/8/8b8102f880a2588e683707a63cfb8b329bb041f5.png
shortTitle: Karting Grand Prix
title: Karting Grand Prix | 🕹️Play Karting Grand Prix Online | DOS game in browser

---
