---
layout: page.njk
title: Keith Van Eron's Pro Soccer | 🕹️Play Keith Van Eron's Pro Soccer Online
  | Download js-dos bundle
ogDescription: Want to Play Keith Van Eron's Pro Soccer? 🕹 On Dos Zone you can
  play Keith Van Eron's Pro Soccer OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Keith Van Eron's Pro Soccer
permalink: /keith-van-erons-pro-soccer-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkeith-van-erons-pro-soccer.jsdos
description: "Arcade-style soccer game. It has two different parts: Indoor and
  Outdoor. The Outdoor game is the normal European soccer. You may play single
  matches, league or tournament (world championships). Optional features are:
  weather effects, replays, customizable game length. Some quite funny movements
  and shots are available (e.g. banana flanks). The Indoor game has US soccer
  teams (?fictional?) and plays on a much smaller field. It has different rules
  compared to outdoor soccer. You can play single matches, league and All Star
  tournament. The same movements and shots can be made, sometimes with even
  funnier effects (e.g. banana shot bouncing of the wall and into goal)."
screenshots:
  - https://cdn.dos.zone/original/2X/4/4a15e6090b950da4298b3303d94582f5a0c151d9.gif
  - https://cdn.dos.zone/original/2X/9/9c839fe0c1721f968abe775a2d2dfb093cc68fca.png
---
