---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ken-ustons-professional-blackjack.jsdos
layout: page.njk
ogDescription: Ken Uston's Professional Blackjack is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Ken Uston's Professional Blackjack on mobile. On DOS.Zone Ken Uston's
  Professional Blackjack available to play for free without registration.
permalink: /ken-ustons-professional-blackjack-1982/
screenshots:
- https://cdn.dos.zone/original/2X/3/3b15c69b97d2e34622333cf73c0bf4a548dbec22.png
- https://cdn.dos.zone/original/2X/7/785fdb797dba0f975f28fde3d63bc10e98474984.png
shortTitle: Ken Uston's Professional Blackjack
title: Ken Uston's Professional Blackjack | 🕹️Play Ken Uston's Professional Blackjack
  Online | DOS game in browser

---
