---
layout: page.njk
title: Ken Uston's Professional Blackjack | 🕹️Play Ken Uston's Professional
  Blackjack Online | Download js-dos bundle
ogDescription: Want to Play Ken Uston's Professional Blackjack? 🕹 On Dos Zone
  you can play Ken Uston's Professional Blackjack OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Ken Uston's Professional Blackjack
permalink: /ken-ustons-professional-blackjack-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fken-ustons-professional-blackjack.jsdos
description: As suggested by the title, this adaptation leverages the methods of
  famous blackjack strategist Ken Uston.  Focusing on completeness, the game
  simulates tables at more than 70 casinos across the US, and implements their
  different house rules in minute detail - from the number of decks to dealer
  behavior, surrendering, splitting, doubling, insurance bets and more.  A table
  can have up to 7 players; each can be controlled by a human or by the CPU, and
  given different cash amounts and betting units.  For even more variation,
  players can create their own casinos and customize the rules to their liking.
  The game's stated purpose is to teach Uston's card-counting system.  To that
  end, it includes a series of drills to practice the four different strategies,
  arranged by skill level.  Computer-controlled players can be set to use any of
  these strategies during a game.  For further instruction, the game offers card
  count data displays, keeps statistics and can rate the players based on their
  performance given their chosen strategy.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3b15c69b97d2e34622333cf73c0bf4a548dbec22.png
  - https://cdn.dos.zone/original/2X/7/785fdb797dba0f975f28fde3d63bc10e98474984.png
---
