---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kengi.jsdos
layout: page.njk
ogDescription: Kengi is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Kengi on mobile.
  On DOS.Zone Kengi available to play for free without registration.
permalink: /kengi-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/4396346c6ce7dffcce018f7dc7bb5330a2ebb749.png
- https://cdn.dos.zone/original/2X/5/5a2a832aee4cfaa36e19b79211e34394f2fa9ef5.png
shortTitle: Kengi
title: Kengi | 🕹️Play Kengi Online | DOS game in browser

---
