---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/keno-royale.jsdos
layout: page.njk
ogDescription: Keno Royale is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Keno Royale
  on mobile. On DOS.Zone Keno Royale available to play for free without registration.
permalink: /keno-royale-1993/
screenshots:
- https://cdn.dos.zone/original/2X/d/dc63e48442c6855ffb50b64d27335c51394cfb00.png
- https://cdn.dos.zone/original/2X/6/66576e3edcdc4a229aa86f8187d0cd84e1aee1ca.png
shortTitle: Keno Royale
title: Keno Royale | 🕹️Play Keno Royale Online | DOS game in browser

---
