---
layout: page.njk
title: Keno Royale | 🕹️Play Keno Royale Online | Download js-dos bundle
ogDescription: Want to Play Keno Royale? 🕹 On Dos Zone you can play Keno Royale
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Keno Royale
permalink: /keno-royale-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkeno-royale.jsdos
description: Keno Royale is a single-player, shareware game based on the
  gambling game that is popular in the USA. This game has two modes of play,
  casino mode and a version of a US state lottery. Whichever mode is selected
  the gameplay is identical the same it's just the number of selections that the
  player can make that changes. The player starts with one thousand dollars and
  after selecting the mode of play they choose how many consecutive games to
  play, how much they wish to wager, and how many numbers they wish to play the
  limit is five numbers in state lottery mode and fifteen numbers in casino
  mode. Having made these choices the player can either select their own numbers
  or have the computer pick them. The computer then picks twenty random numbers
  and pays out, or most likely, does not. The game is entirely keyboard
  controlled and has basic sound, bleeps when the numbers are drawn and a ta-da!
  when the player wins.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dc63e48442c6855ffb50b64d27335c51394cfb00.png
  - https://cdn.dos.zone/original/2X/6/66576e3edcdc4a229aa86f8187d0cd84e1aee1ca.png
---
