---
layout: page.njk
title: Kick Off 2 | 🕹️Play Kick Off 2 Online | Download js-dos bundle
ogDescription: Want to Play Kick Off 2? 🕹 On Dos Zone you can play Kick Off 2
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Kick Off 2
permalink: /kick-off-2-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkick-off-2.jsdos
description: The original Kick Off was expanded on in many ways for this sequel.
  The game now features full tournament modes (although the players on the teams
  are fictitious) and four different pitches (including an implementation of
  plastic pitches, whose uneven bounce cause controversy when several British
  clubs tried them in the 1980s). Viewed top-down, the controls involve trapping
  the ball under your foot, giving you time to prepare passes. Running with the
  ball is tricky at first, as it doesn't stick to your foot the way it did in
  contemporary football games. Complex moves such as overhead kicks, back-heels
  and long-range through-ball passes can be completed with practice.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c0a2ed4d009b5f56d4359d50ef24649fb13cb1ac.png
  - https://cdn.dos.zone/original/2X/a/aa36339df7a2fcb2ca736f60f5fe645a9ebb286.png
---
