---
layout: page.njk
title: Kick Off 96 | 🕹️Play Kick Off 96 Online | Download js-dos bundle
ogDescription: Want to Play Kick Off 96? 🕹 On Dos Zone you can play Kick Off 96
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Kick Off 96
permalink: /kick-off-96-jun-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkick-off-96.jsdos
description: Kick Off 96 gives you the chance to take part in the European
  Championships in England 1996. Kick Off 96 can be played with several
  perspectives, including overhead and isometric, and offers the same pacey
  gameplay that made its predecessors famous. If Euro 96 isn´t enough you could
  play with 49 international teams plus 750 club teams, totally 15.000 real
  players varied skill levels.  If that´s still not enough you can also create
  your own leagues and teams.
screenshots:
  - https://cdn.dos.zone/original/2X/e/eb5706f1aee4746369e359724fc09c45e2e2a4e7.png
  - https://cdn.dos.zone/original/2X/d/d904b963f8b00c4f70912adc16b4a21d8ab0aa02.png
---
