---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kick-off-2.jsdos
layout: page.njk
ogDescription: Kick Off 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kick Off 2
  on mobile. On DOS.Zone Kick Off 2 available to play for free without registration.
permalink: /kick-off-2-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/c0a2ed4d009b5f56d4359d50ef24649fb13cb1ac.png
- https://cdn.dos.zone/original/2X/a/aa36339df7a2fcb2ca736f60f5fe645a9ebb286.png
shortTitle: Kick Off 2
title: Kick Off 2 | 🕹️Play Kick Off 2 Online | DOS game in browser

---
