---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kids-on-keys.jsdos
layout: page.njk
ogDescription: Kids on Keys is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kids on Keys
  on mobile. On DOS.Zone Kids on Keys available to play for free without registration.
permalink: /kids-on-keys-1984/
screenshots:
- https://cdn.dos.zone/original/2X/7/7bafeb664d89916651993870989f6cabaffb0431.png
- https://cdn.dos.zone/original/2X/7/71ed7a882277bdc4476f45f0fd481e451d2370ce.png
shortTitle: Kids on Keys
title: Kids on Keys | 🕹️Play Kids on Keys Online | DOS game in browser

---
