---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kids-kards.jsdos
layout: page.njk
ogDescription: Kid's Kards is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kid's Kards
  on mobile. On DOS.Zone Kid's Kards available to play for free without registration.
permalink: /kids-kards-mar-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/410dbb829a0d61fa6d515513f0328e5ef841af44.png
- https://cdn.dos.zone/original/2X/2/251ce4d14828358005361e789df8a9ba8c9d8c22.png
shortTitle: Kid's Kards
title: Kid's Kards | 🕹️Play Kid's Kards Online | DOS game in browser

---
