---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/killer-bees__.jsdos
layout: page.njk
ogDescription: Killer Bees is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Killer Bees
  on mobile. On DOS.Zone Killer Bees available to play for free without registration.
permalink: /killer-bees-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/9e10bb662dc4b9c9320e5d2fa8d09394111bbabf.png
- https://cdn.dos.zone/original/2X/e/ef71d407f80f2fdebac5bef92363cd67a3bb50d5.png
shortTitle: Killer Bees
title: Killer Bees | 🕹️Play Killer Bees Online | DOS game in browser

---
