---
layout: page.njk
title: Killer Bees | 🕹️Play Killer Bees Online | Download js-dos bundle
ogDescription: Want to Play Killer Bees? 🕹 On Dos Zone you can play Killer Bees
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Killer Bees
permalink: /killer-bees-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkiller-bees__.jsdos
description: In this simple mouse-driven shooter, you protect a man who enjoys
  hanging out under hives full of angry bees.  Not the brightest thing to do,
  perhaps, since he also seems to be rather allergic - a single sting will make
  him drop dead on the spot.  Be that as it may, the bees attack in groups of
  four, and your job is to pick them off in the air using your crosshair.  Try
  to exterminate as many as you can before one of them reaches the man and puts
  an end to his poorly-chosen hobby.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9e10bb662dc4b9c9320e5d2fa8d09394111bbabf.png
  - https://cdn.dos.zone/original/2X/e/ef71d407f80f2fdebac5bef92363cd67a3bb50d5.png
---
