---
layout: page.njk
title: Kingdom of Kroz | 🕹️Play Kingdom of Kroz Online | Download js-dos bundle
ogDescription: Want to Play Kingdom of Kroz? 🕹 On Dos Zone you can play Kingdom
  of Kroz OR donwload js-dos bundle for free. Start playing now!
shortTitle: Kingdom of Kroz
permalink: /kingdom-of-kroz-jun-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkingdom-of-kroz.jsdos
description: A text-mode action/puzzle game. You have to get to the exit on each
  level, which is made more difficult by obstacles such as trees (which can be
  destroyed) and monsters. Various puzzles (in the form of one-off objects) are
  also used.
screenshots:
  - https://cdn.dos.zone/original/2X/2/23c693901515e937272ca06e5f329ed4d8de667a.png
  - https://cdn.dos.zone/original/2X/5/555896336b679feb135ba643ea749ff84d5981f.gif
---
