---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kings-quest-quest-for-the-crown.jsdos
layout: page.njk
ogDescription: 'King''s Quest: Quest for the Crown is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in King''s Quest: Quest for the Crown on mobile. On DOS.Zone King''s
  Quest: Quest for the Crown available to play for free without registration.'
permalink: /kings-quest-quest-for-the-crown-aug-07-2001/
screenshots:
- https://cdn.dos.zone/original/2X/5/5953a89ce63896e8453498dc6aac2949e79cd5e1.jpeg
- https://cdn.dos.zone/original/2X/d/d96702ceb858701504804058ffb72460712ec005.jpeg
shortTitle: 'King''s Quest: Quest for the Crown'
title: 'King''s Quest: Quest for the Crown | 🕹️Play King''s Quest: Quest for the Crown
  Online | DOS game in browser'

---
