---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kings-bounty-2.jsdos
layout: page.njk
ogDescription: King's Bounty 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in King's Bounty
  2 on mobile. On DOS.Zone King's Bounty 2 available to play for free without registration.
permalink: /kings-bounty-2-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/93121b197b70b9e6a9988a520eecc7b49b917db2.png
- https://cdn.dos.zone/original/2X/8/8eb0158719ca4fbc61f6dd2f01eea4ee91824d2f.png
shortTitle: King's Bounty 2
title: King's Bounty 2 | 🕹️Play King's Bounty 2 Online | DOS game in browser

---
