---
layout: page.njk
title: Kingdom Without End | 🕹️Play Kingdom Without End Online | Download
  js-dos bundle
ogDescription: Want to Play Kingdom Without End? 🕹 On Dos Zone you can play
  Kingdom Without End OR donwload js-dos bundle for free. Start playing now!
shortTitle: Kingdom Without End
permalink: /kingdom-without-end-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkingdom-without-end.jsdos
description: On the cusp of a breakthrough, Ministry funding from the National
  Board falls through for an unfashionable archaeological dig to the very
  origins of the Kharuen city-state.  You play the project leader, illegally
  visiting the excavation site one last time under cover of darkness, using
  field tools of the future (palmcorder, wrist-lamps, nubblex gloves) to
  investigate the Late Arcanic catacombs of the philosopher-priest hierophant
  mystery cultists of the last dynasty, all the while reflecting on their
  relevance to the present day and your own role in it. Using deceptively simple
  multiple-choice selections and the occasional invocation of an inventory item,
  this game acts as a guided tour by a certified expert, your narrating
  protagonist, into the remains of a fictitious civilization, translating glyphs
  and interpreting the values and fundamental doctrines of people long dead
  through the esoteric rituals of Gahbra and Ykrasia depicted in their frescoes
  and statuary.  The exploration is external but parallel internal investigation
  follows suit; numerous different endings result depending on your studies,
  values and cleverness in perceiving the workings of antique machinery,
  reflecting on the anti-historical politics of the day and informing what is
  only suggested -- where the protagonist's story proceeds following the
  completion of the game.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a4bace510981fb32217530d2f49270d46211b5dd.png
  - https://cdn.dos.zone/original/2X/8/8d6a7160a47e1093181e96f22fb0151ca1c86710.png
---
