---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kingdom-at-war.jsdos
layout: page.njk
ogDescription: Kingdom at War is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kingdom at
  War on mobile. On DOS.Zone Kingdom at War available to play for free without registration.
permalink: /kingdom-at-war-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/f1585b374a0d81ae5db0a2cc306cd9a630a86311.gif
- https://cdn.dos.zone/original/2X/c/c65842f7389cbd832ad330cdc701e776462294e1.gif
shortTitle: Kingdom at War
title: Kingdom at War | 🕹️Play Kingdom at War Online | DOS game in browser

---
