---
layout: page.njk
title: "King's Quest: Quest for the Crown | 🕹️Play King's Quest: Quest for the
  Crown Online | Download js-dos bundle"
ogDescription: "Want to Play King's Quest: Quest for the Crown? 🕹 On Dos Zone
  you can play King's Quest: Quest for the Crown OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "King's Quest: Quest for the Crown"
permalink: /kings-quest-quest-for-the-crown-aug-07-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkings-quest-quest-for-the-crown.jsdos
description: >-
  King's Quest: Quest for the Crown is a remake of King's Quest using Chris
  Jones' Adventure Game Studio engine. Unlike Sierra's own earlier remake of the
  same game, this version features VGA graphics, an icon-based point-and-click
  interface, voices (optional) and MP3 music (optional). In 2009 AGD Interactive
  released King's Quest I VGA 4.0, which can be considered a remake of their
  original 2001 remake. It contains the following enhancements:

  Newly enhanced game backgrounds and character dialog portraits

  A new "no dead-ends" gameplay mode (optional) to ensure that the game can be completed from any point

  Full narrator speech and lip-syncing for all characters

  Windows Vista support

  Native Ogg Theora movies, which means in-game cutscenes and movies will now play in Linux and PC emulations under Macs

  Full digital speech and music tracks are now included as part of the download rather than being separate downloads
screenshots:
  - https://cdn.dos.zone/original/2X/5/5953a89ce63896e8453498dc6aac2949e79cd5e1.jpeg
  - https://cdn.dos.zone/original/2X/d/d96702ceb858701504804058ffb72460712ec005.jpeg
---
