---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kingdom-of-kroz-ii.jsdos
layout: page.njk
ogDescription: Kingdom of Kroz II is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Kingdom of Kroz II on mobile. On DOS.Zone Kingdom of Kroz II available to play for
  free without registration.
permalink: /kingdom-of-kroz-ii-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/2b98c38a4b6fc1ad341cd097ca21843c4a161060.gif
- https://cdn.dos.zone/original/2X/3/36281996a0a1cfdb5e4ce27994168e390c697743.png
shortTitle: Kingdom of Kroz II
title: Kingdom of Kroz II | 🕹️Play Kingdom of Kroz II Online | DOS game in browser

---
