---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kings-of-the-beach.jsdos
layout: page.njk
ogDescription: Kings of the Beach is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Kings of the Beach on mobile. On DOS.Zone Kings of the Beach available to play for
  free without registration.
permalink: /kings-of-the-beach-mar-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/85ac9fc151df47889e19361ebaa6a9666680cee7.gif
- https://cdn.dos.zone/original/2X/9/97b6a58cf5580d0fffd11d84dce46a5e3975e4be.gif
shortTitle: Kings of the Beach
title: Kings of the Beach | 🕹️Play Kings of the Beach Online | DOS game in browser

---
