---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kings-quest-ii-romancing-the-throne.jsdos
layout: page.njk
ogDescription: 'King''s Quest II: Romancing the Throne is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in King''s Quest II: Romancing the Throne on mobile. On DOS.Zone
  King''s Quest II: Romancing the Throne available to play for free without registration.'
permalink: /kings-quest-ii-romancing-the-throne-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/dac5b4d0a0bd52a4352a63f8160153519683fb60.gif
- https://cdn.dos.zone/original/2X/f/f3a388e600f95abc4139054bf74e2c8a75314f8a.png
shortTitle: 'King''s Quest II: Romancing the Throne'
title: 'King''s Quest II: Romancing the Throne | 🕹️Play King''s Quest II: Romancing
  the Throne Online | DOS game in browser'

---
