---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kingdom-of-kroz.jsdos
layout: page.njk
ogDescription: Kingdom of Kroz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kingdom of
  Kroz on mobile. On DOS.Zone Kingdom of Kroz available to play for free without registration.
permalink: /kingdom-of-kroz-jun-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/23c693901515e937272ca06e5f329ed4d8de667a.png
- https://cdn.dos.zone/original/2X/5/555896336b679feb135ba643ea749ff84d5981f.gif
shortTitle: Kingdom of Kroz
title: Kingdom of Kroz | 🕹️Play Kingdom of Kroz Online | DOS game in browser

---
