---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/klondike.jsdos
layout: page.njk
ogDescription: Klondike is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Klondike on
  mobile. On DOS.Zone Klondike available to play for free without registration.
permalink: /klondike-1989/
screenshots:
- https://cdn.dos.zone/original/2X/c/cdd2a02233f6e7f989e396e22fdf369ed33ce33e.png
- https://cdn.dos.zone/original/2X/2/2a3646cda8a84d2293afa4779a7a9b3f8e2d4aa5.png
shortTitle: Klondike
title: Klondike | 🕹️Play Klondike Online | DOS game in browser

---
