---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/koach-tzabar.jsdos
layout: page.njk
ogDescription: Koach Tzabar is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Koach Tzabar
  on mobile. On DOS.Zone Koach Tzabar available to play for free without registration.
permalink: /koach-tzabar-1997/
screenshots:
- https://cdn.dos.zone/original/2X/4/473009c2d8e5b8ad37300fec6c39d04b03c54ed3.png
- https://cdn.dos.zone/original/2X/2/2b6fd29077ab02cfb4a565e316945f92be9c67c4.png
shortTitle: Koach Tzabar
title: Koach Tzabar | 🕹️Play Koach Tzabar Online | DOS game in browser

---
