---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/komebumb.jsdos
layout: page.njk
ogDescription: Komebumb is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Komebumb on
  mobile. On DOS.Zone Komebumb available to play for free without registration.
permalink: /komebumb-1996/
screenshots:
- https://cdn.dos.zone/original/2X/2/2578df56f786ea7b466c20c336ccd9c2ea83e2c6.png
- https://cdn.dos.zone/original/2X/1/1418808ba8229ad0124454d91f987a51c5f7763d.png
shortTitle: Komebumb
title: Komebumb | 🕹️Play Komebumb Online | DOS game in browser

---
