---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/korean-dungeon-boy.jsdos
layout: page.njk
ogDescription: Korean Dungeon Boy is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Korean Dungeon Boy on mobile. On DOS.Zone Korean Dungeon Boy available to play for
  free without registration.
permalink: /korean-dungeon-boy-may-1991/
screenshots:
- https://cdn.dos.zone/original/2X/9/9fe7a1faef7430827a1dc6794dfd6e502562747f.png
- https://cdn.dos.zone/original/2X/b/ba0dcf48b54013038a8000cd1b0c3a5efc8be259.png
shortTitle: Korean Dungeon Boy
title: Korean Dungeon Boy | 🕹️Play Korean Dungeon Boy Online | DOS game in browser

---
