---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kret.jsdos
layout: page.njk
ogDescription: Kret is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Kret on mobile.
  On DOS.Zone Kret available to play for free without registration.
permalink: /kret-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/3f715a634a91e2ab7d9e56f08ffabf730df6dfa9.png
- https://cdn.dos.zone/original/2X/5/58289fe2db338ced0c594ece96ceb0c4036de58c.png
shortTitle: Kret
title: Kret | 🕹️Play Kret Online | DOS game in browser

---
