---
layout: page.njk
title: Kret | 🕹️Play Kret Online | Download js-dos bundle
ogDescription: Want to Play Kret? 🕹 On Dos Zone you can play Kret OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Kret
permalink: /kret-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkret.jsdos
description: In Kret the player controls a mole who was born in stuffy basement
  ruined palace. The owner is a sadist who dumps debris on his head. The
  gameplay resembles Tetris. The game starts with a board filled up with debris,
  and the player controls a mole located on the bottom. The aim is to remove the
  blocks from the board so that none of them fell on the head of the mole. An
  additional difficulty is the lack of possibilities to move freely down - the
  mole can only move from side to side and up. The mole is moved down from time
  to time by the computer.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3f715a634a91e2ab7d9e56f08ffabf730df6dfa9.png
  - https://cdn.dos.zone/original/2X/5/58289fe2db338ced0c594ece96ceb0c4036de58c.png
---
