---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kristor.jsdos
layout: page.njk
ogDescription: Kristor is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Kristor on
  mobile. On DOS.Zone Kristor available to play for free without registration.
permalink: /kristor-mar-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/52c3fbb2c53d9db2e1d5215ebc17d6273e4122ec.png
- https://cdn.dos.zone/original/2X/8/8cfaa6cc9716aa1359172dcb4bb2a5c99d339de0.png
shortTitle: Kristor
title: Kristor | 🕹️Play Kristor Online | DOS game in browser

---
