---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kung-fu-louie-vs-the-martial-art-posse.jsdos
layout: page.njk
ogDescription: Kung Fu Louie Vs. The Martial Art Posse is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Kung Fu Louie Vs. The Martial Art Posse on mobile. On DOS.Zone
  Kung Fu Louie Vs. The Martial Art Posse available to play for free without registration.
permalink: /kung-fu-louie-vs-the-martial-art-posse-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/765147b93b1c17b9305dc8a2e79834fda3cdecc8.png
- https://cdn.dos.zone/original/2X/d/d975b9691d64d712560bfd5f9c111748ae8f3c86.png
shortTitle: Kung Fu Louie Vs. The Martial Art Posse
title: Kung Fu Louie Vs. The Martial Art Posse | 🕹️Play Kung Fu Louie Vs. The Martial
  Art Posse Online | DOS game in browser

---
