---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/l-runner-ii.jsdos
layout: page.njk
ogDescription: L. Runner II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in L. Runner
  II on mobile. On DOS.Zone L. Runner II available to play for free without registration.
permalink: /l-runner-ii-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/3e3dfaf29aa35e56df20e60d088fb22ece7f7e4f.png
- https://cdn.dos.zone/original/2X/8/833fd20b976a92a810f877c4a778f755b8c47f54.png
shortTitle: L. Runner II
title: L. Runner II | 🕹️Play L. Runner II Online | DOS game in browser

---
