---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/la-espada-sagrada.jsdos
layout: page.njk
ogDescription: La Espada Sagrada is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  La Espada Sagrada on mobile. On DOS.Zone La Espada Sagrada available to play for
  free without registration.
permalink: /la-espada-sagrada-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/c918acadbf49173659cec41d22071c153b67c823.png
- https://cdn.dos.zone/original/2X/8/8dbf2d9e3bd56daf558c2277a0f27fa2036d6a61.png
shortTitle: La Espada Sagrada
title: La Espada Sagrada | 🕹️Play La Espada Sagrada Online | DOS game in browser

---
