---
layout: page.njk
title: La Espada Sagrada | 🕹️Play La Espada Sagrada Online | Download js-dos bundle
ogDescription: Want to Play La Espada Sagrada? 🕹 On Dos Zone you can play La
  Espada Sagrada OR donwload js-dos bundle for free. Start playing now!
shortTitle: La Espada Sagrada
permalink: /la-espada-sagrada-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fla-espada-sagrada.jsdos
description: La Espada Sagrada is an action game that consists of three phases,
  the third being more arcade-oriented than the first two. The protagonist
  Atahualpa Yupanqui aspires to obtain The Sacred Sword, and problems through
  the two early stages must be solved in order to find it. Then, in a third
  phase full of action, the hero takes advantage of that sword to be victorious.
  The two early stages have no side scrolling, while the third one is an arcade
  with horizontal scroll and non-stop action and big sprites. To access levels 2
  and 3 the player needs a code, which is provided once the previous stage is
  finished.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c918acadbf49173659cec41d22071c153b67c823.png
  - https://cdn.dos.zone/original/2X/8/8dbf2d9e3bd56daf558c2277a0f27fa2036d6a61.png
---
