---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mlabyrinth.jsdos
layout: page.njk
ogDescription: μLabyrinth is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in μLabyrinth
  on mobile. On DOS.Zone μLabyrinth available to play for free without registration.
permalink: /labyrinth-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/ba79ef5c9cdaff17c706a7e0590de891bd160094.png
- https://cdn.dos.zone/original/2X/d/de0fc4ddc36c60f8e679699cd218f6444081b9b2.png
shortTitle: μLabyrinth
title: μLabyrinth | 🕹️Play μLabyrinth Online | DOS game in browser

---
