---
layout: page.njk
title: Labyrinth | 🕹️Play Labyrinth Online | Download js-dos bundle
ogDescription: Want to Play Labyrinth? 🕹 On Dos Zone you can play Labyrinth OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Labyrinth
permalink: /labyrinth-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flabyrinth_____.jsdos
description: A game of maze navigation, in which you race against time through
  random-generated labyrinths of varying difficulty levels.  Not only does the
  complexity of the mazes vary, but another level of challenge is added through
  changes in the size of your viewport - more difficult levels zoom it inwards,
  making for a progressively shrinking section seen at a time. Quick navigation
  rewards you with accrued time bonuses for the next level; pebbles scattered
  through the labyrinth afford you points, as well as the option to drop them as
  landmarks - or to trade them in for a peek at the map.
screenshots:
  - https://cdn.dos.zone/original/2X/8/80d4eb255213d64022826b622c493d880bed51c7.png
  - https://cdn.dos.zone/original/2X/6/6dd6fc9c098583a9056ee243cc7d442f5770b59f.png
---
