---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lakers-versus-celtics-and-the-nba-playoffs.jsdos
layout: page.njk
ogDescription: Lakers versus Celtics and the NBA Playoffs is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Lakers versus Celtics and the NBA Playoffs on mobile. On DOS.Zone
  Lakers versus Celtics and the NBA Playoffs available to play for free without registration.
permalink: /lakers-versus-celtics-and-the-nba-playoffs-sep-1989/
screenshots:
- https://cdn.dos.zone/original/2X/1/15362e334ce6f49c4cb5cc4bc857f42f6a864d77.gif
- https://cdn.dos.zone/original/2X/e/ea06477ea7e387707217eea994ecfaf12fcea825.gif
shortTitle: Lakers versus Celtics and the NBA Playoffs
title: Lakers versus Celtics and the NBA Playoffs | 🕹️Play Lakers versus Celtics and
  the NBA Playoffs Online | DOS game in browser

---
