---
layout: page.njk
title: Las llaves del tiempo | 🕹️Play Las llaves del tiempo Online | Download
  js-dos bundle
ogDescription: Want to Play Las llaves del tiempo? 🕹 On Dos Zone you can play
  Las llaves del tiempo OR donwload js-dos bundle for free. Start playing now!
shortTitle: Las llaves del tiempo
permalink: /las-llaves-del-tiempo-oct-1999/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flas-llaves-del-tiempo.jsdos
description: Las llaves del tiempo (Time Keys) is a freeware interactive fiction
  game made with DISAC engine. Five kinds of colored fonts, three stand-alone
  picture screens, and one stand-alone midi music file are included in the
  package available for download. The story starts with the conversation of
  mysterious persons about four prototypes and coded message received from outer
  space. Player takes a role of man, who is sitting on the toilet after
  yesterday party with his friends at the bar. Also this man remembers that he
  has found a precious pyramid on the street, and he thought that it should
  bring him a luck. The next actions are controlled with typing in the sentences
  in form VERB + NOUN to perform action. Pulling the chain to flush the toilet,
  the protagonist is sucked into whirlwind to be placed in complete darkness.
  Consequentially, he finds himself in another world full of mystery. It is
  player's goal to find out what is going on and how to return back. The game
  was made in Castilian Spanish.
screenshots:
  - https://cdn.dos.zone/original/2X/1/122db4c836997c32335b348f83c5a01fa16e609a.png
  - https://cdn.dos.zone/original/2X/8/89a482c831322db591aaef97713e042a6fb40f23.jpeg
---
