---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/las-llaves-del-tiempo.jsdos
layout: page.njk
ogDescription: Las llaves del tiempo is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Las llaves del tiempo on mobile. On DOS.Zone Las llaves del tiempo available
  to play for free without registration.
permalink: /las-llaves-del-tiempo-oct-1999/
screenshots:
- https://cdn.dos.zone/original/2X/1/122db4c836997c32335b348f83c5a01fa16e609a.png
- https://cdn.dos.zone/original/2X/8/89a482c831322db591aaef97713e042a6fb40f23.jpeg
shortTitle: Las llaves del tiempo
title: Las llaves del tiempo | 🕹️Play Las llaves del tiempo Online | DOS game in browser

---
