---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lasermania.jsdos
layout: page.njk
ogDescription: Lasermania is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Lasermania
  on mobile. On DOS.Zone Lasermania available to play for free without registration.
permalink: /lasermania-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/5234d5ace6656c1a2248d57702716ff83e5cb00d.png
- https://cdn.dos.zone/original/2X/5/50f29dfb6ee3ed66b36cd24bc43c25c56761346b.png
shortTitle: Lasermania
title: Lasermania | 🕹️Play Lasermania Online | DOS game in browser

---
