---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/laser-chess_.jsdos
layout: page.njk
ogDescription: Laser Chess is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Laser Chess
  on mobile. On DOS.Zone Laser Chess available to play for free without registration.
permalink: /laser-chess-sep-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/11f5eb57024bac1855fa648adba617c0090134c5.png
- https://cdn.dos.zone/original/2X/6/67f22231ddbfc10c004c1c9418c8b0e4fdd1a199.png
shortTitle: Laser Chess
title: Laser Chess | 🕹️Play Laser Chess Online | DOS game in browser

---
