---
layout: page.njk
title: Laser Chess | 🕹️Play Laser Chess Online | Download js-dos bundle
ogDescription: Want to Play Laser Chess? 🕹 On Dos Zone you can play Laser Chess
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Laser Chess
permalink: /laser-chess-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flaser-chess.jsdos
description: Chess and destructive laser beams together at last! Laser Chess,
  which is a DOS version of the award winning original, for the most part plays
  like a regular chess game except that some pieces have been replaced by
  deflectors and a laser cannon. You move your pieces on the board as usual but
  have to place your deflectors in strategic positions all the while keeping an
  eye on your opponent doing the same thing during their turn. Turns are used up
  when you move a piece, rotate a piece or fire the laser. Once you feel a
  deflector is in the right place, unleash your laser and shoot the opposing
  players. Be careful though, because some pieces if rotated in the wrong
  direction will bounce the beam or split it in wrong directions and even worse
  can even bounce back at your laser cannon destroying it. Check mate means the
  game is done.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9332e4533f0bc68b003ff4fa52c6b4894b8129e6.png
  - https://cdn.dos.zone/original/2X/9/900373ad1d03a676f19d35c5325b64201234dd65.png
---
