---
layout: page.njk
title: Laser Cycle | 🕹️Play Laser Cycle Online | Download js-dos bundle
ogDescription: Want to Play Laser Cycle? 🕹 On Dos Zone you can play Laser Cycle
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Laser Cycle
permalink: /laser-cycle-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flaser-cycle.jsdos
description: A variation on the TRON -inspired Light Cycle concept; the action
  takes place in an arena where the player must steer the Laser Cycle, keeping
  away from the walls and dodging a series of homing missiles.  The craft leaves
  behind a laser trail, which can be transformed into an energy barrier for
  short sections to block the missiles. Energy barriers cost power, and
  collectible power pods restore it.  According to your chosen skill level, the
  pace gets faster as the game progresses and the missiles are guided more
  efficiently; the length of your energy barrier is reduced, power pods
  disappear faster, and the arena walls start closing in - quick reflexes will
  be required to survive.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ec95a267b6e83d2b10b2becef5d15b7bc5a6d629.png
  - https://cdn.dos.zone/original/2X/d/d30b4287523ccb731ea51fc91aa898a38baebbcc.png
---
