---
layout: page.njk
title: "Last Duel: Inter Planet War 2012 | 🕹️Play Last Duel: Inter Planet War
  2012 Online | Download js-dos bundle"
ogDescription: "Want to Play Last Duel: Inter Planet War 2012? 🕹 On Dos Zone
  you can play Last Duel: Inter Planet War 2012 OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Last Duel: Inter Planet War 2012"
permalink: /last-duel-inter-planet-war-2012-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flast-duel-inter-planet-war-2012.jsdos
description: "Last Duel: Inter Planet War 2012 follows the story of two planets
  that are in war with each other. On the planet Bacula, the Galden Tribe has
  overthrown the government and seized power over the whole world. Now they want
  more – by invading the peaceful planet of Mu and kidnapped Queen Sheets. The
  Mu-ans decided to take action. They asked their best scientists to come up
  with a weapon that will defeat the Galdens. After many long months, they were
  able to develop a vehicle of immense firepower, capable of leaping into the
  air to avoid ground hazards. In addition to that, it can transform into an
  airborne vessel whose purpose is to eliminate any kind of enemy in the sky.
  Players have to guide their vehicle through six difficult levels - alternating
  between ground vehicle and fighter plane – while destroying every Galden that
  gets in their way. While progressing, holes in the ground need to be avoided,
  as players lose one of their ships should they happen to fall through one.
  Shooting power pods scattered around the level allows the player to increase
  their firepower. However, they lose that firepower if one of their ships is
  destroyed."
screenshots:
  - https://cdn.dos.zone/original/2X/9/946ad64ed9085a930cebf6441cefc8469b206a1f.png
  - https://cdn.dos.zone/original/2X/3/3cd7e28a63b7b8c578d246c458f5e4c5e2456206.png
---
