---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/last-duel-inter-planet-war-2012.jsdos
layout: page.njk
ogDescription: 'Last Duel: Inter Planet War 2012 is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Last Duel: Inter Planet War 2012 on mobile. On DOS.Zone Last Duel: Inter
  Planet War 2012 available to play for free without registration.'
permalink: /last-duel-inter-planet-war-2012-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/946ad64ed9085a930cebf6441cefc8469b206a1f.png
- https://cdn.dos.zone/original/2X/3/3cd7e28a63b7b8c578d246c458f5e4c5e2456206.png
shortTitle: 'Last Duel: Inter Planet War 2012'
title: 'Last Duel: Inter Planet War 2012 | 🕹️Play Last Duel: Inter Planet War 2012
  Online | DOS game in browser'

---
