---
layout: page.njk
title: Last Half of Darkness III | 🕹️Play Last Half of Darkness III Online |
  Download js-dos bundle
ogDescription: Want to Play Last Half of Darkness III? 🕹 On Dos Zone you can
  play Last Half of Darkness III OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Last Half of Darkness III
permalink: /last-half-of-darkness-iii-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flast-half-of-darkness-iii.jsdos
description: The sequel to Last Half of Darkness Part II starts where Part II
  left off. The hero finds himself stranded alone on an island inhabited by
  living dead (which seem to not have vicious or violent intentions) and, again,
  has to find the girl he saved in the previous chapters of the saga. The third
  installment of the series utilizes a different engine and interface. Instead
  of selecting concrete verb commands, the players interacts with the
  environment in a point-and-click fashion. Another difference is the
  introduction of a life bar for the player character, which reduces the amount
  of instant death moments, replacing them with damage taken by the protagonist.
  The exploration is also more open-ended than in the previous installments.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f8250d9a68ff6fe87016e9aa73a46045f32ae75b.png
  - https://cdn.dos.zone/original/2X/4/4f33ebd8eab852870fc38f6b4ef6a5bb97bf86a5.png
---
