---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/last-half-of-darkness-iii.jsdos
layout: page.njk
ogDescription: Last Half of Darkness III is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Last Half of Darkness III on mobile. On DOS.Zone Last Half of Darkness III available
  to play for free without registration.
permalink: /last-half-of-darkness-iii-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f8250d9a68ff6fe87016e9aa73a46045f32ae75b.png
- https://cdn.dos.zone/original/2X/4/4f33ebd8eab852870fc38f6b4ef6a5bb97bf86a5.png
shortTitle: Last Half of Darkness III
title: Last Half of Darkness III | 🕹️Play Last Half of Darkness III Online | DOS game
  in browser

---
