---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/le-fetiche-maya.jsdos
layout: page.njk
ogDescription: Le Fetiche Maya is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Le Fetiche
  Maya on mobile. On DOS.Zone Le Fetiche Maya available to play for free without registration.
permalink: /le-fetiche-maya-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8f8ad6efef7577caa83e4cba6de2807a71b97b00.gif
- https://cdn.dos.zone/original/2X/c/c5073c9b2965b249b752750cc477a3d6b33a3585.gif
shortTitle: Le Fetiche Maya
title: Le Fetiche Maya | 🕹️Play Le Fetiche Maya Online | DOS game in browser

---
