---
layout: page.njk
title: Le Fetiche Maya | 🕹️Play Le Fetiche Maya Online | Download js-dos bundle
ogDescription: Want to Play Le Fetiche Maya? 🕹 On Dos Zone you can play Le
  Fetiche Maya OR donwload js-dos bundle for free. Start playing now!
shortTitle: Le Fetiche Maya
permalink: /le-fetiche-maya-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fle-fetiche-maya.jsdos
description: "As an intrepid explorer, buy equipments, tools. and head into the
  wild Yucatan jungles to find the mysterious Mayan fetish. Two modes are
  available: a platform mode and a 3D mode where the player drives a Jeep."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8f8ad6efef7577caa83e4cba6de2807a71b97b00.gif
  - https://cdn.dos.zone/original/2X/c/c5073c9b2965b249b752750cc477a3d6b33a3585.gif
---
