---
layout: page.njk
title: Leather Goddesses of Phobos | 🕹️Play Leather Goddesses of Phobos Online
  | Download js-dos bundle
ogDescription: Want to Play Leather Goddesses of Phobos? 🕹 On Dos Zone you can
  play Leather Goddesses of Phobos OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Leather Goddesses of Phobos
permalink: /leather-goddesses-of-phobos-sep-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fleather-goddesses-of-phobos.jsdos
description: The year is 1936, and suddenly the protagonist is abducted by the
  Leather Goddesses for the final testing in the plan which will enslave every
  man and woman on earth. These Leather Goddesses of Phobos are just finishing
  up their plans for the invasion of Earth. If the hero fails to escape and save
  humanity, the Leather Goddesses will turn the Earth into their pleasure dome.
  Leather Goddesses of Phobos is a text adventure with humorous overtones. The
  player uses standard commands in the text parser to observe his environment
  and pick up items. The game's 'naughtiness' level can be adjusted between Tame
  (G), Suggestive (PG), and Lewd (R).
screenshots:
  - https://cdn.dos.zone/original/2X/3/3d7d5974ae934dc2c58675369e544026c39e983a.png
  - https://cdn.dos.zone/original/2X/9/9f3f44f3439c6731302f80f07ee7eef16d6728b0.gif
---
