---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/leather-goddesses-of-phobos.jsdos
layout: page.njk
ogDescription: Leather Goddesses of Phobos is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Leather Goddesses of Phobos on mobile. On DOS.Zone Leather Goddesses of Phobos
  available to play for free without registration.
permalink: /leather-goddesses-of-phobos-sep-1986/
screenshots:
- https://cdn.dos.zone/original/2X/3/3d7d5974ae934dc2c58675369e544026c39e983a.png
- https://cdn.dos.zone/original/2X/9/9f3f44f3439c6731302f80f07ee7eef16d6728b0.gif
shortTitle: Leather Goddesses of Phobos
title: Leather Goddesses of Phobos | 🕹️Play Leather Goddesses of Phobos Online | DOS
  game in browser

---
