---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lee-trevinos-fighting-golf.jsdos
layout: page.njk
ogDescription: Lee Trevino's Fighting Golf is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Lee Trevino's Fighting Golf on mobile. On DOS.Zone Lee Trevino's Fighting Golf
  available to play for free without registration.
permalink: /lee-trevinos-fighting-golf-1988/
screenshots:
- https://cdn.dos.zone/original/2X/9/993e6fab893e653b9452dae5a7882d9fbdf6d418.png
- https://cdn.dos.zone/original/2X/9/9500a66d6e901e4383f3a3dc5cc9c94d5d4e7f69.png
shortTitle: Lee Trevino's Fighting Golf
title: Lee Trevino's Fighting Golf | 🕹️Play Lee Trevino's Fighting Golf Online | DOS
  game in browser

---
