---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/legacy-of-the-necromancer-part-ii-the-palace-of-the-necromancer.jsdos
layout: page.njk
ogDescription: 'Legacy of the Necromancer: Part II - The Palace of the Necromancer
  is a famous and most played DOS game that now is available to play in browser. With
  virtual mobile controls you also can play in Legacy of the Necromancer: Part II
  - The Palace of the Necromancer on mobile. On DOS.Zone Legacy of the Necromancer:
  Part II - The Palace of the Necromancer available to play for free without registration.'
permalink: /legacy-of-the-necromancer-part-ii-the-palace-of-the-necromancer-1989/
screenshots:
- https://cdn.dos.zone/original/2X/5/53e7d46af5fa20c160758449ca306bc531a9567e.png
- https://cdn.dos.zone/original/2X/b/b4a802ea73c2483bf949852d9952a272c838b996.png
shortTitle: 'Legacy of the Necromancer: Part II - The Palace of the Necromancer'
title: 'Legacy of the Necromancer: Part II - The Palace of the Necromancer | 🕹️Play
  Legacy of the Necromancer: Part II - The Palace of the Necromancer Online | DOS
  game in browser'

---
