---
layout: page.njk
title: Legend of the Silver Talisman | 🕹️Play Legend of the Silver Talisman
  Online | Download js-dos bundle
ogDescription: Want to Play Legend of the Silver Talisman? 🕹 On Dos Zone you
  can play Legend of the Silver Talisman OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Legend of the Silver Talisman
permalink: /legend-of-the-silver-talisman-mar-30-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flegend-of-the-silver-talisman.jsdos
description: "Long time ago, the people of Yoneda lived in peace protected by
  the magical Silver Talisman, created by the Council of the Grand Wizards. As
  the power-hungry mages split into the rivaling Council of Light and the League
  of Darkness, a war broke out, lasting many generations. Chaos was brought unto
  the land as the Talisman was stolen. Retrieve it from the clutches of evil to
  restore order. Legend of the Silver Talisman is an action game (with light RPG
  mechanics) inspired by coin-operated machine hit Gauntlet, with visuals
  similar to Ultima 6. Two players (the other character goes under computer
  control in single player mode) compete over items and power-ups to be found in
  enemy infested dungeon mazes: swords, wands, shields, helmets, armor, scrolls
  and potions. Combat is done by simply running into the creature/player. The
  first episode (out of 3) was released as shareware. From 2003 the full game is
  available as freeware."
screenshots:
  - https://cdn.dos.zone/original/2X/f/f5a71b8436037464c83d8935743e8e609b00b8a8.png
  - https://cdn.dos.zone/original/2X/5/5e0ce882fc7657c7557bc34871852f15ab9aa30b.png
---
