---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/legends-of-valour.jsdos
layout: page.njk
ogDescription: Legends of Valour is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Legends of Valour on mobile. On DOS.Zone Legends of Valour available to play for
  free without registration.
permalink: /legends-of-valour-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/990bde7352e617d9ad4d67e0066192abac5b51b7.png
- https://cdn.dos.zone/original/2X/7/78e7cfdc80a2da05c5f2034cb9f4568b67621490.png
shortTitle: Legends of Valour
title: Legends of Valour | 🕹️Play Legends of Valour Online | DOS game in browser

---
