---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/legend-of-the-red-dragon.jsdos
layout: page.njk
ogDescription: Legend of the Red Dragon is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Legend of the Red Dragon on mobile. On DOS.Zone Legend of the Red Dragon available
  to play for free without registration.
permalink: /legend-of-the-red-dragon-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/3d01b09c5c26c30b135068210c518a43a0c77d65.png
- https://cdn.dos.zone/original/2X/8/83f10de9cabc409f5a39da492624a2cd0c1802e7.png
shortTitle: Legend of the Red Dragon
title: Legend of the Red Dragon | 🕹️Play Legend of the Red Dragon Online | DOS game
  in browser

---
