---
layout: page.njk
title: "Legend of the Red Dragon II: New World | 🕹️Play Legend of the Red
  Dragon II: New World Online | Download js-dos bundle"
ogDescription: "Want to Play Legend of the Red Dragon II: New World? 🕹 On Dos
  Zone you can play Legend of the Red Dragon II: New World OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Legend of the Red Dragon II: New World"
permalink: /legend-of-the-red-dragon-ii-new-world-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flegend-of-the-red-dragon-ii-new-world.jsdos
description: As a follow-up to Legend of the Red Dragon, a game that burst at
  its seams with derivative borrowing, no one was expecting such a radical
  departure in approach and style as they got in New World -- something akin to
  an unwholesome marriage of Ultima, ZZT and Habitat, a realtime multiplayer BBS
  door effectively amounting to a roguelike MUD with a huge sandbox for free
  play alone (even locally) or with all your friends. A massive world map
  permits movement between numerous cities and regions and involvement in their
  respective political intrigues (and outright military campaigns!) against each
  other; alternately, a player wishing to fish on the end of the dock or collect
  berries for Mom to bake into pie can happily play on that scale as long as
  they like.  There's no shortage of quests (especially with the option to
  include user-contributed in-game modules) and no lack of opportunities to
  increase experience through the slaying of random encounters.  On the other
  hand if you prefer you can just sit around the tavern or picnic blanket and
  chew the fat with your buddies, exchanging comments and trading curious items
  acquired in your journeys.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7395eaa017c7a171117b15d8f920ff0d929dc54a.png
  - https://cdn.dos.zone/original/2X/a/a569d16f21f99fa8ac8fe19205bbb2afe880255b.png
---
