---
layout: page.njk
title: "Legends of Murder: Volume 1 - Stonedale Castle | 🕹️Play Legends of
  Murder: Volume 1 - Stonedale Castle Online | Download js-dos bundle"
ogDescription: "Want to Play Legends of Murder: Volume 1 - Stonedale Castle? 🕹
  On Dos Zone you can play Legends of Murder: Volume 1 - Stonedale Castle OR
  donwload js-dos bundle for free. Start playing now!"
shortTitle: "Legends of Murder: Volume 1 - Stonedale Castle"
permalink: /legends-of-murder-volume-1-stonedale-castle-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flegends-of-murder-volume-1-stonedale-castle.jsdos
description: Legends of Murder is a fantasy/role-playing/murder mystery game. In
  Volume 1 of the series you, Inspector, have been summoned to a small castle
  near the harbor city of Erdwyn to investigate the murder of the King. Hired by
  the advisor of the deceased King, an elf named Ash, you set foot in the castle
  after a long journey across the sea, and the game begins... The ultimate
  purpose in the game is to discover the murderer of the King. The character is
  walking on a tiny map sized in 1/5 of the screen, and when he comes inside new
  room, the description is written. There are numerous riddles and puzzles to
  solve along the way, as well as many people to meet and places to explore. It
  is very important that you talk to everyone you encounter, search all rooms of
  the castle you enter, and make note of what you learn for later reference. The
  Inspector (of Fighter/Mage class) has a number of personal attributes, common
  for RPGs, which affect the play of the game. Spells must be learned from
  special books. The higher a character's level, the more powerful the spell he
  can learn.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bf6b3904200ad77070819cbafa09d9aea8ad7cc2.gif
  - https://cdn.dos.zone/original/2X/5/5991e5830ab53563c05f3bcb493eddcf93aa115e.gif
---
