---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/larry-1.jsdos
- lang: RUS
  mobile: false
  title: ''
  type: js
  url: custom/dos/LarryVga.jsdos
layout: page.njk
ogDescription: 'Leisure Suit Larry in the Land of the Lounge Lizards is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Leisure Suit Larry in the Land of the Lounge Lizards on mobile. On
  Leisure Suit Larry in the Land of the Lounge Lizards is available to play for free without registration.'
permalink: /leisure-suit-larry-in-the-land-of-the-lounge-lizards/
screenshots:
- https://cdn.dos.zone/custom/screenshots/larry-1.png
shortTitle: 'Leisure Suit Larry in the Land of the Lounge Lizards'
title: 'Leisure Suit Larry in the Land of the Lounge Lizards | 🕹️Play Leisure Suit Larry in the Land of the Lounge Lizards Online | DOS game in browser'

---
