---
layout: page.njk
title: Lemmings | 🕹️Play Lemmings Online | Download js-dos bundle
ogDescription: Want to Play Lemmings? 🕹 On Dos Zone you can play Lemmings OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Lemmings
permalink: /lemmings-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flemmings.jsdos
description: ""
screenshots: []
---
