---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lemmings.jsdos
layout: page.njk
ogDescription: Lemmings is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Lemmings on
  mobile. On DOS.Zone Lemmings available to play for free without registration.
permalink: /lemmings-1991/
screenshots: []
shortTitle: Lemmings
title: Lemmings | 🕹️Play Lemmings Online | DOS game in browser

---
