---
layout: page.njk
title: Lemmings & Oh No! More Lemmings | 🕹️Play Lemmings & Oh No! More Lemmings
  Online | Download js-dos bundle
ogDescription: Want to Play Lemmings & Oh No! More Lemmings? 🕹 On Dos Zone you
  can play Lemmings & Oh No! More Lemmings OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Lemmings & Oh No! More Lemmings
permalink: /lemmings-oh-no-more-lemmings-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flemmings-oh-no-more-lemmings.jsdos
description: "This port contains two complete games from the classic puzzle
  series.  There are 209 levels to work through, all featuring the classic
  Lemmings formula: the player must assign roles (digger, climber, etc.) to
  marching Lemmings in order to prevent them from meeting terrible fates."
screenshots:
  - https://cdn.dos.zone/original/2X/1/1e0fdfb7cfc32d74a21eeeb9ee017f31906b540.png
  - https://cdn.dos.zone/original/2X/b/bd0302ee7e50ba323686cce152e92b9247c0ef17.png
---
