---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lempereur.jsdos
layout: page.njk
ogDescription: L'Empereur is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in L'Empereur
  on mobile. On DOS.Zone L'Empereur available to play for free without registration.
permalink: /lempereur-1991/
screenshots:
- https://cdn.dos.zone/original/2X/b/bde910a1dd461f9eb4359b7e649e78caceca4432.png
- https://cdn.dos.zone/original/2X/8/80000bdd9b8cee1a6522b5a85f5eb3af068f3db1.png
shortTitle: L'Empereur
title: L'Empereur | 🕹️Play L'Empereur Online | DOS game in browser

---
