---
layout: page.njk
title: Lettrix | 🕹️Play Lettrix Online | Download js-dos bundle
ogDescription: Want to Play Lettrix? 🕹 On Dos Zone you can play Lettrix OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Lettrix
permalink: /lettrix-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flettrix.jsdos
description: Lettrix is a puzzle game in which the player gets presented with a
  structure, e.g. a big "A". This needs to be rebuilt by using eight differently
  formed blocks (some reminiscent of Tetris shapes) which can be rotated and
  placed on the playfield. Those blocks are limited in number, e.g. the player
  may have ten of one and six of another available to use. Wrongly placed blocks
  can be picked up again, but the player fights against a time limit.  When
  playing with two players, they work together at the same puzzle and alternate
  their moves.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d044670288b07ce6216c1930c7ac19c0ffe8d6f8.png
  - https://cdn.dos.zone/original/2X/9/9fb55d85e9453c563f43320cd1461d91cbe9b95.png
---
