---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lifesbattle.jsdos
layout: page.njk
ogDescription: LifesBattle is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in LifesBattle
  on mobile. On DOS.Zone LifesBattle available to play for free without registration.
permalink: /lifesbattle-1997/
screenshots:
- https://cdn.dos.zone/original/2X/8/8e9d40d2678460214f905fe56c165d68a35b39ef.png
- https://cdn.dos.zone/original/2X/8/81e8f644314e01a95814b703881cfdd80185c591.png
shortTitle: LifesBattle
title: LifesBattle | 🕹️Play LifesBattle Online | DOS game in browser

---
