---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/little-fighter.jsdos
layout: page.njk
ogDescription: Little Fighter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Little Fighter
  on mobile. On DOS.Zone Little Fighter available to play for free without registration.
permalink: /little-fighter-1995/
screenshots:
- https://cdn.dos.zone/original/2X/a/a536deccf6993e73db8df3a35e579a630ef3729e.png
- https://cdn.dos.zone/original/2X/c/c7b5fe6f234e08e5bf66aef9cad6092c38d651f4.png
shortTitle: Little Fighter
title: Little Fighter | 🕹️Play Little Fighter Online | DOS game in browser

---
