---
layout: page.njk
title: Living Ball | 🕹️Play Living Ball Online | Download js-dos bundle
ogDescription: Want to Play Living Ball? 🕹 On Dos Zone you can play Living Ball
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Living Ball
permalink: /living-ball-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fliving-ball.jsdos
description: Living Ball boasts of "the largest pinball table ever created", and
  can back it up with the 99-level table "Wasteland", along with two others of
  smaller size. While the level of quality may be higher in more traditional
  pinball games, the sheer size of the tables is quite impressive. The game
  features three modes. Adventure, in which the three tables are connected;
  arcade, which is the traditional style allowing you to select any of the three
  tables; and bonus, allowing you to play the six bonus stages. While the Arcade
  and Bonus modes require no explanation, the adventure mode does. It starts you
  out in the Wasteland, but has hidden links to both of the other tables,
  similar to the links to the bonus tables, but much less common. Also of note
  is the storyline that attempts to provide a background to the game.
screenshots:
  - https://cdn.dos.zone/original/2X/6/627ea4db457a7fdb062de83ad885a2adf97fe607.png
  - https://cdn.dos.zone/original/2X/f/fa28df449216afcac98f37f00045de65f57ce936.png
---
