---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/llamatron-2112.jsdos
layout: page.njk
ogDescription: 'Llamatron: 2112 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Llamatron:
  2112 on mobile. On DOS.Zone Llamatron: 2112 available to play for free without registration.'
permalink: /llamatron-2112-aug-05-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/48ae41db02e2f8b28dd9706d0648e98d5de338a3.png
- https://cdn.dos.zone/original/2X/3/31b345ce82a4b32fc17102e11adf72e1e1a7fa9e.png
shortTitle: 'Llamatron: 2112'
title: 'Llamatron: 2112 | 🕹️Play Llamatron: 2112 Online | DOS game in browser'

---
