---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/locman-i.jsdos
layout: page.njk
ogDescription: Locman I is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Locman I on
  mobile. On DOS.Zone Locman I available to play for free without registration.
permalink: /locman-i-1991/
screenshots:
- https://cdn.dos.zone/original/2X/8/8c897d710fa2ca59ce41bf8b18452e05e9dadb27.png
- https://cdn.dos.zone/original/2X/5/5202dc1a46885faa89b563faaa2dce141618e75a.png
shortTitle: Locman I
title: Locman I | 🕹️Play Locman I Online | DOS game in browser

---
