---
layout: page.njk
title: Locomotion | 🕹️Play Locomotion Online | Download js-dos bundle
ogDescription: Want to Play Locomotion? 🕹 On Dos Zone you can play Locomotion
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Locomotion
permalink: /locomotion-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flocomotion.jsdos
description: Locomotion is an arcade-puzzle game in which you are presented with
  a top-down view of a railway network with a number of stations and junctions.
  Trains are released from stations at random intervals, each with a destination
  station. Your job is to get a set number of them to this destination within a
  time limit. You control a cursor which can click on each of the junctions,
  toggling their positions. When trains reach a junction which is not set in a
  direction they can move through, they will stop until you move it. When they
  reach the wrong station they simply reverse and continue. If two trains make
  contact, they are lost, and a penalty is accrued.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6770050c735da262d0af69f1dfdedf41ca2ce037.png
  - https://cdn.dos.zone/original/2X/6/6854118ef6b7936322c7ac16c3d10ad345dae87b.png
---
