---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lode-runner.jsdos
layout: page.njk
ogDescription: Lode Runner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Lode Runner
  on mobile. On DOS.Zone Lode Runner available to play for free without registration.
permalink: /lode-runner-mar-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/50065c3adeb785d4be2c334c03eabf46cfc77f03.png
- https://cdn.dos.zone/original/2X/1/1a591b40df8af801942c793b6c84257376bbaa39.png
shortTitle: Lode Runner
title: Lode Runner | 🕹️Play Lode Runner Online | DOS game in browser

---
