---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/logcal.jsdos
layout: page.njk
ogDescription: Log!cal is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Log!cal on
  mobile. On DOS.Zone Log!cal available to play for free without registration.
permalink: /log-cal-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/fbd989a090e6dbb919490e056fa526db0fce95bf.gif
- https://cdn.dos.zone/original/2X/4/436f8a1e50119896d98ae90180b99fc42a0cafdb.gif
shortTitle: Log!cal
title: Log!cal | 🕹️Play Log!cal Online | DOS game in browser

---
