---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lomax-boulders.jsdos
layout: page.njk
ogDescription: Lomax Boulders is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Lomax Boulders
  on mobile. On DOS.Zone Lomax Boulders available to play for free without registration.
permalink: /lomax-boulders-1996/
screenshots:
- https://cdn.dos.zone/original/2X/9/9a55bc0c1e00172abddd768c06513b48a2549c9d.png
- https://cdn.dos.zone/original/2X/9/9541a3c78b1fa41866533d5b9181f9bf821446a6.png
shortTitle: Lomax Boulders
title: Lomax Boulders | 🕹️Play Lomax Boulders Online | DOS game in browser

---
