---
layout: page.njk
title: Lomax Boulders | 🕹️Play Lomax Boulders Online | Download js-dos bundle
ogDescription: Want to Play Lomax Boulders? 🕹 On Dos Zone you can play Lomax
  Boulders OR donwload js-dos bundle for free. Start playing now!
shortTitle: Lomax Boulders
permalink: /lomax-boulders-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flomax-boulders.jsdos
description: >-
  Lomax Boulders is a game akin to the basic game-play of Boulder Dash. The
  story behind the game is that Logan Maxwell, (hero, explorer and of course
  fearless), heard about a thousand year old puzzle deep in the South of Africa.
  After studying long and hard, he found the secret, and went mining for jewels.
  The game features a mixture of rocks, jewels and earth. Lomax must dig through
  the earth and collect the jewels without being crushed by falling rocks. The
  game features

  sound effects - but no music,

  256 color graphics,

  5 levels of difficulty, and

  smooth parallax scrolling.

  The full game has fifty deadly caverns of which the first thirteen were released as shareware.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9a55bc0c1e00172abddd768c06513b48a2549c9d.png
  - https://cdn.dos.zone/original/2X/9/9541a3c78b1fa41866533d5b9181f9bf821446a6.png
---
