---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/loopy.jsdos
layout: page.njk
ogDescription: Loopy is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Loopy on mobile.
  On DOS.Zone Loopy available to play for free without registration.
permalink: /loopy-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/97366bafa0f84c4b89c6663a311f512d803cd73b.png
- https://cdn.dos.zone/original/2X/e/e9219795ff7b813f153f94d59bf400e0adf9b4fc.png
shortTitle: Loopy
title: Loopy | 🕹️Play Loopy Online | DOS game in browser

---
