---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lords-of-midnight.jsdos
layout: page.njk
ogDescription: Lords of Midnight is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Lords of Midnight on mobile. On DOS.Zone Lords of Midnight available to play for
  free without registration.
permalink: /lords-of-midnight-1995/
screenshots:
- https://cdn.dos.zone/original/2X/6/62adc39ffe79bba77428a3322e8cb217ff58e3ca.png
- https://cdn.dos.zone/original/2X/f/f4fccb8f880d4495ee1b89dc1c8dded0be88b933.png
shortTitle: Lords of Midnight
title: Lords of Midnight | 🕹️Play Lords of Midnight Online | DOS game in browser

---
