---
layout: page.njk
title: Losing Your Grip | 🕹️Play Losing Your Grip Online | Download js-dos bundle
ogDescription: Want to Play Losing Your Grip? 🕹 On Dos Zone you can play Losing
  Your Grip OR donwload js-dos bundle for free. Start playing now!
shortTitle: Losing Your Grip
permalink: /losing-your-grip-feb-15-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flosing-your-grip.jsdos
description: In Losing Your Grip, the protagonist, Terry, is in rehab for
  nicotine addiction. When the game begins, Terry is standing in a muddy glade
  as the rain pours down. Soon, a human head, buried up in the mud, explains,
  mysteriously, that Terry has "pieces to recover", and he is left to his own
  devices. Losing Your Grip is an interactive fiction game. Commands, like go
  north, are entered into a text parser, and the game responds with text as
  well.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d9fa7db12eb15f4f965fe339da26760066abd3ab.png
  - https://cdn.dos.zone/original/2X/6/6e3f2a68686045bf5420f3521aeb28b288e8fca8.png
---
