---
layout: page.njk
title: Lost | 🕹️Play Lost Online | Download js-dos bundle
ogDescription: Want to Play Lost? 🕹 On Dos Zone you can play Lost OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Lost
permalink: /lost-jan-04-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flost.jsdos
description: Lost is a single-player, shareware, 3D maze exploration game. In
  the shareware version of the game there is a single maze to be explored, in
  the registered version there are five. In each game the player must find and
  collect five gold coins on each level in order to leave the maze and progress
  to the next level. In the final level there's also an energy crystal to be
  found. The game has basic sound effects, bangs and bleeps when the player
  finds a coin or runs into a wall, and is played with either the keyboard,
  mouse, or joystick.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9db30676f5cedc5a1e840e48ed24c1b255220b69.png
  - https://cdn.dos.zone/original/2X/1/14f132fbfa5f604d413f433fba00f3427d75b3d5.png
---
