---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lost.jsdos
layout: page.njk
ogDescription: Lost is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Lost on mobile.
  On DOS.Zone Lost available to play for free without registration.
permalink: /lost-jan-04-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9db30676f5cedc5a1e840e48ed24c1b255220b69.png
- https://cdn.dos.zone/original/2X/1/14f132fbfa5f604d413f433fba00f3427d75b3d5.png
shortTitle: Lost
title: Lost | 🕹️Play Lost Online | DOS game in browser

---
