---
layout: page.njk
title: Lots -o- $lot$ | 🕹️Play Lots -o- $lot$ Online | Download js-dos bundle
ogDescription: Want to Play Lots -o- $lot$? 🕹 On Dos Zone you can play Lots -o-
  $lot$ OR donwload js-dos bundle for free. Start playing now!
shortTitle: Lots -o- $lot$
permalink: /lots-o-lot-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flots-o-lot.jsdos
description: >-
  This is an add-on game program for use with one of the following Capstone
  games:


  Trump Castle: The Ultimate Casino Gambling Simulation

  The Big Deal

  Trump Castle II

  Casinos of the World

  Casino


  The game comes with 9 slot machines which include 3-Wheel, 5-Wheel, and Progressives.
screenshots: []
---
