---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/luigi-spaghetti.jsdos
layout: page.njk
ogDescription: Luigi & Spaghetti is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Luigi & Spaghetti on mobile. On DOS.Zone Luigi & Spaghetti available to play for
  free without registration.
permalink: /luigi-spaghetti-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/fb21fca4f8e2e33e338f76769457d03a33d41494.png
- https://cdn.dos.zone/original/2X/e/e20e3f99e14f3cd7e66f46924d6df072d2326404.png
shortTitle: Luigi & Spaghetti
title: Luigi & Spaghetti | 🕹️Play Luigi & Spaghetti Online | DOS game in browser

---
