---
layout: page.njk
title: Luigi & Spaghetti | 🕹️Play Luigi & Spaghetti Online | Download js-dos bundle
ogDescription: Want to Play Luigi & Spaghetti? 🕹 On Dos Zone you can play Luigi
  & Spaghetti OR donwload js-dos bundle for free. Start playing now!
shortTitle: Luigi & Spaghetti
permalink: /luigi-spaghetti-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fluigi-spaghetti.jsdos
description: Aliens invade the earth and capture all the heroes who could defend
  us. With the modern weapons that they have, the aliens work to eradicate all
  lifeforms. In this moment, Luigi and his pet Spaghetti (a worm) decide to
  liberate all the heroes. You take control of Luigi, and Spaghetti will help
  you to accomplish your mission. First, smash every alien egg or hatched aliens
  by jumping on them. Second, release prisoned hero (Indiana Jones, Luke
  Skywalker and many more). The game is divided into 7 various locations -
  Egypt, Amazon, Italy, Camelot, U.S.A., Transylvania and last is Moon. Each
  place has its own environment and creatures so in Egypt you'll meet mummies
  and pharaohs with pyramids in the background whilst Transylvania, for example
  is occupied by classic horror characters like Dracula or Frankenstein. Also
  remember that every touch of enemy is wounding unless you momentarily
  transform to Superman by finding "S" icon.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fb21fca4f8e2e33e338f76769457d03a33d41494.png
  - https://cdn.dos.zone/original/2X/e/e20e3f99e14f3cd7e66f46924d6df072d2326404.png
---
