---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lunar-explorer-a-space-flight-simulator.jsdos
layout: page.njk
ogDescription: 'Lunar Explorer: A Space Flight Simulator is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Lunar Explorer: A Space Flight Simulator on mobile. On DOS.Zone
  Lunar Explorer: A Space Flight Simulator available to play for free without registration.'
permalink: /lunar-explorer-a-space-flight-simulator-jul-1986/
screenshots:
- https://cdn.dos.zone/original/2X/9/99faba6b19fbefdafd71e1555fa0bbe584db0ca2.png
- https://cdn.dos.zone/original/2X/7/7736fd647466880380f301453246cc8cb5acb511.png
shortTitle: 'Lunar Explorer: A Space Flight Simulator'
title: 'Lunar Explorer: A Space Flight Simulator | 🕹️Play Lunar Explorer: A Space
  Flight Simulator Online | DOS game in browser'

---
