---
layout: page.njk
title: Lunar Take | 🕹️Play Lunar Take Online | Download js-dos bundle
ogDescription: Want to Play Lunar Take? 🕹 On Dos Zone you can play Lunar Take
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Lunar Take
permalink: /lunar-take-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flunar-take.jsdos
description: Similar to other games like Lunar Lander or Rocket Lander, in Lunar
  Take the player must land a space craft in a land platform on the moon's
  surface. The player must be careful with the meteors, clouds of acid, enemies
  and mountains. And, also, the space craft has a limited amount of fuel. The
  difficulty level will increase as the player clears levels. The player has 3
  lives to complete the game. There are high-scores table for the best players.
screenshots:
  - https://cdn.dos.zone/original/2X/1/12ee0cc942be35d256c4f20378b3000bef0694da.png
  - https://cdn.dos.zone/original/2X/3/37c43b06b50ff9d21a17c91c25e32457c766dfd8.png
---
