---
layout: page.njk
title: "Lunar Explorer: A Space Flight Simulator | 🕹️Play Lunar Explorer: A
  Space Flight Simulator Online | Download js-dos bundle"
ogDescription: "Want to Play Lunar Explorer: A Space Flight Simulator? 🕹 On Dos
  Zone you can play Lunar Explorer: A Space Flight Simulator OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Lunar Explorer: A Space Flight Simulator"
permalink: /lunar-explorer-a-space-flight-simulator-jul-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flunar-explorer-a-space-flight-simulator.jsdos
description: Lunar Explorer is a real-time 3D simulation of flight from lunar
  orbit to moon landing.  Using either keyboard or joystick controls, the player
  must master the forces of gravity and inertial motion as he maneuvers a Lunar
  Landing Vehicle (LLV) over hazardous terrain. Flights can begin at the
  Tranquility Base landing pad, in close approach to the lunar base, or in orbit
  around the Moon.  This LLV simulator exposes moon pilots to the dangers of
  inaccurate navigation, inefficient fuel consumption, and incorrect
  maneuvering.  If fuel is consumed before the LLV reaches its destination, the
  craft will either crash into the lunar surface or orbit the Moon "forever."
  The cockpit window presents the lunar landscape from the pilot's
  perspective.  Solid color 3-D graphics depict important environmental features
  such as lunar bases, refueling stations, craters, and constellations. The
  accompanying manual not only describes how to operate the game, but also
  describes in detail NASA's hypothetical plans for a space station and lunar
  mining facility.  Another section describes the game's use in the classroom.
screenshots:
  - https://cdn.dos.zone/original/2X/9/99faba6b19fbefdafd71e1555fa0bbe584db0ca2.png
  - https://cdn.dos.zone/original/2X/7/7736fd647466880380f301453246cc8cb5acb511.png
---
