---
layout: page.njk
title: M1 Tank Platoon | 🕹️Play M1 Tank Platoon Online | Download js-dos bundle
ogDescription: Want to Play M1 Tank Platoon? 🕹 On Dos Zone you can play M1 Tank
  Platoon OR donwload js-dos bundle for free. Start playing now!
shortTitle: M1 Tank Platoon
permalink: /m1-tank-platoon-oct-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fm1-tank-platoon.jsdos
description: A very encompassing game that allowed players to issue orders to
  Tanks, AA units, Aircraft, Artillery and Infantry in a campaign against Warsaw
  Pact units in Europe, while specifically controlling a platoon of 4 M1
  tanks.  The player could jump into the position of the driver, gunner or
  commander of any of the tanks to view the world from a 1st person perspective,
  or work from a tactical map to command all his forces.  Characters in the M1
  platoon actually increased in skill as they survived battles.
screenshots:
  - https://cdn.dos.zone/original/2X/8/802c46bb7a932b6d9981513da088cae3cd21e42f.png
  - https://cdn.dos.zone/original/2X/e/e2abadc0a49e01f2003a77f82801519e2c5848d0.png
---
