---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mad-mix-2-en-el-castillo-de-los-fantasmas.jsdos
layout: page.njk
ogDescription: 'Mad Mix 2: En el castillo de los fantasmas is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Mad Mix 2: En el castillo de los fantasmas on mobile. On DOS.Zone
  Mad Mix 2: En el castillo de los fantasmas available to play for free without registration.'
permalink: /mad-mix-2-en-el-castillo-de-los-fantasmas-1990/
screenshots:
- https://cdn.dos.zone/original/2X/6/6dbba694fbf32d2bf10227c856a2519511549e31.png
- https://cdn.dos.zone/original/2X/6/653d8c9dc3365603cee6a2d62e44bb1d897089af.png
shortTitle: 'Mad Mix 2: En el castillo de los fantasmas'
title: 'Mad Mix 2: En el castillo de los fantasmas | 🕹️Play Mad Mix 2: En el castillo
  de los fantasmas Online | DOS game in browser'

---
