---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/madhouse.jsdos
layout: page.njk
ogDescription: Madhouse is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Madhouse on
  mobile. On DOS.Zone Madhouse available to play for free without registration.
permalink: /madhouse-sep-1983/
screenshots: []
shortTitle: Madhouse
title: Madhouse | 🕹️Play Madhouse Online | DOS game in browser

---
