---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/magicland-dizzy.jsdos
layout: page.njk
ogDescription: Magicland Dizzy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Magicland
  Dizzy on mobile. On DOS.Zone Magicland Dizzy available to play for free without
  registration.
permalink: /magicland-dizzy-1993/
screenshots:
- https://cdn.dos.zone/original/2X/d/d85e1c001e97f5792867398807e4b07dab2de9ce.png
- https://cdn.dos.zone/original/2X/2/24431213f443bba33fffa35636f7e77cf2b88885.png
shortTitle: Magicland Dizzy
title: Magicland Dizzy | 🕹️Play Magicland Dizzy Online | DOS game in browser

---
