---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/magocracy.jsdos
layout: page.njk
ogDescription: Magocracy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Magocracy
  on mobile. On DOS.Zone Magocracy available to play for free without registration.
permalink: /magocracy-oct-01-2004/
screenshots: []
shortTitle: Magocracy
title: Magocracy | 🕹️Play Magocracy Online | DOS game in browser

---
