---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mah-jongg-v-g-a-.jsdos
layout: page.njk
ogDescription: Mah Jongg -V-G-A- is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Mah Jongg -V-G-A- on mobile. On DOS.Zone Mah Jongg -V-G-A- available to play for
  free without registration.
permalink: /mah-jongg-v-g-a-1989/
screenshots:
- https://cdn.dos.zone/original/2X/4/4aab294753fd41ed98875fa57850e08b526980d5.png
- https://cdn.dos.zone/original/2X/b/b5bb461f9c18494a2479c53efcfeccac5fef8382.png
shortTitle: Mah Jongg -V-G-A-
title: Mah Jongg -V-G-A- | 🕹️Play Mah Jongg -V-G-A- Online | DOS game in browser

---
