---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mahjong_.jsdos
layout: page.njk
ogDescription: Mahjong is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mahjong on
  mobile. On DOS.Zone Mahjong available to play for free without registration.
permalink: /mahjong-1986/
screenshots:
- https://cdn.dos.zone/original/2X/2/2c48a637315daa51daaddfdc83a9a0e5a156aeb0.png
- https://cdn.dos.zone/original/2X/e/e1b535b609f8d0665b685c0c80fb099717362055.png
shortTitle: Mahjong
title: Mahjong | 🕹️Play Mahjong Online | DOS game in browser

---
