---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/manhunter-2-san-francisco.jsdos
layout: page.njk
ogDescription: 'Manhunter 2: San Francisco is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Manhunter 2: San Francisco on mobile. On DOS.Zone Manhunter 2: San Francisco
  available to play for free without registration.'
permalink: /manhunter-2-san-francisco-sep-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/24b0e80dd86c9dc4f16d17fa88d601ff4fe920c4.png
- https://cdn.dos.zone/original/2X/2/23e49cd660026b0d8e2e7757a3be8b74d3a29d5d.png
shortTitle: 'Manhunter 2: San Francisco'
title: 'Manhunter 2: San Francisco | 🕹️Play Manhunter 2: San Francisco Online | DOS
  game in browser'

---
