---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/manic-miner__.jsdos
layout: page.njk
ogDescription: Manic Miner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Manic Miner
  on mobile. On DOS.Zone Manic Miner available to play for free without registration.
permalink: /manic-miner-aug-1997/
screenshots:
- https://cdn.dos.zone/original/2X/8/8e936e624ffdfea111cc8ed9e2858bfd4c059a6b.gif
- https://cdn.dos.zone/original/2X/a/af9508313a05d849cd397ab01ed536501e76c60a.gif
shortTitle: Manic Miner
title: Manic Miner | 🕹️Play Manic Miner Online | DOS game in browser

---
