---
layout: page.njk
title: Manic Miner | 🕹️Play Manic Miner Online | Download js-dos bundle
ogDescription: Want to Play Manic Miner? 🕹 On Dos Zone you can play Manic Miner
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Manic Miner
permalink: /manic-miner-aug-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmanic-miner__.jsdos
description: This is a remake of the original Manic Miner where you play the
  role of Miner Willy, a bold explorer and adventurer. He discovers a network of
  underground caverns used by an advanced but now extinct civilisation that left
  valuable metals and minerals behind. Through 20 caverns, you must collect all
  the keys in the level before the time (air) runs out, avoiding the nasties and
  navigating the pitfalls. Once all keys  have been collected Willy can move to
  the next level by going to the flashing exit.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8e936e624ffdfea111cc8ed9e2858bfd4c059a6b.gif
  - https://cdn.dos.zone/original/2X/a/af9508313a05d849cd397ab01ed536501e76c60a.gif
---
