---
layout: page.njk
title: Manor | 🕹️Play Manor Online | Download js-dos bundle
ogDescription: Want to Play Manor? 🕹 On Dos Zone you can play Manor OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Manor
permalink: /manor-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmanor.jsdos
description: "Manor is a land management-game, in the vein of Hamurabi / Kingdom
  / Dukedom.  You are the Earl of a medieval English manor: each game turn
  represents one year of your reign, and your job is to run things wisely by
  means of managerial decisions. You have three classes of subjects: serfs,
  peasants and nobles. These make up your workforce and army, and must be
  assigned taxes, duties, lands and provisions; peasants and serfs grow crops,
  which go towards your revenue (along with taxes).  The king, in turn, collects
  taxes from you.  You'll have to keep the populace well-fed and happy - each
  class forms its own opinion of your rule, and low approval ratings may lead to
  revolts.  Knighting peasants allows for some degree of social mobility. The
  Earldom is surrounded by five neighbors, some stronger, some weaker.  Lands
  can be bought and sold in exchange for grain, and you may gain territories if
  you launch a successful attack; the other nobles may decide to do the same to
  you, so defense is also important.  There are other things to watch out for,
  like keeping your soil fertile and avoiding starvation, rats, and even the
  occasional black plague outbreak. Even if your rule is a success, the game
  will eventually end as your character dies of old age.  At the end of your
  reign, you are given a rating based on your effectiveness as a ruler and the
  prosperity of your estate."
screenshots:
  - https://cdn.dos.zone/original/2X/3/3a1b8c96e2b4454d4dc6458c919fe51667ed8ba0.png
  - https://cdn.dos.zone/original/2X/7/79b156be4a92c66eda9740e8d117c34ff48f3362.png
---
