---
layout: page.njk
title: Mario & Luigi | 🕹️Play Mario & Luigi Online | Download js-dos bundle
ogDescription: Want to Play Mario & Luigi? 🕹 On Dos Zone you can play Mario &
  Luigi OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mario & Luigi
permalink: /mario-luigi-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmario-luigi.jsdos
description: Mario & Luigi is an unofficial DOS remake of Super Mario Bros. Just
  like in the original game, it features Mario the plumber, jumping around,
  collecting pickups and defeating enemies across Mushroom Kingdom. Mario can
  find a mushroom which makes him grow, and a fire flower that allows him to
  shoot fireballs.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8e82677e3744f3d72049b6a8042412066312198e.png
  - https://cdn.dos.zone/original/2X/5/52e30d31ec31f8cc499a41986e0c77b812ab41c5.png
---
