---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/marios-time-machine.jsdos
layout: page.njk
ogDescription: Mario's Time Machine is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Mario's Time Machine on mobile. On DOS.Zone Mario's Time Machine available to
  play for free without registration.
permalink: /marios-time-machine-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/7c586765480d4fc478ed72cfb38152920f5d0a46.png
- https://cdn.dos.zone/original/2X/5/5a8c54f402621e8d9fb5501f7b17f2f7a366b6d3.png
shortTitle: Mario's Time Machine
title: Mario's Time Machine | 🕹️Play Mario's Time Machine Online | DOS game in browser

---
