---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mario-is-missing.jsdos
layout: page.njk
ogDescription: Mario is Missing! is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Mario is Missing! on mobile. On DOS.Zone Mario is Missing! available to play for
  free without registration.
permalink: /mario-is-missing-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6e4ee747bc0ce928be03c97849a028887b138595.png
- https://cdn.dos.zone/original/2X/9/956257cfbfca95cb0e1a6f4b4f41fb042bc762c1.png
shortTitle: Mario is Missing!
title: Mario is Missing! | 🕹️Play Mario is Missing! Online | DOS game in browser

---
