---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mario-luigi.jsdos
layout: page.njk
ogDescription: Mario & Luigi is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mario & Luigi
  on mobile. On DOS.Zone Mario & Luigi available to play for free without registration.
permalink: /mario-luigi-2001/
screenshots:
- https://cdn.dos.zone/original/2X/8/8e82677e3744f3d72049b6a8042412066312198e.png
- https://cdn.dos.zone/original/2X/5/52e30d31ec31f8cc499a41986e0c77b812ab41c5.png
shortTitle: Mario & Luigi
title: Mario & Luigi | 🕹️Play Mario & Luigi Online | DOS game in browser

---
