---
layout: page.njk
title: Mario's Time Machine | 🕹️Play Mario's Time Machine Online | Download
  js-dos bundle
ogDescription: Want to Play Mario's Time Machine? 🕹 On Dos Zone you can play
  Mario's Time Machine OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mario's Time Machine
permalink: /marios-time-machine-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmarios-time-machine.jsdos
description: Bowser is at it again!  He's using a time machine, called a
  Timulator, to loot historical artifacts from the past, in order to stock his
  museum.  He plans to destroy the time machine after, and therefore change the
  course of history forever.  It's up to Mario to stop Bowser and return all the
  stolen artifacts to their rightful place in history!
screenshots:
  - https://cdn.dos.zone/original/2X/7/7c586765480d4fc478ed72cfb38152920f5d0a46.png
  - https://cdn.dos.zone/original/2X/5/5a8c54f402621e8d9fb5501f7b17f2f7a366b6d3.png
---
