---
layout: page.njk
title: Mars Saga | 🕹️Play Mars Saga Online | Download js-dos bundle
ogDescription: Want to Play Mars Saga? 🕹 On Dos Zone you can play Mars Saga OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Mars Saga
permalink: /mars-saga-oct-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmars-saga.jsdos
description: You're a stranded space jockey in a rugged frontier settlement on
  Saturn's moon, Titan. Your one chance to get off this ice cube is to assemble
  a team and find... a lost city! This early Westwood title is a turn-based RPG
  set on the surface of Mars. Your characters have attributes and 21 skills that
  can be raised during the course of the game. You gather your party throughout
  the game. Much of the game is viewed from a first-person perspective with a
  small top down map and status line, but combat is all top-down. Combat can be
  handled directly by the player or left to the AI.
screenshots:
  - https://cdn.dos.zone/original/2X/7/768e0ae838f65988c2023b315e901a62c03e9747.gif
  - https://cdn.dos.zone/original/2X/3/3708da175af38273ce5c4de810aad5d3e4bd939e.png
---
