---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mars-saga.jsdos
layout: page.njk
ogDescription: Mars Saga is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mars Saga
  on mobile. On DOS.Zone Mars Saga available to play for free without registration.
permalink: /mars-saga-oct-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/768e0ae838f65988c2023b315e901a62c03e9747.gif
- https://cdn.dos.zone/original/2X/3/3708da175af38273ce5c4de810aad5d3e4bd939e.png
shortTitle: Mars Saga
title: Mars Saga | 🕹️Play Mars Saga Online | DOS game in browser

---
