---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/masque-solitaire-antics.jsdos
layout: page.njk
ogDescription: Masque Solitaire Antics is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Masque Solitaire Antics on mobile. On DOS.Zone Masque Solitaire Antics available
  to play for free without registration.
permalink: /masque-solitaire-antics-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/f5a1d34202f0498bc0298f446881e2becbfa1fd7.png
- https://cdn.dos.zone/original/2X/4/445719a39bc0a3a78b0bf1cfbd7e72e46ebf762.png
shortTitle: Masque Solitaire Antics
title: Masque Solitaire Antics | 🕹️Play Masque Solitaire Antics Online | DOS game
  in browser

---
