---
layout: page.njk
title: Masque Solitaire Antics | 🕹️Play Masque Solitaire Antics Online |
  Download js-dos bundle
ogDescription: Want to Play Masque Solitaire Antics? 🕹 On Dos Zone you can play
  Masque Solitaire Antics OR donwload js-dos bundle for free. Start playing now!
shortTitle: Masque Solitaire Antics
permalink: /masque-solitaire-antics-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmasque-solitaire-antics.jsdos
description: >-
  Masque Solitaire Antics is a compilation of single player card games that was
  later added to and released as Solitaire Antics Deluxe. The collection
  contains the following solitaire games; Royal Family, Ant's Solitaire, Aces
  Out, Aces Up, Agnes, Auld Lang Syne, Calculation, Canfield, Carpet, Chamelion,
  Demon, Double or Quits, Easthaven, Fascination, Fortune's Favor, Golf,
  Klondike, Simplicity, Storehouse, Thumb and Pouch and Yukon.

  Each game has its own help screen which explains the rules, and can be played in three levels of difficulty: normal, easier or harder. When loaded the game will start at a random game which the player can either play or choose another game from the collections menu. All card games are played using the mouse. At some points during the game, notably when a game ends, an animated ant appears on-screen.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f5a1d34202f0498bc0298f446881e2becbfa1fd7.png
  - https://cdn.dos.zone/original/2X/4/445719a39bc0a3a78b0bf1cfbd7e72e46ebf762.png
---
