---
layout: page.njk
title: Match Day Manager | 🕹️Play Match Day Manager Online | Download js-dos bundle
ogDescription: Want to Play Match Day Manager? 🕹 On Dos Zone you can play Match
  Day Manager OR donwload js-dos bundle for free. Start playing now!
shortTitle: Match Day Manager
permalink: /match-day-manager-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmatch-day-manager.jsdos
description: "Match Day Manager is a football (soccer) managing game featuring
  teams from England, where players start by managing any team of Division 3
  (fourth tier), and attempt to climb to the Premiership. The player has the
  usual array of options, from assigning training, scouting, checking who are
  the favourites of the crowd (after all, they want to to see them play), sign
  players and staff (scout, trainer and physio), but the main difference between
  MDM and other managing games is how time passes: instead of making all changes
  and then clicking a button to jump to the next matchday, the manager has a
  calendar with five daily time slots, and to make any changes, they have to be
  booked first. The only actions that don't need any booking are consulting
  their own fixtures, tables and the financial status. It's also possible to
  edit the name pool, as well as editing each teams kits and names."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e0433c60db04a2bacb8c7d778947fe6b9db65c25.png
  - https://cdn.dos.zone/original/2X/c/c59164f9dccd12f6c584fd4ec6f27cd6adba92c0.png
---
