---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/math-rescue.jsdos
layout: page.njk
ogDescription: Math Rescue is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Math Rescue
  on mobile. On DOS.Zone Math Rescue available to play for free without registration.
permalink: /math-rescue-oct-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ec7902bd69c0d0d52b9acbaf43d5696bb413c46.png
- https://cdn.dos.zone/original/2X/4/4b60ac1401888ca84a4b635f01bcac7a16fe478e.jpeg
shortTitle: Math Rescue
title: Math Rescue | 🕹️Play Math Rescue Online | DOS game in browser

---
