---
layout: page.njk
title: Math Rescue | 🕹️Play Math Rescue Online | Download js-dos bundle
ogDescription: Want to Play Math Rescue? 🕹 On Dos Zone you can play Math Rescue
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Math Rescue
permalink: /math-rescue-oct-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmath-rescue.jsdos
description: >-
  Sort of a sequel to Word Rescue, the mean bad aliens (I think they were
  aliens) Gruzzles are at it again, this time stealing the numbers of the
  world. 

  An educational/side-scroller game, Math Rescue has very little gameplay differences with its predecessor, save for the fact that you now solve mathematical puzzles.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ec7902bd69c0d0d52b9acbaf43d5696bb413c46.png
  - https://cdn.dos.zone/original/2X/4/4b60ac1401888ca84a4b635f01bcac7a16fe478e.jpeg
---
