---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/math-blaster.jsdos
layout: page.njk
ogDescription: Math Blaster! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Math Blaster!
  on mobile. On DOS.Zone Math Blaster! available to play for free without registration.
permalink: /math-blaster-1983/
screenshots:
- https://cdn.dos.zone/original/2X/2/22c3d87315bb23526d95dfa69499b12e8eee11c.png
- https://cdn.dos.zone/original/2X/d/ddb9c9352951c1fa2dd67a3ece1192c81bc61e52.png
shortTitle: Math Blaster!
title: Math Blaster! | 🕹️Play Math Blaster! Online | DOS game in browser

---
