---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/math-circus-act-1.jsdos
layout: page.njk
ogDescription: 'Math Circus: Act 1 is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Math Circus: Act 1 on mobile. On DOS.Zone Math Circus: Act 1 available to play for
  free without registration.'
permalink: /math-circus-act-1-1994/
screenshots: []
shortTitle: 'Math Circus: Act 1'
title: 'Math Circus: Act 1 | 🕹️Play Math Circus: Act 1 Online | DOS game in browser'

---
