---
layout: page.njk
title: Math Blaster! | 🕹️Play Math Blaster! Online | Download js-dos bundle
ogDescription: Want to Play Math Blaster!? 🕹 On Dos Zone you can play Math
  Blaster! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Math Blaster!
permalink: /math-blaster-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmath-blaster.jsdos
description: >-
  An educational "action" game that can teach math to children from grades 1
  through 6.  Students can practice addition, subtraction, multiplication, and
  division.  Another level, for fractions/percents/decimals contains 5
  sub-levels teaching reduction of common fractions, renaming improper
  fractions, renaming common fractions to decimals, renaming decimals as
  percents, and renaming percents as fractions.

  Math problems can be displayed in either horizontal or vertical display, depending on preference. Gameplay takes place on a screen with multiple answers to a problem ranged across the top of the screen, and a series of cannons below.  You must move your character to the cannon aimed at the correct answer.  There are 2 timers going- a seal bouncing a ball represents the time available to answer a given problem; a balloon decending towards a needle represents time left for the overall game.

  The speed can be adjusted for players' skill levels. Finally, an editor is included for parents/teachers to create their own lessons featuring particular problems.
screenshots:
  - https://cdn.dos.zone/original/2X/2/22c3d87315bb23526d95dfa69499b12e8eee11c.png
  - https://cdn.dos.zone/original/2X/d/ddb9c9352951c1fa2dd67a3ece1192c81bc61e52.png
---
