---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/matterhorn-screamer.jsdos
layout: page.njk
ogDescription: Matterhorn Screamer! is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Matterhorn Screamer! on mobile. On DOS.Zone Matterhorn Screamer! available to
  play for free without registration.
permalink: /matterhorn-screamer-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/25503767d6c9799af3efd5ca06b8e785543923a2.gif
- https://cdn.dos.zone/original/2X/7/7070db1b251b57f584ff9e16ee36aa9895ae625b.png
shortTitle: Matterhorn Screamer!
title: Matterhorn Screamer! | 🕹️Play Matterhorn Screamer! Online | DOS game in browser

---
