---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/max-blackjack.jsdos
layout: page.njk
ogDescription: Max Blackjack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Max Blackjack
  on mobile. On DOS.Zone Max Blackjack available to play for free without registration.
permalink: /max-blackjack-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8e99acdb49b723f4869eb22fbf512ee5dfcb6313.png
- https://cdn.dos.zone/original/2X/2/2129b22401d522b4c6adf2042db436e8390837a7.png
shortTitle: Max Blackjack
title: Max Blackjack | 🕹️Play Max Blackjack Online | DOS game in browser

---
