---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/maximus.jsdos
layout: page.njk
ogDescription: Maximus is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Maximus on
  mobile. On DOS.Zone Maximus available to play for free without registration.
permalink: /maximus-1988/
screenshots:
- https://cdn.dos.zone/original/2X/6/66a8e3bc29b53d09a1b55e48c013995b66a168c.png
- https://cdn.dos.zone/original/2X/6/6a5b2c8e8e2d7a0c8485a426554152d3220e7d4d.png
shortTitle: Maximus
title: Maximus | 🕹️Play Maximus Online | DOS game in browser

---
