---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/maxman.jsdos
layout: page.njk
ogDescription: MaxMan is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in MaxMan on mobile.
  On DOS.Zone MaxMan available to play for free without registration.
permalink: /maxman-1989/
screenshots:
- https://cdn.dos.zone/original/2X/4/4c570518d0ef3ab35833f83d41f2688a27b9e16b.png
- https://cdn.dos.zone/original/2X/e/e24c2a5cdf9f2dbb537dc3c70015c4a9e6d18ea4.png
shortTitle: MaxMan
title: MaxMan | 🕹️Play MaxMan Online | DOS game in browser

---
