---
layout: page.njk
title: MaxMan | 🕹️Play MaxMan Online | Download js-dos bundle
ogDescription: Want to Play MaxMan? 🕹 On Dos Zone you can play MaxMan OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: MaxMan
permalink: /maxman-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmaxman.jsdos
description: MaxMan is a single player, shareware, Pac-Man clone. As with other
  Pac-Man games the player runs around a maze, eating power ups, and generally
  avoiding the nasty green gremlins unless they have eaten a big power up in
  which case they go monster hunting. This game adds a minor twist in that when
  the player loses a life their ghost lives on as a 'grim reaper' and becomes
  one of the nasties that has to be killed. The higher the player's score when
  all the gremlins and ghosts have been killed the more baddies they will face
  in the next round. The game is keyboard controlled and has basic sound effects
  such as bleeps, whistles and so-on.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4c570518d0ef3ab35833f83d41f2688a27b9e16b.png
  - https://cdn.dos.zone/original/2X/e/e24c2a5cdf9f2dbb537dc3c70015c4a9e6d18ea4.png
---
