---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mayday-squad.jsdos
layout: page.njk
ogDescription: Mayday Squad is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mayday Squad
  on mobile. On DOS.Zone Mayday Squad available to play for free without registration.
permalink: /mayday-squad-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/250ed142ad0367280e63d731e8e37e5260e0c294.png
- https://cdn.dos.zone/original/2X/c/c4306d4fca7ba32d6f3831fba2878de659dca8d5.png
shortTitle: Mayday Squad
title: Mayday Squad | 🕹️Play Mayday Squad Online | DOS game in browser

---
