---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/maze_____.jsdos
layout: page.njk
ogDescription: Maze is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Maze on mobile.
  On DOS.Zone Maze available to play for free without registration.
permalink: /maze-feb-1983/
screenshots:
- https://cdn.dos.zone/original/2X/7/7d00cccfd02beb3d53f7f62d7d27d1b9085c978c.png
- https://cdn.dos.zone/original/2X/f/f143bdcb8e2b28628dfb18f91679a8d0b2452990.png
shortTitle: Maze
title: Maze | 🕹️Play Maze Online | DOS game in browser

---
