---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/maze-runner.jsdos
layout: page.njk
ogDescription: Maze Runner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Maze Runner
  on mobile. On DOS.Zone Maze Runner available to play for free without registration.
permalink: /maze-runner-1986/
screenshots:
- https://cdn.dos.zone/original/2X/7/72122ec1c2524efa359fb032be808ca41e47002d.png
- https://cdn.dos.zone/original/2X/c/c278c4efa00a69de5dde3ffed88b2d2071c971e2.png
shortTitle: Maze Runner
title: Maze Runner | 🕹️Play Maze Runner Online | DOS game in browser

---
