---
layout: page.njk
title: Maze Runner | 🕹️Play Maze Runner Online | Download js-dos bundle
ogDescription: Want to Play Maze Runner? 🕹 On Dos Zone you can play Maze Runner
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Maze Runner
permalink: /maze-runner-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmaze-runner.jsdos
description: This game is a close relative of the better-known Kroz
  series.  Searching for the Heart of Courage in the Ezam dungeons, the player
  must evade the lost souls of previous adventurers while strategically using
  the pick axes and teleport scrolls strewn about the place.  The game's primary
  twist is that it takes place in a maze that is largely invisible.  After a
  tantalizing glimpse of the whole area at the start of play, most of the maze
  disappears, with wall segments only reappearing when the player bumps into
  them.  Pick axes can be used to cut through wall segments and teleport scrolls
  take the player to a random spot in the maze.  While all this is going on, the
  lost souls relentlessly home in on the player, adding urgency to the
  proceedings.
screenshots:
  - https://cdn.dos.zone/original/2X/7/72122ec1c2524efa359fb032be808ca41e47002d.png
  - https://cdn.dos.zone/original/2X/c/c278c4efa00a69de5dde3ffed88b2d2071c971e2.png
---
