---
layout: page.njk
title: Maze | 🕹️Play Maze Online | Download js-dos bundle
ogDescription: Want to Play Maze? 🕹 On Dos Zone you can play Maze OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Maze
permalink: /maze-feb-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmaze_____.jsdos
description: "A simple maze navigation game with randomly-generated screens in
  10 skill levels - 32,000 mazes are possible for each level. The player starts
  at the middle of the left-side wall, and must find a path towards the right
  side of the screen while racing against the clock; helpfully, a trail of dots
  is left behind the player's marker. Being not much more than a programming
  exercise, the game uses a rather crude algorithm to generate the mazes, so the
  lower difficulties will have multiple solutions, while the higher ones may
  have none at all.  For such a contingency, the space bar will generate a new
  maze, though (somewhat unfairly) the clock keeps ticking while this
  happens.  The game was published as a type-in title in PC Magazine, along with
  a write-up that states: \"this program will probably not become a cherished
  family favorite\"."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7d00cccfd02beb3d53f7f62d7d27d1b9085c978c.png
  - https://cdn.dos.zone/original/2X/f/f143bdcb8e2b28628dfb18f91679a8d0b2452990.png
---
