---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mcmurphys-mansion.jsdos
layout: page.njk
ogDescription: McMurphy's Mansion is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  McMurphy's Mansion on mobile. On DOS.Zone McMurphy's Mansion available to play for
  free without registration.
permalink: /mcmurphys-mansion-1984/
screenshots:
- https://cdn.dos.zone/original/2X/f/f4c90715c3b50cb2543d7e55288916ce50233fc1.png
- https://cdn.dos.zone/original/2X/e/e942df8325ba6129a047ac7ba9083f5d5a6279b9.png
shortTitle: McMurphy's Mansion
title: McMurphy's Mansion | 🕹️Play McMurphy's Mansion Online | DOS game in browser

---
