---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/megafortress.jsdos
layout: page.njk
ogDescription: Megafortress is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Megafortress
  on mobile. On DOS.Zone Megafortress available to play for free without registration.
permalink: /megafortress-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/6c40687a2611e7a9a76f2f338874be31baec2687.gif
- https://cdn.dos.zone/original/2X/d/ddd678e8f5a66a06f8fd9cfb6e14e412106ba4a0.gif
shortTitle: Megafortress
title: Megafortress | 🕹️Play Megafortress Online | DOS game in browser

---
