---
layout: page.njk
title: Mel Odius goes Six String Searchin' | 🕹️Play Mel Odius goes Six String
  Searchin' Online | Download js-dos bundle
ogDescription: Want to Play Mel Odius goes Six String Searchin'? 🕹 On Dos Zone
  you can play Mel Odius goes Six String Searchin' OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Mel Odius goes Six String Searchin'
permalink: /mel-odius-goes-six-string-searchin-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmel-odius-goes-six-string-searchin.jsdos
description: Mel Odius goes Six String Searchin' is a single player, shareware,
  graphical adventure game. This is an old-school game where the player types in
  their commands, Look, Get, Talk etc and the game's parser attempts to make
  sense of it. The game's start screen gives the seven most common commands and
  a couple of shortcuts but invites the player to try others which is quite
  common for this kind of game. The story behind this game is that the main
  character, Mel Odius, has had his famous candy-apple red, custom, Rocky Roads
  Signature Flying V guitar stolen on the day before he gets to play before some
  record executives. The object of the game is to find the guitar so that Mel
  can become a 'rock god'. Mel can be moved around the game via the arrow keys
  and he can talk to people and enter buildings. The game uses a points system
  to chart the player's progress, the completed game scores 500 points.
screenshots:
  - https://cdn.dos.zone/original/2X/3/34ded9e549f2f5aaaf37f48f0bef6b4e75d32a0b.png
  - https://cdn.dos.zone/original/2X/e/e607c5cabc0bdd8d092a57ac6d2aa95e0e76e81.png
---
