---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mel-odius-goes-six-string-searchin.jsdos
layout: page.njk
ogDescription: Mel Odius goes Six String Searchin' is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Mel Odius goes Six String Searchin' on mobile. On DOS.Zone Mel
  Odius goes Six String Searchin' available to play for free without registration.
permalink: /mel-odius-goes-six-string-searchin-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/34ded9e549f2f5aaaf37f48f0bef6b4e75d32a0b.png
- https://cdn.dos.zone/original/2X/e/e607c5cabc0bdd8d092a57ac6d2aa95e0e76e81.png
shortTitle: Mel Odius goes Six String Searchin'
title: Mel Odius goes Six String Searchin' | 🕹️Play Mel Odius goes Six String Searchin'
  Online | DOS game in browser

---
