---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/meltdown__.jsdos
layout: page.njk
ogDescription: Meltdown is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Meltdown on
  mobile. On DOS.Zone Meltdown available to play for free without registration.
permalink: /meltdown-mar-1995/
screenshots:
- https://cdn.dos.zone/original/2X/9/940c61be6afb68c55c592e7cdb0c13792d555ff4.png
- https://cdn.dos.zone/original/2X/e/e6d24fd184664dc2c76f0558667b94a2c8a58cc1.png
shortTitle: Meltdown
title: Meltdown | 🕹️Play Meltdown Online | DOS game in browser

---
