---
layout: page.njk
title: Meltdown | 🕹️Play Meltdown Online | Download js-dos bundle
ogDescription: Want to Play Meltdown? 🕹 On Dos Zone you can play Meltdown OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Meltdown
permalink: /meltdown-mar-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmeltdown__.jsdos
description: Meltdown is a first-person shooter game that was released by Pie in
  the Sky Software to showcase its 3D Game Creation System. The main objective
  of the game is to escape from an unspecified compound. In order to do this,
  the player needs to obtain the elevator key, which is protected by an energy
  barrier. Several weapons can be found to combat the guards, including a
  shotgun, a machine gun and grenades. The game finishes once the player reaches
  the elevator. There is also a slide show that demonstrates various features of
  the 3D Game Creation System.
screenshots:
  - https://cdn.dos.zone/original/2X/9/940c61be6afb68c55c592e7cdb0c13792d555ff4.png
  - https://cdn.dos.zone/original/2X/e/e6d24fd184664dc2c76f0558667b94a2c8a58cc1.png
---
