---
layout: page.njk
title: Meltdown | 🕹️Play Meltdown Online | Download js-dos bundle
ogDescription: Want to Play Meltdown? 🕹 On Dos Zone you can play Meltdown OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Meltdown
permalink: /meltdown-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmeltdown_.jsdos
description: >-
  Meltdown is a single-player adventure game. Sometime in the future mankind
  sets up a base on Mars where this adventure is based. There has been an
  accident with the nuclear reactor that powers the base. If the reactor
  explodes it will poison the planet and make it uninhabitable. The player takes
  the role of Fred Astro, a specialist in nuclear disasters, and it is your task
  to prevent this and you only have two hours in which to do it!

  Radiation levels are high and in some places they are fatal. Luckily, somewhere on the base is a prototype radiation proof droid, Beta 23, who you can control. The game is controlled either via the keyboard or the mouse, it has three hundred different locations so the documentation recommends making a map as the game is explored. The player can swap characters to control either Fred Astro or Beta 23 but both have limitations, Fred cannot tolerate radiation levels above three hundred, Beta 23 needs battery power and cannot carry anything. There is a save/load feature and a high score table.
screenshots:
  - https://cdn.dos.zone/original/2X/1/158e6e21841cd050ff5d24753afcc58eefd37fb1.png
  - https://cdn.dos.zone/original/2X/7/70b9604dc5813044ff53ab4b9ea4ef6c4c52c344.png
---
