---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/memory-hog-hunter.jsdos
layout: page.njk
ogDescription: Memory Hog Hunter is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Memory Hog Hunter on mobile. On DOS.Zone Memory Hog Hunter available to play for
  free without registration.
permalink: /memory-hog-hunter-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/2107186627a4ee38b1663abc62e150b441ff9ca4.png
- https://cdn.dos.zone/original/2X/9/92e8b09172b26ce5e2670c98bc557c59f25c0058.png
shortTitle: Memory Hog Hunter
title: Memory Hog Hunter | 🕹️Play Memory Hog Hunter Online | DOS game in browser

---
