---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/merchant-colony.jsdos
layout: page.njk
ogDescription: Merchant Colony is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Merchant Colony
  on mobile. On DOS.Zone Merchant Colony available to play for free without registration.
permalink: /merchant-colony-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/7e116acfa07d39224d065d692b992dfdca1c66ad.gif
- https://cdn.dos.zone/original/2X/2/25f3591a08d498ac76b862861a787615656ad025.gif
shortTitle: Merchant Colony
title: Merchant Colony | 🕹️Play Merchant Colony Online | DOS game in browser

---
