---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/merlin-challenge.jsdos
layout: page.njk
ogDescription: Merlin Challenge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Merlin Challenge
  on mobile. On DOS.Zone Merlin Challenge available to play for free without registration.
permalink: /merlin-challenge-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/6b260306a14c0f736e35ddddd0d48e504b1e1465.jpeg
- https://cdn.dos.zone/original/2X/4/43247c1c6f91bde95070049e16fb0962012eccc2.jpeg
shortTitle: Merlin Challenge
title: Merlin Challenge | 🕹️Play Merlin Challenge Online | DOS game in browser

---
