---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/meteor_.jsdos
layout: page.njk
ogDescription: Meteor is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Meteor on mobile.
  On DOS.Zone Meteor available to play for free without registration.
permalink: /meteor-nov-1981/
screenshots:
- https://cdn.dos.zone/original/2X/8/8fe15be8d5bd0dfbd284d2a7f1408abc832283b8.png
- https://cdn.dos.zone/original/2X/9/912afe66fc46da1b61425cc3b63fcd9b8c8f671d.png
shortTitle: Meteor
title: Meteor | 🕹️Play Meteor Online | DOS game in browser

---
