---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mickeys-123s-the-big-surprise-party.jsdos
layout: page.njk
ogDescription: 'Mickey''s 123''s: The Big Surprise Party is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Mickey''s 123''s: The Big Surprise Party on mobile. On DOS.Zone
  Mickey''s 123''s: The Big Surprise Party available to play for free without registration.'
permalink: /mickeys-123s-the-big-surprise-party-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/edc4e0b73113dd5cd9c8dda024870d20eab9a905.png
- https://cdn.dos.zone/original/2X/9/9a68d878ff2050c4e871e237730e21864ea1399b.png
shortTitle: 'Mickey''s 123''s: The Big Surprise Party'
title: 'Mickey''s 123''s: The Big Surprise Party | 🕹️Play Mickey''s 123''s: The Big
  Surprise Party Online | DOS game in browser'

---
