---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mick.jsdos
layout: page.njk
ogDescription: Mick is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Mick on mobile.
  On DOS.Zone Mick available to play for free without registration.
permalink: /mick-1994/
screenshots:
- https://cdn.dos.zone/original/2X/4/443895778d0f0fa99e2ee6886d286bd99c4413e8.png
- https://cdn.dos.zone/original/2X/2/208d9b82331a044063724e013a056f6939c3fc6a.png
shortTitle: Mick
title: Mick | 🕹️Play Mick Online | DOS game in browser

---
