---
layout: page.njk
title: "Mickey's 123's: The Big Surprise Party | 🕹️Play Mickey's 123's: The Big
  Surprise Party Online | Download js-dos bundle"
ogDescription: "Want to Play Mickey's 123's: The Big Surprise Party? 🕹 On Dos
  Zone you can play Mickey's 123's: The Big Surprise Party OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Mickey's 123's: The Big Surprise Party"
permalink: /mickeys-123s-the-big-surprise-party-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmickeys-123s-the-big-surprise-party.jsdos
description: "Mickey's 123's: The Big Surprise Party is one of the educational
  games in a series of games for pre-schoolers featuring Disney Characters. This
  game aims to familiarize players with counting from 1 to 9. Mickey wants to
  arrange a surprise party for one of the Disney characters chosen randomly with
  each new playthrough and the player must help him prepare for this party. The
  game is controlled by pressing a number from 1 to 9 which influences where
  Mickey goes, the way Mickey gets to the chosen locations, the things he makes
  as a present, the food and drinks he gets for the surprise party, which guests
  he will invite to the party and how much food and drinks each guest would get.
  Pressing any number will also have the narrator start counting numbers from 1
  to the one players pressed while showing some action take place in the game."
screenshots:
  - https://cdn.dos.zone/original/2X/e/edc4e0b73113dd5cd9c8dda024870d20eab9a905.png
  - https://cdn.dos.zone/original/2X/9/9a68d878ff2050c4e871e237730e21864ea1399b.png
---
