---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/microsoft-windows-version-30-included-games.jsdos
layout: page.njk
ogDescription: Microsoft Windows Version 3.0 (included games) is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Microsoft Windows Version 3.0 (included games) on mobile. On
  DOS.Zone Microsoft Windows Version 3.0 (included games) available to play for free
  without registration.
permalink: /microsoft-windows-version-3-0-included-games-may-22-1990/
screenshots: []
shortTitle: Microsoft Windows Version 3.0 (included games)
title: Microsoft Windows Version 3.0 (included games) | 🕹️Play Microsoft Windows Version
  3.0 (included games) Online | DOS game in browser

---
