---
layout: page.njk
title: MicroLeague Wrestling | 🕹️Play MicroLeague Wrestling Online | Download
  js-dos bundle
ogDescription: Want to Play MicroLeague Wrestling? 🕹 On Dos Zone you can play
  MicroLeague Wrestling OR donwload js-dos bundle for free. Start playing now!
shortTitle: MicroLeague Wrestling
permalink: /microleague-wrestling-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmicroleague-wrestling.jsdos
description: "MicroLeague Wrestling is a wrestling game, the very first one
  licensed by the World Wrestling Federation. The game can be played by one or
  two players and comes with two possible match-ups, each with a separate match
  disk. There is Hulk Hogan versus \"Macho Man\" Randy Savage (all platforms)
  and Hulk Hogan versus \"Mr. Wonderful\" Paul Orndorff (Atari ST/C64). For DOS
  and Amiga the second match is Hogan vs. Dibiase. A bout can last 10, 20 or 60
  minutes. Game presentation before, during, and after fights is modeled after
  WWF TV shows and features digitized stills of actual WWF personalities,
  including wrestlers, managers, interviewers, commentators and announcers.
  Digitized images illustrate on-camera interviews, the wrestlers' entrances
  (complete with renditions of their themes), ringside commentary, and the
  reactions of the crowd. During a fight, the game follows an unusual approach:
  Instead of controlling a wrestler directly, players select a move to perform
  from a menu. The computer decides if it was a success or not and the result is
  shown via a digitized picture."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7e71baac36beac8d9e97c1a1acdabac3b6cd4c4e.png
  - https://cdn.dos.zone/original/2X/f/f7c16e311579b7a39421593315b03d619425cfb8.png
---
