---
layout: page.njk
title: Micro$oft Simulator | 🕹️Play Micro$oft Simulator Online | Download
  js-dos bundle
ogDescription: Want to Play Micro$oft Simulator? 🕹 On Dos Zone you can play
  Micro$oft Simulator OR donwload js-dos bundle for free. Start playing now!
shortTitle: Micro$oft Simulator
permalink: /micro-oft-simulator-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmicrooft-simulator.jsdos
description: "Have you ever wondered what a day in the life of Bill Gates is
  like?  Some cynical Finnish programmers decided to cobble together this little
  program to illustrate the big business decisions coming across Mr. Gates'
  desk.  Starting with a pile of cash, the player needs to decide how to
  allocate it, in one of three ways: First, he can hire bodyguards.  These
  fellows won't help you make any money further on down the line (in truth, they
  are a continual drain on your accounts) but in the event of Redmond getting
  stormed by rabid anti-Microsoft fanatics, their bodies will keep yours from
  harm. Second, he can file a lawsuit -- most likely against an actual software
  innovator -- which is a bit of a crapshoot: money is allocated to the legal
  team and money comes out as a settlement, and if the player is lucky, the
  latter exceeds the former. Finally, if he's really desperate, he can develop
  and publish software.  Choosing whether to make a minor (3.1 to 3.11) or major
  (2.0 to 3.0) update, he then assigns varying sums to the programming and
  marketing departments.  Cross your fingers and see how it pans out in the
  marketplace! (Conspicuously, this game was never ported to Linux or released
  for Amigas or Macs 8)"
screenshots:
  - https://cdn.dos.zone/original/2X/f/fb29a6ec64891c39ec7695755cc6b81ddac0064e.png
  - https://cdn.dos.zone/original/2X/5/5e3915c4225a2f2bd281fa8282596b14c0ff9da.png
---
