---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/micropede.jsdos
layout: page.njk
ogDescription: Micropede is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Micropede
  on mobile. On DOS.Zone Micropede available to play for free without registration.
permalink: /micropede-mar-13-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/74d4a3c6e1c5c0cc52fd2fc11e30b301e2627d08.png
- https://cdn.dos.zone/original/2X/1/19e9f9503b63cf08e378b5ac84884dcdc0b7a7b1.png
shortTitle: Micropede
title: Micropede | 🕹️Play Micropede Online | DOS game in browser

---
