---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/microsoft-mouse-included-game.jsdos
layout: page.njk
ogDescription: Microsoft Mouse (included game) is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Microsoft Mouse (included game) on mobile. On DOS.Zone Microsoft Mouse
  (included game) available to play for free without registration.
permalink: /microsoft-mouse-included-game-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/7ee8230e9b5c3ac857f4208b89ab35ffad5af4fb.png
- https://cdn.dos.zone/original/2X/f/f57d4d3acd1d017699abc7bbf1deca3aa89cb542.png
shortTitle: Microsoft Mouse (included game)
title: Microsoft Mouse (included game) | 🕹️Play Microsoft Mouse (included game) Online
  | DOS game in browser

---
