---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/microoft-simulator.jsdos
layout: page.njk
ogDescription: Micro$oft Simulator is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Micro$oft Simulator on mobile. On DOS.Zone Micro$oft Simulator available to play
  for free without registration.
permalink: /micro-oft-simulator-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/fb29a6ec64891c39ec7695755cc6b81ddac0064e.png
- https://cdn.dos.zone/original/2X/5/5e3915c4225a2f2bd281fa8282596b14c0ff9da.png
shortTitle: Micro$oft Simulator
title: Micro$oft Simulator | 🕹️Play Micro$oft Simulator Online | DOS game in browser

---
