---
layout: page.njk
title: Microsoft Flight Simulator (v3.0) | 🕹️Play Microsoft Flight Simulator
  (v3.0) Online | Download js-dos bundle
ogDescription: Want to Play Microsoft Flight Simulator (v3.0)? 🕹 On Dos Zone
  you can play Microsoft Flight Simulator (v3.0) OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: Microsoft Flight Simulator (v3.0)
permalink: /microsoft-flight-simulator-v3-0-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmicrosoft-flight-simulator-v30.jsdos
description: A flight simulator featuring three different planes, over 100
  different airports and maps for major U.S. cities.  Microsoft Flight Simulator
  also includes formation flying, a NAV system and a few other bells and
  whistles.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d4e27565b799f040a03828f97420221150fab45.gif
  - https://cdn.dos.zone/original/2X/d/d9cc88d2731171c867e844687e34720bb3babe39.gif
---
