---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/microleague-football-the-coachs-challenge.jsdos
layout: page.njk
ogDescription: 'MicroLeague Football: The Coach''s Challenge is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in MicroLeague Football: The Coach''s Challenge on mobile. On
  DOS.Zone MicroLeague Football: The Coach''s Challenge available to play for free
  without registration.'
permalink: /microleague-football-the-coachs-challenge-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e09e38ac95da59b6e6256b399f81b04f7a8b4864.png
- https://cdn.dos.zone/original/2X/d/dc54203d44554b2f06424d842ecd4ee41fe691f9.png
shortTitle: 'MicroLeague Football: The Coach''s Challenge'
title: 'MicroLeague Football: The Coach''s Challenge | 🕹️Play MicroLeague Football:
  The Coach''s Challenge Online | DOS game in browser'

---
