---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mig-29-deadly-adversary-of-falcon-30.jsdos
layout: page.njk
ogDescription: 'MiG-29: Deadly Adversary of Falcon 3.0 is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in MiG-29: Deadly Adversary of Falcon 3.0 on mobile. On DOS.Zone
  MiG-29: Deadly Adversary of Falcon 3.0 available to play for free without registration.'
permalink: /mig-29-deadly-adversary-of-falcon-3-0-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c26dfb566c3dcf80bb9ba6433cc9705356ff21be.png
- https://cdn.dos.zone/original/2X/f/f0ed857b3339012c20239507d69cae2c6d2df15b.png
shortTitle: 'MiG-29: Deadly Adversary of Falcon 3.0'
title: 'MiG-29: Deadly Adversary of Falcon 3.0 | 🕹️Play MiG-29: Deadly Adversary of
  Falcon 3.0 Online | DOS game in browser'

---
