---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mimi-the-mites.jsdos
layout: page.njk
ogDescription: Mimi & The Mites is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mimi & The
  Mites on mobile. On DOS.Zone Mimi & The Mites available to play for free without
  registration.
permalink: /mimi-the-mites-1995/
screenshots:
- https://cdn.dos.zone/original/2X/4/46124cb9743f402aa785b6593716b1f037f159f1.gif
- https://cdn.dos.zone/original/2X/f/f43277d20c58a30fee31da1280ee09035852c129.gif
shortTitle: Mimi & The Mites
title: Mimi & The Mites | 🕹️Play Mimi & The Mites Online | DOS game in browser

---
