---
layout: page.njk
title: Mimi & The Mites | 🕹️Play Mimi & The Mites Online | Download js-dos bundle
ogDescription: Want to Play Mimi & The Mites? 🕹 On Dos Zone you can play Mimi &
  The Mites OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mimi & The Mites
permalink: /mimi-the-mites-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmimi-the-mites.jsdos
description: Platform puzzle game in which your are Mimi and you must avoid the
  mites or shoot them and find your way out through a maze of sorts.
screenshots:
  - https://cdn.dos.zone/original/2X/4/46124cb9743f402aa785b6593716b1f037f159f1.gif
  - https://cdn.dos.zone/original/2X/f/f43277d20c58a30fee31da1280ee09035852c129.gif
---
