---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mindbender.jsdos
layout: page.njk
ogDescription: Mindbender is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mindbender
  on mobile. On DOS.Zone Mindbender available to play for free without registration.
permalink: /mindbender-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/914a615e7cd023664504ba853cb785136a64b458.png
- https://cdn.dos.zone/original/2X/1/18f4a1b438bfd0db8164969152c364241886afab.png
shortTitle: Mindbender
title: Mindbender | 🕹️Play Mindbender Online | DOS game in browser

---
