---
layout: page.njk
title: Mindbender | 🕹️Play Mindbender Online | Download js-dos bundle
ogDescription: Want to Play Mindbender? 🕹 On Dos Zone you can play Mindbender
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mindbender
permalink: /mindbender-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmindbender.jsdos
description: Mindbender uses similar gameplay principles to Deflektor, which
  means that you have indirect control over a beam of light. On each of the 50
  levels you must guide it from a starting point to an ending point, taking out
  all the enemies along the way. Rotating each of the many mirrors on the level
  to send the beam onto the points the enemies hover over does this – reaching
  many of them will involve several attempts at finding the right combination of
  angles. Rotating barriers, light bulb switches and locked sections must all be
  taken into account, but there are also magic balloons later on. All this must
  be done within a time limit, and directing the beam back into itself causes
  overloads and must be avoided, Tron -style.
screenshots:
  - https://cdn.dos.zone/original/2X/9/914a615e7cd023664504ba853cb785136a64b458.png
  - https://cdn.dos.zone/original/2X/1/18f4a1b438bfd0db8164969152c364241886afab.png
---
