---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/minervga.jsdos
layout: page.njk
ogDescription: MinerVGA is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in MinerVGA on
  mobile. On DOS.Zone MinerVGA available to play for free without registration.
permalink: /minervga-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/7eb258bf47cce25c8f0d641bdc9ae640de3bb094.png
- https://cdn.dos.zone/original/2X/1/18d939e041d9c65f04e0c718263d683411d67f44.png
shortTitle: MinerVGA
title: MinerVGA | 🕹️Play MinerVGA Online | DOS game in browser

---
