---
layout: page.njk
title: MinerVGA | 🕹️Play MinerVGA Online | Download js-dos bundle
ogDescription: Want to Play MinerVGA? 🕹 On Dos Zone you can play MinerVGA OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: MinerVGA
permalink: /minervga-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fminervga.jsdos
description: A game where you buy equipment, then head beneath the town (built
  over an very strong layer of rock) and do mining in order to become rich and
  marry the woman of your dreams.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7eb258bf47cce25c8f0d641bdc9ae640de3bb094.png
  - https://cdn.dos.zone/original/2X/1/18d939e041d9c65f04e0c718263d683411d67f44.png
---
