---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/miramar-jet-fighter-simulator.jsdos
layout: page.njk
ogDescription: Miramar, Jet Fighter Simulator is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Miramar, Jet Fighter Simulator on mobile. On DOS.Zone Miramar, Jet Fighter
  Simulator available to play for free without registration.
permalink: /miramar-jet-fighter-simulator-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/4859235904c07a5fffbf6869b367b8c79a267346.png
- https://cdn.dos.zone/original/2X/5/571fba29f90aa3edac8b13a6a91542ed1e3be88c.png
shortTitle: Miramar, Jet Fighter Simulator
title: Miramar, Jet Fighter Simulator | 🕹️Play Miramar, Jet Fighter Simulator Online
  | DOS game in browser

---
