---
layout: page.njk
title: Miramar, Jet Fighter Simulator | 🕹️Play Miramar, Jet Fighter Simulator
  Online | Download js-dos bundle
ogDescription: Want to Play Miramar, Jet Fighter Simulator? 🕹 On Dos Zone you
  can play Miramar, Jet Fighter Simulator OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Miramar, Jet Fighter Simulator
permalink: /miramar-jet-fighter-simulator-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmiramar-jet-fighter-simulator.jsdos
description: >-
  Jump into an F-18 fighter jet and take on enemies as you cruise over the ocean
  in Miramar, Jet Fighter Simulator.

  You'll take off with your jet from a carrier and once you cruise to a required altitude face fierce opponents who want nothing but to shoot you down into the drink. Your instrument panel will help keep you level and ready to attack. The radar will guide you and your sidewinder missiles into the opposition. And remember to watch your gas gauge to see when you should land and refuel.

  This game sits somewhere between simulator and arcade shooter by allowing you to select the level of fidelity you'd like over controls.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4859235904c07a5fffbf6869b367b8c79a267346.png
  - https://cdn.dos.zone/original/2X/5/571fba29f90aa3edac8b13a6a91542ed1e3be88c.png
---
