---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mirage-thunder.jsdos
layout: page.njk
ogDescription: Mirage Thunder is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mirage Thunder
  on mobile. On DOS.Zone Mirage Thunder available to play for free without registration.
permalink: /mirage-thunder-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/613272ed7d895a3eaef2292f1bade313e2d8596b.png
- https://cdn.dos.zone/original/2X/a/a5072c4492469a437f12095cf740141a860749a7.png
shortTitle: Mirage Thunder
title: Mirage Thunder | 🕹️Play Mirage Thunder Online | DOS game in browser

---
