---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mission-mopreme-32k.jsdos
layout: page.njk
ogDescription: Mission Mopreme 32K is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Mission Mopreme 32K on mobile. On DOS.Zone Mission Mopreme 32K available to play
  for free without registration.
permalink: /mission-mopreme-32k-mar-28-1997/
screenshots:
- https://cdn.dos.zone/original/2X/f/f9e428e4457998c41a28d05c786f8e3343195d12.png
- https://cdn.dos.zone/original/2X/2/2455aaf36877d3864683c6135663ce1435af1c9f.png
shortTitle: Mission Mopreme 32K
title: Mission Mopreme 32K | 🕹️Play Mission Mopreme 32K Online | DOS game in browser

---
