---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/missle-strike.jsdos
layout: page.njk
ogDescription: Missle Strike is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Missle Strike
  on mobile. On DOS.Zone Missle Strike available to play for free without registration.
permalink: /missle-strike-1982/
screenshots:
- https://cdn.dos.zone/original/2X/d/d5085a801a7d86a03731bf5fa5845c3d07c6eb53.png
- https://cdn.dos.zone/original/2X/2/237d07523f7a130a27217d356f886fd30fbf4032.png
shortTitle: Missle Strike
title: Missle Strike | 🕹️Play Missle Strike Online | DOS game in browser

---
