---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/missing-dots-matrix.jsdos
layout: page.njk
ogDescription: Missing Dots Matrix is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Missing Dots Matrix on mobile. On DOS.Zone Missing Dots Matrix available to play
  for free without registration.
permalink: /missing-dots-matrix-may-1991/
screenshots:
- https://cdn.dos.zone/original/2X/9/9db2c76efcf201c27e5dc576f3a16dba71d126dc.png
- https://cdn.dos.zone/original/2X/a/a5befd579cc37946dad3a6ff85034aa874caf133.png
shortTitle: Missing Dots Matrix
title: Missing Dots Matrix | 🕹️Play Missing Dots Matrix Online | DOS game in browser

---
