---
layout: page.njk
title: Missle Strike | 🕹️Play Missle Strike Online | Download js-dos bundle
ogDescription: Want to Play Missle Strike? 🕹 On Dos Zone you can play Missle
  Strike OR donwload js-dos bundle for free. Start playing now!
shortTitle: Missle Strike
permalink: /missle-strike-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmissle-strike.jsdos
description: For reasons undisclosed, the Earth is under attack by missles (sic)
  from another planet.  As the unexplainably-hostile aliens rain down
  devastation from the sky, it's your job to stop the warheads from striking the
  surface.  Enemy projectiles appear at the top of the screen, and weave a
  somewhat random path towards the bottom.  There, you must intercept them with
  your ABMs, which can only be moved left or right (somewhat like a Pong paddle,
  but one step at a time). 20 "missles" are fired on each attack wave, and you
  must stop at least 10 to qualify.  The going gets tougher as you advance, and
  later in the game, a faster type of rocket makes its appearance -- worth
  double the points when destroyed.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d5085a801a7d86a03731bf5fa5845c3d07c6eb53.png
  - https://cdn.dos.zone/original/2X/2/237d07523f7a130a27217d356f886fd30fbf4032.png
---
