---
layout: page.njk
title: Mission Cobra 98 | 🕹️Play Mission Cobra 98 Online | Download js-dos bundle
ogDescription: Want to Play Mission Cobra 98? 🕹 On Dos Zone you can play
  Mission Cobra 98 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mission Cobra 98
permalink: /mission-cobra-98-feb-11-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmission-cobra-98.jsdos
description: Mission Cobra 98 is a single player, side scrolling, freeware
  shooter which plays like Defender only without the rescuing people part. The
  player controls a small space ship that flies through a cave system shooting
  enemy craft as they go. In some sections the way ahead is blocked and the
  player has to blast through. There is a mini map in the top right which shows
  the way ahead, this is essential as contact with the walls of the cave is just
  as deadly as being shot by, or colliding with, an enemy ship. Along the way
  there are power ups, such as triple fire, to collect. The game is entirely
  keyboard controlled and has both music and sound effects.
screenshots:
  - https://cdn.dos.zone/original/2X/5/58dc0d5cb697ed85cb24b4ebb5bc5587e6ac4838.jpeg
  - https://cdn.dos.zone/original/2X/3/3f07524bea74f35d01de3a8404546eb58cfc3cbc.jpeg
---
