---
layout: page.njk
title: Mission Mopreme 32K | 🕹️Play Mission Mopreme 32K Online | Download
  js-dos bundle
ogDescription: Want to Play Mission Mopreme 32K? 🕹 On Dos Zone you can play
  Mission Mopreme 32K OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mission Mopreme 32K
permalink: /mission-mopreme-32k-mar-28-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmission-mopreme-32k.jsdos
description: "Mission Mopreme 32K is a vertical scrolling shooter game with a
  futuristic theme. As is typical for the genre, the player's main objective is
  to fight waves of enemy airborne fighters, ground vehicles and defence
  installations while dodging their attacks and picking power ups. The player's
  ship is equipped with two weapons: the Mini Missiles, which are the default
  unlimited ammo weapon, and the Quadro Laser that produces a fan of projectiles
  and uses up energy. Picking capsules replenishes energy for either the ship's
  shields or the laser weapon. Mission Mopreme 32K was created as an entry for
  the 32 kilobyte game development competition that was part of the Mekka 97
  demoscene event which took place in Germany in March 1997. Because of this
  limitation in size, the game does not have any title screen, options
  configuration screen or a high score table; the score achieved after each
  playing session is displayed in the DOS prompt upon exit. No background story
  is provided in any form either. The size still allowed for a number of
  different enemy ships and tanks, and background music."
screenshots:
  - https://cdn.dos.zone/original/2X/f/f9e428e4457998c41a28d05c786f8e3343195d12.png
  - https://cdn.dos.zone/original/2X/2/2455aaf36877d3864683c6135663ce1435af1c9f.png
---
