---
layout: page.njk
title: Molefest | 🕹️Play Molefest Online | Download js-dos bundle
ogDescription: Want to Play Molefest? 🕹 On Dos Zone you can play Molefest OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Molefest
permalink: /molefest-2002/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmolefest.jsdos
description: Molefest is a single player, freeware, variant of Pipe Mania but
  instead of laying pipes to carry water the player is laying a pathway so that
  the mole can find its way home. The player cannot progress from one level to
  another until the current level has been completed. The game has sound, three
  levels of difficulty, a high score table and is mouse controlled
screenshots:
  - https://cdn.dos.zone/original/2X/e/e7126a008d8493aad4bcc5f56d5d6d030654e01b.jpeg
  - https://cdn.dos.zone/original/2X/5/5e5309975e7503f5165f2a1eadfafc7484977c4d.jpeg
---
