---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/molefest.jsdos
layout: page.njk
ogDescription: Molefest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Molefest on
  mobile. On DOS.Zone Molefest available to play for free without registration.
permalink: /molefest-2002/
screenshots:
- https://cdn.dos.zone/original/2X/e/e7126a008d8493aad4bcc5f56d5d6d030654e01b.jpeg
- https://cdn.dos.zone/original/2X/5/5e5309975e7503f5165f2a1eadfafc7484977c4d.jpeg
shortTitle: Molefest
title: Molefest | 🕹️Play Molefest Online | DOS game in browser

---
