---
layout: page.njk
title: "Monkey Island 2: LeChuck's Revenge | 🕹️Play Monkey Island 2: LeChuck's
  Revenge Online | Download js-dos bundle"
ogDescription: "Want to Play Monkey Island 2: LeChuck's Revenge? 🕹 On Dos Zone
  you can play Monkey Island 2: LeChuck's Revenge OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Monkey Island 2: LeChuck's Revenge"
permalink: /monkey-island-2-lechucks-revenge-dec-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmonkey-island-2-lechucks-revenge.jsdos
description: "Guybrush Threepwood, the mighty pirate who can hold his breath for
  ten minutes, could have lived quietly and happily with his sweetheart Elaine,
  the governor of Melee Island. But the restless pirate spirit won't let
  Guybrush in peace. Things don't go very well with Elaine, and Guybrush (now
  with a beard) embarks on a new adventure: searching for the legendary treasure
  of Big Whoop. However, the evil ghost pirate LeChuck hasn't left the stage
  yet. His subordinates are trying to bring him back from the dead one more
  time. Will Guybrush be able to defeat his archenemy again? Monkey Island 2:
  LeChuck's Revenge is a puzzle-solving adventure game and a sequel to The
  Secret of Monkey Island. It utilizes the same command-based SCUMM interface
  (the player uses verb commands on highlighted objects) and branching dialogue
  system (choosing between several different responses during conversations)
  that were used in its predecessor. The game features hand-painted graphics,
  and is the first to utilize LucasArts' iMUSE system, which synchronizes music
  with visual action on the screen by providing smooth transition between
  themes. The events of the game take place on a new set of islands; a part of
  the game allows the player to explore several islands simultaneously.
  Uncommonly for adventure games, LeChuck's Revenge features two difficulty
  levels. The easier one is dubbed Monkey Island 2 Lite; it bypasses or
  simplifies some of the harder puzzles."
screenshots:
  - https://cdn.dos.zone/original/2X/f/f0784a5b1a3bff78d3bc52ad3a60be1fe835be1f.gif
  - https://cdn.dos.zone/original/2X/d/d3ac7aa4998df6a7ee5a8f511d9087a03a6d9924.gif
---
