---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/monkey-island-2-lechucks-revenge.jsdos
layout: page.njk
ogDescription: 'Monkey Island 2: LeChuck''s Revenge is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Monkey Island 2: LeChuck''s Revenge on mobile. On DOS.Zone Monkey
  Island 2: LeChuck''s Revenge available to play for free without registration.'
permalink: /monkey-island-2-lechucks-revenge-dec-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/f0784a5b1a3bff78d3bc52ad3a60be1fe835be1f.gif
- https://cdn.dos.zone/original/2X/d/d3ac7aa4998df6a7ee5a8f511d9087a03a6d9924.gif
shortTitle: 'Monkey Island 2: LeChuck''s Revenge'
title: 'Monkey Island 2: LeChuck''s Revenge | 🕹️Play Monkey Island 2: LeChuck''s Revenge
  Online | DOS game in browser'

---
