---
layout: page.njk
title: Monkey Island Special | 🕹️Play Monkey Island Special Online | Download
  js-dos bundle
ogDescription: Want to Play Monkey Island Special? 🕹 On Dos Zone you can play
  Monkey Island Special OR donwload js-dos bundle for free. Start playing now!
shortTitle: Monkey Island Special
permalink: /monkey-island-special-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmonkey-island-special.jsdos
description: |-
  This compilation includes:

  The Secret of Monkey Island
  Monkey Island 2: LeChuck's Revenge
  The Curse of Monkey Island (Windows 95 demo version, PC release only)
screenshots: []
---
