---
layout: page.njk
title: Monmallineun Tarokbeom | 🕹️Play Monmallineun Tarokbeom Online | Download
  js-dos bundle
ogDescription: Want to Play Monmallineun Tarokbeom? 🕹 On Dos Zone you can play
  Monmallineun Tarokbeom OR donwload js-dos bundle for free. Start playing now!
shortTitle: Monmallineun Tarokbeom
permalink: /monmallineun-tarokbeom-feb-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmonmallineun-tarokbeom.jsdos
description: "Monmallineun Tarokbeom tells the story of a man who crossed the
  street on a red light and got arrested and put in jail as a result. Now the
  unfortunate convict must escape from the prison. The game is divided into two
  gameplay modes: platforming and fighting. The platforming is reminiscent of
  Prince of Persia with its realistic animation and falling damage. This
  gameplay mode also includes stealth, as the protagonist must avoid guards and
  searchlights. The second mode is a simple versus fighting game that takes
  place on separate screens with cartoon-like visuals quite different from those
  of platforming segments."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a95e35cb389ce0aa8779a6a10169cd9ad8c77a19.png
  - https://cdn.dos.zone/original/2X/e/e138c1269ce90a74eb131ecdaa5bc3f1eadc47e0.png
---
