---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mono-space.jsdos
layout: page.njk
ogDescription: Mono Space is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mono Space
  on mobile. On DOS.Zone Mono Space available to play for free without registration.
permalink: /mono-space-1997/
screenshots:
- https://cdn.dos.zone/original/2X/7/7a10b0988e8c19e1967a0252a45d023835bb375e.png
- https://cdn.dos.zone/original/2X/c/c6ed5c7f01dd815f7652189f87ca8166ca6de667.png
shortTitle: Mono Space
title: Mono Space | 🕹️Play Mono Space Online | DOS game in browser

---
