---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/monster-bash.jsdos
layout: page.njk
ogDescription: Monster Bash is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Monster Bash
  on mobile. On DOS.Zone Monster Bash available to play for free without registration.
permalink: /monster-bash-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/1d2349ee4f68cd043186907c42dc96216c263d81.jpeg
- https://cdn.dos.zone/original/2X/4/4d7e7df648f5201342388fff96ea777bac396534.png
shortTitle: Monster Bash
title: Monster Bash | 🕹️Play Monster Bash Online | DOS game in browser

---
