---
layout: page.njk
title: Monsoon | 🕹️Play Monsoon Online | Download js-dos bundle
ogDescription: Want to Play Monsoon? 🕹 On Dos Zone you can play Monsoon OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Monsoon
permalink: /monsoon-jul-2005/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmonsoon.jsdos
description: Monsoon is a LucasArts style adventure game that takes place on the
  island Santa Lanchia. On a beautiful day the main character decided to go
  fishing but once at sea it started to rain and then lightning hit the boat
  turning it into scrap. Luckily for the hero he and the boat wreckage drifted
  ashore on the island Santa Lanchia. Santa Lanchia is a Sicilian colony where
  people who cant behave are sent and they are like one big "familia". To get
  off the island the hero must get his boat repaired but before anyone will help
  him he must obtain permission from the islands big boss. This game was written
  in C++ using Allegro.
screenshots:
  - https://cdn.dos.zone/original/2X/4/48b31aec28dec49f3117dc7dea161f284ecde293.png
  - https://cdn.dos.zone/original/2X/5/507545c34a0e8d8371f53f6efcca4d15ec3d150c.png
---
