---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/monuments-of-mars.jsdos
layout: page.njk
ogDescription: Monuments of Mars is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Monuments of Mars on mobile. On DOS.Zone Monuments of Mars available to play for
  free without registration.
permalink: /monuments-of-mars-1991/
screenshots:
- https://cdn.dos.zone/original/2X/b/b3ae72ab5dfc0493650505da428d50db559403e0.png
- https://cdn.dos.zone/original/2X/a/af10b525318c2d5bae7ba6dbee1c8583c08e9ce1.jpeg
shortTitle: Monuments of Mars
title: Monuments of Mars | 🕹️Play Monuments of Mars Online | DOS game in browser

---
