---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/moraffs-tempt-tris.jsdos
layout: page.njk
ogDescription: Moraff's Tempt-Tris is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Moraff's Tempt-Tris on mobile. On DOS.Zone Moraff's Tempt-Tris available to play
  for free without registration.
permalink: /moraffs-tempt-tris-oct-21-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/2342d64aaf81c88cd3803a4fc551b711d4247afa.png
- https://cdn.dos.zone/original/2X/a/a1f8e73f2af5723d55051261441fc0800cc30768.png
shortTitle: Moraff's Tempt-Tris
title: Moraff's Tempt-Tris | 🕹️Play Moraff's Tempt-Tris Online | DOS game in browser

---
