---
layout: page.njk
title: Moraff's Revenge | 🕹️Play Moraff's Revenge Online | Download js-dos bundle
ogDescription: Want to Play Moraff's Revenge? 🕹 On Dos Zone you can play
  Moraff's Revenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Moraff's Revenge
permalink: /moraffs-revenge-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmoraffs-revenge.jsdos
description: Moraff's Revenge is the first of Moraff's classic dungeon crawls.
  Choose to be a fighter or a wizard. The player runs about in four-color
  dungeons, returning to the top of the dungeon every once and awhile to climb
  up ropes into shops and inns. The game features a map which fills in as more
  territory is explored. The "Beginner's Version" includes 17 levels before
  registering to have the full 70 levels available for play.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f36fa54d046eb559f6388673cabed16224f3418d.png
  - https://cdn.dos.zone/original/2X/8/8ed640cf7c6cd5dbd014e25976657e9a888c99b2.png
---
