---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/moraffs-morejongg.jsdos
layout: page.njk
ogDescription: Moraff's Morejongg is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Moraff's Morejongg on mobile. On DOS.Zone Moraff's Morejongg available to play for
  free without registration.
permalink: /moraffs-morejongg-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c415ab0b303eaa310aead8f0352ba8cc3abf5a18.png
- https://cdn.dos.zone/original/2X/5/5269d305608c5ef65726c527b6fd3e17056de32f.png
shortTitle: Moraff's Morejongg
title: Moraff's Morejongg | 🕹️Play Moraff's Morejongg Online | DOS game in browser

---
