---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/moraffs-revenge.jsdos
layout: page.njk
ogDescription: Moraff's Revenge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Moraff's Revenge
  on mobile. On DOS.Zone Moraff's Revenge available to play for free without registration.
permalink: /moraffs-revenge-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/f36fa54d046eb559f6388673cabed16224f3418d.png
- https://cdn.dos.zone/original/2X/8/8ed640cf7c6cd5dbd014e25976657e9a888c99b2.png
shortTitle: Moraff's Revenge
title: Moraff's Revenge | 🕹️Play Moraff's Revenge Online | DOS game in browser

---
