---
layout: page.njk
title: Mortal Pong | 🕹️Play Mortal Pong Online | Download js-dos bundle
ogDescription: Want to Play Mortal Pong? 🕹 On Dos Zone you can play Mortal Pong
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mortal Pong
permalink: /mortal-pong-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmortal-pong.jsdos
description: Mortal Pong is a one or two player game that can be played either
  by two players on the same machine or over a modem via XBAND PC. The game is
  based on Pong. Balls are launched from the centre of the screen and the
  players use paddles to keep the ball in play. The longer the game goes on the
  more balls appear. If a player lets a ball go past them then they lose health,
  (the developer says this is similar to a player losing health in the Mortal
  Kombat games - hence the name), and once a player has lost all health the game
  is over
screenshots:
  - https://cdn.dos.zone/original/2X/5/516ce618a4057489ad1bf2b43d0ed5e416c3dd20.png
  - https://cdn.dos.zone/original/2X/8/811e3e9ba5c04d4529aa1cd8cd8f01b895ae0a7f.png
---
