---
layout: page.njk
title: Mortal Kombat | 🕹️Play Mortal Kombat Online | Download js-dos bundle
ogDescription: Want to Play Mortal Kombat? 🕹 On Dos Zone you can play Mortal
  Kombat OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mortal Kombat
permalink: /mortal-kombat-1993/
bundles:
  - type: js
    title: /
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F8%2F872f3668c36085d0b1ace46872145285364ee628.jsdos
description: ""
screenshots:
  - https://cdn.dos.zone/original/2X/f/f4bd80dab1d49862de267821752418a438ee30ef.png
  - https://cdn.dos.zone/original/2X/6/6dd58f321640c64407748dd9c0d10a68c243a29e.png
---
