---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mortal-pong.jsdos
layout: page.njk
ogDescription: Mortal Pong is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mortal Pong
  on mobile. On DOS.Zone Mortal Pong available to play for free without registration.
permalink: /mortal-pong-1995/
screenshots:
- https://cdn.dos.zone/original/2X/5/516ce618a4057489ad1bf2b43d0ed5e416c3dd20.png
- https://cdn.dos.zone/original/2X/8/811e3e9ba5c04d4529aa1cd8cd8f01b895ae0a7f.png
shortTitle: Mortal Pong
title: Mortal Pong | 🕹️Play Mortal Pong Online | DOS game in browser

---
