---
bundles:
- lang: ENG
  mobile: true
  title: /
  type: js
  url: original/2X/8/872f3668c36085d0b1ace46872145285364ee628.jsdos
layout: page.njk
ogDescription: Mortal Kombat is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mortal Kombat
  on mobile. On DOS.Zone Mortal Kombat available to play for free without registration.
permalink: /mortal-kombat-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f4bd80dab1d49862de267821752418a438ee30ef.png
- https://cdn.dos.zone/original/2X/6/6dd58f321640c64407748dd9c0d10a68c243a29e.png
shortTitle: Mortal Kombat
title: Mortal Kombat | 🕹️Play Mortal Kombat Online | DOS game in browser

---
