---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/moses-old-testament-adventure-1.jsdos
layout: page.njk
ogDescription: 'Moses: Old Testament Adventure #1 is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Moses: Old Testament Adventure #1 on mobile. On DOS.Zone Moses:
  Old Testament Adventure #1 available to play for free without registration.'
permalink: /moses-old-testament-adventure-1-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/d4177b931e287f94e811d079755ef3dcf06f43e5.gif
- https://cdn.dos.zone/original/2X/1/19207cba18031aa1c7f78573bcb01ffed39c2bf7.gif
shortTitle: 'Moses: Old Testament Adventure #1'
title: 'Moses: Old Testament Adventure #1 | 🕹️Play Moses: Old Testament Adventure
  #1 Online | DOS game in browser'

---
