---
layout: page.njk
title: "Moses: Old Testament Adventure #1 | 🕹️Play Moses: Old Testament
  Adventure #1 Online | Download js-dos bundle"
ogDescription: "Want to Play Moses: Old Testament Adventure #1? 🕹 On Dos Zone
  you can play Moses: Old Testament Adventure #1 OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Moses: Old Testament Adventure #1"
permalink: /moses-old-testament-adventure-1-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmoses-old-testament-adventure-1.jsdos
description: In this Christian adventure game, you assume the role of Moses, who
  must free his people, the Israelites, from slavery in Egypt.  A text
  adventure, with optional graphics.  Follows the book of Exodus very closely,
  and the "hint" feature usually directs you to read a particular passage.  The
  game itself is quite short and relatively easy, with much of the important
  parts of the story presented as several screens of non-interactive text.  Many
  of the early "puzzles" involve addressing places or people by
  name.  Unintentionally funny at times.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d4177b931e287f94e811d079755ef3dcf06f43e5.gif
  - https://cdn.dos.zone/original/2X/1/19207cba18031aa1c7f78573bcb01ffed39c2bf7.gif
---
