---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/motor-mania.jsdos
layout: page.njk
ogDescription: Motor-Mania is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Motor-Mania
  on mobile. On DOS.Zone Motor-Mania available to play for free without registration.
permalink: /motor-mania-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/7c94394e9561c3dd9c63470966d58877afad77e0.jpeg
- https://cdn.dos.zone/original/2X/3/3014c39e64c569fefbfdc3f6eef01c9c5c5c2746.png
shortTitle: Motor-Mania
title: Motor-Mania | 🕹️Play Motor-Mania Online | DOS game in browser

---
