---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/movies-trivia.jsdos
layout: page.njk
ogDescription: Movies Trivia is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Movies Trivia
  on mobile. On DOS.Zone Movies Trivia available to play for free without registration.
permalink: /movies-trivia-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/d963127988ae54cd47355126bd2d9a9c6f758798.jpeg
- https://cdn.dos.zone/original/2X/3/3b0b2733c88a4a3642fd40b5f2d2bf4233d44a13.jpeg
shortTitle: Movies Trivia
title: Movies Trivia | 🕹️Play Movies Trivia Online | DOS game in browser

---
