---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mozaik.jsdos
layout: page.njk
ogDescription: Mozaik is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Mozaik on mobile.
  On DOS.Zone Mozaik available to play for free without registration.
permalink: /mozaik-1993/
screenshots:
- https://cdn.dos.zone/original/2X/3/3a042caae024bb98c3f62b2598f1dd2f81de1f12.png
- https://cdn.dos.zone/original/2X/2/235ce3d9681de4377b62b9a73965b195ff13a9c8.png
shortTitle: Mozaik
title: Mozaik | 🕹️Play Mozaik Online | DOS game in browser

---
