---
layout: page.njk
title: Mr. Boom | 🕹️Play Mr. Boom Online | Download js-dos bundle
ogDescription: Want to Play Mr. Boom? 🕹 On Dos Zone you can play Mr. Boom OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Mr. Boom
permalink: /mr-boom-1999/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmr-boom.jsdos
description: Bomberman clone. Gameplay is exactly the same and even the graphic
  style seems very similar to Bomberman.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2cbb75dcbc56de6191ddea4541394326dba7f9a7.gif
  - https://cdn.dos.zone/original/2X/8/85d6b7844b5a59aae7c9a184ab942233a54103dc.gif
---
