---
layout: page.njk
title: Mr. Blobby | 🕹️Play Mr. Blobby Online | Download js-dos bundle
ogDescription: Want to Play Mr. Blobby? 🕹 On Dos Zone you can play Mr. Blobby
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mr. Blobby
permalink: /mr-blobby-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmr-blobby.jsdos
description: Basically a remake of the SNES game Super Troll Islands, but
  superficially incorporating TV character Mr Blobby, who was famous for
  crushing people and shouting "Blobbitty Blobbitty Blobby" or words to that
  effect, neither of which he does in the game. It's essentially a platform
  game, but the 60 levels are reliant on you colouring in enough of the screen,
  by walking over it. Power ups are on offer, and the levels include some
  interesting design features, including ladders, spikes and springs to bounce
  off. You can switch between the 3 characters (Mr Blobby, Mrs Blobby and Baby
  Blobby) at any point, and only lose once all 3 are out of lives. There are
  plenty of bad guys around, all looking identical and following pre-programmed
  attack paths.
screenshots:
  - https://cdn.dos.zone/original/2X/8/871cb75a02af1b8febc5eddf6305935d1b4c1c40.png
  - https://cdn.dos.zone/original/2X/a/a259b79b461f4ee096e48b841f1a252261d66b0f.png
---
