---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mr-boom.jsdos
layout: page.njk
ogDescription: Mr. Boom is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mr. Boom on
  mobile. On DOS.Zone Mr. Boom available to play for free without registration.
permalink: /mr-boom-1999/
screenshots:
- https://cdn.dos.zone/original/2X/2/2cbb75dcbc56de6191ddea4541394326dba7f9a7.gif
- https://cdn.dos.zone/original/2X/8/85d6b7844b5a59aae7c9a184ab942233a54103dc.gif
shortTitle: Mr. Boom
title: Mr. Boom | 🕹️Play Mr. Boom Online | DOS game in browser

---
