---
layout: page.njk
title: Mr. Muncher | 🕹️Play Mr. Muncher Online | Download js-dos bundle
ogDescription: Want to Play Mr. Muncher? 🕹 On Dos Zone you can play Mr. Muncher
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mr. Muncher
permalink: /mr-muncher-mar-28-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmr-muncher.jsdos
description: Mr. Muncher is a single player, keyboard controlled, Pac-Man
  style  game. The game was released as a freeware beta-test version with
  thirty-two boards to play and a board editor. A full version with eighty
  levels was promised at a later date.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3d6a9ebc69d9204cd8c532d1719e4fb75a2c6a9e.png
  - https://cdn.dos.zone/original/2X/6/60ccec06923503c56bcb3b5bc0f497f507fdfb87.png
---
