---
layout: page.njk
title: Mr Pacford | 🕹️Play Mr Pacford Online | Download js-dos bundle
ogDescription: Want to Play Mr Pacford? 🕹 On Dos Zone you can play Mr Pacford
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mr Pacford
permalink: /mr-pacford-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmr-pacford.jsdos
description: Mr Pacford is a single player, keyboard controlled, Pac-Man style
  platform puzzle game. The player guides a Pac-Man style character around a
  screen where the object is to eat a fixed number of pills that are scattered
  around the level. This involves jumping around from platforms to crates, using
  lifts and explosives and other devices. All levels are timed. After certain
  levels the player is given a code so that they can restart without replaying
  the entire game.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c9027cd19f1e111eba8db90f1c12927e798903ba.png
  - https://cdn.dos.zone/original/2X/a/a23dd2efc8985fce817f6867c2b042c3ce4cd49a.png
---
