---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mr-pacford.jsdos
layout: page.njk
ogDescription: Mr Pacford is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mr Pacford
  on mobile. On DOS.Zone Mr Pacford available to play for free without registration.
permalink: /mr-pacford-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/c9027cd19f1e111eba8db90f1c12927e798903ba.png
- https://cdn.dos.zone/original/2X/a/a23dd2efc8985fce817f6867c2b042c3ce4cd49a.png
shortTitle: Mr Pacford
title: Mr Pacford | 🕹️Play Mr Pacford Online | DOS game in browser

---
