---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/multiplex.jsdos
layout: page.njk
ogDescription: Multiplex is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Multiplex
  on mobile. On DOS.Zone Multiplex available to play for free without registration.
permalink: /multiplex-sep-01-2007/
screenshots:
- https://cdn.dos.zone/original/2X/c/c0b48318a448758b6a0fab87db4c55988c3d1d78.png
- https://cdn.dos.zone/original/2X/f/f3ec5b48bff071061899ed00b9f062dc6bc157de.png
shortTitle: Multiplex
title: Multiplex | 🕹️Play Multiplex Online | DOS game in browser

---
