---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/munch-guy.jsdos
layout: page.njk
ogDescription: Munch Guy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Munch Guy
  on mobile. On DOS.Zone Munch Guy available to play for free without registration.
permalink: /munch-guy-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/70aa516c66519f472af56bc26be75d7bb95a5ff9.png
- https://cdn.dos.zone/original/2X/9/9076e92b402303230190b47d742d398dafeb6705.png
shortTitle: Munch Guy
title: Munch Guy | 🕹️Play Munch Guy Online | DOS game in browser

---
