---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/murder.jsdos
layout: page.njk
ogDescription: Murder! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Murder! on
  mobile. On DOS.Zone Murder! available to play for free without registration.
permalink: /murder-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/cf5f9e1aac065ceca57c09b38cbe91a56f6603e7.gif
- https://cdn.dos.zone/original/2X/2/2827e0af4147ec090123306d272a3fa0c34d33e9.gif
shortTitle: Murder!
title: Murder! | 🕹️Play Murder! Online | DOS game in browser

---
