---
layout: page.njk
title: Mustang | 🕹️Play Mustang Online | Download js-dos bundle
ogDescription: Want to Play Mustang? 🕹 On Dos Zone you can play Mustang OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Mustang
permalink: /mustang-jul-14-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmustang.jsdos
description: Mustang is an arcade shooter with aircrafts. The aircraft you
  control is a green plane seen from above, movable over the screen using the
  numeric pad keys, though always oriented nose-upward on screen. Enemy aircraft
  come single or in formations of different sizes and from all directions,
  sometimes turning, sometimes just flying straight past, shooting bullets and
  rockets at your plane. There are also power-up objects that fall from the top
  of the screen, like health-packs to replenish your life-meter, missiles and
  3-way guns that you can pick up by passing over them, and these will change
  your fire-mode for a limited time. When you eventually get shot down, you may
  end up on a high-score list.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d538f63cf0bfb925b49ef94ff47f5774fcf2869e.png
  - https://cdn.dos.zone/original/2X/4/485def9db92461b418f0e8458cde7dc9f479e88a.png
---
