---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mustang.jsdos
layout: page.njk
ogDescription: Mustang is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mustang on
  mobile. On DOS.Zone Mustang available to play for free without registration.
permalink: /mustang-jul-14-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/d538f63cf0bfb925b49ef94ff47f5774fcf2869e.png
- https://cdn.dos.zone/original/2X/4/485def9db92461b418f0e8458cde7dc9f479e88a.png
shortTitle: Mustang
title: Mustang | 🕹️Play Mustang Online | DOS game in browser

---
