---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mutant-earth.jsdos
layout: page.njk
ogDescription: Mutant Earth is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Mutant Earth
  on mobile. On DOS.Zone Mutant Earth available to play for free without registration.
permalink: /mutant-earth-sep-10-1997/
screenshots:
- https://cdn.dos.zone/original/2X/2/2671003b56f89739e0d11fa3ca2e26a0ac754bee.png
- https://cdn.dos.zone/original/2X/c/ce9e92b224abc496ee69cb4edfbddd26ce206374.png
shortTitle: Mutant Earth
title: Mutant Earth | 🕹️Play Mutant Earth Online | DOS game in browser

---
