---
layout: page.njk
title: Mutant Earth | 🕹️Play Mutant Earth Online | Download js-dos bundle
ogDescription: Want to Play Mutant Earth? 🕹 On Dos Zone you can play Mutant
  Earth OR donwload js-dos bundle for free. Start playing now!
shortTitle: Mutant Earth
permalink: /mutant-earth-sep-10-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmutant-earth.jsdos
description: Mutant Earth is a shareware platform game with many similarities to
  such titles as Duke Nukem II, Bio Menace or Space Chase. The game is set in a
  post-apocalyptic world, where a survivor named Rock Tempest emerges to the
  surface to find it ravaged and full of hostile mutated lifeforms. He must
  overcome various obstacles and traps and fight his way to safety all on his
  own. All typical elements of the genre are present in the game. The player
  navigates levels in two dimensions, collects useful items, access cards and
  ammo for weapons, and fights monsters. In addition to the single-player story
  mode, Mutant Earth allows network multiplayer games with up to 8 players via
  IPX. The shareware version includes only one level, with the single-player
  mode and the network game mode available.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2671003b56f89739e0d11fa3ca2e26a0ac754bee.png
  - https://cdn.dos.zone/original/2X/c/ce9e92b224abc496ee69cb4edfbddd26ce206374.png
---
