---
layout: page.njk
title: My Own Stories | 🕹️Play My Own Stories Online | Download js-dos bundle
ogDescription: Want to Play My Own Stories? 🕹 On Dos Zone you can play My Own
  Stories OR donwload js-dos bundle for free. Start playing now!
shortTitle: My Own Stories
permalink: /my-own-stories-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmy-own-stories.jsdos
description: "My Own Stories is an adaptation of Storybook Weaver - the
  educational game/application that allows children of 8 to 14 years of age  to
  write their own stories. Now those stories are based not on fairy tales, but
  on everyday contemporary situations. The objects present as possible
  illustrations for stories depict real life experiences: city, town, school,
  gym, sports, beach, backyard etc. Change sizes and colors of the objects put
  on pages is also possible, as well as adding music and sound effects and
  printing all the results."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7014a36bd9aa562db4b71715668c7aea08c1d857.png
  - https://cdn.dos.zone/original/2X/5/56ab74adae121091a7dbedce99eb48fd5cab4cca.png
---
