---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mystery-master-felony.jsdos
layout: page.njk
ogDescription: 'Mystery Master: Felony! is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Mystery Master: Felony! on mobile. On DOS.Zone Mystery Master: Felony! available
  to play for free without registration.'
permalink: /mystery-master-felony-jun-1985/
screenshots:
- https://cdn.dos.zone/original/2X/8/88ca14a535b0d30359f2f20d9d0ae214e4db5255.gif
- https://cdn.dos.zone/original/2X/e/e9e705360578fc666ff0bbaf0d88a08506b1bbf.gif
shortTitle: 'Mystery Master: Felony!'
title: 'Mystery Master: Felony! | 🕹️Play Mystery Master: Felony! Online | DOS game
  in browser'

---
