---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/mystery-at-the-museums.jsdos
layout: page.njk
ogDescription: Mystery at the Museums is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Mystery at the Museums on mobile. On DOS.Zone Mystery at the Museums available
  to play for free without registration.
permalink: /mystery-at-the-museums-feb-16-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/ed93580e1c3733f8655d2e431d19ab1b9ecabf33.png
- https://cdn.dos.zone/original/2X/4/479df13c6aaec93f1c8b0948d0f2b8b2203e1f4a.png
shortTitle: Mystery at the Museums
title: Mystery at the Museums | 🕹️Play Mystery at the Museums Online | DOS game in
  browser

---
