---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/national-lampoons-chess-maniac-5-billion-and-1.jsdos
layout: page.njk
ogDescription: National Lampoon's Chess Maniac 5 Billion and 1 is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in National Lampoon's Chess Maniac 5 Billion and 1 on mobile.
  On DOS.Zone National Lampoon's Chess Maniac 5 Billion and 1 available to play for
  free without registration.
permalink: /national-lampoons-chess-maniac-5-billion-and-1-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2158fcb6ddfaae1192632047af221848405dca.png
- https://cdn.dos.zone/original/2X/f/f0ec707536f12ae132abf028be034ab187d1950e.png
shortTitle: National Lampoon's Chess Maniac 5 Billion and 1
title: National Lampoon's Chess Maniac 5 Billion and 1 | 🕹️Play National Lampoon's
  Chess Maniac 5 Billion and 1 Online | DOS game in browser

---
