---
layout: page.njk
title: National Lampoon's Chess Maniac 5 Billion and 1 | 🕹️Play National
  Lampoon's Chess Maniac 5 Billion and 1 Online | Download js-dos bundle
ogDescription: Want to Play National Lampoon's Chess Maniac 5 Billion and 1? 🕹
  On Dos Zone you can play National Lampoon's Chess Maniac 5 Billion and 1 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: National Lampoon's Chess Maniac 5 Billion and 1
permalink: /national-lampoons-chess-maniac-5-billion-and-1-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnational-lampoons-chess-maniac-5-billion-and-1.jsdos
description: Humorous animated chess game; pieces capture with rude/funny
  digitized live-action cutscenes. Computer player tries to break your
  concentration with taunts and distracting animations--will steal a piece if
  you let it. Victory rewarded with cheesecake/beefcake/mountain-goat cutscene.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e2158fcb6ddfaae1192632047af221848405dca.png
  - https://cdn.dos.zone/original/2X/f/f0ec707536f12ae132abf028be034ab187d1950e.png
---
