---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/navcom-6-the-persian-gulf-defense.jsdos
layout: page.njk
ogDescription: 'Navcom 6: The Persian Gulf Defense is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Navcom 6: The Persian Gulf Defense on mobile. On DOS.Zone Navcom
  6: The Persian Gulf Defense available to play for free without registration.'
permalink: /navcom-6-the-persian-gulf-defense-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/db7d89d748041f24d506e22308cd737bd97e7e86.gif
- https://cdn.dos.zone/original/2X/c/cdf0bddfaf74ad5715b751257f332a8da9d42eb4.gif
shortTitle: 'Navcom 6: The Persian Gulf Defense'
title: 'Navcom 6: The Persian Gulf Defense | 🕹️Play Navcom 6: The Persian Gulf Defense
  Online | DOS game in browser'

---
