---
layout: page.njk
title: "Navcom 6: The Persian Gulf Defense | 🕹️Play Navcom 6: The Persian Gulf
  Defense Online | Download js-dos bundle"
ogDescription: "Want to Play Navcom 6: The Persian Gulf Defense? 🕹 On Dos Zone
  you can play Navcom 6: The Persian Gulf Defense OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Navcom 6: The Persian Gulf Defense"
permalink: /navcom-6-the-persian-gulf-defense-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnavcom-6-the-persian-gulf-defense.jsdos
description: Commanding a Naval Cruiser, you must work to protect the waters in
  the Persian Gulf.  There are three missions to choose from, Convoy Escort,
  Patrol, or Dawn of Death. If you choose Convoy Escort, you'll need to protect
  the convoy from any enemies deciding to attack the convoy.  Or patrol the
  waters and destroy all enemies you find.  Enemies can be other ships, jets, or
  even mines.  Just be sure not to shoot the good guys.
screenshots:
  - https://cdn.dos.zone/original/2X/d/db7d89d748041f24d506e22308cd737bd97e7e86.gif
  - https://cdn.dos.zone/original/2X/c/cdf0bddfaf74ad5715b751257f332a8da9d42eb4.gif
---
