---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/navjet.jsdos
layout: page.njk
ogDescription: Navjet is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Navjet on mobile.
  On DOS.Zone Navjet available to play for free without registration.
permalink: /navjet-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a0d74adf8fe9d1cf3333a1f7ef12c4e868386b5.png
- https://cdn.dos.zone/original/2X/c/c26a86639e3f4487b51caa67b9bd3d93586bab3e.png
shortTitle: Navjet
title: Navjet | 🕹️Play Navjet Online | DOS game in browser

---
