---
layout: page.njk
title: Navy Seal | 🕹️Play Navy Seal Online | Download js-dos bundle
ogDescription: Want to Play Navy Seal? 🕹 On Dos Zone you can play Navy Seal OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Navy Seal
permalink: /navy-seal-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnavy-seal.jsdos
description: Take the role of a US Navy SEAL operative and embark in 3 missions
  involving terrorists, hostages, and the like. The plot is fairly superficial,
  since each mission is independent from the rest. Each mission has several
  "portions" with different types of game mechanics, making the game almost a
  series of mini-games. Swimming and submarining are among your tasks. The most
  predominant type of gameplay, however, consists of side-scrolling arcade
  action with a realistic basis, so you only have one life and there are no
  power ups available during missions.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8d955862c20c05929dae0ae32894ca5f6b2d9bee.png
  - https://cdn.dos.zone/original/2X/4/4783a39c72b083f8d3f78198ddf34114e0c6f3af.png
---
