---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/nethack-plus.jsdos
layout: page.njk
ogDescription: NetHack Plus is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in NetHack Plus
  on mobile. On DOS.Zone NetHack Plus available to play for free without registration.
permalink: /nethack-plus-jun-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/cdc553b1cdd3e37d94097c89010a0307baae743.png
- https://cdn.dos.zone/original/2X/a/a07fdaadbbd083160d20c836eed6379962f5c13.png
shortTitle: NetHack Plus
title: NetHack Plus | 🕹️Play NetHack Plus Online | DOS game in browser

---
