---
layout: page.njk
title: NetHack Plus | 🕹️Play NetHack Plus Online | Download js-dos bundle
ogDescription: Want to Play NetHack Plus? 🕹 On Dos Zone you can play NetHack
  Plus OR donwload js-dos bundle for free. Start playing now!
shortTitle: NetHack Plus
permalink: /nethack-plus-jun-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnethack-plus.jsdos
description: "NetHack Plus is a NetHack variant which adds new character
  classes, monster and item types. The latest version is based on NetHack 3.1.3
  code. The main objective of the game remains unchanged in NetHack Plus : the
  player needs to descend into the dungeon and retrieve the Amulet of Yendor.
  New player character roles include Fire Mage, Ice Mage and Undead Slayer. The
  Doppleganger character role is based around the ability to shapeshift, and it
  is also possible to play as a werewolf (Lycanthrope). NetHack Plus comes with
  a player class selection interface. Each player role has a pre-defined name.
  The game uses ASCII graphics with modified custom ASCII characters."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cdc553b1cdd3e37d94097c89010a0307baae743.png
  - https://cdn.dos.zone/original/2X/a/a07fdaadbbd083160d20c836eed6379962f5c13.png
---
