---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/nethack.jsdos
layout: page.njk
ogDescription: NetHack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in NetHack on
  mobile. On DOS.Zone NetHack available to play for free without registration.
permalink: /nethack-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a1740f902e7d0151407c361b94c1e8ff23afdc5c.png
- https://cdn.dos.zone/original/2X/f/fca3a1826c1583a33f05b2b8fffce900a0fd5802.png
shortTitle: NetHack
title: NetHack | 🕹️Play NetHack Online | DOS game in browser

---
