---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/night-fire.jsdos
layout: page.njk
ogDescription: Night Fire is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Night Fire
  on mobile. On DOS.Zone Night Fire available to play for free without registration.
permalink: /night-fire-mar-14-1986/
screenshots:
- https://cdn.dos.zone/original/2X/8/8772443c70720a0368068ac8dceee092a1f333ec.png
- https://cdn.dos.zone/original/2X/d/d93582a134a26f2162637e1acc3d1f4a110840da.png
shortTitle: Night Fire
title: Night Fire | 🕹️Play Night Fire Online | DOS game in browser

---
