---
layout: page.njk
title: Nippon Safes, Inc. | 🕹️Play Nippon Safes, Inc. Online | Download js-dos bundle
ogDescription: Want to Play Nippon Safes, Inc.? 🕹 On Dos Zone you can play
  Nippon Safes, Inc. OR donwload js-dos bundle for free. Start playing now!
shortTitle: Nippon Safes, Inc.
permalink: /nippon-safes-inc-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnippon-safes-inc.jsdos
description: Nippon Safes, Inc. is the predecessor to Big Red Adventure, both
  being cartoon adventure games by Italian developer Dynabyte. As in its
  followup, here players take the role of three different heroes (though,
  opposite to Goblins series, one at time). They are Doug, the smart safe
  cracker; Dino, the strong, but dumb, boxer; and Donna, the sexy club dancer.
  The game takes place in Tokyo. While all three characters explore almost the
  same areas, each of the heroes has its own story to follow and puzzles to
  solve. You can choose which character would you like to play first, and which
  - lastly. When you have finished all three sub-plots, you'll get a final with
  all three characters acting altogether. The game features cartoonish,
  comics-style graphics, unique icon-based interface and non-linear plot. It is
  also full of Italian humor, and the game is played more like a comedy, rather
  then crime-based adventure.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7b1a6b5c451d622cc98a7186d601225c1830c0e2.png
  - https://cdn.dos.zone/original/2X/8/8dc3fffafb86735147060fabaf49f7544af1def1.png
---
