---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/number-fun-1.jsdos
layout: page.njk
ogDescription: Number Fun 1 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Number Fun
  1 on mobile. On DOS.Zone Number Fun 1 available to play for free without registration.
permalink: /number-fun-1-1986/
screenshots:
- https://cdn.dos.zone/original/2X/c/cdb218d9b3e60e9b1de623e08b7821d26f47f4b8.png
- https://cdn.dos.zone/original/2X/2/2c666df86513d5e2bae5aaf27567644751508c24.png
shortTitle: Number Fun 1
title: Number Fun 1 | 🕹️Play Number Fun 1 Online | DOS game in browser

---
