---
layout: page.njk
title: Number Fun 1 | 🕹️Play Number Fun 1 Online | Download js-dos bundle
ogDescription: Want to Play Number Fun 1? 🕹 On Dos Zone you can play Number Fun
  1 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Number Fun 1
permalink: /number-fun-1-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnumber-fun-1.jsdos
description: Aimed at pre-school/kindergarten ages and up, the four number games
  in this release provide a variety of ways to solve simple number problems.
  "Munch" requires navigating a Pac Man -like figure to the correct answer and
  eating it. "Tiny Bomb" involves typing in answers to multiplication, addition
  or subtraction problems before the fuse burns down and the bomb explodes.
  "Ozzie Koala" requires navigating a koala to the correct answer and pointing
  at it. "Bomb" is much the same as "Tiny Bomb" but introduces division problems
  as well. Each game lets you choose a difficulty level, allowing various skill
  levels to be challenged.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cdb218d9b3e60e9b1de623e08b7821d26f47f4b8.png
  - https://cdn.dos.zone/original/2X/2/2c666df86513d5e2bae5aaf27567644751508c24.png
---
