---
layout: page.njk
title: Numero 10 | 🕹️Play Numero 10 Online | Download js-dos bundle
ogDescription: Want to Play Numero 10? 🕹 On Dos Zone you can play Numero 10 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Numero 10
permalink: /numero-10-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnumero-10.jsdos
description: Numero 10 refers to the shirt number of French football star (and
  later UEFA president) Michel Platini who here gets his own football game.
  Except for Platini's name and picture on the title screen there are no real
  teams and players featured. The game features only single matches featuring
  one blue and one black team that can be named beforehand. A match can be
  played by one or two players and there is also a demonstration mode where the
  computer plays against itself. When playing alone keyboard controls are
  available but in two player mode joysticks are required for both players.
  Difficulty can be selected from first to third division. It's also possible to
  choose game length, either five or fifteen minutes per half. The game uses a
  side scrolling view similar to Commodore's International Soccer. In addition
  to the four movement buttons a single action button is used to play the game.
  This button is used for passing, shooting and tackling. When passing the ball
  will go to the nearest team mate while when shooting standing still will lead
  to a high shoot while doing so while running will lead to a lower shot. If not
  in possession of the ball the player closest to the ball is the one under
  control. When the ball is within six meters of goal it's possible to take
  control of the goalkeeper and the action button causes it to attempt a save.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fec804887c8f796c5d884da2e4071cde41844180.png
  - https://cdn.dos.zone/original/2X/f/ff9a30fd984b92ce16eb49dda05757c10007e4b1.png
---
