---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/objection.jsdos
layout: page.njk
ogDescription: Objection! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Objection!
  on mobile. On DOS.Zone Objection! available to play for free without registration.
permalink: /objection-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e6f15a65b7ca85231ec0df0294ba59d2f7672d4.png
- https://cdn.dos.zone/original/2X/f/f07e9c6dcce11a278b9ff51d6653b3ad786b5c8e.png
shortTitle: Objection!
title: Objection! | 🕹️Play Objection! Online | DOS game in browser

---
