---
layout: page.njk
title: Obliterator | 🕹️Play Obliterator Online | Download js-dos bundle
ogDescription: Want to Play Obliterator? 🕹 On Dos Zone you can play Obliterator
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Obliterator
permalink: /obliterator-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fobliterator.jsdos
description: You play Drak, the last of the Obliterators (genetically enhanced
  machines bio engineered for otherwise impossible missions.) Your mission is to
  save the Federation from an alien spacecraft. Obliterator is an arcade style
  platform action game. The game screens are static (instead of scrolling,
  though you can optionally turn on scrolling transitions between screens.) and
  can be maze like at times with many locations to search. Armed with a variety
  of weapons, you have to board the alien spacecraft, disable its weapons,
  plasma drives and shields, then escape.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d2a918e672abd225649ba3e2eeaabf0b426b2f99.gif
  - https://cdn.dos.zone/original/2X/c/c02c1b6c92ee3e794be81a22dc0629f44b9ea4ee.png
---
