---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/obliterator.jsdos
layout: page.njk
ogDescription: Obliterator is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Obliterator
  on mobile. On DOS.Zone Obliterator available to play for free without registration.
permalink: /obliterator-1989/
screenshots:
- https://cdn.dos.zone/original/2X/d/d2a918e672abd225649ba3e2eeaabf0b426b2f99.gif
- https://cdn.dos.zone/original/2X/c/c02c1b6c92ee3e794be81a22dc0629f44b9ea4ee.png
shortTitle: Obliterator
title: Obliterator | 🕹️Play Obliterator Online | DOS game in browser

---
