---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/oh-no-more-lemmings.jsdos
layout: page.njk
ogDescription: Oh No! More Lemmings is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Oh No! More Lemmings on mobile. On DOS.Zone Oh No! More Lemmings available to
  play for free without registration.
permalink: /oh-no-more-lemmings-1991/
screenshots: []
shortTitle: Oh No! More Lemmings
title: Oh No! More Lemmings | 🕹️Play Oh No! More Lemmings Online | DOS game in browser

---
