---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/olimpiadas-92-gimnasia-deportiva.jsdos
layout: page.njk
ogDescription: 'Olimpiadas 92: Gimnasia Deportiva is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Olimpiadas 92: Gimnasia Deportiva on mobile. On DOS.Zone Olimpiadas
  92: Gimnasia Deportiva available to play for free without registration.'
permalink: /olimpiadas-92-gimnasia-deportiva-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/cee914ab73e4ae0d82ec9bb50a560f84437f29dc.png
- https://cdn.dos.zone/original/2X/b/b7c153bf3e83e33dfcc5b145ce76ed3d974623ca.png
shortTitle: 'Olimpiadas 92: Gimnasia Deportiva'
title: 'Olimpiadas 92: Gimnasia Deportiva | 🕹️Play Olimpiadas 92: Gimnasia Deportiva
  Online | DOS game in browser'

---
