---
layout: page.njk
title: Omega | 🕹️Play Omega Online | Download js-dos bundle
ogDescription: Want to Play Omega? 🕹 On Dos Zone you can play Omega OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Omega
permalink: /omega-aug-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fomega_.jsdos
description: Omega casts the player into the role of a cyber-tank designer and
  programmer. The goal is to design a powerful tank capable of defeating
  opponents within the frames of a limited budget. A successful completion of
  this task grants the player character a higher security clearance and a large
  budget. Combat plays little to no role in the game; the gameplay is dedicated
  to designing the tanks themselves. The player programs tanks by using a
  built-in text editor. It is possible to assign different artificial
  intelligence script commands that control various aspects of the tank, as well
  as enable communication between several tanks in a group. The player must take
  into account the equipment of a tank and its attributes in order to design a
  vehicle that would prove successful in combat.
screenshots:
  - https://cdn.dos.zone/original/2X/1/19de509eb345d1b2457a39b3a7772dd9af6cc63b.png
  - https://cdn.dos.zone/original/2X/e/ed6f1f36cae858cc8a59a60c3c1f1aa195dacb9.png
---
