---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/omega_.jsdos
layout: page.njk
ogDescription: Omega is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Omega on mobile.
  On DOS.Zone Omega available to play for free without registration.
permalink: /omega-aug-1989/
screenshots:
- https://cdn.dos.zone/original/2X/1/19de509eb345d1b2457a39b3a7772dd9af6cc63b.png
- https://cdn.dos.zone/original/2X/e/ed6f1f36cae858cc8a59a60c3c1f1aa195dacb9.png
shortTitle: Omega
title: Omega | 🕹️Play Omega Online | DOS game in browser

---
