---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/omni-play-horse-racing.jsdos
layout: page.njk
ogDescription: Omni-Play Horse Racing is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Omni-Play Horse Racing on mobile. On DOS.Zone Omni-Play Horse Racing available
  to play for free without registration.
permalink: /omni-play-horse-racing-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/32be544db7659a6be2c106b4b16eef26b347dcaa.png
- https://cdn.dos.zone/original/2X/c/c99032b71f285762006535eee70f2c2ba8167ac6.png
shortTitle: Omni-Play Horse Racing
title: Omni-Play Horse Racing | 🕹️Play Omni-Play Horse Racing Online | DOS game in
  browser

---
