---
layout: page.njk
title: On Disk Monthly's Circuitry | 🕹️Play On Disk Monthly's Circuitry Online
  | Download js-dos bundle
ogDescription: Want to Play On Disk Monthly's Circuitry? 🕹 On Dos Zone you can
  play On Disk Monthly's Circuitry OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: On Disk Monthly's Circuitry
permalink: /on-disk-monthlys-circuitry-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fon-disk-monthlys-circuitry.jsdos
description: On Disk Monthly's Circuitry is a Tetris -style game where the
  player needs to connect one side of a 'well' to another with a 'circuit' of
  similar blocks. There are ten kinds of blocks, including 'stopper' blocks
  which permanently occupy a position on a game field, and 'universal' blocks,
  which complete any circuit. Blocks can be 'devalued' by one block type. The
  game ends when the field overflows. Blocks fall faster and faster as the game
  progresses.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dce5bfc659512b3c08d3af1867fb63c655bbfbfe.png
  - https://cdn.dos.zone/original/2X/5/50549728be25f5759ed240e0d2751ac3edd83b5a.png
---
