---
layout: page.njk
title: Onslaught | 🕹️Play Onslaught Online | Download js-dos bundle
ogDescription: Want to Play Onslaught? 🕹 On Dos Zone you can play Onslaught OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Onslaught
permalink: /onslaught-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fonslaught_.jsdos
description: As a highly respected warrior, you are attempting to conquer as
  many regions as possible. This is a three-stage task, as first you must fight
  through hordes of fighters simply to reach the castle, and then you have to
  climb the various sections of the castle, before battling with its existing
  inhabitant. The bulk of the game is side-scrolling platform hack 'n' slash
  action, with mines to avoid on the route. You can collect a number of spells,
  and select them using the function keys. Your physical and mental energy are
  measured separately throughout the game, and must both be kept high.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4dc51bc1178c6a287ed3752ebc837650f5db6906.png
  - https://cdn.dos.zone/original/2X/9/931beb2db7f1934bd615e4a4855503ea495aca7.png
---
