---
layout: page.njk
title: OnTarget | 🕹️Play OnTarget Online | Download js-dos bundle
ogDescription: Want to Play OnTarget? 🕹 On Dos Zone you can play OnTarget OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: OnTarget
permalink: /ontarget-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fontarget.jsdos
description: The game is basically two player. On a 2D map you and your opponent
  each have a missile tower. You take turns firing over cliffs and mountains to
  destroy each others tower. You have to use velocity, range, and angle.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f5a81f1cd63a4fbccb359756d8ed6beada20eaee.png
  - https://cdn.dos.zone/original/2X/8/8afbc90b4f9d02d3c7712a9b8b9ee35d6afeab4.png
---
