---
layout: page.njk
title: "Operation: Airlift | 🕹️Play Operation: Airlift Online | Download js-dos
  bundle"
ogDescription: "Want to Play Operation: Airlift? 🕹 On Dos Zone you can play
  Operation: Airlift OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Operation: Airlift"
permalink: /operation-airlift-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Foperation-airlift.jsdos
description: "Operation: Airlift is an action game which somewhat mimics the
  style of Choplifter. One or two players pilot a helicopter on a mission to
  rescue MIAs while avoiding enemy fire. The game uses EGA graphics and was
  released for free, serving as a demo for the ProGraphx Toolbox icon routines
  by Stanwood Associates."
screenshots:
  - https://cdn.dos.zone/original/2X/2/2d7a8a5f0e72eac70dda2952f8d812f3dd1d310c.png
---
