---
layout: page.njk
title: Operación Cyborg | 🕹️Play Operación Cyborg Online | Download js-dos bundle
ogDescription: Want to Play Operación Cyborg? 🕹 On Dos Zone you can play
  Operación Cyborg OR donwload js-dos bundle for free. Start playing now!
shortTitle: Operación Cyborg
permalink: /operacion-cyborg-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Foperacin-cyborg.jsdos
description: Operacion Cyborg is a side-scrolling run and gun game. In the game
  the player takes the role of a hero that must stop the evil robots that are
  trying to take the control of the central CPU of the planet. The game has
  three sectors with a lot of enemies. At the end, the player has to fight
  against a giant cyborg. To destroy the all the robots and save the planet the
  player has 6 lives and a limited time.
screenshots:
  - https://cdn.dos.zone/original/2X/3/33d3ca93009d7da482c01e08fbaae6e933882a76.png
  - https://cdn.dos.zone/original/2X/b/b5e08ea3e08c1b7b6315411f53a85fd4939d80b4.png
---
