---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/operacin-cyborg.jsdos
layout: page.njk
ogDescription: Operación Cyborg is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Operación
  Cyborg on mobile. On DOS.Zone Operación Cyborg available to play for free without
  registration.
permalink: /operacion-cyborg-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/33d3ca93009d7da482c01e08fbaae6e933882a76.png
- https://cdn.dos.zone/original/2X/b/b5e08ea3e08c1b7b6315411f53a85fd4939d80b4.png
shortTitle: Operación Cyborg
title: Operación Cyborg | 🕹️Play Operación Cyborg Online | DOS game in browser

---
