---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/5/53e616496b4da1d95136e235ad90c9cc3f3f760d.jsdos
layout: page.njk
ogDescription: Oregon Trail Deluxe is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Oregon Trail Deluxe on mobile. On DOS.Zone Oregon Trail Deluxe available to play
  for free without registration.
permalink: /oregon-trail-deluxe-1992/
screenshots:
- https://cdn.dos.zone/original/2X/1/1df856616f960f116e21b33a2fa104bd86f6ee33.jpeg
shortTitle: Oregon Trail Deluxe
title: Oregon Trail Deluxe | 🕹️Play Oregon Trail Deluxe Online | DOS game in browser

---
