---
layout: page.njk
title: Oregon Trail Deluxe | 🕹️Play Oregon Trail Deluxe Online | Download
  js-dos bundle
ogDescription: Want to Play Oregon Trail Deluxe? 🕹 On Dos Zone you can play
  Oregon Trail Deluxe OR donwload js-dos bundle for free. Start playing now!
shortTitle: Oregon Trail Deluxe
permalink: /oregon-trail-deluxe-1992/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F5%2F53e616496b4da1d95136e235ad90c9cc3f3f760d.jsdos
description: >-
  <p>As a covered wagon party of pioneers, you head out west from Independence,
  Missouri to the Willamette River and valley in Oregon. You first must stock up
  on provisions, and then, while traveling, make decisions such as when to rest,
  how much food to eat, etc. <em>The Oregon Trail</em> incorporates simulation
  elements and planning ahead, along with discovery and adventure, as well as
  mini-game-like activities (hunting and floating down the Dalles River)</p>

  <details>

  <summary>

  Screenshots</summary>

  <p><img src="//doszone-uploads.s3.dualstack.eu-central-1.amazonaws.com/original/2X/1/1df856616f960f116e21b33a2fa104bd86f6ee33.jpeg" alt="изображение" data-base62-sha1="4h7UeYfvntAc0GoiNNKT7quvOqT" width="640" height="403"></p>

  </details>
screenshots:
  - https://cdn.dos.zone/original/2X/1/1df856616f960f116e21b33a2fa104bd86f6ee33.jpeg
---
