---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/origamo.jsdos
layout: page.njk
ogDescription: Origamo is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Origamo on
  mobile. On DOS.Zone Origamo available to play for free without registration.
permalink: /origamo-1994/
screenshots:
- https://cdn.dos.zone/original/2X/b/b6cceeae1eb559712454f460a9dde818733773e6.png
- https://cdn.dos.zone/original/2X/1/1da6b5112fe72371be3e4f16d565165ba7c72e03.png
shortTitle: Origamo
title: Origamo | 🕹️Play Origamo Online | DOS game in browser

---
