---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ortotris.jsdos
layout: page.njk
ogDescription: Ortotris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Ortotris on
  mobile. On DOS.Zone Ortotris available to play for free without registration.
permalink: /ortotris-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a9e623ab6dec80efdf302262e7c88f1934e681e6.png
- https://cdn.dos.zone/original/2X/c/c3f13f595f7e8b5c6acab377b9fa66c1f5e2e59e.png
shortTitle: Ortotris
title: Ortotris | 🕹️Play Ortotris Online | DOS game in browser

---
