---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/osiris.jsdos
layout: page.njk
ogDescription: Osiris is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Osiris on mobile.
  On DOS.Zone Osiris available to play for free without registration.
permalink: /osiris-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/4fb3b63675f3bbbf589bec6b078ec57f282a4d60.png
- https://cdn.dos.zone/original/2X/6/6e18738ab38c0c7799d726a014dc7b1786811385.png
shortTitle: Osiris
title: Osiris | 🕹️Play Osiris Online | DOS game in browser

---
