---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/osmosis-solitaire.jsdos
layout: page.njk
ogDescription: Osmosis Solitaire is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Osmosis Solitaire on mobile. On DOS.Zone Osmosis Solitaire available to play for
  free without registration.
permalink: /osmosis-solitaire-1988/
screenshots:
- https://cdn.dos.zone/original/2X/b/be2296890927962f7b5a90d4135232bff6441516.png
- https://cdn.dos.zone/original/2X/7/791032a1025dc01eea884256d89a346a7ade3f28.png
shortTitle: Osmosis Solitaire
title: Osmosis Solitaire | 🕹️Play Osmosis Solitaire Online | DOS game in browser

---
