---
layout: page.njk
title: Out on a LEM | 🕹️Play Out on a LEM Online | Download js-dos bundle
ogDescription: Want to Play Out on a LEM? 🕹 On Dos Zone you can play Out on a
  LEM OR donwload js-dos bundle for free. Start playing now!
shortTitle: Out on a LEM
permalink: /out-on-a-lem-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fout-on-a-lem.jsdos
description: Out on a LEM is a BASIC-programmed Lunar Lander -type game. The
  goal is to land on the white goal pad without crashing into moon's jagged
  surface. The cursor keys are used to operate the left, right and vertical
  thrusters to land the Lunar Excursion Module (LEM) as gently as possible. A
  thruster is turned off by pressing the same key a second time. The fuel supply
  also needs to be watched. If there is fuel left, the on-board computer will
  attempt to return the LEM to Earth.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f594e8297d7b672b713a6d21757d8663fc26f714.png
  - https://cdn.dos.zone/original/2X/1/1e054e669a27c655940d38e578454c264585171c.png
---
