---
layout: page.njk
title: OutFox | 🕹️Play OutFox Online | Download js-dos bundle
ogDescription: Want to Play OutFox? 🕹 On Dos Zone you can play OutFox OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: OutFox
permalink: /outfox-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Foutfox.jsdos
description: OutFox is a single player, shareware implementation of the board
  game Fox and Hounds. As with the board game the player has twenty four hounds
  with which to trap the fox, the fox is moved by the computer. In this version
  there are rocks on the playing field which the fox may randomly throw around
  the screen potentially killing one of the hounds. The game is entirely
  keyboard controlled and has basic sound effects such as bleeps and whistles.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b41a1ced17a8456f4e13a2e087efdba12ea9af5.png
  - https://cdn.dos.zone/original/2X/c/c4f0d6a2a75c4ddb01d00536e256acbbb24696de.png
---
