---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/outfox.jsdos
layout: page.njk
ogDescription: OutFox is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in OutFox on mobile.
  On DOS.Zone OutFox available to play for free without registration.
permalink: /outfox-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/b41a1ced17a8456f4e13a2e087efdba12ea9af5.png
- https://cdn.dos.zone/original/2X/c/c4f0d6a2a75c4ddb01d00536e256acbbb24696de.png
shortTitle: OutFox
title: OutFox | 🕹️Play OutFox Online | DOS game in browser

---
