---
layout: page.njk
title: Oxyd magnum! | 🕹️Play Oxyd magnum! Online | Download js-dos bundle
ogDescription: Want to Play Oxyd magnum!? 🕹 On Dos Zone you can play Oxyd
  magnum! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Oxyd magnum!
permalink: /oxyd-magnum-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Foxyd-magnum.jsdos
description: 'The third entry in the Oxyd series is also the first to be
  released on a purely commercial basis.  Like its predecessors, it is a
  real-time puzzle game where the player maneuvers a rolling ball through a
  series of landscapes.  Each landscape contains a number of "oxyd stones",
  which reveal colored symbols when hit; if the next stone you strike is an
  exact match, the two are unlocked.  To complete a level, all matching pairs
  must be exposed. Oxyd magnum! is single-player only, and contains 100 levels -
  each with a password, to let you continue later from the same point.  The
  levels get progressively harder as new elements are thrown into the mix: pits,
  bumps, mazes, teleports, hidden passages, sliding and rotating blocks, deadly
  water, laser beams (and mirrors), tiles that reverse your controls, and many
  more.  Some levels feature additional balls (controlled simultaneously or in
  turn), and others offer special items that let you manipulate the
  environment.'
screenshots:
  - https://cdn.dos.zone/original/2X/1/104507bd73f933f9f8d420ac8934f9ef0e0237c.png
  - https://cdn.dos.zone/original/2X/2/204f94165bd72981f63a092c74ef3105555ef4de.png
---
