---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/oxyd-magnum.jsdos
layout: page.njk
ogDescription: Oxyd magnum! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Oxyd magnum!
  on mobile. On DOS.Zone Oxyd magnum! available to play for free without registration.
permalink: /oxyd-magnum-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/104507bd73f933f9f8d420ac8934f9ef0e0237c.png
- https://cdn.dos.zone/original/2X/2/204f94165bd72981f63a092c74ef3105555ef4de.png
shortTitle: Oxyd magnum!
title: Oxyd magnum! | 🕹️Play Oxyd magnum! Online | DOS game in browser

---
