---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/p-47-freedom-fighter.jsdos
layout: page.njk
ogDescription: P-47 Freedom Fighter is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in P-47 Freedom Fighter on mobile. On DOS.Zone P-47 Freedom Fighter available to
  play for free without registration.
permalink: /p-47-freedom-fighter-1993/
screenshots:
- https://cdn.dos.zone/original/2X/a/ab90706734559d27f993f6b809290cbda25e9893.png
- https://cdn.dos.zone/original/2X/a/adcc01867bc488d0b605786271b0a8d1c24eefe2.png
shortTitle: P-47 Freedom Fighter
title: P-47 Freedom Fighter | 🕹️Play P-47 Freedom Fighter Online | DOS game in browser

---
