---
layout: page.njk
title: P-Robots | 🕹️Play P-Robots Online | Download js-dos bundle
ogDescription: Want to Play P-Robots? 🕹 On Dos Zone you can play P-Robots OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: P-Robots
permalink: /p-robots-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fp-robots.jsdos
description: P-ROBOTS is a game based on computer programming in PASCAL. The
  concept and framework was inspired by C-ROBOTS (the same concept, except using
  the C language). The object of the game is to design and program a robot that
  can triumph over similar robots designed and programmed by others in a
  real-time battle of wits and flying missiles. The player controls the robot by
  writing a procedure in PASCAL to specify the robot's behavior and strategy in
  its efforts to vanquish up to three other robots in a battle to the death. A
  variety of pre-defined P-ROBOTS PASCAL functions and procedures allow your
  robot to track its position on the battlefield, monitor its health or damage
  condition, and calculate the distance and angle to opponents from its current
  battlefield position. Each robot is equipped with a cannon to fire missiles
  and a motorized drive mechanism to either close in for the kill of a hapless
  opponent or flee from a fierce foe. Optionally, robots may be equipped with
  bombs, a repair kit, different types of armor and warheads, a deflection
  shield, and/or a cloaking device.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bcc9d02ec412f0df49e05f2820ee0eac05ca247c.png
  - https://cdn.dos.zone/original/2X/6/6ad1e1a881af3f2badb2618a1bf8b4fc829b99ed.png
---
