---
layout: page.njk
title: Pac 2000 | 🕹️Play Pac 2000 Online | Download js-dos bundle
ogDescription: Want to Play Pac 2000? 🕹 On Dos Zone you can play Pac 2000 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Pac 2000
permalink: /pac-2000-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpac-2000.jsdos
description: "Pac 2000 is a pretty simple in concept and in options (in the main
  menu, the player only can redefine the keyboard) low budget Pac-Man clone
  (sold only at newsstands), with a military theme, and a robotic Pac-Man
  starring. The game is composed of 5 different missions with 2 levels each.
  Along the game, the player can take pills with various effects: improve the
  speed of the robotic Pac-Man, obtain more points, obtain an extra life... And
  of course, the player can take also the classic pills, that give him temporal
  invulnerability."
screenshots:
  - https://cdn.dos.zone/original/2X/6/627f5a7e341ca575b564ec79ebbb69567ca89ac.png
  - https://cdn.dos.zone/original/2X/5/5e5fb5272b447e381532c0e9671d0720d2c83b1a.png
---
