---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/5/5cdcffbf268b3be0555025902b52a8d21ad595b9.jsdos
layout: page.njk
ogDescription: Pac Man is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pac Man on
  mobile. On DOS.Zone Pac Man available to play for free without registration.
permalink: /pac-man-nov-11-1982/
screenshots:
- https://cdn.dos.zone/original/2X/c/c758c39c59b0a9520843128d07df2d1be89c6119.png
- https://cdn.dos.zone/original/2X/c/ca306fc46771523a0662605add423667559f9ba3.png
shortTitle: Pac Man
title: Pac Man | 🕹️Play Pac Man Online | DOS game in browser

---
