---
layout: page.njk
title: Pachisi | 🕹️Play Pachisi Online | Download js-dos bundle
ogDescription: Want to Play Pachisi? 🕹 On Dos Zone you can play Pachisi OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Pachisi
permalink: /pachisi-jul-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpachisi.jsdos
description: Pachisi is an ancient game thought to have originated in India.
  Modern western variants include the board games Sorry! and Ludo. The game is
  played by rolling a dice and moving counters around the outside of a cross
  shaped game area. Pachisi is for four players and in this shareware version
  the computer can substitute for one, two or three of those players. To win the
  game a player must be the first to move all of their counters around the board
  and into the centre.
screenshots:
  - https://cdn.dos.zone/original/2X/7/707eaf391ccaf7d7339a2fcedfcd0e92fa754a3e.jpeg
  - https://cdn.dos.zone/original/2X/1/15c7d2bfc682e843ab81a3cf119862fe017c5a72.jpeg
---
