---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pachisi.jsdos
layout: page.njk
ogDescription: Pachisi is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pachisi on
  mobile. On DOS.Zone Pachisi available to play for free without registration.
permalink: /pachisi-jul-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/707eaf391ccaf7d7339a2fcedfcd0e92fa754a3e.jpeg
- https://cdn.dos.zone/original/2X/1/15c7d2bfc682e843ab81a3cf119862fe017c5a72.jpeg
shortTitle: Pachisi
title: Pachisi | 🕹️Play Pachisi Online | DOS game in browser

---
