---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pacific-islands.jsdos
layout: page.njk
ogDescription: Pacific Islands is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pacific Islands
  on mobile. On DOS.Zone Pacific Islands available to play for free without registration.
permalink: /pacific-islands-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6651d0cae3b3acb71557702fad8eac14f764d335.gif
- https://cdn.dos.zone/original/2X/c/c6ad2559e8a31e8f488ecbd340bfd5b74d0d6655.gif
shortTitle: Pacific Islands
title: Pacific Islands | 🕹️Play Pacific Islands Online | DOS game in browser

---
