---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/packman.jsdos
layout: page.njk
ogDescription: Packman is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Packman on
  mobile. On DOS.Zone Packman available to play for free without registration.
permalink: /packman-1983/
screenshots:
- https://cdn.dos.zone/original/2X/3/37f27d5c6bbab054045e5d0a1d3e83893346236a.png
- https://cdn.dos.zone/original/2X/a/adf84c61dd683e6f8d39762f3448cd913a94d76e.png
shortTitle: Packman
title: Packman | 🕹️Play Packman Online | DOS game in browser

---
