---
layout: page.njk
title: Paganitzu | 🕹️Play Paganitzu Online | Download js-dos bundle
ogDescription: Want to Play Paganitzu? 🕹 On Dos Zone you can play Paganitzu OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Paganitzu
permalink: /paganitzu-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpaganitzu.jsdos
description: 'Paganitzu is a puzzle game with action elements. Help the hero,
  Alabama Smith, go through rooms of puzzles and traps to find treasure and a
  way out. The game consists of three episodes, each with many rooms. The
  episodes are: Episode One: Romancing The Rose Episode Two: Quest For The
  Silver dagger Episode Three: Jewel Of The Yucatan Each room is a puzzle in
  which the hero must collect gems, for points, and keys, to unlock the exit
  door, while avoiding nasties such as snakes and spiders. There are also
  boulders to be both moved and traps to be avoided. Bonus points are awarded
  for finding secret areas and for speedy completion. Episode One was released
  as shareware while the other two episodes were purchased together or
  separately. The player could also, for an additional fee, purchase the sixty
  page game solution which allegedly answers such questions as "How do I become
  bald in Episode One?", and "Where is the Emerald City?". The game also has
  many built in cheat codes which were available on purchase or on request.'
screenshots:
  - https://cdn.dos.zone/original/2X/7/7bad4eeb95787c19a6eab6fa3b56c9ebda99a43d.png
  - https://cdn.dos.zone/original/2X/7/7ac740ff8f442a280f7765ea7e49d04ed7fcf884.png
---
