---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paganitzu.jsdos
layout: page.njk
ogDescription: Paganitzu is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paganitzu
  on mobile. On DOS.Zone Paganitzu available to play for free without registration.
permalink: /paganitzu-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/7bad4eeb95787c19a6eab6fa3b56c9ebda99a43d.png
- https://cdn.dos.zone/original/2X/7/7ac740ff8f442a280f7765ea7e49d04ed7fcf884.png
shortTitle: Paganitzu
title: Paganitzu | 🕹️Play Paganitzu Online | DOS game in browser

---
