---
layout: page.njk
title: Pako 2 | 🕹️Play Pako 2 Online | Download js-dos bundle
ogDescription: Want to Play Pako 2? 🕹 On Dos Zone you can play Pako 2 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Pako 2
permalink: /pako-2-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpako-2.jsdos
description: Pako 2 is a Pac-Man variant and the follow-up to the original Pako.
  Just like in the original concept the player's character has to eat all dots
  in a maze to get a score and move on to the next level. Enemies roam around
  the maze and need to be avoided. The dots come in different forms and colours
  for each level. There are also power pill that turn the tables and allow the
  character to eat enemies. Compared to the original game this title contains
  music and timed games where all dots need to be eaten before time runs out.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fde6eb237030bd3b58f3f9e86e3adfc786bad49.png
  - https://cdn.dos.zone/original/2X/b/b38310dbb50a505384d791c3ebb84122df370411.png
---
