---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paku-paku.jsdos
layout: page.njk
ogDescription: Paku Paku is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paku Paku
  on mobile. On DOS.Zone Paku Paku available to play for free without registration.
permalink: /paku-paku-feb-04-2011/
screenshots:
- https://cdn.dos.zone/original/2X/d/dc312d70d99839f061a55bedfbb6a2e708ad9705.png
- https://cdn.dos.zone/original/2X/9/9e46c0198ac2eb5207a19aa94043960e2dd6b352.png
shortTitle: Paku Paku
title: Paku Paku | 🕹️Play Paku Paku Online | DOS game in browser

---
