---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paladin.jsdos
layout: page.njk
ogDescription: Paladin is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paladin on
  mobile. On DOS.Zone Paladin available to play for free without registration.
permalink: /paladin-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/d31bf512156e205cd50f94e392a66f4f78b639c5.png
- https://cdn.dos.zone/original/2X/e/ec04d0def106f0204f47c7934b94f70e2542569f.png
shortTitle: Paladin
title: Paladin | 🕹️Play Paladin Online | DOS game in browser

---
