---
layout: page.njk
title: Paladin | 🕹️Play Paladin Online | Download js-dos bundle
ogDescription: Want to Play Paladin? 🕹 On Dos Zone you can play Paladin OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Paladin
permalink: /paladin-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpaladin.jsdos
description: The Paladin is the ultimate warrior on the battlefield, he leads
  forces and is the master of swordsmanship. But Paladins are not born with
  these abilities. They must be trained and tested in many missions to obtain
  knighthood. Paladin is an overhead turn-based strategy game played on various
  tiles. Players take a phase followed by enemies taking a phase. All actions,
  including movement will use up some of a character's MP (Movement Points).
  Possible actions include movement, opening doors, picking up items, using
  items, casting spells or attacking friends and foes on adjacent squares. Each
  quest is loaded up individually, though some quests may contain multiple maps.
  The paladin is the only character who can be transfered to any map and the
  only character to gain experience and new abilities. The game features a level
  editor for creation of one's own quests, the game itself comes with 10 quests.
  New Paladins are also built from this editor. One paladin ("Brandon") comes
  ready-made with the game.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d31bf512156e205cd50f94e392a66f4f78b639c5.png
  - https://cdn.dos.zone/original/2X/e/ec04d0def106f0204f47c7934b94f70e2542569f.png
---
