---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paper-airplane.jsdos
layout: page.njk
ogDescription: Paper Airplane is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paper Airplane
  on mobile. On DOS.Zone Paper Airplane available to play for free without registration.
permalink: /paper-airplane-nov-14-1993/
screenshots:
- https://cdn.dos.zone/original/2X/d/d0766819ea8f300ea64588a28b0e4407def13ff6.gif
- https://cdn.dos.zone/original/2X/a/ae71d93aba721a048fc2fedbb26c1421977fca06.png
shortTitle: Paper Airplane
title: Paper Airplane | 🕹️Play Paper Airplane Online | DOS game in browser

---
