---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paragliding.jsdos
layout: page.njk
ogDescription: Paragliding is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paragliding
  on mobile. On DOS.Zone Paragliding available to play for free without registration.
permalink: /paragliding-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/d2310469948124131f77d6356c8f17ee14551223.png
- https://cdn.dos.zone/original/2X/a/a1502292a3d4371da6be0d3f1a330cedcf5baead.png
shortTitle: Paragliding
title: Paragliding | 🕹️Play Paragliding Online | DOS game in browser

---
