---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/paris-dakar.jsdos
layout: page.njk
ogDescription: Paris-Dakar is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Paris-Dakar
  on mobile. On DOS.Zone Paris-Dakar available to play for free without registration.
permalink: /paris-dakar-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/2221edce95a52e1aaec2602f354679bf05d39cc9.png
- https://cdn.dos.zone/original/2X/d/d98f42d719958a81eecce59cec8cb3b84079677e.png
shortTitle: Paris-Dakar
title: Paris-Dakar | 🕹️Play Paris-Dakar Online | DOS game in browser

---
