---
layout: page.njk
title: Passengers on the Wind II | 🕹️Play Passengers on the Wind II Online |
  Download js-dos bundle
ogDescription: Want to Play Passengers on the Wind II? 🕹 On Dos Zone you can
  play Passengers on the Wind II OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Passengers on the Wind II
permalink: /passengers-on-the-wind-ii-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpassengers-on-the-wind-ii.jsdos
description: "Passengers on the Wind II allows players to decide the fate of the
  heroes and direct all of them so that they reach their aim. Players will
  discover many locations, directions, and events; and will live different
  stories according to the directions that he makes the characters take.
  Everything is controlled using either the keyboard or the joystick. Players
  are both the director and the heroes. The screen is divided into three main
  elements: a graphical section where the action takes place; a section showing
  the character players are directing; and the section containing text, from
  which players decide the action. The player can take several actions during
  the game: saving a game, viewing flashbacks (in slow or fast motion), or
  intervention on the central graphic screen to make the action develop. The
  game is split into seven episodes which players have to gradually make their
  way through. In each, a main scene is displayed in the graphical section, and
  by simple confirmation players can make the characters appear. To avoid
  restarting the game at the beginning each time, players are given an
  opportunity to save the situation in progress. In this case, a blank,
  formatted disk is required to save these situations."
screenshots:
  - https://cdn.dos.zone/original/2X/2/2173954ac4286db0d74bd59bc848469553904217.png
  - https://cdn.dos.zone/original/2X/a/a492a8bdf3729b5f98867640bd3e2f5d5b1155b.png
---
