---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/passengers-on-the-wind-ii.jsdos
layout: page.njk
ogDescription: Passengers on the Wind II is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Passengers on the Wind II on mobile. On DOS.Zone Passengers on the Wind II available
  to play for free without registration.
permalink: /passengers-on-the-wind-ii-1987/
screenshots:
- https://cdn.dos.zone/original/2X/2/2173954ac4286db0d74bd59bc848469553904217.png
- https://cdn.dos.zone/original/2X/a/a492a8bdf3729b5f98867640bd3e2f5d5b1155b.png
shortTitle: Passengers on the Wind II
title: Passengers on the Wind II | 🕹️Play Passengers on the Wind II Online | DOS game
  in browser

---
