---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/patriot-command.jsdos
layout: page.njk
ogDescription: Patriot Command is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Patriot Command
  on mobile. On DOS.Zone Patriot Command available to play for free without registration.
permalink: /patriot-command-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a0aaf9fc9175ce72cf48e5d3c60f7edd1c2bfae.png
- https://cdn.dos.zone/original/2X/1/1b6bf70c347edf869011e30f3d655e78fd63dda5.png
shortTitle: Patriot Command
title: Patriot Command | 🕹️Play Patriot Command Online | DOS game in browser

---
