---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pc-basket-40.jsdos
layout: page.njk
ogDescription: PC Basket 4.0 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PC Basket
  4.0 on mobile. On DOS.Zone PC Basket 4.0 available to play for free without registration.
permalink: /pc-basket-4-0-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/51d59273917dd4272239397a1ad155581b605136.png
- https://cdn.dos.zone/original/2X/a/a632abd47e735eac077d8c1fa8a917cfea991bbd.png
shortTitle: PC Basket 4.0
title: PC Basket 4.0 | 🕹️Play PC Basket 4.0 Online | DOS game in browser

---
