---
layout: page.njk
title: PC Basket 4.0 | 🕹️Play PC Basket 4.0 Online | Download js-dos bundle
ogDescription: Want to Play PC Basket 4.0? 🕹 On Dos Zone you can play PC Basket
  4.0 OR donwload js-dos bundle for free. Start playing now!
shortTitle: PC Basket 4.0
permalink: /pc-basket-4-0-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpc-basket-40.jsdos
description: This is the fourth instalment in the "PC Basket" series by Dinamic
  Multimedia. As its predecessors, "PC Basket 4.0" combines a team database with
  a basket simulator, and it allows the player to browse through the updated (as
  of 1996) team database, to play a managerial simulation as the owner / coach
  of any of the teams or just to play a basketball match. Apart from the updated
  database, this fourth game in the series offers 800x600 graphic resolution
  (only for the basketball simulation), 32 new teams and the possibility to play
  the European League. Also, in the simulation mode, the referees are visible
  throughout the game and new movements are possible, such as passing the ball
  to players behind you.
screenshots:
  - https://cdn.dos.zone/original/2X/5/51d59273917dd4272239397a1ad155581b605136.png
  - https://cdn.dos.zone/original/2X/a/a632abd47e735eac077d8c1fa8a917cfea991bbd.png
---
