---
layout: page.njk
title: PC Basket 2.0 | 🕹️Play PC Basket 2.0 Online | Download js-dos bundle
ogDescription: Want to Play PC Basket 2.0? 🕹 On Dos Zone you can play PC Basket
  2.0 OR donwload js-dos bundle for free. Start playing now!
shortTitle: PC Basket 2.0
permalink: /pc-basket-2-0-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpc-basket-20.jsdos
description: "PC Basket 2.0 is the sequel to PC Basket. This is a managerial
  game that allows you to take part in the Spanish basketball league as any of
  the 16 teams that were struggling for the title in the 1993/94 season. You can
  choose the quintet and also the team tactics, as well as controlling the
  players (something that was not possible in the first PC Basket). You will
  dispose of two action buttons during the game: in attack, you can either shot
  or pass the ball, while in defense, you can also try to steal the ball or
  block your rivals shot. Another important aspect of the game is its database,
  including players stats of the ACB league since its beginnings, as well as
  93/94 clubs information (budget, stadium...)."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7e7dc97a7c83f86525ea33210a42e8d577c00e19.png
  - https://cdn.dos.zone/original/2X/4/47ac93426159b256452401a303d811f0d34e1af1.png
---
