---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pc-fender.jsdos
layout: page.njk
ogDescription: PC-Fender is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PC-Fender
  on mobile. On DOS.Zone PC-Fender available to play for free without registration.
permalink: /pc-fender-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/2a025762b4e7cc34c9e090ac81acfdbef889c786.jpeg
- https://cdn.dos.zone/original/2X/8/803df66e6a0dd9affd2ec7aa05109f771a17d4d.jpeg
shortTitle: PC-Fender
title: PC-Fender | 🕹️Play PC-Fender Online | DOS game in browser

---
