---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pc-ftbol-50.jsdos
layout: page.njk
ogDescription: PC Fútbol 5.0 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PC Fútbol
  5.0 on mobile. On DOS.Zone PC Fútbol 5.0 available to play for free without registration.
permalink: /pc-futbol-5-0-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/5964379a18084838cf2348f5d479fc3ca103eb5f.png
- https://cdn.dos.zone/original/2X/1/112c137a71751b839d26574d7b2fd50ededf149.png
shortTitle: PC Fútbol 5.0
title: PC Fútbol 5.0 | 🕹️Play PC Fútbol 5.0 Online | DOS game in browser

---
