---
layout: page.njk
title: PC-Gammon | 🕹️Play PC-Gammon Online | Download js-dos bundle
ogDescription: Want to Play PC-Gammon? 🕹 On Dos Zone you can play PC-Gammon OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: PC-Gammon
permalink: /pc-gammon-sep-19-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpc-gammon.jsdos
description: PC-Gammon is a single player, shareware, backgammon game in which
  the player takes on the computer. In PC-Gammon V, version five of the game,
  the computer opponent has three skill levels, and options to play a
  tournament, print the game, edit a game, and play via a modem, and a score
  table. It can be played via the keyboard or the mouse.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7baf19c21415d387b96e93f9ce2e7675b3c41ce4.png
  - https://cdn.dos.zone/original/2X/c/c89cb6eb575f067dc169bda415d76d5c32a1d661.png
---
