---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pc-gol.jsdos
layout: page.njk
ogDescription: PC Gol is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in PC Gol on mobile.
  On DOS.Zone PC Gol available to play for free without registration.
permalink: /pc-gol-1993/
screenshots:
- https://cdn.dos.zone/original/2X/8/80202c57754516383a3f42fb4cfea3d713eb85e8.png
- https://cdn.dos.zone/original/2X/5/5175c498c419da86eab1281f6157aa0415a31e22.png
shortTitle: PC Gol
title: PC Gol | 🕹️Play PC Gol Online | DOS game in browser

---
