---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pc-monopoly.jsdos
layout: page.njk
ogDescription: PC-Monopoly is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PC-Monopoly
  on mobile. On DOS.Zone PC-Monopoly available to play for free without registration.
permalink: /pc-monopoly-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/bc4d1e09e12f434799fc56e552b64fbd47c9f27e.png
- https://cdn.dos.zone/original/2X/b/b088f8c8f0589eed46371b14dc1621d4dce9537.png
shortTitle: PC-Monopoly
title: PC-Monopoly | 🕹️Play PC-Monopoly Online | DOS game in browser

---
