---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pchallenge.jsdos
layout: page.njk
ogDescription: PChallenge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PChallenge
  on mobile. On DOS.Zone PChallenge available to play for free without registration.
permalink: /pchallenge-jun-1982/
screenshots:
- https://cdn.dos.zone/original/2X/2/20d232d4b312169ef6ed43867847b66854793f35.png
- https://cdn.dos.zone/original/2X/5/52c95640f4bb4d346a198a686f53168ff51a1303.png
shortTitle: PChallenge
title: PChallenge | 🕹️Play PChallenge Online | DOS game in browser

---
