---
layout: page.njk
title: Pearl Harbour | 🕹️Play Pearl Harbour Online | Download js-dos bundle
ogDescription: Want to Play Pearl Harbour? 🕹 On Dos Zone you can play Pearl
  Harbour OR donwload js-dos bundle for free. Start playing now!
shortTitle: Pearl Harbour
permalink: /pearl-harbour-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpearl-harbour_.jsdos
description: "Pearl Harbour takes you back to December 7th, 1942 (curiously,
  that's exactly one year after the historical battle -- then again, hardly the
  worst case of revisionism in gaming).  You're put in charge of an
  anti-aircraft gun overlooking the waters, just as the first Japanese planes
  are sighted over the horizon.  Your objective: shoot them down before they
  sink the whole fleet - or take you out. The game presents the action from a
  first-person view, and boasts some realistic simulation aspects: the speeds of
  enemy aircraft, falling bombs and fired shells are true to life (relative to
  each other); ballistic trajectory must be taken into account when
  targeting.  The Japanese bombers go for the standing ships first - the more
  they manage to sink, the higher the probability that they'll target your
  position instead (this is displayed as a number, next to your kill count).
  When the fleet or your gun are destroyed, the game is over. The shareware
  version limits you to 200 rounds of ammo; the registered version removes this
  limit, keeps track of high scores, and includes the game's source code."
screenshots:
  - https://cdn.dos.zone/original/2X/6/69be269297cc27e072e268afa9fa4221e1eda0bf.png
  - https://cdn.dos.zone/original/2X/e/ea7b70400e4d11d233c5354316abd76dc980e4c3.png
---
