---
layout: page.njk
title: Pepper's Adventures in Time | 🕹️Play Pepper's Adventures in Time Online
  | Download js-dos bundle
ogDescription: Want to Play Pepper's Adventures in Time? 🕹 On Dos Zone you can
  play Pepper's Adventures in Time OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Pepper's Adventures in Time
permalink: /peppers-adventures-in-time-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpeppers-adventures-in-time.jsdos
description: This point n' click adventure game is actually an edutainment
  (entertainment leading to education) title developed by Sierra, who were also
  responsible for other games such as the EcoQuest and Dr. Brain series. The
  object of this game is to help a little girl called Pepper, solve puzzles
  based on history and logic, so that she can fix the mess caused by Dr. Fred's
  time machine. At certain points in the game, the player is even allowed to
  control her pet dog, Lockjaw. The game consists of an educational factor where
  the player can learn about many important facts concerning the colonial times
  of the United States. It is divided into Acts in which the player has to reach
  given goals and, apart from other, typical for adventure games things, learn
  about facts listed in the opening. To do it the special TRUTH icon has to be
  used. When the act is concluded, the player is challenged with a quiz about
  the things he learned. For each correct answer he receives progress points.
  Cartoonish graphics similar to the style in Day of the Tentacle were used in
  order to appeal to younger audiences.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dd0f154167c0b6ff3cc522091a723ef2bbd61663.gif
  - https://cdn.dos.zone/original/2X/a/a74e02a30536ab1d086757b09b3c66011323f739.gif
---
