---
layout: page.njk
title: Perfect General II | 🕹️Play Perfect General II Online | Download js-dos bundle
ogDescription: Want to Play Perfect General II? 🕹 On Dos Zone you can play
  Perfect General II OR donwload js-dos bundle for free. Start playing now!
shortTitle: Perfect General II
permalink: /perfect-general-ii-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fperfect-general-ii.jsdos
description: Easy to learn, terrain effects, multiple difficulty levels, plenty
  of units (albeit same for either side), scenario editor, full campaigns,
  intricate scoring system, multiple zoom levels, make up this turn-based war
  game.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bff4a1a51eda10c3e06fb7a86a16973fedfcc1d4.png
  - https://cdn.dos.zone/original/2X/3/32965646c89b66f22d5499f8687f1b83db8404e5.png
---
