---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/perfect-general-ii.jsdos
layout: page.njk
ogDescription: Perfect General II is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Perfect General II on mobile. On DOS.Zone Perfect General II available to play for
  free without registration.
permalink: /perfect-general-ii-1994/
screenshots:
- https://cdn.dos.zone/original/2X/b/bff4a1a51eda10c3e06fb7a86a16973fedfcc1d4.png
- https://cdn.dos.zone/original/2X/3/32965646c89b66f22d5499f8687f1b83db8404e5.png
shortTitle: Perfect General II
title: Perfect General II | 🕹️Play Perfect General II Online | DOS game in browser

---
