---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/petris.jsdos
layout: page.njk
ogDescription: Petris is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Petris on mobile.
  On DOS.Zone Petris available to play for free without registration.
permalink: /petris-1991/
screenshots:
- https://cdn.dos.zone/original/2X/2/266ea3d53da4af30301b3d84e1add6034b5072e1.png
- https://cdn.dos.zone/original/2X/d/d2a2d02ea674d036a62b2967c9ab8ce24222976f.png
shortTitle: Petris
title: Petris | 🕹️Play Petris Online | DOS game in browser

---
