---
layout: page.njk
title: Petris | 🕹️Play Petris Online | Download js-dos bundle
ogDescription: Want to Play Petris? 🕹 On Dos Zone you can play Petris OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Petris
permalink: /petris-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpetris.jsdos
description: >-
  Petris is a single player, shareware, game which plays a bit like Tetris,
  however unlike Tetris the blocks do not fall automatically - they are steered
  into position with the arrow keys. This game has four levels of difficulty:

  Level 1: The easy game

  Level 2: Like level 1 but there is a time limit during which the block must be dropped

  Level 3: Here the block cannot be flipped, what you see is what you drop

  Level 4: Both prevents a block being flipped and has a time limit during which it must be dropped The player scores points for each completed row. The game is entirely keyboard controlled, has sound effects, and uses character graphics.
screenshots:
  - https://cdn.dos.zone/original/2X/2/266ea3d53da4af30301b3d84e1add6034b5072e1.png
  - https://cdn.dos.zone/original/2X/d/d2a2d02ea674d036a62b2967c9ab8ce24222976f.png
---
