---
layout: page.njk
title: Phagefight | 🕹️Play Phagefight Online | Download js-dos bundle
ogDescription: Want to Play Phagefight? 🕹 On Dos Zone you can play Phagefight
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Phagefight
permalink: /phagefight-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fphagefight.jsdos
description: In Phagefight, you are in control of an army of bacteriophage.
  Small viral organisms engaged in an epic battle over an area a few microns
  wide. It is a small turn-based strategy game similar to Ataxx. The board is
  7x7 squares, and there are 20 different boards differing in obstacles and
  initial starting places. In turns, players (or player vs. computer) move one
  of their pieces. If the piece is moved to an adjacent square, the piece is
  duplicated, otherwise the piece moves up to 2 squares away. All enemy pieces
  adjacent to the landing square are converted to the player's colour. If the
  board becomes full or a player doesn't have any legal moves, the player with
  more pieces wins; it's also possible to win by eating all of the enemy's
  pieces. Besides the 20 different boards, the background colour and cycling
  speed can be customized, and the AI difficulty and aggressiveness can be
  tuned. Although the game is designed for then-modern PC's, it could be run in
  an old XT model and it could fit in a 5.25" DD 360 KiB disk.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f08f3e5699886ebf9b402c47b1af8bb47df10db8.png
  - https://cdn.dos.zone/original/2X/1/1d50d5272e0dceb9a012574b44680367a9cbb8e0.png
---
