---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/phagefight.jsdos
layout: page.njk
ogDescription: Phagefight is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Phagefight
  on mobile. On DOS.Zone Phagefight available to play for free without registration.
permalink: /phagefight-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/f08f3e5699886ebf9b402c47b1af8bb47df10db8.png
- https://cdn.dos.zone/original/2X/1/1d50d5272e0dceb9a012574b44680367a9cbb8e0.png
shortTitle: Phagefight
title: Phagefight | 🕹️Play Phagefight Online | DOS game in browser

---
