---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pharaohs-revenge.jsdos
layout: page.njk
ogDescription: Pharaoh's Revenge is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Pharaoh's Revenge on mobile. On DOS.Zone Pharaoh's Revenge available to play for
  free without registration.
permalink: /pharaohs-revenge-aug-1988/
screenshots:
- https://cdn.dos.zone/original/2X/c/c4b56d982a6e0fd907e10f0c5a4a217533032f23.png
- https://cdn.dos.zone/original/2X/a/aae35854df845d95f934f541c1a2c4bce6287f30.png
shortTitle: Pharaoh's Revenge
title: Pharaoh's Revenge | 🕹️Play Pharaoh's Revenge Online | DOS game in browser

---
