---
layout: page.njk
title: Pharaoh's Revenge | 🕹️Play Pharaoh's Revenge Online | Download js-dos bundle
ogDescription: Want to Play Pharaoh's Revenge? 🕹 On Dos Zone you can play
  Pharaoh's Revenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Pharaoh's Revenge
permalink: /pharaohs-revenge-aug-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpharaohs-revenge.jsdos
description: Pharaoh's Revenge is a fast action computer game in the arcade
  tradition. Using the keyboard or joystick the player must attempt to evade an
  opponent (computer or human) while solving a complex maze that, when solved,
  leads to safety. There are 200 levels in the main game, with 50 advanced
  levels that become available after the player completes the original 200.  In
  addition, there is a construction set for creating additional levels which can
  then be shared with friends.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c4b56d982a6e0fd907e10f0c5a4a217533032f23.png
  - https://cdn.dos.zone/original/2X/a/aae35854df845d95f934f541c1a2c4bce6287f30.png
---
