---
layout: page.njk
title: Photopia | 🕹️Play Photopia Online | Download js-dos bundle
ogDescription: Want to Play Photopia? 🕹 On Dos Zone you can play Photopia OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Photopia
permalink: /photopia-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fphotopia.jsdos
description: In this text adventure, you journey between various short stories
  that are connected solely by color.  At any one time, you may be speeding on
  the road with a friend, landing on Mars, or teaching your daughter about
  astronomy.  It all wraps together in the end, though.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5cf04d7bc0a47cc4d77412eb15b3e856dfc75a6f.png
  - https://cdn.dos.zone/original/2X/b/b8e0bdedc5e288a708ed4b5a352a699da1ab99b8.png
---
