---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/phylox.jsdos
layout: page.njk
ogDescription: Phylox is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Phylox on mobile.
  On DOS.Zone Phylox available to play for free without registration.
permalink: /phylox-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/fd1eaf0a4b017ee4ca56973ff21677012fdfb53f.png
- https://cdn.dos.zone/original/2X/9/938f4fe0047a0ca5ed9da6044730f4885eaa0f1b.png
shortTitle: Phylox
title: Phylox | 🕹️Play Phylox Online | DOS game in browser

---
