---
layout: page.njk
title: Piece of Cake | 🕹️Play Piece of Cake Online | Download js-dos bundle
ogDescription: Want to Play Piece of Cake? 🕹 On Dos Zone you can play Piece of
  Cake OR donwload js-dos bundle for free. Start playing now!
shortTitle: Piece of Cake
permalink: /piece-of-cake-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpiece-of-cake.jsdos
description: This educational game attempts to endear basic mathematics to young
  school children by using liberal amounts of... cake. Five mini-games are
  included, all based on the theme of a bakery, where the sugary dessert can
  only be prepared by means of solving simple calculations. The first three
  exercise basic arithmetics through counting, dividing and distributing cakes;
  then there's a Flash Cards-type game that presents a series of problems
  (according to the chosen type and difficulty) to be solved in a guided manner.
  The final game tasks 1 to 4 players with catching falling cakes in mid-air, by
  giving the correct answers as quickly as possible - before they go splat and
  mess up the floor!
screenshots:
  - https://cdn.dos.zone/original/2X/d/d3a15b5bb41460b326d063c401c8fe101a52d5e5.png
  - https://cdn.dos.zone/original/2X/3/3c6d00846350951a3fab7708b9699e4078feb6b.png
---
