---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pipeline.jsdos
layout: page.njk
ogDescription: Pipeline is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pipeline on
  mobile. On DOS.Zone Pipeline available to play for free without registration.
permalink: /pipeline-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/eb500d86cafaf0e2c065cd3fc81d9168184b0623.png
- https://cdn.dos.zone/original/2X/f/fac9ae0102876b8b4dec74fd8875721a05bc4a37.png
shortTitle: Pipeline
title: Pipeline | 🕹️Play Pipeline Online | DOS game in browser

---
