---
layout: page.njk
title: Piranha | 🕹️Play Piranha Online | Download js-dos bundle
ogDescription: Want to Play Piranha? 🕹 On Dos Zone you can play Piranha OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Piranha
permalink: /piranha-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpiranha.jsdos
description: >-
  Piranha is your run-of-the-mill Asteroids clone, but features a vast range of
  weapons and enemies across 100 levels of gameplay.

  With improved graphics and (well, some of it) music by Eric Streidell (Zodiak / Cascada) and Prism / EMF, this is one of the more recent additions to the huge list of Asteroids clone.
screenshots:
  - https://cdn.dos.zone/original/2X/5/571f0b6c63cf545620a09ae712e4a332f2d691ee.png
  - https://cdn.dos.zone/original/2X/d/d721465665e3d8b16bcd5216e9c0795f8a723112.gif
---
