---
layout: page.njk
title: "Pirada I: The Fearless | 🕹️Play Pirada I: The Fearless Online |
  Download js-dos bundle"
ogDescription: "Want to Play Pirada I: The Fearless? 🕹 On Dos Zone you can play
  Pirada I: The Fearless OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Pirada I: The Fearless"
permalink: /pirada-i-the-fearless-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpirada-i-the-fearless.jsdos
description: "Pirada I: The Fearless is a shareware card game. It is one of a
  trilogy of games, the others being Pirada II: The Powerful and Pirada III: The
  Invincible, parts two and three of the trilogy were only available to those
  who registered the shareware game. As far as game-play goes this is a bit like
  a blackjack version of Poker Squares but with elements of Minesweeper thrown
  in. The player starts with three lives and twenty-five cards laid out face
  down in a 5x5 grid. By clicking on a card they turn it over the object being
  to achieve blackjack, a score of twenty-one, in as many horizontal and
  vertical lines as possible. For every score of twenty one they achieve the
  player receives a credit. Every time they fail to score at least one blackjack
  score they lose a life. Some cards will reveal a grenade when turned over,
  when this happens the player must declare their hand before the grenade
  explodes (it's on a countdown timer) otherwise they lose a life. Later in the
  game cards with balloons appear, these allow the player to exchange credits
  for an extra life. There is no save game feature, nor is there a high score
  table."
screenshots:
  - https://cdn.dos.zone/original/2X/9/901267b954ceb17f8f8e05b242baf650d6a189cb.png
  - https://cdn.dos.zone/original/2X/5/51f3221595273b684b6f7a61b2ea6f869889fa25.png
---
