---
layout: page.njk
title: Piso Zero | 🕹️Play Piso Zero Online | Download js-dos bundle
ogDescription: Want to Play Piso Zero? 🕹 On Dos Zone you can play Piso Zero OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Piso Zero
permalink: /piso-zero-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpiso-zero.jsdos
description: In Piso Zero, the player takes the role of Mac, a hero that must
  rescue the people of 15 buildings that are now under the control of the evil
  Calawarr brothers and their army. To rescue the hostages, the player must find
  along every stage the hostages and take them to the exit of the building,
  while avoiding the enemies. In each stage, the player must rescue a different
  number of hostages. The hero has limited time and unlimited ammo. There is a
  high-scores table to keep track of the highest scoring players.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2765df7f3af4cd38f23044777f300670726d0f2e.png
  - https://cdn.dos.zone/original/2X/e/e0d687fd3bb4c6e3a436812beb129f3a10f99d5d.png
---
