---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/piso-zero.jsdos
layout: page.njk
ogDescription: Piso Zero is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Piso Zero
  on mobile. On DOS.Zone Piso Zero available to play for free without registration.
permalink: /piso-zero-1991/
screenshots:
- https://cdn.dos.zone/original/2X/2/2765df7f3af4cd38f23044777f300670726d0f2e.png
- https://cdn.dos.zone/original/2X/e/e0d687fd3bb4c6e3a436812beb129f3a10f99d5d.png
shortTitle: Piso Zero
title: Piso Zero | 🕹️Play Piso Zero Online | DOS game in browser

---
