---
layout: page.njk
title: Pitfall | 🕹️Play Pitfall Online | Download js-dos bundle
ogDescription: Want to Play Pitfall? 🕹 On Dos Zone you can play Pitfall OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Pitfall
permalink: /pitfall-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpitfall_.jsdos
description: How deep can you go? In Pitfall you manoeuvre your ship down a
  seemingly neverending shaft while avoiding the rock edges and disembodied
  faces. Use the left right keyboard keys to move your ship side-to-side and use
  the up and down arrows to slightly speed your ship up or slow it down. Hitting
  rock faces will take points off your hit-points but hitting those creepy
  floating faces will mean instant death. Your ASCII graphics ship has ten hit
  points to start with. Five additional points are rewarded as you manoeuvre
  further down deeper into the shaft every three thousand points. Occasionally
  you will find a floating star in the depths which will reward you a bonus of
  two hundred points. There are no multiple attempts down the shaft. Each
  destroyed ship means you must start all over again.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2469e3f1b53fb697bfa531a6f9d254b269a0d598.png
  - https://cdn.dos.zone/original/2X/c/c2d3dd47306b2cd0ae9ab22dbbef38e18c31521.png
---
