---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pitfall_.jsdos
layout: page.njk
ogDescription: Pitfall is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pitfall on
  mobile. On DOS.Zone Pitfall available to play for free without registration.
permalink: /pitfall-1984/
screenshots:
- https://cdn.dos.zone/original/2X/2/2469e3f1b53fb697bfa531a6f9d254b269a0d598.png
- https://cdn.dos.zone/original/2X/c/c2d3dd47306b2cd0ae9ab22dbbef38e18c31521.png
shortTitle: Pitfall
title: Pitfall | 🕹️Play Pitfall Online | DOS game in browser

---
