---
layout: page.njk
title: Planet Soccer | 🕹️Play Planet Soccer Online | Download js-dos bundle
ogDescription: Want to Play Planet Soccer? 🕹 On Dos Zone you can play Planet
  Soccer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Planet Soccer
permalink: /planet-soccer-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fplanet-soccer.jsdos
description: This football game features practically every international team
  available with its corresponding players (circa 1994) and with gameplay modes
  that include 1 and 2 player exhibition matches and the full World Cup. The
  distinguishing feature of the game is its use of a different perspective which
  puts you behind and above the players as in 3rd person 3D games, but in a
  fixed position where the camera just slides up and down the court to follow
  the players. Graphics are 2D VGA sprites
screenshots:
  - https://cdn.dos.zone/original/2X/f/f9e21ab0e362eae7c5e3c87012e370950c129924.png
  - https://cdn.dos.zone/original/2X/b/b050eb39ef6703636df541b01a149f64a356a66c.png
---
