---
layout: page.njk
title: Planetfall | 🕹️Play Planetfall Online | Download js-dos bundle
ogDescription: Want to Play Planetfall? 🕹 On Dos Zone you can play Planetfall
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Planetfall
permalink: /planetfall-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fplanetfall.jsdos
description: It all started with your great-great-grandfather who was a High
  Admiral and one of the founding officers of the Patrol. All generations since
  then have served in the Patrol. Now it's your turn and two years into you are
  still a lowly Ensign Seventh Class. Your direct report, Blather, is really
  making your life miserable. Are you really Stellar Patrol material?
screenshots:
  - https://cdn.dos.zone/original/2X/6/62fc60e8619910708feadafe917a882ad0038661.png
  - https://cdn.dos.zone/original/2X/5/5478ca247d81170595172959be38010aaaa2ec7b.png
---
