---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/planet-soccer.jsdos
layout: page.njk
ogDescription: Planet Soccer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Planet Soccer
  on mobile. On DOS.Zone Planet Soccer available to play for free without registration.
permalink: /planet-soccer-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f9e21ab0e362eae7c5e3c87012e370950c129924.png
- https://cdn.dos.zone/original/2X/b/b050eb39ef6703636df541b01a149f64a356a66c.png
shortTitle: Planet Soccer
title: Planet Soccer | 🕹️Play Planet Soccer Online | DOS game in browser

---
