---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/platform-heels.jsdos
layout: page.njk
ogDescription: Platform Heels is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Platform Heels
  on mobile. On DOS.Zone Platform Heels available to play for free without registration.
permalink: /platform-heels-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/c8ba29f01dbc367db53a6656c639e865847307a9.png
- https://cdn.dos.zone/original/2X/1/1745fb9218c48a9ff712130dbd984a8559c58f0d.png
shortTitle: Platform Heels
title: Platform Heels | 🕹️Play Platform Heels Online | DOS game in browser

---
