---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/platoon.jsdos
layout: page.njk
ogDescription: Platoon is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Platoon on
  mobile. On DOS.Zone Platoon available to play for free without registration.
permalink: /platoon-nov-1988/
screenshots:
- https://cdn.dos.zone/original/2X/a/a221984b01ba351e08b8bc8f4a842499b9346fa5.gif
- https://cdn.dos.zone/original/2X/9/915c2dfb73fc489b8e75de8677ea8676a0de9cc4.gif
shortTitle: Platoon
title: Platoon | 🕹️Play Platoon Online | DOS game in browser

---
