---
layout: page.njk
title: PlayMaker Football | 🕹️Play PlayMaker Football Online | Download js-dos bundle
ogDescription: Want to Play PlayMaker Football? 🕹 On Dos Zone you can play
  PlayMaker Football OR donwload js-dos bundle for free. Start playing now!
shortTitle: PlayMaker Football
permalink: /playmaker-football-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fplaymaker-football.jsdos
description: PlayMaker Football is a top-down simulation of American football .
  It is made out of three primary sections - The Game / Team Draft / Chalkboard
  Editor. The game allows one to take the role of a coach of a team of 25
  football players. The coach can create a team using the Team Draft mode of the
  program, and then design and test plays using the Chalkboard Editor mode. The
  Chalkboard Editor mode also allows the coach to create artificial intelligence
  settings for each play, used by the program to determine which play to call on
  each down of a game. The Game mode allows the coach to play games between two
  teams, each under the control of a coach or the computer.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5ba8a4cf736f0835f040118c98c58d604ef4a32e.png
  - https://cdn.dos.zone/original/2X/5/5cedeebe5174bdbb34024dc1b3494096867d262d.png
---
