---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/playhouse-strippoker.jsdos
layout: page.njk
ogDescription: Playhouse Strippoker is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Playhouse Strippoker on mobile. On DOS.Zone Playhouse Strippoker available to
  play for free without registration.
permalink: /playhouse-strippoker-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/559b67ffa7ff21c7849de8948f06cfc974cf96ec.png
- https://cdn.dos.zone/original/2X/7/7182269de8d7f351176c8dfdb62ae32e2cff7624.png
shortTitle: Playhouse Strippoker
title: Playhouse Strippoker | 🕹️Play Playhouse Strippoker Online | DOS game in browser

---
