---
layout: page.njk
title: Playhouse Strippoker | 🕹️Play Playhouse Strippoker Online | Download
  js-dos bundle
ogDescription: Want to Play Playhouse Strippoker? 🕹 On Dos Zone you can play
  Playhouse Strippoker OR donwload js-dos bundle for free. Start playing now!
shortTitle: Playhouse Strippoker
permalink: /playhouse-strippoker-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fplayhouse-strippoker.jsdos
description: European answer to American Artworx Strip Poker, this game
  introduces one girl in MSX1 original version and two girls with different
  names and slightly different looks in other versions (Amiga, Atari ST, DOS
  versus MSX2). The playmate welcomes you in her apartment and proposes a card
  game. The game is a poker, and when player loses another $100, some part of
  her dress will be removed. The goal is to keep your clothes on and to make a
  girl completely naked. The graphics in original MSX1 game is different, but
  other versions tries to keep conceptual design of original.
screenshots:
  - https://cdn.dos.zone/original/2X/5/559b67ffa7ff21c7849de8948f06cfc974cf96ec.png
  - https://cdn.dos.zone/original/2X/7/7182269de8d7f351176c8dfdb62ae32e2cff7624.png
---
