---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/plexu-the-time-travellers_.jsdos
layout: page.njk
ogDescription: 'Plexu: The Time Travellers is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Plexu: The Time Travellers on mobile. On DOS.Zone Plexu: The Time Travellers
  available to play for free without registration.'
permalink: /plexu-the-time-travellers-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a29221bdec285e1dab101f137afad2cf3560dbcb.png
- https://cdn.dos.zone/original/2X/4/491794b8475c72cc47e740ab70d9bbbb604b8d27.png
shortTitle: 'Plexu: The Time Travellers'
title: 'Plexu: The Time Travellers | 🕹️Play Plexu: The Time Travellers Online | DOS
  game in browser'

---
