---
layout: page.njk
title: "Plexu: The Time Travellers | 🕹️Play Plexu: The Time Travellers Online |
  Download js-dos bundle"
ogDescription: "Want to Play Plexu: The Time Travellers? 🕹 On Dos Zone you can
  play Plexu: The Time Travellers OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Plexu: The Time Travellers"
permalink: /plexu-the-time-travellers-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fplexu-the-time-travellers_.jsdos
description: "Plexu: The Time Travellers is a DOS conversion of the Amiga title
  of the same name. The gameplay remains unchanged with only one significant
  change. Instead of a side-scrolling perspective the player sees the action
  divided into numerous single board locations with a level boss at the end.
  Plexu may walk, jump, use a single, double and supershot gun plus - killing
  all enemies on board - Smartbomb and temporary invulnerability. Between each
  level the player may purchase various extras in the Intergalactic Shop,
  including extra life or time, needed to complete subsequent stage. Fighting
  with the final stage boss requires targeting an opponent's head and avoiding
  numerous incoming missiles."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a29221bdec285e1dab101f137afad2cf3560dbcb.png
  - https://cdn.dos.zone/original/2X/4/491794b8475c72cc47e740ab70d9bbbb604b8d27.png
---
