---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/plundered-hearts.jsdos
layout: page.njk
ogDescription: Plundered Hearts is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Plundered
  Hearts on mobile. On DOS.Zone Plundered Hearts available to play for free without
  registration.
permalink: /plundered-hearts-sep-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/dc613dcf4544fcd5fa5e133d8dc5824521695a53.gif
shortTitle: Plundered Hearts
title: Plundered Hearts | 🕹️Play Plundered Hearts Online | DOS game in browser

---
