---
layout: page.njk
title: Point of Attack | 🕹️Play Point of Attack Online | Download js-dos bundle
ogDescription: Want to Play Point of Attack? 🕹 On Dos Zone you can play Point
  of Attack OR donwload js-dos bundle for free. Start playing now!
shortTitle: Point of Attack
permalink: /point-of-attack-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpoint-of-attack.jsdos
description: >-
  Point of Attack is a wargame set in the Middle East, featuring a set of
  scenarios which depict actual and hypothetical scenarios (e.g. Desert Storm or
  another war between Israel and Syria). This is one of those programs which
  views itself as simulation first and game later. Therefore the focus is on
  simulating tactics and the impact of all those smaller and bigger influences,
  including morale, air superiority, supply lines and electronic warfare.
  Regarding gameplay, it follows the usual wargame steps: the player gives
  movement and attack orders to each units on a top-down map with abstract
  symbols. After ending the round, all orders are performed.

  Each turn represents one minute, meaning a match progresses relatively slow. The editor can be used to build new maps.
screenshots: []
---
