---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/poker-galore.jsdos
layout: page.njk
ogDescription: Poker Galore is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Poker Galore
  on mobile. On DOS.Zone Poker Galore available to play for free without registration.
permalink: /poker-galore-sep-01-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/4e3644541527b9416af3b9965214b3ae47a99cce.png
- https://cdn.dos.zone/original/2X/3/3720b988579baecd9979487abc1f3914a4e20667.png
shortTitle: Poker Galore
title: Poker Galore | 🕹️Play Poker Galore Online | DOS game in browser

---
