---
layout: page.njk
title: "Poko Memorial: 18 Hole Miniature Golf | 🕹️Play Poko Memorial: 18 Hole
  Miniature Golf Online | Download js-dos bundle"
ogDescription: "Want to Play Poko Memorial: 18 Hole Miniature Golf? 🕹 On Dos
  Zone you can play Poko Memorial: 18 Hole Miniature Golf OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Poko Memorial: 18 Hole Miniature Golf"
permalink: /poko-memorial-18-hole-miniature-golf-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpoko-memorial-18-hole-miniature-golf.jsdos
description: This game is based on a miniature golf course in Rochester,
  NY.  You have two courses to play on, both with 18 holes. The game is played
  by rotating your club around the ball and then choosing how hard to hit the
  ball.  You can bounce the ball around corners to get your shots.  There are
  ten speeds that you can hit the ball with, corresponding to the 0-9 keys.  If
  you hit too hard, you might bounce the ball out of the hole or miss
  altogether... too soft and you'll take many hits to reach the hole. And when
  you are playing the game at work, press your "boss" key and the game will
  disappear for when your boss comes in.  Then pop it back up when your boss
  leaves.
screenshots:
  - https://cdn.dos.zone/original/2X/2/256348dbe99311a1e99835f244569a2811cec8e.png
  - https://cdn.dos.zone/original/2X/8/822234712030bc125b63b8ff11fa78a4eaf738a3.png
---
