---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pol-gol.jsdos
layout: page.njk
ogDescription: Pol-Gol! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pol-Gol! on
  mobile. On DOS.Zone Pol-Gol! available to play for free without registration.
permalink: /pol-gol-may-1996/
screenshots:
- https://cdn.dos.zone/original/2X/8/8dd010d8925d3b1303b5d814d0433b691fcaf7b9.png
- https://cdn.dos.zone/original/2X/4/4520af3658183ca709c5debe40eb324b5fbc21ca.png
shortTitle: Pol-Gol!
title: Pol-Gol! | 🕹️Play Pol-Gol! Online | DOS game in browser

---
