---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/polanie.jsdos
layout: page.njk
ogDescription: Polanie is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Polanie on
  mobile. On DOS.Zone Polanie available to play for free without registration.
permalink: /polanie-1996/
screenshots:
- https://cdn.dos.zone/original/2X/d/da722138480a9ac64c5a677a3c4d2888735270dc.png
- https://cdn.dos.zone/original/2X/e/e38337c64615ef3e12d1235c1ee8875f5c731705.png
shortTitle: Polanie
title: Polanie | 🕹️Play Polanie Online | DOS game in browser

---
