---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/5/5f21f221e023bbca253396824c5f652438eeef8c.jsdos
layout: page.njk
ogDescription: 'Pole Chudes: Capital Show is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Pole Chudes: Capital Show on mobile. On DOS.Zone Pole Chudes: Capital Show available
  to play for free without registration.'
permalink: /pole-chudes-capital-show-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/22be47ed76a62e0c12c54e5d9cca0b18cc628032.png
- https://cdn.dos.zone/original/2X/5/591f785fcab967bedff69e03364ac5d6381138b5.png
shortTitle: 'Pole Chudes: Capital Show'
title: 'Pole Chudes: Capital Show | 🕹️Play Pole Chudes: Capital Show Online | DOS
  game in browser'

---
