---
layout: page.njk
title: "Pole Chudes: Capital Show | 🕹️Play Pole Chudes: Capital Show Online |
  Download js-dos bundle"
ogDescription: "Want to Play Pole Chudes: Capital Show? 🕹 On Dos Zone you can
  play Pole Chudes: Capital Show OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Pole Chudes: Capital Show"
permalink: /pole-chudes-capital-show-1993/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F5%2F5f21f221e023bbca253396824c5f652438eeef8c.jsdos
description: "Pole Chudes: Capital Show is a fan-made recreation of the TV-show
  of the same name (the Russian version of Wheel of Fortune ). There are up to
  three players at one time, two controlled by a human and one by AI (characters
  from famous USSR cartoons). They have to guess the word by one letter or
  completely (without error) in turns, rolling the wheel with special symbols on
  it, which decide the sum of money rewarded for a right answer or its
  multiplier, skip turn, burn all the money, open any letter and a super prize
  (when chosen, the player should leave the game). As a part of the joke, all
  prizes are useless, like a toothpick or lace, but they are left with the
  address to pick them up."
screenshots:
  - https://cdn.dos.zone/original/2X/2/22be47ed76a62e0c12c54e5d9cca0b18cc628032.png
  - https://cdn.dos.zone/original/2X/5/591f785fcab967bedff69e03364ac5d6381138b5.png
---
