---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/police-quest-1.jsdos
layout: page.njk
ogDescription: 'Police Quest: In Pursuit of the Death Angel  is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Police Quest: In Pursuit of the Death Angel on mobile. On
  Police Quest: In Pursuit of the Death Angel is available to play for free without registration.'
permalink: /police-quest-in-the-pursuit-of-the-death-angle/
screenshots:
- https://cdn.dos.zone/custom/screenshots/police-quest-1.jpg
shortTitle: 'Police Quest: In Pursuit of the Death Angel'
title: 'Police Quest: In Pursuit of the Death Angel | 🕹️Play Police Quest: In Pursuit of the Death Angel Online | DOS game in browser'

---
