---
layout: page.njk
title: Poof | 🕹️Play Poof Online | Download js-dos bundle
ogDescription: Want to Play Poof? 🕹 On Dos Zone you can play Poof OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Poof
permalink: /poof-oct-30-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpoof.jsdos
description: "A demoscene-flavored adaptation of the Peg Solitaire puzzle: a
  board with a cross-shaped arrangement of holes, some of which are occupied by
  pegs.  The only legal move is to 'jump' a peg over a neighboring peg into a
  hole at the other side, which clears away the intervening peg.  The board is
  solved by removing all pegs except one; if all valid moves are exhausted
  before this happens, you lose - and have to start over. Poof offers ten levels
  of play, each with a different initial board layout."
screenshots:
  - https://cdn.dos.zone/original/2X/d/df0909b9ceaf2bb500e393b689aa5672a5364824.png
  - https://cdn.dos.zone/original/2X/3/38a1fa43ba1e9107ef976c4ffca112e1d2a746a4.png
---
