---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/poof.jsdos
layout: page.njk
ogDescription: Poof is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Poof on mobile.
  On DOS.Zone Poof available to play for free without registration.
permalink: /poof-oct-30-1994/
screenshots:
- https://cdn.dos.zone/original/2X/d/df0909b9ceaf2bb500e393b689aa5672a5364824.png
- https://cdn.dos.zone/original/2X/3/38a1fa43ba1e9107ef976c4ffca112e1d2a746a4.png
shortTitle: Poof
title: Poof | 🕹️Play Poof Online | DOS game in browser

---
