---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pools-of-darkness.jsdos
layout: page.njk
ogDescription: Pools of Darkness is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Pools of Darkness on mobile. On DOS.Zone Pools of Darkness available to play for
  free without registration.
permalink: /pools-of-darkness-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e21c805a9a65e75bae95a39bcd1f19e620cd2761.gif
- https://cdn.dos.zone/original/2X/f/f4ba7c11a72ddc04d4bdf12a46e622a3ff2d567c.gif
shortTitle: Pools of Darkness
title: Pools of Darkness | 🕹️Play Pools of Darkness Online | DOS game in browser

---
