---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pool-shark.jsdos
layout: page.njk
ogDescription: Pool Shark is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pool Shark
  on mobile. On DOS.Zone Pool Shark available to play for free without registration.
permalink: /pool-shark-1993/
screenshots:
- https://cdn.dos.zone/original/2X/8/8b94cb676669373f0d8cf28709536e2f3e11a285.png
- https://cdn.dos.zone/original/2X/3/3f373e802b4b61df7a9ffbbd06217a542e00b75d.png
shortTitle: Pool Shark
title: Pool Shark | 🕹️Play Pool Shark Online | DOS game in browser

---
