---
layout: page.njk
title: Pool Shark | 🕹️Play Pool Shark Online | Download js-dos bundle
ogDescription: Want to Play Pool Shark? 🕹 On Dos Zone you can play Pool Shark
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Pool Shark
permalink: /pool-shark-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpool-shark.jsdos
description: Pool Shark is a two player, shareware, pool game. It is mouse
  controlled, has sound and configuration options including table colour, pocket
  size, and player names. The shareware release, version 1.1, has just six balls
  on the table while the full release, version 1.2, has a full set of sixteen
  balls.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8b94cb676669373f0d8cf28709536e2f3e11a285.png
  - https://cdn.dos.zone/original/2X/3/3f373e802b4b61df7a9ffbbd06217a542e00b75d.png
---
