---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/popo-car.jsdos
layout: page.njk
ogDescription: Popo Car is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Popo Car on
  mobile. On DOS.Zone Popo Car available to play for free without registration.
permalink: /popo-car-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/975579ecd5021793394302a9287ac649a5d04129.png
- https://cdn.dos.zone/original/2X/c/c5c05d08c7c8d6157a72645b9f12ead52af6c3bc.png
shortTitle: Popo Car
title: Popo Car | 🕹️Play Popo Car Online | DOS game in browser

---
