---
layout: page.njk
title: Ports of Call | 🕹️Play Ports of Call Online | Download js-dos bundle
ogDescription: Want to Play Ports of Call? 🕹 On Dos Zone you can play Ports of
  Call OR donwload js-dos bundle for free. Start playing now!
shortTitle: Ports of Call
permalink: /ports-of-call-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fports-of-call.jsdos
description: Ports of Call gives you the job of a shipowner. First you have to
  choose your hometown and after that you have to buy your first used ship. Then
  you have to charter freight and bring it to its destination. With this profit
  you can buy new ships and so on and on. You also have to repair your ships
  regularly. If you do not your ships will sink to the oceans. Ports of Call is
  a classic German business simulation with some action sequences. In this
  sequences you must steer your ship into the port or have to rescue some
  shipwrecked people. Up to 4 captains can play at one computer.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b6a417c7afca2198a78cd0442c66fc0a0d569e95.png
  - https://cdn.dos.zone/original/2X/b/b9a5e571e7b9177212bbd0766c4fabc4cf97afdb.png
---
