---
layout: page.njk
title: "Postman Pat 3: To the Rescue | 🕹️Play Postman Pat 3: To the Rescue
  Online | Download js-dos bundle"
ogDescription: "Want to Play Postman Pat 3: To the Rescue? 🕹 On Dos Zone you
  can play Postman Pat 3: To the Rescue OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Postman Pat 3: To the Rescue"
permalink: /postman-pat-3-to-the-rescue-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpostman-pat-3-to-the-rescue.jsdos
description: Postman Pat 3 is a Paperboy -style game. Pat agrees to help deliver
  telephone directories on behalf of his friend Delivery Man Dan, who's broken
  his leg. The play controls Pat's van, and must deliver directories to as many
  houses as possible whilst avoiding obstacles and without running out of fuel.
  There are five days in which deliveries may be attempted and failure to
  deliver enough of the directories in the five days may result in Dan losing
  his job. Licenced game of the Postman Pat television series, and sequel to
  Postman Pat and Postman Pat 2. The TV show's theme music is used as the
  in-game music.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4e1ca3aea00bbd5d1d5fdda6002d26d11f698e9f.png
  - https://cdn.dos.zone/original/2X/a/a9b43bf645329cb03526b48cb6ca14205b8958db.png
---
