---
layout: page.njk
title: PowerChess | 🕹️Play PowerChess Online | Download js-dos bundle
ogDescription: Want to Play PowerChess? 🕹 On Dos Zone you can play PowerChess
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: PowerChess
permalink: /powerchess-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpowerchess.jsdos
description: PowerChess is a single player shareware chess program that runs in
  DOS. It is entirely keyboard operated; the arrow keys are used to move a
  cursor around the board. Once this has been placed over the required piece the
  Enter key is used to select that piece and the arrow keys move a second cursor
  to the position to which the piece is to be relocated. The Enter key is then
  used to complete the move. PowerChess uses standard international chess rules
  such as en'passant and 50 move drawing rule among others. It allows the player
  to set up positions and to save games to be played / replayed at any time.
  Other features include a ten game library of chess problems, the ability to
  print the current game and a hint function.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8c571fb1f406ad0550e562c966d6971bf7c2296f.png
  - https://cdn.dos.zone/original/2X/e/eee44f3fb2aa30f1fc28b2c7fbbc4db2aaed63dd.jpeg
---
