---
layout: page.njk
title: Power Struggle | 🕹️Play Power Struggle Online | Download js-dos bundle
ogDescription: Want to Play Power Struggle? 🕹 On Dos Zone you can play Power
  Struggle OR donwload js-dos bundle for free. Start playing now!
shortTitle: Power Struggle
permalink: /power-struggle-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpower-struggle.jsdos
description: Power Struggle allows you to compete against a friend or the
  computer for World domination as either the West or the East. After choosing
  your side you are presented with a map of the World. The countries belonging
  to the West are in green, the countries belonging to the East are red and
  neutral countries are white. Your aim is to take over as many countries as you
  can while your opponent is doing the same. You are presented with icons and
  within a time limit must decide how to take over countries, these options are
  attack, supply, apply political influence or build factories and armies. Once
  you have both made your choices the orders are executed. Although you can take
  over countries your opponent can take yours over and vice versa so holding on
  to them is part of the challenge as well.
screenshots:
  - https://cdn.dos.zone/original/2X/3/32c6ccd11d69f6e5b34b0cfb4ab7799fc2c84159.png
  - https://cdn.dos.zone/original/2X/7/7fd84f0de8975026b456f170ce8f9cf1961c1c8f.png
---
