---
layout: page.njk
title: Power Putt | 🕹️Play Power Putt Online | Download js-dos bundle
ogDescription: Want to Play Power Putt? 🕹 On Dos Zone you can play Power Putt
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Power Putt
permalink: /power-putt-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpower-putt.jsdos
description: >-
  Power Putt is a shareware, computerised version of crazy golf. The game is
  controlled by a combination of keyboard controls and the mouse. Taking a shot
  is broken down into the following tasks. The position on the tee is selected
  via the number keys the arrow keys are then used to set the direction of the
  shot finally there are two power bars which control the power and accuracy of
  the shot, these are set by either the ENTER key or a mouse button.

  Shots taken on the green are identical but, obviously, omit the tee selection stage. The game keeps track of the player. The game was released as single player, shareware game with just five holes while the full game which has eighteen holes and caters for more players was available upon registration.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a663d0373146bba8baa98aaba0b5d50877536d0.jpeg
  - https://cdn.dos.zone/original/2X/6/6b762ab841fe532ea28eb53f6e4ad0955594312e.jpeg
---
