---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/power-putt.jsdos
layout: page.njk
ogDescription: Power Putt is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Power Putt
  on mobile. On DOS.Zone Power Putt available to play for free without registration.
permalink: /power-putt-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a663d0373146bba8baa98aaba0b5d50877536d0.jpeg
- https://cdn.dos.zone/original/2X/6/6b762ab841fe532ea28eb53f6e4ad0955594312e.jpeg
shortTitle: Power Putt
title: Power Putt | 🕹️Play Power Putt Online | DOS game in browser

---
