---
layout: page.njk
title: PowerHits Sports | 🕹️Play PowerHits Sports Online | Download js-dos bundle
ogDescription: Want to Play PowerHits Sports? 🕹 On Dos Zone you can play
  PowerHits Sports OR donwload js-dos bundle for free. Start playing now!
shortTitle: PowerHits Sports
permalink: /powerhits-sports-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpowerhits-sports.jsdos
description: PowerHits Sports is a compilation of games that includes FaceOff,
  Motocross, Pro Tennis Tour, and Power Drift.
screenshots: []
---
