---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/powerslave_.jsdos
layout: page.njk
ogDescription: Powerslave is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Powerslave
  on mobile. On DOS.Zone Powerslave available to play for free without registration.
permalink: /powerslave-1996/
screenshots:
- https://cdn.dos.zone/original/2X/7/784d084f185e85cba25930bf835b2b7d775d3fa7.png
- https://cdn.dos.zone/original/2X/9/9725571bff8d0c42a707eb8dcadb88bd8dea8f6f.png
shortTitle: Powerslave
title: Powerslave | 🕹️Play Powerslave Online | DOS game in browser

---
