---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/power-struggle.jsdos
layout: page.njk
ogDescription: Power Struggle is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Power Struggle
  on mobile. On DOS.Zone Power Struggle available to play for free without registration.
permalink: /power-struggle-1988/
screenshots:
- https://cdn.dos.zone/original/2X/3/32c6ccd11d69f6e5b34b0cfb4ab7799fc2c84159.png
- https://cdn.dos.zone/original/2X/7/7fd84f0de8975026b456f170ce8f9cf1961c1c8f.png
shortTitle: Power Struggle
title: Power Struggle | 🕹️Play Power Struggle Online | DOS game in browser

---
