---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/powerhits-sports.jsdos
layout: page.njk
ogDescription: PowerHits Sports is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PowerHits
  Sports on mobile. On DOS.Zone PowerHits Sports available to play for free without
  registration.
permalink: /powerhits-sports-1992/
screenshots: []
shortTitle: PowerHits Sports
title: PowerHits Sports | 🕹️Play PowerHits Sports Online | DOS game in browser

---
