---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/powerchess.jsdos
layout: page.njk
ogDescription: PowerChess is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in PowerChess
  on mobile. On DOS.Zone PowerChess available to play for free without registration.
permalink: /powerchess-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8c571fb1f406ad0550e562c966d6971bf7c2296f.png
- https://cdn.dos.zone/original/2X/e/eee44f3fb2aa30f1fc28b2c7fbbc4db2aaed63dd.jpeg
shortTitle: PowerChess
title: PowerChess | 🕹️Play PowerChess Online | DOS game in browser

---
