---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/prawo-krwi.jsdos
layout: page.njk
ogDescription: Prawo krwi is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Prawo krwi
  on mobile. On DOS.Zone Prawo krwi available to play for free without registration.
permalink: /prawo-krwi-1996/
screenshots:
- https://cdn.dos.zone/original/2X/2/22dc42991387fe1a864320e57b128abca11498ee.png
- https://cdn.dos.zone/original/2X/f/fce071172dc8de56a4548e387ddf9f02e24477be.png
shortTitle: Prawo krwi
title: Prawo krwi | 🕹️Play Prawo krwi Online | DOS game in browser

---
