---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/7/73ff69232f4002228e74f73abb7e62299a2a8f3f.jsdos
layout: page.njk
ogDescription: Prehistorik is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Prehistorik
  on mobile. On DOS.Zone Prehistorik available to play for free without registration.
permalink: /prehistorik-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/617b65898b84deb01bc708e0adb3ef82e54ed43f.png
- https://cdn.dos.zone/original/2X/0/04897a4cb1d184cc28d2c0a6bbd9848f938b1da9.gif
shortTitle: Prehistorik
title: Prehistorik | 🕹️Play Prehistorik Online | DOS game in browser

---
