---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/f/f460331d06f443fc58ad21fc4824a74716270243.jsdos
layout: page.njk
ogDescription: Prehistorik 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Prehistorik
  2 on mobile. On DOS.Zone Prehistorik 2 available to play for free without registration.
permalink: /prehistorik-2-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/bbda591faa889a57b1e4e48c9bc25809bd172e1c.png
- https://cdn.dos.zone/original/2X/7/7dc59ec238449a4adf659d9b03fdb597c59d6c58.gif
shortTitle: Prehistorik 2
title: Prehistorik 2 | 🕹️Play Prehistorik 2 Online | DOS game in browser

---
