---
layout: page.njk
title: Press Your Luck | 🕹️Play Press Your Luck Online | Download js-dos bundle
ogDescription: Want to Play Press Your Luck? 🕹 On Dos Zone you can play Press
  Your Luck OR donwload js-dos bundle for free. Start playing now!
shortTitle: Press Your Luck
permalink: /press-your-luck-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpress-your-luck.jsdos
description: Based off of the 80s game show of the same name, Press Your Luck
  allows you to play as one of three contestants in both a quiz round, and a
  shot at the "big board."  Correct answers in the quiz round give spins for the
  board round. Spins give you the power to dictate whether you will use them
  yourself, to increase your total prize money, or force them on others in the
  hopes they will land on a Whammy. One Whammy will erase a contestant's score,
  and four will remove them from the game. This represents the only "home game"
  version of the show commercially released, and follows the format of the show
  loyally. Its CGA graphics make it less flashy than the TV version, but the
  suspense of "pressing your luck" on the board rounds remain intact.
screenshots:
  - https://cdn.dos.zone/original/2X/2/286c686c5ea1bbe230c457bb75b47e4eaf34704.png
  - https://cdn.dos.zone/original/2X/5/5357ee1df353b42ca7e648ac1e78bd59c0a058f.png
---
