---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/princess-maker-2.jsdos
layout: page.njk
ogDescription: Princess Maker 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Princess Maker
  2 on mobile. On DOS.Zone Princess Maker 2 available to play for free without registration.
permalink: /princess-maker-2-dec-16-1993/
screenshots: []
shortTitle: Princess Maker 2
title: Princess Maker 2 | 🕹️Play Princess Maker 2 Online | DOS game in browser

---
