---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/9/9ce632235395211854a728cf49372bc12b66f628.jsdos
layout: page.njk
ogDescription: 'Prince of Persia 2: The Shadow & The Flame is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Prince of Persia 2: The Shadow & The Flame on mobile. On DOS.Zone
  Prince of Persia 2: The Shadow & The Flame available to play for free without registration.'
permalink: /prince-of-persia-2-the-shadow-the-flame-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/438e81dcc2c9daa4f6e1707e72b91bd814fb2c72.png
- https://cdn.dos.zone/original/2X/2/27f5b23633bb5a15473e5a05a23ac8c7b870f383.png
shortTitle: 'Prince of Persia 2: The Shadow & The Flame'
title: 'Prince of Persia 2: The Shadow & The Flame | 🕹️Play Prince of Persia 2: The
  Shadow & The Flame Online | DOS game in browser'

---
