---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/1/1179a7c9e05b1679333ed6db08e7884f6e86c155.jsdos
layout: page.njk
ogDescription: Prince of Persia is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Prince of
  Persia on mobile. On DOS.Zone Prince of Persia available to play for free without
  registration.
permalink: /prince-of-persia-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/9c5f757776e4e9891e063c3e935889ec857dce92.jpeg
shortTitle: Prince of Persia
title: Prince of Persia | 🕹️Play Prince of Persia Online | DOS game in browser
youtube: I19hllmQWgk?start=25

---
