---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/prince.jsdos
layout: page.njk
ogDescription: Prince is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Prince on mobile.
  On DOS.Zone Prince available to play for free without registration.
permalink: /prince-1989/
screenshots:
- https://cdn.dos.zone/original/2X/d/d2079b0fb95917a5caa54d3dc13dd8ab4017051e.png
- https://cdn.dos.zone/original/2X/4/4475a0423d895b5365d5880167b473ece5f02566.png
shortTitle: Prince
title: Prince | 🕹️Play Prince Online | DOS game in browser

---
