---
layout: page.njk
title: Prince of Persia | 🕹️Play Prince of Persia Online | Download js-dos bundle
ogDescription: Want to Play Prince of Persia? 🕹 On Dos Zone you can play Prince
  of Persia OR donwload js-dos bundle for free. Start playing now!
shortTitle: Prince of Persia
permalink: /prince-of-persia-1990/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F1%2F1179a7c9e05b1679333ed6db08e7884f6e86c155.jsdos
description: While the Sultan of Persia is fighting a war in a foreign country,
  his Grand Vizier Jaffar orchestrates a coup d'état. His way to the throne lies
  through the Sultan's lovely daughter. Jaffar kidnaps her and threatens to kill
  her if she refuses to marry him. Meanwhile, the man the Princess loves is
  thrown into the dungeon. He has only one hour to escape from his prison,
  defeat the guards on his way, and stop Jaffar before the terrible marriage
  takes place.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9c5f757776e4e9891e063c3e935889ec857dce92.jpeg
youtube: I19hllmQWgk?start=25
---
