---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pro-league-baseball.jsdos
layout: page.njk
ogDescription: Pro League Baseball is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Pro League Baseball on mobile. On DOS.Zone Pro League Baseball available to play
  for free without registration.
permalink: /pro-league-baseball-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6e00bc7b0bed5befe7902faedf26b8c5caa16124.png
- https://cdn.dos.zone/original/2X/5/5ec6cadf1ce2da4ff099de384fe87294c9570212.png
shortTitle: Pro League Baseball
title: Pro League Baseball | 🕹️Play Pro League Baseball Online | DOS game in browser

---
