---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/professional-blackjack.jsdos
layout: page.njk
ogDescription: Professional Blackjack is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Professional Blackjack on mobile. On DOS.Zone Professional Blackjack available
  to play for free without registration.
permalink: /professional-blackjack-1987/
screenshots:
- https://cdn.dos.zone/original/2X/e/e201249d9b7bcc4a00f87886707dc4550512a39d.png
- https://cdn.dos.zone/original/2X/d/d903e429e7db16e37a8955156b4dc5f8503936a5.png
shortTitle: Professional Blackjack
title: Professional Blackjack | 🕹️Play Professional Blackjack Online | DOS game in
  browser

---
