---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/project-space-station.jsdos
layout: page.njk
ogDescription: 'Project: Space Station is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Project: Space Station on mobile. On DOS.Zone Project: Space Station available
  to play for free without registration.'
permalink: /project-space-station-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/19ae5880c3b29cd4c004b602b85f417f78311414.png
- https://cdn.dos.zone/original/2X/1/1b8b69c96f62733c87b722aa98dadc8f2c9ed2db.png
shortTitle: 'Project: Space Station'
title: 'Project: Space Station | 🕹️Play Project: Space Station Online | DOS game in
  browser'

---
