---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/psionics.jsdos
layout: page.njk
ogDescription: Psionics is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Psionics on
  mobile. On DOS.Zone Psionics available to play for free without registration.
permalink: /psionics-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/192f07b65d78d6c71f30b9354d2bcccdc499d921.png
- https://cdn.dos.zone/original/2X/d/dd9844590ff73cc2a61c976c7db2421769256375.png
shortTitle: Psionics
title: Psionics | 🕹️Play Psionics Online | DOS game in browser

---
