---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/puzza.jsdos
layout: page.njk
ogDescription: Puzza is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Puzza on mobile.
  On DOS.Zone Puzza available to play for free without registration.
permalink: /puzza-1996/
screenshots:
- https://cdn.dos.zone/original/2X/d/d74dbdcb42322f1e5b7c6d442935d1851e7ac5ac.png
- https://cdn.dos.zone/original/2X/e/e0b811f08b6a1f8132ca335c40565194dc90ead8.png
shortTitle: Puzza
title: Puzza | 🕹️Play Puzza Online | DOS game in browser

---
