---
layout: page.njk
title: Pyramid | 🕹️Play Pyramid Online | Download js-dos bundle
ogDescription: Want to Play Pyramid? 🕹 On Dos Zone you can play Pyramid OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Pyramid
permalink: /pyramid-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpyramid_____.jsdos
description: Pyramid is an implementation of the classic card game 'Pyramid
  Solitaire'. The standard game is a single-player game, but the tour mode can
  be played against the computer, another player, or as a series of single
  games. The player is presented with a pyramid of twenty-eight cards. There is
  also a draw pile and a discard pile. Cards may be removed from the pyramid
  and/or the draw and waste piles two at a time if they are completely uncovered
  and their face values total thirteen. A King counts as thirteen and can be
  removed by itself, a queen counts as twelve and can be removed if paired with
  an ace, a jack pairs with a two, a ten with a three and so on. If no cards can
  be discarded, the top card of the discard pile can be replaced with a fresh
  card from the draw pile. The object is to discard all of the cards in the
  pyramid, the pack and the waste piles. The game can be played in two modes, a
  single match mode or a tour mode. There is no high score table and no save
  game function, but the game does play a pretty tune if the player achieves a
  positive score.
screenshots:
  - https://cdn.dos.zone/original/2X/9/905426d705b072f1db887bec0b1336a042090fc8.png
  - https://cdn.dos.zone/original/2X/6/6186b3cea19aba43f1cb476dc4c44e2efbdaccb6.png
---
