---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pyramid_____.jsdos
layout: page.njk
ogDescription: Pyramid is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Pyramid on
  mobile. On DOS.Zone Pyramid available to play for free without registration.
permalink: /pyramid-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/905426d705b072f1db887bec0b1336a042090fc8.png
- https://cdn.dos.zone/original/2X/6/6186b3cea19aba43f1cb476dc4c44e2efbdaccb6.png
shortTitle: Pyramid
title: Pyramid | 🕹️Play Pyramid Online | DOS game in browser

---
