---
layout: page.njk
title: Pyramid Solitaire | 🕹️Play Pyramid Solitaire Online | Download js-dos bundle
ogDescription: Want to Play Pyramid Solitaire? 🕹 On Dos Zone you can play
  Pyramid Solitaire OR donwload js-dos bundle for free. Start playing now!
shortTitle: Pyramid Solitaire
permalink: /pyramid-solitaire-nov-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpyramid-solitaire.jsdos
description: In this solitaire card game, the player is presented with a pyramid
  of twenty-eight cards.  There is also a draw pile and a discard pile.  Cards
  may be discarded from the pyramid if they are completely uncovered and their
  face value is one point higher or lower than the card on the top of the
  discard pile.  If no cards can be discarded, the top card of the discard pile
  can be replaced with a fresh card from the draw pile.  The object is to
  discard all of the cards in the pyramid; if the draw pile runs out before this
  happens, the game ends in failure.  There are two difficulty levels -- in
  level one, all cards in the pyramid are face-up, but in level two, cards
  remain face-down until they are uncovered.  The game keeps track of ten high
  scores.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1a5db8efcbcae56349f9412aaf64da6cd54c005c.png
  - https://cdn.dos.zone/original/2X/7/7a3e00f6d9831248d2a6902382b45d56f4dfc7c.png
---
