---
bundles:
- lang: ENG
  mobile: false
  title: '4.5'
  type: js
  url: custom/dos/QB45.jsdos
layout: page.njk
ogDescription: QBasic is an integrated development environment (IDE) and interpreter 
    for a variety of dialects of BASIC which are based on QuickBASIC. QBasic is available to run in browser. 
    On DOS.Zone you can run QBasic in browser for free without registration
permalink: /qbasic-1991/
screenshots:
- https://cdn.dos.zone/original/qbasic1.jpg
shortTitle: QBasic 4.5
title: QBasic 4.5 | QBasic 4.5 in Browser | Online
---
