---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/qi-xiao-quan.jsdos
layout: page.njk
ogDescription: Qi Xiao Quan is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Qi Xiao Quan
  on mobile. On DOS.Zone Qi Xiao Quan available to play for free without registration.
permalink: /qi-xiao-quan-jul-1990/
screenshots:
- https://cdn.dos.zone/original/2X/6/69a28546996e9e0559033e9cf014cc61a6c1dc00.png
- https://cdn.dos.zone/original/2X/a/a65f0de4fa0c43e61df5046acfcc612e3fb70efc.png
shortTitle: Qi Xiao Quan
title: Qi Xiao Quan | 🕹️Play Qi Xiao Quan Online | DOS game in browser

---
