---
layout: page.njk
title: Quantoids of Nebulus IV | 🕹️Play Quantoids of Nebulus IV Online |
  Download js-dos bundle
ogDescription: Want to Play Quantoids of Nebulus IV? 🕹 On Dos Zone you can play
  Quantoids of Nebulus IV OR donwload js-dos bundle for free. Start playing now!
shortTitle: Quantoids of Nebulus IV
permalink: /quantoids-of-nebulus-iv-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fquantoids-of-nebulus-iv.jsdos
description: Quantoids of Nebulus IV is a space shooter that sends you on the
  hunt for loathsome, space-faring business school graduates.  The repellent
  MBAs have ruined the Earth's economies with their myopic quantitative
  concepts, and now they're rampaging through the galaxy spreading the plague to
  other planets!  To save known space from the destructive practices of these
  foul Quantoids, you set off into the void with your twin cannons to pursue and
  exterminate. Representing the antithesis of business-school logic, your
  shipboard computer is (of course) guided by intuition and can be commanded to
  automatically seek out enemy vessels.  As you close in for the kill, you can
  adjust your cruising speed to better home in on the hostile ships.  These are
  crewed by graduates from different schools, in order of prestige (or
  obnoxiousness), so that your cash prizes keep growing... but each missed shot
  deducts 2% off your profits (represented by a Net Present Value). All of this
  is true for the shareware release; the game assures us that tailor-made
  versions can be ordered, with the text altered as you see fit, so that other
  groups can become the collective targets of your ire.
screenshots:
  - https://cdn.dos.zone/original/2X/6/60f4924c98af334fb898fc546e8b3c5dd1b27a67.png
  - https://cdn.dos.zone/original/2X/f/f772431cc00fe3e2e6929e527b9100d8af06e3bb.png
---
