---
layout: page.njk
title: Quarantine | 🕹️Play Quarantine Online | Download js-dos bundle
ogDescription: Want to Play Quarantine? 🕹 On Dos Zone you can play Quarantine
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Quarantine
permalink: /quarantine-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fquarantine.jsdos
description: In Quarantine, you play the part of a taxi driver, desperate to
  escape from the violent prison city of Kemo. Deliver passengers to their
  destinations, so you can earn money to upgrade your cab, and take on
  undercover missions in the hope that somehow you can find a way out. An
  impressive array of cab-mounted weaponry will help you to survive.
screenshots:
  - https://cdn.dos.zone/original/2X/e/eef923ce5818d7b3645fb5834e0615dde6737521.png
  - https://cdn.dos.zone/original/2X/b/b5039a941d788df5915c7d7706681baf2bbfb3df.png
---
