---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/quarantine.jsdos
layout: page.njk
ogDescription: Quarantine is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Quarantine
  on mobile. On DOS.Zone Quarantine available to play for free without registration.
permalink: /quarantine-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/eef923ce5818d7b3645fb5834e0615dde6737521.png
- https://cdn.dos.zone/original/2X/b/b5039a941d788df5915c7d7706681baf2bbfb3df.png
shortTitle: Quarantine
title: Quarantine | 🕹️Play Quarantine Online | DOS game in browser

---
