---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/quasar___.jsdos
layout: page.njk
ogDescription: Quasar is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Quasar on mobile.
  On DOS.Zone Quasar available to play for free without registration.
permalink: /quasar-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/40519d8811c1af0ac755d8007e34876dd31a3750.png
- https://cdn.dos.zone/original/2X/1/1e57ff71a320e0bfa10fa1f06d0b396fa1d9be9c.png
shortTitle: Quasar
title: Quasar | 🕹️Play Quasar Online | DOS game in browser

---
