---
layout: page.njk
title: Questron II | 🕹️Play Questron II Online | Download js-dos bundle
ogDescription: Want to Play Questron II? 🕹 On Dos Zone you can play Questron II
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Questron II
permalink: /questron-ii-may-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fquestron-ii.jsdos
description: As the second title in the Questron series, this game follows the
  same basic formula as the original. You start out as a lowly peasant with only
  a few gold coins in your pocket and a bad attitude to defend yourself. By
  stumbling around the countryside and fighting hordes of creatures, you gain
  wealth, experience, and title. Questron II spans two continents, Landor and
  the Realm of Sorcerers. Additionally, there are the requisite tombs, castles,
  and dungeons. In the first Questron, your goal was to defeat the evil Wizard
  Mantor. Now, in Questron II, the good Wizard Mesron has sent you back in time
  before the Book of Magic was created. Your goal is to defeat the six Mad
  Sorcerers before they can create the book.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4caa5f7f7bcf15474be8760849780850e3b7bec3.png
  - https://cdn.dos.zone/original/2X/5/5d49b5b16bc29cb183ae977165295ba4db211281.png
---
