---
layout: page.njk
title: "&#xBF;Quien es Cualo? | 🕹️Play &#xBF;Quien es Cualo? Online | Download
  js-dos bundle"
ogDescription: Want to Play &#xBF;Quien es Cualo?? 🕹 On Dos Zone you can play
  &#xBF;Quien es Cualo? OR donwload js-dos bundle for free. Start playing now!
shortTitle: "&#xBF;Quien es Cualo?"
permalink: /quien-es-cualo-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fquien-es-cualo.jsdos
description: Board game in which there is a character selected by the computer
  for you to guess. In the screen you see a board with different cards, each one
  representing a character, the game gives you hints like hair color, sex, eyes
  color, etc. and you must guide yourself with them and try to guess who the
  mysterious character is. You can also switch roles with the computer and make
  it guess which character you selected by giving the CPU the same kind of
  hints. The characters are from the adventure game El principio del fin by the
  same developers.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f9ddfcf94f9412ca549ff26b48f2c000d8ff7d24.png
  - https://cdn.dos.zone/original/2X/9/98e4434b06e23a9d4b92f04dc0599c9ad6e23969.png
---
