---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/quien-es-cualo.jsdos
layout: page.njk
ogDescription: '&#xBF;Quien es Cualo? is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in &#xBF;Quien es Cualo? on mobile. On DOS.Zone &#xBF;Quien es Cualo? available
  to play for free without registration.'
permalink: /quien-es-cualo-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f9ddfcf94f9412ca549ff26b48f2c000d8ff7d24.png
- https://cdn.dos.zone/original/2X/9/98e4434b06e23a9d4b92f04dc0599c9ad6e23969.png
shortTitle: '&#xBF;Quien es Cualo?'
title: '&#xBF;Quien es Cualo? | 🕹️Play &#xBF;Quien es Cualo? Online | DOS game in
  browser'

---
