---
layout: page.njk
title: R.A.M. | 🕹️Play R.A.M. Online | Download js-dos bundle
ogDescription: Want to Play R.A.M.? 🕹 On Dos Zone you can play R.A.M. OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: R.A.M.
permalink: /r-a-m-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fram_.jsdos
description: Fox is a member of the special corps CEO, and his next assignment
  is in the Soviet city of Chernovska. The last CEO member who was sent there
  went missing after sending a report on a new military project called RAM.
  R.A.M. is a side-scrolling action platformer where the player takes control of
  Fox. When the game begins Fox has landed far away from his objective and he
  needs to cross several areas packed with enemy soldiers. At first, Fox has to
  rely on his assault rifle and his hand grenades, but later on he can use
  stationary guns and even vehicles. The vehicles need fuel, and their clever
  use is essential in succeeding.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c8848d3838c556ddd9e8adfd6ed580ee330091d2.png
  - https://cdn.dos.zone/original/2X/6/6a82d5561220028c7e855e660a6ad1554055433d.png
---
