---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ram_.jsdos
layout: page.njk
ogDescription: R.A.M. is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in R.A.M. on mobile.
  On DOS.Zone R.A.M. available to play for free without registration.
permalink: /r-a-m-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/c8848d3838c556ddd9e8adfd6ed580ee330091d2.png
- https://cdn.dos.zone/original/2X/6/6a82d5561220028c7e855e660a6ad1554055433d.png
shortTitle: R.A.M.
title: R.A.M. | 🕹️Play R.A.M. Online | DOS game in browser

---
