---
layout: page.njk
title: R-activ | 🕹️Play R-activ Online | Download js-dos bundle
ogDescription: Want to Play R-activ? 🕹 On Dos Zone you can play R-activ OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: R-activ
permalink: /r-activ-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fr-activ.jsdos
description: R-Activ is a remake of the 8-bit game Pongo. The rules of this game
  are simple. Each plan contains a bit of ordinary stones, three diamonds and
  little creatures. Monsters are hatched of random ordinary stones. The player's
  task is to submit three diamonds together by pushing them from place to place.
  Hostile creatures can be crushed with hard stone or by activating electrical
  wall (also by pushing). Player loses as a result of contact with the monster
  or by killing all the creatures and the destruction of the eggs - at least one
  creature or egg should remain on the board.
screenshots:
  - https://cdn.dos.zone/original/2X/2/27c6e25ef59b5283feb79cb7e3e562873d2b512b.png
  - https://cdn.dos.zone/original/2X/6/622119b44d33f2ec047eed031565c1d7f708b5de.png
---
