---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/r-activ.jsdos
layout: page.njk
ogDescription: R-activ is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in R-activ on
  mobile. On DOS.Zone R-activ available to play for free without registration.
permalink: /r-activ-1995/
screenshots:
- https://cdn.dos.zone/original/2X/2/27c6e25ef59b5283feb79cb7e3e562873d2b512b.png
- https://cdn.dos.zone/original/2X/6/622119b44d33f2ec047eed031565c1d7f708b5de.png
shortTitle: R-activ
title: R-activ | 🕹️Play R-activ Online | DOS game in browser

---
