---
layout: page.njk
title: R.S.A Darts | 🕹️Play R.S.A Darts Online | Download js-dos bundle
ogDescription: Want to Play R.S.A Darts? 🕹 On Dos Zone you can play R.S.A Darts
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: R.S.A Darts
permalink: /r-s-a-darts-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frsa-darts.jsdos
description: >-
  R.S.A Darts is a shareware darts game from South Africa for one to four
  players. The game is entirely mouse controlled. As with many other darts games
  the mouse cursor is used to aim the dart but the cursor oscillates and jiggles
  about so that aiming is not precise and the player must time their shot
  carefully. The computer can take the role of one of the players and there is
  an option to adjust the computer's skill to keep the game interesting. There
  is no in-game help facility but the games are explained in the accompanying
  documentation. In addition to the usual 301 & 501 games R.S.A Darts also
  features:

  Killer — a game in which only the numbers ten and over, doubles, trebles and the bull count. The player must hit the number three times before being able to score on it. When the opponent has also hit the same number three times it is out of play and scores for nether player. This game is also known as Mickey Mouse or Cricket.

  N.J.M. — a South African game in which each player selects a number by throwing a dart at the board left handed. They then score up to four points for themselves by hitting their own number and take points from their opponent by hitting that number. The objective is to knock their opponent out by reducing their point total to below zero. This game is also known as Russian Killer.

  Records — this is a single player game which records either the highest score with 3 darts, the highest score with 6 darts, the fewest number of darts needed to hit all the numbers from 1 - 20, and the least number of darts needed to throw ten bull's-eyes.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ecdb246712e8b269f39ee975adc2981169d6f9e5.png
  - https://cdn.dos.zone/original/2X/5/50be579e8174b2e1510f3c5d8967d7ed75e7591.png
---
