---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/racecar.jsdos
layout: page.njk
ogDescription: Racecar is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Racecar on
  mobile. On DOS.Zone Racecar available to play for free without registration.
permalink: /racecar-1983/
screenshots:
- https://cdn.dos.zone/original/2X/7/7efcd146694c4283887f6448fefb1cf623b85e1e.png
- https://cdn.dos.zone/original/2X/3/3b337d14517445bc68ea174c69c5d93fd87ebc65.png
shortTitle: Racecar
title: Racecar | 🕹️Play Racecar Online | DOS game in browser

---
