---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/racer_.jsdos
layout: page.njk
ogDescription: Racer is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Racer on mobile.
  On DOS.Zone Racer available to play for free without registration.
permalink: /racer-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f03b7fba3ea145d46eda03b1376ec28398d60222.png
- https://cdn.dos.zone/original/2X/3/3f31a07ff6934cad7395665fb25edace5db5b4ff.png
shortTitle: Racer
title: Racer | 🕹️Play Racer Online | DOS game in browser

---
