---
layout: page.njk
title: Racer | 🕹️Play Racer Online | Download js-dos bundle
ogDescription: Want to Play Racer? 🕹 On Dos Zone you can play Racer OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Racer
permalink: /racer-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fracer_.jsdos
description: >-
  Racer is a simple, shareware, single player racing game. The game is entirely
  keyboard controlled, the player uses the arrow keys to steer their car along a
  scrolling track collecting power-ups and bonus items while avoiding oil
  slicks, mines, and other cars.

  The registered version, which boasts a thousand roads to travel, cheats and infinite lives, was released on PC Solutions' compilation GAME-PACK-3 while the shareware version was included in other compilations.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f03b7fba3ea145d46eda03b1376ec28398d60222.png
  - https://cdn.dos.zone/original/2X/3/3f31a07ff6934cad7395665fb25edace5db5b4ff.png
---
