---
layout: page.njk
title: Rad Warrior | 🕹️Play Rad Warrior Online | Download js-dos bundle
ogDescription: Want to Play Rad Warrior? 🕹 On Dos Zone you can play Rad Warrior
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Rad Warrior
permalink: /rad-warrior-may-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frad-warrior.jsdos
description: As Tal, your job is to single-handedly clear out the aliens who
  have invaded a desolate and destroyed post-nuclear earth. To have any chance
  of this, he must locate a sacred suit of armor. Not only will this protect him
  from radiation, and allow him to withstand some enemy contact, it also heals
  him, and enables him to float. This means that the game has two distinct
  styles, with your character limited to jumping, and with only rocks (located
  around the screens) to throw. Once he finds the suit he can fly around the
  ledges, shoot the inbuilt Pulsar beam, and survive within the volcanic hideout
  the aliens have based themselves. You will need to recharge the suit at times,
  and also take it off to pass through tight caverns.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7483eb56b7105c1226e912d993280ac8b8ff8f67.gif
  - https://cdn.dos.zone/original/2X/4/4829936a3c4c74366a57d1c58af218e2531e178a.gif
---
