---
layout: page.njk
title: Rage Against the Machine | 🕹️Play Rage Against the Machine Online |
  Download js-dos bundle
ogDescription: Want to Play Rage Against the Machine? 🕹 On Dos Zone you can
  play Rage Against the Machine OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Rage Against the Machine
permalink: /rage-against-the-machine-mar-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frage-against-the-machine.jsdos
description: An adaptation of Berzerk, taking place in a series of scrolling
  maze-like rooms; you are beset by rampaging armies of aliens and robots, and
  have to try and take down as many as you can with the aid of your trusty
  handgun.  Both you and your enemies can fire in eight directions - metal walls
  will deflect any shots that strike them, while the colored barriers are
  destructible.  The more enemies you kill, the more you'll score, although it
  is possible to leave the level at any time by heading towards an exit.  Both
  the overall game speed and the fire speed can be adjusted on the fly.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c5e96fc0417194a093e9a82284e326642308009f.png
  - https://cdn.dos.zone/original/2X/3/39bf956aa924e46550c6f16207fd11da6803b6be.png
---
