---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rage-against-the-machine.jsdos
layout: page.njk
ogDescription: Rage Against the Machine is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Rage Against the Machine on mobile. On DOS.Zone Rage Against the Machine available
  to play for free without registration.
permalink: /rage-against-the-machine-mar-1997/
screenshots:
- https://cdn.dos.zone/original/2X/c/c5e96fc0417194a093e9a82284e326642308009f.png
- https://cdn.dos.zone/original/2X/3/39bf956aa924e46550c6f16207fd11da6803b6be.png
shortTitle: Rage Against the Machine
title: Rage Against the Machine | 🕹️Play Rage Against the Machine Online | DOS game
  in browser

---
