---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rally-k.jsdos
layout: page.njk
ogDescription: Rally-K! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rally-K! on
  mobile. On DOS.Zone Rally-K! available to play for free without registration.
permalink: /rally-k-oct-15-1995/
screenshots:
- https://cdn.dos.zone/original/2X/b/b9c9466976adf9f496ef4fd0f67edcad40f38d6c.png
- https://cdn.dos.zone/original/2X/a/a0b057e0f97e51c60ad43fdf789fa0d077a02bb5.png
shortTitle: Rally-K!
title: Rally-K! | 🕹️Play Rally-K! Online | DOS game in browser

---
