---
layout: page.njk
title: Rally-K! | 🕹️Play Rally-K! Online | Download js-dos bundle
ogDescription: Want to Play Rally-K!? 🕹 On Dos Zone you can play Rally-K! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rally-K!
permalink: /rally-k-oct-15-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frally-k.jsdos
description: Rally-K! Is a single player, shareware, keyboard controlled game
  that is based on the game Rally-X. You control a small car running around in a
  maze to capture flags while avoiding hostile cars that try to crash your car.
  Also within the maze are additional hazards such as rocks and trees that will
  destroy the car if struck. The player's fuel is limited and when it runs out
  the car coasts along but much more slowly making the task of avoiding the
  hostile cars much harder. When all flags are cleared the player progresses to
  the next level where there are more enemy cars, different flags, different
  rocks, and different levels of speed, both for the player's car and the enemy
  cars. The game awards Challenge stages and additional cars as the player
  progresses. The registered version of the game has an 'Extended mode' of play
  featuring bonuses such as "Inviso," "Nitro," "Molasses," (slows down the enemy
  cars)
screenshots:
  - https://cdn.dos.zone/original/2X/b/b9c9466976adf9f496ef4fd0f67edcad40f38d6c.png
  - https://cdn.dos.zone/original/2X/a/a0b057e0f97e51c60ad43fdf789fa0d077a02bb5.png
---
