---
layout: page.njk
title: Ralph Bosson's High Seas | 🕹️Play Ralph Bosson's High Seas Online |
  Download js-dos bundle
ogDescription: Want to Play Ralph Bosson's High Seas? 🕹 On Dos Zone you can
  play Ralph Bosson's High Seas OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Ralph Bosson's High Seas
permalink: /ralph-bossons-high-seas-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fralph-bossons-high-seas.jsdos
description: From the days of fighting sail comes this game of combat on the
  high seas. Although produced very early in the PC era (1988), Ralph Bosson's
  High Seas works from a graphical deck view, resorting to a chart view only for
  position checks (which can become important in fleet engagements). It operates
  either on 10-game-minute turns, or interrupt-to-issue-orders mode.  It models
  the effects of wind on maneuvering and the effects of different ammo types
  against the wooden walls and sails of opposing vessels.  A very advanced
  feature included is a scenario designer. The game can be played either
  hot-seated or with a computer opponent.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e54549fbb996a91e4f45e62349f4bac21fc9ade6.png
  - https://cdn.dos.zone/original/2X/9/90ead4dfda3a26c5c2aced96b8b26fb4271ffe76.png
---
