---
layout: page.njk
title: Rampart | 🕹️Play Rampart Online | Download js-dos bundle
ogDescription: Want to Play Rampart? 🕹 On Dos Zone you can play Rampart OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rampart
permalink: /rampart-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F2%2F238b19a1c478435d83e017e03c17e53a1cf56d0e.jsdos
description: Tetris meets shoot-'em-up, Rampart is a game combining strategy and
  artillery action. Build your castle from Tetris-style pieces, place your
  cannons, bombard the enemy, try to repair, do it all over again. The original
  arcade release has a single-player and a two-player mode; later revisions
  incorporate three-player gameplay.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e1cefa195dc02ab50722dae00e75936d15d6aa1f.png
  - https://cdn.dos.zone/original/2X/2/2bdd9d5bcf5dc9df5ffb739cd47ff4d19529d3b7.png
---
