---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: original/2X/2/238b19a1c478435d83e017e03c17e53a1cf56d0e.jsdos
layout: page.njk
ogDescription: Rampart is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rampart on
  mobile. On DOS.Zone Rampart available to play for free without registration.
permalink: /rampart-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e1cefa195dc02ab50722dae00e75936d15d6aa1f.png
- https://cdn.dos.zone/original/2X/2/2bdd9d5bcf5dc9df5ffb739cd47ff4d19529d3b7.png
shortTitle: Rampart
title: Rampart | 🕹️Play Rampart Online | DOS game in browser

---
