---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rapid-response.jsdos
layout: page.njk
ogDescription: Rapid Response is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rapid Response
  on mobile. On DOS.Zone Rapid Response available to play for free without registration.
permalink: /rapid-response-1992/
screenshots:
- https://cdn.dos.zone/original/2X/1/15b4ed3c48bcf46d2388efc08a04a7f509f6da7c.png
- https://cdn.dos.zone/original/2X/2/2003d35ee536e217fa056f1895ad3ce9f9ceb0ad.png
shortTitle: Rapid Response
title: Rapid Response | 🕹️Play Rapid Response Online | DOS game in browser

---
