---
layout: page.njk
title: Rastan | 🕹️Play Rastan Online | Download js-dos bundle
ogDescription: Want to Play Rastan? 🕹 On Dos Zone you can play Rastan OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rastan
permalink: /rastan-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frastan.jsdos
description: Rastan features five levels of hacking and slashing gameplay with a
  boss at the end of each level. Numerous enemies assault you on your journey
  such as flying demons, chimeras, valkyries, piranhas, skeleton undead and
  more. Fight through to the end and save the land of Lograth from certain doom.
  The game features different weapons such as axes, maces and fire swords, each
  with its own attributes like extended range or attack power. Armour can also
  be picked up in the forms shields, cloaks and armour, reducing the damage from
  enemy attacks. Other items include rings (increase the speed of your weapon)
  and jewelry for bonus points.
screenshots:
  - https://cdn.dos.zone/original/2X/7/74fb2d5119759518ddc239aaf8ed3648df46c4e4.png
  - https://cdn.dos.zone/original/2X/2/2deea689d4db08302804411372edb92299672fdb.gif
---
