---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rastan.jsdos
layout: page.njk
ogDescription: Rastan is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Rastan on mobile.
  On DOS.Zone Rastan available to play for free without registration.
permalink: /rastan-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/74fb2d5119759518ddc239aaf8ed3648df46c4e4.png
- https://cdn.dos.zone/original/2X/2/2deea689d4db08302804411372edb92299672fdb.gif
shortTitle: Rastan
title: Rastan | 🕹️Play Rastan Online | DOS game in browser

---
