---
layout: page.njk
title: Rebound | 🕹️Play Rebound Online | Download js-dos bundle
ogDescription: Want to Play Rebound? 🕹 On Dos Zone you can play Rebound OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rebound
permalink: /rebound-feb-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frebound___.jsdos
description: Rebound is a basic Breakout clone in 1.8 KB of machine code.  As
  would be expected, the goal is to tear down a wall brick-by-brick by bouncing
  a ball off a paddle that can slide left or right along the bottom of the
  screen.  Pull it off without losing your seven balls, and you win.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b130bc11fa32c48d1ddccbe5875e6efd2a00e8d0.png
  - https://cdn.dos.zone/original/2X/9/9154483133f9ceae9ac8ab803a7887c714334e06.png
---
