---
layout: page.njk
title: Red Storm Rising | 🕹️Play Red Storm Rising Online | Download js-dos bundle
ogDescription: Want to Play Red Storm Rising? 🕹 On Dos Zone you can play Red
  Storm Rising OR donwload js-dos bundle for free. Start playing now!
shortTitle: Red Storm Rising
permalink: /red-storm-rising-may-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fred-storm-rising.jsdos
description: The Soviet Union, under severe pressure after destruction of one of
  their biggest oil refineries, must secure a new source of oil, and to do that,
  they must disable the West... which means they must invade Europe and fight
  NATO to a standstill... And the only way NATO can prevent that from happening
  is to reinforce their forces with convoys from the US and other countries. You
  are in command of one of the US attack submarines. You must hold the ocean
  against the Soviet navy at all costs, or the land battle will go badly. Part
  submarine simulator, part dynamic campaign, and part WW3 simulation, Red Storm
  Rising is an amazing look at modern warfare.
screenshots:
  - https://cdn.dos.zone/original/2X/1/10b457d74711edfe2ee1acfce49b286dcf0d28f0.png
  - https://cdn.dos.zone/original/2X/8/8cbd573001ccda0d1ed2cfea8b8abd0cf3490259.gif
---
