---
layout: page.njk
title: RedCat | 🕹️Play RedCat Online | Download js-dos bundle
ogDescription: Want to Play RedCat? 🕹 On Dos Zone you can play RedCat OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: RedCat
permalink: /redcat-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fredcat.jsdos
description: This is the first game in the Redcat series. It's very different
  from the later educational Redcat games aimed at children. In this game you
  play as Redcat, who sets out to retrieve the stolen treasure from the mice.
  The game has 10 levels in total. In these levels you will be killing different
  kinds of mice with your sword, bombs, a machine gun or a flamethrower. You
  will also be picking up money on your way to the final level, which will make
  your score go up. There are a number of traps set up throughout the levels as
  well, like spike pits and blocks that will crush you.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5c6cd6b8fc837a47b105d76ff3b3201c98a8007e.png
  - https://cdn.dos.zone/original/2X/2/2a2916a9706f4f19538c1d218182ca8d8703e22c.png
---
