---
layout: page.njk
title: "RedCat 2: De Ontvoering van Prinses Dana | 🕹️Play RedCat 2: De
  Ontvoering van Prinses Dana Online | Download js-dos bundle"
ogDescription: "Want to Play RedCat 2: De Ontvoering van Prinses Dana? 🕹 On Dos
  Zone you can play RedCat 2: De Ontvoering van Prinses Dana OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "RedCat 2: De Ontvoering van Prinses Dana"
permalink: /redcat-2-de-ontvoering-van-prinses-dana-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fredcat-2-de-ontvoering-van-prinses-dana.jsdos
description: This is the second Redcat game, similar to the first one. In this
  game, princess Dana has been kidnapped and it's up to Redcat to save her. The
  game plays a lot like the first Redcat game. You play as Redcat, who has to
  fight through seven levels to rescue the princess. During these levels, you
  will have to kill a lot of mice again to get to the end. This second game
  features some new additions not available in the first game, like some new
  enemies and items for Redcat to pick up.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e41ed1e57c39d3c8039fdd9dc3ca50c16e62334a.png
  - https://cdn.dos.zone/original/2X/9/9b47d21f51404de9c7bd636ebc7ce0d27bd08a19.png
---
