---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/Redneck.jsdos
layout: page.njk
ogDescription: Redneck Rampage is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Redneck Rampage
  on mobile. On DOS.Zone Redneck Rampage available to play for free without registration.
permalink: /redneck-rampage-1997/
screenshots:
- https://cdn.dos.zone/original/2X/4/42feb7ecccb0b1fe7b8242201481e27b87fe3187.png
- https://cdn.dos.zone/original/2X/a/ab4fdde024046bc2846b811ae57e620eebfb4353.jpeg
shortTitle: Redneck Rampage
title: Redneck Rampage | 🕹️Play Redneck Rampage Online | DOS game in browser

---
