---
layout: page.njk
title: Reflex Point | 🕹️Play Reflex Point Online | Download js-dos bundle
ogDescription: Want to Play Reflex Point? 🕹 On Dos Zone you can play Reflex
  Point OR donwload js-dos bundle for free. Start playing now!
shortTitle: Reflex Point
permalink: /reflex-point-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Freflex-point.jsdos
description: Based on events from the Robotech animated series, the crustacean
  Invid have invaded the Earth and set up a base of operations, code-named
  Reflex Point.  Holed up inside is the Invid Prince, who must be defeated to
  ensure the destruction of the base. As a freedom fighter, you will make use of
  the multiform vehicles familiar from the series - the Cyclone, a futuristic
  motorcycle that converts into a powered armor suit, and the Alpha, an
  aerospace fighter that morphs into a robotic form.  Various stages will be
  encountered en route to Reflex Point; at the beginning, you'll have to avoid
  pitfalls while traveling by Cyclone, and switch to first-person armor mode in
  order to chase off Invid troopers.  Once you get to your Alpha mecha, a short
  but perilous flight will take you to the enemy base, where you will have to
  pierce the laser barrier and face off against the Prince.
screenshots:
  - https://cdn.dos.zone/original/2X/a/abae8df65d7cc0d7f14e912e980a2145b299b7c6.png
  - https://cdn.dos.zone/original/2X/1/1c7c1ad2ea5f3752187de53393f2d49544eb1e4a.png
---
