---
layout: page.njk
title: Renegade | 🕹️Play Renegade Online | Download js-dos bundle
ogDescription: Want to Play Renegade? 🕹 On Dos Zone you can play Renegade OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Renegade
permalink: /renegade-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frenegade.jsdos
description: "This is the scrolling beat 'em up by Technos which started the
  Kunio / Nekketsu High series. The original takes takes place in a Japanese
  city, whereas its western version named Renegade is set on the mean streets of
  Brooklyn. This conversion later produced unofficial sequels Target: Renegade
  and Renegade III: The Final Chapter.  You must venture through to meet your
  girlfriend, and then rescue her from her kidnappers. This is split into five
  levels, taking you through the subway and the docks as well as some
  inhospitable streets. A wide range of aggressive moves are on offer, including
  headbutts, kicks, punches and flying kicks. Much of the game's violence is
  depicted in a fairly tongue-in-cheek style, with an element of attempted
  humour along the way."
screenshots:
  - https://cdn.dos.zone/original/2X/8/829d7f65121167cd687d2a57245dc7d2d4bbce22.png
  - https://cdn.dos.zone/original/2X/1/11713d5ac2828216d50d2838204c6d5318b4fcdc.png
---
