---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/renegade-legion-interceptor.jsdos
layout: page.njk
ogDescription: 'Renegade Legion: Interceptor is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Renegade Legion: Interceptor on mobile. On DOS.Zone Renegade Legion:
  Interceptor available to play for free without registration.'
permalink: /renegade-legion-interceptor-1990/
screenshots:
- https://cdn.dos.zone/original/2X/d/d3f9a9523d0d0972f3bfeceaa9d2ac1708d3fae2.gif
- https://cdn.dos.zone/original/2X/9/9791b14564e51567f79b83e96d87842490287c18.gif
shortTitle: 'Renegade Legion: Interceptor'
title: 'Renegade Legion: Interceptor | 🕹️Play Renegade Legion: Interceptor Online
  | DOS game in browser'

---
