---
layout: page.njk
title: "Renegade Legion: Interceptor | 🕹️Play Renegade Legion: Interceptor
  Online | Download js-dos bundle"
ogDescription: "Want to Play Renegade Legion: Interceptor? 🕹 On Dos Zone you
  can play Renegade Legion: Interceptor OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Renegade Legion: Interceptor"
permalink: /renegade-legion-interceptor-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frenegade-legion-interceptor.jsdos
description: Adaptation of the board game from FASA, the game offers a space
  fighter phased combat, in both skirmish and a campaign mode. The player may
  play as either side, the Terran Overlord Government or the Commonwealth
  Rebels.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d3f9a9523d0d0972f3bfeceaa9d2ac1708d3fae2.gif
  - https://cdn.dos.zone/original/2X/9/9791b14564e51567f79b83e96d87842490287c18.gif
---
