---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/renegade.jsdos
layout: page.njk
ogDescription: Renegade is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Renegade on
  mobile. On DOS.Zone Renegade available to play for free without registration.
permalink: /renegade-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/829d7f65121167cd687d2a57245dc7d2d4bbce22.png
- https://cdn.dos.zone/original/2X/1/11713d5ac2828216d50d2838204c6d5318b4fcdc.png
shortTitle: Renegade
title: Renegade | 🕹️Play Renegade Online | DOS game in browser

---
