---
layout: page.njk
title: Return of the Mutant Space Bats of Doom | 🕹️Play Return of the Mutant
  Space Bats of Doom Online | Download js-dos bundle
ogDescription: Want to Play Return of the Mutant Space Bats of Doom? 🕹 On Dos
  Zone you can play Return of the Mutant Space Bats of Doom OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: Return of the Mutant Space Bats of Doom
permalink: /return-of-the-mutant-space-bats-of-doom-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Freturn-of-the-mutant-space-bats-of-doom.jsdos
description: In this sequel, the mutant space bats of doom return yet again to
  invade earth. Only you stand in their way of achieving their nefarious goals.
  As usual collect the different colored gems that can increase your ship's
  firepower, slow down the enemies, or add to the number of lives. In the bonus
  stage you turn into a bat and fly around collecting the maximum amount of gems
  to increase the chances of success in battle.
screenshots:
  - https://cdn.dos.zone/original/2X/a/aec20e7a5050b1adfa8f000dbba79bc3d683156.gif
  - https://cdn.dos.zone/original/2X/4/4bd44feb164a3302c65f0f003364a58286e2e94d.gif
---
