---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/return-of-the-mutant-space-bats-of-doom.jsdos
layout: page.njk
ogDescription: Return of the Mutant Space Bats of Doom is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Return of the Mutant Space Bats of Doom on mobile. On DOS.Zone
  Return of the Mutant Space Bats of Doom available to play for free without registration.
permalink: /return-of-the-mutant-space-bats-of-doom-1995/
screenshots:
- https://cdn.dos.zone/original/2X/a/aec20e7a5050b1adfa8f000dbba79bc3d683156.gif
- https://cdn.dos.zone/original/2X/4/4bd44feb164a3302c65f0f003364a58286e2e94d.gif
shortTitle: Return of the Mutant Space Bats of Doom
title: Return of the Mutant Space Bats of Doom | 🕹️Play Return of the Mutant Space
  Bats of Doom Online | DOS game in browser

---
