---
layout: page.njk
title: Revenge of Defender | 🕹️Play Revenge of Defender Online | Download
  js-dos bundle
ogDescription: Want to Play Revenge of Defender? 🕹 On Dos Zone you can play
  Revenge of Defender OR donwload js-dos bundle for free. Start playing now!
shortTitle: Revenge of Defender
permalink: /revenge-of-defender-sep-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frevenge-of-defender.jsdos
description: A side scrolling shooter, the object is to defend your colonies
  from various waves of attacking aliens. Revenge of Defender features layered
  scrolling screens, and new background artwork and enemies for each of 7
  levels.
screenshots:
  - https://cdn.dos.zone/original/2X/5/522712e354bbbeb7b544edea242f9c412597128b.gif
  - https://cdn.dos.zone/original/2X/7/742e98306832e73392f17249e8eb993e753811f1.gif
---
