---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/reversi___.jsdos
layout: page.njk
ogDescription: Reversi is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Reversi on
  mobile. On DOS.Zone Reversi available to play for free without registration.
permalink: /reversi-1985/
screenshots:
- https://cdn.dos.zone/original/2X/7/79dd5922036ebaacdcc95711827a2eab6e7932f1.png
- https://cdn.dos.zone/original/2X/f/f78f2e69a7eb6cea5e660d8ec6de8a618fd63fec.png
shortTitle: Reversi
title: Reversi | 🕹️Play Reversi Online | DOS game in browser

---
