---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rick-dangerous-2.jsdos
layout: page.njk
ogDescription: Rick Dangerous 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rick Dangerous
  2 on mobile. On DOS.Zone Rick Dangerous 2 available to play for free without registration.
permalink: /rick-dangerous-2-1990/
screenshots:
- https://cdn.dos.zone/original/2X/1/1004af06d019bf519df08d6b9d4018b0b907a8f7.png
- https://cdn.dos.zone/original/2X/1/112606eebe239015c5b123154f2c9fb4f71f4e74.png
shortTitle: Rick Dangerous 2
title: Rick Dangerous 2 | 🕹️Play Rick Dangerous 2 Online | DOS game in browser

---
