---
layout: page.njk
title: Rick Davis's World Trophy Soccer | 🕹️Play Rick Davis's World Trophy
  Soccer Online | Download js-dos bundle
ogDescription: Want to Play Rick Davis's World Trophy Soccer? 🕹 On Dos Zone you
  can play Rick Davis's World Trophy Soccer OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Rick Davis's World Trophy Soccer
permalink: /rick-daviss-world-trophy-soccer-dec-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frick-daviss-world-trophy-soccer.jsdos
description: This football simulation focuses on international football,
  allowing you to play a tournament or single friendly matches. Up to 8 human
  players can be involved in the tournament. Options include three skill levels,
  variable match lengths and a choice of sound or music (or both on some
  versions). The match is viewed from the side, although it switches to a 3D
  view when the ball is close to the goal. The ball roughly sticks to the
  player's foot. Set pieces are controlled by moving an aiming cross-hair.
screenshots:
  - https://cdn.dos.zone/original/2X/d/da2224004a434828ef6c126d668befbc4dd323ff.png
  - https://cdn.dos.zone/original/2X/3/3fdc0c1c05ec2c3a112749e709167611d54f782c.png
---
