---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rise-of-the-triad-dark-war.jsdos
layout: page.njk
ogDescription: 'Rise of the Triad: Dark War is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Rise of the Triad: Dark War on mobile. On DOS.Zone Rise of the Triad: Dark War
  available to play for free without registration.'
permalink: /rise-of-the-triad-dark-war-dec-21-1994/
screenshots:
- https://cdn.dos.zone/original/2X/6/65cb6f16886eabb19bb336e887ee20e79ce871ff.png
- https://cdn.dos.zone/original/2X/6/63ce2e61ec8a577483f03a7abcdfe47bd59a789a.png
shortTitle: 'Rise of the Triad: Dark War'
title: 'Rise of the Triad: Dark War | 🕹️Play Rise of the Triad: Dark War Online |
  DOS game in browser'

---
