---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rise-of-the-robots.jsdos
layout: page.njk
ogDescription: Rise of the Robots is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Rise of the Robots on mobile. On DOS.Zone Rise of the Robots available to play for
  free without registration.
permalink: /rise-of-the-robots-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/c84ed621f745b0901fdf89f1e5ed51557361826.png
- https://cdn.dos.zone/original/2X/f/f37e3e4895e769dfed4f4a24b6f71ba75016ad18.png
shortTitle: Rise of the Robots
title: Rise of the Robots | 🕹️Play Rise of the Robots Online | DOS game in browser

---
