---
layout: page.njk
title: Road Rally | 🕹️Play Road Rally Online | Download js-dos bundle
ogDescription: Want to Play Road Rally? 🕹 On Dos Zone you can play Road Rally
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Road Rally
permalink: /road-rally-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Froad-rally.jsdos
description: "Somewhat unusually for a driving game, Road Rally is presented
  entirely in a turn-based, textual format.  Your goal is to drive a 5-mile
  distance from home to the Old Mill Stream.  There are five courses, ranging
  from relatively straight to riddled with curves, and you have a choice of four
  vehicles: a Volkswagen, a Chevy, a Mazda RX-7, and a Ferrari.  Trouble is, you
  only have half a gallon in your tank... and the faster the car, the more gas
  it will guzzle. A game turn represents 10 seconds of driving time, and gives
  you a run-down of your current stats and road conditions.  On each turn, you
  get the option to adjust your gas rate, by entering a number from -10 (hard
  braking) to 10 (hard acceleration): this is the only form of control you have
  over your car.  Careful speed control is required in order to avoid crashing,
  navigate curves safely, keep your engine from overheating, and your gas from
  running out."
screenshots:
  - https://cdn.dos.zone/original/2X/d/d61a43b5b4324abcaceaa1d5d18e50c3af6aeffb.png
  - https://cdn.dos.zone/original/2X/f/f04bb3d9a94ecb82bda16ede53cdd5fe53519288.png
---
