---
layout: page.njk
title: Roadwar Europa | 🕹️Play Roadwar Europa Online | Download js-dos bundle
ogDescription: Want to Play Roadwar Europa? 🕹 On Dos Zone you can play Roadwar
  Europa OR donwload js-dos bundle for free. Start playing now!
shortTitle: Roadwar Europa
permalink: /roadwar-europa-nov-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Froadwar-europa.jsdos
description: Europe is suffering the same bio-war that has devastated America in
  Roadwar 2000. In Roadwar Europe, maniacal terrorists have destroyed one city
  and are threatening the entire continent. The player and his gang are its last
  hope. Player's mission is to locate and disarm the bio-bombs, and destroy the
  terrorist headquarters along with its leaders.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a53bb7cf344472b76712a7bfff776d7467f066d9.gif
  - https://cdn.dos.zone/original/2X/3/350ed864f58d9bee38b9c7ddece081c0369e90e7.png
---
