---
layout: page.njk
title: Robak | 🕹️Play Robak Online | Download js-dos bundle
ogDescription: Want to Play Robak? 🕹 On Dos Zone you can play Robak OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Robak
permalink: /robak-may-22-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobak.jsdos
description: Robak (Worm) is a black-and-white Snake variant. The player
  controls a snake in a small room filled with fruits, obstacles and bonus
  elements. The goal is to eat the food while avoiding the obstacles (including
  one's own tail) to achieve the necessary length to open the door to the next
  stage. The player is limited by the amount of food. The worm must attain the
  sufficient length before supplies run out. Whenever the snake eats a piece of
  food, it grows longer, making it more difficult to maneuver. The snake moves
  forward at a constant speed and can be turned in the four cardinal directions.
  Encountered obstacles shorten the length of the worm. Fruit can rot and change
  into trees. Bonus elements add extra points.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2a0f39329c031144e42446cca89e4c1ec21e0836.png
  - https://cdn.dos.zone/original/2X/4/4809a919ca2a08edc2d11976f17951891d60cc98.png
---
