---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/robak.jsdos
layout: page.njk
ogDescription: Robak is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Robak on mobile.
  On DOS.Zone Robak available to play for free without registration.
permalink: /robak-may-22-1991/
screenshots:
- https://cdn.dos.zone/original/2X/2/2a0f39329c031144e42446cca89e4c1ec21e0836.png
- https://cdn.dos.zone/original/2X/4/4809a919ca2a08edc2d11976f17951891d60cc98.png
shortTitle: Robak
title: Robak | 🕹️Play Robak Online | DOS game in browser

---
