---
layout: page.njk
title: Robbo | 🕹️Play Robbo Online | Download js-dos bundle
ogDescription: Want to Play Robbo? 🕹 On Dos Zone you can play Robbo OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Robbo
permalink: /robbo-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobbo.jsdos
description: Robbo is a side-scrolling puzzle solving action game, similar to
  Boulder Dash and Sokoban. The player directs the robot, named Robbo. His goal
  is to collect all the screws on the planet needed to repair the ship and reach
  his flying capsule, avoiding alien forms of life and numerous traps. The
  players will encounter many obstacles on their way, for example chests that
  will have to move properly, closed doors requiring to find the key, deadly
  cannons or electromagnets attracting metal objects. Robbo can use the gun
  after finding ammunition, bombs placed on the board and travel through
  teleporters. The original Atari 8-bit version has 56 levels, the DOS version
  added four additional levels for a total 60, and the Atari ST version has the
  original Atari 8-Bit levels plus an additional 80 levels for a total of 136
  levels.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7495a5c92d6373e7dcc3d9479ca6d75719a756fc.png
  - https://cdn.dos.zone/original/2X/d/d0e7aa9b53bd79633ad1f981592449435fd7a68a.png
---
