---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/robbo.jsdos
layout: page.njk
ogDescription: Robbo is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Robbo on mobile.
  On DOS.Zone Robbo available to play for free without registration.
permalink: /robbo-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/7495a5c92d6373e7dcc3d9479ca6d75719a756fc.png
- https://cdn.dos.zone/original/2X/d/d0e7aa9b53bd79633ad1f981592449435fd7a68a.png
shortTitle: Robbo
title: Robbo | 🕹️Play Robbo Online | DOS game in browser

---
