---
layout: page.njk
title: Robot Junior | 🕹️Play Robot Junior Online | Download js-dos bundle
ogDescription: Want to Play Robot Junior? 🕹 On Dos Zone you can play Robot
  Junior OR donwload js-dos bundle for free. Start playing now!
shortTitle: Robot Junior
permalink: /robot-junior-oct-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobot-junior.jsdos
description: Robot Junior is a freeware episode of the Game of Robot series. It
  was released after the second game, in order to introduce new players to the
  series. As in every Robot game, the player has to explore the screens and
  solve the numerous puzzles they contain. In Robot Junior the aim is to find
  all the keys scattered across the 12 scenes, which are needed to get to the
  big treasure.
screenshots:
  - https://cdn.dos.zone/original/2X/c/caa17fbd006248d5d8719ba724512fadd649bf19.png
  - https://cdn.dos.zone/original/2X/6/6675d8af0fb3217a16d57479567b8094ad18f56.png
---
