---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/robot-junior.jsdos
layout: page.njk
ogDescription: Robot Junior is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Robot Junior
  on mobile. On DOS.Zone Robot Junior available to play for free without registration.
permalink: /robot-junior-oct-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/caa17fbd006248d5d8719ba724512fadd649bf19.png
- https://cdn.dos.zone/original/2X/6/6675d8af0fb3217a16d57479567b8094ad18f56.png
shortTitle: Robot Junior
title: Robot Junior | 🕹️Play Robot Junior Online | DOS game in browser

---
