---
layout: page.njk
title: Robot Odyssey | 🕹️Play Robot Odyssey Online | Download js-dos bundle
ogDescription: Want to Play Robot Odyssey? 🕹 On Dos Zone you can play Robot
  Odyssey OR donwload js-dos bundle for free. Start playing now!
shortTitle: Robot Odyssey
permalink: /robot-odyssey-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobot-odyssey.jsdos
description: Robot Odyssey is a logic adventure game.  You have been taken into
  Robotropolis, an underground city of robots.  To escape, you must program your
  robot helpers Sparky, Checkers, and Scanner to solve the puzzles and escape.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e0fd57b822fe9ddf3616abb8025e3069474a2635.png
  - https://cdn.dos.zone/original/2X/2/23596acdf1f8cb9a4278401044f74cb9220597aa.png
---
