---
layout: page.njk
title: Roboto | 🕹️Play Roboto Online | Download js-dos bundle
ogDescription: Want to Play Roboto? 🕹 On Dos Zone you can play Roboto OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Roboto
permalink: /roboto-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Froboto.jsdos
description: Roboto is a single-player shareware game, similar to Robotron 2084.
  The object of this keyboard controlled shooter game is to stay alive while
  surrounded by baddies. The game starts with the player's character in  the
  centre of the screen. Baddies warp into the game area in random positions and
  the player must shoot them all before they are shot or caught. The game is
  keyboard controlled with eight keys for the left hand to aim with and eight
  keys for the right hand to move the character, the spacebar fires the weapon.
  The shareware version has twenty-four levels, registered version has over one
  hundred levels plus a high score table and Sound Blaster support.
screenshots:
  - https://cdn.dos.zone/original/2X/9/95bbd32890a6f43d1b14435d160cb54d74ec4ef0.png
  - https://cdn.dos.zone/original/2X/d/dfcacfd348d5c91cf8158e703970fde283c3b733.png
---
