---
layout: page.njk
title: "Robot IV: Operation ExtraTax | 🕹️Play Robot IV: Operation ExtraTax
  Online | Download js-dos bundle"
ogDescription: "Want to Play Robot IV: Operation ExtraTax? 🕹 On Dos Zone you
  can play Robot IV: Operation ExtraTax OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Robot IV: Operation ExtraTax"
permalink: /robot-iv-operation-extratax-jul-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobot-iv-operation-extratax.jsdos
description: After the third part of the Game of Robot series, the public has
  taken note of the hero's ability to endure adventures and solve dangerous
  tasks. That's why he is being sent on an official mission to investigate
  mysterious radio interferences caused by an old radar station. While still
  focusing on the traditional style of complex puzzles, the scenario of Robot IV
  is more modern and technological than in earlier games.
screenshots: []
---
