---
layout: page.njk
title: "Robotron: 2084 | 🕹️Play Robotron: 2084 Online | Download js-dos bundle"
ogDescription: "Want to Play Robotron: 2084? 🕹 On Dos Zone you can play
  Robotron: 2084 OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Robotron: 2084"
permalink: /robotron-2084-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frobotron-2084_.jsdos
description: >-
  Robotron: 2084 is a single player, shareware clone of the Atari arcade game.
  The story behind the game is as follows: Man is once again a victim of his own
  ingenuity.  This time he has created a species of killer robots bent on
  obliterating the human race.  And, of course, it's up to you to put things
  back in order.

  The player's character starts off in the centre of the game area. They are surrounded by baddies and must find a way to rescue all the humans that are on the screen. Some baddies just attack the player while others will attack the humans the player is supposed to rescue. The game is controlled either by the keyboard, joystick, or a combination of the two.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4be211592650d05db845bb9518a5af64ce41ceda.png
  - https://cdn.dos.zone/original/2X/f/fbbd2341ef85cd7705155fc9bb52e88b27dd7fee.png
---
