---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/robotron-2084_.jsdos
layout: page.njk
ogDescription: 'Robotron: 2084 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Robotron:
  2084 on mobile. On DOS.Zone Robotron: 2084 available to play for free without registration.'
permalink: /robotron-2084-1995/
screenshots:
- https://cdn.dos.zone/original/2X/4/4be211592650d05db845bb9518a5af64ce41ceda.png
- https://cdn.dos.zone/original/2X/f/fbbd2341ef85cd7705155fc9bb52e88b27dd7fee.png
shortTitle: 'Robotron: 2084'
title: 'Robotron: 2084 | 🕹️Play Robotron: 2084 Online | DOS game in browser'

---
