---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/robot-iv-operation-extratax.jsdos
layout: page.njk
ogDescription: 'Robot IV: Operation ExtraTax is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Robot IV: Operation ExtraTax on mobile. On DOS.Zone Robot IV: Operation
  ExtraTax available to play for free without registration.'
permalink: /robot-iv-operation-extratax-jul-1993/
screenshots: []
shortTitle: 'Robot IV: Operation ExtraTax'
title: 'Robot IV: Operation ExtraTax | 🕹️Play Robot IV: Operation ExtraTax Online
  | DOS game in browser'

---
