---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rockets.jsdos
layout: page.njk
ogDescription: Rockets is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rockets on
  mobile. On DOS.Zone Rockets available to play for free without registration.
permalink: /rockets-1986/
screenshots:
- https://cdn.dos.zone/original/2X/4/4ccee5884545afc19facacb96d81b4bc9de53912.png
- https://cdn.dos.zone/original/2X/2/2f9296e9745bfae6fcd431c95e31ef50e331add9.png
shortTitle: Rockets
title: Rockets | 🕹️Play Rockets Online | DOS game in browser

---
