---
layout: page.njk
title: Rockets | 🕹️Play Rockets Online | Download js-dos bundle
ogDescription: Want to Play Rockets? 🕹 On Dos Zone you can play Rockets OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rockets
permalink: /rockets-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frockets.jsdos
description: Rockets is a single-player, space based, shooter that is entirely
  keyboard controlled. The game starts by drawing a star-field on screen and
  populating it with a planet and asteroids. The planet is an obstacle that a
  spaceship cannot fly over but the asteroids are effectively just scenery. It
  then positions the player's ship and an enemy ship on screen and the object is
  to destroy as many enemy ships as possible before all ships are exhausted. As
  the player progresses the enemy ships become faster at tracking and firing.
  The game features destructible scenery, when a ship explodes near a planet, or
  asteroid, a chunk of that object is destroyed. It also has a speed up / slow
  down feature that allows it to be played on different systems.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4ccee5884545afc19facacb96d81b4bc9de53912.png
  - https://cdn.dos.zone/original/2X/2/2f9296e9745bfae6fcd431c95e31ef50e331add9.png
---
