---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rocket.jsdos
layout: page.njk
ogDescription: Rocket is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Rocket on mobile.
  On DOS.Zone Rocket available to play for free without registration.
permalink: /rocket-dec-1981/
screenshots:
- https://cdn.dos.zone/original/2X/c/c3da64ce95ce88e7c3c9cfb254ad582d60c4f7f9.png
- https://cdn.dos.zone/original/2X/d/d31e9d2c3d28e37953e7a589ff6681ea8e5032e6.png
shortTitle: Rocket
title: Rocket | 🕹️Play Rocket Online | DOS game in browser

---
