---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rocket-rangers.jsdos
layout: page.njk
ogDescription: Rocket Rangers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rocket Rangers
  on mobile. On DOS.Zone Rocket Rangers available to play for free without registration.
permalink: /rocket-rangers-1990/
screenshots:
- https://cdn.dos.zone/original/2X/8/8544c2aba477f987b216cc0774b3b6eb328b7c6b.png
- https://cdn.dos.zone/original/2X/b/b77564810b3d4d25ef41de27cac226d81e7fe8f1.png
shortTitle: Rocket Rangers
title: Rocket Rangers | 🕹️Play Rocket Rangers Online | DOS game in browser

---
