---
layout: page.njk
title: Rocket Rangers | 🕹️Play Rocket Rangers Online | Download js-dos bundle
ogDescription: Want to Play Rocket Rangers? 🕹 On Dos Zone you can play Rocket
  Rangers OR donwload js-dos bundle for free. Start playing now!
shortTitle: Rocket Rangers
permalink: /rocket-rangers-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frocket-rangers.jsdos
description: "Another variation on the classic Spacewar! style of interstellar
  combat, played against a human player or the computer: two triangular
  spacecraft duke it out for survival, with the simple premise of
  kill-or-be-killed.  The ships roam freely across the arena, using rotate and
  thrust controls to manipulate their movement; edge wrap-around can be toggled
  on or off, and an optional gravity well may be placed at the center, with or
  without a sun (crashing into one is highly ill-advised). Victory is achieved
  by destroying the opponent ship's hull.  Both players are equipped with a
  shield, which protects the hull until it can be taken down, and a regenerating
  energy storage which is depleted by thrusting, firing, or using a special
  ability: the powerful disruptor (which launches a sphere of heavy damage at
  short range), the tractor beam (which pulls the two ships together) or the
  hyperspace teleporter (which displaces the ship to a random location).  Taking
  heavy damage can disrupt or disable some of the ship's controls, so fly safe."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8544c2aba477f987b216cc0774b3b6eb328b7c6b.png
  - https://cdn.dos.zone/original/2X/b/b77564810b3d4d25ef41de27cac226d81e7fe8f1.png
---
