---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rockn-roller.jsdos
layout: page.njk
ogDescription: Rock'N Roller is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rock'N Roller
  on mobile. On DOS.Zone Rock'N Roller available to play for free without registration.
permalink: /rockn-roller-1992/
screenshots:
- https://cdn.dos.zone/original/2X/5/5cc9e6de72e58a705ef71ede817480389bfe721d.png
- https://cdn.dos.zone/original/2X/1/1670106103fe7810688ab394d97627da550b45b5.png
shortTitle: Rock'N Roller
title: Rock'N Roller | 🕹️Play Rock'N Roller Online | DOS game in browser

---
