---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rocks.jsdos
layout: page.njk
ogDescription: Rocks is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Rocks on mobile.
  On DOS.Zone Rocks available to play for free without registration.
permalink: /rocks-1997/
screenshots:
- https://cdn.dos.zone/original/2X/e/e00924685ef484355853a9613fabada40b7a8c6c.png
- https://cdn.dos.zone/original/2X/8/8f2f341d1dc926be3738cbe870bf15c6e7ee6686.png
shortTitle: Rocks
title: Rocks | 🕹️Play Rocks Online | DOS game in browser

---
