---
layout: page.njk
title: Rocket Fighter | 🕹️Play Rocket Fighter Online | Download js-dos bundle
ogDescription: Want to Play Rocket Fighter? 🕹 On Dos Zone you can play Rocket
  Fighter OR donwload js-dos bundle for free. Start playing now!
shortTitle: Rocket Fighter
permalink: /rocket-fighter-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frocket-fighter.jsdos
description: Rocket Fighter is a single player keyboard controlled game. It is
  similar in style to an Asteroids clone but instead of space rocks the player
  has to contend with enemy space ships which always travel in vertical or
  horizontal lines. The objective is to fly around the game level, destroying
  all the enemy ships and then finding the worm hole that will take you to the
  next level, there are five levels in all and the galaxy won't be safe until
  they are all cleared
screenshots:
  - https://cdn.dos.zone/original/2X/7/7aba5e8a6fce60eb83d085cb57095b0d64f24af7.jpeg
  - https://cdn.dos.zone/original/2X/b/ba5a64a377454ce02b72937afb909a54553ef7cb.png
---
