---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rocket-fighter.jsdos
layout: page.njk
ogDescription: Rocket Fighter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rocket Fighter
  on mobile. On DOS.Zone Rocket Fighter available to play for free without registration.
permalink: /rocket-fighter-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/7aba5e8a6fce60eb83d085cb57095b0d64f24af7.jpeg
- https://cdn.dos.zone/original/2X/b/ba5a64a377454ce02b72937afb909a54553ef7cb.png
shortTitle: Rocket Fighter
title: Rocket Fighter | 🕹️Play Rocket Fighter Online | DOS game in browser

---
