---
layout: page.njk
title: Rogue Clone | 🕹️Play Rogue Clone Online | Download js-dos bundle
ogDescription: Want to Play Rogue Clone? 🕹 On Dos Zone you can play Rogue Clone
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Rogue Clone
permalink: /rogue-clone-jul-01-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frogue-clone.jsdos
description: "Rogue Clone is an early variant of Rogue, the grandfather of all
  roguelikes, specifically of the UNIX version 5.3. The first version of Rogue
  Clone was first released in 1986 for UNIX. At first glance, Rogue Clone is
  quite indistinguishable from the original: Enter some randomly generated
  dungeon, bash monsters, grab treasures, evade traps, and find the stairs to
  the next level, all this to recover that fabled Amulet of Yendor and make it
  back to the light of day -- alive, preferably... everything in glorious ASCII
  graphics. On a second glance, one realizes that Rogue Clone features some
  additions and modifications to game play. For example, there are no dark
  rooms, and the difficulty level is slightly easier -- monsters spawn quicker,
  but there is much more items to be found. Another very helpful feature is that
  unknown items are automatically identified after use, so that next time you
  find them, you'll know what awaits you. The first version of Rogue Clone also
  omitted traps and secret doors, later versions have both, but traps may not go
  off if an inadvertent adventurer steps onto them. Mazes are also drawn
  differently, and there are other changes in the items and their
  characteristics. Otherwise, this version plays pretty much like the original
  and earns its name."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8bb35300acc730e132ca9d74f4417c519f3eeca2.png
  - https://cdn.dos.zone/original/2X/b/b544490f5c9ed035a7d410f5a781e8ee9e8f2c90.png
---
