---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rogue-clone.jsdos
layout: page.njk
ogDescription: Rogue Clone is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rogue Clone
  on mobile. On DOS.Zone Rogue Clone available to play for free without registration.
permalink: /rogue-clone-jul-01-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/8bb35300acc730e132ca9d74f4417c519f3eeca2.png
- https://cdn.dos.zone/original/2X/b/b544490f5c9ed035a7d410f5a781e8ee9e8f2c90.png
shortTitle: Rogue Clone
title: Rogue Clone | 🕹️Play Rogue Clone Online | DOS game in browser

---
