---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/romance-of-the-three-kingdoms-ii.jsdos
layout: page.njk
ogDescription: Romance of the Three Kingdoms II is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Romance of the Three Kingdoms II on mobile. On DOS.Zone Romance of the
  Three Kingdoms II available to play for free without registration.
permalink: /romance-of-the-three-kingdoms-ii-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/e6b1803e6f82de10de9c2ec77193d4d3bbe19d48.png
- https://cdn.dos.zone/original/2X/2/2518bdbb5c7e6fc6b16d05272e6f1dfac599602d.png
shortTitle: Romance of the Three Kingdoms II
title: Romance of the Three Kingdoms II | 🕹️Play Romance of the Three Kingdoms II
  Online | DOS game in browser

---
