---
layout: page.njk
title: Romance of the Three Kingdoms II | 🕹️Play Romance of the Three Kingdoms
  II Online | Download js-dos bundle
ogDescription: Want to Play Romance of the Three Kingdoms II? 🕹 On Dos Zone you
  can play Romance of the Three Kingdoms II OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Romance of the Three Kingdoms II
permalink: /romance-of-the-three-kingdoms-ii-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fromance-of-the-three-kingdoms-ii.jsdos
description: The sequel to Romance of the Three Kingdoms. The game concept is
  still the same, though they did improve a lot of features that one may
  consider 'disturbing' from RTK I (e.g. Generals dying easily due to disease,
  etc.). RTK can be said to be much more 'stable' where players no longer have
  to worry that much about time length in the game, as the game take a slower
  time rate to allow the players to build up their forces without much
  interference. The RTK II gameplay and interface is closely similar to
  Nobunaga's Ambition II.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e6b1803e6f82de10de9c2ec77193d4d3bbe19d48.png
  - https://cdn.dos.zone/original/2X/2/2518bdbb5c7e6fc6b16d05272e6f1dfac599602d.png
---
