---
layout: page.njk
title: "Romance of the Three Kingdoms III: Dragon of Destiny | 🕹️Play Romance
  of the Three Kingdoms III: Dragon of Destiny Online | Download js-dos bundle"
ogDescription: "Want to Play Romance of the Three Kingdoms III: Dragon of
  Destiny? 🕹 On Dos Zone you can play Romance of the Three Kingdoms III: Dragon
  of Destiny OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Romance of the Three Kingdoms III: Dragon of Destiny"
permalink: /romance-of-the-three-kingdoms-iii-dragon-of-destiny-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fromance-of-the-three-kingdoms-iii-dragon-of-destiny.jsdos
description: "Romance of the Three Kingdoms III: Dragon of Destiny is another
  strategy game by Koei. The concept is the same here as in Koei's other
  wargames: conquer all you can! In this case the historical setting is ancient
  China. The country is under the control of one Emperor, but all of the faction
  leaders want to be the emperor themselves. You begin with one territory and
  you must conquer more to win the game."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cb35abf1101b1668e06cf359475678cae839a3be.png
  - https://cdn.dos.zone/original/2X/5/59ef5f7537b4d65f83c2abb58c874df14190649.png
---
