---
layout: page.njk
title: "Rommel: Battles for North Africa | 🕹️Play Rommel: Battles for North
  Africa Online | Download js-dos bundle"
ogDescription: "Want to Play Rommel: Battles for North Africa? 🕹 On Dos Zone
  you can play Rommel: Battles for North Africa OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Rommel: Battles for North Africa"
permalink: /rommel-battles-for-north-africa-sep-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frommel-battles-for-north-africa.jsdos
description: "Rommel: Battles for North Africa is a turn & hex-based wargame
  (one of the series built on the Battlefront engine) dealing with the battles
  between Allied and Axis forces in North Africa during the Second World War.
  The eight scenarios included (playable from both sides of the conflict) are:
  Syria (Operation Exporter, 1941), Sidi Rezegh (1941), Alam el Halfa (1942),
  The Cauldron (1942), Maknassy (1942), Kasserine Pass (1943), Tebaga Gap
  (1943), and a what-if German invasion on Malta. As with Battlefront the
  command scale is at the corps-level. The battle system incorporates the
  factors of adverse weather and terrain, supply, experience and morale. A
  complete range of unit types is provided. Victory depends on seizing the key
  locations within the turn limit. The game was packed with WarPlan scenario
  editor and WarPaint map/unit graphics editor (a common feature of Battlefront
  Game System titles)."
screenshots:
  - https://cdn.dos.zone/original/2X/5/5b86bc1529449457c897d77c7a9181156fdf2470.png
  - https://cdn.dos.zone/original/2X/9/9ab0e4b947bf8a0b6916d48ef015f9fd7eb7e633.png
---
