---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rooster.jsdos
layout: page.njk
ogDescription: Rooster is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rooster on
  mobile. On DOS.Zone Rooster available to play for free without registration.
permalink: /rooster-jul-30-1995/
screenshots:
- https://cdn.dos.zone/original/2X/b/b13bcd82dc0c836cc901abb1717aa323abc4f9.png
- https://cdn.dos.zone/original/2X/6/62d2b07703d7c501386b9bd460d0bc981ca94cf9.png
shortTitle: Rooster
title: Rooster | 🕹️Play Rooster Online | DOS game in browser

---
