---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rotaktix.jsdos
layout: page.njk
ogDescription: Rotaktix is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rotaktix on
  mobile. On DOS.Zone Rotaktix available to play for free without registration.
permalink: /rotaktix-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/2326fe973f0109d5c21f990684734bb1b8d4b5ff.png
- https://cdn.dos.zone/original/2X/f/f5dc316115145723b8fd85e67bd3f18f270f4284.png
shortTitle: Rotaktix
title: Rotaktix | 🕹️Play Rotaktix Online | DOS game in browser

---
