---
layout: page.njk
title: Rotaktix | 🕹️Play Rotaktix Online | Download js-dos bundle
ogDescription: Want to Play Rotaktix? 🕹 On Dos Zone you can play Rotaktix OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Rotaktix
permalink: /rotaktix-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frotaktix.jsdos
description: Rotaktix is a single-player, shareware, tile matching game. The
  game area is divided into a play area with nine columns, a status bar on the
  left, and a bar containing tiles/tokens across the top. The player uses the
  left/right arrows to slide the bar at the top of the screen so that when the
  tiles drop they form lines of three or more. Tiles that form runs of three or
  more disappear and any tiles above them drop down. Each level consists of four
  rounds, each round has an objective such as making a specified number of rows
  horizontally within a set time. The objectives for each round become harder as
  the player progresses. In addition there are bonus rounds with no set
  objective other than to score as much as possible in a set time. The game is
  keyboard controlled, it has alternate tile sets, sound, and a high score
  table.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2326fe973f0109d5c21f990684734bb1b8d4b5ff.png
  - https://cdn.dos.zone/original/2X/f/f5dc316115145723b8fd85e67bd3f18f270f4284.png
---
