---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rotor.jsdos
layout: page.njk
ogDescription: Rotor is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Rotor on mobile.
  On DOS.Zone Rotor available to play for free without registration.
permalink: /rotor-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/f6ef9cb1b2d5dc9055ac4e3ced6febd1f59072b4.gif
- https://cdn.dos.zone/original/2X/a/a81b25087351972faba20099bcbb39b91c2c2e6a.gif
shortTitle: Rotor
title: Rotor | 🕹️Play Rotor Online | DOS game in browser

---
