---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rox.jsdos
layout: page.njk
ogDescription: ROX is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in ROX on mobile. On
  DOS.Zone ROX available to play for free without registration.
permalink: /rox-jan-03-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/1313e8e98c5c61caea792d0c67f468a256167ee3.png
- https://cdn.dos.zone/original/2X/c/ce34bfd1c59d6c490f937dc5f61117d52129e5ff.png
shortTitle: ROX
title: ROX | 🕹️Play ROX Online | DOS game in browser

---
