---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/run-for-the-money.jsdos
layout: page.njk
ogDescription: Run for the Money is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Run for the Money on mobile. On DOS.Zone Run for the Money available to play for
  free without registration.
permalink: /run-for-the-money-1984/
screenshots:
- https://cdn.dos.zone/original/2X/5/58d3cb3a3a6cce065b430d2160dd4ec8814936ad.png
- https://cdn.dos.zone/original/2X/5/57cb2e6efeff4bd7ce1ebca9b7a4cddab965d5a8.png
shortTitle: Run for the Money
title: Run for the Money | 🕹️Play Run for the Money Online | DOS game in browser

---
