---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rush-hour__.jsdos
layout: page.njk
ogDescription: Rush Hour is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Rush Hour
  on mobile. On DOS.Zone Rush Hour available to play for free without registration.
permalink: /rush-hour-sep-1987/
screenshots:
- https://cdn.dos.zone/original/2X/d/d08dd71e742337ab26c4d0e01da1429af75e145.png
- https://cdn.dos.zone/original/2X/9/908c6305e99bde618af86e57e3880d8bdc666256.png
shortTitle: Rush Hour
title: Rush Hour | 🕹️Play Rush Hour Online | DOS game in browser

---
