---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/saboteur-ii.jsdos
layout: page.njk
ogDescription: Saboteur II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Saboteur II
  on mobile. On DOS.Zone Saboteur II available to play for free without registration.
permalink: /saboteur-ii-1987/
screenshots:
- https://cdn.dos.zone/original/2X/9/9402bc1427adc1fa124c3ea15937e11ad08769af.gif
- https://cdn.dos.zone/original/2X/c/c963759033d359720e606ed5e110db64e193b4f6.gif
shortTitle: Saboteur II
title: Saboteur II | 🕹️Play Saboteur II Online | DOS game in browser

---
