---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sailing-an-adventure-in-the-bermuda-triangle.jsdos
layout: page.njk
ogDescription: Sailing... an adventure in the Bermuda Triangle is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Sailing... an adventure in the Bermuda Triangle on mobile.
  On DOS.Zone Sailing... an adventure in the Bermuda Triangle available to play for
  free without registration.
permalink: /sailing-an-adventure-in-the-bermuda-triangle-1983/
screenshots:
- https://cdn.dos.zone/original/2X/3/36f73053948697f36bc9cd36e8fa5eb60e01d95b.png
- https://cdn.dos.zone/original/2X/9/98e9976882b3f739fac0e8bc5744b236a5ea57f9.png
shortTitle: Sailing... an adventure in the Bermuda Triangle
title: Sailing... an adventure in the Bermuda Triangle | 🕹️Play Sailing... an adventure
  in the Bermuda Triangle Online | DOS game in browser

---
