---
layout: page.njk
title: Sailing... an adventure in the Bermuda Triangle | 🕹️Play Sailing... an
  adventure in the Bermuda Triangle Online | Download js-dos bundle
ogDescription: Want to Play Sailing... an adventure in the Bermuda Triangle? 🕹
  On Dos Zone you can play Sailing... an adventure in the Bermuda Triangle OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sailing... an adventure in the Bermuda Triangle
permalink: /sailing-an-adventure-in-the-bermuda-triangle-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsailing-an-adventure-in-the-bermuda-triangle.jsdos
description: >-
  Sailing...An Adventure in The Bermuda Triangle is an action-sports game. Your
  threefold mission in this game:

  - Sail 3 legs around the Bermuda Triangle as fast as you can.

  - While sailing rescue lost swimmers and rafters.

  - While sailing try to avoid obstacles like sharks, mist and even vortexes which can warp you to another part on the map.
screenshots:
  - https://cdn.dos.zone/original/2X/3/36f73053948697f36bc9cd36e8fa5eb60e01d95b.png
  - https://cdn.dos.zone/original/2X/9/98e9976882b3f739fac0e8bc5744b236a5ea57f9.png
---
