---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/samotnik_.jsdos
layout: page.njk
ogDescription: Samotnik is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Samotnik on
  mobile. On DOS.Zone Samotnik available to play for free without registration.
permalink: /samotnik-jun-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/6f8ebfa2246fb13b25d45be37efe7e5baa7f78b0.png
- https://cdn.dos.zone/original/2X/b/b43f6b1d469308bd965176cf82513d9107597e59.png
shortTitle: Samotnik
title: Samotnik | 🕹️Play Samotnik Online | DOS game in browser

---
