---
layout: page.njk
title: Samotnik | 🕹️Play Samotnik Online | Download js-dos bundle
ogDescription: Want to Play Samotnik? 🕹 On Dos Zone you can play Samotnik OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Samotnik
permalink: /samotnik-jun-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsamotnik_.jsdos
description: Samotnik is an adaptation of the Peg Solitaire board game. The
  action takes place on a standard 8x8 chessboard of 32 figures set in all areas
  of the same color. All figures are the same. The main task is to remove all of
  the figures, with the exception of one. Hitting a pawn, as in checkers,
  involves skipping the whipped figure diagonally. It is possible to capture
  only one pawn in one movement. The first movement is based solely on any
  figure you choose to be removed. Hitting also allows moving pawns. The game
  ends when there is no possibility of movement. Victory occurs when the board
  only holds one figure. The program stores all the moves made ​​since the
  beginning of the game. It is possible to undo the move and replay the entire
  game.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6f8ebfa2246fb13b25d45be37efe7e5baa7f78b0.png
  - https://cdn.dos.zone/original/2X/b/b43f6b1d469308bd965176cf82513d9107597e59.png
---
