---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/santas-xmas-caper_.jsdos
layout: page.njk
ogDescription: Santa's Xmas Caper is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Santa's Xmas Caper on mobile. On DOS.Zone Santa's Xmas Caper available to play for
  free without registration.
permalink: /santas-xmas-caper-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/b03f2e24aa471e5c3c4ab240ba2c0f0f3ca35f2b.png
- https://cdn.dos.zone/original/2X/9/9abccd233d2c31c8ba16b78455a35c43bbf165f2.png
shortTitle: Santa's Xmas Caper
title: Santa's Xmas Caper | 🕹️Play Santa's Xmas Caper Online | DOS game in browser

---
