---
layout: page.njk
title: Santa's Xmas Caper | 🕹️Play Santa's Xmas Caper Online | Download js-dos bundle
ogDescription: Want to Play Santa's Xmas Caper? 🕹 On Dos Zone you can play
  Santa's Xmas Caper OR donwload js-dos bundle for free. Start playing now!
shortTitle: Santa's Xmas Caper
permalink: /santas-xmas-caper-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsantas-xmas-caper_.jsdos
description: >-
  Despite being published by the same company and sharing the same title,
  Santa's Xmas Caper on the Amiga is different from its 8-bit cousins. Instead
  of a scrolling shoot 'em up, it is a platform game. While riding on his slide,
  Santa loses all his pressies. The gifts scattered all across the country,
  Santa must traverse multiple-scrolling platform-levels collecting them back.
  When they are all collected, an exit opens granting him access to the next
  level.

  Each level is crowded with spiky pitfalls, slippery platforms and cute-looking but nasty baddies. By throwing snowballs, the baddies can be stunned for a short while.

  Complete all seven levels and Christmas will be saved.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b03f2e24aa471e5c3c4ab240ba2c0f0f3ca35f2b.png
  - https://cdn.dos.zone/original/2X/9/9abccd233d2c31c8ba16b78455a35c43bbf165f2.png
---
