---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/saper.jsdos
layout: page.njk
ogDescription: Saper is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Saper on mobile.
  On DOS.Zone Saper available to play for free without registration.
permalink: /saper-jan-01-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9790a2aa64bcaa43363bed90c119938f0e74413e.png
- https://cdn.dos.zone/original/2X/b/b1724118cbe6964f64042f69ee2e5e07e745825b.png
shortTitle: Saper
title: Saper | 🕹️Play Saper Online | DOS game in browser

---
