---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sarakon.jsdos
layout: page.njk
ogDescription: Sarakon is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sarakon on
  mobile. On DOS.Zone Sarakon available to play for free without registration.
permalink: /sarakon-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/66a6e220e088237ce1033469cdd01f4e9c522dca.png
- https://cdn.dos.zone/original/2X/8/8aad9167190a76b876df4d834588590dbefe7029.png
shortTitle: Sarakon
title: Sarakon | 🕹️Play Sarakon Online | DOS game in browser

---
