---
layout: page.njk
title: Sargon 4 | 🕹️Play Sargon 4 Online | Download js-dos bundle
ogDescription: Want to Play Sargon 4? 🕹 On Dos Zone you can play Sargon 4 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sargon 4
permalink: /sargon-4-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsargon-4.jsdos
description: A FULLY updated version of the first three Sargon games; now in
  color! 3D is also included along with numerous graphic enhancements and added
  classic games from the past.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bff7358ef0b19336321c3c793db91d808431b5b0.png
  - https://cdn.dos.zone/original/2X/2/2b3984e5ba2b5f170280fe26e287ddaff5f4ffa4.png
---
