---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sargon-iii.jsdos
layout: page.njk
ogDescription: Sargon III is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sargon III
  on mobile. On DOS.Zone Sargon III available to play for free without registration.
permalink: /sargon-iii-1984/
screenshots:
- https://cdn.dos.zone/original/2X/7/74154919e8b7a2e1a6eb5a1f9c1855f26ca8d0a5.png
- https://cdn.dos.zone/original/2X/c/c8aaee72781dadfad15aa2b1f33578242cbc81cb.png
shortTitle: Sargon III
title: Sargon III | 🕹️Play Sargon III Online | DOS game in browser

---
