---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sargon-4.jsdos
layout: page.njk
ogDescription: Sargon 4 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sargon 4 on
  mobile. On DOS.Zone Sargon 4 available to play for free without registration.
permalink: /sargon-4-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/bff7358ef0b19336321c3c793db91d808431b5b0.png
- https://cdn.dos.zone/original/2X/2/2b3984e5ba2b5f170280fe26e287ddaff5f4ffa4.png
shortTitle: Sargon 4
title: Sargon 4 | 🕹️Play Sargon 4 Online | DOS game in browser

---
