---
layout: page.njk
title: Scavengers of the Mutant World | 🕹️Play Scavengers of the Mutant World
  Online | Download js-dos bundle
ogDescription: Want to Play Scavengers of the Mutant World? 🕹 On Dos Zone you
  can play Scavengers of the Mutant World OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Scavengers of the Mutant World
permalink: /scavengers-of-the-mutant-world-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fscavengers-of-the-mutant-world.jsdos
description: Scavengers of the Mutant World is a role-playing game that focuses
  on the survivors of the Earth after an apparent apocalyptic event, where
  player-controlled characters must gather "vehicle" components (to make a car)
  so they can reach an unknown haven or place of refuge. The game includes
  character generation and modification of skills and attributes (plus the
  character's face). It features party management, simple top-down turn-based
  combat style and randomly made map every time the player launches the game.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b4490a07405df99713a96ef7e6b88a45652cd780.png
  - https://cdn.dos.zone/original/2X/c/c01d285c661ab7c712ee57fd40fd3ab216afe020.png
---
