---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/scenario-theatre-of-war.jsdos
layout: page.njk
ogDescription: 'Scenario: Theatre of War is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Scenario: Theatre of War on mobile. On DOS.Zone Scenario: Theatre of War available
  to play for free without registration.'
permalink: /scenario-theatre-of-war-1992/
screenshots:
- https://cdn.dos.zone/original/2X/b/b4b3521c487319da0cafe5d0d2811ef9086e379d.png
- https://cdn.dos.zone/original/2X/7/78862f8dfd0dfd5f0d31cd7220e8ca9c4bb4df72.png
shortTitle: 'Scenario: Theatre of War'
title: 'Scenario: Theatre of War | 🕹️Play Scenario: Theatre of War Online | DOS game
  in browser'

---
