---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/schieten_.jsdos
layout: page.njk
ogDescription: Schieten is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Schieten on
  mobile. On DOS.Zone Schieten available to play for free without registration.
permalink: /schieten-1991/
screenshots:
- https://cdn.dos.zone/original/2X/2/21017421194ed6d99605022c8cb6088b704e3e2e.png
- https://cdn.dos.zone/original/2X/8/8684aba5f8a4cc6360368532250bcc399f738a0a.png
shortTitle: Schieten
title: Schieten | 🕹️Play Schieten Online | DOS game in browser

---
