---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/schoolhouse.jsdos
layout: page.njk
ogDescription: Schoolhouse is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Schoolhouse
  on mobile. On DOS.Zone Schoolhouse available to play for free without registration.
permalink: /schoolhouse-1991/
screenshots:
- https://cdn.dos.zone/original/2X/9/9b51540464db1d00b2b7de16cde96f63d4ff911b.png
- https://cdn.dos.zone/original/2X/f/f6bddc3c4170419b435024fabbbad555e9624010.png
shortTitle: Schoolhouse
title: Schoolhouse | 🕹️Play Schoolhouse Online | DOS game in browser

---
