---
layout: page.njk
title: Schoolhouse | 🕹️Play Schoolhouse Online | Download js-dos bundle
ogDescription: Want to Play Schoolhouse? 🕹 On Dos Zone you can play Schoolhouse
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Schoolhouse
permalink: /schoolhouse-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fschoolhouse.jsdos
description: >-
  This educational title combines various themes from the school classes. It
  proposes to study the subject in a play manner. The themes presented in the
  game are:

  Beginner's Alphabet

  Alphabet Master

  Math Master

  Algebra Challenge

  Arithmetic Challenge

  Time Challenge

  Chemistry Challenge

  World History

  U. S. History

  U. S. Geography


  The game is intended for two players. One of computer opponents (Dr. Genius, Ava Ridge, or E.Z. 2Beat) becomes the second player in case of one human player, or two human players try to beat each other at hot seat. A time limit (short, medium, or long) can be used. Gameplay is flown in following way. Each player receives certain number of items related to the theme. Players take turns using their items to make lists in which earlier items come before later ones. Correct decision leads to removal of the item from own box, and new item is added otherwise. Player's goal is to be the first to get all the items out of own box.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b51540464db1d00b2b7de16cde96f63d4ff911b.png
  - https://cdn.dos.zone/original/2X/f/f6bddc3c4170419b435024fabbbad555e9624010.png
---
