---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/scubamans-quest.jsdos
layout: page.njk
ogDescription: Scubaman's Quest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Scubaman's
  Quest on mobile. On DOS.Zone Scubaman's Quest available to play for free without
  registration.
permalink: /scubamans-quest-1994/
screenshots:
- https://cdn.dos.zone/original/2X/d/d2317e433c5877e5ca53d0b97db009641b064619.jpeg
- https://cdn.dos.zone/original/2X/2/2fb79246406ee11eb9ff9c5bb8d8a13155ae10ca.jpeg
shortTitle: Scubaman's Quest
title: Scubaman's Quest | 🕹️Play Scubaman's Quest Online | DOS game in browser

---
