---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/scubaventure-the-search-for-pirates-treasure.jsdos
layout: page.njk
ogDescription: ScubaVenture The Search For Pirate's Treasure is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in ScubaVenture The Search For Pirate's Treasure on mobile. On
  DOS.Zone ScubaVenture The Search For Pirate's Treasure available to play for free
  without registration.
permalink: /scubaventure-the-search-for-pirates-treasure-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f13fd33c23d7e84bf38cbc491975ee0cb3281677.png
- https://cdn.dos.zone/original/2X/f/f7b5d6d3baa75985cb1bf1a190c7cb6a233ab6fc.gif
shortTitle: ScubaVenture The Search For Pirate's Treasure
title: ScubaVenture The Search For Pirate's Treasure | 🕹️Play ScubaVenture The Search
  For Pirate's Treasure Online | DOS game in browser

---
