---
layout: page.njk
title: Scubaman's Quest | 🕹️Play Scubaman's Quest Online | Download js-dos bundle
ogDescription: Want to Play Scubaman's Quest? 🕹 On Dos Zone you can play
  Scubaman's Quest OR donwload js-dos bundle for free. Start playing now!
shortTitle: Scubaman's Quest
permalink: /scubamans-quest-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fscubamans-quest.jsdos
description: "Scubaman's Quest is a single-player, shareware, side-scrolling
  game. The object is to guide Scuba man to collect treasure and other under sea
  goodies while avoiding being killed and/or eaten. It has ten levels: the
  Golden Gates, the Dark Cave, Jelly Fish, Shark Attack, Ship Wreck, Gate
  Keepers, Lost Treasure, Poseidonia, Escape and Voyage Home. The game can be
  played via the keyboard or the joystick. It has optional music and sound
  effects and supports the PC Speaker or Soundblaster and compatible cards."
screenshots:
  - https://cdn.dos.zone/original/2X/d/d2317e433c5877e5ca53d0b97db009641b064619.jpeg
  - https://cdn.dos.zone/original/2X/2/2fb79246406ee11eb9ff9c5bb8d8a13155ae10ca.jpeg
---
