---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sdi-strategic-defense-initiative_.jsdos
layout: page.njk
ogDescription: 'SDI: Strategic Defense Initiative is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in SDI: Strategic Defense Initiative on mobile. On DOS.Zone SDI: Strategic
  Defense Initiative available to play for free without registration.'
permalink: /sdi-strategic-defense-initiative-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/d54661c4492fde4499f22436ee0f6eac14baf38f.png
- https://cdn.dos.zone/original/2X/e/ef1640ac713c9ba305bf6a3444ab9d01a653a8c9.png
shortTitle: 'SDI: Strategic Defense Initiative'
title: 'SDI: Strategic Defense Initiative | 🕹️Play SDI: Strategic Defense Initiative
  Online | DOS game in browser'

---
