---
layout: page.njk
title: "SDI: Strategic Defense Initiative | 🕹️Play SDI: Strategic Defense
  Initiative Online | Download js-dos bundle"
ogDescription: "Want to Play SDI: Strategic Defense Initiative? 🕹 On Dos Zone
  you can play SDI: Strategic Defense Initiative OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "SDI: Strategic Defense Initiative"
permalink: /sdi-strategic-defense-initiative-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsdi-strategic-defense-initiative_.jsdos
description: Not to be confused with similarly-named games (like the Cinemaware
  title or the Sega/Activision one), SDI is a shooter in the vein of Missile
  Command.  The player controls a single American SDI satellite, and must
  protect the USA from a succession of Soviet attack waves, by zapping incoming
  missiles before the nuclear warheads connect with their targets. The action is
  viewed from orbit, as enemy missiles are launched from multiple locations
  (including a bomber, which may be destroyed); they target population centers,
  military installations, and the satellite itself.  After each wave, a score
  bonus is awarded for cities saved, and a penalty for cities destroyed.  The
  number of surviving missile bases affects the USA's ability to retaliate, and
  the player's performance will determine the post-war scenario.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d54661c4492fde4499f22436ee0f6eac14baf38f.png
  - https://cdn.dos.zone/original/2X/e/ef1640ac713c9ba305bf6a3444ab9d01a653a8c9.png
---
