---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sdi2040.jsdos
layout: page.njk
ogDescription: SDI2040 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in SDI2040 on
  mobile. On DOS.Zone SDI2040 available to play for free without registration.
permalink: /sdi2040-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f976b8499ab27e62881969930d105811670954d7.png
- https://cdn.dos.zone/original/2X/1/1d37c6ca6cad5f8528faeace6c0e92d205e89973.png
shortTitle: SDI2040
title: SDI2040 | 🕹️Play SDI2040 Online | DOS game in browser

---
