---
layout: page.njk
title: Sea Quest | 🕹️Play Sea Quest Online | Download js-dos bundle
ogDescription: Want to Play Sea Quest? 🕹 On Dos Zone you can play Sea Quest OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sea Quest
permalink: /sea-quest-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsea-quest.jsdos
description: "You control a fleet of six ships, each of which can be one of
  three types: Destroyer, Carrier, or Frigate. Your fleet is tasked with hunting
  down and destroying a pack of up to 30 submarines. This task is complicated by
  the fact that the submarines move around and occasionally shoot at you,
  although you can tweak their aggressiveness and movement (including turning
  off movement altogether). The game ends when either all your ships or all the
  subs are destroyed."
screenshots:
  - https://cdn.dos.zone/original/2X/9/97ed0917a73e5532598abbe852c1608b1658daa8.png
  - https://cdn.dos.zone/original/2X/e/e5ae4020c9c9b9702a879404f76fa7f121e95af3.png
---
