---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sea-school.jsdos
layout: page.njk
ogDescription: Sea School is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sea School
  on mobile. On DOS.Zone Sea School available to play for free without registration.
permalink: /sea-school-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/5a50e6201d454941671d9995d2fe72e69f000301.png
- https://cdn.dos.zone/original/2X/e/ea7a6114500adfcde92b4b0425e253bd6edab791.png
shortTitle: Sea School
title: Sea School | 🕹️Play Sea School Online | DOS game in browser

---
