---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sea-rogue.jsdos
layout: page.njk
ogDescription: Sea Rogue is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sea Rogue
  on mobile. On DOS.Zone Sea Rogue available to play for free without registration.
permalink: /sea-rogue-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/9716845decbe579d13ca018b5c1dd12d5058db53.gif
- https://cdn.dos.zone/original/2X/a/ac02914462f448d1cdebea9b5200859bd8c1c970.gif
shortTitle: Sea Rogue
title: Sea Rogue | 🕹️Play Sea Rogue Online | DOS game in browser

---
