---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sea-quest.jsdos
layout: page.njk
ogDescription: Sea Quest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sea Quest
  on mobile. On DOS.Zone Sea Quest available to play for free without registration.
permalink: /sea-quest-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/97ed0917a73e5532598abbe852c1608b1658daa8.png
- https://cdn.dos.zone/original/2X/e/e5ae4020c9c9b9702a879404f76fa7f121e95af3.png
shortTitle: Sea Quest
title: Sea Quest | 🕹️Play Sea Quest Online | DOS game in browser

---
