---
layout: page.njk
title: Sea Rogue | 🕹️Play Sea Rogue Online | Download js-dos bundle
ogDescription: Want to Play Sea Rogue? 🕹 On Dos Zone you can play Sea Rogue OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sea Rogue
permalink: /sea-rogue-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsea-rogue.jsdos
description: "In Sea Rogue you assume command of a five person treasure hunting
  team that searches possible underwater sites for sunken treasure and
  artifacts. Sea Rogue allows the player to train the crew for different roles,
  for example divers that search the wreck while trying to stay out of the way
  of sharks, scientists that conduct research and examine historical artifacts
  and engineers that take care of the mechanical operation of your ship or
  submarine. Real-life shipwrecks are present in the game, including the
  Titanic. Of course, you have a rival for most of the game who is known as
  'Evil Eddy' - the richest man in the world - and the goal of the game is to
  beat Eddy by becoming rich enough to purchase the ultimate submarine: the Sea
  Rogue."
screenshots:
  - https://cdn.dos.zone/original/2X/9/9716845decbe579d13ca018b5c1dd12d5058db53.gif
  - https://cdn.dos.zone/original/2X/a/ac02914462f448d1cdebea9b5200859bd8c1c970.gif
---
