---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/search-and-destroy.jsdos
layout: page.njk
ogDescription: Search and Destroy is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Search and Destroy on mobile. On DOS.Zone Search and Destroy available to play for
  free without registration.
permalink: /search-and-destroy-jan-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/8277fac0c3d74f9efdee7a581dd36274d8fd201a.png
- https://cdn.dos.zone/original/2X/6/6bf9e4ccdaf4efc3327ea898afb0478ec2336ac2.png
shortTitle: Search and Destroy
title: Search and Destroy | 🕹️Play Search and Destroy Online | DOS game in browser

---
