---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/seastalker.jsdos
layout: page.njk
ogDescription: Seastalker is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Seastalker
  on mobile. On DOS.Zone Seastalker available to play for free without registration.
permalink: /seastalker-jun-1984/
screenshots:
- https://cdn.dos.zone/original/2X/3/396dbc456dbd238983223c6992bbf1b8b28ec652.gif
shortTitle: Seastalker
title: Seastalker | 🕹️Play Seastalker Online | DOS game in browser

---
