---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/second-front-germany-turns-east.jsdos
layout: page.njk
ogDescription: 'Second Front: Germany Turns East is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Second Front: Germany Turns East on mobile. On DOS.Zone Second Front:
  Germany Turns East available to play for free without registration.'
permalink: /second-front-germany-turns-east-1990/
screenshots:
- https://cdn.dos.zone/original/2X/b/bdae6fbffc56b1fa046443ae07e214f931338bef.gif
- https://cdn.dos.zone/original/2X/6/63b361160652e666bc577e4a3ff9d6a1a795e2ef.gif
shortTitle: 'Second Front: Germany Turns East'
title: 'Second Front: Germany Turns East | 🕹️Play Second Front: Germany Turns East
  Online | DOS game in browser'

---
