---
layout: page.njk
title: "Second Front: Germany Turns East | 🕹️Play Second Front: Germany Turns
  East Online | Download js-dos bundle"
ogDescription: "Want to Play Second Front: Germany Turns East? 🕹 On Dos Zone
  you can play Second Front: Germany Turns East OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Second Front: Germany Turns East"
permalink: /second-front-germany-turns-east-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsecond-front-germany-turns-east.jsdos
description: 'For the advanced wargamer, "Second Front: Germany turns East" is a
  division-level strategic game on a grand scale. The map extends from Berlin in
  the West to Stalingrad in the East, and covers the entire Russian Front.
  Players command over 150 German divisions and over 200 Soviet divisions, with
  asset information available to the individual tank, plane and infantry squad
  level.'
screenshots:
  - https://cdn.dos.zone/original/2X/b/bdae6fbffc56b1fa046443ae07e214f931338bef.gif
  - https://cdn.dos.zone/original/2X/6/63b361160652e666bc577e4a3ff9d6a1a795e2ef.gif
---
