---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/secret-agent.jsdos
layout: page.njk
ogDescription: Secret Agent is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Secret Agent
  on mobile. On DOS.Zone Secret Agent available to play for free without registration.
permalink: /secret-agent-feb-01-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6e8508c355653c3f5e2d9b8b655aa37af47f8669.gif
- https://cdn.dos.zone/original/2X/6/6c26b4231f8d3ab73938832a5b25970b6edd385.gif
shortTitle: Secret Agent
title: Secret Agent | 🕹️Play Secret Agent Online | DOS game in browser

---
