---
layout: page.njk
title: "Secret Agent: The Escape | 🕹️Play Secret Agent: The Escape Online |
  Download js-dos bundle"
ogDescription: "Want to Play Secret Agent: The Escape? 🕹 On Dos Zone you can
  play Secret Agent: The Escape OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "Secret Agent: The Escape"
permalink: /secret-agent-the-escape-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsecret-agent-the-escape.jsdos
description: "Secret Agent : The Escape is a shareware Doom clone. The player
  takes the role of the secret agent who must shoot his / her way out of a
  prison complex. Initially the player starts with no weapons and has only their
  ninja kick to defeat the prison guards. As they progress through the maze they
  are able to pick up objects such as messages and weapons such as the Goo Gun."
screenshots:
  - https://cdn.dos.zone/original/2X/3/3f9bc7dfc7ee8a9b32d1e25b10d488a4bbaee7e0.png
  - https://cdn.dos.zone/original/2X/6/6b538fa61d49c8712d9fa9714e30851cae201770.png
---
