---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/secret-agent-the-escape.jsdos
layout: page.njk
ogDescription: 'Secret Agent: The Escape is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Secret Agent: The Escape on mobile. On DOS.Zone Secret Agent: The Escape available
  to play for free without registration.'
permalink: /secret-agent-the-escape-1996/
screenshots:
- https://cdn.dos.zone/original/2X/3/3f9bc7dfc7ee8a9b32d1e25b10d488a4bbaee7e0.png
- https://cdn.dos.zone/original/2X/6/6b538fa61d49c8712d9fa9714e30851cae201770.png
shortTitle: 'Secret Agent: The Escape'
title: 'Secret Agent: The Escape | 🕹️Play Secret Agent: The Escape Online | DOS game
  in browser'

---
