---
layout: page.njk
title: Self Control | 🕹️Play Self Control Online | Download js-dos bundle
ogDescription: Want to Play Self Control? 🕹 On Dos Zone you can play Self
  Control OR donwload js-dos bundle for free. Start playing now!
shortTitle: Self Control
permalink: /self-control-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fself-control.jsdos
description: Self Control is a puzzle game similar to Boulder Dash and
  Heartlight. The aim is to collect all the hearts and floppies before time runs
  out. In completing the task various elements in the environment are
  introduced, such as electricity, amber, bombs, stars, grass, and others.
  Assisting in completing the task are jaws that allow to chew through the wall,
  and a hourglass, which adds time. The game offers a total of 30 levels.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5fd371fcdadeebdb5f403872ec2d8cc4fb96a736.png
  - https://cdn.dos.zone/original/2X/7/721cafbe04486eea0d1f6f846251e55f48943229.png
---
