---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/self-control.jsdos
layout: page.njk
ogDescription: Self Control is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Self Control
  on mobile. On DOS.Zone Self Control available to play for free without registration.
permalink: /self-control-1994/
screenshots:
- https://cdn.dos.zone/original/2X/5/5fd371fcdadeebdb5f403872ec2d8cc4fb96a736.png
- https://cdn.dos.zone/original/2X/7/721cafbe04486eea0d1f6f846251e55f48943229.png
shortTitle: Self Control
title: Self Control | 🕹️Play Self Control Online | DOS game in browser

---
