---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/set-the-hostages-free.jsdos
layout: page.njk
ogDescription: Set the Hostages Free is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Set the Hostages Free on mobile. On DOS.Zone Set the Hostages Free available
  to play for free without registration.
permalink: /set-the-hostages-free-1981/
screenshots:
- https://cdn.dos.zone/original/2X/e/e05a4921fd870edacf07548b1120f28f07b75dae.png
- https://cdn.dos.zone/original/2X/d/d3514a8ab739ada35af24c18abab600edecb7f4c.png
shortTitle: Set the Hostages Free
title: Set the Hostages Free | 🕹️Play Set the Hostages Free Online | DOS game in browser

---
