---
layout: page.njk
title: Set the Hostages Free | 🕹️Play Set the Hostages Free Online | Download
  js-dos bundle
ogDescription: Want to Play Set the Hostages Free? 🕹 On Dos Zone you can play
  Set the Hostages Free OR donwload js-dos bundle for free. Start playing now!
shortTitle: Set the Hostages Free
permalink: /set-the-hostages-free-1981/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fset-the-hostages-free.jsdos
description: Set the Hostages Free is a text based action game. The goal of the
  hero is to rescue the hostages. To do so the player must shoot to the bandits
  moving around the square area within just 15 shots. The game offers 3
  difficulty levels.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e05a4921fd870edacf07548b1120f28f07b75dae.png
  - https://cdn.dos.zone/original/2X/d/d3514a8ab739ada35af24c18abab600edecb7f4c.png
---
