---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/seven-cities-of-gold-commemorative-edition.jsdos
layout: page.njk
ogDescription: 'Seven Cities of Gold: Commemorative Edition is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Seven Cities of Gold: Commemorative Edition on mobile. On DOS.Zone
  Seven Cities of Gold: Commemorative Edition available to play for free without registration.'
permalink: /seven-cities-of-gold-commemorative-edition-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/f145ab7e9ff430fe8d3066ff13037da00f2233cb.png
- https://cdn.dos.zone/original/2X/f/f09df2643bfd9dde36c151d176c9a03472c0e804.png
shortTitle: 'Seven Cities of Gold: Commemorative Edition'
title: 'Seven Cities of Gold: Commemorative Edition | 🕹️Play Seven Cities of Gold:
  Commemorative Edition Online | DOS game in browser'

---
