---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/6/6cbb853f5efb658f0381104c398f90005459ed86.jsdos
layout: page.njk
ogDescription: SeXoniX is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in SeXoniX on
  mobile. On DOS.Zone SeXoniX available to play for free without registration.
permalink: /sexonix-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/ca208646f6a6f6b51242f5f2ed96858b46ed5df7.png
- https://cdn.dos.zone/original/2X/c/c073a425ee065c8c1d8a4cca428d71a21427b6db.png
shortTitle: SeXoniX
title: SeXoniX | 🕹️Play SeXoniX Online | DOS game in browser

---
