---
layout: page.njk
title: SeXoniX | 🕹️Play SeXoniX Online | Download js-dos bundle
ogDescription: Want to Play SeXoniX? 🕹 On Dos Zone you can play SeXoniX OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: SeXoniX
permalink: /sexonix-1994/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F6%2F6cbb853f5efb658f0381104c398f90005459ed86.jsdos
description: XoniX games are generally a spin off from Taito's Qix , in which
  the player traces outlines on a flat playfield, avoiding being touched by
  enemies while vulnerable tracing, and tries to close off complete rectangular
  portions of the screen.  Early versions would "fill in" completely-traced
  areas with geometric patterns, but sooner or later some cloner would hit on
  the notion that there are some background images players would find even more
  pleasant -- here, as you might have guessed by the game's name, what the
  player gradually reveals are images of attractive women in compromising
  positions.
screenshots:
  - https://cdn.dos.zone/original/2X/c/ca208646f6a6f6b51242f5f2ed96858b46ed5df7.png
  - https://cdn.dos.zone/original/2X/c/c073a425ee065c8c1d8a4cca428d71a21427b6db.png
---
