---
layout: page.njk
title: Sexy Droids | 🕹️Play Sexy Droids Online | Download js-dos bundle
ogDescription: Want to Play Sexy Droids? 🕹 On Dos Zone you can play Sexy Droids
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Sexy Droids
permalink: /sexy-droids-1992/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsexy-droids.jsdos
description: Sexy Droids continues the idea started in Blue Angel 69, which
  combines the principle of Maxit with pictures of sexy female androids. Now,
  there are 15 levels with new pictures. The player takes the role of person who
  plays a boardgame with an android. If the player wins, an exposed picture of
  the opponent is displayed. The gameplay of each level takes place on a 8x8
  board. Each tile on the board contains a positive or negative point value
  ranging from 1 to 11. The object of the game is to earn as many points as
  possible by moving a marker to a non-empty space taking turns. The first
  player is only able to move the marker horizontally, and the second player can
  only move the marker vertically. The game ends when no more moves are
  possible, and the player with the most points wins.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4672fa3b3ba9d1534fb1e0dfba749a100ba8d53b.png
  - https://cdn.dos.zone/original/2X/7/7ca6ed5c48844c3f41416403afba3c9e386dda66.png
---
