---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/sexy-droids.jsdos
layout: page.njk
ogDescription: Sexy Droids is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sexy Droids
  on mobile. On DOS.Zone Sexy Droids available to play for free without registration.
permalink: /sexy-droids-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/4672fa3b3ba9d1534fb1e0dfba749a100ba8d53b.png
- https://cdn.dos.zone/original/2X/7/7ca6ed5c48844c3f41416403afba3c9e386dda66.png
shortTitle: Sexy Droids
title: Sexy Droids | 🕹️Play Sexy Droids Online | DOS game in browser

---
