---
layout: page.njk
title: Shadow Ape | 🕹️Play Shadow Ape Online | Download js-dos bundle
ogDescription: Want to Play Shadow Ape? 🕹 On Dos Zone you can play Shadow Ape
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Shadow Ape
permalink: /shadow-ape-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fshadow-ape.jsdos
description: Shadow Ape is a point-and-click adventure game. You play as a five
  year old boy who enters a mysterious house to find the mythical shadow ape
  that no one thinks really exists. You have three commands at your disposal -
  do, take and use - which you can use in combination with items you find in the
  house. The screen is divided into different sections. There's a visual part
  where the environment is shown, buttons for directions and items, the command
  buttons, and a large part where the description of the environment or feedback
  on actions is written in text.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4f0d9d25e807ae8074a113fe4619b79ae9dd53d8.png
  - https://cdn.dos.zone/original/2X/7/7a8c0ec2a7fa31093c22826a6d77ce30ba067751.png
---
