---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/shape-shifter__.jsdos
layout: page.njk
ogDescription: Shape Shifter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Shape Shifter
  on mobile. On DOS.Zone Shape Shifter available to play for free without registration.
permalink: /shape-shifter-jun-14-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/3f1f352ccbd73d704f3923014808a25fb3053aac.png
- https://cdn.dos.zone/original/2X/7/72c2aa9239e03366420ea717ffbe0480d7f8f7fc.png
shortTitle: Shape Shifter
title: Shape Shifter | 🕹️Play Shape Shifter Online | DOS game in browser

---
