---
layout: page.njk
title: Shariki | 🕹️Play Shariki Online | Download js-dos bundle
ogDescription: Want to Play Shariki? 🕹 On Dos Zone you can play Shariki OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Shariki
permalink: /shariki-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fshariki.jsdos
description: Shariki (Russian for the balls) is one of the earliest titles based
  around the type of match-three game that was later popularized through
  Bejeweled and Candy Crush Saga. The game shows a board that consists of eight
  rows and eight columns filled with circles of different colours. The player
  has to create matches by swapping a circle horizontally or vertically. When
  this creates three circles of the same colour in a straight line horizontally
  or vertically, the circles disappear from the board and new one fill the gaps
  from the top. The game is over when no more moves are possible. The game keeps
  track of the player's score.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f7c61b011d1619e5089745d8ada53be81501a38.png
  - https://cdn.dos.zone/original/2X/d/d1a4cc4cccb03199ad7d877359e01ba4c505bbee.png
---
