---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sherman-m4.jsdos
layout: page.njk
ogDescription: Sherman M4 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sherman M4
  on mobile. On DOS.Zone Sherman M4 available to play for free without registration.
permalink: /sherman-m4-nov-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/7e7cdeb7f59bb97c7926247b94d25adcfa79f34b.png
- https://cdn.dos.zone/original/2X/4/416efec5c52b89f1b2bc5ce1c9a4ad28698abc3b.png
shortTitle: Sherman M4
title: Sherman M4 | 🕹️Play Sherman M4 Online | DOS game in browser

---
