---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/shogi-master.jsdos
layout: page.njk
ogDescription: Shogi Master is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Shogi Master
  on mobile. On DOS.Zone Shogi Master available to play for free without registration.
permalink: /shogi-master-1991/
screenshots:
- https://cdn.dos.zone/original/2X/b/bd9d92e263000eb51e0d6b86a6c4666472b6d8c1.jpeg
- https://cdn.dos.zone/original/2X/c/c1f9f233093bab69b3d2866b27ce068900ee8cb0.jpeg
shortTitle: Shogi Master
title: Shogi Master | 🕹️Play Shogi Master Online | DOS game in browser

---
