---
layout: page.njk
title: Shooting Gallery | 🕹️Play Shooting Gallery Online | Download js-dos bundle
ogDescription: Want to Play Shooting Gallery? 🕹 On Dos Zone you can play
  Shooting Gallery OR donwload js-dos bundle for free. Start playing now!
shortTitle: Shooting Gallery
permalink: /shooting-gallery-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fshooting-gallery.jsdos
description: Shooting Gallery is a cute little arcade game released as
  shareware. It's a combination of 7 little shooting games which are all
  controlled by the mouse and depend on your quick mouse reactions. You'll gain
  points and the goal is to get as high as possible in the highscore list. Of
  the 7 little games, 1 and 4, 2 and 5 and 3 and 6 are some sort of 'sequels' to
  each other. It are quite the same games, only a little bit more difficult. The
  seventh game is maybe the most fun of all, you have to shoot cowboys which are
  invading a family's house, and you should try not to shoot the family members.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b5f0e2e9867ef93920b959582f647aa7907182e.gif
  - https://cdn.dos.zone/original/2X/f/f1ef253602f1de859f18fcfe2c19c569d2e50780.gif
---
