---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/shultzs-treasure.jsdos
layout: page.njk
ogDescription: Shultz's Treasure is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Shultz's Treasure on mobile. On DOS.Zone Shultz's Treasure available to play for
  free without registration.
permalink: /shultzs-treasure-1983/
screenshots:
- https://cdn.dos.zone/original/2X/a/ae2b766cf9e1d992878ee32343533b524be74c0e.png
- https://cdn.dos.zone/original/2X/1/13f3c04690f6ca54f7a1197baeadb72a9e52a6d1.png
shortTitle: Shultz's Treasure
title: Shultz's Treasure | 🕹️Play Shultz's Treasure Online | DOS game in browser

---
