---
layout: page.njk
title: Shultz's Treasure | 🕹️Play Shultz's Treasure Online | Download js-dos bundle
ogDescription: Want to Play Shultz's Treasure? 🕹 On Dos Zone you can play
  Shultz's Treasure OR donwload js-dos bundle for free. Start playing now!
shortTitle: Shultz's Treasure
permalink: /shultzs-treasure-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fshultzs-treasure.jsdos
description: "Loosely inspired by the story of Prohibition-era mobster Dutch
  Schultz and his buried millions, this game sends you down into the Lost
  Dutchman's Gold Mine to locate and blast out a lost treasure, stashed away in
  a randomly-generated maze.  Unfortunately for you, the mine is infested with
  rats and spiders (which drain your health), as well as bats (which steal your
  items... and when you're out of things to steal, drain your health). As you
  roam the tunnels from a first-person perspective, items in your inventory will
  prove essential, ranging from dynamite and a 'mazer' gun to navigational aids
  like a map, a compass, night-vision goggles and a gold detector.  The chosen
  difficulty level determines how well-equipped you are: you may start with all
  of the above, or hunt for them yourself throughout the corridors."
screenshots:
  - https://cdn.dos.zone/original/2X/a/ae2b766cf9e1d992878ee32343533b524be74c0e.png
  - https://cdn.dos.zone/original/2X/1/13f3c04690f6ca54f7a1197baeadb72a9e52a6d1.png
---
