---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/silent-service.jsdos
layout: page.njk
ogDescription: Silent Service is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Silent Service
  on mobile. On DOS.Zone Silent Service available to play for free without registration.
permalink: /silent-service-1985/
screenshots:
- https://cdn.dos.zone/original/2X/3/3f0a1e9efbaf99cc0b5b131522d89c6e507b0b25.gif
- https://cdn.dos.zone/original/2X/5/5821b7c8e180e3d5b261859892329db8ec8707e5.gif
shortTitle: Silent Service
title: Silent Service | 🕹️Play Silent Service Online | DOS game in browser

---
