---
layout: page.njk
title: Silly Knight | 🕹️Play Silly Knight Online | Download js-dos bundle
ogDescription: Want to Play Silly Knight? 🕹 On Dos Zone you can play Silly
  Knight OR donwload js-dos bundle for free. Start playing now!
shortTitle: Silly Knight
permalink: /silly-knight-oct-01-2017/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsilly-knight.jsdos
description: "This medievally-themed platformer offers precious little in terms
  of a plot, but the premise is straightforward enough: a well-meaning (but
  apparently silly) knight finds himself lost in the bowels of a labyrinthine
  castle.  From there he must find his way to the throne room, where he seeks to
  park his gallant posterior.  Equipped only with a sword, the armored
  adventurer will encounter plenty of opposition along the way: bats, skeletons
  and evil red knights can be dispatched with a good beating; hurtling fireballs
  and other nasty traps have to be negotiated with careful acrobatics. These
  hazards will all sap the player's health.  There are no lives - progress can
  be saved by lighting fires at specific locations, which serve as respawn
  points in case of premature expiration.  Along the way, the chivalrous
  protagonist can pick up helpful items ranging from keys and health bonuses to
  specialized power-ups. Silly Knight borrows code from Paku Paku which enables
  low-resolution graphics in 16 colors, even on a plain old CGA card."
screenshots:
  - https://cdn.dos.zone/original/2X/8/882edffa38a1dcbec021a2ff522fc0c52fa41c44.png
  - https://cdn.dos.zone/original/2X/7/79f556a63fbc105cf3c04493e1d67e47c35f6e8.png
---
