---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/silly-knight.jsdos
layout: page.njk
ogDescription: Silly Knight is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Silly Knight
  on mobile. On DOS.Zone Silly Knight available to play for free without registration.
permalink: /silly-knight-oct-01-2017/
screenshots:
- https://cdn.dos.zone/original/2X/8/882edffa38a1dcbec021a2ff522fc0c52fa41c44.png
- https://cdn.dos.zone/original/2X/7/79f556a63fbc105cf3c04493e1d67e47c35f6e8.png
shortTitle: Silly Knight
title: Silly Knight | 🕹️Play Silly Knight Online | DOS game in browser

---
