---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/silmar.jsdos
layout: page.njk
ogDescription: Silmar is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Silmar on mobile.
  On DOS.Zone Silmar available to play for free without registration.
permalink: /silmar-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a67349716e6eb3ab6a5eaa13ab71a38e84944518.png
- https://cdn.dos.zone/original/2X/a/a3e061d191658c9099479807448d5ccd9f3843b1.png
shortTitle: Silmar
title: Silmar | 🕹️Play Silmar Online | DOS game in browser

---
