---
layout: page.njk
title: Silverball 2 Plus | 🕹️Play Silverball 2 Plus Online | Download js-dos bundle
ogDescription: Want to Play Silverball 2 Plus? 🕹 On Dos Zone you can play
  Silverball 2 Plus OR donwload js-dos bundle for free. Start playing now!
shortTitle: Silverball 2 Plus
permalink: /silverball-2-plus-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsilverball-2-plus.jsdos
description: "Silverball 2 Plus is a re-release of the original Silverball game,
  enhanced with two extra tables: Duel and Warbot. Basically it is a commercial
  version of Epic Pinball, using a slightly modified game engine with different
  art and music. The player may select one of six available tables, each with
  its own high score card."
screenshots:
  - https://cdn.dos.zone/original/2X/9/95b50cd8510b0df4bc13d5e7f8314eb1b8c7b659.png
  - https://cdn.dos.zone/original/2X/f/f8d66feae9617645a22e5b2c37c7882a0e0251f9.png
---
