---
layout: page.njk
title: Silverball | 🕹️Play Silverball Online | Download js-dos bundle
ogDescription: Want to Play Silverball? 🕹 On Dos Zone you can play Silverball
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Silverball
permalink: /silverball-dec-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsilverball.jsdos
description: "Silverball is basically a commercially published version of the
  game Epic Pinball.  The game engine is nearly the same, only the tables
  themselves are different.  It comes with four tables: Fantasy, Blood, Snooker
  Champ, and Odyssey.  Some distributions ( Silverball Plus 2) include two extra
  tables, Warbot and Duel, which are more or less the same as the Excalibur and
  Magic tables from Epic Pinball with some different art and music.  Finally, a
  seventh table, Nova, may or may not be a part of the game - see Trivia for
  details."
screenshots:
  - https://cdn.dos.zone/original/2X/5/5a02fb48697f259b86d6f65bc18f0b9d16674021.gif
  - https://cdn.dos.zone/original/2X/d/d5ae3b7948ba2ffcc1d4652d5bfe83be0f7ec455.gif
---
