---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/silverball.jsdos
layout: page.njk
ogDescription: Silverball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Silverball
  on mobile. On DOS.Zone Silverball available to play for free without registration.
permalink: /silverball-dec-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/5a02fb48697f259b86d6f65bc18f0b9d16674021.gif
- https://cdn.dos.zone/original/2X/d/d5ae3b7948ba2ffcc1d4652d5bfe83be0f7ec455.gif
shortTitle: Silverball
title: Silverball | 🕹️Play Silverball Online | DOS game in browser

---
