---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/7/744842062905f72648a4d492ccc2526d039b3702.jsdos
layout: page.njk
ogDescription: Sim City is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sim City on
  mobile. On DOS.Zone Sim City available to play for free without registration.
permalink: /sim-city-1989/
screenshots:
- https://cdn.dos.zone/original/2X/6/692603ba9ff06c30e6d1c4bf736b3edbdfa1be77.jpeg
shortTitle: Sim City
title: Sim City | 🕹️Play Sim City Online | DOS game in browser

---
