---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/b/b1ed3b93829bdff0c9062c5642767825dd52baf1.jsdos
layout: page.njk
ogDescription: Sim City 2000 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sim City 2000
  on mobile. On DOS.Zone Sim City 2000 available to play for free without registration.
permalink: /sim-city-2000-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/41f12cbd023b7732e669b6ade8e811bb5e7c28b1.jpeg
shortTitle: Sim City 2000
title: Sim City 2000 | 🕹️Play Sim City 2000 Online | DOS game in browser

---
