---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sint-nicolaas.jsdos
layout: page.njk
ogDescription: Sint Nicolaas is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sint Nicolaas
  on mobile. On DOS.Zone Sint Nicolaas available to play for free without registration.
permalink: /sint-nicolaas-1998/
screenshots:
- https://cdn.dos.zone/original/2X/d/d2cbca1a46054b9d59bf1f8f2b19fb2d1bce8d9c.png
- https://cdn.dos.zone/original/2X/4/44912495955ddaa372aba9a65ce5b1670971b955.png
shortTitle: Sint Nicolaas
title: Sint Nicolaas | 🕹️Play Sint Nicolaas Online | DOS game in browser

---
