---
layout: page.njk
title: SITris | 🕹️Play SITris Online | Download js-dos bundle
ogDescription: Want to Play SITris? 🕹 On Dos Zone you can play SITris OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: SITris
permalink: /sitris-may-14-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsitris.jsdos
description: >-
  SITris is a single-player, shareware, falling block game. This game is
  essentially a Tetris clone with virtually identical gameplay and some
  additional features. In this game the player can;

  redefine the action keys;

  choose whether the next piece is displayed;

  choose between regular, small, large, wide or skinny blocks;

  start at any of the ten levels of difficulty;

  select from five different heights at which the blocks are released;

  use three different block sets or a use a combination of all of them;

  enable the SITris amoeba, an invisible creature that eats random blocks creating holes;

  enable a block creation function that causes blocks to spontaneously appear. The game has a single high score table that serves all modes of play and is entirely keyboard controlled.
screenshots:
  - https://cdn.dos.zone/original/2X/a/aa3aff6f327ee80466f4ef9e18bff32ec9c77799.png
  - https://cdn.dos.zone/original/2X/6/603464ab9241ba9781052c55b2f55a5a2c6589f4.png
---
