---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skate-boarding.jsdos
layout: page.njk
ogDescription: Skate Boarding is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Skate Boarding
  on mobile. On DOS.Zone Skate Boarding available to play for free without registration.
permalink: /skate-boarding-1998/
screenshots:
- https://cdn.dos.zone/original/2X/1/1c417f4000dfddca0b27ed9a68e97f5e82625b51.png
- https://cdn.dos.zone/original/2X/8/88782413fa3cba1a8dcf7dd0b52453665957c22c.png
shortTitle: Skate Boarding
title: Skate Boarding | 🕹️Play Skate Boarding Online | DOS game in browser

---
