---
layout: page.njk
title: Skate Boarding | 🕹️Play Skate Boarding Online | Download js-dos bundle
ogDescription: Want to Play Skate Boarding? 🕹 On Dos Zone you can play Skate
  Boarding OR donwload js-dos bundle for free. Start playing now!
shortTitle: Skate Boarding
permalink: /skate-boarding-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fskate-boarding.jsdos
description: >-
  Skate Boarding is a simple platform-style skateboarding game, similar to the
  newer OlliOlli, played only with the arrow keys. Ollie over obstacles and do
  impressive skateboard tricks in the air to score points.

  Crashing into an obstacle or failing to land a trick will send you back to the start of the screen and cost you five points as well as any points you have racked up in the current screen.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1c417f4000dfddca0b27ed9a68e97f5e82625b51.png
  - https://cdn.dos.zone/original/2X/8/88782413fa3cba1a8dcf7dd0b52453665957c22c.png
---
