---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skate-or-die.jsdos
layout: page.njk
ogDescription: Skate or Die is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Skate or Die
  on mobile. On DOS.Zone Skate or Die available to play for free without registration.
permalink: /skate-or-die-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/4/4f65b1330ee5b360e791957915c2986a669e171a.gif
- https://cdn.dos.zone/original/2X/9/909daf9c91accd55edb4deac1d59b62df29631c9.png
shortTitle: Skate or Die
title: Skate or Die | 🕹️Play Skate or Die Online | DOS game in browser

---
