---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skaut-kwatermaster.jsdos
layout: page.njk
ogDescription: Skaut Kwatermaster is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Skaut Kwatermaster on mobile. On DOS.Zone Skaut Kwatermaster available to play for
  free without registration.
permalink: /skaut-kwatermaster-jul-31-1995/
screenshots:
- https://cdn.dos.zone/original/2X/6/62771658b3e0afa288e00c59e8492b3838a425e.png
- https://cdn.dos.zone/original/2X/6/69010b0e1f516386505a015818b81e0b19b63c5e.png
shortTitle: Skaut Kwatermaster
title: Skaut Kwatermaster | 🕹️Play Skaut Kwatermaster Online | DOS game in browser

---
