---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ski-jump-international.jsdos
layout: page.njk
ogDescription: Ski Jump International is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Ski Jump International on mobile. On DOS.Zone Ski Jump International available
  to play for free without registration.
permalink: /ski-jump-international-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/3c1b21a592de5dae28700c61e85de2219347c9fd.png
- https://cdn.dos.zone/original/2X/4/4214842335cf385cfbba9fd7cc7294ed59a3e11b.png
shortTitle: Ski Jump International
title: Ski Jump International | 🕹️Play Ski Jump International Online | DOS game in
  browser

---
