---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skidoo.jsdos
layout: page.njk
ogDescription: Skidoo is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Skidoo on mobile.
  On DOS.Zone Skidoo available to play for free without registration.
permalink: /skidoo-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/fd54f8eb7e462c2a79056dd9d3951bb677599cf1.png
- https://cdn.dos.zone/original/2X/9/9e3eaff520476229fe8d8e051e339ef979930343.png
shortTitle: Skidoo
title: Skidoo | 🕹️Play Skidoo Online | DOS game in browser

---
