---
layout: page.njk
title: Skidoo | 🕹️Play Skidoo Online | Download js-dos bundle
ogDescription: Want to Play Skidoo? 🕹 On Dos Zone you can play Skidoo OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Skidoo
permalink: /skidoo-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fskidoo.jsdos
description: The game represents Ski-Doo, a 6-month length trek set in the snowy
  woods of North Eastern Canada. Riding  snow scooters, participants try to
  survive in this white desert, hunting for the wild animals and finding warm
  places following the routes to the cities. Visiting 25 cities along the way,
  10 contestants take part in a wild race on ice-circuit to win money. You are
  one  such participant, and you should survive and come to the finish of the
  overall trek in the first place. This single-player game is shown in a
  3rd-person view, while you are controlling your driver, riding a snow scooter,
  to accelerate/decelerate and turn left/right. As time goes, night will fall
  after the day and so on. At the same time  food and heat levels will decrease,
  so you should always  need to raise them up. The view will be switched to 1-st
  person, while you are hunting for animals to increase food level.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fd54f8eb7e462c2a79056dd9d3951bb677599cf1.png
  - https://cdn.dos.zone/original/2X/9/9e3eaff520476229fe8d8e051e339ef979930343.png
---
