---
layout: page.njk
title: Skunny Kart | 🕹️Play Skunny Kart Online | Download js-dos bundle
ogDescription: Want to Play Skunny Kart? 🕹 On Dos Zone you can play Skunny Kart
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Skunny Kart
permalink: /skunny-kart-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fskunny-kart.jsdos
description: Mario Kart clone. Race around a quasi-3D track as one of the
  characters from the series of Skunny games. Many tracks to choose from that
  take place all over the world. Also includes a battle mode in which you may
  fight off the computer or a friend.
screenshots:
  - https://cdn.dos.zone/original/2X/5/53c68644cb1230ef78159f7f07e4f1911cd6c15e.gif
  - https://cdn.dos.zone/original/2X/3/3e22e7bd0fbb3e02ccafd7454e03fac5bc01ed69.png
---
