---
layout: page.njk
title: Skunny's Desert Raid | 🕹️Play Skunny's Desert Raid Online | Download
  js-dos bundle
ogDescription: Want to Play Skunny's Desert Raid? 🕹 On Dos Zone you can play
  Skunny's Desert Raid OR donwload js-dos bundle for free. Start playing now!
shortTitle: Skunny's Desert Raid
permalink: /skunnys-desert-raid-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fskunnys-desert-raid.jsdos
description: You are a brave squirrel named Skunny. Your mission is to stop the
  evil, demented Sadman Insane from achieving his goals. Basically you'd fly
  Skunny about in his bi-plane shooting down Sadman's helicopters and missile
  silos.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ee781f2282d22cfaea3fe3d9095310c756fee2d.png
  - https://cdn.dos.zone/original/2X/f/f5fa7af49123d7f731efe067c44a9ec52ea55fd0.png
---
