---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skunnys-desert-raid.jsdos
layout: page.njk
ogDescription: Skunny's Desert Raid is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Skunny's Desert Raid on mobile. On DOS.Zone Skunny's Desert Raid available to
  play for free without registration.
permalink: /skunnys-desert-raid-1993/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ee781f2282d22cfaea3fe3d9095310c756fee2d.png
- https://cdn.dos.zone/original/2X/f/f5fa7af49123d7f731efe067c44a9ec52ea55fd0.png
shortTitle: Skunny's Desert Raid
title: Skunny's Desert Raid | 🕹️Play Skunny's Desert Raid Online | DOS game in browser

---
