---
layout: page.njk
title: Sky Cat | 🕹️Play Sky Cat Online | Download js-dos bundle
ogDescription: Want to Play Sky Cat? 🕹 On Dos Zone you can play Sky Cat OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sky Cat
permalink: /sky-cat-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsky-cat.jsdos
description: Sky Cat is an action game with puzzle elements, where the player
  controls the space probe "Sky Cat" on the mission to find and rescue hostages
  on the alien enemy base. The probe breaks through the base, shooting the
  enemies with a laser in the way inspired by Thexder and solving the puzzles to
  overcome different obstacles toggling the electromagnet within its hull.
  Enemies are also shooting at the probe, trying to decrease its energy. The
  game is ended either with a successful mission accomplishment or with probe
  destruction.
screenshots:
  - https://cdn.dos.zone/original/2X/5/570dd236b74ba35b5819075b55e56f1215cebbfb.png
  - https://cdn.dos.zone/original/2X/2/22104b2836b6473d0fb0cd32dc722c098299ecee.png
---
