---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sleuth.jsdos
layout: page.njk
ogDescription: Sleuth is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Sleuth on mobile.
  On DOS.Zone Sleuth available to play for free without registration.
permalink: /sleuth-1983/
screenshots:
- https://cdn.dos.zone/original/2X/5/50a70fb038571cd5b7a4da442506c7113693f19.png
- https://cdn.dos.zone/original/2X/5/50e9fd036858bce5472f9fa5760b7d75e724347.png
shortTitle: Sleuth
title: Sleuth | 🕹️Play Sleuth Online | DOS game in browser

---
