---
layout: page.njk
title: SLOT-8 | 🕹️Play SLOT-8 Online | Download js-dos bundle
ogDescription: Want to Play SLOT-8? 🕹 On Dos Zone you can play SLOT-8 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: SLOT-8
permalink: /slot-8-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fslot-8.jsdos
description: The game SLOT-8 is a simulation of an 8-way pay slot gambling
  machine. You are presented with the slot machine screen, and a starter capital
  of $100. Betting is 1-8 dollars, the bet is increased with the spacebar.
  Enter-key pulls the handle, and the symbols randomly change with accompanying
  noise. Winning combinations/patterns are presented on the right of the screen.
  Depending on how much you bet, your score is added from different rows, i.e.
  if you bet $1, only the middle horizontal row is counted, and if you bet $8,
  all rows,  columns and diagonals are counted for matching patterns. The active
  rows are indicated with highlighted numbers on the left and top of the screen.
  Each time you win, there is a musical tune played, different for every
  pattern. If you lose all your money, the game is over. If you win enough, you
  end up on a scoreboard.
screenshots:
  - https://cdn.dos.zone/original/2X/a/ad6ec65004578419ec2454ec2aeac74a6a8e2dd2.png
  - https://cdn.dos.zone/original/2X/9/9a81c77224cab568ca97e1f597b96721681b9ea4.png
---
