---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/smashing-pumpkins-into-small-piles-of-putrid-debris.jsdos
layout: page.njk
ogDescription: Smashing Pumpkins into Small Piles of Putrid Debris is a famous and
  most played DOS game that now is available to play in browser. With virtual mobile
  controls you also can play in Smashing Pumpkins into Small Piles of Putrid Debris
  on mobile. On DOS.Zone Smashing Pumpkins into Small Piles of Putrid Debris available
  to play for free without registration.
permalink: /smashing-pumpkins-into-small-piles-of-putrid-debris-dec-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/2e09f36af2f59a18583bb05ab489cf28ad26a7e6.png
- https://cdn.dos.zone/original/2X/6/680fedb5debb89b733fb8522678a426f56380387.png
shortTitle: Smashing Pumpkins into Small Piles of Putrid Debris
title: Smashing Pumpkins into Small Piles of Putrid Debris | 🕹️Play Smashing Pumpkins
  into Small Piles of Putrid Debris Online | DOS game in browser

---
