---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/smooth-tetris.jsdos
layout: page.njk
ogDescription: Smooth Tetris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Smooth Tetris
  on mobile. On DOS.Zone Smooth Tetris available to play for free without registration.
permalink: /smooth-tetris-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/496dc19a90102b6e7e5c730a63f786244f66b9bd.png
- https://cdn.dos.zone/original/2X/5/52865a019651f3ad5a78f579d005e37d9902848e.png
shortTitle: Smooth Tetris
title: Smooth Tetris | 🕹️Play Smooth Tetris Online | DOS game in browser

---
