---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/snakes___.jsdos
layout: page.njk
ogDescription: Snakes is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Snakes on mobile.
  On DOS.Zone Snakes available to play for free without registration.
permalink: /snakes-1988/
screenshots:
- https://cdn.dos.zone/original/2X/b/b04b190ce25f52573ff0854cb20abcfb4863a65c.png
- https://cdn.dos.zone/original/2X/3/366ecd3f18b7932c502900f023c0694fd241142d.png
shortTitle: Snakes
title: Snakes | 🕹️Play Snakes Online | DOS game in browser

---
