---
layout: page.njk
title: SnakeWinder | 🕹️Play SnakeWinder Online | Download js-dos bundle
ogDescription: Want to Play SnakeWinder? 🕹 On Dos Zone you can play SnakeWinder
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: SnakeWinder
permalink: /snakewinder-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsnakewinder.jsdos
description: "SnakeWinder is an adaptation of Snakes and Ladders board game,
  where two players (human and AI) need to move the chip from a start of
  serpentine road to its finish. The task of the human is to reach the finish,
  the task of AI is to do not allow this. The road is a polygonal path with
  vertices of different kinds. Most of them are normal without any effect, but
  some of them are Ladders advancing the chip several steps further or Snakes
  throwing it several steps back. The players by turns choose the number of
  steps and move the chip by the road's vertices. Reaching the road's finish,
  the player is transferred to the next level. The game contains 10 levels with
  different backgrounds for the serpentine road, a limited number of steps to be
  selected from, and a highest score for each level. There are two modes: for
  Child and for Adult. In \"for Child\" mode the steps selection is achieved
  through one of four ways: roulette, dices, digital ruler or shooting the
  balls.  In \"for Adult\" mode the steps are simply typed in, but the AI's
  level is higher. The game may be saved in progress to restore it later."
screenshots:
  - https://cdn.dos.zone/original/2X/8/872956e37cb88189224a30ba5c361aa8843dc92e.png
  - https://cdn.dos.zone/original/2X/4/424c24d164b21a04b864faac573fa865e00a9e71.png
---
