---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/soccer___.jsdos
layout: page.njk
ogDescription: Soccer is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Soccer on mobile.
  On DOS.Zone Soccer available to play for free without registration.
permalink: /soccer-1994/
screenshots:
- https://cdn.dos.zone/original/2X/1/1dff7c09281f54a426c0bfc7ac55f736f5bb1ffc.png
- https://cdn.dos.zone/original/2X/b/b4ea22bea4bbb2ddb086f75e1046942814ff0378.png
shortTitle: Soccer
title: Soccer | 🕹️Play Soccer Online | DOS game in browser

---
