---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/soko-ban.jsdos
layout: page.njk
ogDescription: Soko-Ban is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Soko-Ban on
  mobile. On DOS.Zone Soko-Ban available to play for free without registration.
permalink: /soko-ban-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/18c3b0e79f69ed5aa8d91d3a2ad4c5df0e5525c0.gif
- https://cdn.dos.zone/original/2X/e/e0ce012e08f16ec450c92ced24b2cdd565f48072.gif
shortTitle: Soko-Ban
title: Soko-Ban | 🕹️Play Soko-Ban Online | DOS game in browser

---
