---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sokoban_.jsdos
layout: page.njk
ogDescription: Sokoban is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sokoban on
  mobile. On DOS.Zone Sokoban available to play for free without registration.
permalink: /sokoban-aug-17-2007/
screenshots:
- https://cdn.dos.zone/original/2X/8/819b8ff5a5e0bf1a100bf627f933dcf66544700e.png
- https://cdn.dos.zone/original/2X/9/992bfdf13753235a8088da0b03edd772a76f71ed.png
shortTitle: Sokoban
title: Sokoban | 🕹️Play Sokoban Online | DOS game in browser

---
