---
layout: page.njk
title: Soko-Ban | 🕹️Play Soko-Ban Online | Download js-dos bundle
ogDescription: Want to Play Soko-Ban? 🕹 On Dos Zone you can play Soko-Ban OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Soko-Ban
permalink: /soko-ban-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsoko-ban.jsdos
description: Soko-Ban is a classic puzzle game, the basis of numerous clones in
  the later years. It is set in a warehouse. On each level, the player must push
  crates (from square to square) to get them onto designated spots; once each
  crate is on a marked spot, the level is complete. Crates can only be pushed
  one at a time (so two crates next to each other cannot be pushed together),
  and cannot be pulled--so it's possible to get a crate stuck in a corner, where
  it cannot be retrieved! By the last levels, you must plan 40 steps in advance.
screenshots:
  - https://cdn.dos.zone/original/2X/1/18c3b0e79f69ed5aa8d91d3a2ad4c5df0e5525c0.gif
  - https://cdn.dos.zone/original/2X/e/e0ce012e08f16ec450c92ced24b2cdd565f48072.gif
---
