---
layout: page.njk
title: Sokoban | 🕹️Play Sokoban Online | Download js-dos bundle
ogDescription: Want to Play Sokoban? 🕹 On Dos Zone you can play Sokoban OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sokoban
permalink: /sokoban-aug-17-2007/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsokoban_.jsdos
description: Sokoban (this version of it, anyway) is a compact implementation of
  the classic crate-pushing puzzler, squeezing the whole thing into a 1KB
  executable (with only 256 bytes of code - the rest is level data).  Written in
  assembly and utilizing ASCII graphics, it puts you in the shoes of an average
  At-sign, attempting to solve levels by pushing the boxes (dollar signs) into
  their target spots (dots), while taking care not to get yourself (or any of
  the boxes) hopelessly stuck.  There are six levels, identical to the first six
  in the original game; source code is included.
screenshots:
  - https://cdn.dos.zone/original/2X/8/819b8ff5a5e0bf1a100bf627f933dcf66544700e.png
  - https://cdn.dos.zone/original/2X/9/992bfdf13753235a8088da0b03edd772a76f71ed.png
---
