---
layout: page.njk
title: Solitaire | 🕹️Play Solitaire Online | Download js-dos bundle
ogDescription: Want to Play Solitaire? 🕹 On Dos Zone you can play Solitaire OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Solitaire
permalink: /solitaire-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsolitaire____.jsdos
description: "Another computerized version of the solo card game Klondike
  Solitaire (Patience). A shuffled deck of cards is arranged in 7 downturned
  stacks of increasing height - the tableau - and any upturned cards may be
  rearranged to form piles of alternating color and descending value. Aces are
  shifted to the 4 Foundation cells (one per suite), which are then built up in
  increasing value, and the game is won by filling all Foundations from ace to
  king. Settings allow you to flip through the deck 1, 2 or 3 cards at a time,
  permitting single or multiple passes. You can always bend the rules a little:
  the game lets you cheat in four(!) different ways, and when the situation is
  hopeless, it'll even extend the offer without being asked! You can get away
  with it too - there is no \"self-respect\" meter, but should you win, you'll
  be reminded of your foul deed."
screenshots:
  - https://cdn.dos.zone/original/2X/6/6ea7f11a14cbcab429c3e6c9508e3b85155953c.png
  - https://cdn.dos.zone/original/2X/c/c696ec3f996496a8068695f164f99e799aa1e835.png
---
