---
layout: page.njk
title: "Solid State Pinball: Tristan | 🕹️Play Solid State Pinball: Tristan
  Online | Download js-dos bundle"
ogDescription: "Want to Play Solid State Pinball: Tristan? 🕹 On Dos Zone you
  can play Solid State Pinball: Tristan OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Solid State Pinball: Tristan"
permalink: /solid-state-pinball-tristan-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsolid-state-pinball-tristan.jsdos
description: "Solid State Pinball: Tristan is a pinball simulator which features
  a single medieval-themed board (hence the title) displayed in a single screen
  with score and bonus indicators filling the rest of the screen. Includes
  multiplayer hot-seat support in which each player plays a ball and switches
  when losing and also features the ability to nudge and tilt the machine,
  besides regular paddle controls."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7747d78d438b398d07dc45415e22e9664060cd01.png
  - https://cdn.dos.zone/original/2X/f/f5e3d5d6f0189d3a89f7b44fcae6925499faa0f9.png
---
