---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/solus.jsdos
layout: page.njk
ogDescription: Solus is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Solus on mobile.
  On DOS.Zone Solus available to play for free without registration.
permalink: /solus-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/2b969ecbc5e8b7c64c52e2666e29918a81e742e8.png
- https://cdn.dos.zone/original/2X/d/d1246b08154743425670ec43bcbe9e0e1a78d115.png
shortTitle: Solus
title: Solus | 🕹️Play Solus Online | DOS game in browser

---
