---
layout: page.njk
title: Sons of Liberty | 🕹️Play Sons of Liberty Online | Download js-dos bundle
ogDescription: Want to Play Sons of Liberty? 🕹 On Dos Zone you can play Sons of
  Liberty OR donwload js-dos bundle for free. Start playing now!
shortTitle: Sons of Liberty
permalink: /sons-of-liberty-may-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsons-of-liberty.jsdos
description: Three of the key battles of the American War of Independence are
  recreated here. The British army and American patriots can be played by either
  human or computer (with 3 skill levels). Each side's level of reinforcements
  and ammunition can be set on a 5-point scale. The smallest and shortest battle
  is Bunker Hill, while the Battle of Monmouth is distinguished by harsh
  weather, and Saratoga requires a different fighting style to the highly
  regimented one the British unsuccessfully used.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1942cfc032d044190e4f0fa27b5ecaa293ab205a.png
  - https://cdn.dos.zone/original/2X/9/97cec463595563badc6e5e72c1ca21ffcd4bda6d.png
---
