---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sons-of-liberty.jsdos
layout: page.njk
ogDescription: Sons of Liberty is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sons of Liberty
  on mobile. On DOS.Zone Sons of Liberty available to play for free without registration.
permalink: /sons-of-liberty-may-1988/
screenshots:
- https://cdn.dos.zone/original/2X/1/1942cfc032d044190e4f0fa27b5ecaa293ab205a.png
- https://cdn.dos.zone/original/2X/9/97cec463595563badc6e5e72c1ca21ffcd4bda6d.png
shortTitle: Sons of Liberty
title: Sons of Liberty | 🕹️Play Sons of Liberty Online | DOS game in browser

---
