---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sorcerer-lord.jsdos
layout: page.njk
ogDescription: Sorcerer Lord is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sorcerer Lord
  on mobile. On DOS.Zone Sorcerer Lord available to play for free without registration.
permalink: /sorcerer-lord-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/a/aa36240293efd55914831e3e5e74a8c8bdb383d1.gif
- https://cdn.dos.zone/original/2X/7/77cc165c7cbd9f4ffec5fb1eb9ffcf6b19e7329a.gif
shortTitle: Sorcerer Lord
title: Sorcerer Lord | 🕹️Play Sorcerer Lord Online | DOS game in browser

---
