---
layout: page.njk
title: Sorry! | 🕹️Play Sorry! Online | Download js-dos bundle
ogDescription: Want to Play Sorry!? 🕹 On Dos Zone you can play Sorry! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sorry!
permalink: /sorry-mar-07-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsorry__.jsdos
description: Sorry! is a board game produced by Parker Brothers, this is a
  freeware version of that game for one to four players. The game itself has
  many similarities with Pachisi and Ludo. Players draw cards to determine how
  far they can move their tokens, the object being to be the first to get all
  their pieces into the centre of the board. Meanwhile other players can knock
  opponents pieces from the board if they draw 'Sorry' card. This game was
  developed using TurboPascal v4.0.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e8aca7810d9a4006b4cffe4c143b9b3f144b7d2a.png
  - https://cdn.dos.zone/original/2X/5/5bf68978a7b382d257bc36fb25b2a725358b0949.png
---
