---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sorry__.jsdos
layout: page.njk
ogDescription: Sorry! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Sorry! on mobile.
  On DOS.Zone Sorry! available to play for free without registration.
permalink: /sorry-mar-07-1988/
screenshots:
- https://cdn.dos.zone/original/2X/e/e8aca7810d9a4006b4cffe4c143b9b3f144b7d2a.png
- https://cdn.dos.zone/original/2X/5/5bf68978a7b382d257bc36fb25b2a725358b0949.png
shortTitle: Sorry!
title: Sorry! | 🕹️Play Sorry! Online | DOS game in browser

---
