---
layout: page.njk
title: Sorry Ass | 🕹️Play Sorry Ass Online | Download js-dos bundle
ogDescription: Want to Play Sorry Ass? 🕹 On Dos Zone you can play Sorry Ass OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sorry Ass
permalink: /sorry-ass-aug-17-2016/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsorry-ass.jsdos
description: Written as a tribute for the 35th anniversary of the IBM PC (and
  DOS), this is a tiny reworking of Bill Gates ' only direct personal
  contribution to video game history - the BASIC demonstration Donkey from the
  very first versions of PC-DOS/MS-DOS.  The game runs entirely off the 512-byte
  boot sector of a standard diskette (although a DOS version is included as
  well) and can be played on most descendants of the IBM PC, up until today and
  all the way back to the original 5150. Just as with Donkey, the player's
  leisurely drive along a straight stretch of road is interrupted by a pack of
  stray jackasses.  The oddly sturdy beasts will survive any collision (and earn
  a point from it, too) so it's imperative to switch lanes to avoid them.  The
  reaction time diminishes with each successive donkey; after advancing far
  enough, it's the driver who scores a point.  Unlike the original, the game
  ends when either side reaches a score of 10.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7babd011c3d096e9128720398ae1c9227e10048a.png
  - https://cdn.dos.zone/original/2X/f/f1102498d91b8353a24ada4a2d44a11c73f961f.png
---
