---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sorry-ass.jsdos
layout: page.njk
ogDescription: Sorry Ass is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sorry Ass
  on mobile. On DOS.Zone Sorry Ass available to play for free without registration.
permalink: /sorry-ass-aug-17-2016/
screenshots:
- https://cdn.dos.zone/original/2X/7/7babd011c3d096e9128720398ae1c9227e10048a.png
- https://cdn.dos.zone/original/2X/f/f1102498d91b8353a24ada4a2d44a11c73f961f.png
shortTitle: Sorry Ass
title: Sorry Ass | 🕹️Play Sorry Ass Online | DOS game in browser

---
