---
layout: page.njk
title: Space 1889 | 🕹️Play Space 1889 Online | Download js-dos bundle
ogDescription: Want to Play Space 1889? 🕹 On Dos Zone you can play Space 1889
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space 1889
permalink: /space-1889-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-1889.jsdos
description: A role-playing adventure set in the "future" as seen by Victorian
  era science fiction writers.  Players explore the far corners of the Earth
  (Atlantis, King Tut's tomb etc...) and travel between planets on ships made of
  martian "liftwood" (invented by none other than Thomas Edison).  Based on
  GDW's pencil and paper roleplaying game.  Similar in design to Paragon's
  MegaTraveller series.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ee087bea87749db1b86ac29ed23216ed2d9c7836.png
  - https://cdn.dos.zone/original/2X/5/5253bc7aa58e9f4e9c34ed9aa182490d528f1ca7.png
---
