---
layout: page.njk
title: Space Guardian | 🕹️Play Space Guardian Online | Download js-dos bundle
ogDescription: Want to Play Space Guardian? 🕹 On Dos Zone you can play Space
  Guardian OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Guardian
permalink: /space-guardian-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-guardian.jsdos
description: Space Guardian is a clone of the old Star Trek text strategy game.
  As commander of the GUARDIAN, the player must find all ships of the Alien
  empire by locating them using the scanner, firing torpedoes while defending
  against enemy attacks by raising the shields.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4c54c29c657524bd18b3a605f7983ec7b3b0ec6b.png
  - https://cdn.dos.zone/original/2X/a/a9783ebfff69655d9117c10bf6b4edb3fbde4f57.png
---
