---
layout: page.njk
title: "Spacewrecked: 14 Billion Light Years From Earth | 🕹️Play Spacewrecked:
  14 Billion Light Years From Earth Online | Download js-dos bundle"
ogDescription: "Want to Play Spacewrecked: 14 Billion Light Years From Earth? 🕹
  On Dos Zone you can play Spacewrecked: 14 Billion Light Years From Earth OR
  donwload js-dos bundle for free. Start playing now!"
shortTitle: "Spacewrecked: 14 Billion Light Years From Earth"
permalink: /spacewrecked-14-billion-light-years-from-earth-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspacewrecked-14-billion-light-years-from-earth.jsdos
description: In this sci-fi RPG you are sent to a fleet of spaceships which have
  been invaded by aliens who escaped during a routine mission. This involves
  walking around and fighting off any aliens you encounter, while collecting
  keys for the doors. A toxic coolant must be handled carefully if this is to be
  achieved. 6 programmable robots can help with repair chores The game's control
  system has a direction pad for moving and inventory mapping.
screenshots:
  - https://cdn.dos.zone/original/2X/1/108cc6e26d3c76f925d262f4006bcee2517ff275.png
  - https://cdn.dos.zone/original/2X/6/647a954f439bf72ec112177db18300032a8b88d8.png
---
