---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-adventure.jsdos
layout: page.njk
ogDescription: Space Adventure is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space Adventure
  on mobile. On DOS.Zone Space Adventure available to play for free without registration.
permalink: /space-adventure-1992/
screenshots:
- https://cdn.dos.zone/original/2X/8/8a48be22eb3e27c435fbaf148e8b193e6d34f3b.png
- https://cdn.dos.zone/original/2X/8/846db49bc06f22ba4bdcc7d261ca1ca3c6f2fc6c.png
shortTitle: Space Adventure
title: Space Adventure | 🕹️Play Space Adventure Online | DOS game in browser

---
