---
layout: page.njk
title: Space Miner | 🕹️Play Space Miner Online | Download js-dos bundle
ogDescription: Want to Play Space Miner? 🕹 On Dos Zone you can play Space Miner
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Miner
permalink: /space-miner-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-miner_.jsdos
description: Humanity's hunger for material resources has expanded beyond
  Earth's capacity to satisfy it, and you've been sent on a mining expedition to
  harvest ores in space.  Your ship is equipped with a finite supply of fuel, a
  robot arm to collect materials, and twin missiles to fend off the hordes of
  slavering aliens which inconveniently occupy the area (and devour everything
  in their path, mining ships included). Floating lumps of fuel or missile
  modules can be collected to replenish your supplies. Your goal is to complete
  three mining runs with as much profit as you can - the mothership will be
  waiting to pick you up at the end of each run; if a ship is destroyed before
  being picked up, all of its hard-earned bounty will be lost.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b5066863173e91af92eb33690fd92f127ebae0d7.png
  - https://cdn.dos.zone/original/2X/7/703d2769f9a7b4244b79fcd09c48be6b132ed4bf.png
---
