---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-conquest-a-galactic-odyssey.jsdos
layout: page.njk
ogDescription: 'Space Conquest: A Galactic Odyssey is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Space Conquest: A Galactic Odyssey on mobile. On DOS.Zone Space
  Conquest: A Galactic Odyssey available to play for free without registration.'
permalink: /space-conquest-a-galactic-odyssey-1990/
screenshots:
- https://cdn.dos.zone/original/2X/b/baf746d8da7dc8625b4f0a51b54972208a378290.png
- https://cdn.dos.zone/original/2X/9/9cd00d2a3adbd842f5c111565f5e1c4aa03181f1.png
shortTitle: 'Space Conquest: A Galactic Odyssey'
title: 'Space Conquest: A Galactic Odyssey | 🕹️Play Space Conquest: A Galactic Odyssey
  Online | DOS game in browser'

---
