---
layout: page.njk
title: Space Invaders | 🕹️Play Space Invaders Online | Download js-dos bundle
ogDescription: Want to Play Space Invaders? 🕹 On Dos Zone you can play Space
  Invaders OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Invaders
permalink: /space-invaders-aug-16-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-invaders______.jsdos
description: Space Invaders is a single player, freeware clone of Taito's Space
  Invaders. The objective of the game is to achieve a high score. The player has
  control of a canon at the bottom of the screen and must successive destroy
  waves of advancing alien ships. There are three lives in this game, so if a
  canon is destroyed there are two replacements available. Additional canons are
  awarded every 10,000 points. If an alien lands or if a canon is destroyed the
  player must restart the current level again. As each successive screen is
  cleared the next screen starts with the alien ships positioned lower down the
  screen. The game is over when all canon have been destroyed. The game is
  played via the keyboard. It does not record the scores the player(s) achieved.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9441bc315010c911d0f2b9caae226402e71a1c46.png
  - https://cdn.dos.zone/original/2X/1/1a755122ea7cb5a0156396e0a7dd44cdd5ce48dd.png
---
