---
layout: page.njk
title: Space Snake | 🕹️Play Space Snake Online | Download js-dos bundle
ogDescription: Want to Play Space Snake? 🕹 On Dos Zone you can play Space Snake
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Snake
permalink: /space-snake-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-snake.jsdos
description: A plague of Space snakes wants to reconquer the Mars Planet. In the
  role of a brave spaceship pilot, part of the defence line of the planet, the
  player must resist the attack of ten hordes of this violent monsters. Each
  horde is stronger than the previous one. The player has only 5 spaceships to
  vanquish the attack of the space snakes. The gameplay is very simple. Our ship
  only can move in the horizontal axis (like "Galaxian"), and player must
  destroy all the Space Snakes, while avoiding the enemy assaults.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d7fdabdde8fd4c3912dd98706e3ecf74badde6b.png
  - https://cdn.dos.zone/original/2X/a/a02916f98be08de1fa3be51d2195816994071272.png
---
