---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-invaders______.jsdos
layout: page.njk
ogDescription: Space Invaders is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space Invaders
  on mobile. On DOS.Zone Space Invaders available to play for free without registration.
permalink: /space-invaders-aug-16-1995/
screenshots:
- https://cdn.dos.zone/original/2X/9/9441bc315010c911d0f2b9caae226402e71a1c46.png
- https://cdn.dos.zone/original/2X/1/1a755122ea7cb5a0156396e0a7dd44cdd5ce48dd.png
shortTitle: Space Invaders
title: Space Invaders | 🕹️Play Space Invaders Online | DOS game in browser

---
