---
layout: page.njk
title: Space Battles | 🕹️Play Space Battles Online | Download js-dos bundle
ogDescription: Want to Play Space Battles? 🕹 On Dos Zone you can play Space
  Battles OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Battles
permalink: /space-battles-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-battles.jsdos
description: >-
  Space Battles contains four different games on one disk:

  Space War

  Moon Lander

  Meteor Shower : In this game numerous meteors are falling! Your goal is to guide your character and collect as many of the pieces of the scene as you can. When a meteor falls it will remove any pieces of the scene that happen to be in its way causing you to lose points. If you collect a piece before it's destroyed by a meteor you gain points. If you are hit by a falling meteor then you lose a life. The goal is to earn as many points as possible. One to four players can compete for the highest score.

  Space Zombies : In this game your goal is to earn as many points as possible by collecting dots on the screen. Four opponents bounce and wander around the screen; if you get caught a life is lost, and the game ends when all players have lost all their lives. One to four players take turns playing the game and compete for the highest score.
screenshots:
  - https://cdn.dos.zone/original/2X/6/61a3a5e5420c351b52c4acae6fe02cdcae4cae58.gif
  - https://cdn.dos.zone/original/2X/1/19a284bc2fdbfcf5169ab4175dd93ee199c47ce.gif
---
