---
layout: page.njk
title: Space Adventure | 🕹️Play Space Adventure Online | Download js-dos bundle
ogDescription: Want to Play Space Adventure? 🕹 On Dos Zone you can play Space
  Adventure OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Adventure
permalink: /space-adventure-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-adventure.jsdos
description: >-
  The universe is at your fingertips in this interactive adventure through
  space.  Read about WWII rockets, eclipses, how humans might live in space
  colonies, and more.  Watch Voyager flybys, Apollo launches, former President
  John F. Kennedy challenge America to go to the moon, computer simulations, and
  other videos.  By clicking on objects on the screen, you can zoom to other
  topics on space.  Space Adventure even covers some science fiction, too! The
  whole thing is like a really big encyclopedia covering, space, our solar
  system, space probes, aliens, and other stuff that a budding astronomer could
  want to know.  It also features Caltech's Tom McDonough and astronaut Buzz
  Aldrin. Within the product there is a quiz with three levels of difficulty,
  'The Space Adventure Challenge' however unlike most quizzes where the answer
  can be a single word or phrase this quiz is designed to send the player off
  into the product searching through the articles until they find a specific
  screen at which point the game says the search is over.

  For each question the player accumulates points as they search but loses points if they take a hint or a short cut. The title consists of video and audio clips, pictures and articles and there are lots of hidden hyperlinks within the text, i.e. the linked text is no different to any other text, allowing the player/user to select an article about Apollo, click on a link about going to the moon which brings up a screen showing the planned trajectory, see in the text that John F Kennedy started the ball rolling in 1969, click on the word 'John' to find all other people called John within the title etc. The more links followed the greater the score so, paradoxically, knowing the answer and going straight to it results in a lower score. As quizzes go this is just for fun, there is no scoreboard.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8a48be22eb3e27c435fbaf148e8b193e6d34f3b.png
  - https://cdn.dos.zone/original/2X/8/846db49bc06f22ba4bdcc7d261ca1ca3c6f2fc6c.png
---
