---
layout: page.njk
title: Space Miner | 🕹️Play Space Miner Online | Download js-dos bundle
ogDescription: Want to Play Space Miner? 🕹 On Dos Zone you can play Space Miner
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Miner
permalink: /space-miner-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-miner.jsdos
description: Space Miner is a single-player shareware top-down scrolling space
  shooter. The story behind this game is that the mega corporations of the
  future have declared regions of space containing mega-ore as being off-limits
  to private firms. The player takes the role of a third generation independent
  miner who chooses to mine the ore in restricted space. This sets the scene for
  a Galaxian -style game in which most, but not all of the nasties come down the
  screen intent on destroying the player's craft. While shooting the baddies the
  player must also collect the pieces of ore which flow down the screen.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e2b766629edf2141ad1702103383605385a02dd8.png
  - https://cdn.dos.zone/original/2X/6/6dc5cccc11ec9b7518ba442cd72d49d3690f26fc.png
---
