---
layout: page.njk
title: "Space Conquest: A Galactic Odyssey | 🕹️Play Space Conquest: A Galactic
  Odyssey Online | Download js-dos bundle"
ogDescription: "Want to Play Space Conquest: A Galactic Odyssey? 🕹 On Dos Zone
  you can play Space Conquest: A Galactic Odyssey OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Space Conquest: A Galactic Odyssey"
permalink: /space-conquest-a-galactic-odyssey-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-conquest-a-galactic-odyssey.jsdos
description: It is the year 2112. You are the captain of a colonization starship
  for the Association of Solar Systems in the Neublinn Galaxy, ordered on a
  routine colonization mission of nine solar systems. But before you can begin
  your task, you receive a notice that a powerful alien race called the Mancer
  has entered the galaxy to threaten your position. The AOSS wants you to
  eliminate them, but in order to pull off this dangerous task, you must enlist
  the help of new colonies in the galaxy to help ensure your victory. Explore
  nine different solar systems and colonize up to 80 different planets. Create
  teams of crew members to monitor and manage colonies, while engaging in
  battles with the Mancer fleet. You must fulfill both objectives to succeed in
  your mission.
screenshots:
  - https://cdn.dos.zone/original/2X/b/baf746d8da7dc8625b4f0a51b54972208a378290.png
  - https://cdn.dos.zone/original/2X/9/9cd00d2a3adbd842f5c111565f5e1c4aa03181f1.png
---
