---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-snake.jsdos
layout: page.njk
ogDescription: Space Snake is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space Snake
  on mobile. On DOS.Zone Space Snake available to play for free without registration.
permalink: /space-snake-1989/
screenshots:
- https://cdn.dos.zone/original/2X/d/d7fdabdde8fd4c3912dd98706e3ecf74badde6b.png
- https://cdn.dos.zone/original/2X/a/a02916f98be08de1fa3be51d2195816994071272.png
shortTitle: Space Snake
title: Space Snake | 🕹️Play Space Snake Online | DOS game in browser

---
