---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-1889.jsdos
layout: page.njk
ogDescription: Space 1889 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space 1889
  on mobile. On DOS.Zone Space 1889 available to play for free without registration.
permalink: /space-1889-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/ee087bea87749db1b86ac29ed23216ed2d9c7836.png
- https://cdn.dos.zone/original/2X/5/5253bc7aa58e9f4e9c34ed9aa182490d528f1ca7.png
shortTitle: Space 1889
title: Space 1889 | 🕹️Play Space 1889 Online | DOS game in browser

---
