---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-pirates.jsdos
layout: page.njk
ogDescription: Space Pirates is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space Pirates
  on mobile. On DOS.Zone Space Pirates available to play for free without registration.
permalink: /space-pirates-1994/
screenshots:
- https://cdn.dos.zone/original/2X/8/8a6dac241c601cc5fe6aa54fd5828bb317dc92ae.gif
- https://cdn.dos.zone/original/2X/a/a7789b74530e4465262f6e994c190eeff953f354.gif
shortTitle: Space Pirates
title: Space Pirates | 🕹️Play Space Pirates Online | DOS game in browser

---
