---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spacewrecked-14-billion-light-years-from-earth.jsdos
layout: page.njk
ogDescription: 'Spacewrecked: 14 Billion Light Years From Earth is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Spacewrecked: 14 Billion Light Years From Earth on mobile.
  On DOS.Zone Spacewrecked: 14 Billion Light Years From Earth available to play for
  free without registration.'
permalink: /spacewrecked-14-billion-light-years-from-earth-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/108cc6e26d3c76f925d262f4006bcee2517ff275.png
- https://cdn.dos.zone/original/2X/6/647a954f439bf72ec112177db18300032a8b88d8.png
shortTitle: 'Spacewrecked: 14 Billion Light Years From Earth'
title: 'Spacewrecked: 14 Billion Light Years From Earth | 🕹️Play Spacewrecked: 14
  Billion Light Years From Earth Online | DOS game in browser'

---
