---
layout: page.njk
title: Space Adventure | 🕹️Play Space Adventure Online | Download js-dos bundle
ogDescription: Want to Play Space Adventure? 🕹 On Dos Zone you can play Space
  Adventure OR donwload js-dos bundle for free. Start playing now!
shortTitle: Space Adventure
permalink: /space-adventure-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspace-adventure_.jsdos
description: A top down exploration shoot-em-up game where the player has to
  collect 4 crystals from a hostile alien craft to their scout ship in order to
  destroy the alien vessel. Keys are required to get to the crystals, and there
  are a lot of enemy androids roaming the alien ship, each of which must be
  destroyed before the next room becomes accessible. The original version of the
  game was by Andrew and Roger Thomas for the BBC Micro and it was ported to DOS
  by Robert Schmidt of  FireBall Software Ltd.
screenshots:
  - https://cdn.dos.zone/original/2X/a/aa5194ea85d69a08bc74a1852eecb3b35e852056.png
  - https://cdn.dos.zone/original/2X/4/48e32657c5056d2105f1d25c7f035a69b6a4d8e5.png
---
