---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-miner.jsdos
layout: page.njk
ogDescription: Space Miner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space Miner
  on mobile. On DOS.Zone Space Miner available to play for free without registration.
permalink: /space-miner-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2b766629edf2141ad1702103383605385a02dd8.png
- https://cdn.dos.zone/original/2X/6/6dc5cccc11ec9b7518ba442cd72d49d3690f26fc.png
shortTitle: Space Miner
title: Space Miner | 🕹️Play Space Miner Online | DOS game in browser

---
