---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/space-max__.jsdos
layout: page.njk
ogDescription: Space M+A+X is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Space M+A+X
  on mobile. On DOS.Zone Space M+A+X available to play for free without registration.
permalink: /space-m-a-x-1986/
screenshots:
- https://cdn.dos.zone/original/2X/a/aa9e7f57dbc8304f1f72d4f0d16b9d13bf381ef9.png
- https://cdn.dos.zone/original/2X/3/3a5c1dadfe5a308dee134e3d4701d97846f234db.png
shortTitle: Space M+A+X
title: Space M+A+X | 🕹️Play Space M+A+X Online | DOS game in browser

---
