---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/special-agent_.jsdos
layout: page.njk
ogDescription: Special Agent is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Special Agent
  on mobile. On DOS.Zone Special Agent available to play for free without registration.
permalink: /special-agent-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/81349f519dd6293aec4e9f2cb299521bdfa3df57.png
- https://cdn.dos.zone/original/2X/2/26f3555db623a0aacd49a87e888cdca0ca17b292.png
shortTitle: Special Agent
title: Special Agent | 🕹️Play Special Agent Online | DOS game in browser

---
