---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spectre-vr.jsdos
layout: page.njk
ogDescription: Spectre VR is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Spectre VR
  on mobile. On DOS.Zone Spectre VR available to play for free without registration.
permalink: /spectre-vr-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/90bc8344c91dbd9a8496cddc4bd93ce2658dae33.png
- https://cdn.dos.zone/original/2X/5/52c7a3ea609b9ac3c8dbe9f2730722cc162154f3.png
shortTitle: Spectre VR
title: Spectre VR | 🕹️Play Spectre VR Online | DOS game in browser

---
