---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/speedway-manager-96.jsdos
layout: page.njk
ogDescription: Speedway Manager '96 is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Speedway Manager '96 on mobile. On DOS.Zone Speedway Manager '96 available to
  play for free without registration.
permalink: /speedway-manager-96-1996/
screenshots:
- https://cdn.dos.zone/original/2X/7/7d2a7705ac6451852381e31ad98386fc3b0d0de.png
- https://cdn.dos.zone/original/2X/4/43232cf4bd24601b9f2096aee5873dd12e3471ea.png
shortTitle: Speedway Manager '96
title: Speedway Manager '96 | 🕹️Play Speedway Manager '96 Online | DOS game in browser

---
