---
layout: page.njk
title: Spelling Fun One | 🕹️Play Spelling Fun One Online | Download js-dos bundle
ogDescription: Want to Play Spelling Fun One? 🕹 On Dos Zone you can play
  Spelling Fun One OR donwload js-dos bundle for free. Start playing now!
shortTitle: Spelling Fun One
permalink: /spelling-fun-one-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspelling-fun-one.jsdos
description: You have been locked in a castle by Erlking of Errors, the Spelling
  Serpent.  You must move through all the rooms in the castle until you can find
  the Key of Gold and escape.  To move between rooms a word is flashed on the
  screen and begins to fade away.  You must correctly type the word to proceed
  to the next room.  Once you have built up enough strength (points) some rooms
  will have teleporters to move up to higher floors.  The gold key is hidden in
  one of three tower rooms at the very top of the castle.  Once the gold key has
  been found, you must find your way back to the first room in the castle where
  you can exit and finish the game. A number of word lists are included of
  varying difficulty, and custom word lists can be created.
screenshots:
  - https://cdn.dos.zone/original/2X/a/adfe2c2090d3a1bc6d8fda5b3bddba4e13e94056.png
  - https://cdn.dos.zone/original/2X/2/2567258d2f10d419df44c5e57e6c75112c0a18d3.png
---
