---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spellbreaker.jsdos
layout: page.njk
ogDescription: Spellbreaker is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Spellbreaker
  on mobile. On DOS.Zone Spellbreaker available to play for free without registration.
permalink: /spellbreaker-oct-1985/
screenshots:
- https://cdn.dos.zone/original/2X/6/6db94691769fec030774bec85ef2f6c83319c217.png
- https://cdn.dos.zone/original/2X/b/b1a51e3b8594822b0fb9d95160e8301176c1fef3.png
shortTitle: Spellbreaker
title: Spellbreaker | 🕹️Play Spellbreaker Online | DOS game in browser

---
