---
layout: page.njk
title: Spellbreaker | 🕹️Play Spellbreaker Online | Download js-dos bundle
ogDescription: Want to Play Spellbreaker? 🕹 On Dos Zone you can play
  Spellbreaker OR donwload js-dos bundle for free. Start playing now!
shortTitle: Spellbreaker
permalink: /spellbreaker-oct-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspellbreaker.jsdos
description: "The head of the Circle of Enchanters is a brave hero, the same one
  who has defeated the evil Krill and solved the mystery of the Necromancer
  Belboz. However, now an even greater threat has appeared: the very foundations
  of the art of Magic seem to be failing! The Guilds organize a great assembly
  to discuss the alarming waning of Magic; suddenly, a mysterious shadowy figure
  casts a spell that transforms everyone to toads and newts - everyone but the
  intrepid leader of the Circle, who must commit his most heroic deeds yet,
  solving the hardest mystery of all. The concluding part of the Enchanter
  trilogy within the Zork universe, Spellbreaker is a sequel to Sorcerer. The
  game plays similarly to its predecessors, the player inputting text commands
  to interact with the game world and solve puzzles. The magic system is still
  present; however, spellcasting can fail now, due to the game's premise of the
  decline of magic. A new feature is the player's ability to name the objects
  the protagonist collects in the game. This ability becomes a necessity when
  the player is required to collect the identically-looking Cubes of Foundation,
  having to name them in order to differentiate between them."
screenshots:
  - https://cdn.dos.zone/original/2X/6/6db94691769fec030774bec85ef2f6c83319c217.png
  - https://cdn.dos.zone/original/2X/b/b1a51e3b8594822b0fb9d95160e8301176c1fef3.png
---
