---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spheroids.jsdos
layout: page.njk
ogDescription: Spheroids is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Spheroids
  on mobile. On DOS.Zone Spheroids available to play for free without registration.
permalink: /spheroids-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/97f08ffb6f27b55615193bafd03389642ec9409e.png
- https://cdn.dos.zone/original/2X/a/a06011e60b7680361037afe4ffc01c7209d41d91.png
shortTitle: Spheroids
title: Spheroids | 🕹️Play Spheroids Online | DOS game in browser

---
