---
layout: page.njk
title: Spider Boxer | 🕹️Play Spider Boxer Online | Download js-dos bundle
ogDescription: Want to Play Spider Boxer? 🕹 On Dos Zone you can play Spider
  Boxer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Spider Boxer
permalink: /spider-boxer-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspider-boxer.jsdos
description: "In this straightforward action game, you're pitted against an
  arachnid invasion from above.  In such a situation, you might expect to be
  given a broom, or perhaps a vacuum cleaner.  Not so here, where the obvious
  solution is to grab a boxing glove and start punching spiders to death!  They
  descend towards the floor in varying speeds, while you aim and throw punches
  to send them reeling back upwards. You lose if a spider touches the floor, and
  advance to the next stage when they're all splattered up on the
  ceiling.  However, you shouldn't just smash them up as fast as you can: more
  living spiders equals more points per punch, so your goal is to keep them away
  from both the floor and the ceiling for as long as you can.  This gets
  progressively harder as you advance - more spiders appear, and you need to
  keep more of them alive simultaneously just to maintain your scoring."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a78ab7787f95374146f14a27de7c2f3f1bf75984.png
  - https://cdn.dos.zone/original/2X/2/205fa0b65008ed6997509b372a3379a9d4fcdbbc.png
---
