---
layout: page.njk
title: SPIN | 🕹️Play SPIN Online | Download js-dos bundle
ogDescription: Want to Play SPIN? 🕹 On Dos Zone you can play SPIN OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: SPIN
permalink: /spin-may-15-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspin.jsdos
description: SPIN is a 2D, top-down space shooter. The player controls a space
  ship and it enters a solar system where the freighter lanes have been overrun
  by pirates. Your mission is to clear the freighter lanes and protect the
  freighters from the pirate ships who are looting the freighters. A radar in
  the top left part of the screen is used to track down the threatened
  freighters and locate weapon and shield upgrades for the ship. The pirate
  escape pods use warp technology to jump away from their ship if it is
  destroyed. These pods can be picked up to arrest the pirates.
screenshots:
  - https://cdn.dos.zone/original/2X/5/56a46fe5ac35ec2f92287fa4410a960cd10280cc.png
  - https://cdn.dos.zone/original/2X/1/16910497d4e6f0edbf6a3b997cf4d2b163bc16d3.png
---
