---
layout: page.njk
title: Splat! | 🕹️Play Splat! Online | Download js-dos bundle
ogDescription: Want to Play Splat!? 🕹 On Dos Zone you can play Splat! OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Splat!
permalink: /splat-1999/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsplat.jsdos
description: Local ants are keen to take your sugar cubes. Fortunately you are
  armed with a fly swatter, which can be used to squash them. Move it around the
  screen and hit each ant before it can drag a cube off the screen. On each
  level you have a target minimum of cubes to protect. There are also levels
  with no cubes - these see the ants moving faster than usual, and you must
  squash as many as possible, with a bonus based on your percentage success. The
  game's sampled sounds are used to give a comic and home-brew feel to
  proceedings.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ea2a0eb0f797462e47f87fa3dc858f932ad6a8cd.png
  - https://cdn.dos.zone/original/2X/6/6469338af5b4c0efb1d0872d7e38892a9bd75f26.png
---
