---
layout: page.njk
title: Splat! PC | 🕹️Play Splat! PC Online | Download js-dos bundle
ogDescription: Want to Play Splat! PC? 🕹 On Dos Zone you can play Splat! PC OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Splat! PC
permalink: /splat-pc-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsplat-pc.jsdos
description: This remake of an obscure game from 1983 adds new graphics, sounds
  and music while maintaining the simple but unique gameplay of the original.
  The player controls a blue X called Zippy, moving it through a labyrinth
  filled with dangerous obstacles and dead ends. The maze moves independently
  from the character, and the main objective is to keep shifting position to
  avoid collision with the surrounding red brick wall that stays in place. Zippy
  can collect certain objects like grass and plums, but dies when touching the
  wall or certain hazardous environments and enemies.
screenshots:
  - https://cdn.dos.zone/original/2X/6/66e2873d19c0f092bbb70b221e3099c34f8bf31a.png
  - https://cdn.dos.zone/original/2X/4/4a9b5f1a91c0b08823916024cf71ecbbbfa20c65.png
---
