---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spoc-the-chess-master.jsdos
layout: page.njk
ogDescription: SPOC the Chess Master is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in SPOC the Chess Master on mobile. On DOS.Zone SPOC the Chess Master available
  to play for free without registration.
permalink: /spoc-the-chess-master-1983/
screenshots:
- https://cdn.dos.zone/original/2X/b/b070a656d29fe0822d1cce6618526fc124b6abd1.png
- https://cdn.dos.zone/original/2X/c/c09072a5ae2698cf7e01113d71d314adb23526af.png
shortTitle: SPOC the Chess Master
title: SPOC the Chess Master | 🕹️Play SPOC the Chess Master Online | DOS game in browser

---
