---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/spooky-kooky-monster-maker.jsdos
layout: page.njk
ogDescription: Spooky Kooky Monster Maker is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Spooky Kooky Monster Maker on mobile. On DOS.Zone Spooky Kooky Monster Maker
  available to play for free without registration.
permalink: /spooky-kooky-monster-maker-1992/
screenshots:
- https://cdn.dos.zone/original/2X/f/ffd740512035ff51c02fcfb6ae23f49aa8c30e96.png
- https://cdn.dos.zone/original/2X/e/ed22a678cabce0e89a285358598f9fae01f6eede.png
shortTitle: Spooky Kooky Monster Maker
title: Spooky Kooky Monster Maker | 🕹️Play Spooky Kooky Monster Maker Online | DOS
  game in browser

---
