---
layout: page.njk
title: Spooky Kooky Monster Maker | 🕹️Play Spooky Kooky Monster Maker Online |
  Download js-dos bundle
ogDescription: Want to Play Spooky Kooky Monster Maker? 🕹 On Dos Zone you can
  play Spooky Kooky Monster Maker OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Spooky Kooky Monster Maker
permalink: /spooky-kooky-monster-maker-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspooky-kooky-monster-maker.jsdos
description: Spooky Kooky Monster Maker is an educational program for kids,
  designed to improve the creativity and writing skills. The main entertainment
  aspect of the game is creating own monster and writing a story (myth) about
  it. The creation process takes place on one of numerous available arenas and
  includes adding all varieties of body parts, monster voice or scary gadgets.
  Kids may write a story about their creation, using the fully adjustable text
  editor. The game includes a printing feature.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ffd740512035ff51c02fcfb6ae23f49aa8c30e96.png
  - https://cdn.dos.zone/original/2X/e/ed22a678cabce0e89a285358598f9fae01f6eede.png
---
