---
layout: page.njk
title: Spy Master | 🕹️Play Spy Master Online | Download js-dos bundle
ogDescription: Want to Play Spy Master? 🕹 On Dos Zone you can play Spy Master
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Spy Master
permalink: /spy-master-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fspy-master.jsdos
description: 'The game "Spy Master" is a side-scrolling platform shooter. The
  player directs the character of Charles Cat, CIA Special Agent known of the
  other L.K. Avalon game Saper. This time the goal is to destroy the neo-Nazi
  secret base in the Andes. The game consists of three stages: the jungle,
  secret base and laboratory. Agent uses the gun and explosives against hostile
  soldiers and tanks. Player can also destroy some of the elements of the
  environment, such as rocks and photocells. The controls are simple - apart
  from walking agent can only shoot, jump and climb.'
screenshots:
  - https://cdn.dos.zone/original/2X/c/cd82984dbebffd99530b263fc7f7be3fd9cb9d4d.png
  - https://cdn.dos.zone/original/2X/d/dea3ae2328c55c77b68921abf1d6c5ffa87b1925.png
---
