---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/squarez-deluxe.jsdos
layout: page.njk
ogDescription: Squarez Deluxe! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Squarez Deluxe!
  on mobile. On DOS.Zone Squarez Deluxe! available to play for free without registration.
permalink: /squarez-deluxe-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/6d836697c7efea27332b53b308ee77a3bcd94c20.gif
- https://cdn.dos.zone/original/2X/1/13712b51243eb0538228add48deb9016973c9c42.gif
shortTitle: Squarez Deluxe!
title: Squarez Deluxe! | 🕹️Play Squarez Deluxe! Online | DOS game in browser

---
