---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/stack-up-.jsdos
layout: page.njk
ogDescription: Stack Up is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Stack Up on
  mobile. On DOS.Zone Stack Up available to play for free without registration.
permalink: /stack-up-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/31217f86f7887c9ab8e62d8bf8f8c5aee36858db.gif
- https://cdn.dos.zone/original/2X/e/e13b22042d415c32ee9d8a272fea64c56f188ae3.gif
shortTitle: Stack Up
title: Stack Up | 🕹️Play Stack Up Online | DOS game in browser

---
