---
layout: page.njk
title: Stack Up | 🕹️Play Stack Up Online | Download js-dos bundle
ogDescription: Want to Play Stack Up? 🕹 On Dos Zone you can play Stack Up OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Stack Up
permalink: /stack-up-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstack-up-.jsdos
description: A good alternate title for this one would be Rows - not the kind
  you have when your wife finds lipstick on your shirt collar, but as an
  equivalent of Columns. The gameplay is essentially the same - groups of 3
  variably-colored blocks fall towards the bottom of a 6x18 grid, and you must
  arrange them into groups of 3 of the same colour - except that the blocks are
  grouped horizontally rather than vertically. Each individual brick falls as
  far as it can when you place the trio, so they won't necessarily all end up on
  the same line. Blocks fall as far as possible to fill gaps when lines are
  completed, so there are never gaps in the arrangement the way you get in
  Tetris. Each level sets you a target number of lines to form - 4 or 5 in a row
  count as 2 and 3 lines respectively for this calculation, a lá Klax.
  Horizontal lines score the least, with diagonals the most lucrative and
  vertical in between (this change from Columns makes sense considering the
  different building method).
screenshots:
  - https://cdn.dos.zone/original/2X/3/31217f86f7887c9ab8e62d8bf8f8c5aee36858db.gif
  - https://cdn.dos.zone/original/2X/e/e13b22042d415c32ee9d8a272fea64c56f188ae3.gif
---
