---
layout: page.njk
title: Starquake | 🕹️Play Starquake Online | Download js-dos bundle
ogDescription: Want to Play Starquake? 🕹 On Dos Zone you can play Starquake OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Starquake
permalink: /starquake-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstarquake.jsdos
description: As BLOB, the Bio-Logically Operated Being, you are sent into an
  unstable planet and charged with the task of preventing it from exploding.
  This involves collecting various items (the exact combination is different
  every time you load the game) and taking them to the planet's core. The game
  is an arcade adventure viewed from the side, with 512 screens arranged in a
  16x32 pattern. A teleport system exists, so once you find the codes you can
  get quick access to different parts of the game. The creatures to avoid are
  intelligent, getting tougher to predict as you get closer to the centre, but
  you are armed with a gun and can also try to avoid them. BLOB has a set of
  platforms which can be used to allow limited vertical movement, but these
  disappear after a few seconds each use.
screenshots:
  - https://cdn.dos.zone/original/2X/e/eb184939b774bb9d7ee1951d9afe7915f03aef0a.png
  - https://cdn.dos.zone/original/2X/4/4d5a9d60cc1448b2dff8c9e570d819512130d2d8.png
---
