---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/star-ship-attack.jsdos
layout: page.njk
ogDescription: Star Ship Attack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Star Ship
  Attack on mobile. On DOS.Zone Star Ship Attack available to play for free without
  registration.
permalink: /star-ship-attack-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/627ba85e6927531cabce2d56bb1825ad5a6e1da9.png
- https://cdn.dos.zone/original/2X/7/7ff02aed28fa2664d5cbbf0444b9d9c9f7556ba6.png
shortTitle: Star Ship Attack
title: Star Ship Attack | 🕹️Play Star Ship Attack Online | DOS game in browser

---
