---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/star-hammer.jsdos
layout: page.njk
ogDescription: Star Hammer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Star Hammer
  on mobile. On DOS.Zone Star Hammer available to play for free without registration.
permalink: /star-hammer-nov-1994/
screenshots:
- https://cdn.dos.zone/original/2X/1/1f1dafbf2f282d3d52fb733603b11c2c504724a5.png
- https://cdn.dos.zone/original/2X/1/14b53c06047d1ccae47fb6f37fafb4ffa2d1b06.png
shortTitle: Star Hammer
title: Star Hammer | 🕹️Play Star Hammer Online | DOS game in browser

---
