---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/star-trek-strategic-operations-simulator.jsdos
layout: page.njk
ogDescription: 'Star Trek: Strategic Operations Simulator is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Star Trek: Strategic Operations Simulator on mobile. On DOS.Zone
  Star Trek: Strategic Operations Simulator available to play for free without registration.'
permalink: /star-trek-strategic-operations-simulator-1983/
screenshots:
- https://cdn.dos.zone/original/2X/9/97c5994f561e6610e620e7633dc85e8c6370cb71.png
- https://cdn.dos.zone/original/2X/8/8f11513a0821d6d86290203bee11701ba2a1cf04.png
shortTitle: 'Star Trek: Strategic Operations Simulator'
title: 'Star Trek: Strategic Operations Simulator | 🕹️Play Star Trek: Strategic Operations
  Simulator Online | DOS game in browser'

---
