---
layout: page.njk
title: Star Hammer | 🕹️Play Star Hammer Online | Download js-dos bundle
ogDescription: Want to Play Star Hammer? 🕹 On Dos Zone you can play Star Hammer
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Star Hammer
permalink: /star-hammer-nov-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstar-hammer.jsdos
description: You could think of Star Hammer as Wing Commander in 2D. You are the
  pilot of a combat space ship which has to destroy enemies or protect friendly
  shuttles. The game features 40 linear missions with the main goal to defeat an
  enemy alien race. In a topdown perspective you steer the ship through the
  space and shoot at enemies. Your ship has different weapons and a shield which
  decreases when enemies hit your ship. On the upper left corner is a mini map
  which shows friend and foe. Several in vector graphics animated cutscenes play
  during the campaign.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1f1dafbf2f282d3d52fb733603b11c2c504724a5.png
  - https://cdn.dos.zone/original/2X/1/14b53c06047d1ccae47fb6f37fafb4ffa2d1b06.png
---
