---
layout: page.njk
title: "Star Trek: The Kobayashi Alternative | 🕹️Play Star Trek: The Kobayashi
  Alternative Online | Download js-dos bundle"
ogDescription: "Want to Play Star Trek: The Kobayashi Alternative? 🕹 On Dos
  Zone you can play Star Trek: The Kobayashi Alternative OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Star Trek: The Kobayashi Alternative"
permalink: /star-trek-the-kobayashi-alternative-oct-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstar-trek-the-kobayashi-alternative.jsdos
description: This is an interactive fiction game based on the Star Trek
  Universe. The game features dialog and input boxes in addition to the
  traditional single command-line IF interface. Your mission is to solve the
  Kobayashi Alternative Command Performance Evaluation. You play as Captain Kirk
  and command your crew through numerous star systems and planet surfaces. You
  can explore the many immense decks of the Enterprise in addition to completing
  your missions.
screenshots:
  - https://cdn.dos.zone/original/2X/4/42b887a23201fff4b62c382bb8a5490e9dc70c15.gif
  - https://cdn.dos.zone/original/2X/2/22f0f16412ba6098c9b341c6c638044a3f9946aa.gif
---
