---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/starball.jsdos
layout: page.njk
ogDescription: Starball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Starball on
  mobile. On DOS.Zone Starball available to play for free without registration.
permalink: /starball-1996/
screenshots:
- https://cdn.dos.zone/original/2X/2/24c7f1dd72d3e9b8d7126425e39fb9b2ed56055a.png
- https://cdn.dos.zone/original/2X/b/b7cf11c40ed626a48d9c955f6f999bdf480bd299.png
shortTitle: Starball
title: Starball | 🕹️Play Starball Online | DOS game in browser

---
