---
layout: page.njk
title: Starmaxx | 🕹️Play Starmaxx Online | Download js-dos bundle
ogDescription: Want to Play Starmaxx? 🕹 On Dos Zone you can play Starmaxx OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Starmaxx
permalink: /starmaxx-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstarmaxx.jsdos
description: "In this side-scrolling shoot-'em-up the player assumes control of
  a speedy fighter ship, flying low over hostile territory.  The region is
  teeming with assorted enemy craft that don't take too kindly to your presence
  - from stationary space mines and curiously-shaped homing devices to flying
  saucers with mounted guns - and your only defense against being blasted into
  oblivion is your trusty laser beam. The ship may be freely accelerated to high
  warp or slowed down to a full stop; scoring is awarded for progressing through
  the sectors and destroying enemy craft.  The latter is especially important
  when it comes to the saucers, since letting them escape actually takes away
  points(!). There are no lives as such: the game progresses until you run out
  of fuel, but getting shot or crashing into anything (including the ground)
  will detract from your score and eat up gas.  Every fifty sectors, a fresh
  supply of fuel can be picked up to replenish your tanks."
screenshots:
  - https://cdn.dos.zone/original/2X/5/56eb9cd4a9a77c9b32474f8234dfdb16d9496519.png
  - https://cdn.dos.zone/original/2X/6/6d07c2cfb3e13001959898a09f7c52ba864a0644.png
---
