---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/starglider.jsdos
layout: page.njk
ogDescription: Starglider is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Starglider
  on mobile. On DOS.Zone Starglider available to play for free without registration.
permalink: /starglider-mar-1987/
screenshots:
- https://cdn.dos.zone/original/2X/5/55a2c1c1f7d9049dc53f4273bb7c547906e48847.gif
- https://cdn.dos.zone/original/2X/e/efa9a3f5f8defc10c3ebef07c87d7f00e8b02233.gif
shortTitle: Starglider
title: Starglider | 🕹️Play Starglider Online | DOS game in browser

---
