---
layout: page.njk
title: Star Empire | 🕹️Play Star Empire Online | Download js-dos bundle
ogDescription: Want to Play Star Empire? 🕹 On Dos Zone you can play Star Empire
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Star Empire
permalink: /star-empire-dec-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstar-empire.jsdos
description: The ultimate goal in Empire! is to build a great galactic empire
  protected by a huge frontier shield. Before this can be achieved however,
  players have to complete various missions, trade with starbases and fight off
  invading aliens. The ship is controlled from a top-down perspective, with four
  gauges indicating its energy level, temperature, radiation level and shield
  status. When the radiation level or temperature reach maximum, the ship is
  destroyed. The ship heats up when it's near a sun or firing weapons. The
  radiation level rises when radioactive pods are carried. When the ship is
  running out of fuel, it can be refueled by collecting ore from planets. Two
  direction finders at the bottom of the screen point towards the next starbase,
  mission objective or manually chosen target. At starbases, players can accept
  missions and trade minerals, ore or people. These three goods can be found on
  planets (in form of pods). In order to land on a planet, players must enter a
  warp hole. Once on the planet's surface, the game switches to first-person
  perspective and the player has to dodge or destroy rockets fired at the ship
  and follow the direction finders towards pods or the "exit". Starbases need to
  be supplied with materials to be able to produce "performance pods" and
  equipment for the ship. In order to reach other star systems, players have to
  fly through asteroid belts. Although some systems can only be reached with a
  special hyperspace pod. Many star systems are overrun by aliens and can only
  be reclaimed when all aliens are wiped out. There are also systems that are
  infected with the plaque and players must take care not to spread it to other
  systems. As the game progresses, more aliens, better equipment and new
  starbases appear. When all systems have been visited, players can buy
  starbases. When all systems are owned by the player, the game can be finished
  by constructing the frontier shield.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a8ce46194ed17da270ff57092bd36e87f6ad994.png
  - https://cdn.dos.zone/original/2X/f/f6bea6e8c18f85eba2c47e7b4c2db9bd599b5e7f.png
---
