---
layout: page.njk
title: Starglider | 🕹️Play Starglider Online | Download js-dos bundle
ogDescription: Want to Play Starglider? 🕹 On Dos Zone you can play Starglider
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Starglider
permalink: /starglider-mar-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstarglider.jsdos
description: The Planet Novenia has been attacked by the Egrons, who snuck in by
  disguising their craft as the protected Starglider species, which Novenia's
  automated defenses were programmed not to shoot. Your task is to fight them
  off using only an obsolete Airborne Ground Attack Vehicle. This was designed
  as the ultimate combat machine, with sophisticated hardware up to Draziw
  Yarg's high standards. It has a fully-rechargeable shield, plasma drive unit,
  an inbuilt scanner and 10,000-sector map, a top speed of 2550 Urads and two
  homing missiles. The game is viewed from within AGAV's cockpit, with control
  over speed, weapon targeting and firing. There are several control options to
  decide exactly how the craft works, with fixed or floating sighting, and the
  option of automatic centering, allowing you to balance the game between easy
  sighting and advanced shooting ranges. Repair depots must be visited
  frequently, as they can refill the weapon bays as well as repairing the ship.
  Crucially, the Egron Stargliders need 3 missiles to shoot down, so at least 1
  visit to a depot is required to complete this job, at which point you move up
  to the next, harder, level.
screenshots:
  - https://cdn.dos.zone/original/2X/5/55a2c1c1f7d9049dc53f4273bb7c547906e48847.gif
  - https://cdn.dos.zone/original/2X/e/efa9a3f5f8defc10c3ebef07c87d7f00e8b02233.gif
---
