---
layout: page.njk
title: States and Capitals | 🕹️Play States and Capitals Online | Download
  js-dos bundle
ogDescription: Want to Play States and Capitals? 🕹 On Dos Zone you can play
  States and Capitals OR donwload js-dos bundle for free. Start playing now!
shortTitle: States and Capitals
permalink: /states-and-capitals-jan-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstates-and-capitals_.jsdos
description: An educational geography quiz game that, as heavily implied by its
  name, tests players on their knowledge of states and capitals within the
  USA.  A map of the country is shown, complete with state borders, and on each
  turn a random state is highlighted.  Depending on the chosen game mode, the
  player then has to input either the state's name, or its capital's
  name.  After a series of ten questions, the player is scored according to the
  percentage of correct answers.
screenshots:
  - https://cdn.dos.zone/original/2X/5/51d204d46574f1e6385acdb8c300d14eb23cf65.png
  - https://cdn.dos.zone/original/2X/e/e6875418306e1c31500c35ed8eff9ef638249af8.png
---
