---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/states-and-capitals_.jsdos
layout: page.njk
ogDescription: States and Capitals is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  States and Capitals on mobile. On DOS.Zone States and Capitals available to play
  for free without registration.
permalink: /states-and-capitals-jan-1983/
screenshots:
- https://cdn.dos.zone/original/2X/5/51d204d46574f1e6385acdb8c300d14eb23cf65.png
- https://cdn.dos.zone/original/2X/e/e6875418306e1c31500c35ed8eff9ef638249af8.png
shortTitle: States and Capitals
title: States and Capitals | 🕹️Play States and Capitals Online | DOS game in browser

---
