---
layout: page.njk
title: Stelcon 2469 | 🕹️Play Stelcon 2469 Online | Download js-dos bundle
ogDescription: Want to Play Stelcon 2469? 🕹 On Dos Zone you can play Stelcon
  2469 OR donwload js-dos bundle for free. Start playing now!
shortTitle: Stelcon 2469
permalink: /stelcon-2469-aug-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstelcon-2469.jsdos
description: Up to 5 empires (player or computer controlled) fight for supremacy
  in this shareware strategy game. Players produce starships and interstellar
  missiles, then deploy fleets on a starmap grid, in order to conquer planetary
  systems. Battles between fleets are resolved automatically, with animated
  results displayed.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c58545acb3dcc280d8cc0b5089eacbd08b24ca91.png
  - https://cdn.dos.zone/original/2X/7/70fd0ec8819262ca5fbe5ef3e60879fe4a6bb2c8.png
---
