---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/stelcon-2469.jsdos
layout: page.njk
ogDescription: Stelcon 2469 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Stelcon 2469
  on mobile. On DOS.Zone Stelcon 2469 available to play for free without registration.
permalink: /stelcon-2469-aug-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c58545acb3dcc280d8cc0b5089eacbd08b24ca91.png
- https://cdn.dos.zone/original/2X/7/70fd0ec8819262ca5fbe5ef3e60879fe4a6bb2c8.png
shortTitle: Stelcon 2469
title: Stelcon 2469 | 🕹️Play Stelcon 2469 Online | DOS game in browser

---
