---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/stick-fighter-ii.jsdos
layout: page.njk
ogDescription: Stick Fighter II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Stick Fighter
  II on mobile. On DOS.Zone Stick Fighter II available to play for free without registration.
permalink: /stick-fighter-ii-1992/
screenshots: []
shortTitle: Stick Fighter II
title: Stick Fighter II | 🕹️Play Stick Fighter II Online | DOS game in browser

---
