---
layout: page.njk
title: Storm Across Europe | 🕹️Play Storm Across Europe Online | Download
  js-dos bundle
ogDescription: Want to Play Storm Across Europe? 🕹 On Dos Zone you can play
  Storm Across Europe OR donwload js-dos bundle for free. Start playing now!
shortTitle: Storm Across Europe
permalink: /storm-across-europe-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstorm-across-europe.jsdos
description: The game allows to simulate World War II in Europe on a grand
  strategic scale. The player controls land, sea and air action and has to
  manage limited resources for production and advanced research. There are 6
  historical scenarios included in the game, and they are labelled after the
  turn that they start on, from Autumn '39 to Summer '44. A scenario builder can
  be brought into action for players wanting to change the starting situation.
  It allows for the modification of an area's terrain type, population or raw
  material points it contains. The player can transfer units or change the
  beginning levels of the major powers like research and reinforcement. Each
  game turn represents three months of action. The game map covers every part of
  the European conflict - from North Africa to Sweden, from Gibraltar to the
  Ural Mountains in Russia.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7e42aa0bc3dacde7b5d89a61347fed68807fc63d.png
  - https://cdn.dos.zone/original/2X/5/5ca3af6edd2adbd72c07067b6f1033c134a9d489.png
---
