---
layout: page.njk
title: Story Machine | 🕹️Play Story Machine Online | Download js-dos bundle
ogDescription: Want to Play Story Machine? 🕹 On Dos Zone you can play Story
  Machine OR donwload js-dos bundle for free. Start playing now!
shortTitle: Story Machine
permalink: /story-machine-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstory-machine.jsdos
description: Story Machine is a product aimed at children for teaching language
  skills. The product contains animations assigned to key nouns, and verbs. By
  typing phrases such as "The Girl Jumps Over the Flower" will show the player
  an animation of a girl jumping over a flower. Through this method, players are
  able to create short "stories" of about 40 words long and have the computer
  animate them. These stories are also limited to having 4 "actors" (animated
  noun objects) in each.
screenshots: []
---
