---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/stormovik-su-25-soviet-attack-fighter.jsdos
layout: page.njk
ogDescription: 'Stormovik: SU-25 Soviet Attack Fighter is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Stormovik: SU-25 Soviet Attack Fighter on mobile. On DOS.Zone
  Stormovik: SU-25 Soviet Attack Fighter available to play for free without registration.'
permalink: /stormovik-su-25-soviet-attack-fighter-1990/
screenshots:
- https://cdn.dos.zone/original/2X/3/30fadf4604eb69d2bff676e249c0b9085d098e5c.png
- https://cdn.dos.zone/original/2X/e/eed22e25c144671a03a38d3e132cce8924d5160f.png
shortTitle: 'Stormovik: SU-25 Soviet Attack Fighter'
title: 'Stormovik: SU-25 Soviet Attack Fighter | 🕹️Play Stormovik: SU-25 Soviet Attack
  Fighter Online | DOS game in browser'

---
