---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/strife.jsdos
layout: page.njk
ogDescription: Strife is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Strife on mobile.
  On DOS.Zone Strife available to play for free without registration.
permalink: /strife-may-15-1996/
screenshots:
- https://cdn.dos.zone/original/2X/1/13df070e242020bd1d0cdbecae89832b2e2ee637.gif
- https://cdn.dos.zone/original/2X/a/a095a5707c331cd8106f10f8ee38775bc21acd64.png
shortTitle: Strife
title: Strife | 🕹️Play Strife Online | DOS game in browser

---
