---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/strip-poker-professional-rev-b.jsdos
layout: page.njk
ogDescription: 'Strip Poker Professional: Rev B is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Strip Poker Professional: Rev B on mobile. On DOS.Zone Strip Poker Professional:
  Rev B available to play for free without registration.'
permalink: /strip-poker-professional-rev-b-1995/
screenshots:
- https://cdn.dos.zone/original/2X/c/c51a2971b87f898ce7d9883d3204d68da55da902.gif
- https://cdn.dos.zone/original/2X/0/0342990b272026198bd40b9c679ca2d0316f5c14.gif
shortTitle: 'Strip Poker Professional: Rev B'
title: 'Strip Poker Professional: Rev B | 🕹️Play Strip Poker Professional: Rev B Online
  | DOS game in browser'

---
