---
layout: page.njk
title: Strike Fleet | 🕹️Play Strike Fleet Online | Download js-dos bundle
ogDescription: Want to Play Strike Fleet? 🕹 On Dos Zone you can play Strike
  Fleet OR donwload js-dos bundle for free. Start playing now!
shortTitle: Strike Fleet
permalink: /strike-fleet-feb-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstrike-fleet.jsdos
description: Strike Fleet is the unofficial sequel to PHM Pegasus which was
  developed by Lucasfilm Games in 1987. But instead of simulating hydrofoils you
  can now command a complete fleet of war ships into several missions. These
  missions are related to political events that were of interest when the first
  version of the game was released in 1987. As captain of the fleet you can
  switch between different ships of your fleet and even command helicopters to
  support your mission.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9280b34af0f1c4a23564599e14eefbc673a975a5.gif
  - https://cdn.dos.zone/original/2X/c/cc494aaff80ae6dd9564d62e84740dea037bc6f.gif
---
