---
layout: page.njk
title: Striker | 🕹️Play Striker Online | Download js-dos bundle
ogDescription: Want to Play Striker? 🕹 On Dos Zone you can play Striker OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Striker
permalink: /striker-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstriker.jsdos
description: Striker is a football (soccer) game with a forced-perspective 3D
  view. The players are drawn large and there is a large scanner to assist with
  long passing. The standard mode has the ball sticking closely to the feet,
  which makes mazy runs upfield a common strategy. There are 64 international
  teams on offer, with a European-style knock-out cup competition included. Many
  different formations and strategies are offered.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4f2c386d6c292366c3a752a12a20923481a3fd65.png
  - https://cdn.dos.zone/original/2X/5/5faa98ee8e3f3c4c9403538d0348ea1c59cff697.png
---
