---
layout: page.njk
title: Stryx | 🕹️Play Stryx Online | Download js-dos bundle
ogDescription: Want to Play Stryx? 🕹 On Dos Zone you can play Stryx OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Stryx
permalink: /stryx-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fstryx.jsdos
description: You star as half-robot operative Stryx. Dome City is under attack
  by KILLER CYBORG ASSASSINS! You navigate Stryx through numerous levels on
  foot, hovercrafts and some weird round eyeball-type flying craft. It's basic
  side scrolling action/arcade whackiness. This game was released for IBM PC,
  Amiga and Atari ST systems.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9dafcab4c3e31cc197beab47bbb59747c99908e8.gif
  - https://cdn.dos.zone/original/2X/8/839101c2706b5c582f7e42e372abf414d99e1bb1.gif
---
