---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/stunt-jumper.jsdos
layout: page.njk
ogDescription: Stunt Jumper is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Stunt Jumper
  on mobile. On DOS.Zone Stunt Jumper available to play for free without registration.
permalink: /stunt-jumper-1991/
screenshots:
- https://cdn.dos.zone/original/2X/f/ffc8495ba5c422c30714b478940130d11e2db30e.png
- https://cdn.dos.zone/original/2X/f/f47a270129a4daa29462aebbf0dd7f2164ee734c.png
shortTitle: Stunt Jumper
title: Stunt Jumper | 🕹️Play Stunt Jumper Online | DOS game in browser

---
