---
layout: page.njk
title: Subbuteo | 🕹️Play Subbuteo Online | Download js-dos bundle
ogDescription: Want to Play Subbuteo? 🕹 On Dos Zone you can play Subbuteo OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Subbuteo
permalink: /subbuteo-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsubbuteo.jsdos
description: ""
screenshots: []
---
