---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/subbuteo.jsdos
layout: page.njk
ogDescription: Subbuteo is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Subbuteo on
  mobile. On DOS.Zone Subbuteo available to play for free without registration.
permalink: /subbuteo-1990/
screenshots: []
shortTitle: Subbuteo
title: Subbuteo | 🕹️Play Subbuteo Online | DOS game in browser

---
