---
layout: page.njk
title: Sudoku86 | 🕹️Play Sudoku86 Online | Download js-dos bundle
ogDescription: Want to Play Sudoku86? 🕹 On Dos Zone you can play Sudoku86 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Sudoku86
permalink: /sudoku86-jun-26-2014/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsudoku86.jsdos
description: Sudoku86 is a computer (mouse-driven) version of the well-known
  Sudoku games that use to be printed in magazines. Although designed in modern
  days, this game focuses on retro-playability. It's a 16-bit application using
  320x200 graphic mode and 8086-compatible instructions.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c6855e36890f8d8dae8718bc8a15f651088e798b.png
  - https://cdn.dos.zone/original/2X/c/cc444b656af0959dbe27c4f96260e27f83800a5e.png
---
