---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sudoku86.jsdos
layout: page.njk
ogDescription: Sudoku86 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Sudoku86 on
  mobile. On DOS.Zone Sudoku86 available to play for free without registration.
permalink: /sudoku86-jun-26-2014/
screenshots:
- https://cdn.dos.zone/original/2X/c/c6855e36890f8d8dae8718bc8a15f651088e798b.png
- https://cdn.dos.zone/original/2X/c/cc444b656af0959dbe27c4f96260e27f83800a5e.png
shortTitle: Sudoku86
title: Sudoku86 | 🕹️Play Sudoku86 Online | DOS game in browser

---
