---
layout: page.njk
title: Summer Challenge | 🕹️Play Summer Challenge Online | Download js-dos bundle
ogDescription: Want to Play Summer Challenge? 🕹 On Dos Zone you can play Summer
  Challenge OR donwload js-dos bundle for free. Start playing now!
shortTitle: Summer Challenge
permalink: /summer-challenge-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsummer-challenge.jsdos
description: Five events are on offer in this Olympics-style sports game. These
  can be played individually or as part of a complete tournament, with the
  chance to choose your nationality first. The events are Hurdles, Triple Jump,
  Skeet Shooting, Diving and Fencing. Each event's control system involves
  rotating the joystick and pressing fire at the correct moments. The Fencing is
  viewed isometrically, and the skeet shooting from a 3D view positioned behind
  the competitor, which typify the unusual approaches taken to the events,
  rather than filling the game with 10 or more generic by-the-numbers offerings.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f0c0bb4b6b97374490af9027738c181166c79c95.png
  - https://cdn.dos.zone/original/2X/8/8f1fc52a3982426b73c4ac8958a253aa09fac6f5.png
---
