---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/summer-challenge.jsdos
layout: page.njk
ogDescription: Summer Challenge is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Summer Challenge
  on mobile. On DOS.Zone Summer Challenge available to play for free without registration.
permalink: /summer-challenge-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/f0c0bb4b6b97374490af9027738c181166c79c95.png
- https://cdn.dos.zone/original/2X/8/8f1fc52a3982426b73c4ac8958a253aa09fac6f5.png
shortTitle: Summer Challenge
title: Summer Challenge | 🕹️Play Summer Challenge Online | DOS game in browser

---
