---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/5/5f080ad8d3d06df0d4a5583a221e36dc79eeddd9.jsdos
layout: page.njk
ogDescription: Supaplex is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Supaplex on
  mobile. On DOS.Zone Supaplex available to play for free without registration.
permalink: /supaplex-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/dcf9348491b9b4ab48722ab5cb5b926d54ba4c3e.gif
- https://cdn.dos.zone/original/2X/6/6c8cc3d7d7bfab4f5833a25c0e4e512455b58e7f.png
shortTitle: Supaplex
title: Supaplex | 🕹️Play Supaplex Online | DOS game in browser

---
