---
layout: page.njk
title: SuperSki III | 🕹️Play SuperSki III Online | Download js-dos bundle
ogDescription: Want to Play SuperSki III? 🕹 On Dos Zone you can play SuperSki
  III OR donwload js-dos bundle for free. Start playing now!
shortTitle: SuperSki III
permalink: /superski-iii-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuperski-iii.jsdos
description: >-
  In the sequel to Super Ski II, also known as SuperSki Pro, six ski events in
  the French Alps are available - Super Giant, Downhill, Slalom, Snowboard Giant
  Slalom, Snowboard Slalom, and Ski Jump. There are three modes:

  Practice - complete the events one by one

  Medal Competition - challenge opponents in all events gaining the medals

  Time/Points Competition - challenge opponents in all events showing best time/acquiring more points

  All events show the player from behind, except Ski Jump. In Ski Jump the player is seen mostly from behind but camera may be rotated slightly near him. The player should avoid obstacles, stay on a route, and pass the gates in Slalom-like events and jump well in the Ski Jump. A 1-4 players hot-seat mode is available and the difficulty may be adjusted. The game progress may be saved to load it later. In the CD-ROM versions, there are additional render videos and a seventh discipline: bobsleigh.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7c34bc7a955455832c92cd7242313b2beea275db.png
  - https://cdn.dos.zone/original/2X/a/a679be7a73f028affd48f4784a9189ce02306fe0.png
---
