---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-huey-ii.jsdos
layout: page.njk
ogDescription: Super Huey II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Huey
  II on mobile. On DOS.Zone Super Huey II available to play for free without registration.
permalink: /super-huey-ii-1988/
screenshots:
- https://cdn.dos.zone/original/2X/c/cd228affb1f5484f57a530d3ab03be77c2cfe50d.png
- https://cdn.dos.zone/original/2X/2/2e53067a7bb72d6a5654464ca958f54b50b8f0ed.png
shortTitle: Super Huey II
title: Super Huey II | 🕹️Play Super Huey II Online | DOS game in browser

---
