---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-star-trek.jsdos
layout: page.njk
ogDescription: Super Star Trek is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Star
  Trek on mobile. On DOS.Zone Super Star Trek available to play for free without registration.
permalink: /super-star-trek-1982/
screenshots:
- https://cdn.dos.zone/original/2X/1/105ea6c3e09565dcabe3cddd0589ef141ce662fb.png
- https://cdn.dos.zone/original/2X/2/22a66931ee7818803f920b372130b3e5c16ffde0.png
shortTitle: Super Star Trek
title: Super Star Trek | 🕹️Play Super Star Trek Online | DOS game in browser

---
