---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-huey-uh-ix.jsdos
layout: page.njk
ogDescription: Super Huey UH-IX is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Huey
  UH-IX on mobile. On DOS.Zone Super Huey UH-IX available to play for free without
  registration.
permalink: /super-huey-uh-ix-1988/
screenshots:
- https://cdn.dos.zone/original/2X/c/c01d016907e00c42b2b87c7e217c42b1d2c9434c.png
- https://cdn.dos.zone/original/2X/a/a8e9c4a8e618ff046b1f1fcd30b234c2c1e82cb7.png
shortTitle: Super Huey UH-IX
title: Super Huey UH-IX | 🕹️Play Super Huey UH-IX Online | DOS game in browser

---
