---
layout: page.njk
title: Super All-Stars | 🕹️Play Super All-Stars Online | Download js-dos bundle
ogDescription: Want to Play Super All-Stars? 🕹 On Dos Zone you can play Super
  All-Stars OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super All-Stars
permalink: /super-all-stars-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-all-stars.jsdos
description: >-
  Super All-Stars is a compilation of five games by Codemasters. The games in
  this compilation are:

  Steg The Slug

  Magicland Dizzy

  Captain Dynamo

  CJ In The USA

  The last game of the compilation was different on some of the platforms:


  DOS: Seymour Goes To Hollywood

  Amiga, Atari ST Robin Hood: Legend Quest

  Spectrum, C-64: Turbo the Tortoise
screenshots: []
---
