---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-worms.jsdos
layout: page.njk
ogDescription: Super Worms is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Worms
  on mobile. On DOS.Zone Super Worms available to play for free without registration.
permalink: /super-worms-oct-12-2003/
screenshots:
- https://cdn.dos.zone/original/2X/7/7cbb1fd4393664ba0330b4adcd0f3ae954051b9e.png
- https://cdn.dos.zone/original/2X/2/23765093ee854c8549a773c826ed9f7c81279c17.png
shortTitle: Super Worms
title: Super Worms | 🕹️Play Super Worms Online | DOS game in browser

---
