---
layout: page.njk
title: Super Maxit | 🕹️Play Super Maxit Online | Download js-dos bundle
ogDescription: Want to Play Super Maxit? 🕹 On Dos Zone you can play Super Maxit
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Maxit
permalink: /super-maxit-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-maxit.jsdos
description: Super Maxit is a shareware, player vs computer, strategy game. The
  game is played out on a board which is divided into squares, there are
  different board shapes available but they all play the same. Each cell
  contains a number in the range plus thirty through to minus thirty. The
  players select a cell and press ENTER to get that number added to their score.
  The twist is that the player can only select a cell on the current row, via
  the left/right arrow keys, while the computer can only select a cell on the
  current column. The game has an in-game help function, a hint, undo and a
  cheat function, a demo mode and optional sound.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7385a64c693e4289c02df6f746cb440a1c73986f.png
  - https://cdn.dos.zone/original/2X/4/419ecbc08d34a6ab22f1b49212d2cd340f263b74.png
---
