---
layout: page.njk
title: Super Trix | 🕹️Play Super Trix Online | Download js-dos bundle
ogDescription: Want to Play Super Trix? 🕹 On Dos Zone you can play Super Trix
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Trix
permalink: /super-trix-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-trix.jsdos
description: Super Trix is a promotional game of the Israeli newspaper Yedioth
  Ahronoth, in collaboration with Coca-Cola. The player controls Super Trix on
  his quest to recover the six missing sections of the newspaper and has to go
  through each of the levels while dealing with hostile bees, thunderbolts, and
  other dangers. Super Trix's health is represented by Coca-Cola cans, which can
  be collected throughout the levels for recovery.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3c3980da166b44ed73c7191e123d76faa7a59b78.png
  - https://cdn.dos.zone/original/2X/4/4ce7246675a60aed4f8317771807dd7f2d36c16.png
---
