---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/superleague-soccer.jsdos
layout: page.njk
ogDescription: Superleague Soccer is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Superleague Soccer on mobile. On DOS.Zone Superleague Soccer available to play for
  free without registration.
permalink: /superleague-soccer-1989/
screenshots: []
shortTitle: Superleague Soccer
title: Superleague Soccer | 🕹️Play Superleague Soccer Online | DOS game in browser

---
