---
layout: page.njk
title: Superleague Soccer | 🕹️Play Superleague Soccer Online | Download js-dos bundle
ogDescription: Want to Play Superleague Soccer? 🕹 On Dos Zone you can play
  Superleague Soccer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Superleague Soccer
permalink: /superleague-soccer-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuperleague-soccer.jsdos
description: "Superleague Soccer is a managerial soccer simulation in which the
  player is responsible for the athletic and financial success of a soccer team.
  As usually, most of the game is menu-based and consists of tinkering with
  adjusting screws. Examples for possible activities are the transfer market,
  athlete line-up or tactics. Each athlete has a data sheet in which information
  like statistics, value or the career can be checked. A speciality is the match
  presentation: besides watching just the highlights, the player may also choose
  to see the whole match. Then individual instructions to each athlete can be
  given: when the player clicks on an athlete, he stands still until the player
  clicks on the place he should go."
screenshots: []
---
