---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-trix.jsdos
layout: page.njk
ogDescription: Super Trix is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Trix
  on mobile. On DOS.Zone Super Trix available to play for free without registration.
permalink: /super-trix-1993/
screenshots:
- https://cdn.dos.zone/original/2X/3/3c3980da166b44ed73c7191e123d76faa7a59b78.png
- https://cdn.dos.zone/original/2X/4/4ce7246675a60aed4f8317771807dd7f2d36c16.png
shortTitle: Super Trix
title: Super Trix | 🕹️Play Super Trix Online | DOS game in browser

---
