---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-angelo.jsdos
layout: page.njk
ogDescription: Super Angelo is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Angelo
  on mobile. On DOS.Zone Super Angelo available to play for free without registration.
permalink: /super-angelo-jun-2001/
screenshots:
- https://cdn.dos.zone/original/2X/2/28083bd206b26c9a8de21604e7f317418703eddd.png
- https://cdn.dos.zone/original/2X/c/cc30ced1ad4bfd508b2de44385501d65a03e84c5.png
shortTitle: Super Angelo
title: Super Angelo | 🕹️Play Super Angelo Online | DOS game in browser

---
