---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-pac-man.jsdos
layout: page.njk
ogDescription: Super Pac-Man is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Pac-Man
  on mobile. On DOS.Zone Super Pac-Man available to play for free without registration.
permalink: /super-pac-man-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/2b0581d22d067219fd06251a2d5ec2a5d83dac01.png
- https://cdn.dos.zone/original/2X/7/74d408958342f3a183fba0e7992808984faf662f.png
shortTitle: Super Pac-Man
title: Super Pac-Man | 🕹️Play Super Pac-Man Online | DOS game in browser

---
