---
layout: page.njk
title: Super Angelo | 🕹️Play Super Angelo Online | Download js-dos bundle
ogDescription: Want to Play Super Angelo? 🕹 On Dos Zone you can play Super
  Angelo OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Angelo
permalink: /super-angelo-jun-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-angelo.jsdos
description: Super Angelo is a shareware side-scrolling platform game closely
  resembling Super Mario Bros. in design, gameplay and story. It is based on the
  code of an earlier game by the same author, which is essentially an unofficial
  DOS version of Super Mario Bros.. Super Angelo takes place in a fantasy land
  that is being terrorised by three dragons who took over all castles. As the
  eponymous Angelo, the player must defeat them all and ultimately rescue the
  princess imprisoned by the dragons. Progressing through the levels involves
  collecting coins, powerups and either avoiding or taking out enemies. Certain
  powerups transform Angelo into the stronger Super Angelo, while others further
  add the ability to shoot projectiles and move faster.
screenshots:
  - https://cdn.dos.zone/original/2X/2/28083bd206b26c9a8de21604e7f317418703eddd.png
  - https://cdn.dos.zone/original/2X/c/cc30ced1ad4bfd508b2de44385501d65a03e84c5.png
---
