---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-plumber.jsdos
layout: page.njk
ogDescription: Super Plumber is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Plumber
  on mobile. On DOS.Zone Super Plumber available to play for free without registration.
permalink: /super-plumber-1996/
screenshots:
- https://cdn.dos.zone/original/2X/5/5c7ef3587ed1264284d416f5bfa7485d9ed3d70c.png
- https://cdn.dos.zone/original/2X/e/e660f9c293b61a6bab87e3d756df06f81579733f.png
shortTitle: Super Plumber
title: Super Plumber | 🕹️Play Super Plumber Online | DOS game in browser

---
