---
layout: page.njk
title: Super Stupid Space Invaders     | 🕹️Play Super Stupid Space
  Invaders     Online | Download js-dos bundle
ogDescription: Want to Play Super Stupid Space Invaders    ? 🕹 On Dos Zone you
  can play Super Stupid Space Invaders     OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: "Super Stupid Space Invaders    "
permalink: /super-stupid-space-invaders-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-stupid-space-invaders-.jsdos
description: Super Stupid Space Invaders is a ASCII graphic spin off of Space
  Invaders. You play a man who destroys aliens.  However, there is no village to
  protect from the aliens. In each game there are two players, and every time
  one player loses a life, the other player continues right where that player
  left off. You control a small missile firing device with you arrow keys, left
  and right to move back and forth, and up to fire missiles. To move on to a new
  level you must destroy all the aliens on the field, sometimes the aliens
  reproduce each level. You can also hit bonus aliens for new weapons that fire
  more shots. When both players lose all their lives, you get a "game over", and
  both players are put in the Hall of Fame. If you make it, your final standings
  for the game are shown including the final score, the level you made it to,
  your shots and hits, and your percentage.
screenshots:
  - https://cdn.dos.zone/original/2X/5/510d7e890c99641a8d5c2732e7961aa55dc35aa8.png
  - https://cdn.dos.zone/original/2X/7/734ffd770d4d45113618e2aa98a8074f9850bf83.png
---
