---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-ski-ii.jsdos
layout: page.njk
ogDescription: Super Ski II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Ski
  II on mobile. On DOS.Zone Super Ski II available to play for free without registration.
permalink: /super-ski-ii-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/728796916c1d02dff1a2817375f4c555db8b55f4.png
- https://cdn.dos.zone/original/2X/7/793aa242ae01ecb6249d2595312d6112bb8cd8f7.png
shortTitle: Super Ski II
title: Super Ski II | 🕹️Play Super Ski II Online | DOS game in browser

---
