---
layout: page.njk
title: Super-VGA Harrier | 🕹️Play Super-VGA Harrier Online | Download js-dos bundle
ogDescription: Want to Play Super-VGA Harrier? 🕹 On Dos Zone you can play
  Super-VGA Harrier OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super-VGA Harrier
permalink: /super-vga-harrier-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-vga-harrier.jsdos
description: Super-VGA Harrier is an upgraded version of AV-8B Harrier Assault,
  but modified to use SVGA resolution (640x480), otherwise, the game is
  identical. You lead a marine expeditionary force trying to occupy West Timor.
  At your command is a full Amphibious Assault Group, including ships,
  helicopters, Harriers, landing crafts, and more. The campaign is full
  real-time and you can play only as the commander if you wish to.
screenshots:
  - https://cdn.dos.zone/original/2X/e/efd13f61f25dd446d9954d30c7f6ad25821e29ce.png
  - https://cdn.dos.zone/original/2X/5/5f124cbe562c4d2926891f106710ecb9ed17b069.png
---
