---
layout: page.njk
title: Super Trio | 🕹️Play Super Trio Online | Download js-dos bundle
ogDescription: Want to Play Super Trio? 🕹 On Dos Zone you can play Super Trio
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Trio
permalink: /super-trio-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-trio.jsdos
description: Super Trio is a Korean-made platformer. Despite its initially
  sinister plot involving an evil vampire lord being resurrected in his ominous
  castle, the actual game takes place in colorful, modern-day-themed
  environments, featuring microscopic protagonists traversing everyday household
  objects arranged as platform structures. The player takes control of either
  the mouse Jake, the cat Tomi, or the dog Brudo. All the three characters play
  the same and are only distinguished visually. Two players can team up by
  selecting two out of the three protagonists. Weapon upgrades, health-restoring
  items, and lightning attacks can be found throughout the stages. Each stage
  has a rather strict time limit and ends with a boss battle. There is no
  possibility to save the game.
screenshots:
  - https://cdn.dos.zone/original/2X/9/94f291232c4fbb6ba22a00cb149ef491b89e5119.png
  - https://cdn.dos.zone/original/2X/e/eb32315499499d6936fccea731483462a76daba7.png
---
