---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/superstar-indoor-sports.jsdos
layout: page.njk
ogDescription: Superstar Indoor Sports is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Superstar Indoor Sports on mobile. On DOS.Zone Superstar Indoor Sports available
  to play for free without registration.
permalink: /superstar-indoor-sports-dec-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/1b5cbb40e8b19db642f068993cd7024158f5c91c.gif
- https://cdn.dos.zone/original/2X/2/25382be1a50512b8ede76f9f2dd4335cf6eadeb8.gif
shortTitle: Superstar Indoor Sports
title: Superstar Indoor Sports | 🕹️Play Superstar Indoor Sports Online | DOS game
  in browser

---
