---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/superhero-league-of-hoboken.jsdos
layout: page.njk
ogDescription: Superhero League of Hoboken is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Superhero League of Hoboken on mobile. On DOS.Zone Superhero League of Hoboken
  available to play for free without registration.
permalink: /superhero-league-of-hoboken-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f9842eaba5717f78547d1afa410ce2037308c605.png
- https://cdn.dos.zone/original/2X/7/7ff4825ec5b4fae9269c7f3864d29df4c0c86ac5.png
shortTitle: Superhero League of Hoboken
title: Superhero League of Hoboken | 🕹️Play Superhero League of Hoboken Online | DOS
  game in browser

---
