---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/superski-iii.jsdos
layout: page.njk
ogDescription: SuperSki III is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in SuperSki III
  on mobile. On DOS.Zone SuperSki III available to play for free without registration.
permalink: /superski-iii-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/7c34bc7a955455832c92cd7242313b2beea275db.png
- https://cdn.dos.zone/original/2X/a/a679be7a73f028affd48f4784a9189ce02306fe0.png
shortTitle: SuperSki III
title: SuperSki III | 🕹️Play SuperSki III Online | DOS game in browser

---
