---
layout: page.njk
title: Super Worms | 🕹️Play Super Worms Online | Download js-dos bundle
ogDescription: Want to Play Super Worms? 🕹 On Dos Zone you can play Super Worms
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Worms
permalink: /super-worms-oct-12-2003/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-worms.jsdos
description: Super Worms is a 3D game in the vein of Super Mario Kart. The game
  has two game modes. In the racing mode, up to two players (and a number of AI
  racers) can race their worms on a race track filled with power-ups. In the
  battle mode two players can try to beat each others worm in a death match
  arena with various power-ups. In both games the worms consist of a number
  circular segments which can be removed by hitting them with the right
  powerups.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7cbb1fd4393664ba0330b4adcd0f3ae954051b9e.png
  - https://cdn.dos.zone/original/2X/2/23765093ee854c8549a773c826ed9f7c81279c17.png
---
