---
layout: page.njk
title: Super Ski II | 🕹️Play Super Ski II Online | Download js-dos bundle
ogDescription: Want to Play Super Ski II? 🕹 On Dos Zone you can play Super Ski
  II OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Ski II
permalink: /super-ski-ii-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-ski-ii.jsdos
description: In the sequel to Super Ski, six ski events are available - Super
  Giant, Bobsleigh, Slalom, Ski Jump, Moguls, and Downhill. Set in famous
  resorts of French Alps  such as Val-d'Isère, Courchevel, or La Tania, ski
  events may be practiced in Training mode, or taken on in a sequence of 2 of
  each in Competition mode. Almost all events show the player from behind,
  except Moguls, where screen is scrolling down with players` progress, and Ski
  Jump, where player should come to camera from the far view. Player should
  avoid obstacles, stay on a route, and pass the gates in Slalom-like events;
  stay on the route in Bobsleigh, finish in first place with more style and
  jumps in Moguls, and jump good in Ski Jump. 1-2 players mode is available.
screenshots:
  - https://cdn.dos.zone/original/2X/7/728796916c1d02dff1a2817375f4c555db8b55f4.png
  - https://cdn.dos.zone/original/2X/7/793aa242ae01ecb6249d2595312d6112bb8cd8f7.png
---
