---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-trio.jsdos
layout: page.njk
ogDescription: Super Trio is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Trio
  on mobile. On DOS.Zone Super Trio available to play for free without registration.
permalink: /super-trio-1995/
screenshots:
- https://cdn.dos.zone/original/2X/9/94f291232c4fbb6ba22a00cb149ef491b89e5119.png
- https://cdn.dos.zone/original/2X/e/eb32315499499d6936fccea731483462a76daba7.png
shortTitle: Super Trio
title: Super Trio | 🕹️Play Super Trio Online | DOS game in browser

---
