---
layout: page.njk
title: Super Huey II | 🕹️Play Super Huey II Online | Download js-dos bundle
ogDescription: Want to Play Super Huey II? 🕹 On Dos Zone you can play Super
  Huey II OR donwload js-dos bundle for free. Start playing now!
shortTitle: Super Huey II
permalink: /super-huey-ii-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-huey-ii.jsdos
description: >-
  Super Huey II is a 2D helicopter simulation with different missions,
  including:

  Combat missions

  POW rescue missions

  Gulf of terror

  Arctic rescue missions

  Oil blaze

  Bermuda triangle The game does not focus on realism, but offers arcade gameplay.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cd228affb1f5484f57a530d3ab03be77c2cfe50d.png
  - https://cdn.dos.zone/original/2X/2/2e53067a7bb72d6a5654464ca958f54b50b8f0ed.png
---
