---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-bubble-mania.jsdos
layout: page.njk
ogDescription: Super Bubble Mania is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Super Bubble Mania on mobile. On DOS.Zone Super Bubble Mania available to play for
  free without registration.
permalink: /super-bubble-mania-1997/
screenshots:
- https://cdn.dos.zone/original/2X/d/df2d2d4eb0842f782034261eaf054add89f6ef43.png
- https://cdn.dos.zone/original/2X/4/449a30319afb9279d134aa295ab06a65d17066d9.png
shortTitle: Super Bubble Mania
title: Super Bubble Mania | 🕹️Play Super Bubble Mania Online | DOS game in browser

---
