---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-cop.jsdos
layout: page.njk
ogDescription: Super Cop is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Cop
  on mobile. On DOS.Zone Super Cop available to play for free without registration.
permalink: /super-cop-aug-1994/
screenshots:
- https://cdn.dos.zone/original/2X/7/70f9bc24ad27ae8cd80be8de32c63276ff44265e.png
- https://cdn.dos.zone/original/2X/b/b67e31231478444db091ff1be45beb84cdff0f92.png
shortTitle: Super Cop
title: Super Cop | 🕹️Play Super Cop Online | DOS game in browser

---
