---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-solvers-treasure-mountain.jsdos
layout: page.njk
ogDescription: 'Super Solvers: Treasure Mountain! is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Super Solvers: Treasure Mountain! on mobile. On DOS.Zone Super
  Solvers: Treasure Mountain! available to play for free without registration.'
permalink: /super-solvers-treasure-mountain-1990/
screenshots:
- https://cdn.dos.zone/original/2X/d/da01c85e35e0e01f01f3824ee8e5e9dc4debf525.png
- https://cdn.dos.zone/original/2X/6/6805028afb6d1c2f0bb24385ed342c0d487b8bf6.png
shortTitle: 'Super Solvers: Treasure Mountain!'
title: 'Super Solvers: Treasure Mountain! | 🕹️Play Super Solvers: Treasure Mountain!
  Online | DOS game in browser'

---
