---
layout: page.njk
title: "Super Solvers: Treasure Mountain! | 🕹️Play Super Solvers: Treasure
  Mountain! Online | Download js-dos bundle"
ogDescription: "Want to Play Super Solvers: Treasure Mountain!? 🕹 On Dos Zone
  you can play Super Solvers: Treasure Mountain! OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "Super Solvers: Treasure Mountain!"
permalink: /super-solvers-treasure-mountain-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuper-solvers-treasure-mountain.jsdos
description: Treasure Mountain is an educational game designed for children ages
  5-9. The Master of Mischief has stolen the magic crown as well as other
  treasures and hidden them on Treasure Mountain! Your goal is to locate the
  magic crown and as many of the treasures as possible while climbing your way
  to the top. To make your way up the mountain, you will need to find keys which
  unlock a path. The keys are hidden somewhere behind an object on each level of
  the mountain. To find out what is behind an object you need to use one of your
  magic coins. However, the number of coins you have is limited and there are
  many places to search so you first need to find clues as to where keys (and
  treasures!) are located. Wandering about the mountain are numerous elves; if
  you catch a scroll carrying elf in your net, he'll ask a question. A correct
  answer will provide a clue. After reaching the top of the multi-leveled
  mountain, all the treasures you collected along the way will be put back in
  the treasure chest, and you begin again at the bottom with a tougher
  difficulty level. After all treasures have been brought to the top, you can
  find the crown and win the game!
screenshots:
  - https://cdn.dos.zone/original/2X/d/da01c85e35e0e01f01f3824ee8e5e9dc4debf525.png
  - https://cdn.dos.zone/original/2X/6/6805028afb6d1c2f0bb24385ed342c0d487b8bf6.png
---
