---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-all-stars.jsdos
layout: page.njk
ogDescription: Super All-Stars is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super All-Stars
  on mobile. On DOS.Zone Super All-Stars available to play for free without registration.
permalink: /super-all-stars-1994/
screenshots: []
shortTitle: Super All-Stars
title: Super All-Stars | 🕹️Play Super All-Stars Online | DOS game in browser

---
