---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/super-maxit.jsdos
layout: page.njk
ogDescription: Super Maxit is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Super Maxit
  on mobile. On DOS.Zone Super Maxit available to play for free without registration.
permalink: /super-maxit-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/7385a64c693e4289c02df6f746cb440a1c73986f.png
- https://cdn.dos.zone/original/2X/4/419ecbc08d34a6ab22f1b49212d2cd340f263b74.png
shortTitle: Super Maxit
title: Super Maxit | 🕹️Play Super Maxit Online | DOS game in browser

---
