---
layout: page.njk
title: Suspect | 🕹️Play Suspect Online | Download js-dos bundle
ogDescription: Want to Play Suspect? 🕹 On Dos Zone you can play Suspect OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Suspect
permalink: /suspect-nov-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsuspect.jsdos
description: You are a suspected murderer and time is running out because the
  police are ready to throw the books at you. If you ever want to return to your
  normal life of being a reporter you better prove your innocence. However, the
  real murderer probably watching your every move -- so be careful.
screenshots:
  - https://cdn.dos.zone/original/2X/3/332a6aaa93b2b65be63156ce71dcb7e5d71deca2.gif
---
