---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/suspect.jsdos
layout: page.njk
ogDescription: Suspect is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Suspect on
  mobile. On DOS.Zone Suspect available to play for free without registration.
permalink: /suspect-nov-1984/
screenshots:
- https://cdn.dos.zone/original/2X/3/332a6aaa93b2b65be63156ce71dcb7e5d71deca2.gif
shortTitle: Suspect
title: Suspect | 🕹️Play Suspect Online | DOS game in browser

---
