---
layout: page.njk
title: Switch | 🕹️Play Switch Online | Download js-dos bundle
ogDescription: Want to Play Switch? 🕹 On Dos Zone you can play Switch OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Switch
permalink: /switch-jan-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fswitch_megabusters.jsdos
description: Switch is a top-down puzzle game where you control a humanoid
  character, trying to reach the exit on each level. In order to get out of each
  level, you need to skillfully walk on arrows (you can only walk off an arrow
  in the direction it's pointing to); master the operation of levers and buttons
  (they allow you to rotate some arrows around); jump through teleporters;
  collect keys and open doors with them; and watch out for crumbling floors
  (once you pass over one, it disappears and you cannot go back).
screenshots:
  - https://cdn.dos.zone/original/2X/5/5ab30959b75b842db0381bc5d068f495ab8b7f14.png
  - https://cdn.dos.zone/original/2X/2/2fa2e2c7305bcebc0ee7847e666b3801f8a5e75e.png
---
