---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/switch_.jsdos
layout: page.njk
ogDescription: Switch is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Switch on mobile.
  On DOS.Zone Switch available to play for free without registration.
permalink: /switch-mar-12-1982/
screenshots:
- https://cdn.dos.zone/original/2X/8/886319e91ef695b7783950c719cf34c707dfba4a.png
- https://cdn.dos.zone/original/2X/6/66649d32c2d2a84986def0ecd465e47d0d193dc6.png
shortTitle: Switch
title: Switch | 🕹️Play Switch Online | DOS game in browser

---
