---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sword-quest-2-tale-of-the-talisman.jsdos
layout: page.njk
ogDescription: 'Sword Quest 2: Tale of the Talisman is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Sword Quest 2: Tale of the Talisman on mobile. On DOS.Zone Sword
  Quest 2: Tale of the Talisman available to play for free without registration.'
permalink: /sword-quest-2-tale-of-the-talisman-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/74facabe24edd5b57b979b1ad5be6bef9ec756e3.png
- https://cdn.dos.zone/original/2X/3/3c33f5757f458aae92ad3b568a973d8bb8455a01.png
shortTitle: 'Sword Quest 2: Tale of the Talisman'
title: 'Sword Quest 2: Tale of the Talisman | 🕹️Play Sword Quest 2: Tale of the Talisman
  Online | DOS game in browser'

---
