---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tactile.jsdos
layout: page.njk
ogDescription: Tactile is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tactile on
  mobile. On DOS.Zone Tactile available to play for free without registration.
permalink: /tactile-1989/
screenshots:
- https://cdn.dos.zone/original/2X/7/77c4ddb25d1350793d1d9ee2caf584bef5c18396.png
- https://cdn.dos.zone/original/2X/d/d13fb9987d74fd70903a0dc989cc7192e6380f95.png
shortTitle: Tactile
title: Tactile | 🕹️Play Tactile Online | DOS game in browser

---
