---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/take-down.jsdos
layout: page.njk
ogDescription: Take Down is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Take Down
  on mobile. On DOS.Zone Take Down available to play for free without registration.
permalink: /take-down-jun-1989/
screenshots:
- https://cdn.dos.zone/original/2X/5/5a2f4dfa05c1d349459037e20241caefe96367ae.png
- https://cdn.dos.zone/original/2X/8/8a64adf087559e3cfce75701690cca6d79b8fa4b.png
shortTitle: Take Down
title: Take Down | 🕹️Play Take Down Online | DOS game in browser

---
