---
layout: page.njk
title: Take Down | 🕹️Play Take Down Online | Download js-dos bundle
ogDescription: Want to Play Take Down? 🕹 On Dos Zone you can play Take Down OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Take Down
permalink: /take-down-jun-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftake-down.jsdos
description: "Take Down is a tag-team wrestling game in which one or two players
  assemble their two-man powerhouse from a line-up of 8 wrestlers: Mr. Cool,
  Sgt. Slam, Tomahawk, Iron Head, Viking, Sea Dawg, Sultan, Ninja. Each wrestler
  has a short audio intro when selected. Selecting two of them, players start
  the fight. The gameplay is flown on a static ring without a referee. Both of
  the tag partners are starting the action on the same side of the ring. Every
  wrestler has a few standard moves, including a punch, tag out, jump from the
  turnbuckle and flying body press off the ropes. In addition, each has a set of
  four signature moves (action plus direction), ranging from a basic hip-toss to
  a devastating airplane spin. Once player gets the other guy in a bad way, he
  leaps on top to try to collect the pinfall. The winning squad is treated to a
  little victory dance in the ring, specially embossed belts, and a victory in
  the game's record books. The losers are similarly given a tally in the loss
  column, however this doesn't affect their abilities."
screenshots:
  - https://cdn.dos.zone/original/2X/5/5a2f4dfa05c1d349459037e20241caefe96367ae.png
  - https://cdn.dos.zone/original/2X/8/8a64adf087559e3cfce75701690cca6d79b8fa4b.png
---
