---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tamoret-the-adventure-to-the-fourth-dimension.jsdos
layout: page.njk
ogDescription: 'Tamoret: The Adventure to the Fourth Dimension is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Tamoret: The Adventure to the Fourth Dimension on mobile. On
  DOS.Zone Tamoret: The Adventure to the Fourth Dimension available to play for free
  without registration.'
permalink: /tamoret-the-adventure-to-the-fourth-dimension-mar-06-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/f3c8af5eb4942034c26b3c9a39d0c169675c87bf.png
- https://cdn.dos.zone/original/2X/7/77c42ae49c79b8ec6788c62878abe56e04993bf7.png
shortTitle: 'Tamoret: The Adventure to the Fourth Dimension'
title: 'Tamoret: The Adventure to the Fourth Dimension | 🕹️Play Tamoret: The Adventure
  to the Fourth Dimension Online | DOS game in browser'

---
