---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tangled-tales.jsdos
layout: page.njk
ogDescription: Tangled Tales is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tangled Tales
  on mobile. On DOS.Zone Tangled Tales available to play for free without registration.
permalink: /tangled-tales-oct-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8bf79968da235f520f33a8b362652a6dbcc60143.gif
- https://cdn.dos.zone/original/2X/c/c710983e904dac633cbe10fb749481a705f43d2c.png
shortTitle: Tangled Tales
title: Tangled Tales | 🕹️Play Tangled Tales Online | DOS game in browser

---
