---
layout: page.njk
title: Tangled Tales | 🕹️Play Tangled Tales Online | Download js-dos bundle
ogDescription: Want to Play Tangled Tales? 🕹 On Dos Zone you can play Tangled
  Tales OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tangled Tales
permalink: /tangled-tales-oct-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftangled-tales.jsdos
description: You're a wizard's apprentice whose  Master has taken access to your
  spells. To get them back, you need to complete three quests. Create your
  character by assigning points to Strength, Intelligence, Speed and Charisma,
  before setting off. This role-playing title is specifically aimed at younger
  people and non-hardcore roleplaying gamers. The screen display is split into a
  text window, a graphical window and a movement window. A comical mish-mash of
  characters ranging from knights to surfers await, each with their own part in
  solving your quests. You must learn new spells and fight when required, also
  recruiting people and spending money at many stages of the adventure, which
  takes in over 100 screens.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8bf79968da235f520f33a8b362652a6dbcc60143.gif
  - https://cdn.dos.zone/original/2X/c/c710983e904dac633cbe10fb749481a705f43d2c.png
---
