---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tankgame.jsdos
layout: page.njk
ogDescription: Tankgame is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tankgame on
  mobile. On DOS.Zone Tankgame available to play for free without registration.
permalink: /tankgame-1995/
screenshots:
- https://cdn.dos.zone/original/2X/5/548e5084f687122da80b16db3b2df80cedb12ded.png
- https://cdn.dos.zone/original/2X/3/308076330294d6e7680236968d8b8776a7205351.png
shortTitle: Tankgame
title: Tankgame | 🕹️Play Tankgame Online | DOS game in browser

---
