---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tank2.jsdos
layout: page.njk
ogDescription: Tank2 is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Tank2 on mobile.
  On DOS.Zone Tank2 available to play for free without registration.
permalink: /tank2-2000/
screenshots:
- https://cdn.dos.zone/original/2X/5/5c6d80a90e2fdf7bfd70caf858b98805999d27cc.png
- https://cdn.dos.zone/original/2X/3/3c1ec4a839d1da89d7e5018080aee343e4b3f80.png
shortTitle: Tank2
title: Tank2 | 🕹️Play Tank2 Online | DOS game in browser

---
