---
layout: page.njk
title: Tankgame | 🕹️Play Tankgame Online | Download js-dos bundle
ogDescription: Want to Play Tankgame? 🕹 On Dos Zone you can play Tankgame OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Tankgame
permalink: /tankgame-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftankgame.jsdos
description: 'Tankgame is a freeware clone of the game Combat. It features a
  two-players mode and supports joysticks. Side notes : the game has sounds and
  is free but if you finish it and email the code from the 13th level to the
  author (Kirk Christiansen), he used to send extra codes and informations about
  a "deluxe version", with SoundBlaster support.'
screenshots:
  - https://cdn.dos.zone/original/2X/5/548e5084f687122da80b16db3b2df80cedb12ded.png
  - https://cdn.dos.zone/original/2X/3/308076330294d6e7680236968d8b8776a7205351.png
---
