---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tank___.jsdos
layout: page.njk
ogDescription: Tank is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Tank on mobile.
  On DOS.Zone Tank available to play for free without registration.
permalink: /tank-1983/
screenshots:
- https://cdn.dos.zone/original/2X/9/9b6cddcb6439a177f2a9484aed9325ad08ad4155.png
- https://cdn.dos.zone/original/2X/2/205b28498966a947719ea75937b2e1f92f4b85ec.png
shortTitle: Tank
title: Tank | 🕹️Play Tank Online | DOS game in browser

---
