---
layout: page.njk
title: Tank | 🕹️Play Tank Online | Download js-dos bundle
ogDescription: Want to Play Tank? 🕹 On Dos Zone you can play Tank OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Tank
permalink: /tank-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftank___.jsdos
description: A simple game of tank combat in ASCII graphics, requiring two human
  players.  The combatants start off at opposite corners of the walled arena,
  and can move and fire in four directions, each using a different side of the
  keyboard.  Ammo is unlimited, and the first player to score five hits on the
  opponent wins the game.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b6cddcb6439a177f2a9484aed9325ad08ad4155.png
  - https://cdn.dos.zone/original/2X/2/205b28498966a947719ea75937b2e1f92f4b85ec.png
---
