---
layout: page.njk
title: Targhan | 🕹️Play Targhan Online | Download js-dos bundle
ogDescription: Want to Play Targhan? 🕹 On Dos Zone you can play Targhan OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Targhan
permalink: /targhan-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftarghan.jsdos
description: The events of Targhan take place in medieval times; the game's
  setting and gameplay are similar to those of Golden Axe. The plot involves a
  lone warrior traveling the land far and wide, killing all manner of beasts,
  with the end goal in mind to kill an evil lord who has gotten too big for his
  britches.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f52112cbe66c1e52c481c17d4e75005cc1376094.png
  - https://cdn.dos.zone/original/2X/a/a531af2106e4e6f8a1fdc46451d071afcd3c94e6.gif
---
