---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/targhan.jsdos
layout: page.njk
ogDescription: Targhan is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Targhan on
  mobile. On DOS.Zone Targhan available to play for free without registration.
permalink: /targhan-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/f52112cbe66c1e52c481c17d4e75005cc1376094.png
- https://cdn.dos.zone/original/2X/a/a531af2106e4e6f8a1fdc46451d071afcd3c94e6.gif
shortTitle: Targhan
title: Targhan | 🕹️Play Targhan Online | DOS game in browser

---
