---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/target_.jsdos
layout: page.njk
ogDescription: Target is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Target on mobile.
  On DOS.Zone Target available to play for free without registration.
permalink: /target-oct-1982/
screenshots:
- https://cdn.dos.zone/original/2X/2/28d8c7fd0e56bd4b22a8f432ea7740fd0a3c147c.png
- https://cdn.dos.zone/original/2X/7/7df2395f4659ea0daeacb55562a2bf28237cf689.png
shortTitle: Target
title: Target | 🕹️Play Target Online | DOS game in browser

---
