---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/techno-cop.jsdos
layout: page.njk
ogDescription: Techno Cop is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Techno Cop
  on mobile. On DOS.Zone Techno Cop available to play for free without registration.
permalink: /techno-cop-jun-1989/
screenshots: []
shortTitle: Techno Cop
title: Techno Cop | 🕹️Play Techno Cop Online | DOS game in browser

---
