---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/teenage-mutant-ninja-turtles__.jsdos
layout: page.njk
ogDescription: Teenage Mutant Ninja Turtles is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Teenage Mutant Ninja Turtles on mobile. On DOS.Zone Teenage Mutant Ninja Turtles
  available to play for free without registration.
permalink: /teenage-mutant-ninja-turtles-1992/
screenshots:
- https://cdn.dos.zone/original/2X/3/31197d2f86923aecf2fc7e99236a4a1495f96a43.gif
- https://cdn.dos.zone/original/2X/1/18b231a165b0cc87c1bd09e9f2196b961489b3aa.png
shortTitle: Teenage Mutant Ninja Turtles
title: Teenage Mutant Ninja Turtles | 🕹️Play Teenage Mutant Ninja Turtles Online |
  DOS game in browser

---
