---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/teen-agent.jsdos
layout: page.njk
ogDescription: Teen Agent is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Teen Agent
  on mobile. On DOS.Zone Teen Agent available to play for free without registration.
permalink: /teen-agent-1995/
screenshots:
- https://cdn.dos.zone/original/2X/9/99cfc7cadd8b4730f413647a2e2ae4c041d38db4.png
- https://cdn.dos.zone/original/2X/a/aae579cf3976bd96f3e350b10ff9f7b05366ce91.png
shortTitle: Teen Agent
title: Teen Agent | 🕹️Play Teen Agent Online | DOS game in browser

---
