---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/teenage-queen.jsdos
layout: page.njk
ogDescription: Teenage Queen is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Teenage Queen
  on mobile. On DOS.Zone Teenage Queen available to play for free without registration.
permalink: /teenage-queen-1988/
screenshots:
- https://cdn.dos.zone/original/2X/a/a58122f1cdbb9d6f2f2f999eb5359ac2627e00db.gif
- https://cdn.dos.zone/original/2X/b/be6ca882d5a84b31c7ae8900a69c8b86205f4fa3.png
shortTitle: Teenage Queen
title: Teenage Queen | 🕹️Play Teenage Queen Online | DOS game in browser

---
