---
layout: page.njk
title: TEGL Klondike Solitaire | 🕹️Play TEGL Klondike Solitaire Online |
  Download js-dos bundle
ogDescription: Want to Play TEGL Klondike Solitaire? 🕹 On Dos Zone you can play
  TEGL Klondike Solitaire OR donwload js-dos bundle for free. Start playing now!
shortTitle: TEGL Klondike Solitaire
permalink: /tegl-klondike-solitaire-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftegl-klondike-solitaire.jsdos
description: >-
  This is a solitaire card game, using the rules for Klondike Solitaire.


  The game is played with one 4-suite deck of 52 cards.


  The game layout starts with a row of seven cards, with the leftmost face-up, the others face down,

  then adds to this six cards on the previous face-down row, with the left-most face up and so on

  until there is a diagonal of face-up cards in seven columns of increasing length, left to right.


  On the diagonal layout, you build downward, alternating color suites, moving cards between  columns and taking free cards from the remaining deck. Kings are the only card allowed to be placed on empty columns.

  You are building suites of cards on the four aces upward, on four stacks on top of the layout, and the object is to end up with all suites sorted in separate stacks on the top.


  This game allows cheating, and has option to ignore rules completely, or just allow cheating in single instances.

  Individual game layouts can be replayed by referring to the game number shown in the lower right of the screen.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2366fc6bf4c17bdf6f4a3236e69e106d6f4b8330.png
  - https://cdn.dos.zone/original/2X/b/b3bd098a9275bc05c4224e032367ce091557ce2f.png
---
