---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/telecards.jsdos
layout: page.njk
ogDescription: TeleCards is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in TeleCards
  on mobile. On DOS.Zone TeleCards available to play for free without registration.
permalink: /telecards-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/6b0fa54313ff3fae5f22016ac6b0b2bdbb11f9e0.png
- https://cdn.dos.zone/original/2X/1/19cbe7047abd518932800c48baad1eb25ec9164b.png
shortTitle: TeleCards
title: TeleCards | 🕹️Play TeleCards Online | DOS game in browser

---
