---
layout: page.njk
title: TeleCards | 🕹️Play TeleCards Online | Download js-dos bundle
ogDescription: Want to Play TeleCards? 🕹 On Dos Zone you can play TeleCards OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: TeleCards
permalink: /telecards-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftelecards.jsdos
description: TeleCards is a set of card games that can be played against the
  computer or against another person via either a modem or a serial link. The
  three games available are Crazy Eights, Cribbage and Gin Rummy. They are
  played with the mouse and they can be saved and resumed at a later time.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6b0fa54313ff3fae5f22016ac6b0b2bdbb11f9e0.png
  - https://cdn.dos.zone/original/2X/1/19cbe7047abd518932800c48baad1eb25ec9164b.png
---
