---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/terroid.jsdos
layout: page.njk
ogDescription: Terroid is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Terroid on
  mobile. On DOS.Zone Terroid available to play for free without registration.
permalink: /terroid-oct-1996/
screenshots:
- https://cdn.dos.zone/original/2X/6/6423ddf9c7d1ad709022e1bcef262a00bb54dd2f.png
- https://cdn.dos.zone/original/2X/9/9f00817eedba333d913bd80ed5145000cd28ca52.png
shortTitle: Terroid
title: Terroid | 🕹️Play Terroid Online | DOS game in browser

---
