---
layout: page.njk
title: Test Drive | 🕹️Play Test Drive Online | Download js-dos bundle
ogDescription: Want to Play Test Drive? 🕹 On Dos Zone you can play Test Drive
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Test Drive
permalink: /test-drive-dec-1987/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2Fa%2Fabcf902327ce1cf6fe7b3e8c809d638984377d7c.jsdos
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftest-drive.jsdos
description: This mix of racing simulation and arcade game consists of driving a
  choice of 5 sports cars on a mountain strip at the fastest speed possible
  without getting caught by the cops.  To avoid them, use your radar detector --
  or just try to outrun them if they spot you.  Manual stickshift only, so make
  sure you don't redline or you'll blow your engine.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7f40ebdca8686ffa3e5b3f9a1fef5ef27ac679cd.gif
  - https://cdn.dos.zone/original/2X/d/d87d84a07dbf6c1a0f25cf567fd7d693c4229f8a.gif
---
