---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/a/abcf902327ce1cf6fe7b3e8c809d638984377d7c.jsdos
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/test-drive.jsdos
layout: page.njk
ogDescription: Test Drive is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Test Drive
  on mobile. On DOS.Zone Test Drive available to play for free without registration.
permalink: /test-drive-dec-1987/
screenshots:
- https://cdn.dos.zone/original/2X/7/7f40ebdca8686ffa3e5b3f9a1fef5ef27ac679cd.gif
- https://cdn.dos.zone/original/2X/d/d87d84a07dbf6c1a0f25cf567fd7d693c4229f8a.gif
shortTitle: Test Drive
title: Test Drive | 🕹️Play Test Drive Online | DOS game in browser

---
