---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tetris-classic.jsdos
layout: page.njk
ogDescription: Tetris Classic is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tetris Classic
  on mobile. On DOS.Zone Tetris Classic available to play for free without registration.
permalink: /tetris-classic-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/797636ecc020c7d127137e51349121860ef286ce.png
- https://cdn.dos.zone/original/2X/2/212ec8fd105d979af6beb6f9ea0ed104f4dd1c.png
shortTitle: Tetris Classic
title: Tetris Classic | 🕹️Play Tetris Classic Online | DOS game in browser

---
