---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tetram.jsdos
layout: page.njk
ogDescription: TetRAM is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in TetRAM on mobile.
  On DOS.Zone TetRAM available to play for free without registration.
permalink: /tetram-jul-15-2000/
screenshots:
- https://cdn.dos.zone/original/2X/a/a0edf875bd0f1440d6bb1dcdc2b236e96589612a.png
- https://cdn.dos.zone/original/2X/2/214471c04c06b1acac517110d09b83c225759219.png
shortTitle: TetRAM
title: TetRAM | 🕹️Play TetRAM Online | DOS game in browser

---
