---
layout: page.njk
title: Tetris | 🕹️Play Tetris Online | Download js-dos bundle
ogDescription: Want to Play Tetris? 🕹 On Dos Zone you can play Tetris OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Tetris
permalink: /tetris-1986/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F3%2F37ce97891bc876adc2cbb7e44e4018c95644a19c.jsdos
description: Tetris is a computer adaptation of a mathematical puzzle game based
  on the concept of "pentominoes" -  five equal squares joined together in
  various ways to make geometric shapes. Created by the Russian game designer
  Alexey Pazhitnov, it first appeared on Shareware BBSs in 1986 for the IBM
  PC.  Many clones, variants, and enhanced versions have been released ever
  since. The basic idea is to efficiently pack an empty box with variously
  shaped blocks (six in this original version) that fall down into it.  Fitting
  them together to complete lines (rows), use your keyboard to rotate, move and
  drop the blocks into position as they fall.  When you succeed in completing a
  line (all empty spaces filled in it), the line (or row) disappears, making
  room for more.  The faster you go, the higher your score. The speed in which
  the blocks appear and descend increases when you reach higher levels. The
  shapes of the blocks are random, so the game is different each time you play.
screenshots:
  - https://cdn.dos.zone/original/2X/7/776babc850de13154dc2b89db6810afd7c5c8b8d.gif
  - https://cdn.dos.zone/original/2X/7/7aeb6f7cfc2ec64da13c9c68a4e350044b3a85cf.gif
---
