---
layout: page.njk
title: Tetris Classic | 🕹️Play Tetris Classic Online | Download js-dos bundle
ogDescription: Want to Play Tetris Classic? 🕹 On Dos Zone you can play Tetris
  Classic OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tetris Classic
permalink: /tetris-classic-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftetris-classic.jsdos
description: An enhanced remake of the classic puzzle game Tetris in which you
  control the position and rotation of falling blocks and try to assemble and
  clear lines of blocks as they fall before the play area gets flooded. The
  release doesn't make any changes to the original formula, but instead brings
  the game up to date technology-wise and features completely new VGA graphics
  and full digitized sound, with new backgrounds and tunes based on Russian
  mythology and folk tales. Additionally the game features 2-player simultaneous
  gameplay, with both competitive (in two separate play areas) or cooperative
  (with two sets of falling pieces in an extra-large play area) modes.
screenshots:
  - https://cdn.dos.zone/original/2X/7/797636ecc020c7d127137e51349121860ef286ce.png
  - https://cdn.dos.zone/original/2X/2/212ec8fd105d979af6beb6f9ea0ed104f4dd1c.png
---
