---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tetrolis.jsdos
layout: page.njk
ogDescription: Tetrolis is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tetrolis on
  mobile. On DOS.Zone Tetrolis available to play for free without registration.
permalink: /tetrolis-1993/
screenshots:
- https://cdn.dos.zone/original/2X/4/46bf1204d2246ab5928cc1ae5b7f0725a9e297f.png
- https://cdn.dos.zone/original/2X/3/3dc9a7e32fd3eeb98401c617bc09572a318fb6ed.png
shortTitle: Tetrolis
title: Tetrolis | 🕹️Play Tetrolis Online | DOS game in browser

---
