---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/3/37ce97891bc876adc2cbb7e44e4018c95644a19c.jsdos
layout: page.njk
ogDescription: Tetris is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Tetris on mobile.
  On DOS.Zone Tetris available to play for free without registration.
permalink: /tetris-1986/
screenshots:
- https://cdn.dos.zone/original/2X/7/776babc850de13154dc2b89db6810afd7c5c8b8d.gif
- https://cdn.dos.zone/original/2X/7/7aeb6f7cfc2ec64da13c9c68a4e350044b3a85cf.gif
shortTitle: Tetris
title: Tetris | 🕹️Play Tetris Online | DOS game in browser

---
