---
layout: page.njk
title: "The Simpsons: Bart vs. the Space Mutants | 🕹️Play The Simpsons: Bart
  vs. the Space Mutants Online | Download js-dos bundle"
ogDescription: "Want to Play The Simpsons: Bart vs. the Space Mutants? 🕹 On Dos
  Zone you can play The Simpsons: Bart vs. the Space Mutants OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "The Simpsons: Bart vs. the Space Mutants"
permalink: /the-simpsons-bart-vs-the-space-mutants-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsimpsons-bart-vs-the-space-mutants.jsdos
description: ""
screenshots: []
---
