---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/california-raisins.jsdos
layout: page.njk
ogDescription: The California Raisins is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The California Raisins on mobile. On DOS.Zone The California Raisins available
  to play for free without registration.
permalink: /the-california-raisins-1988/
screenshots:
- https://cdn.dos.zone/original/2X/a/ae7a8dfa6f78b7a9f4df59849dafbf29176ac6d4.gif
- https://cdn.dos.zone/original/2X/d/d430d78d9a55a7e0479faef0fb43f472d681c6a6.gif
shortTitle: The California Raisins
title: The California Raisins | 🕹️Play The California Raisins Online | DOS game in
  browser

---
