---
layout: page.njk
title: "The Bard's Quest: Dungeons of the Unknown | 🕹️Play The Bard's Quest:
  Dungeons of the Unknown Online | Download js-dos bundle"
ogDescription: "Want to Play The Bard's Quest: Dungeons of the Unknown? 🕹 On
  Dos Zone you can play The Bard's Quest: Dungeons of the Unknown OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "The Bard's Quest: Dungeons of the Unknown"
permalink: /the-bards-quest-dungeons-of-the-unknown-feb-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbards-quest-dungeons-of-the-unknown.jsdos
description: >-
  The Bard's Quest is a shareware role-playing game created with the The Bard's
  Tale Construction Set. The author describes the game as "loosely based on the
  Bard's Tale series", and the plot begins in the same place as the sample
  scenario shipped with the Construction Set : the village of Isil Thania. The
  player's initial objective is to assemble a party of adventurers and
  investigate the legend of the mysterious Star Light Cult. The game is split
  into three parts:

  The Bards Quest I: The Legend of Isil Thania (shareware episode)

  The Bard's Quest II: The Warlock of Firetop Mountain (registered episode)

  The Bard's Quest III: Dungeons of Darkness (registered episode)

  The second episode could be ordered with or without the third one. Apart from two more episodes, registered users would receive cluebooks, maps and free updates for 12 months, according to the shareware manual.
screenshots:
  - https://cdn.dos.zone/original/2X/e/eaa206c46f44ee327830ab6662ebae00dacbfb89.png
  - https://cdn.dos.zone/original/2X/2/2e4e028bf6ab2824fcbb45f814cc57228860ab2a.png
---
