---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/witness.jsdos
layout: page.njk
ogDescription: The Witness is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Witness
  on mobile. On DOS.Zone The Witness available to play for free without registration.
permalink: /the-witness-1984/
screenshots:
- https://cdn.dos.zone/original/2X/5/58e7a3016e224a4296f16ed3e21a65bf367cc94a.gif
shortTitle: The Witness
title: The Witness | 🕹️Play The Witness Online | DOS game in browser

---
