---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hitchhikers-guide-to-the-galaxy.jsdos
layout: page.njk
ogDescription: The Hitchhiker's Guide to the Galaxy is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in The Hitchhiker's Guide to the Galaxy on mobile. On DOS.Zone The
  Hitchhiker's Guide to the Galaxy available to play for free without registration.
permalink: /the-hitchhikers-guide-to-the-galaxy-oct-1984/
screenshots:
- https://cdn.dos.zone/original/2X/6/6e894cac8c819495598b718c4369d42c7723885.png
- https://cdn.dos.zone/original/2X/a/acecf925491668fc78728dce1dafbd07ce6eb601.gif
shortTitle: The Hitchhiker's Guide to the Galaxy
title: The Hitchhiker's Guide to the Galaxy | 🕹️Play The Hitchhiker's Guide to the
  Galaxy Online | DOS game in browser

---
