---
layout: page.njk
title: "The Dream Team: 3 on 3 Challenge | 🕹️Play The Dream Team: 3 on 3
  Challenge Online | Download js-dos bundle"
ogDescription: "Want to Play The Dream Team: 3 on 3 Challenge? 🕹 On Dos Zone
  you can play The Dream Team: 3 on 3 Challenge OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "The Dream Team: 3 on 3 Challenge"
permalink: /the-dream-team-3-on-3-challenge-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdream-team-3-on-3-challenge.jsdos
description: Three-on-three basketball game featuring Patrick Ewing, Joe Dumars
  and Dominique Wilkins. Play as the 'Dream Team' or against the 'Dream
  Team'.  The game features asphalt and hardwood courts in a few different
  locations. The game has 15 set plays that the players can execute, and a
  playmaker utility that allows you to come up with your own plays. The game
  also has a player-management utility that allows you to edit player
  attributes.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8b18c8cf3d705a16cd486f72f14569bfd1ec7764.png
  - https://cdn.dos.zone/original/2X/6/6b6903b2e99f880c41147af73960f9d25ccfca70.png
---
