---
layout: page.njk
title: The Amazing Spider-Man and Captain America in Dr. Doom's Revenge! |
  🕹️Play The Amazing Spider-Man and Captain America in Dr. Doom's Revenge!
  Online | Download js-dos bundle
ogDescription: Want to Play The Amazing Spider-Man and Captain America in Dr.
  Doom's Revenge!? 🕹 On Dos Zone you can play The Amazing Spider-Man and
  Captain America in Dr. Doom's Revenge! OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: The Amazing Spider-Man and Captain America in Dr. Doom's Revenge!
permalink: /the-amazing-spider-man-and-captain-america-in-dr-dooms-revenge-may-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famazing-spider-man-and-captain-america-in-dr-dooms-revenge.jsdos
description: Latverian president Dr. Doom is a terrible enemy, so when he
  hatches a plan to blow up New York City with a stolen Atomic bomb, one Marvel
  superhero is not enough to stop him. As the lavishly-drawn comic bundled with
  the game explains, Spider-Man and Captain America must join forces to go to
  Latveria and foil his plans. The main action in the game is a side-scrolling
  beat 'em up, in which you alternately control the two characters. They each
  have their own moves to deal with The Rhino, Electro and other foes. Moves are
  context-sensitive based on the distance between your character and the
  opponent. Energy bars decrease as you each take hits. After each section you
  get comic-book sequences as a reward, and to set the scene of the evolving
  story.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2109eab4eacd2d0aa92ab5923d395d420fe5f194.gif
  - https://cdn.dos.zone/original/2X/8/86fae013277fc0cc55ac49d4e0aab5af647bd25.png
---
