---
layout: page.njk
title: "The Scottish Open: Virtual Golf | 🕹️Play The Scottish Open: Virtual
  Golf Online | Download js-dos bundle"
ogDescription: "Want to Play The Scottish Open: Virtual Golf? 🕹 On Dos Zone you
  can play The Scottish Open: Virtual Golf OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "The Scottish Open: Virtual Golf"
permalink: /the-scottish-open-virtual-golf-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fscottish-open-virtual-golf.jsdos
description: In the golf simulator you are allowed to win in Scottish Open on
  Championship Golf Courses, including The Bowery, Kilmarney, Penperro, and
  Carnoustie. There are many players in the game, who can rise during the
  playing. You can choose, edit or create one of them. Choosing a club, striking
  a ball, and counting turns, you have to beat your opponents, taking into
  account wind and height of landscape. The game employs 3 different camera
  angles to capture the most realistic aspect on the course.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d9bfca04516f86c100bd5d27461b96f749fd83d7.png
  - https://cdn.dos.zone/original/2X/1/10e3a90cd46af6f8e6f94f05b2d0733080be4d5d.png
---
