---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventure_____.jsdos
layout: page.njk
ogDescription: The Adventure is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Adventure
  on mobile. On DOS.Zone The Adventure available to play for free without registration.
permalink: /the-adventure-1988/
screenshots:
- https://cdn.dos.zone/original/2X/3/3cb34aa7259e872db54738109fa7af504abaeda9.png
- https://cdn.dos.zone/original/2X/a/a3ae4f1310e224b51a7ab56d2544b9af4b48a9e8.png
shortTitle: The Adventure
title: The Adventure | 🕹️Play The Adventure Online | DOS game in browser

---
