---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sporting-news-baseball_.jsdos
layout: page.njk
ogDescription: The Sporting News Baseball is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Sporting News Baseball on mobile. On DOS.Zone The Sporting News Baseball
  available to play for free without registration.
permalink: /the-sporting-news-baseball-may-1989/
screenshots:
- https://cdn.dos.zone/original/2X/e/e193de01c85b4dbee5752a30f5be6551a8b12fdd.png
- https://cdn.dos.zone/original/2X/3/3998a36ceb06ad00ce5ebc8310fec2a7eb659491.png
shortTitle: The Sporting News Baseball
title: The Sporting News Baseball | 🕹️Play The Sporting News Baseball Online | DOS
  game in browser

---
