---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dark-queen-of-krynn.jsdos
layout: page.njk
ogDescription: The Dark Queen of Krynn is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Dark Queen of Krynn on mobile. On DOS.Zone The Dark Queen of Krynn available
  to play for free without registration.
permalink: /the-dark-queen-of-krynn-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a033db56b29c48d62aac54c310f1e7eae7f123d0.gif
- https://cdn.dos.zone/original/2X/3/33bb757e63406f4e838ac76c62645a4c69e76c7f.gif
shortTitle: The Dark Queen of Krynn
title: The Dark Queen of Krynn | 🕹️Play The Dark Queen of Krynn Online | DOS game
  in browser

---
