---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/summoning.jsdos
layout: page.njk
ogDescription: The Summoning is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Summoning
  on mobile. On DOS.Zone The Summoning available to play for free without registration.
permalink: /the-summoning-1992/
screenshots:
- https://cdn.dos.zone/original/2X/b/bb7e26af531d6be327e0e1e70598d7b3bae06066.png
- https://cdn.dos.zone/original/2X/b/bad68b0bbe823fa9822a4c59dc899e006b0b899d.png
shortTitle: The Summoning
title: The Summoning | 🕹️Play The Summoning Online | DOS game in browser

---
