---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/aeronautics-quiz-mk-2.jsdos
layout: page.njk
ogDescription: The Aeronautics Quiz MK 2 is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Aeronautics Quiz MK 2 on mobile. On DOS.Zone The Aeronautics Quiz MK 2 available
  to play for free without registration.
permalink: /the-aeronautics-quiz-mk-2-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/31903d7409e8c50420538eae7d1c201d869af0c6.gif
- https://cdn.dos.zone/original/2X/7/7483a2e8e844b7852a94e0352718d6101294808f.gif
shortTitle: The Aeronautics Quiz MK 2
title: The Aeronautics Quiz MK 2 | 🕹️Play The Aeronautics Quiz MK 2 Online | DOS game
  in browser

---
