---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dark-convergence-ii.jsdos
layout: page.njk
ogDescription: The Dark Convergence II is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Dark Convergence II on mobile. On DOS.Zone The Dark Convergence II available
  to play for free without registration.
permalink: /the-dark-convergence-ii-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/cea2af237fa48ddae5770adee8eb444e6d68b310.png
- https://cdn.dos.zone/original/2X/6/68f73415ea2f66367d3d6e90fe4035c5d5aab23d.png
shortTitle: The Dark Convergence II
title: The Dark Convergence II | 🕹️Play The Dark Convergence II Online | DOS game
  in browser

---
