---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blues-brothers.jsdos
layout: page.njk
ogDescription: The Blues Brothers is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Blues Brothers on mobile. On DOS.Zone The Blues Brothers available to play for
  free without registration.
permalink: /the-blues-brothers-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/66b3b3551e6015d79a5c4b9f831b7433b399b3ff.png
- https://cdn.dos.zone/original/2X/a/a392451d27383068b79651289f2648204ae23109.png
shortTitle: The Blues Brothers
title: The Blues Brothers | 🕹️Play The Blues Brothers Online | DOS game in browser

---
