---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/nfs.jsdos
layout: page.njk
ogDescription: The Need for Speed is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Need for Speed on mobile. On DOS.Zone The Need for Speed available to play for
  free without registration.
permalink: /the-need-for-speed-sep-1995/
screenshots:
- https://cdn.dos.zone/original/2X/e/e5f62e0da3b896347644ea61bc775071ad01328f.png
- https://cdn.dos.zone/original/2X/6/6d911f376a15737a09759ab87e52317822c6f62d.png
shortTitle: The Need for Speed
title: The Need for Speed | 🕹️Play The Need for Speed Online | DOS game in browser
youtube: LbbPdsBV4OM?start=6

---
