---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/price-is-right.jsdos
layout: page.njk
ogDescription: The Price is Right is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Price is Right on mobile. On DOS.Zone The Price is Right available to play for
  free without registration.
permalink: /the-price-is-right-1990/
screenshots:
- https://cdn.dos.zone/original/2X/f/f0f32325089dbbffb4ac51c37d467ff6b38a9ebc.png
- https://cdn.dos.zone/original/2X/7/79a2894d4f1e02cd8bc1b8a188b049b7673d505c.png
shortTitle: The Price is Right
title: The Price is Right | 🕹️Play The Price is Right Online | DOS game in browser

---
