---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/galaxians_.jsdos
layout: page.njk
ogDescription: The Galaxians is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Galaxians
  on mobile. On DOS.Zone The Galaxians available to play for free without registration.
permalink: /the-galaxians-1997/
screenshots:
- https://cdn.dos.zone/original/2X/4/41ab4c7be7604768b7a2aa08ee810acc95f0284c.png
- https://cdn.dos.zone/original/2X/1/14144010523a461492f533c76e2b1602d08206ec.png
shortTitle: The Galaxians
title: The Galaxians | 🕹️Play The Galaxians Online | DOS game in browser

---
