---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/child-murderer.jsdos
layout: page.njk
ogDescription: The Child Murderer is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Child Murderer on mobile. On DOS.Zone The Child Murderer available to play for
  free without registration.
permalink: /the-child-murderer-1996/
screenshots:
- https://cdn.dos.zone/original/2X/4/47216fbcc6b70d127698322e948e68bb0fc3e175.png
- https://cdn.dos.zone/original/2X/7/79512fe797e7b88b59c67b60b1b355c05e2b43a6.png
shortTitle: The Child Murderer
title: The Child Murderer | 🕹️Play The Child Murderer Online | DOS game in browser

---
