---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/great-sage-heavens-equal.jsdos
layout: page.njk
ogDescription: 'The Great Sage: Heaven''s Equal is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Great Sage: Heaven''s Equal on mobile. On DOS.Zone The Great Sage:
  Heaven''s Equal available to play for free without registration.'
permalink: /the-great-sage-heavens-equal-1995/
screenshots:
- https://cdn.dos.zone/original/2X/4/471bbf562362fe1d558e356986af104c89c869a9.png
- https://cdn.dos.zone/original/2X/9/9ce480fd4cdb79718467a30064727e5ec098c4f7.png
shortTitle: 'The Great Sage: Heaven''s Equal'
title: 'The Great Sage: Heaven''s Equal | 🕹️Play The Great Sage: Heaven''s Equal Online
  | DOS game in browser'

---
