---
layout: page.njk
title: The Final Crusade of Kroz | 🕹️Play The Final Crusade of Kroz Online |
  Download js-dos bundle
ogDescription: Want to Play The Final Crusade of Kroz? 🕹 On Dos Zone you can
  play The Final Crusade of Kroz OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Final Crusade of Kroz
permalink: /the-final-crusade-of-kroz-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffinal-crusade-of-kroz.jsdos
description: "The final part of the Super Kroz trilogy. Although the aims are
  the same as before (i.e. solve puzzles and kill monsters to solve levels), the
  ultimate aim of the Kroz series was achieved: to collect a certain amulet."
screenshots:
  - https://cdn.dos.zone/original/2X/2/2f676faabad0a233ab4a1dd0b97d195c9ab27f6c.png
  - https://cdn.dos.zone/original/2X/e/efe6cdecc168df3b6dececbf063d597b152420b7.png
---
