---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/day-4-icarus.jsdos
layout: page.njk
ogDescription: 'The Day 4: Icarus is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Day 4: Icarus on mobile. On DOS.Zone The Day 4: Icarus available to play for
  free without registration.'
permalink: /the-day-4-icarus-jun-1994/
screenshots:
- https://cdn.dos.zone/original/2X/d/ddac4de05849233e996a352ad82c3964561f8dbe.png
- https://cdn.dos.zone/original/2X/7/791013c8f77b6ba7e1e48577d59c8911d2e3a459.png
shortTitle: 'The Day 4: Icarus'
title: 'The Day 4: Icarus | 🕹️Play The Day 4: Icarus Online | DOS game in browser'

---
