---
layout: page.njk
title: "The Faery Tale Adventure: Book I | 🕹️Play The Faery Tale Adventure:
  Book I Online | Download js-dos bundle"
ogDescription: "Want to Play The Faery Tale Adventure: Book I? 🕹 On Dos Zone
  you can play The Faery Tale Adventure: Book I OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "The Faery Tale Adventure: Book I"
permalink: /the-faery-tale-adventure-book-i-aug-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffaery-tale-adventure-book-i.jsdos
description: "Once upon a time, the people of Holm lived happily and peacefully,
  protected by a powerful talisman. But one day, their land was attacked, and
  the talisman stolen. A brave warrior went out to investigate the talisman's
  disappearance, but returned mortally wounded. Before he died, he told his
  three sons that the talisman was stolen by the evil Necromancer, and must be
  retrieved at all costs... The Faery Tale Adventure is a role-playing game in
  which the player can assume control of any of the three brothers - Julian,
  Philip, or Kevin. Each of the three has his own strengths: Julian is the
  archetypal melee fighter, Philip has high luck and intelligence, while Kevin
  is known for his kindness. Should the player fail while controlling one of the
  brothers, the next one will replace him. Each brother will be revived a few
  times when vanquished by an enemy, until his luck runs out, at which point he
  will die permanently. Much of the gameplay is dedicated to exploring the large
  world, interacting with non-playable characters and building up the brothers'
  combat abilities by participating in battles. The fastest-growing parameter is
  bravery, which is comparable to experience points and strength combined. Each
  defeated enemy yields bravery points; as it grows, so does the hero's vitality
  (maximum hit points), albeit at a slower rate.  Combat system is rather simple
  and is done in action style, with the player pressing a key or a mouse button
  while navigating the protagonist towards or away from the enemy. Predating
  Ultima V, the game has a day and night cycle, and the main character has to
  eat and rest. The Faery Tale Adventure is notable for having a very vast
  world, usually considered the largest ever created for a video game at the
  time of its release. Players can explore approximately 17,000 screens of
  terrain. The world is also interconnected, i.e. there are no transitions
  between different types of areas. Items can be dropped by enemies as well as
  found anywhere in the game's world. There is also NPC interaction and quests
  the protagonist can undertake."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c28f85d8a76b7b825e1bb9717fa40eeb7c13dfd1.gif
  - https://cdn.dos.zone/original/2X/d/db2f1c3883898795c997bc25ceb7f253b24006e3.png
---
