---
layout: page.njk
title: The Third Courier | 🕹️Play The Third Courier Online | Download js-dos bundle
ogDescription: Want to Play The Third Courier? 🕹 On Dos Zone you can play The
  Third Courier OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Third Courier
permalink: /the-third-courier-oct-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fthird-courier.jsdos
description: The Third Courier is set in the era of the 'cold war', and the
  action takes place in Germany. The player is an American spy, and his mission
  is to recover stolen NATO defense plans. You start off in your apartment,
  which contains a computer, bugging equipment and an answerphone, as well as
  useful items such as money and a passport. A compass on screen is used to move
  around, with symbols appearing on the left and right of the status screen to
  indicate when something important is to the west or east of you. You will have
  to explore the city streets, with the aid of taxis and the Autobahn. Talk to
  important people and buy key objects, and then sneak around spying on anyone
  who seems suspicious. Encounters with enemy agents, muggers and tramps can
  turn violent; when they do, use your gun quickly to ensure they are shot
  first.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7ba3e9335f0c5c6d55455ee7d5690daec9e91eb3.png
  - https://cdn.dos.zone/original/2X/b/bca28c50e3c2b094a4ede258a0c50bfe815b7326.gif
---
