---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/sentry_.jsdos
layout: page.njk
ogDescription: The Sentry is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Sentry
  on mobile. On DOS.Zone The Sentry available to play for free without registration.
permalink: /the-sentry-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/bca6927b2e1a2d9919f59bbddc36026d45c97ba.png
- https://cdn.dos.zone/original/2X/8/8aa0f91cdab603ed2aa7dd364bae1208cc6743dc.gif
shortTitle: The Sentry
title: The Sentry | 🕹️Play The Sentry Online | DOS game in browser

---
