---
layout: page.njk
title: The Dam Busters | 🕹️Play The Dam Busters Online | Download js-dos bundle
ogDescription: Want to Play The Dam Busters? 🕹 On Dos Zone you can play The Dam
  Busters OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Dam Busters
permalink: /the-dam-busters-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdam-busters.jsdos
description: Dam Busters is an early flight simulation, set in World War II. It
  focuses on Dam Busters who historically were used to heavily bombard strategic
  objectives, in this case dams. This task is not easy, as en route you will
  face heavy opposition forces. Fortunately, you won't be a sitting bomber in
  the air. Your aircraft is equipped with machine guns (left and right) with
  unlimited rounds of fire power, so fire at will as the enemy approaches. When
  the time comes, you will have to bomb the target manually. So, get ready to
  unload the cargo and give them hell!
screenshots:
  - https://cdn.dos.zone/original/2X/1/134063b0dee4679e3eb24b87d8d64ff113f9f808.gif
  - https://cdn.dos.zone/original/2X/e/e5b1e4898e8388dfc6009cf4910706fc8e05be2e.gif
---
