---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/skateboard-kid.jsdos
layout: page.njk
ogDescription: The Skateboard Kid is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Skateboard Kid on mobile. On DOS.Zone The Skateboard Kid available to play for
  free without registration.
permalink: /the-skateboard-kid-1992/
screenshots:
- https://cdn.dos.zone/original/2X/8/88504aad38173023836ea5a1bedb8531fe43e04c.png
- https://cdn.dos.zone/original/2X/1/1ddb0c6262bae94914dd864b0afd624fa59c3fdb.png
shortTitle: The Skateboard Kid
title: The Skateboard Kid | 🕹️Play The Skateboard Kid Online | DOS game in browser

---
