---
layout: page.njk
title: The Queen of Hearts Maze Game | 🕹️Play The Queen of Hearts Maze Game
  Online | Download js-dos bundle
ogDescription: Want to Play The Queen of Hearts Maze Game? 🕹 On Dos Zone you
  can play The Queen of Hearts Maze Game OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: The Queen of Hearts Maze Game
permalink: /the-queen-of-hearts-maze-game-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fqueen-of-hearts-maze-game.jsdos
description: Pac-Man clone in ASCII. Your deck of cards is missing four cards.
  Try to find them while avoiding the crazy cardsharks. There's four powerups,
  one in each corner of the maze, get them to make the cardsharks vulnerable for
  a short time. The game has five levels of difficulty, is keyboard or joystick
  controlled, offers a choice of colour or monochrome display and can be played
  with or without sound
screenshots:
  - https://cdn.dos.zone/original/2X/d/d348e24162ba2d3ec662b062b1912e6d54f6bd6c.gif
  - https://cdn.dos.zone/original/2X/b/be5751e6017badfa5179e6959b1e4c8401917192.png
---
