---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hound-of-shadow.jsdos
layout: page.njk
ogDescription: The Hound of Shadow is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Hound of Shadow on mobile. On DOS.Zone The Hound of Shadow available to play
  for free without registration.
permalink: /the-hound-of-shadow-1989/
screenshots:
- https://cdn.dos.zone/original/2X/3/37b413929af5a1ceceb6ab24aea2af64ebe3450e.png
- https://cdn.dos.zone/original/2X/b/bbbbbd0fe7ab1916030cf2a2c3d9e6651113e843.jpeg
shortTitle: The Hound of Shadow
title: The Hound of Shadow | 🕹️Play The Hound of Shadow Online | DOS game in browser

---
