---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventures-of-lance.jsdos
layout: page.njk
ogDescription: The Adventures of Lance is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Adventures of Lance on mobile. On DOS.Zone The Adventures of Lance available
  to play for free without registration.
permalink: /the-adventures-of-lance-1990/
screenshots:
- https://cdn.dos.zone/original/2X/1/189f0a1da8612c861e8241ee10f47cfcf6722b39.png
- https://cdn.dos.zone/original/2X/8/82de8f0ae8b6d9216b2f9dae9dc085143f87298f.png
shortTitle: The Adventures of Lance
title: The Adventures of Lance | 🕹️Play The Adventures of Lance Online | DOS game
  in browser

---
