---
layout: page.njk
title: The Last Ninja | 🕹️Play The Last Ninja Online | Download js-dos bundle
ogDescription: Want to Play The Last Ninja? 🕹 On Dos Zone you can play The Last
  Ninja OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Last Ninja
permalink: /the-last-ninja-jul-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flast-ninja.jsdos
description: You are the last living member of your ninja clan after they were
  brutally slaughtered. Now, you seek to exact revenge on the evil shogun
  responsible. The Last Ninja is an action/adventure game set in medieval Japan.
  The game is shown in isometric view, and the eponymous ninja can walk in four
  directions, jump, fight the enemies and collect necessary items on his way.
  While fighting, the ninja can use several different blows and block. There are
  a couple of weapons to find, including smoke bombs and shuriken.
screenshots:
  - https://cdn.dos.zone/original/2X/9/902802851644b8f890cd87b8b64d7f575a888601.gif
  - https://cdn.dos.zone/original/2X/f/fba1d27b02e15a5be437daad27d3e428f84b8a0f.gif
---
