---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wild-science-arcade.jsdos
layout: page.njk
ogDescription: The Wild Science Arcade is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Wild Science Arcade on mobile. On DOS.Zone The Wild Science Arcade available
  to play for free without registration.
permalink: /the-wild-science-arcade-feb-05-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/23e3dc9e38d97da6103868809fd0e4eb44307548.png
- https://cdn.dos.zone/original/2X/8/8f3fc464f5d823a3019b7eb648bf02af6daf1794.png
shortTitle: The Wild Science Arcade
title: The Wild Science Arcade | 🕹️Play The Wild Science Arcade Online | DOS game
  in browser

---
