---
layout: page.njk
title: The Castle of Dr. Malvado | 🕹️Play The Castle of Dr. Malvado Online |
  Download js-dos bundle
ogDescription: Want to Play The Castle of Dr. Malvado? 🕹 On Dos Zone you can
  play The Castle of Dr. Malvado OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Castle of Dr. Malvado
permalink: /the-castle-of-dr-malvado-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcastle-of-dr-malvado.jsdos
description: You are a small, modern boy who finds himself in a magical land.
  Dr. Malvado, whose name means Evil in Spanish language, rules in this world
  and he should be stopped by you, because you are a good boy. But in your
  perilous mission different opponents will prevent you from doing this. Such
  opponents are bears, wasps, spiders, ghosts, etc. and any contact with them
  means your death. Fortunately, you are not limited by 1 life but by 3 lives
  and sometimes may be increased with bonus life. To progress in the game, you
  (represented in 2D side-scrolling view) should move left/right, jump over
  obstacles and on the opponents to kill them, collect the bagels, reach the
  checkpoints to resume the game from such place, and going from level to level.
  There are 3 levels in the game, and you should show as high score as possible.
  Originally, the game was made for"DIV Games Studio", game development suite by
  Hammer Technologies.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3ecdeaccc0fedb98cbbcbb14ac21ab648eeb3a46.png
  - https://cdn.dos.zone/original/2X/2/27c1be5a77b9aceef43915f34708e8e43bc40451.png
---
