---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/castle-of-dr-malvado.jsdos
layout: page.njk
ogDescription: The Castle of Dr. Malvado is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Castle of Dr. Malvado on mobile. On DOS.Zone The Castle of Dr. Malvado available
  to play for free without registration.
permalink: /the-castle-of-dr-malvado-2001/
screenshots:
- https://cdn.dos.zone/original/2X/3/3ecdeaccc0fedb98cbbcbb14ac21ab648eeb3a46.png
- https://cdn.dos.zone/original/2X/2/27c1be5a77b9aceef43915f34708e8e43bc40451.png
shortTitle: The Castle of Dr. Malvado
title: The Castle of Dr. Malvado | 🕹️Play The Castle of Dr. Malvado Online | DOS game
  in browser

---
