---
layout: page.njk
title: "The Games: Winter Edition | 🕹️Play The Games: Winter Edition Online |
  Download js-dos bundle"
ogDescription: "Want to Play The Games: Winter Edition? 🕹 On Dos Zone you can
  play The Games: Winter Edition OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "The Games: Winter Edition"
permalink: /the-games-winter-edition-nov-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgames-winter-edition.jsdos
description: "Once again Epyx invites players to compete in winter Olympics.
  This time there are 8 events which can be played, which are: Figure Skating,
  Cross Country Skiing, Speed Skating, Ski Jumping, Slalom, Downhill Skiing and
  Luge. Up to 8 players can either play the complete Olympics, compete in one or
  more events or simply practice an event. Some events can be played
  simultaneously (Cross Country Skiing, Slalom and Speed Skating) while the
  others have to be played one after another."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e78cd86b6d415e0ad6b4b59e702bcbb2e56ad4d2.png
  - https://cdn.dos.zone/original/2X/3/37ceb50bbb3b6ba0bb156befc90fe4b6e356f687.png
---
