---
layout: page.njk
title: The Paddle | 🕹️Play The Paddle Online | Download js-dos bundle
ogDescription: Want to Play The Paddle? 🕹 On Dos Zone you can play The Paddle
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Paddle
permalink: /the-paddle-2002/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fpaddle.jsdos
description: The Paddle is a simple horizontal adaptation of the classic Pong.
  The game allows to compete with a computer or against a human player. Players
  control a paddle represented by a red or blue line. Paddles are on the
  opposite side of the screen, at the top and at the bottom. The game ends when
  one of the players cannot reflect the ball.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8b4172cc2b278041727d75c9e324325607fec789.png
  - https://cdn.dos.zone/original/2X/a/a97198ee9cd70d1eda0b5eb0b7b69214e895a663.png
---
