---
layout: page.njk
title: The IBM BASIC Quiz | 🕹️Play The IBM BASIC Quiz Online | Download js-dos bundle
ogDescription: Want to Play The IBM BASIC Quiz? 🕹 On Dos Zone you can play The
  IBM BASIC Quiz OR donwload js-dos bundle for free. Start playing now!
shortTitle: The IBM BASIC Quiz
permalink: /the-ibm-basic-quiz-feb-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fibm-basic-quiz.jsdos
description: This follow-up to The Computer Quiz features the same engine, but
  its hundred questions deal with the BASIC programming language.  As before,
  the player is given three "men," and loses a man every time a question is
  answered incorrectly. Bonus men can be earned by answering ten questions
  correctly. At the end of play, men are cashed in for points, meaning that the
  best possible score is 113.
screenshots:
  - https://cdn.dos.zone/original/2X/a/afffb726147c974e0ebd39041ce9ca0e85f64a09.png
  - https://cdn.dos.zone/original/2X/c/c58488fee125a966fa9bbfacecd777b764496a45.png
---
