---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/simpsons-barts-house-of-weirdness.jsdos
layout: page.njk
ogDescription: 'The Simpsons: Bart''s House of Weirdness is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Simpsons: Bart''s House of Weirdness on mobile. On DOS.Zone
  The Simpsons: Bart''s House of Weirdness available to play for free without registration.'
permalink: /the-simpsons-barts-house-of-weirdness-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/de68bee8d4d2b92f53fdd92b24dfc5ff63d143a7.png
- https://cdn.dos.zone/original/2X/d/d0304243f86b785cf59a9cc0eb5406490bff6a26.png
shortTitle: 'The Simpsons: Bart''s House of Weirdness'
title: 'The Simpsons: Bart''s House of Weirdness | 🕹️Play The Simpsons: Bart''s House
  of Weirdness Online | DOS game in browser'

---
