---
layout: page.njk
title: The Bugs Bunny Hare-Brained Adventure | 🕹️Play The Bugs Bunny
  Hare-Brained Adventure Online | Download js-dos bundle
ogDescription: Want to Play The Bugs Bunny Hare-Brained Adventure? 🕹 On Dos
  Zone you can play The Bugs Bunny Hare-Brained Adventure OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: The Bugs Bunny Hare-Brained Adventure
permalink: /the-bugs-bunny-hare-brained-adventure-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fbugs-bunny-hare-brained-adventure.jsdos
description: You're Bugs Bunny, the well-known hare from Warner Bros.
  animations.  Now you're trapped in some kind of tower. Run from one room to
  another, avoiding creatures, who are lethal to your hare health, and collect
  useful items.  If you're quick, you'll get away with this tower.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9a76b4080514cfefb8cf13cd467fd51935028c56.png
  - https://cdn.dos.zone/original/2X/2/2b738241fcf7fb7354999c0cb18dc99672d8b4da.gif
---
