---
layout: page.njk
title: The Game of Life | 🕹️Play The Game of Life Online | Download js-dos bundle
ogDescription: Want to Play The Game of Life? 🕹 On Dos Zone you can play The
  Game of Life OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Game of Life
permalink: /the-game-of-life-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgame-of-life.jsdos
description: "The Game of Life is a real-time puzzle game. Calling itself
  modestly \"the ultimate cell simulation\", the Game of Life tries to recreate
  the processes inside a simple organic structure. This body consists of five
  different types of cells: The proto cells (the \"flesh\") will grow quickly
  and aimless, unless you border them with skin. To control proto growth, you
  can install control cells; they consume energy produced by support cells.
  Sense cells will provide you with information about the well-being of your
  organic entity. The basic cells will grow all by themselves, but also rot if
  left unattended. Your task is control: Move or destroy unwanted cell blocks,
  build and link a power supply throughout the structure, prevent decay and (in
  later missions) virus attacks. There are 99 levels to fulfill. Early ones make
  you rebuild a given design; later on, you'll have to reach goals like a
  certain amount of energy stockpiled. The time for each mission is limited."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cb90495fb166a1b132db024c420c010861e5937.gif
  - https://cdn.dos.zone/original/2X/8/8a30536e8de761a733d53ae6034b73f48f74900.gif
---
