---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trials-of-odysseus-kent.jsdos
layout: page.njk
ogDescription: The Trials of Odysseus Kent is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Trials of Odysseus Kent on mobile. On DOS.Zone The Trials of Odysseus Kent
  available to play for free without registration.
permalink: /the-trials-of-odysseus-kent-2002/
screenshots:
- https://cdn.dos.zone/original/2X/3/33e5bc84553c1475aa1f4748316e5b493db647d1.png
- https://cdn.dos.zone/original/2X/7/79f33696ac19e6f109a08de2102490b36b8cd192.png
shortTitle: The Trials of Odysseus Kent
title: The Trials of Odysseus Kent | 🕹️Play The Trials of Odysseus Kent Online | DOS
  game in browser

---
