---
layout: page.njk
title: The Three Stooges | 🕹️Play The Three Stooges Online | Download js-dos bundle
ogDescription: Want to Play The Three Stooges? 🕹 On Dos Zone you can play The
  Three Stooges OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Three Stooges
permalink: /the-three-stooges-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fthree-stooges.jsdos
description: Stars of television and cinema, and now stars of their own video
  game. Join Moe, Larry & Curly (in no particular order) who must collect $5000
  to try and save an orphanage and the young children who live there from the
  evil banker, all while keeping pie out of their face. Featuring platform level
  designs based on classic Stooge scenes from their many TV episodes and movies
  and level objectives re-living many of their antics plus original Stooge
  voices and Stooge trivia.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9553caa78e6d29b8b520e375e59ffd47989a12e7.png
  - https://cdn.dos.zone/original/2X/8/8c9d566bfaa2d18d48207cd7f5cf03d0fe56490c.png
---
