---
layout: page.njk
title: The Hunt for Red October | 🕹️Play The Hunt for Red October Online |
  Download js-dos bundle
ogDescription: Want to Play The Hunt for Red October? 🕹 On Dos Zone you can
  play The Hunt for Red October OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Hunt for Red October
permalink: /the-hunt-for-red-october-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhunt-for-red-october_.jsdos
description: >-
  Based on the movie of the same name which was adapted from the best-seller by

  Tom Clancy. As Jack Ryan (a CIA officer) you must find out if Red October's

  mission is to DEFECT and if that is the situation try to prevent a possible deadly

  war. Red October is Russia's top secret nuclear missile submarine which is heading

  West on her maiden voyage... The game is divided into 5 different action sequences in which you must perform

  various abilities like jumping from a helicopter, navigating big and 

  small submarines through deep and narrow channels while trying to avoid from

  many obstacles.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4df6f15d0c06a9f9581c60ab13ad130bc15b979c.gif
  - https://cdn.dos.zone/original/2X/8/8ebc3a2af78d3aaa0f30fea72d6d650c8bc1c192.gif
---
