---
layout: page.njk
title: The Dark Queen of Krynn | 🕹️Play The Dark Queen of Krynn Online |
  Download js-dos bundle
ogDescription: Want to Play The Dark Queen of Krynn? 🕹 On Dos Zone you can play
  The Dark Queen of Krynn OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Dark Queen of Krynn
permalink: /the-dark-queen-of-krynn-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdark-queen-of-krynn.jsdos
description: The Dark Queen of Krynn is the last part in the Dragonlance RPG
  series using the standard game engine found in the Goldbox series (with slight
  enhancements). Evil, after failing two times before, finally tries to defeat
  Good and conquer the world of Krynn. This time, the Dark Queen herself will
  take command over the forces of Evil. Her aim is to enter Krynn, which would
  ultimately lead to the defeat of Good. The party's task is to prevent this.
  Characters from Death Knights of Krynn can be transferred.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a033db56b29c48d62aac54c310f1e7eae7f123d0.gif
  - https://cdn.dos.zone/original/2X/3/33bb757e63406f4e838ac76c62645a4c69e76c7f.gif
---
