---
layout: page.njk
title: The Keys to Maramon | 🕹️Play The Keys to Maramon Online | Download
  js-dos bundle
ogDescription: Want to Play The Keys to Maramon? 🕹 On Dos Zone you can play The
  Keys to Maramon OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Keys to Maramon
permalink: /the-keys-to-maramon-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkeys-to-maramon.jsdos
description: The Keys to Maramon is set in the same world as Magic Candle, and
  uses a modified engine from said game. This is a single player RPG more aimed
  at novice players. Your job is to clear out all the monsters infesting the
  cellars, dungeons and dark corners of Maramon.
screenshots:
  - https://cdn.dos.zone/original/2X/9/90b0745ffe08cd6dc2d91eb18d9327116e166ea8.png
  - https://cdn.dos.zone/original/2X/4/4eac4064f474678488dba947966531e0bc8d1752.gif
---
