---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/three-stooges.jsdos
layout: page.njk
ogDescription: The Three Stooges is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Three Stooges on mobile. On DOS.Zone The Three Stooges available to play for
  free without registration.
permalink: /the-three-stooges-1987/
screenshots:
- https://cdn.dos.zone/original/2X/9/9553caa78e6d29b8b520e375e59ffd47989a12e7.png
- https://cdn.dos.zone/original/2X/8/8c9d566bfaa2d18d48207cd7f5cf03d0fe56490c.png
shortTitle: The Three Stooges
title: The Three Stooges | 🕹️Play The Three Stooges Online | DOS game in browser

---
