---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/legend-lives.jsdos
layout: page.njk
ogDescription: The Legend Lives! is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Legend Lives! on mobile. On DOS.Zone The Legend Lives! available to play for
  free without registration.
permalink: /the-legend-lives-1994/
screenshots:
- https://cdn.dos.zone/original/2X/9/9c1fcedb7cb9a271886ca267ca1e6b187417ad66.png
- https://cdn.dos.zone/original/2X/a/a6635e3ee997e07f8dcb2237b1082e2780cb470c.png
shortTitle: The Legend Lives!
title: The Legend Lives! | 🕹️Play The Legend Lives! Online | DOS game in browser

---
