---
layout: page.njk
title: The Gold of the Aztecs | 🕹️Play The Gold of the Aztecs Online | Download
  js-dos bundle
ogDescription: Want to Play The Gold of the Aztecs? 🕹 On Dos Zone you can play
  The Gold of the Aztecs OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Gold of the Aztecs
permalink: /the-gold-of-the-aztecs-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgold-of-the-aztecs.jsdos
description: You are Vietnam war veteran Bret Conrad,  who becomes an
  adventurer. Go everywhere on the world, find gold, walk in to the jungle...
  One day, you receive an old map about the lost city of Quetzacotl, and its
  cache of gold. You prepare your bag, gun, knife and let's go to the adventure
  ! In gameplay Gold of the Aztecs is similar to Psygnosis' Barbarian (by the
  same author), and you must go screen by screen to finish it. Over 140 main
  character movements are included. There are traps at each screen like stones
  or dangerous bridge.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7ff48f05ce57b0be2cb7b561ab6cb9f29d162e9b.png
  - https://cdn.dos.zone/original/2X/f/ffdc13f7d8d53c371b0308e5de1d9b2ce7ee922.png
---
