---
layout: page.njk
title: The Hound of Shadow | 🕹️Play The Hound of Shadow Online | Download
  js-dos bundle
ogDescription: Want to Play The Hound of Shadow? 🕹 On Dos Zone you can play The
  Hound of Shadow OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Hound of Shadow
permalink: /the-hound-of-shadow-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhound-of-shadow.jsdos
description: A text adventure game set in HP Lovecraft themes in 1920's. The
  game's character generation routine was unusual. It was an ambitious project
  that was meant to carry over to a game series called "Timeline" which never
  happened. You had to guide the character's career through WWI, professions, as
  he or she gets skill points to distribute. Not many games had skills at all,
  let alone the plethora of skills to choose from in this game. The text part of
  the game is a supernatural thriller where you have to escape the curse of the
  Hound of Shadow in 1920's London. It opens with a friend taking you to a
  seance to debunk. Strange things happen and you discover that you are under a
  curse. You research history and lore in musty bookstores, and the London
  Library to gather information about the Hound. As you play, you are likely to
  learn about mythology, and the occult, too. There is a time limit, though, the
  Hound will get you eventually if you don't get on the ball.
screenshots:
  - https://cdn.dos.zone/original/2X/3/37b413929af5a1ceceb6ab24aea2af64ebe3450e.png
  - https://cdn.dos.zone/original/2X/b/bbbbbd0fe7ab1916030cf2a2c3d9e6651113e843.jpeg
---
