---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/cool-croc-twins.jsdos
layout: page.njk
ogDescription: The Cool Croc Twins is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Cool Croc Twins on mobile. On DOS.Zone The Cool Croc Twins available to play
  for free without registration.
permalink: /the-cool-croc-twins-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/a8b63d07ed2a5e86cbbc91a3323cb3096915b10b.png
- https://cdn.dos.zone/original/2X/e/ecf240eb4a72f17a3d4aeabbe6af357da8588988.png
shortTitle: The Cool Croc Twins
title: The Cool Croc Twins | 🕹️Play The Cool Croc Twins Online | DOS game in browser

---
