---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dark-heart-of-uukrul.jsdos
layout: page.njk
ogDescription: The Dark Heart of Uukrul is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Dark Heart of Uukrul on mobile. On DOS.Zone The Dark Heart of Uukrul available
  to play for free without registration.
permalink: /the-dark-heart-of-uukrul-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/5dbe361b33ece33b1e5134468a47971be3fd6253.png
- https://cdn.dos.zone/original/2X/e/e4fdf50d539a7196002b3af508beacc539cbb431.png
shortTitle: The Dark Heart of Uukrul
title: The Dark Heart of Uukrul | 🕹️Play The Dark Heart of Uukrul Online | DOS game
  in browser

---
