---
layout: page.njk
title: The Adventures of Captain Comic | 🕹️Play The Adventures of Captain Comic
  Online | Download js-dos bundle
ogDescription: Want to Play The Adventures of Captain Comic? 🕹 On Dos Zone you
  can play The Adventures of Captain Comic OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: The Adventures of Captain Comic
permalink: /the-adventures-of-captain-comic-may-01-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventures-of-captain-comic.jsdos
description: You are Captain Comic, galactic hero. Your mission is to recover
  three treasures from the planet Omsoc, which have been stolen away and hidden
  on the remote planet of Tambi. Captain Comic is a platformer featuring a huge
  nonlinear playfield divided into several different terrains. As Comic, you
  must search throughout Tambi for power ups and items that will aid you in your
  quest to recover the three treasures. The Captain's main weapon is 'Blastola
  Cola', a can of drink that allows him to hurl fireballs at his foes. For each
  can that he finds, an additional fireball can be thrown. There are many
  different paths that are available from the start, but without the right item
  or weapon, it can be impossible to progress through certain paths, or even to
  commit suicide. It's up to the player to decide the correct route to take, and
  which places to return to at a later time.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d0ac4ef2786c7628b4ef1daf8a0a16933e5e3945.gif
  - https://cdn.dos.zone/original/2X/2/2610dc506bf4e1b37be088a7a4a5ae5879a12db4.gif
---
