---
layout: page.njk
title: The Blues Brothers | 🕹️Play The Blues Brothers Online | Download js-dos bundle
ogDescription: Want to Play The Blues Brothers? 🕹 On Dos Zone you can play The
  Blues Brothers OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Blues Brothers
permalink: /the-blues-brothers-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fblues-brothers.jsdos
description: The Blues Brothers are on the run from the law. Take control of
  either bulky Jake or nippy Elwood in this five-level platform game. You must
  cross a prison, a river and the big city to reach freedom. You also must find
  your missing records and collect these. Everything and everyone is against
  you, but you can pick up and throw warehouse crates to defeat your opponents.
screenshots:
  - https://cdn.dos.zone/original/2X/6/66b3b3551e6015d79a5c4b9f831b7433b399b3ff.png
  - https://cdn.dos.zone/original/2X/a/a392451d27383068b79651289f2648204ae23109.png
---
