---
layout: page.njk
title: "The Flintstones: Dino: Lost in Bedrock | 🕹️Play The Flintstones: Dino:
  Lost in Bedrock Online | Download js-dos bundle"
ogDescription: "Want to Play The Flintstones: Dino: Lost in Bedrock? 🕹 On Dos
  Zone you can play The Flintstones: Dino: Lost in Bedrock OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "The Flintstones: Dino: Lost in Bedrock"
permalink: /the-flintstones-dino-lost-in-bedrock-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fflintstones-dino-lost-in-bedrock.jsdos
description: "The Flintstones: Dino: Lost in Bedrock is a platform game based on
  the famous animated show. Fred Flintstone's pet dinosaur, Dino is, well, lost
  in the city of Bedrock. Fred Flintstone and Barney Rubble try to find him. The
  game is divided into several levels. You walk as either Fred or Barney through
  Bedrock, and you must avoid enemies such as crocodiles or turtles; should they
  catch you, you lose a life. You can pick up rocks to throw at them. At the end
  of every level, you encounter a boss - always a big prehistoric creature.
  There is a time limit on every level, but you can get coconuts out of the
  trees for extra time. Sometimes, however, there are spiders instead of
  coconuts in the trees."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8ca0ec373c3e70bfb5893148b84347de4235aef8.png
  - https://cdn.dos.zone/original/2X/5/582ffe5bb6c8d550dd14391239d16bfceb590865.png
---
