---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/red-crystal-the-seven-secrets-of-life.jsdos
layout: page.njk
ogDescription: 'The Red Crystal: The Seven Secrets of Life is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Red Crystal: The Seven Secrets of Life on mobile. On DOS.Zone
  The Red Crystal: The Seven Secrets of Life available to play for free without registration.'
permalink: /the-red-crystal-the-seven-secrets-of-life-1993/
screenshots:
- https://cdn.dos.zone/original/2X/b/b6f2d08c8cfde0cfc31eebb76ee300694d73a502.png
- https://cdn.dos.zone/original/2X/f/f16d90b4b539a1666c8ea9afb616a4802368e5ae.png
shortTitle: 'The Red Crystal: The Seven Secrets of Life'
title: 'The Red Crystal: The Seven Secrets of Life | 🕹️Play The Red Crystal: The Seven
  Secrets of Life Online | DOS game in browser'

---
