---
layout: page.njk
title: "The Day 5: Assault Dragon | 🕹️Play The Day 5: Assault Dragon Online |
  Download js-dos bundle"
ogDescription: "Want to Play The Day 5: Assault Dragon? 🕹 On Dos Zone you can
  play The Day 5: Assault Dragon OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "The Day 5: Assault Dragon"
permalink: /the-day-5-assault-dragon-jan-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fday-5-assault-dragon.jsdos
description: "The Day 5: Assault Dragon is a horizontally scrolling sci-fi
  shoot-em-up and (in spite of the number in its title) the fourth installment
  in the Korean-made series. The gameplay is similar to the predecessor in
  allowing the player to choose between two pilots, or have two players defend
  Earth against an onslaught of mechanical aliens cooperatively. The male pilot
  (Kim Jin-hyeok) pilots a craft called Miru Fighter, while the female pilot
  (Kim Mi-ri) controls the Miru Base. The weapon and power-up system is similar
  to that of The Day II. Like in Icarus, the two spaceships can be combined into
  one mecha, with one player controlling its movement and the other firing its
  weapons. The side-scrolling environments have depth, with a 3D-like
  perspective that allows enemies to move into the screen."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e96ec9ac154c15eb805c25378adb754f5a65f722.png
  - https://cdn.dos.zone/original/2X/c/c427fc6b14d870fe4d73eceae14583ee6f4a0ae2.png
---
