---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/scottish-open-virtual-golf.jsdos
layout: page.njk
ogDescription: 'The Scottish Open: Virtual Golf is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Scottish Open: Virtual Golf on mobile. On DOS.Zone The Scottish
  Open: Virtual Golf available to play for free without registration.'
permalink: /the-scottish-open-virtual-golf-1995/
screenshots:
- https://cdn.dos.zone/original/2X/d/d9bfca04516f86c100bd5d27461b96f749fd83d7.png
- https://cdn.dos.zone/original/2X/1/10e3a90cd46af6f8e6f94f05b2d0733080be4d5d.png
shortTitle: 'The Scottish Open: Virtual Golf'
title: 'The Scottish Open: Virtual Golf | 🕹️Play The Scottish Open: Virtual Golf Online
  | DOS game in browser'

---
