---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/punisher.jsdos
layout: page.njk
ogDescription: The Punisher is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Punisher
  on mobile. On DOS.Zone The Punisher available to play for free without registration.
permalink: /the-punisher-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/24c090d5fead6d5c64ac35464497abeb45ca5069.png
- https://cdn.dos.zone/original/2X/b/bd70e37afb6eae0a6355d33c65dd0703a6da69f4.png
shortTitle: The Punisher
title: The Punisher | 🕹️Play The Punisher Online | DOS game in browser

---
