---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventures-of-captain-comic.jsdos
layout: page.njk
ogDescription: The Adventures of Captain Comic is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Adventures of Captain Comic on mobile. On DOS.Zone The Adventures
  of Captain Comic available to play for free without registration.
permalink: /the-adventures-of-captain-comic-may-01-1988/
screenshots:
- https://cdn.dos.zone/original/2X/d/d0ac4ef2786c7628b4ef1daf8a0a16933e5e3945.gif
- https://cdn.dos.zone/original/2X/2/2610dc506bf4e1b37be088a7a4a5ae5879a12db4.gif
shortTitle: The Adventures of Captain Comic
title: The Adventures of Captain Comic | 🕹️Play The Adventures of Captain Comic Online
  | DOS game in browser

---
