---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/game-of-yahtzee.jsdos
layout: page.njk
ogDescription: The Game of Yahtzee is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Game of Yahtzee on mobile. On DOS.Zone The Game of Yahtzee available to play
  for free without registration.
permalink: /the-game-of-yahtzee-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/50a749a0af7fb40933dbb4e06cbd0c8c287e645a.png
- https://cdn.dos.zone/original/2X/3/3dcda88419ea673c676c174bbdf0275f311ec9ab.png
shortTitle: The Game of Yahtzee
title: The Game of Yahtzee | 🕹️Play The Game of Yahtzee Online | DOS game in browser

---
