---
layout: page.njk
title: The Last Warrior | 🕹️Play The Last Warrior Online | Download js-dos bundle
ogDescription: Want to Play The Last Warrior? 🕹 On Dos Zone you can play The
  Last Warrior OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Last Warrior
permalink: /the-last-warrior-sep-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flast-warrior.jsdos
description: The Last Warrior is a space shooter is controlled from the cockpit
  of a scout ship - the last one in its squadron, following a particularly
  vicious alien attack; only a pair of frontal-mounted lasers and a finite
  amount of shield energy stand between the player and waves of relentless enemy
  fighters. As alien vessels zoom across the viewscreen, they must be hunted
  down using the lasers, before they get the chance to fight back. Every shot
  had better count, since firing uses up your precious shield energy. Enemy fire
  will deplete the shields as well; one hit without a shield, and you'll be
  sucking vacuum. When it's all over, your performance will be scored, along
  with a display of your hard-earned military rank.
screenshots:
  - https://cdn.dos.zone/original/2X/a/af5d720e29c1a3caa35ffb696270462f5ac111d.png
  - https://cdn.dos.zone/original/2X/3/341d5daafb2dacf92f6184ac155dce449cb61ec9.png
---
