---
layout: page.njk
title: The Nine Lives of Secret Agent Katt | 🕹️Play The Nine Lives of Secret
  Agent Katt Online | Download js-dos bundle
ogDescription: Want to Play The Nine Lives of Secret Agent Katt? 🕹 On Dos Zone
  you can play The Nine Lives of Secret Agent Katt OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: The Nine Lives of Secret Agent Katt
permalink: /the-nine-lives-of-secret-agent-katt-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnine-lives-of-secret-agent-katt.jsdos
description: "The Nine Lives of Secret Agent Katt is a role playing game with
  adventure and action elements mixed in. Your team consists of 4 spies, each
  with their own talents, tools and weapons: Katt (the leader), Tia, Roco and
  Mad Dog. Your primary mission: to recover stolen documents from a fortified
  secret laboratory and make it out alive. Adventure type puzzles involve
  choosing the proper team member, actions and inventory objects to use. Some
  objects can be combined to create an entirely new item. Action comes into play
  when the team is confronted by the facility's guards and other perpetrators
  who have weapons of their own that can cause damage. When the health bar of a
  particular agent reaches zero, that team member will die. If the team's
  leader, Katt, dies, the game ends prematurely. The game is played in first
  person and actions are performed by clicking on the various command icons. The
  screen is divided into various blocks: Current scene, Available Exits, and
  Iconic Commands. The commands include look/search, move, use, save & load,
  etc. plus the ability to get instructions (hints) on your next move from
  headquarters. The agents' pictures appear underneath with their health bars
  and current inventory. At the very bottom is a text box with a description of
  the scene or action performed. The game uses an updated version of the engine
  used in Last Half of Darkness. It was included as a bonus in early shipments
  of the Last Half of Darkness: Shadows of the Servants game."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c6a9abafc89a6b0761ed5b4c0e2e4373dbf46325.gif
  - https://cdn.dos.zone/original/2X/9/9eac449384f69df4bb4ac6b479e63030bb79f5ba.gif
---
