---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/blues-brothers-jukebox-adventure.jsdos
layout: page.njk
ogDescription: 'The Blues Brothers: Jukebox Adventure is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Blues Brothers: Jukebox Adventure on mobile. On DOS.Zone
  The Blues Brothers: Jukebox Adventure available to play for free without registration.'
permalink: /the-blues-brothers-jukebox-adventure-1993/
screenshots:
- https://cdn.dos.zone/original/2X/6/67ee65aa8ca973be325d57e1ae636fc74e57556.gif
- https://cdn.dos.zone/original/2X/3/364e4be46c0d58fb72b8f00635403e3acb600351.gif
shortTitle: 'The Blues Brothers: Jukebox Adventure'
title: 'The Blues Brothers: Jukebox Adventure | 🕹️Play The Blues Brothers: Jukebox
  Adventure Online | DOS game in browser'

---
