---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/nine-lives-of-secret-agent-katt.jsdos
layout: page.njk
ogDescription: The Nine Lives of Secret Agent Katt is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in The Nine Lives of Secret Agent Katt on mobile. On DOS.Zone The
  Nine Lives of Secret Agent Katt available to play for free without registration.
permalink: /the-nine-lives-of-secret-agent-katt-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/c6a9abafc89a6b0761ed5b4c0e2e4373dbf46325.gif
- https://cdn.dos.zone/original/2X/9/9eac449384f69df4bb4ac6b479e63030bb79f5ba.gif
shortTitle: The Nine Lives of Secret Agent Katt
title: The Nine Lives of Secret Agent Katt | 🕹️Play The Nine Lives of Secret Agent
  Katt Online | DOS game in browser

---
