---
layout: page.njk
title: The Lost Vikings | 🕹️Play The Lost Vikings Online | Download js-dos bundle
ogDescription: Want to Play The Lost Vikings? 🕹 On Dos Zone you can play The
  Lost Vikings OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Lost Vikings
permalink: /the-lost-vikings-1993/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F1%2F1b063b2520052ebb504184667ac95e72423331de.jsdos
description: Three Vikings, Eric the Swift, Olaf the Stout and Baleog the
  Fierce, were kidnapped by the alien Tomator, the evil Croutonian ruler, who is
  collecting unique life forms to display in his gallery. The three Vikings will
  have to combine their unique skills to defeat Tomator, as well as a vast array
  of aliens, robots, giant snails, big lizards and more. The Lost Vikings is a
  side-scrolling platform puzzle game with a twist. Instead of one character who
  can jump, run, shoot, collect items, flip switches and so on, there are three
  different characters, each with his own skills. Eric the Swift can jump, run
  and bash through walls with his tough helmet. Olaf the Stout has a shield
  which can block attacks, function as an air glider or as a step to stand on.
  Baleog the Fierce can shoot things with his arrows (including switches) or
  kill things with his sword. The player has to use the three Vikings as a team
  if he wants to get past the increasingly difficult levels and puzzles. The
  player controls one Viking at a time, but can switch between them at any
  point. The Vikings have limited space in their inventory which they can use to
  keep various items. Each Viking has three health points, and if he loses them
  all from confrontations with dangers, he dies (some threats kill instantly),
  and the level must be restarted.
screenshots:
  - https://cdn.dos.zone/original/2X/e/edb2606fad8a53c7e26d6affa25db7fe282329cd.png
  - https://cdn.dos.zone/original/2X/4/4db12cd7ac038cfc845c41d3b347d6f79e34022a.png
youtube: -N4OmxLxXKI?start=4
---
