---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lost-admiral.jsdos
layout: page.njk
ogDescription: The Lost Admiral is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Lost Admiral
  on mobile. On DOS.Zone The Lost Admiral available to play for free without registration.
permalink: /the-lost-admiral-1991/
screenshots:
- https://cdn.dos.zone/original/2X/c/c6d51df348af4a06f12668c028ab77b22a149430.gif
- https://cdn.dos.zone/original/2X/b/bde95764ee7e9b081e24e1e4efcb2bcfc4861a8e.gif
shortTitle: The Lost Admiral
title: The Lost Admiral | 🕹️Play The Lost Admiral Online | DOS game in browser

---
