---
layout: page.njk
title: The Adventure | 🕹️Play The Adventure Online | Download js-dos bundle
ogDescription: Want to Play The Adventure? 🕹 On Dos Zone you can play The
  Adventure OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Adventure
permalink: /the-adventure-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventure_____.jsdos
description: The Adventure is an interactive fiction game set in a school.
  Interaction with the game is conducted through a one-letter parser (the
  cardinal directions, l for looking, t for talking and k for killing). The
  directions are used for moving through the rooms, looking gives a description
  of the current location, talking gives a never-changing remark and killing
  results in instant death. The player is free to type in other commands into
  the parser which results in scripting errors. The only available course of
  action is exploring the environment until a fatal situation is encountered.
  After dying, the player has the option to either restart from the beginning
  (including typing in the player name and listening to the PC speaker intro
  sound again) or to quit with an insult by the author.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3cb34aa7259e872db54738109fa7af504abaeda9.png
  - https://cdn.dos.zone/original/2X/a/a3ae4f1310e224b51a7ab56d2544b9af4b48a9e8.png
---
