---
layout: page.njk
title: The Child Murderer | 🕹️Play The Child Murderer Online | Download js-dos bundle
ogDescription: Want to Play The Child Murderer? 🕹 On Dos Zone you can play The
  Child Murderer OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Child Murderer
permalink: /the-child-murderer-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchild-murderer.jsdos
description: >-
  The Child Murderer is a shareware text and graphics adventure game designed
  for the beginning level player.

  The player takes the role of Charles Browning, personal servant to Robert Harris a rich businessman living in Victorian London. You are blamed for a murder you did not commit, and must both evade your captors and find the real killer. The text parser uses small Verb / Noun sentences, such as Talk to the woman, or Use the candle. 

  In addition a menu of common commands and keystroke shortcuts is displayed in most locations and key objects in the game are preceded with the term, Visible Objects. In 2001 this game was updated and re-issued as public domain software The Murderer.
screenshots:
  - https://cdn.dos.zone/original/2X/4/47216fbcc6b70d127698322e948e68bb0fc3e175.png
  - https://cdn.dos.zone/original/2X/7/79512fe797e7b88b59c67b60b1b355c05e2b43a6.png
---
