---
layout: page.njk
title: "The American Challenge: A Sailing Simulation | 🕹️Play The American
  Challenge: A Sailing Simulation Online | Download js-dos bundle"
ogDescription: "Want to Play The American Challenge: A Sailing Simulation? 🕹 On
  Dos Zone you can play The American Challenge: A Sailing Simulation OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "The American Challenge: A Sailing Simulation"
permalink: /the-american-challenge-a-sailing-simulation-may-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Famerican-challenge-a-sailing-simulation.jsdos
description: "The American Challenge: A Sailing Simulation is a sailing
  simulation which features eight courses. The player races against computer
  opponents and has to steer the boat and sail the trim and centerboard
  position. During the race all boats are shown in wireframe 3D graphics and the
  player can always switch to an overhead map which shows the contestant's path
  up to this point. If the player doesn't want to sail against the computer
  anymore, he can trade the sail boat with a high-speed motorboat or start a
  multiplayer match."
screenshots:
  - https://cdn.dos.zone/original/2X/4/45979fd8833a8f5b2995868e8d54d80e5acb13d7.gif
  - https://cdn.dos.zone/original/2X/c/cf8347650d63edd2cbe6a55cd1895418bafb72d2.gif
---
