---
layout: page.njk
title: The Legend Lives! | 🕹️Play The Legend Lives! Online | Download js-dos bundle
ogDescription: Want to Play The Legend Lives!? 🕹 On Dos Zone you can play The
  Legend Lives! OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Legend Lives!
permalink: /the-legend-lives-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flegend-lives.jsdos
description: The Legend Lives! is a text adventure game, the last installment in
  the Unnkulian series, developed with TADS - Text Adventure Development System.
  The action takes place on the Planet Tode, 500 years after the events from the
  first part of the series. As a hacker named Gavin Kelly, the player must track
  down and defeat a  powerful virus unleashed on galaxy news network AkNet. The
  game features extensive descriptions of the locations. The game is fully
  keyboard controlled by using dozen types of commands available.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9c1fcedb7cb9a271886ca267ca1e6b187417ad66.png
  - https://cdn.dos.zone/original/2X/a/a6635e3ee997e07f8dcb2237b1082e2780cb470c.png
---
