---
layout: page.njk
title: The Rescue of Lorri in Lorrinitron | 🕹️Play The Rescue of Lorri in
  Lorrinitron Online | Download js-dos bundle
ogDescription: Want to Play The Rescue of Lorri in Lorrinitron? 🕹 On Dos Zone
  you can play The Rescue of Lorri in Lorrinitron OR donwload js-dos bundle for
  free. Start playing now!
shortTitle: The Rescue of Lorri in Lorrinitron
permalink: /the-rescue-of-lorri-in-lorrinitron-dec-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Frescue-of-lorri-in-lorrinitron.jsdos
description: The Princess Lorri has been abducted by anonymous parties to some
  similarly unknown location.  Which throne is she heir to?  King Altheon, her
  father, has the answer to that question, and it is to him that your adventurer
  must go in order to take up the mission of her rescue and restore hope to the
  land. The fantasy land in question, the royal realm of Lorrinitron, bears a
  lot in common with Lord British's Britannia, and the layout and interface of
  this game must bear a more than coincidental similarity to those of early
  Ultima games.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a7a5100ca46b443571bbe4f0ae3aa71407b499de.png
  - https://cdn.dos.zone/original/2X/a/a8ff3b2a80774e9050eeb199a1ca42ffdecd3e78.png
---
