---
layout: page.njk
title: "The Neverending Story II: The Arcade Game | 🕹️Play The Neverending
  Story II: The Arcade Game Online | Download js-dos bundle"
ogDescription: "Want to Play The Neverending Story II: The Arcade Game? 🕹 On
  Dos Zone you can play The Neverending Story II: The Arcade Game OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "The Neverending Story II: The Arcade Game"
permalink: /the-neverending-story-ii-the-arcade-game-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fneverending-story-ii-the-arcade-game.jsdos
description: "The Neverending Story II is a platform game which is largely based
  on the movie. The concept is simple: you're Bastian, and are called forth once
  again by the Childlike Empress to save Fantasia, the Land of Dreams. The game
  itself is indeed a platformer where you have to outrun giants (as in the
  movie) or push them over ledges. With every level you will be awarded with
  another advancement in the plot, usually a few pages written on a \"book\"."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e471c55cd2a0b62462d801cd6f82ad47a150e90d.gif
  - https://cdn.dos.zone/original/2X/9/94184c7358234afefdccf06ee3e18ec7fc949faa.png
---
