---
layout: page.njk
title: "The Games: Summer Edition | 🕹️Play The Games: Summer Edition Online |
  Download js-dos bundle"
ogDescription: "Want to Play The Games: Summer Edition? 🕹 On Dos Zone you can
  play The Games: Summer Edition OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "The Games: Summer Edition"
permalink: /the-games-summer-edition-oct-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgames-summer-edition.jsdos
description: You start as a member of the 1988 U.S. Olympic Team to compete at
  the Olympic Summer Games. You can play eight events, including Velodrome
  Sprint Cycling, Hurdles, Pole Vault, Hammer-throw, Uneven Parallel Bars,
  Rings, Archery, and Springboard Diving. You can practice each event separately
  or play the whole competition. The game also features a multiple player
  option, this makes it a nice party game. If you are alone, you can compete
  against the computer. If you're stuck in an event, or want to get better, just
  take the coaching book (= the manual) and read how you can make more tricks.
  It also features many real facts of the history of the Olympic summer games.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1b566d647e40ddf976ac2ebe70005ad74aa0f1c6.gif
  - https://cdn.dos.zone/original/2X/5/5428e5b67d9a53e6ea0633358886b68b09124d10.gif
---
