---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/second-kids-world-almanac-adventure.jsdos
layout: page.njk
ogDescription: The Second Kids' World Almanac Adventure is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Second Kids' World Almanac Adventure on mobile. On DOS.Zone
  The Second Kids' World Almanac Adventure available to play for free without registration.
permalink: /the-second-kids-world-almanac-adventure-1990/
screenshots:
- https://cdn.dos.zone/original/2X/6/67b4af64ca1781e1473e00e5daf678bd042f3539.png
- https://cdn.dos.zone/original/2X/2/29295b5c558a2c0f49a12250076e7c801fb7c8ce.png
shortTitle: The Second Kids' World Almanac Adventure
title: The Second Kids' World Almanac Adventure | 🕹️Play The Second Kids' World Almanac
  Adventure Online | DOS game in browser

---
