---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/curse-of-ra.jsdos
layout: page.njk
ogDescription: The Curse of RA is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Curse
  of RA on mobile. On DOS.Zone The Curse of RA available to play for free without
  registration.
permalink: /the-curse-of-ra-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a8c1dbf91262139be7d7aa393963c26bcb5d0172.png
- https://cdn.dos.zone/original/2X/f/fb865de81c82afcfd38a1631ed2465f59d4a0302.png
shortTitle: The Curse of RA
title: The Curse of RA | 🕹️Play The Curse of RA Online | DOS game in browser

---
