---
layout: page.njk
title: "The Great Sage: Heaven's Equal | 🕹️Play The Great Sage: Heaven's Equal
  Online | Download js-dos bundle"
ogDescription: "Want to Play The Great Sage: Heaven's Equal? 🕹 On Dos Zone you
  can play The Great Sage: Heaven's Equal OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "The Great Sage: Heaven's Equal"
permalink: /the-great-sage-heavens-equal-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgreat-sage-heavens-equal.jsdos
description: "The Great Sage: Heaven's Equal is a 2D game very similar to Prince
  of Persia in presentation and gameplay. This Taiwanese video game for DOS uses
  Mandarin Chinese language in its intro and outro cutscenes, and was not
  released in the Western world. It shipped on six 5¼–inch floppy disks. Its
  story is based on characters and events from the Journey to the West novel.
  Each stage uses a unique tileset and a variety of traps and enemies."
screenshots:
  - https://cdn.dos.zone/original/2X/4/471bbf562362fe1d558e356986af104c89c869a9.png
  - https://cdn.dos.zone/original/2X/9/9ce480fd4cdb79718467a30064727e5ec098c4f7.png
---
