---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/treehouse.jsdos
layout: page.njk
ogDescription: The Treehouse is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Treehouse
  on mobile. On DOS.Zone The Treehouse available to play for free without registration.
permalink: /the-treehouse-1991/
screenshots:
- https://cdn.dos.zone/original/2X/1/110f84ba4a07871c4385df0f5480b3c2c712168b.gif
- https://cdn.dos.zone/original/2X/b/be56a3c0019ea39e1313ff87a4b73a3003ac8144.gif
shortTitle: The Treehouse
title: The Treehouse | 🕹️Play The Treehouse Online | DOS game in browser

---
