---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/simpsons-bart-vs-the-space-mutants.jsdos
layout: page.njk
ogDescription: 'The Simpsons: Bart vs. the Space Mutants is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Simpsons: Bart vs. the Space Mutants on mobile. On DOS.Zone
  The Simpsons: Bart vs. the Space Mutants available to play for free without registration.'
permalink: /the-simpsons-bart-vs-the-space-mutants-1991/
screenshots: []
shortTitle: 'The Simpsons: Bart vs. the Space Mutants'
title: 'The Simpsons: Bart vs. the Space Mutants | 🕹️Play The Simpsons: Bart vs. the
  Space Mutants Online | DOS game in browser'

---
