---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bards-tale-ii-the-destiny-knight.jsdos
layout: page.njk
ogDescription: 'The Bard''s Tale II: The Destiny Knight is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Bard''s Tale II: The Destiny Knight on mobile. On DOS.Zone
  The Bard''s Tale II: The Destiny Knight available to play for free without registration.'
permalink: /the-bards-tale-ii-the-destiny-knight-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/4/4332166cb21c1aedf4e019564844096667b85867.gif
- https://cdn.dos.zone/original/2X/5/54e27f6d3125c5b7e64a11e7a3b6db5e77723a09.png
shortTitle: 'The Bard''s Tale II: The Destiny Knight'
title: 'The Bard''s Tale II: The Destiny Knight | 🕹️Play The Bard''s Tale II: The
  Destiny Knight Online | DOS game in browser'

---
