---
layout: page.njk
title: The Hunt for Red October | 🕹️Play The Hunt for Red October Online |
  Download js-dos bundle
ogDescription: Want to Play The Hunt for Red October? 🕹 On Dos Zone you can
  play The Hunt for Red October OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Hunt for Red October
permalink: /the-hunt-for-red-october-mar-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fhunt-for-red-october.jsdos
description: In this adaptation of Tom Clancy's popular novel, you play the part
  of Captain Marko Ramius attempting to defect to the US.  Once into the
  Atlantic, you must rendezvous with the US Navy and fake the destruction of the
  Red October.  Your crew is not aware of the defection -- but the Soviet Navy
  is, and will try to stop you at any cost.
screenshots:
  - https://cdn.dos.zone/original/2X/e/eab006f9d5e7434d480d3b8c5f3c845c9235af74.png
  - https://cdn.dos.zone/original/2X/1/1af576fd98a446a4d514ab7b783e7546cf322e61.png
---
