---
layout: page.njk
title: The Endless Night | 🕹️Play The Endless Night Online | Download js-dos bundle
ogDescription: Want to Play The Endless Night? 🕹 On Dos Zone you can play The
  Endless Night OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Endless Night
permalink: /the-endless-night-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fendless-night.jsdos
description: The Endless Night is a top-down adventure game that starts without
  a back story as the main character wakes up with amnesia in a pitch black
  world. His only goals are to find out who he is and unravel the mystery behind
  the endless night. The only controls are the arrow keys to walk around. For
  most of the game, the screen is completely black with only the player
  illuminated for movement as he stumbles through the maze like map,
  occasionally bumping into items or someone to talk to. Eventually, should the
  player happen upon it, there is town where he can get a lantern that allows
  the player to fully see the map. From this point on, the game becomes fairly
  straightforward, searching the map for items and completing fetch quests for
  the villagers to advance the plot.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4442168f9f17373ced767ea7201001b4495d3323.png
  - https://cdn.dos.zone/original/2X/4/4cbe656ae1b9c87d56b1b267c19b98fb967e94b.png
---
