---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dark-half.jsdos
layout: page.njk
ogDescription: The Dark Half is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Dark Half
  on mobile. On DOS.Zone The Dark Half available to play for free without registration.
permalink: /the-dark-half-1992/
screenshots:
- https://cdn.dos.zone/original/2X/9/953d0b0b6160ff83653e2b5df7ecb7c8d4f835ea.gif
- https://cdn.dos.zone/original/2X/7/712ff4426a9fa3424a20e5a28ca34361e0a54d1c.gif
shortTitle: The Dark Half
title: The Dark Half | 🕹️Play The Dark Half Online | DOS game in browser

---
