---
layout: page.njk
title: The Summoning | 🕹️Play The Summoning Online | Download js-dos bundle
ogDescription: Want to Play The Summoning? 🕹 On Dos Zone you can play The
  Summoning OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Summoning
permalink: /the-summoning-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsummoning.jsdos
description: The Summoning is a single-character fantasy role-playing adventure,
  set inside a huge labyrinth with 40 different levels and hordes of mean
  monsters. Use steel, magic and wit to fight, cast and puzzle your way through
  the evil that lies within. Struggle to survive and grow strong enough to fight
  and defeat Shadow Weaver, the villain responsible for the evil spreading
  across the land.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bb7e26af531d6be327e0e1e70598d7b3bae06066.png
  - https://cdn.dos.zone/original/2X/b/bad68b0bbe823fa9822a4c59dc899e006b0b899d.png
---
