---
layout: page.njk
title: The Game of Harmony | 🕹️Play The Game of Harmony Online | Download
  js-dos bundle
ogDescription: Want to Play The Game of Harmony? 🕹 On Dos Zone you can play The
  Game of Harmony OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Game of Harmony
permalink: /the-game-of-harmony-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgame-of-harmony.jsdos
description: This strategic action puzzle game features original gameplay. You
  control a spacecraft situated on a globe which you can rotate and move around
  the screen. You must knock globes into others of the same colour, to rid the
  screen of all the globes. The screen has no borders, so globes can be pushed
  off the side of the screen, increasing your tactical range. Knocking globes of
  different colors into each other produces smaller pods which need to be picked
  up quickly, giving you energy, or they will turn into globes and you will have
  to get rid of them too. Many of the globes are linked to other globes (or the
  ship) via string, and the level layouts include barriers as obstacles (and
  ricochet points), making the Newtonian physics more complex.
screenshots:
  - https://cdn.dos.zone/original/2X/3/359542d38b705c246ce8e7924ca4685a77bf1eff.gif
  - https://cdn.dos.zone/original/2X/9/949249c604bf1fbef01f1cd96a7abc2b63ff400.gif
---
