---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bugs-bunny-hare-brained-adventure.jsdos
layout: page.njk
ogDescription: The Bugs Bunny Hare-Brained Adventure is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in The Bugs Bunny Hare-Brained Adventure on mobile. On DOS.Zone The
  Bugs Bunny Hare-Brained Adventure available to play for free without registration.
permalink: /the-bugs-bunny-hare-brained-adventure-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/9a76b4080514cfefb8cf13cd467fd51935028c56.png
- https://cdn.dos.zone/original/2X/2/2b738241fcf7fb7354999c0cb18dc99672d8b4da.gif
shortTitle: The Bugs Bunny Hare-Brained Adventure
title: The Bugs Bunny Hare-Brained Adventure | 🕹️Play The Bugs Bunny Hare-Brained
  Adventure Online | DOS game in browser

---
