---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kristal.jsdos
layout: page.njk
ogDescription: The Kristal is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Kristal
  on mobile. On DOS.Zone The Kristal available to play for free without registration.
permalink: /the-kristal-dec-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/ff787e676ca917efb0d76a0c2b529007aca269e1.png
- https://cdn.dos.zone/original/2X/7/727bb7a6fa9a79c481ee1fa726d83c22a45d80c4.png
shortTitle: The Kristal
title: The Kristal | 🕹️Play The Kristal Online | DOS game in browser

---
