---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/multi-dimensional-thief.jsdos
layout: page.njk
ogDescription: The Multi-dimensional Thief is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Multi-dimensional Thief on mobile. On DOS.Zone The Multi-dimensional Thief
  available to play for free without registration.
permalink: /the-multi-dimensional-thief-1991/
screenshots:
- https://cdn.dos.zone/original/2X/d/d448aa207f59e6e0ad0e79c4ee86896572c776a7.png
- https://cdn.dos.zone/original/2X/8/8e6057906fbca47ac8c05af33592c434492d54ca.png
shortTitle: The Multi-dimensional Thief
title: The Multi-dimensional Thief | 🕹️Play The Multi-dimensional Thief Online | DOS
  game in browser

---
