---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/prophecy.jsdos
layout: page.njk
ogDescription: The Prophecy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Prophecy
  on mobile. On DOS.Zone The Prophecy available to play for free without registration.
permalink: /the-prophecy-1993/
screenshots:
- https://cdn.dos.zone/original/2X/d/d44718a7d9c0d4cc42999116114c903ee829872e.gif
- https://cdn.dos.zone/original/2X/8/85b273327a145708b8942b0402d447a1ebb51ed7.gif
shortTitle: The Prophecy
title: The Prophecy | 🕹️Play The Prophecy Online | DOS game in browser

---
