---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/flintstones-dino-lost-in-bedrock.jsdos
layout: page.njk
ogDescription: 'The Flintstones: Dino: Lost in Bedrock is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Flintstones: Dino: Lost in Bedrock on mobile. On DOS.Zone
  The Flintstones: Dino: Lost in Bedrock available to play for free without registration.'
permalink: /the-flintstones-dino-lost-in-bedrock-1990/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ca0ec373c3e70bfb5893148b84347de4235aef8.png
- https://cdn.dos.zone/original/2X/5/582ffe5bb6c8d550dd14391239d16bfceb590865.png
shortTitle: 'The Flintstones: Dino: Lost in Bedrock'
title: 'The Flintstones: Dino: Lost in Bedrock | 🕹️Play The Flintstones: Dino: Lost
  in Bedrock Online | DOS game in browser'

---
