---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/premiership.jsdos
layout: page.njk
ogDescription: The Premiership is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Premiership
  on mobile. On DOS.Zone The Premiership available to play for free without registration.
permalink: /the-premiership-1994/
screenshots:
- https://cdn.dos.zone/original/2X/6/679f9d1cd15426447b4e451a04f5f6a79a319877.gif
- https://cdn.dos.zone/original/2X/d/dd5058132c1d8af471d8f28b6acd29875ff1c474.gif
shortTitle: The Premiership
title: The Premiership | 🕹️Play The Premiership Online | DOS game in browser

---
