---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/rocketeer.jsdos
layout: page.njk
ogDescription: The Rocketeer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Rocketeer
  on mobile. On DOS.Zone The Rocketeer available to play for free without registration.
permalink: /the-rocketeer-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/66c08f0cdea68246d67edf5811c76284116d474d.png
- https://cdn.dos.zone/original/2X/8/842966f1c55051a6154aadea3a8c25219b256683.png
shortTitle: The Rocketeer
title: The Rocketeer | 🕹️Play The Rocketeer Online | DOS game in browser

---
