---
layout: page.njk
title: The Soviet Block | 🕹️Play The Soviet Block Online | Download js-dos bundle
ogDescription: Want to Play The Soviet Block? 🕹 On Dos Zone you can play The
  Soviet Block OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Soviet Block
permalink: /the-soviet-block-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsoviet-block.jsdos
description: >-
  The Soviet Block is a single player, freeware, Tetris clone. While gameplay is
  virtually identical to other games of this genre this implementation does have
  some game configuration features worthy of note:

  The player can start at any level, there are ten in all

  The game speed can be adjusted to cater for processors ranging from 4.77 to 33 MHz

  The 'Next' or 'Look Ahead' feature that shows the next shape is optional.

  There are two sets of shapes, Standard and Extended

  The action keys can be redefined

  The falling pieces can be set to rotate either clockwise or counter clockwise

  The game has a 'Boss key', high score table and optional sound effects.
screenshots:
  - https://cdn.dos.zone/original/2X/9/918376b4d8ac5811bedacb376de1bc51422b0012.png
  - https://cdn.dos.zone/original/2X/e/e4b0199a03720d9745967771f8c8edc64e29fd68.png
---
