---
layout: page.njk
title: The A-Team | 🕹️Play The A-Team Online | Download js-dos bundle
ogDescription: Want to Play The A-Team? 🕹 On Dos Zone you can play The A-Team
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: The A-Team
permalink: /the-a-team-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fa-team.jsdos
description: Your assignment consists in guiding The A-Team through two
  dangerous missions. On the first operation you will have to travel to the
  Morania desert in order to reduce a dangerous group of Arab terrorists who
  have met in an abandoned town. On the second one, you will have to destroy a
  military base located in Tirania, where an invasion of the neighboring
  countries is being prepared. In order to carry out so difficult missions you
  count with a modern N-16 A2 rifle gunner with telescope sight, 2 shippers of
  50 bullets each one and 2 long-reach pumps, although in the course of the
  combat you will be able to acquire more ammunition. Sometimes you will see
  dynamite charges deposited in the ground; an accurate firing on them will end
  with every object or person on the screen. Also you will be able to shoot to
  boats, which will provide you an extra dose of energy.
screenshots:
  - https://cdn.dos.zone/original/2X/4/470e1148b42539def9c849059a1f6f9bdc5060ce.gif
  - https://cdn.dos.zone/original/2X/5/54d7e99bdfdad97ed24a770cd8d67c183e5c1237.gif
---
