---
layout: page.njk
title: The $100,000 Pyramid | 🕹️Play The $100,000 Pyramid Online | Download
  js-dos bundle
ogDescription: Want to Play The $100,000 Pyramid? 🕹 On Dos Zone you can play
  The $100,000 Pyramid OR donwload js-dos bundle for free. Start playing now!
shortTitle: The $100,000 Pyramid
permalink: /the-100-000-pyramid-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2F100000-pyramid_.jsdos
description: This is an early adaptation of the popular TV game show The
  $100,000 Pyramid. The objective is to reach the top of the pyramid by winning
  successive rounds. Each round consists of selecting a category from the
  pyramid. Each category consists of a list of words that share some common
  thread like "things that are red". One player then tries to give the other
  player clues to guess the word without saying the word itself. There is also a
  single player mode that does not resemble the show very much where you have to
  type in single word clues.
screenshots:
  - https://cdn.dos.zone/original/2X/6/645ee8bde8c0462b29345bfb712505b182347628.png
  - https://cdn.dos.zone/original/2X/6/6b933c840a0a701f7870c9a7c46060fc05f427d3.png
---
