---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/monkey-island-1.jsdos
layout: page.njk
ogDescription: 'The Secret of Monkey Island  is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in The Secret of Monkey Island on mobile. On
  The Secret of Monkey Island is available to play for free without registration.'
permalink: /the-secret-of-monkey-island/
screenshots:
- https://cdn.dos.zone/custom/screenshots/monkey-island-1.jpeg
shortTitle: 'The Secret of Monkey Island'
title: 'The Secret of Monkey Island | 🕹️Play The Secret of Monkey Island Online | DOS game in browser'

---
