---
layout: page.njk
title: The Chase on Tom Sawyer's Island | 🕹️Play The Chase on Tom Sawyer's
  Island Online | Download js-dos bundle
ogDescription: Want to Play The Chase on Tom Sawyer's Island? 🕹 On Dos Zone you
  can play The Chase on Tom Sawyer's Island OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: The Chase on Tom Sawyer's Island
permalink: /the-chase-on-tom-sawyers-island-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fchase-on-tom-sawyers-island.jsdos
description: This Pac-Man inspired maze game is based upon the Tom Sawyer’s
  Island attraction at Disneyland.  Players maneuver Tom Sawyer along the
  island’s paths in his quest to gather berries.  However, Aunt Polly, Injun
  Joe, and after the third level, a bear, chase after Tom.  He can avoid them by
  ducking into escape routes such as a water wheel, a teeter-totter, a raft and
  two caves.  If Tom survives all five levels, the player wins.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8a437ca32737f825dfa88455d57d708e1f1e9081.png
  - https://cdn.dos.zone/original/2X/3/314a089cb35990f3f1aa3e32541c83acab4293e.png
---
