---
layout: page.njk
title: The 15 Puzzle | 🕹️Play The 15 Puzzle Online | Download js-dos bundle
ogDescription: Want to Play The 15 Puzzle? 🕹 On Dos Zone you can play The 15
  Puzzle OR donwload js-dos bundle for free. Start playing now!
shortTitle: The 15 Puzzle
permalink: /the-15-puzzle-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2F15-puzzle_.jsdos
description: The well-known sliding block puzzle game is honored with another
  computerized treatment, written in BASIC.  In keeping with the original
  concept, the 4x4 board is populated with tiles numbered 1 to 15 and one empty
  space - the goal is to slide them around and shuffle them until the numbers
  are arranged in natural order, with the blank tile at the bottom right.  The
  number of moves made is counted and displayed at all times.
screenshots:
  - https://cdn.dos.zone/original/2X/4/42149ca0f8bfb7108eeff46f99c3325a99a3009e.png
  - https://cdn.dos.zone/original/2X/d/ddd0e9a66390c9bb691e6917aae9892c4253f4b4.png
---
