---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/geekwad-games-of-the-galaxy.jsdos
layout: page.njk
ogDescription: 'The Geekwad: Games of the Galaxy is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Geekwad: Games of the Galaxy on mobile. On DOS.Zone The Geekwad:
  Games of the Galaxy available to play for free without registration.'
permalink: /the-geekwad-games-of-the-galaxy-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9b5e546072a4a892caa14e698041fcc6d223e80a.png
- https://cdn.dos.zone/original/2X/1/111779bf12ca4503b42f26a80ab48a01034ba47b.png
shortTitle: 'The Geekwad: Games of the Galaxy'
title: 'The Geekwad: Games of the Galaxy | 🕹️Play The Geekwad: Games of the Galaxy
  Online | DOS game in browser'

---
