---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/astronomy-quiz.jsdos
layout: page.njk
ogDescription: The Astronomy Quiz is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Astronomy Quiz on mobile. On DOS.Zone The Astronomy Quiz available to play for
  free without registration.
permalink: /the-astronomy-quiz-dec-1988/
screenshots:
- https://cdn.dos.zone/original/2X/1/19743df1940b21109c6e9e4ca6798cd01cea2258.png
- https://cdn.dos.zone/original/2X/5/582221f51b2d6501985ec220289e6c2871638aa.png
shortTitle: The Astronomy Quiz
title: The Astronomy Quiz | 🕹️Play The Astronomy Quiz Online | DOS game in browser

---
