---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/bards-quest-dungeons-of-the-unknown.jsdos
layout: page.njk
ogDescription: 'The Bard''s Quest: Dungeons of the Unknown is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Bard''s Quest: Dungeons of the Unknown on mobile. On DOS.Zone
  The Bard''s Quest: Dungeons of the Unknown available to play for free without registration.'
permalink: /the-bards-quest-dungeons-of-the-unknown-feb-1994/
screenshots:
- https://cdn.dos.zone/original/2X/e/eaa206c46f44ee327830ab6662ebae00dacbfb89.png
- https://cdn.dos.zone/original/2X/2/2e4e028bf6ab2824fcbb45f814cc57228860ab2a.png
shortTitle: 'The Bard''s Quest: Dungeons of the Unknown'
title: 'The Bard''s Quest: Dungeons of the Unknown | 🕹️Play The Bard''s Quest: Dungeons
  of the Unknown Online | DOS game in browser'

---
