---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/last-ninja.jsdos
layout: page.njk
ogDescription: The Last Ninja is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Last Ninja
  on mobile. On DOS.Zone The Last Ninja available to play for free without registration.
permalink: /the-last-ninja-jul-1988/
screenshots:
- https://cdn.dos.zone/original/2X/9/902802851644b8f890cd87b8b64d7f575a888601.gif
- https://cdn.dos.zone/original/2X/f/fba1d27b02e15a5be437daad27d3e428f84b8a0f.gif
shortTitle: The Last Ninja
title: The Last Ninja | 🕹️Play The Last Ninja Online | DOS game in browser

---
