---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/amulet.jsdos
layout: page.njk
ogDescription: The Amulet is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Amulet
  on mobile. On DOS.Zone The Amulet available to play for free without registration.
permalink: /the-amulet-1983/
screenshots:
- https://cdn.dos.zone/original/2X/b/bcd58ce1251fdca516f8a6a16a7cbcecefbad622.png
- https://cdn.dos.zone/original/2X/1/15dc9a37420172f15346bae08407e7478c1305bd.png
shortTitle: The Amulet
title: The Amulet | 🕹️Play The Amulet Online | DOS game in browser

---
