---
layout: page.njk
title: The Skateboard Kid | 🕹️Play The Skateboard Kid Online | Download js-dos bundle
ogDescription: Want to Play The Skateboard Kid? 🕹 On Dos Zone you can play The
  Skateboard Kid OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Skateboard Kid
permalink: /the-skateboard-kid-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fskateboard-kid.jsdos
description: In The Skateboard Kid, you are in control of a teen out on an
  adventure to save the city of Rehovot, Israel from the curse of an evil
  sorcerer. The game is a 2D side-scrolling platform game which includes some
  elements of collecting specific items in the level in order to be able to
  overcome certain obstacles and progress onto the next level.
screenshots:
  - https://cdn.dos.zone/original/2X/8/88504aad38173023836ea5a1bedb8531fe43e04c.png
  - https://cdn.dos.zone/original/2X/1/1ddb0c6262bae94914dd864b0afd624fa59c3fdb.png
---
