---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/15-puzzle_.jsdos
layout: page.njk
ogDescription: The 15 Puzzle is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The 15 Puzzle
  on mobile. On DOS.Zone The 15 Puzzle available to play for free without registration.
permalink: /the-15-puzzle-1982/
screenshots:
- https://cdn.dos.zone/original/2X/4/42149ca0f8bfb7108eeff46f99c3325a99a3009e.png
- https://cdn.dos.zone/original/2X/d/ddd0e9a66390c9bb691e6917aae9892c4253f4b4.png
shortTitle: The 15 Puzzle
title: The 15 Puzzle | 🕹️Play The 15 Puzzle Online | DOS game in browser

---
