---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/thor-trilogy.jsdos
layout: page.njk
ogDescription: The Thor Trilogy is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Thor Trilogy
  on mobile. On DOS.Zone The Thor Trilogy available to play for free without registration.
permalink: /the-thor-trilogy-1990/
screenshots:
- https://cdn.dos.zone/original/2X/5/52ea58877025164401e66ad67457b96e572b1a48.png
- https://cdn.dos.zone/original/2X/6/66b2a3386ae13ec5c2aa65667bde0eae34f3d090.png
shortTitle: The Thor Trilogy
title: The Thor Trilogy | 🕹️Play The Thor Trilogy Online | DOS game in browser

---
