---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/adventures-of-dianalee-in-the-lost-temple-of-the-aztecs.jsdos
layout: page.njk
ogDescription: The Adventures of Dianalee in the Lost Temple of the Aztecs is a famous
  and most played DOS game that now is available to play in browser. With virtual
  mobile controls you also can play in The Adventures of Dianalee in the Lost Temple
  of the Aztecs on mobile. On DOS.Zone The Adventures of Dianalee in the Lost Temple
  of the Aztecs available to play for free without registration.
permalink: /the-adventures-of-dianalee-in-the-lost-temple-of-the-aztecs-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/c41967471917445354a2d7a0393c97a1f4a67070.png
- https://cdn.dos.zone/original/2X/2/2ce8b09944de15122bb089d6039825f561470aa2.png
shortTitle: The Adventures of Dianalee in the Lost Temple of the Aztecs
title: The Adventures of Dianalee in the Lost Temple of the Aztecs | 🕹️Play The Adventures
  of Dianalee in the Lost Temple of the Aztecs Online | DOS game in browser

---
