---
layout: page.njk
title: The Second Kids' World Almanac Adventure | 🕹️Play The Second Kids' World
  Almanac Adventure Online | Download js-dos bundle
ogDescription: Want to Play The Second Kids' World Almanac Adventure? 🕹 On Dos
  Zone you can play The Second Kids' World Almanac Adventure OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: The Second Kids' World Almanac Adventure
permalink: /the-second-kids-world-almanac-adventure-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsecond-kids-world-almanac-adventure.jsdos
description: This is an adventure game in a similar vein to Where in the World
  is Carmen SanDiego, although the questions deal with additional topics besides
  geography (science, weather, history, etc.).  And instead of pursuing a
  variety of henchmen leading-up to Carmen SanDiego, each puzzle is just another
  step towards stopping Dr. Data. The game is based on a book of the same name.
screenshots:
  - https://cdn.dos.zone/original/2X/6/67b4af64ca1781e1473e00e5daf678bd042f3539.png
  - https://cdn.dos.zone/original/2X/2/29295b5c558a2c0f49a12250076e7c801fb7c8ce.png
---
