---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/playroom.jsdos
layout: page.njk
ogDescription: The Playroom is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Playroom
  on mobile. On DOS.Zone The Playroom available to play for free without registration.
permalink: /the-playroom-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/2ed4427b51da35711be0c7bcae63874b8689c21d.gif
- https://cdn.dos.zone/original/2X/1/1cdf78e35a8355e137df45dbb1694a464c13ba52.gif
shortTitle: The Playroom
title: The Playroom | 🕹️Play The Playroom Online | DOS game in browser

---
