---
layout: page.njk
title: The Adventures of Lance | 🕹️Play The Adventures of Lance Online |
  Download js-dos bundle
ogDescription: Want to Play The Adventures of Lance? 🕹 On Dos Zone you can play
  The Adventures of Lance OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Adventures of Lance
permalink: /the-adventures-of-lance-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventures-of-lance.jsdos
description: This is a short graphical adventure, where the player is tasked to
  navigate mazes to eventually retrieve the scepter of Queen Jennifer. The
  player starts out in an open landscape in the kingdom of Kyrule. Nearby our
  starting location, the open mouth of a cave is gaping invitingly. There is
  another cave on an island in a river close by, and the Queens castle is
  further off on the other side of the river. To cross the river we need first
  to find a raft, which might be hidden somewhere in the nearest cave. There is
  a monster somewhere, guarding the queens scepter, but we have a sword. When
  entering a cave, you get an overview of the maze so you can try to remember
  the layout, before zooming in on your hero. This game is a first attempt by
  the author to make a graphical adventure, and source code & documentation is
  available for a fee.
screenshots:
  - https://cdn.dos.zone/original/2X/1/189f0a1da8612c861e8241ee10f47cfcf6722b39.png
  - https://cdn.dos.zone/original/2X/8/82de8f0ae8b6d9216b2f9dae9dc085143f87298f.png
---
