---
layout: page.njk
title: "The Simpsons: Bart's House of Weirdness | 🕹️Play The Simpsons: Bart's
  House of Weirdness Online | Download js-dos bundle"
ogDescription: "Want to Play The Simpsons: Bart's House of Weirdness? 🕹 On Dos
  Zone you can play The Simpsons: Bart's House of Weirdness OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "The Simpsons: Bart's House of Weirdness"
permalink: /the-simpsons-barts-house-of-weirdness-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsimpsons-barts-house-of-weirdness.jsdos
description: Bart Simpson has been sent to his room and it’s up to you to help
  him escape and collect the items he’ll need to rescue his hero Krusty the
  Clown.  Along with the standard side scroller jump/duck, Bart is armed with a
  variety of weapons such as a slingshot, spray paint, and water balloons which
  he can use to dispatch the space mutants, basement ghosts, and other uncool
  things getting in his way. There are six levels for exploration including a
  spider infested attic, the Springfield Mall, and a twisted Itchy & Scratchy
  dream world.  Ultimately, when Bart manages to complete all the levels, he is
  taken to Krustyland for a final showdown with his nemesis Sideshow Bob.
screenshots:
  - https://cdn.dos.zone/original/2X/d/de68bee8d4d2b92f53fdd92b24dfc5ff63d143a7.png
  - https://cdn.dos.zone/original/2X/d/d0304243f86b785cf59a9cc0eb5406490bff6a26.png
---
