---
layout: page.njk
title: The Witness | 🕹️Play The Witness Online | Download js-dos bundle
ogDescription: Want to Play The Witness? 🕹 On Dos Zone you can play The Witness
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Witness
permalink: /the-witness-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwitness.jsdos
description: The Witness is a text adventure in which the player takes control
  of a police detective working near Los Angeles. The year is 1938, and on this
  stormy February night a wealthy but frightened man has asked the detective for
  protection. In spite of his best efforts, a death occurs, and the hero has
  twelve hours to solve the mystery and try to arrest the killer. If the player
  thinks there is enough evidence against one or more suspects to convince a
  jury of their guilt, he can  arrest them and conclude the case.
screenshots:
  - https://cdn.dos.zone/original/2X/5/58e7a3016e224a4296f16ed3e21a65bf367cc94a.gif
---
