---
layout: page.njk
title: "The Train: Escape to Normandy | 🕹️Play The Train: Escape to Normandy
  Online | Download js-dos bundle"
ogDescription: "Want to Play The Train: Escape to Normandy? 🕹 On Dos Zone you
  can play The Train: Escape to Normandy OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "The Train: Escape to Normandy"
permalink: /the-train-escape-to-normandy-nov-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftrain-escape-to-normandy.jsdos
description: In the months before France is liberated by the Allies in World War
  2, Germany tries to take Paris' collection of classic paintings. As Resistance
  member Pierre LeFeu, helped by wounded former engineer Le Duc, must prevent
  this happening, but taking the paintings by train to Normandy and Allied
  control. Once in control of the train, you must set the throttle level, ensure
  that there is enough coal in the furnace, control the speed, and ensure that
  steam is released when necessary. Use the provided map, and the communications
  network once released, to plan the strategic side of your mission. Each
  station has coal and water supplies which may be needed to keep the train
  running. You must raid railway stations in order to get track switches into
  the right position. Both this and the initial capture of the train involve
  aiming at the enemy, current indicated point, and ducking before their bullets
  can hit you. Taking control of bridges is similar - you control a cannon and
  must take aim.
screenshots:
  - https://cdn.dos.zone/original/2X/8/854ebf9ee7906f5d0b341250f16b7377ffae2cf4.png
  - https://cdn.dos.zone/original/2X/2/2f131559d1fdde32e3482c67430a337713126d66.gif
---
