---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fantastic-adventures-of-dizzy.jsdos
layout: page.njk
ogDescription: The Fantastic Adventures of Dizzy is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Fantastic Adventures of Dizzy on mobile. On DOS.Zone The Fantastic
  Adventures of Dizzy available to play for free without registration.
permalink: /the-fantastic-adventures-of-dizzy-1994/
screenshots:
- https://cdn.dos.zone/original/2X/2/2bc687af28ac9785624e810c71ba63f710a9a271.png
- https://cdn.dos.zone/original/2X/e/e44e7b7f4013b7d59c5872fb00227a9a227411c7.png
shortTitle: The Fantastic Adventures of Dizzy
title: The Fantastic Adventures of Dizzy | 🕹️Play The Fantastic Adventures of Dizzy
  Online | DOS game in browser

---
