---
layout: page.njk
title: The Magic Candle III | 🕹️Play The Magic Candle III Online | Download
  js-dos bundle
ogDescription: Want to Play The Magic Candle III? 🕹 On Dos Zone you can play
  The Magic Candle III OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Magic Candle III
permalink: /the-magic-candle-iii-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmagic-candle-iii.jsdos
description: This is another game in the Magic Candle series of top-down RPG's
  that bears more than a slight resemblance to the old Ultima games. These games
  feature several other innovations over the Ultima series of games, the best
  example being a more complex party management system which makes it possible
  to divide your party of adventurers and give each party a different task.
  Compared to earlier games in the series, The Magic Candle III features little
  more than further enhanced VGA graphics and a new storyline. In The Magic
  Candle III, you and your party of adventurers, which can be transferred from
  the previous Magic Candle games, must stop a mysterious "blight" that is
  spreading through the country.
screenshots:
  - https://cdn.dos.zone/original/2X/9/92ecb04d72635b31fd35abb3332a59890f604c4.png
  - https://cdn.dos.zone/original/2X/d/d7a34e6717b5d38ea4f6c26f8601fdf65dd76ab6.png
---
