---
layout: page.njk
title: The Adventures of Maddog Williams in the Dungeons of Duridian | 🕹️Play
  The Adventures of Maddog Williams in the Dungeons of Duridian Online |
  Download js-dos bundle
ogDescription: Want to Play The Adventures of Maddog Williams in the Dungeons of
  Duridian? 🕹 On Dos Zone you can play The Adventures of Maddog Williams in the
  Dungeons of Duridian OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Adventures of Maddog Williams in the Dungeons of Duridian
permalink: /the-adventures-of-maddog-williams-in-the-dungeons-of-duridian-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fadventures-of-maddog-williams-in-the-dungeons-of-duridian.jsdos
description: "The player takes the role of Maddog Williams who wants to rescue
  the beautiful Princess Leoria and free her father King Thaylor. He also needs
  to vanquish the Evil Serak and restore peace to the lands of Duridian. The
  Adventures of Maddog Williams in the Dungeons of Duridian is primarily an
  adventure game. Similarly to Sierra adventures, the player directly controls
  the movements of Maddog and types in text commands to perform an action. As
  usual he explores his surroundings, collects items and uses them to solve
  puzzles. There are also a few action-based sequences in the game. If the
  player meets an enemy the game switches to the fighting view. The combat is in
  real time and the player controls Maddog's basic movements: side steps,
  blocking and attacking in two different heights. There are three difficulty
  levels which mostly influence the combat but the lowest one also results in
  easier puzzles."
screenshots:
  - https://cdn.dos.zone/original/2X/3/345fc1d05a59d43b1e68ea674b8046a07034ee2b.gif
  - https://cdn.dos.zone/original/2X/7/7a81702be6eb079ea41e40b7b5b970a828e025e3.gif
---
