---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/queen-of-hearts-maze-game.jsdos
layout: page.njk
ogDescription: The Queen of Hearts Maze Game is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Queen of Hearts Maze Game on mobile. On DOS.Zone The Queen of Hearts
  Maze Game available to play for free without registration.
permalink: /the-queen-of-hearts-maze-game-1982/
screenshots:
- https://cdn.dos.zone/original/2X/d/d348e24162ba2d3ec662b062b1912e6d54f6bd6c.gif
- https://cdn.dos.zone/original/2X/b/be5751e6017badfa5179e6959b1e4c8401917192.png
shortTitle: The Queen of Hearts Maze Game
title: The Queen of Hearts Maze Game | 🕹️Play The Queen of Hearts Maze Game Online
  | DOS game in browser

---
