---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/legacy-realm-of-terror.jsdos
layout: page.njk
ogDescription: 'The Legacy: Realm of Terror is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Legacy: Realm of Terror on mobile. On DOS.Zone The Legacy: Realm of Terror
  available to play for free without registration.'
permalink: /the-legacy-realm-of-terror-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c2696af87813f2308c0cefa934f7ed4a40cde050.png
- https://cdn.dos.zone/original/2X/8/82f0fcc9cd44c7f077060858b128d69e0703d1fa.png
shortTitle: 'The Legacy: Realm of Terror'
title: 'The Legacy: Realm of Terror | 🕹️Play The Legacy: Realm of Terror Online |
  DOS game in browser'

---
