---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/catacomb-abyss.jsdos
layout: page.njk
ogDescription: The Catacomb Abyss is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Catacomb Abyss on mobile. On DOS.Zone The Catacomb Abyss available to play for
  free without registration.
permalink: /the-catacomb-abyss-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/689723ad7055a94759a5b7dc76e622ebde3d9ee9.gif
- https://cdn.dos.zone/original/2X/c/cd490e5119481c66e06ffee1040cec8181b691b1.gif
shortTitle: The Catacomb Abyss
title: The Catacomb Abyss | 🕹️Play The Catacomb Abyss Online | DOS game in browser

---
