---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/pure-wargame.jsdos
layout: page.njk
ogDescription: The Pure Wargame is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Pure Wargame
  on mobile. On DOS.Zone The Pure Wargame available to play for free without registration.
permalink: /the-pure-wargame-1995/
screenshots:
- https://cdn.dos.zone/original/2X/5/5a649ad360083ce56c620accddbefab19b38efe1.gif
- https://cdn.dos.zone/original/2X/f/febf93a3d73d599cab32070ff612768998b2794f.gif
shortTitle: The Pure Wargame
title: The Pure Wargame | 🕹️Play The Pure Wargame Online | DOS game in browser

---
