---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/hunt-for-red-october_.jsdos
layout: page.njk
ogDescription: The Hunt for Red October is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Hunt for Red October on mobile. On DOS.Zone The Hunt for Red October available
  to play for free without registration.
permalink: /the-hunt-for-red-october-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/4df6f15d0c06a9f9581c60ab13ad130bc15b979c.gif
- https://cdn.dos.zone/original/2X/8/8ebc3a2af78d3aaa0f30fea72d6d650c8bc1c192.gif
shortTitle: The Hunt for Red October
title: The Hunt for Red October | 🕹️Play The Hunt for Red October Online | DOS game
  in browser

---
