---
layout: page.njk
title: The Carl Lewis Challenge | 🕹️Play The Carl Lewis Challenge Online |
  Download js-dos bundle
ogDescription: Want to Play The Carl Lewis Challenge? 🕹 On Dos Zone you can
  play The Carl Lewis Challenge OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Carl Lewis Challenge
permalink: /the-carl-lewis-challenge-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fcarl-lewis-challenge.jsdos
description: The game is about more than just Carl Lewis. You can select from a
  variety of countries to enter your athletes from, and then train them to hone
  their abilities before the real competition begins. The events are varied and
  range from running the 100 meter dash to the javelin throw. And the selection
  of athletes includes male and female stars.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cd586c63d534d4d1694fde7dd833f660633fa1e2.png
  - https://cdn.dos.zone/original/2X/d/df4401d3f6932c933a5f5f529d14d904bc832b9.png
---
