---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/fidelity-chessmaster-2100.jsdos
layout: page.njk
ogDescription: The Fidelity Chessmaster 2100 is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Fidelity Chessmaster 2100 on mobile. On DOS.Zone The Fidelity Chessmaster
  2100 available to play for free without registration.
permalink: /the-fidelity-chessmaster-2100-mar-1989/
screenshots:
- https://cdn.dos.zone/original/2X/c/c573993ee9025c3a0eb4ed5d6040f1d39bdfaf47.png
- https://cdn.dos.zone/original/2X/6/6240364a5d9ab630b526c69c00a00516428faef2.png
shortTitle: The Fidelity Chessmaster 2100
title: The Fidelity Chessmaster 2100 | 🕹️Play The Fidelity Chessmaster 2100 Online
  | DOS game in browser

---
