---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/lurking-horror.jsdos
layout: page.njk
ogDescription: The Lurking Horror is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Lurking Horror on mobile. On DOS.Zone The Lurking Horror available to play for
  free without registration.
permalink: /the-lurking-horror-jun-1987/
screenshots:
- https://cdn.dos.zone/original/2X/2/222f4ff05910395a950b883ed58841c044e856d4.gif
shortTitle: The Lurking Horror
title: The Lurking Horror | 🕹️Play The Lurking Horror Online | DOS game in browser

---
