---
layout: page.njk
title: The Ultimate Tapan Kaikki | 🕹️Play The Ultimate Tapan Kaikki Online |
  Download js-dos bundle
ogDescription: Want to Play The Ultimate Tapan Kaikki? 🕹 On Dos Zone you can
  play The Ultimate Tapan Kaikki OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Ultimate Tapan Kaikki
permalink: /the-ultimate-tapan-kaikki-1998/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fultimate-tapan-kaikki.jsdos
description: The Ultimate Tapan Kaikki (Translates roughly to The Ultimate I'll
  Kill Everyone) is a simple top-down shooter. The goal of the game is, as the
  title suggests, to kill everyone on the map by using weapons either picked up
  from the map or bought from stores. That sounds simple, but it isn't as easy
  as one might think, as the enemies are numerous and stimpacks are scarce. The
  game comes with two episodes and ability to create more on your own with a
  simple level-editor.
screenshots:
  - https://cdn.dos.zone/original/2X/a/ae2a8923d4b675be38a274b822f1d0502d459c7c.png
  - https://cdn.dos.zone/original/2X/c/c6a6a010c825d3df0e7493adb19e57a56edddb63.png
---
