---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/dungeons-of-grimlor.jsdos
layout: page.njk
ogDescription: The Dungeons of Grimlor is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Dungeons of Grimlor on mobile. On DOS.Zone The Dungeons of Grimlor available
  to play for free without registration.
permalink: /the-dungeons-of-grimlor-1993/
screenshots:
- https://cdn.dos.zone/original/2X/a/ab370f53f88452ec1e6ff921d9497b5d6670a39c.png
- https://cdn.dos.zone/original/2X/f/f9054ba1b4970c1ce9f77b4184d575c5afe06da1.png
shortTitle: The Dungeons of Grimlor
title: The Dungeons of Grimlor | 🕹️Play The Dungeons of Grimlor Online | DOS game
  in browser

---
