---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/kingdom-of-syree.jsdos
layout: page.njk
ogDescription: The Kingdom of Syree is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Kingdom of Syree on mobile. On DOS.Zone The Kingdom of Syree available to
  play for free without registration.
permalink: /the-kingdom-of-syree-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/eb017de544d9acbb99ae36f37032dd5f825ee81a.png
- https://cdn.dos.zone/original/2X/1/11603e1cc5feafa201b411fcec21737e57e542b3.png
shortTitle: The Kingdom of Syree
title: The Kingdom of Syree | 🕹️Play The Kingdom of Syree Online | DOS game in browser

---
