---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/new-dash-dimension.jsdos
layout: page.njk
ogDescription: The New Dash Dimension is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The New Dash Dimension on mobile. On DOS.Zone The New Dash Dimension available
  to play for free without registration.
permalink: /the-new-dash-dimension-1995/
screenshots:
- https://cdn.dos.zone/original/2X/a/a9149f65d121b2e92403b36eade7fed36080f987.png
- https://cdn.dos.zone/original/2X/a/a5ace2653094a50ebb737778ad9369f605e6deaa.png
shortTitle: The New Dash Dimension
title: The New Dash Dimension | 🕹️Play The New Dash Dimension Online | DOS game in
  browser

---
