---
layout: page.njk
title: "The Geekwad: Games of the Galaxy | 🕹️Play The Geekwad: Games of the
  Galaxy Online | Download js-dos bundle"
ogDescription: "Want to Play The Geekwad: Games of the Galaxy? 🕹 On Dos Zone
  you can play The Geekwad: Games of the Galaxy OR donwload js-dos bundle for
  free. Start playing now!"
shortTitle: "The Geekwad: Games of the Galaxy"
permalink: /the-geekwad-games-of-the-galaxy-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgeekwad-games-of-the-galaxy.jsdos
description: "In Geekwad: Games of the Galaxy the player takes control of the
  Geekwad Gamer, the best gamer in the universe. To win the game one has to free
  a king by getting the high score at five video games and trivia. All the games
  are parodies of classic arcade games like Spaced Solicitors ( Space Invaders),
  Beefender ( Defender), Phlegming (the name is like Lemmings but gameplay is
  closer to Joust), Grogger ( Frogger), and more."
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b5e546072a4a892caa14e698041fcc6d223e80a.png
  - https://cdn.dos.zone/original/2X/1/111779bf12ca4503b42f26a80ab48a01034ba47b.png
---
