---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/return-of-medusa.jsdos
layout: page.njk
ogDescription: The Return of Medusa is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Return of Medusa on mobile. On DOS.Zone The Return of Medusa available to
  play for free without registration.
permalink: /the-return-of-medusa-1991/
screenshots:
- https://cdn.dos.zone/original/2X/7/78a6155f03607d6dc0acbdd2135c30499f59dccb.png
- https://cdn.dos.zone/original/2X/e/efdc8bdbdd1b2bcd1bc7a06f554211eb4cb204af.png
shortTitle: The Return of Medusa
title: The Return of Medusa | 🕹️Play The Return of Medusa Online | DOS game in browser

---
