---
layout: page.njk
title: The Las Vegas EGA Casino (Version 2.0) | 🕹️Play The Las Vegas EGA Casino
  (Version 2.0) Online | Download js-dos bundle
ogDescription: Want to Play The Las Vegas EGA Casino (Version 2.0)? 🕹 On Dos
  Zone you can play The Las Vegas EGA Casino (Version 2.0) OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: The Las Vegas EGA Casino (Version 2.0)
permalink: /the-las-vegas-ega-casino-version-2-0-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flas-vegas-ega-casino-version-20.jsdos
description: Version 2.0 of The Las Vegas EGA Casino is an updated version of
  the original. The game now supports music ( the game plays Fats Waller's
  "Ain't Misbehavin'" on the title screen) and sound effects if you have a Sound
  Blaster card installed. People who registered the game also got a free copy of
  Big Bertha in the mail. Big Bertha is a replica of a large slot machine that
  used to be in a gambling hall in Reno, Nevada. You can bet up to three coins
  at a time, and you earn different payouts depending on the combination you
  get.
screenshots:
  - https://cdn.dos.zone/original/2X/6/67f618d44fbe8fd3c45077f56e5733661986fb39.png
  - https://cdn.dos.zone/original/2X/b/b4e6e489993a9c614234f57b45a00cb6951fc7b4.png
---
