---
layout: page.njk
title: The Thor Trilogy | 🕹️Play The Thor Trilogy Online | Download js-dos bundle
ogDescription: Want to Play The Thor Trilogy? 🕹 On Dos Zone you can play The
  Thor Trilogy OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Thor Trilogy
permalink: /the-thor-trilogy-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fthor-trilogy.jsdos
description: "You find yourself trapped deep within Thor's domain. Your mission
  is to locate three missing items that are scattered throughout the place. The
  missing items are the Female-item, the Heart-item and the Male-item. The
  player controls a smiley face through an ASCII-based world. There are many
  enemies in that world that you have to shoot during your adventure. And you
  can collect other items like potions, food, coins, shields and keys to sustain
  your existence . One of the game's features is the freedom of movement: you
  are allowed to reenter any level. You may find yourself going back up a level
  from a newly discovered location, and winding up in a completely new area. The
  trilogy is divided into three episodes, the first of which was originally
  available as shareware and the subsequent ones upon the payment of a
  registration fee (all now available as freeware): 1 - Caves of Thor, 2 - Realm
  of Thor, and 3 - Thor's Revenge."
screenshots:
  - https://cdn.dos.zone/original/2X/5/52ea58877025164401e66ad67457b96e572b1a48.png
  - https://cdn.dos.zone/original/2X/6/66b2a3386ae13ec5c2aa65667bde0eae34f3d090.png
---
