---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/basket-manager.jsdos
layout: page.njk
ogDescription: The Basket Manager is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Basket Manager on mobile. On DOS.Zone The Basket Manager available to play for
  free without registration.
permalink: /the-basket-manager-1991/
screenshots:
- https://cdn.dos.zone/original/2X/e/effb200f8123adcff9e9688a9f0b9b53d36277d6.png
- https://cdn.dos.zone/original/2X/d/d56c6caaf5a42b9f29edea225963b7666db6b807.png
shortTitle: The Basket Manager
title: The Basket Manager | 🕹️Play The Basket Manager Online | DOS game in browser

---
