---
layout: page.njk
title: The Last Eichhof | 🕹️Play The Last Eichhof Online | Download js-dos bundle
ogDescription: Want to Play The Last Eichhof? 🕹 On Dos Zone you can play The
  Last Eichhof OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Last Eichhof
permalink: /the-last-eichhof-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Flast-eichhof.jsdos
description: In what has to be considered one of the most "original" games of
  all time, you are a flying beer in space. And the evil corporations are coming
  after you, so you must use your "beer power" to fight off wave after wave of
  corporate "beer".
screenshots:
  - https://cdn.dos.zone/original/2X/1/14e68591b4170293ed1a926e2a7f5ef45bfd840f.gif
  - https://cdn.dos.zone/original/2X/f/f6867b5a78a1a2a77ca9867f438c1b5885ca0a39.gif
---
