---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/civil-war-master-players-edition.jsdos
layout: page.njk
ogDescription: 'The Civil War: Master Players Edition is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Civil War: Master Players Edition on mobile. On DOS.Zone
  The Civil War: Master Players Edition available to play for free without registration.'
permalink: /the-civil-war-master-players-edition-1996/
screenshots: []
shortTitle: 'The Civil War: Master Players Edition'
title: 'The Civil War: Master Players Edition | 🕹️Play The Civil War: Master Players
  Edition Online | DOS game in browser'

---
