---
layout: page.njk
title: The Final Battle | 🕹️Play The Final Battle Online | Download js-dos bundle
ogDescription: Want to Play The Final Battle? 🕹 On Dos Zone you can play The
  Final Battle OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Final Battle
permalink: /the-final-battle-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffinal-battle.jsdos
description: "The Final Battle is the successor to Legend of the Sword. In the
  last game, five heroes managed to foil the plans of the evil wizard Suzar. Now
  he has returned, captured the party and threw them in his dungeon. The player
  takes the role of one of the group, with the goal to free his comrades,
  explore the island and stop the threat once and for all. The main difference
  to the predecessor is the isometric perspective and a completely icon-driven
  interface. To interact with the environment, first a click on the ícon and
  then on the item or person in the playfield is necessary. The puzzles are
  inventory-based, but the environment plays a big role in the problems and
  their solutions: the game features a day/night-cycle and a weather system. The
  people to be freed have different abilities which need to be used for puzzle
  solving. Despite the perspective, the current group leader is not on screen
  and the player is meant to see through his/her eyes."
screenshots: []
---
