---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/incredible-machine.jsdos
layout: page.njk
ogDescription: The Incredible Machine is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in The Incredible Machine on mobile. On DOS.Zone The Incredible Machine available
  to play for free without registration.
permalink: /the-incredible-machine-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/2f237572f533be2cbb67c5d67b1ed095d1099d30.png
- https://cdn.dos.zone/original/2X/7/70814adb099858f9b35dbc41dcfd05481f7b606a.png
shortTitle: The Incredible Machine
title: The Incredible Machine | 🕹️Play The Incredible Machine Online | DOS game in
  browser

---
