---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ibm-basic-quiz.jsdos
layout: page.njk
ogDescription: The IBM BASIC Quiz is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The IBM BASIC Quiz on mobile. On DOS.Zone The IBM BASIC Quiz available to play for
  free without registration.
permalink: /the-ibm-basic-quiz-feb-1989/
screenshots:
- https://cdn.dos.zone/original/2X/a/afffb726147c974e0ebd39041ce9ca0e85f64a09.png
- https://cdn.dos.zone/original/2X/c/c58488fee125a966fa9bbfacecd777b764496a45.png
shortTitle: The IBM BASIC Quiz
title: The IBM BASIC Quiz | 🕹️Play The IBM BASIC Quiz Online | DOS game in browser

---
