---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/las-vegas-ega-casino-version-20.jsdos
layout: page.njk
ogDescription: The Las Vegas EGA Casino (Version 2.0) is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Las Vegas EGA Casino (Version 2.0) on mobile. On DOS.Zone
  The Las Vegas EGA Casino (Version 2.0) available to play for free without registration.
permalink: /the-las-vegas-ega-casino-version-2-0-1991/
screenshots:
- https://cdn.dos.zone/original/2X/6/67f618d44fbe8fd3c45077f56e5733661986fb39.png
- https://cdn.dos.zone/original/2X/b/b4e6e489993a9c614234f57b45a00cb6951fc7b4.png
shortTitle: The Las Vegas EGA Casino (Version 2.0)
title: The Las Vegas EGA Casino (Version 2.0) | 🕹️Play The Las Vegas EGA Casino (Version
  2.0) Online | DOS game in browser

---
