---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/untouchables.jsdos
layout: page.njk
ogDescription: The Untouchables is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Untouchables
  on mobile. On DOS.Zone The Untouchables available to play for free without registration.
permalink: /the-untouchables-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/bd140a5a4239a4466c8a89648875d60784052afd.gif
- https://cdn.dos.zone/original/2X/9/907c9d6b89d49b0558a19250451d5a32b383dc66.gif
shortTitle: The Untouchables
title: The Untouchables | 🕹️Play The Untouchables Online | DOS game in browser

---
