---
layout: page.njk
title: "The Magic Candle II: The Four and Forty | 🕹️Play The Magic Candle II:
  The Four and Forty Online | Download js-dos bundle"
ogDescription: "Want to Play The Magic Candle II: The Four and Forty? 🕹 On Dos
  Zone you can play The Magic Candle II: The Four and Forty OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "The Magic Candle II: The Four and Forty"
permalink: /the-magic-candle-ii-the-four-and-forty-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fmagic-candle-ii-the-four-and-forty.jsdos
description: Part of the Magic Candle series, this is much like the first game
  in the series, only with an enhanced VGA engine. Choose your party of
  adventurers and roam the land to discover the secret of the Four and Forty.
screenshots:
  - https://cdn.dos.zone/original/2X/5/59bbadbc9caee921362c2de1eb79a27478cacf06.png
  - https://cdn.dos.zone/original/2X/b/b5fea7b2fd9391a42aad648f9951286f28faec5e.png
---
