---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/chase-on-tom-sawyers-island.jsdos
layout: page.njk
ogDescription: The Chase on Tom Sawyer's Island is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in The Chase on Tom Sawyer's Island on mobile. On DOS.Zone The Chase on
  Tom Sawyer's Island available to play for free without registration.
permalink: /the-chase-on-tom-sawyers-island-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/8a437ca32737f825dfa88455d57d708e1f1e9081.png
- https://cdn.dos.zone/original/2X/3/314a089cb35990f3f1aa3e32541c83acab4293e.png
shortTitle: The Chase on Tom Sawyer's Island
title: The Chase on Tom Sawyer's Island | 🕹️Play The Chase on Tom Sawyer's Island
  Online | DOS game in browser

---
