---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/computer-quiz.jsdos
layout: page.njk
ogDescription: The Computer Quiz is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Computer Quiz on mobile. On DOS.Zone The Computer Quiz available to play for
  free without registration.
permalink: /the-computer-quiz-jul-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/8d38dee8490b91b4d994493ad19b5f39f3b8a238.png
- https://cdn.dos.zone/original/2X/b/b14037d649a31d7bce1671382ec45fafa5531d82.png
shortTitle: The Computer Quiz
title: The Computer Quiz | 🕹️Play The Computer Quiz Online | DOS game in browser

---
