---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/munsters.jsdos
layout: page.njk
ogDescription: The Munsters is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The Munsters
  on mobile. On DOS.Zone The Munsters available to play for free without registration.
permalink: /the-munsters-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/5dbc67ee90618adee25bcf8333af3abe98d138c3.png
- https://cdn.dos.zone/original/2X/f/fb9a00ba4c9ca931196f058d3249324f4ad916fe.png
shortTitle: The Munsters
title: The Munsters | 🕹️Play The Munsters Online | DOS game in browser

---
