---
layout: page.njk
title: The Kristal | 🕹️Play The Kristal Online | Download js-dos bundle
ogDescription: Want to Play The Kristal? 🕹 On Dos Zone you can play The Kristal
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Kristal
permalink: /the-kristal-dec-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fkristal.jsdos
description: The Kristal of Konos is a magical artefact described as the key to
  world peace. However, an evil being known as Malvalla has taken it, releasing
  Chaos into the universe. A space pirate named Dancis Frake ventures on his
  twin cannon space galleon to the planet Meltoca, where he hopes to find clues
  concerning the Kristal's whereabouts. Based on the theater play The Kristal of
  Konos (1976), The Kristal is primarily an adventure game with space shooter
  and fighting segments. The adventure portions consist of exploring populated
  planets, gathering clues and talking to characters in order to gain
  information. When traveling between planets, the player-controlled ship may be
  attacked be enemies, which must be eliminated in shooting sequences. Dancis
  has special strength and psychic ratings, which may increase or decrease
  depending on his actions. He may participate in swordfighting to improve these
  parameters. "Skringles", a form of intergalactic currency, can be found,
  earned, and spent in the game.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ff787e676ca917efb0d76a0c2b529007aca269e1.png
  - https://cdn.dos.zone/original/2X/7/727bb7a6fa9a79c481ee1fa726d83c22a45d80c4.png
---
