---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/global-dilemma-guns-or-butter.jsdos
layout: page.njk
ogDescription: 'The Global Dilemma: Guns or Butter is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in The Global Dilemma: Guns or Butter on mobile. On DOS.Zone The Global
  Dilemma: Guns or Butter available to play for free without registration.'
permalink: /the-global-dilemma-guns-or-butter-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/43924cf2e123bf2d626a660e93e34eb822d476d5.png
- https://cdn.dos.zone/original/2X/c/c6babc7382547c0cc8e3109dffcaf546ea983964.png
shortTitle: 'The Global Dilemma: Guns or Butter'
title: 'The Global Dilemma: Guns or Butter | 🕹️Play The Global Dilemma: Guns or Butter
  Online | DOS game in browser'

---
