---
layout: page.njk
title: The Need for Speed | 🕹️Play The Need for Speed Online | Download js-dos bundle
ogDescription: Want to Play The Need for Speed? 🕹 On Dos Zone you can play The
  Need for Speed OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Need for Speed
permalink: /the-need-for-speed-sep-1995/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fnfs.jsdos
description: >-
  Drive some of your favourite sports cars through wild and fast tracks,
  including the Dodge Viper, Lamborghini, Ferrari, Porsche, Corvette, Mazda RX7,
  Toyota Supra Turbo, and Acura NSX.

  Some of the tracks are open road, meaning you simply fly down a huge highway, with cops following in hot pursuit. One of the options in the game allows you to pick which time of the day to race in.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e5f62e0da3b896347644ea61bc775071ad01328f.png
  - https://cdn.dos.zone/original/2X/6/6d911f376a15737a09759ab87e52317822c6f62d.png
---
