---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/oakflat-nuclear-power-plant-simulator.jsdos
layout: page.njk
ogDescription: The Oakflat Nuclear Power Plant Simulator is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in The Oakflat Nuclear Power Plant Simulator on mobile. On DOS.Zone
  The Oakflat Nuclear Power Plant Simulator available to play for free without registration.
permalink: /the-oakflat-nuclear-power-plant-simulator-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/75c140fd559baa5f8ca239e8e5335c2f05f5e1b1.png
- https://cdn.dos.zone/original/2X/9/960cab4317395f90acb2e453c6e5e83fcaa32789.png
shortTitle: The Oakflat Nuclear Power Plant Simulator
title: The Oakflat Nuclear Power Plant Simulator | 🕹️Play The Oakflat Nuclear Power
  Plant Simulator Online | DOS game in browser

---
