---
layout: page.njk
title: The Game of Yahtzee | 🕹️Play The Game of Yahtzee Online | Download
  js-dos bundle
ogDescription: Want to Play The Game of Yahtzee? 🕹 On Dos Zone you can play The
  Game of Yahtzee OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Game of Yahtzee
permalink: /the-game-of-yahtzee-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fgame-of-yahtzee.jsdos
description: The Game of Yahtzee is an implementation of the classic dice game
  for between one and five players, there is no computer opponent. The game
  plays and scores like any game of Yahtzee. It is entirely keyboard controlled
  so if a player rolls 5-5-5-1-2 and wants to try for a Yahtzee in 5's they
  enter 1 2 as the dice to re-roll. Each scoring opportunity is denoted by a
  letter so when the player's turn is done they nominate a category such as
  fives, full house, three of a kind etc by selecting the appropriate letter.
screenshots:
  - https://cdn.dos.zone/original/2X/5/50a749a0af7fb40933dbb4e06cbd0c8c287e645a.png
  - https://cdn.dos.zone/original/2X/3/3dcda88419ea673c676c174bbdf0275f311ec9ab.png
---
