---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/light-corridor.jsdos
layout: page.njk
ogDescription: The Light Corridor is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The Light Corridor on mobile. On DOS.Zone The Light Corridor available to play for
  free without registration.
permalink: /the-light-corridor-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/a46ca7084f083108fefeb8b611ce23c4b54fa942.png
- https://cdn.dos.zone/original/2X/f/f76117ad1e10087763976ebb23693e7fca5d7c86.png
shortTitle: The Light Corridor
title: The Light Corridor | 🕹️Play The Light Corridor Online | DOS game in browser

---
