---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-name-game.jsdos
layout: page.njk
ogDescription: The World Name Game is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  The World Name Game on mobile. On DOS.Zone The World Name Game available to play
  for free without registration.
permalink: /the-world-name-game-1989/
screenshots:
- https://cdn.dos.zone/original/2X/b/be967ac3181f9be3053b9ae9d254f082731fa14f.png
- https://cdn.dos.zone/original/2X/7/71ec8385f00efe947ed3efacd36aab33ee1cc71b.png
shortTitle: The World Name Game
title: The World Name Game | 🕹️Play The World Name Game Online | DOS game in browser

---
