---
layout: page.njk
title: The Sporting News Baseball | 🕹️Play The Sporting News Baseball Online |
  Download js-dos bundle
ogDescription: Want to Play The Sporting News Baseball? 🕹 On Dos Zone you can
  play The Sporting News Baseball OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: The Sporting News Baseball
permalink: /the-sporting-news-baseball-may-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsporting-news-baseball_.jsdos
description: "The Sporting News Baseball is a baseball game under the MLBPA
  license, meaning that it features some of the star players, such as Roger
  Clemens, Ozzie Smith and George Brett. You can also choose to make up your own
  team from the members of the Baseball Hall of Fame.  There are four modes of
  gameplay: player vs. player, player vs. computer or computer vs. computer.
  (you pick teams), computer vs. computer. (computer picks teams). The game can
  be saved to resume at a later moment."
screenshots:
  - https://cdn.dos.zone/original/2X/e/e193de01c85b4dbee5752a30f5be6551a8b12fdd.png
  - https://cdn.dos.zone/original/2X/3/3998a36ceb06ad00ce5ebc8310fec2a7eb659491.png
---
