---
layout: page.njk
title: The Dark Convergence II | 🕹️Play The Dark Convergence II Online |
  Download js-dos bundle
ogDescription: Want to Play The Dark Convergence II? 🕹 On Dos Zone you can play
  The Dark Convergence II OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Dark Convergence II
permalink: /the-dark-convergence-ii-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fdark-convergence-ii.jsdos
description: This is the sequel to The Dark Convergence and takes place some
  time after the end of the original game. The player has survived the horrible
  night, but his mind is deeply scarred by the horrors he had to face. In fact,
  the player lives as a bum, wandering aimlessly on the streets, not capable of
  retrieving his own lost sanity. A new horrid menace may be lurking underneath
  the apparent calm and may be linked to the psychiatrist who is searching for
  the player... This game uses the same engine as the original game with similar
  gameplay and atmospheres.
screenshots:
  - https://cdn.dos.zone/original/2X/c/cea2af237fa48ddae5770adee8eb444e6d68b310.png
  - https://cdn.dos.zone/original/2X/6/68f73415ea2f66367d3d6e90fe4035c5d5aab23d.png
---
