---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: original/2X/f/fd74b5f9cdc413e64cbc6d4f20d86a8f726f4e17.jsdos
layout: page.njk
ogDescription: The Incredible Machine 2 is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Incredible Machine 2 on mobile. On DOS.Zone The Incredible Machine 2 available
  to play for free without registration.
permalink: /the-incredible-machine-2-1994/
screenshots:
- https://cdn.dos.zone/original/2X/8/89c1e9dc2ba451b9752d8459ab68702bde9d625c.gif
- https://cdn.dos.zone/original/2X/a/a281043c8a2175d6f1620dd100132ece3d22094a.gif
shortTitle: The Incredible Machine 2
title: The Incredible Machine 2 | 🕹️Play The Incredible Machine 2 Online | DOS game
  in browser

---
