---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/a-team.jsdos
layout: page.njk
ogDescription: The A-Team is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in The A-Team
  on mobile. On DOS.Zone The A-Team available to play for free without registration.
permalink: /the-a-team-1989/
screenshots:
- https://cdn.dos.zone/original/2X/4/470e1148b42539def9c849059a1f6f9bdc5060ce.gif
- https://cdn.dos.zone/original/2X/5/54d7e99bdfdad97ed24a770cd8d67c183e5c1237.gif
shortTitle: The A-Team
title: The A-Team | 🕹️Play The A-Team Online | DOS game in browser

---
