---
layout: page.njk
title: The Smurfs | 🕹️Play The Smurfs Online | Download js-dos bundle
ogDescription: Want to Play The Smurfs? 🕹 On Dos Zone you can play The Smurfs
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: The Smurfs
permalink: /the-smurfs-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fsmurfs_.jsdos
description: >-
  Free the Smurfs before Gargamel smurfs then all!

  Platform game where you will be able to play with the jockey smurf, the brainy smurf, the greedy smurf and the hefty smurf to resolve the adventure.

  All of the classic SMURF characters are along for the adventure, guaranteeing you a Smurf-tastic time.
screenshots:
  - https://cdn.dos.zone/original/2X/3/343ccd47fd11c762efabb8210f76a5d56193b43f.png
  - https://cdn.dos.zone/original/2X/6/6ef2de342215a1e9913db44dd75b17c5ff7114da.png
---
