---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/day-5-assault-dragon.jsdos
layout: page.njk
ogDescription: 'The Day 5: Assault Dragon is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in The Day 5: Assault Dragon on mobile. On DOS.Zone The Day 5: Assault Dragon available
  to play for free without registration.'
permalink: /the-day-5-assault-dragon-jan-1995/
screenshots:
- https://cdn.dos.zone/original/2X/e/e96ec9ac154c15eb805c25378adb754f5a65f722.png
- https://cdn.dos.zone/original/2X/c/c427fc6b14d870fe4d73eceae14583ee6f4a0ae2.png
shortTitle: 'The Day 5: Assault Dragon'
title: 'The Day 5: Assault Dragon | 🕹️Play The Day 5: Assault Dragon Online | DOS
  game in browser'

---
