---
layout: page.njk
title: Think Quick! | 🕹️Play Think Quick! Online | Download js-dos bundle
ogDescription: Want to Play Think Quick!? 🕹 On Dos Zone you can play Think
  Quick! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Think Quick!
permalink: /think-quick-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fthink-quick.jsdos
description: A dragon has taken over the Castle of Mystikar. To defeat the
  dragon, you must find the parts to build an enchanted knight which are spread
  throughout the castle. Numerous locked doors, many of which need to be opened
  in the proper order, block passageways. Roaming the halls are numerous slime
  worms, who will swallow you whole or fall asleep if you can feed them some
  flowers first. From any of the castle rooms you can access your hideout, which
  allows you to store useful items and clues you may find, and also pause the
  game. Each section of the castle has a time limit, and gets progressively
  harder. A castle builder is also included allowing players to create their own
  maze and puzzles.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e2b40d4cef3d2164cd7443f3e1d9f9bf7a0f9807.gif
  - https://cdn.dos.zone/original/2X/a/acbfa39c7e1197c635fa28cb3dbeb336e7bd94b5.png
---
