---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tie-break.jsdos
layout: page.njk
ogDescription: Tie Break is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tie Break
  on mobile. On DOS.Zone Tie Break available to play for free without registration.
permalink: /tie-break-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/3cfe7a79f9c54238c74b4485914994cd1e833b56.png
- https://cdn.dos.zone/original/2X/7/70b679c998fbf77a81e0c3b785fda88593d74583.png
shortTitle: Tie Break
title: Tie Break | 🕹️Play Tie Break Online | DOS game in browser

---
