---
layout: page.njk
title: Tiger Road | 🕹️Play Tiger Road Online | Download js-dos bundle
ogDescription: Want to Play Tiger Road? 🕹 On Dos Zone you can play Tiger Road
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tiger Road
permalink: /tiger-road-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftiger-road.jsdos
description: Tiger Road is a  beat 'em up in which you (as Lee Wong) must rescue
  the village children from the evil Ryo Ken Oh. Many levels are horizontally
  scrolling, although with high ledges to jump onto and follow for a slightly
  different path. Magic urns containing improved weapons appear frequently. Most
  enemies are easy to attack and only need one hit to kill, although they come
  at you in large hordes. Once you get to the indoor sections you will find big
  enemies with the ability to kill you with one hit, in sections set on multiple
  levels complete with stairways.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6bcf84bea4eb9f907e26213085e1bfbe5f52616f.png
  - https://cdn.dos.zone/original/2X/4/40b2fa66fbb87c078824def274e699ea7958506a.png
---
