---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tiger-road.jsdos
layout: page.njk
ogDescription: Tiger Road is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tiger Road
  on mobile. On DOS.Zone Tiger Road available to play for free without registration.
permalink: /tiger-road-1989/
screenshots:
- https://cdn.dos.zone/original/2X/6/6bcf84bea4eb9f907e26213085e1bfbe5f52616f.png
- https://cdn.dos.zone/original/2X/4/40b2fa66fbb87c078824def274e699ea7958506a.png
shortTitle: Tiger Road
title: Tiger Road | 🕹️Play Tiger Road Online | DOS game in browser

---
