---
layout: page.njk
title: Tigers on the Prowl | 🕹️Play Tigers on the Prowl Online | Download
  js-dos bundle
ogDescription: Want to Play Tigers on the Prowl? 🕹 On Dos Zone you can play
  Tigers on the Prowl OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tigers on the Prowl
permalink: /tigers-on-the-prowl-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftigers-on-the-prowl.jsdos
description: Tigers on the Prowl is a tactical level wargame set during World
  War II on the Eastern Front. Either the German or Soviet side can be selected
  (their allies are also included). While the game focuses on armored vehicles
  (and includes various ammunition types with penetration data), it also models
  artillery, infantry, engineers, cavalry and minefields - the player may even
  call for air support. The simulation not only takes into account the factors
  of morale and supply, but also communication (orders are delayed) and limited
  intelligence. In addition to historical missions, a scenario editor is
  included.
screenshots: []
---
