---
layout: page.njk
title: Time Machine I | 🕹️Play Time Machine I Online | Download js-dos bundle
ogDescription: Want to Play Time Machine I? 🕹 On Dos Zone you can play Time
  Machine I OR donwload js-dos bundle for free. Start playing now!
shortTitle: Time Machine I
permalink: /time-machine-i-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftime-machine-i.jsdos
description: Time Machine I is a Korean-made educational game similar in concept
  to Where in Time is Carmen Sandiego?. The player takes the role of a detective
  working for a futuristic agency in 2010, sent on a mission to catch a criminal
  who has escaped with a time machine. The gameplay involves selecting and
  exploring various time periods. Historical and geographical information is
  given to the player, describing each epoch accordingly and giving clues
  concerning the criminal's whereabouts. The time periods range from prehistoric
  age to modern history, but are confined to the Korean peninsula.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fd7f95a583a83732c7f9b4b14486c41615ebff18.png
  - https://cdn.dos.zone/original/2X/5/5477b7f3b6cbd1a01079cd9f9191a73495ed13f0.png
---
