---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/time-machine-i.jsdos
layout: page.njk
ogDescription: Time Machine I is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Time Machine
  I on mobile. On DOS.Zone Time Machine I available to play for free without registration.
permalink: /time-machine-i-1993/
screenshots:
- https://cdn.dos.zone/original/2X/f/fd7f95a583a83732c7f9b4b14486c41615ebff18.png
- https://cdn.dos.zone/original/2X/5/5477b7f3b6cbd1a01079cd9f9191a73495ed13f0.png
shortTitle: Time Machine I
title: Time Machine I | 🕹️Play Time Machine I Online | DOS game in browser

---
