---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/timequest.jsdos
layout: page.njk
ogDescription: Timequest is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Timequest
  on mobile. On DOS.Zone Timequest available to play for free without registration.
permalink: /timequest-1991/
screenshots:
- https://cdn.dos.zone/original/2X/3/3801be2294853caf1ebe11d8e8456d6a0ecbb66f.png
- https://cdn.dos.zone/original/2X/1/1319f986a0176682bedaaad70703ef8df81b3800.gif
shortTitle: Timequest
title: Timequest | 🕹️Play Timequest Online | DOS game in browser

---
