---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/time-race.jsdos
layout: page.njk
ogDescription: Time Race is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Time Race
  on mobile. On DOS.Zone Time Race available to play for free without registration.
permalink: /time-race-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/ec07498b7173d6774d993fb866072751c217a134.png
- https://cdn.dos.zone/original/2X/d/d3ee1dee85a45e552abec55c177830177322a081.png
shortTitle: Time Race
title: Time Race | 🕹️Play Time Race Online | DOS game in browser

---
