---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tinytris.jsdos
layout: page.njk
ogDescription: TinyTris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in TinyTris on
  mobile. On DOS.Zone TinyTris available to play for free without registration.
permalink: /tinytris-jul-26-2004/
screenshots:
- https://cdn.dos.zone/original/2X/9/96729dddf7dc7359a5e420f26948614b2123d604.png
- https://cdn.dos.zone/original/2X/a/a31760c17f813bd7d0075004c0e5d11e395c1aa8.png
shortTitle: TinyTris
title: TinyTris | 🕹️Play TinyTris Online | DOS game in browser

---
