---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/toad-road.jsdos
layout: page.njk
ogDescription: Toad Road is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Toad Road
  on mobile. On DOS.Zone Toad Road available to play for free without registration.
permalink: /toad-road-1990/
screenshots:
- https://cdn.dos.zone/original/2X/9/9357d48c3c2967fa515a298ca83396914a5436b4.png
- https://cdn.dos.zone/original/2X/1/11c4224e92184ff82d1a928fc70a8d75b059a0d7.png
shortTitle: Toad Road
title: Toad Road | 🕹️Play Toad Road Online | DOS game in browser

---
