---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/toho-academy-adventure.jsdos
layout: page.njk
ogDescription: Toho Academy Adventure is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Toho Academy Adventure on mobile. On DOS.Zone Toho Academy Adventure available
  to play for free without registration.
permalink: /toho-academy-adventure-1993/
screenshots:
- https://cdn.dos.zone/original/2X/2/253a6549fdffd631d82d95e14b67606dbd635d7b.png
- https://cdn.dos.zone/original/2X/c/cec1260059f5e94f959564c5b3765a36b7efdd9f.png
shortTitle: Toho Academy Adventure
title: Toho Academy Adventure | 🕹️Play Toho Academy Adventure Online | DOS game in
  browser

---
