---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-cryptoquips.jsdos
layout: page.njk
ogDescription: Tommy's Cryptoquips is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Tommy's Cryptoquips on mobile. On DOS.Zone Tommy's Cryptoquips available to play
  for free without registration.
permalink: /tommys-cryptoquips-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e2757a4e0842023cdfc2d857a7ae64b5981ac916.png
- https://cdn.dos.zone/original/2X/b/ba7d035789ac1a95a65d58c412e15e6d718646fd.png
shortTitle: Tommy's Cryptoquips
title: Tommy's Cryptoquips | 🕹️Play Tommy's Cryptoquips Online | DOS game in browser

---
