---
layout: page.njk
title: Tommy's Chicken | 🕹️Play Tommy's Chicken Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Chicken? 🕹 On Dos Zone you can play Tommy's
  Chicken OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Chicken
permalink: /tommys-chicken-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-chicken.jsdos
description: Tommy's is a single player, shareware game based on the fun pastime
  of playing in the road with the traffic. The player controls a chicken and the
  object is to cross a four lane motorway or, more accurately, to cross and
  re-cross and generally fool around because in this game points are scored not
  for crossing the road but for how long the player can survive in the stream of
  traffic. When the action becomes too intense the player/chicken can take a
  break by resting on the lane markers but points are deducted for doing this.
  As with most of Tommy's games it uses character graphics and is entirely
  keyboard controlled. It has basic sound effects and command line switches to
  start the game with sound turned off and to force either a colour or
  monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/c/c41332be9e5e55f7e51b8988b2d8547ad0ce85d8.png
  - https://cdn.dos.zone/original/2X/b/b147e98819a3d7d81863c7dcdcad927ea4d2c72.png
---
