---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-connecting-point.jsdos
layout: page.njk
ogDescription: Tommy's Connecting Point is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Tommy's Connecting Point on mobile. On DOS.Zone Tommy's Connecting Point available
  to play for free without registration.
permalink: /tommys-connecting-point-1988/
screenshots:
- https://cdn.dos.zone/original/2X/c/c3573a947b599ce14d98622eda3b574b282a4740.png
- https://cdn.dos.zone/original/2X/b/b8cee9eea84fdf390f4b733d5c8f33efe947cc2d.png
shortTitle: Tommy's Connecting Point
title: Tommy's Connecting Point | 🕹️Play Tommy's Connecting Point Online | DOS game
  in browser

---
