---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-wheel-of-misfortune.jsdos
layout: page.njk
ogDescription: Tommy's Wheel of Misfortune is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in Tommy's Wheel of Misfortune on mobile. On DOS.Zone Tommy's Wheel of Misfortune
  available to play for free without registration.
permalink: /tommys-wheel-of-misfortune-1987/
screenshots:
- https://cdn.dos.zone/original/2X/4/4e9dbf9483b239a47b0c3300264f9bb1f6b261c1.png
- https://cdn.dos.zone/original/2X/8/87f647ce33b9226b7a9337792956d55cc612dbd2.png
shortTitle: Tommy's Wheel of Misfortune
title: Tommy's Wheel of Misfortune | 🕹️Play Tommy's Wheel of Misfortune Online | DOS
  game in browser

---
