---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-tenpins.jsdos
layout: page.njk
ogDescription: Tommy's Tenpins is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Tenpins
  on mobile. On DOS.Zone Tommy's Tenpins available to play for free without registration.
permalink: /tommys-tenpins-1987/
screenshots:
- https://cdn.dos.zone/original/2X/e/e6a225a6df7b53e6dc53c21859859e50b7da6d55.png
- https://cdn.dos.zone/original/2X/a/adb44c3f78849c4621faa275c61efe49e43433b3.png
shortTitle: Tommy's Tenpins
title: Tommy's Tenpins | 🕹️Play Tommy's Tenpins Online | DOS game in browser

---
