---
layout: page.njk
title: Tommy's Trifles | 🕹️Play Tommy's Trifles Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Trifles? 🕹 On Dos Zone you can play Tommy's
  Trifles OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Trifles
permalink: /tommys-trifles-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-trifles.jsdos
description: >-
  Tommy's Trifles is a collection of simple, single player, shareware,
  children's games.

  In this product we have: Rock Paper Scissors: the first to win twenty rounds of scissors cuts paper, paper wraps rock, rock breaks scissors wins the game. 23 Matches: the player who takes the last match loses Four in a Row: this is a Connect Four variant The game is entirely keyboard controlled. It has basic sound effects, a demo mode, and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6d33353b211c530087fb0c5bb85d01bb518124a4.png
  - https://cdn.dos.zone/original/2X/d/d600e10ce8d4d69ffb52b8b065153f254bbc3429.png
---
