---
layout: page.njk
title: Tommy's Airshark | 🕹️Play Tommy's Airshark Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Airshark? 🕹 On Dos Zone you can play
  Tommy's Airshark OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Airshark
permalink: /tommys-airshark-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-airshark.jsdos
description: >-
  Tommy's Airshark is a single player, shareware, vertical scrolling, helicopter
  game made using character graphics. The object is to fly over enemy territory
  and to destroy as many SAM missile firing tanks as possible. The SAM missiles
  home in on the player's 'copter but can be avoided by making continuous
  changes to course, speed and height. The 'copter can withstand three direct
  hits, after that the player has a 50/50 chance of surviving subsequent hits.

  The player's score is based on the number of tanks destroyed. The game is entirely keyboard controlled and as with most of Tommy's games it makes extensive use of the function keys. F9 for example fires the missiles while F3/F4 adjust the difficulty level. Other function keys change the size of the game area, adjust the sighting arrows, and so-on.

  It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/5/5f3d2b03c204c9e9ee06aa77666e98364c474cd.png
  - https://cdn.dos.zone/original/2X/7/7a19d97c1b04b428470f3ef1696238eb099b7f6c.png
---
