---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-chicken.jsdos
layout: page.njk
ogDescription: Tommy's Chicken is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Chicken
  on mobile. On DOS.Zone Tommy's Chicken available to play for free without registration.
permalink: /tommys-chicken-1986/
screenshots:
- https://cdn.dos.zone/original/2X/c/c41332be9e5e55f7e51b8988b2d8547ad0ce85d8.png
- https://cdn.dos.zone/original/2X/b/b147e98819a3d7d81863c7dcdcad927ea4d2c72.png
shortTitle: Tommy's Chicken
title: Tommy's Chicken | 🕹️Play Tommy's Chicken Online | DOS game in browser

---
