---
layout: page.njk
title: Tommy's Space Farmer | 🕹️Play Tommy's Space Farmer Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Space Farmer? 🕹 On Dos Zone you can play
  Tommy's Space Farmer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Space Farmer
permalink: /tommys-space-farmer-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-space-farmer.jsdos
description: >-
  Tommy's Space Farmer is a shareware card game in which the player plays
  against six AI opponents, the Earth game this is based on is for two to eight
  players but this is the version played in space by aliens. The game is played
  with a standard deck of cards from which all the eights and three of the four
  sixes have been removed, the six of hearts remains. The game plays a bit like
  blackjack with the aim being to draw cards to the value of sixteen. It is
  played for chips and the pot is called 'The Farm' and the dealer is known as
  'The Farmer'. At the end of a round the player's cards are revealed. Anyone
  with a spot count of sixteen wins, if there is a tie then there are rules to
  decide who should take the farm. There are additional rules that award chips
  in special circumstances, for example, any player whose hand count exceeds
  sixteen must pay 'The Farmer'. It's a sad fact that, in space where this game
  is played by aliens, not all aliens are honest and some of them cheat. To
  replicate the fun that this can bring to the game there is an optional CHEAT
  function. When enabled the AI opponents may cheat and the player can challenge
  them. If the challenge is successful the AI player is zapped and the remaining
  players share it's stack. However the player  challenges someone when they
  were not cheating then they get zapped and the game ends.

  The game is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/7/717a77d966582fd03f4c51c72faa8e12ee8bcba8.png
  - https://cdn.dos.zone/original/2X/3/39f3cb46928b97a5ded35214bc18503ca926154c.png
---
