---
layout: page.njk
title: Tommy's Global Thermonuclear War | 🕹️Play Tommy's Global Thermonuclear
  War Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Global Thermonuclear War? 🕹 On Dos Zone you
  can play Tommy's Global Thermonuclear War OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Tommy's Global Thermonuclear War
permalink: /tommys-global-thermonuclear-war-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-global-thermonuclear-war.jsdos
description: Tommy's Global Thermonuclear War is a shareware, single-player game
  based on global warfare. It is played against the computer. The player can
  play either as the USA or the USSR. Both the player and the computer start
  with a list of twenty cities each of which is numbered. By typing Mxx the
  player launches a missile at one of the opponents cities, the computer is
  naturally doing the same. The screen shows the cities that have been targeted
  and the estimated time to impact and to avoid losing a city the player can
  launch an anti-missile missile by typing Axx where xx is the number of the
  targeted city. Anti missiles can only be launched when the incoming missile is
  five seconds away which leads to some feverish typing and each city is allowed
  just three of them. The object of the game is to destroy the opponent's cities
  while suffering no losses of your own which is nigh on impossible. The game is
  entirely keyboard controlled. It has basic sound effects and command line
  switches to start the game with sound turned off and to force either a colour
  or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6fe2cdac01c319342800226b42a536c6bf745200.png
  - https://cdn.dos.zone/original/2X/3/39f8d0e061c1ce5bb905a30d22d65e31f15ffc56.png
---
