---
layout: page.njk
title: Tommy's Seawolf | 🕹️Play Tommy's Seawolf Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Seawolf? 🕹 On Dos Zone you can play Tommy's
  Seawolf OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Seawolf
permalink: /tommys-seawolf-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-seawolf.jsdos
description: >-
  Tommy's Seawolf is a shareware, single player, submarine strategy game that
  uses character based graphics. The player's submarine is in the centre of a
  grid based map. A convoy travels left to right through the area that the
  player patrols and it's a big one consisting of ships, submarines, and anti
  submarine helicopters. The ships have guns and can lay depth charges, the
  helicopters can fire rockets and drop depth charges, and while the enemy subs
  are slower they have torpedoes that are a match for those carried by the
  Seawolf.

  The Seawolf can carry limited torpedoes, missiles and shells but more importantly it has a limited supply of fuel and can only stay submerged for two hours, luckily there is a secret  base where it can go to resupply. The game is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/1/1b029268231f3e6604ce3a123e19be541348dc6b.png
  - https://cdn.dos.zone/original/2X/f/f6402b2e106b34013e88962cfff93d71b4480504.png
---
