---
layout: page.njk
title: Tommy's Nyet | 🕹️Play Tommy's Nyet Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Nyet? 🕹 On Dos Zone you can play Tommy's
  Nyet OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Nyet
permalink: /tommys-nyet-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-nyet.jsdos
description: Tommy's Nyet is a DOS Tetris clone for one to six players. The
  player uses the numeric keypad to position falling blocks in a pit. Blocks can
  be moved right or left and they can be rotated too. When the player completes
  a row of bricks across the pit with no gaps, that row disappears and all
  remaining bricks in the pit drop down. When blocks are moved left or right
  they are moved in half-brick increments which, if the block comes to rest in
  this position, leads to rows of blocks that can never be completed. Each row
  that is completed scores one hundred points. Each falling block scores points
  for every level it falls before coming to rest. The number of points scored is
  either equal to the level of difficulty, if 'peek mode' is enabled, or three
  times the level of difficulty if 'peek mode' is not enabled. 'Peek mode' is a
  switchable feature that allows the player to see the shape of the next block.
  The game has nine levels of difficulty and maintains the top ten scores for
  each level.
screenshots:
  - https://cdn.dos.zone/original/2X/8/873f79a760a2e779d83c14e970fa49ed30fd38f8.png
  - https://cdn.dos.zone/original/2X/3/3415d11baaf9705e92b7f614a68ebb3aaa736d0.png
---
