---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-patience.jsdos
layout: page.njk
ogDescription: Tommy's Patience is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Patience
  on mobile. On DOS.Zone Tommy's Patience available to play for free without registration.
permalink: /tommys-patience-1986/
screenshots:
- https://cdn.dos.zone/original/2X/c/cc7daf277d2ab0664c08f1a56da059c4bba937f3.png
- https://cdn.dos.zone/original/2X/b/b7f36368011637b48629193cc290698dfdbc0af3.png
shortTitle: Tommy's Patience
title: Tommy's Patience | 🕹️Play Tommy's Patience Online | DOS game in browser

---
