---
layout: page.njk
title: Tommy's Calabresella | 🕹️Play Tommy's Calabresella Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Calabresella? 🕹 On Dos Zone you can play
  Tommy's Calabresella OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Calabresella
permalink: /tommys-calabresella-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-calabresella.jsdos
description: "Tommy's Calabresella is a shareware, single player, trick-taking
  card game, in real life this is a game for three players but in this
  implementation the player takes one seat, north and the computer pays the
  other two. The game is also known as Terziglio, it is Italian in origin and it
  is said to have been popular among the priesthood. Detailed rules of the game
  are contained within the game and are freely available on the internet. In
  summary the game is played with a standard fifty-two card deck from which all
  the eights, nines and tens have been removed. Players bid to be the soloist
  and then play the hand, there are no trumps in this game. The soloist must
  make at least eighteen points, if they do then they score one point and
  additional points for any points they score over the eighteen mark. If they
  fail then the opponents both score the deficit. The game ends when one player
  exceeds a predefined total, in this implementation that can be any number
  between fifty and nine thousand, nine hundred and ninety nine points, or pips
  as they are called in this game. The game is entirely keyboard controlled. It
  has basic sound effects and command line switches to start the game with sound
  turned off and to force either a colour or monochrome display. In addition it
  has the following options: a demo mode where the game plays all by itself an
  Open Hand option where all player's cards are visible a hand replay option
  in-game help"
screenshots:
  - https://cdn.dos.zone/original/2X/f/f4b99613938339ece9415d5bc9374653eb4378f7.png
  - https://cdn.dos.zone/original/2X/c/ce1a43c4025824b52486ea24a7d5d7072056d63e.png
---
