---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-kiddie-cards.jsdos
layout: page.njk
ogDescription: Tommy's Kiddie Cards is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Tommy's Kiddie Cards on mobile. On DOS.Zone Tommy's Kiddie Cards available to
  play for free without registration.
permalink: /tommys-kiddie-cards-1987/
screenshots:
- https://cdn.dos.zone/original/2X/4/41b223913bed98d436c48b9ed503e763afb0027e.png
- https://cdn.dos.zone/original/2X/e/eb33943b4cd2ac2e9916f307b3f8fc081204f0dd.png
shortTitle: Tommy's Kiddie Cards
title: Tommy's Kiddie Cards | 🕹️Play Tommy's Kiddie Cards Online | DOS game in browser

---
