---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-plates.jsdos
layout: page.njk
ogDescription: Tommy's Plates is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Plates
  on mobile. On DOS.Zone Tommy's Plates available to play for free without registration.
permalink: /tommys-plates-1989/
screenshots:
- https://cdn.dos.zone/original/2X/5/5f1d01fe99631099555aad68ee91d4ed146a6783.png
- https://cdn.dos.zone/original/2X/b/bb44351fd8c11075465c81d98f3733e7c9e01220.png
shortTitle: Tommy's Plates
title: Tommy's Plates | 🕹️Play Tommy's Plates Online | DOS game in browser

---
