---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-patience-ii.jsdos
layout: page.njk
ogDescription: Tommy's Patience II is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Tommy's Patience II on mobile. On DOS.Zone Tommy's Patience II available to play
  for free without registration.
permalink: /tommys-patience-ii-1988/
screenshots:
- https://cdn.dos.zone/original/2X/b/bb1bd02aa11db47f5fda85b4716e2e47151d454d.png
- https://cdn.dos.zone/original/2X/e/e1eafadced6505c796996f1bb2c1a81f3af02049.png
shortTitle: Tommy's Patience II
title: Tommy's Patience II | 🕹️Play Tommy's Patience II Online | DOS game in browser

---
