---
layout: page.njk
title: Tommy's Think II | 🕹️Play Tommy's Think II Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Think II? 🕹 On Dos Zone you can play
  Tommy's Think II OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Think II
permalink: /tommys-think-ii-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-think-ii.jsdos
description: >-
  Tommy's Think II is a single-player, shareware, word puzzle game. The game
  contains a dictionary of over fifty thousand American words. The player sets a
  difficulty level between one and nine. This determines the length of the word
  to be entered, a level one word having seven letters, a level two word having
  eight etc. The player, not the game, picks a word that is the correct length
  and the game begins. The player has five minutes to enter as many words as
  possible using just the letters of the target word.

  For each word found the player scores ten points plus the length of the word squared, thus a five letter word scores thirty-five points, ten plus twenty five, while a six letter word scores forty-six points, ten plus thirty-six. The game is entirely keyboard controlled, has nine levels of difficulty, a high score table that holds the top ten scores for each level, basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display. The dictionary is fixed and is not editable so new words cannot be added.
screenshots:
  - https://cdn.dos.zone/original/2X/5/596568bb25e33d247cecfe7c301d9414753321b7.png
  - https://cdn.dos.zone/original/2X/5/5820d144cd0418079bf3c9d3919187d953ee2384.png
---
