---
layout: page.njk
title: Tommy's Gin Rummy | 🕹️Play Tommy's Gin Rummy Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Gin Rummy? 🕹 On Dos Zone you can play
  Tommy's Gin Rummy OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Gin Rummy
permalink: /tommys-gin-rummy-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-gin-rummy.jsdos
description: Tommy's Gin Rummy is a single-player card game in which the player
  plays against the computer. Gin Rummy is a popular card came in which the
  player's are dealt ten cards each. Put simply the object of the game is to
  make sets of cards of the same rank or runs of cards in the same suit. Players
  alternately take a new card from either the deck or the discard pile into
  their hand. If it does not fit it is discarded, if it improves the hand it is
  retained and another card is discarded. The player who is able to dispose of
  all of their cards wins the hand and scores points, the first to score a
  predetermined number of points wins the game. In addition to the Standard game
  this implementation has two optional Gin Rummy variations, Oklahoma
  also  known as Cedarhurst, and Tommy's Space Cowboy Gin both of which change
  the points needed to 'knock'. The game is entirely keyboard controlled, it has
  some basic sound effects and a demo mode in which the game plays itself. It
  has command line switches to start with the sound off, force monochrome mode,
  and another to force colour mode.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3bda587c0d2121f7b99b7cb58aecf7e5862b3532.png
  - https://cdn.dos.zone/original/2X/1/1de5053d2ee8fba23d89a781d7191cc41e4acd14.png
---
