---
layout: page.njk
title: Tommy's Six-Bid Solo | 🕹️Play Tommy's Six-Bid Solo Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Six-Bid Solo? 🕹 On Dos Zone you can play
  Tommy's Six-Bid Solo OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Six-Bid Solo
permalink: /tommys-six-bid-solo-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-six-bid-solo.jsdos
description: >-
  Tommy's Six-Bid Solo is a shareware, single-player, trick-taking card game, in
  real life this is a game for three players but in this implementation the
  player takes one seat, north and the computer pays the other two. The game is
  also known as Slough, Sluff, it is German in origin being descended from an
  old game called Skat. Detailed rules of the game are contained within the game
  and are freely available on the internet. In summary the game is played with a
  standard fifty-two card deck from which all the twos, threes, fours, and
  five's have been removed leaving thirty-six cards. Players are dealt eleven
  cards each with three being held back so that not all cards are in play.

  Players bid to be the soloist and then play the hand. There are just six possible bids, each bid being progressively harder than the previous one, they are: Solo - bidding to win sixty pips, trumps cannot be hearts Heart - same as Solo but hearts are trumps Misere - playing without trumps and bidding to get no tricks Guarantee - bidding to win eighty points, or just seventy-four  if hearts are trumps Spread Misere - Misere with the bidders hand laid out on the table for all to see Call - bids to win all pips

  The game is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display. In addition it has the following options: a demo mode where the game plays all by itself a hand replay option in-game help
screenshots:
  - https://cdn.dos.zone/original/2X/7/7ae0c7cb70bccb3d9539239b5963deee6b75384f.png
  - https://cdn.dos.zone/original/2X/f/f60410407b2b42356543e4f79f645ae5cbf3e0cb.png
---
