---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-tyrants.jsdos
layout: page.njk
ogDescription: Tommy's Tyrants is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Tyrants
  on mobile. On DOS.Zone Tommy's Tyrants available to play for free without registration.
permalink: /tommys-tyrants-1987/
screenshots:
- https://cdn.dos.zone/original/2X/c/c1940578c3329a5a0cca154cf4e4e6e290abd2e6.png
- https://cdn.dos.zone/original/2X/3/345f94823d2f9741bf135e4166ec7d4c32defbe9.png
shortTitle: Tommy's Tyrants
title: Tommy's Tyrants | 🕹️Play Tommy's Tyrants Online | DOS game in browser

---
