---
layout: page.njk
title: Tommy's Hidden-Word | 🕹️Play Tommy's Hidden-Word Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Hidden-Word? 🕹 On Dos Zone you can play
  Tommy's Hidden-Word OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Hidden-Word
permalink: /tommys-hidden-word-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-hidden-word.jsdos
description: >-
  Tommy's Hidden-Word is a single-player, shareware, word search game. The basic
  idea is to find words 'hidden' within a grid. The words and phrases all share
  a common theme and vary in length, in the phrase list they may contain
  numbers, spaces and/or punctuation all of which is removed when the
  word/phrase Is transferred into the search grid. The minimum length of a word
  in the grid is two characters and the maximum is eighteen. There are fifty
  different puzzle categories to choose from, each category contains more words
  than are needed for a single puzzle meaning that the same category can be
  selected multiple times and the player will probably get a different word list
  each time. There and nine variations of word search puzzle in this game, these
  are:

  words are in a straight line, they do not overlap with each other, they do not run off one edge and reappear back on the other side

  words are in a straight line, they do not overlap with each other, buy they do run off one edge and reappear back on the other side

  words can 'snake' i.e. they are not always in a straight line, they do not overlap with each other, they do not run off one edge and reappear back on the other side

  words can 'snake' i.e. they are not always in a straight line, they do not overlap with each other, they do run off one edge and reappear back on the other side

  words are in a straight line, they do overlap with each other, they do not run off one edge and reappear back on the other side

  words are in a straight line, they do overlap with each other, they do run off one edge and reappear back on the other side

  words are in a straight line, they do not overlap with each other, they do not run off one edge and reappear back on the other side. The list of target words and phrases is not supplied.

  words can 'snake' i.e. they are not always in a straight line, they do not overlap with each other, they do not run off one edge and reappear back on the other side. The list of target words and phrases is not supplied.

  words are in a straight line, they do overlap with each other, they do not run off one edge and reappear back on the other side. The list of target words and phrases is not supplied. Each game is scored. The score starts at nine thousand, nine hundred and ninety-nine and decreases by one point per second.

  The game is entirely keyboard controlled. It has basic sound effects, a save game function and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d14ed369dd6ffb438a3ac61cbd6aa4969d828752.png
  - https://cdn.dos.zone/original/2X/d/d179cbddb915dd1ad448a4428462c07791a544e1.png
---
