---
layout: page.njk
title: Tommy's Tic-Tac-Toe | 🕹️Play Tommy's Tic-Tac-Toe Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Tic-Tac-Toe? 🕹 On Dos Zone you can play
  Tommy's Tic-Tac-Toe OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Tic-Tac-Toe
permalink: /tommys-tic-tac-toe-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-tic-tac-toe.jsdos
description: Tommy's Tic-Tac-Toe is a shareware, single-player, version of the
  classic puzzle game in which the player plays against the computer. This
  implementation contains two variants, the standard two dimensional version and
  a 3D version. In both cases the objective is the same, get your marks in a
  straight line to win, three in a row in the 2D version and four in a row for
  the 3D version. The game is entirely keyboard controlled. It has basic sound
  effects and command line switches to start the game with sound turned off and
  to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/5/54efd033cadf60b567512562489dbeb5eaeb45f2.png
  - https://cdn.dos.zone/original/2X/f/f6302fe6fafc6242b24b3b10255d8a8e13b61dae.png
---
