---
layout: page.njk
title: Tommy's Saucer | 🕹️Play Tommy's Saucer Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Saucer? 🕹 On Dos Zone you can play Tommy's
  Saucer OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Saucer
permalink: /tommys-saucer-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-saucer.jsdos
description: Tommy's Saucer is a single player, shareware, space shooter game.
  The story behind the game is that a space ship crash landed in Tommy's back
  garden and that after helping the aliens fix it Tommy was able to put together
  a mock-up of the ship which is now available for us to play with. The actual
  game consists of a window into which enemy alien ships occasionally appear.
  The player's task is to target them and shoot them down. Energy expended on
  ray beams and energy shields gradually automatically replenishes itself over
  time. As with most of Tommy's games it uses character graphics and is entirely
  keyboard controlled. It has basic sound effects and command line switches to
  start the game with sound turned off and to force either a colour or
  monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c5615dae6866f812f9e4fa8f84a07f405f90c332.png
  - https://cdn.dos.zone/original/2X/c/ce024215eb0fddc3f5556badaeae7be68ea21126.png
---
