---
layout: page.njk
title: Tommy's Tanks | 🕹️Play Tommy's Tanks Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Tanks? 🕹 On Dos Zone you can play Tommy's
  Tanks OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Tanks
permalink: /tommys-tanks-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-tanks.jsdos
description: Tommy's Tanks is a single-player, shareware, tank shooting game in
  which the player tackles multiple computer opponents in a single screen arena.
  Within the arena there are also barriers which cannot be crossed but can be
  destroyed by shooting at them. The game is entirely keyboard controlled, has
  nine levels of difficulty, a high score table, basic sound effects and command
  line switches to start the game with sound turned off and to force either a
  colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8d46c074446aff0fe95eeabf53a642ab73498203.png
  - https://cdn.dos.zone/original/2X/b/bcb174dd3b46ea40f082ffee79248bcd57f65db5.png
---
