---
layout: page.njk
title: Tommy's Air Raid | 🕹️Play Tommy's Air Raid Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Air Raid? 🕹 On Dos Zone you can play
  Tommy's Air Raid OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Air Raid
permalink: /tommys-air-raid-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-air-raid.jsdos
description: Tommy's Air Raid is a single-player, shareware, arcade style game
  with text graphics. In this game enemy bombers fly across the screen from left
  to right. The player controls a series of forty, yes forty, gun turrets spaced
  out across the bottom of the screen. They select a turret by scrolling
  left/right with the arrow keys, press the up arrow to make the turret pop up
  from it's underground bunker, fire, and then retreat back underground to
  safety if necessary. There are also keys to pop up/down all guns
  simultaneously and to adjust the height at which the player's missiles
  explode. The game is over when either all turrets are destroyed or when the
  player's active turret is destroyed, whichever occurs sooner. The game is
  entirely keyboard controlled. It has nine levels of difficulty, basic sound
  effects and command line switches to start the game with sound turned off and
  to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/b/b270927d79d7a12256b75e42a7fe26a0e589e37a.png
  - https://cdn.dos.zone/original/2X/1/14190426747b01635b17480148ba51d6b5d3e3ef.png
---
