---
layout: page.njk
title: Tommy's Cryptoquips | 🕹️Play Tommy's Cryptoquips Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Cryptoquips? 🕹 On Dos Zone you can play
  Tommy's Cryptoquips OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Cryptoquips
permalink: /tommys-cryptoquips-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-cryptoquips.jsdos
description: Tommy's Cryptoquips is a shareware code breaking game that is based
  on the 'Cryptograms' that are popular in some newspapers and puzzle books. The
  game displays a quotation that has been encrypted by a form of letter
  substitution code, and the player's task is to decode it. It can be played as
  a single player game or as a team game for two to six players. Every quotation
  comes with at least one letter decoded. The game is entirely keyboard
  controlled. It has a demo mode which displays coded quotations but does not
  attempt to solve them, basic sound effects and command line switches to start
  the game with sound turned off and to force either a colour or monochrome
  display.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e2757a4e0842023cdfc2d857a7ae64b5981ac916.png
  - https://cdn.dos.zone/original/2X/b/ba7d035789ac1a95a65d58c412e15e6d718646fd.png
---
