---
layout: page.njk
title: Tommy's Pinochle | 🕹️Play Tommy's Pinochle Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Pinochle? 🕹 On Dos Zone you can play
  Tommy's Pinochle OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Pinochle
permalink: /tommys-pinochle-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-pinochle.jsdos
description: >-
  Tommy's Pinochle is a shareware, single-player card game. There are many
  variations of Pinochle. This implementation plays the two handed game, player
  vs computer, using two twenty-four card pinochle decks - standard decks where
  all cards below the nine have been removed. Points are won both for taking
  tricks and for making melds. Game options include:

  A standard game ends at one thousand points but this limit can be changed to any value between five hundred and thirty thousand.

  Tommy's Pinochle has three different ways to score the trick taking points

  A pop-up meld table display

  The speed at which the computer plays can be varied The game is entirely keyboard controlled. It has optional basic sound effects, a demo mode, and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8b5b7e95d3fbedef18bd2b99f60e066f3d4cc876.png
  - https://cdn.dos.zone/original/2X/6/64949970ae415c926409f8402e9ce70f50d27a9c.png
---
