---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-ant-farm.jsdos
layout: page.njk
ogDescription: Tommy's Ant Farm is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Ant
  Farm on mobile. On DOS.Zone Tommy's Ant Farm available to play for free without
  registration.
permalink: /tommys-ant-farm-1986/
screenshots:
- https://cdn.dos.zone/original/2X/8/856a120e12b742c3fd561f87269c2467ec8b08d4.png
- https://cdn.dos.zone/original/2X/6/66b6fe7f086b0a4e07a3508a7f46c2a835a9899b.png
shortTitle: Tommy's Ant Farm
title: Tommy's Ant Farm | 🕹️Play Tommy's Ant Farm Online | DOS game in browser

---
