---
layout: page.njk
title: Tommy's Ant Farm | 🕹️Play Tommy's Ant Farm Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Ant Farm? 🕹 On Dos Zone you can play
  Tommy's Ant Farm OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Ant Farm
permalink: /tommys-ant-farm-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-ant-farm.jsdos
description: Tommy's Ant Farm is a single person, shareware game which like all
  Tommy's games uses character graphics. The player takes the role of a black
  ant and the object is to sneak into the nest of the white ants and steal their
  eggs. Naturally these are guarded by both the white queen ant and her
  soldiers, contact with either is to be avoided. Points are scored for every
  'clock tick' spent inside the nest and are deducted for every tick outside the
  nest. Bonus points are scored for every egg stolen. The game is entirely
  keyboard controlled. It has basic sound effects and command line switches to
  start the game with sound turned off and to force either a colour or
  monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/8/856a120e12b742c3fd561f87269c2467ec8b08d4.png
  - https://cdn.dos.zone/original/2X/6/66b6fe7f086b0a4e07a3508a7f46c2a835a9899b.png
---
