---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-nite-lites.jsdos
layout: page.njk
ogDescription: Tommy's Nite Lites! is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Tommy's Nite Lites! on mobile. On DOS.Zone Tommy's Nite Lites! available to play
  for free without registration.
permalink: /tommys-nite-lites-1995/
screenshots:
- https://cdn.dos.zone/original/2X/e/efdd69f22673925906de8de9ae89fcc5ddbd2d59.png
- https://cdn.dos.zone/original/2X/1/145fb8efad4878a4f63dd3bb2f9539e893cd3c41.png
shortTitle: Tommy's Nite Lites!
title: Tommy's Nite Lites! | 🕹️Play Tommy's Nite Lites! Online | DOS game in browser

---
