---
layout: page.njk
title: Tommy's Energy Fence | 🕹️Play Tommy's Energy Fence Online | Download
  js-dos bundle
ogDescription: Want to Play Tommy's Energy Fence? 🕹 On Dos Zone you can play
  Tommy's Energy Fence OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Energy Fence
permalink: /tommys-energy-fence-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-energy-fence.jsdos
description: >-
  Tommy's Energy Fence is a single player, shareware, puzzle game. The player
  controls an energy field ship which is steered around the screen by the / and
  \ keys. Each time a key is pressed the game leaves behind what is effectively
  a mirror which deflects the craft should it strike it at any point in the
  game.

  The point of the game is to navigate round the screen and intercept another energy ship which periodically jumps to another random part of the screen. The player starts with a high score which decreases as the game progresses. As with most of Tommy's games it uses character graphics and is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/4/497b68fefb47ed8320ee8950fde24b5de21c9e47.png
  - https://cdn.dos.zone/original/2X/6/6f00a0a48eae7ce97592cbf2abab04758c1e7950.png
---
