---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-chess-set.jsdos
layout: page.njk
ogDescription: Tommy's Chess Set is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Tommy's Chess Set on mobile. On DOS.Zone Tommy's Chess Set available to play for
  free without registration.
permalink: /tommys-chess-set-1986/
screenshots:
- https://cdn.dos.zone/original/2X/b/b2af21c37f575df476fc19e6887640b477a2aa0b.png
- https://cdn.dos.zone/original/2X/1/153197dfa948a4806440619b825232e5c68c169f.png
shortTitle: Tommy's Chess Set
title: Tommy's Chess Set | 🕹️Play Tommy's Chess Set Online | DOS game in browser

---
