---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-airshark.jsdos
layout: page.njk
ogDescription: Tommy's Airshark is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Airshark
  on mobile. On DOS.Zone Tommy's Airshark available to play for free without registration.
permalink: /tommys-airshark-1986/
screenshots:
- https://cdn.dos.zone/original/2X/5/5f3d2b03c204c9e9ee06aa77666e98364c474cd.png
- https://cdn.dos.zone/original/2X/7/7a19d97c1b04b428470f3ef1696238eb099b7f6c.png
shortTitle: Tommy's Airshark
title: Tommy's Airshark | 🕹️Play Tommy's Airshark Online | DOS game in browser

---
