---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-othello.jsdos
layout: page.njk
ogDescription: Tommy's Othello is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Othello
  on mobile. On DOS.Zone Tommy's Othello available to play for free without registration.
permalink: /tommys-othello-1986/
screenshots:
- https://cdn.dos.zone/original/2X/c/c05b98943cc46e48806e5a2f1925b058b956bafe.png
- https://cdn.dos.zone/original/2X/3/3aa74e78b121688a5134bbc0252aec9dfcfc90fb.png
shortTitle: Tommy's Othello
title: Tommy's Othello | 🕹️Play Tommy's Othello Online | DOS game in browser

---
