---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-fan-tan.jsdos
layout: page.njk
ogDescription: Tommy's Fan Tan is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Fan
  Tan on mobile. On DOS.Zone Tommy's Fan Tan available to play for free without registration.
permalink: /tommys-fan-tan-1990/
screenshots:
- https://cdn.dos.zone/original/2X/8/8b4ed55e5596f7e11d6ed77b4b0da6465b927a98.png
- https://cdn.dos.zone/original/2X/b/bd1df1661ca4b7eff89e132387ca625f68261ffb.png
shortTitle: Tommy's Fan Tan
title: Tommy's Fan Tan | 🕹️Play Tommy's Fan Tan Online | DOS game in browser

---
