---
layout: page.njk
title: Tommy's Show And Tell Maze Generator | 🕹️Play Tommy's Show And Tell Maze
  Generator Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Show And Tell Maze Generator? 🕹 On Dos Zone
  you can play Tommy's Show And Tell Maze Generator OR donwload js-dos bundle
  for free. Start playing now!
shortTitle: Tommy's Show And Tell Maze Generator
permalink: /tommys-show-and-tell-maze-generator-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-show-and-tell-maze-generator.jsdos
description: Tommy's Show and Tell Maze Generator is a shareware program that
  generates mazes, it's part game generator and part 'fun software'. The player
  inputs a series of parameters that control the size of the maze, the colours,
  the width of the pathways etc and the program does the rest. Mazes can be
  printed and used as puzzles, other this it has another use, the documentation
  states that:- "This is a great program for leaving on all day when your pc
  isn't doing anything important, in order to impress visitors. (you can make up
  a story about what it is doing)" As with most of Tommy's games it uses
  character graphics and is entirely keyboard controlled. It has basic sound
  effects, a demo mode, and command line switches to start the game with sound
  turned off and to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/a/ac6b50f861dac85f91568d00c8ebd06e1c9e91fa.png
  - https://cdn.dos.zone/original/2X/a/acd8293c079f645a78408f33afa8a6d891834697.png
---
