---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-calabresella.jsdos
layout: page.njk
ogDescription: Tommy's Calabresella is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Tommy's Calabresella on mobile. On DOS.Zone Tommy's Calabresella available to
  play for free without registration.
permalink: /tommys-calabresella-1994/
screenshots:
- https://cdn.dos.zone/original/2X/f/f4b99613938339ece9415d5bc9374653eb4378f7.png
- https://cdn.dos.zone/original/2X/c/ce1a43c4025824b52486ea24a7d5d7072056d63e.png
shortTitle: Tommy's Calabresella
title: Tommy's Calabresella | 🕹️Play Tommy's Calabresella Online | DOS game in browser

---
