---
layout: page.njk
title: Tommy's Balloon | 🕹️Play Tommy's Balloon Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Balloon? 🕹 On Dos Zone you can play Tommy's
  Balloon OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Balloon
permalink: /tommys-balloon-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-balloon.jsdos
description: >-
  Tommy's Balloon is a single player, shareware game. The player pilots a
  balloon that drifts through a side scrolling cloudy sky. Beneath are mountains
  that must be avoided and on those mountains are nasty things that randomly
  shoot lightning bolts upwards.

  The objective is to survive in the sky as long as possible, the longer the player keeps the balloon in the sky the more they score. To assist them they can drop bombs and release decoy balloons but doing so costs points. The game is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/8/81368ef2c99229946a5119eae3c4080ec3b5d12c.png
  - https://cdn.dos.zone/original/2X/b/b22631048c17c3545600b809f76f7b0e9d61cc04.png
---
