---
layout: page.njk
title: Tommy's Paddles | 🕹️Play Tommy's Paddles Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Paddles? 🕹 On Dos Zone you can play Tommy's
  Paddles OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Paddles
permalink: /tommys-paddles-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-paddles.jsdos
description: >-
  Tommy's Paddles is a single player, shareware, Pong variant. There are three
  modes of play in this game.

  Wall Play: which emulates a player batting a ball against a wall on their own

  Match Play: in which the player takes on the computer in a singles match

  Mixed Doubles: where the computer controls the other three bats

  As with most of Tommy's games it uses character graphics and is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display
screenshots:
  - https://cdn.dos.zone/original/2X/f/f772f3441bb2025abb9a833ee29ef601b3d9d301.png
  - https://cdn.dos.zone/original/2X/7/75a934c545ed232d427bf03d5ff9e1ba8f002524.png
---
