---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-hanoi.jsdos
layout: page.njk
ogDescription: Tommy's Hanoi is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Hanoi
  on mobile. On DOS.Zone Tommy's Hanoi available to play for free without registration.
permalink: /tommys-hanoi-1987/
screenshots:
- https://cdn.dos.zone/original/2X/8/80312c81139e85e80aa1523ab87f1609a4f4f9c2.png
- https://cdn.dos.zone/original/2X/5/5f330c4463b712617cba8b322b2f06af28f39aee.png
shortTitle: Tommy's Hanoi
title: Tommy's Hanoi | 🕹️Play Tommy's Hanoi Online | DOS game in browser

---
