---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-zombies.jsdos
layout: page.njk
ogDescription: Tommy's Zombies is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Zombies
  on mobile. On DOS.Zone Tommy's Zombies available to play for free without registration.
permalink: /tommys-zombies-1986/
screenshots:
- https://cdn.dos.zone/original/2X/4/47652e09a1f1032ff7384de32dffd81020312399.png
- https://cdn.dos.zone/original/2X/f/f4346f5bfb5d41d5e02b02758e2858d26f69923f.png
shortTitle: Tommy's Zombies
title: Tommy's Zombies | 🕹️Play Tommy's Zombies Online | DOS game in browser

---
