---
layout: page.njk
title: Tommy's Cribbage | 🕹️Play Tommy's Cribbage Online | Download js-dos bundle
ogDescription: Want to Play Tommy's Cribbage? 🕹 On Dos Zone you can play
  Tommy's Cribbage OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tommy's Cribbage
permalink: /tommys-cribbage-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftommys-cribbage.jsdos
description: >-
  Tommy's Cribbage is a single player, shareware implementation of the popular
  card game in which the player takes on the computer. This implementation
  features both five and six card versions, the five card version is played to
  sixty-one points and the six card version is played to one hundred and
  twenty-one points. The game features an optional Muggin's option which, when
  enabled, means that if the player claims less points that they have actually
  scored the difference is credited to their computer opponent.

  The game also has a feature called Lurching whereby if a player wins a five card game with a score of sixty one he wins one game if the other player scores the lurching point of thirty-one or more and two games if their opponent scores less than the lurching point, in a six card game the lurching point is ninety-one. As with most of Tommy's games it uses character graphics and is entirely keyboard controlled. It has basic sound effects and command line switches to start the game with sound turned off and to force either a colour or monochrome display.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4bdb2f3e647f0ef5048f56eac78ac87a92f190cc.png
  - https://cdn.dos.zone/original/2X/3/3e74c4325070ce100f749f9d278f84ddfbb20110.png
---
