---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tommys-trifles.jsdos
layout: page.njk
ogDescription: Tommy's Trifles is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tommy's Trifles
  on mobile. On DOS.Zone Tommy's Trifles available to play for free without registration.
permalink: /tommys-trifles-1987/
screenshots:
- https://cdn.dos.zone/original/2X/6/6d33353b211c530087fb0c5bb85d01bb518124a4.png
- https://cdn.dos.zone/original/2X/d/d600e10ce8d4d69ffb52b8b065153f254bbc3429.png
shortTitle: Tommy's Trifles
title: Tommy's Trifles | 🕹️Play Tommy's Trifles Online | DOS game in browser

---
