---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tomtris.jsdos
layout: page.njk
ogDescription: Tomtris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tomtris on
  mobile. On DOS.Zone Tomtris available to play for free without registration.
permalink: /tomtris-jul-19-1997/
screenshots:
- https://cdn.dos.zone/original/2X/d/d3fb66f58bd49fc262ef5dd6482dda8d11f1363.png
- https://cdn.dos.zone/original/2X/9/967b76c1143cafd50ca78e4a2357cfa24226be9.png
shortTitle: Tomtris
title: Tomtris | 🕹️Play Tomtris Online | DOS game in browser

---
