---
layout: page.njk
title: Tonko | 🕹️Play Tonko Online | Download js-dos bundle
ogDescription: Want to Play Tonko? 🕹 On Dos Zone you can play Tonko OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Tonko
permalink: /tonko-jan-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftonko.jsdos
description: Tonko is a Korean-made platform game that consists of very small
  (almost single-screen) stages. Each stage is a platform structure populated by
  monsters. The player controls a cute yellow goblin who must defeat these
  monsters, traveling through stages with real-world geographical backgrounds.
  Among the enemies are Nazi ghosts, vampires, beer mugs, American football
  helmets, crazy fish, and other unorthodox creatures. Tonko can jump and whack
  enemies on the head with his hammer, which can be upgraded with various
  power-ups (such as electricity charge) scattered around the stages. If an
  enemy touches Tonko, he loses a life; the game is over when Tonko has no lives
  left.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6969af0b5e635e88bfb8c36ceeaa73130269c4c8.png
  - https://cdn.dos.zone/original/2X/f/f32842f14c9a160667cc9951bea9d689f778a587.png
---
