---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tonko.jsdos
layout: page.njk
ogDescription: Tonko is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Tonko on mobile.
  On DOS.Zone Tonko available to play for free without registration.
permalink: /tonko-jan-1994/
screenshots:
- https://cdn.dos.zone/original/2X/6/6969af0b5e635e88bfb8c36ceeaa73130269c4c8.png
- https://cdn.dos.zone/original/2X/f/f32842f14c9a160667cc9951bea9d689f778a587.png
shortTitle: Tonko
title: Tonko | 🕹️Play Tonko Online | DOS game in browser

---
