---
layout: page.njk
title: Toppler | 🕹️Play Toppler Online | Download js-dos bundle
ogDescription: Want to Play Toppler? 🕹 On Dos Zone you can play Toppler OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Toppler
permalink: /toppler-1990/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Foriginal%2F2X%2F4%2F4426757ae08c0e7f21193d04a2ad0982e83c3dbf.jsdos
description: Controlling a small frog, the player must jump across lillypads
  towards his goal. These lillypads gradually grow smaller and eventually sink
  into the water, new lillypads appear to replace them. Enemy bugs will also
  chase the enemy frog. Touching the bad bugs or the water results in death. The
  player can collect colored balls for bonus points. As the levels increase, the
  game speeds up and lillypads become smaller.
screenshots:
  - https://cdn.dos.zone/original/2X/7/71f658cbf446d2b248bf32ca27cf55cf0347aa05.png
  - https://cdn.dos.zone/original/2X/1/1bda11c7e166308fe872468bc65ccaadf67ca483.png
---
