---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/towers_.jsdos
layout: page.njk
ogDescription: Towers is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Towers on mobile.
  On DOS.Zone Towers available to play for free without registration.
permalink: /towers-1992/
screenshots:
- https://cdn.dos.zone/original/2X/2/258fa463f8dcbeda71315944b0ea23ea4ece6883.png
- https://cdn.dos.zone/original/2X/a/ad775e3414e767c6e7e3a860b43213070d1c43fd.png
shortTitle: Towers
title: Towers | 🕹️Play Towers Online | DOS game in browser

---
