---
layout: page.njk
title: Tracker | 🕹️Play Tracker Online | Download js-dos bundle
ogDescription: Want to Play Tracker? 🕹 On Dos Zone you can play Tracker OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Tracker
permalink: /tracker-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftracker.jsdos
description: Tracker is a mouse-controlled vector-graphics 3D strategy game
  depicting an ultra-violent TV show of the future. As a contestant, the
  player's mission is to be the first to ever complete it successfully. The task
  involves commanding a fleet of Skimmers charged with destroying various groups
  of combat vehicles, including Cycloids, Scouts and Defenders. Short and
  long-range scanners are available to aid in this. The game takes place in a
  maze world containing a number of distinct sectors, each of which has its own
  type of enemy present. The Communication Centre powers the Cycloids, and are
  protected by the Defenders. Once these are taken out, the Centerpoint Sector
  must be destroyed to complete the level.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3903eb9c583adaae6d4c4ec01db2d0f54af10359.png
  - https://cdn.dos.zone/original/2X/2/27a77ee47878408ea5f67db3522a1f4be18ae1a4.gif
---
