---
layout: page.njk
title: "Traders: The Intergalactic Trading Game | 🕹️Play Traders: The
  Intergalactic Trading Game Online | Download js-dos bundle"
ogDescription: "Want to Play Traders: The Intergalactic Trading Game? 🕹 On Dos
  Zone you can play Traders: The Intergalactic Trading Game OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Traders: The Intergalactic Trading Game"
permalink: /traders-the-intergalactic-trading-game-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftraders-the-intergalactic-trading-game.jsdos
description: Pit your business and marketing skills against as many as three
  other competitors while raising and lowering your buying and selling prices
  for a variety of goods on the interplanetary market.  You can produce goods,
  such as perfume, by planting your fields with flowers.  You'll have to
  purchase raw materials, such as water, which may raise the price of your
  finished products.
screenshots:
  - https://cdn.dos.zone/original/2X/e/ee651b2bc57073b9158d708ed8b3a0467ac90de2.gif
  - https://cdn.dos.zone/original/2X/5/5c06e411cd3abb28348c960171156585a72a49ad.gif
---
