---
layout: page.njk
title: Transball | 🕹️Play Transball Online | Download js-dos bundle
ogDescription: Want to Play Transball? 🕹 On Dos Zone you can play Transball OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Transball
permalink: /transball-2003/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftransball.jsdos
description: Transball is an action game, inspired by Thrust and Zarathrusta.
  The player controls a ship sent to recover the stolen energy spheres that
  provide all energy for future humanity. On each level, the player must reach
  the sphere, pick it up with his attractor beam, and carry it out of the level.
  The player's ship is subject to gravity and must be controlled by carefully
  firing off its thrusters to regulate the speed. The ship can be rotated freely
  to control the direction of thrust. Bumping into an obstacle destroys the ship
  and forces a restart of the level. Furthermore, the attractor beam only has a
  limited range and once the player has picked up the sphere, he must fly slowly
  enough to avoid leaving the sphere behind. Additionally the ship has a limited
  amount of fuel and once it runs out, the thrusters no longer work. Later
  levels have additional obstacles, such as enemies that can destroy the player,
  or doors that have to be opened by bumping the carried sphere into a button.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a47ac13591e1d6b0b315a5b0e3ac30d7bd2823d0.png
  - https://cdn.dos.zone/original/2X/a/a2ee3c8d88d2cc71a4cee840bc61ba5b0bd1ecc4.png
---
