---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/transball.jsdos
layout: page.njk
ogDescription: Transball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Transball
  on mobile. On DOS.Zone Transball available to play for free without registration.
permalink: /transball-2003/
screenshots:
- https://cdn.dos.zone/original/2X/a/a47ac13591e1d6b0b315a5b0e3ac30d7bd2823d0.png
- https://cdn.dos.zone/original/2X/a/a2ee3c8d88d2cc71a4cee840bc61ba5b0bd1ecc4.png
shortTitle: Transball
title: Transball | 🕹️Play Transball Online | DOS game in browser

---
