---
layout: page.njk
title: Treasures of the Savage Frontier | 🕹️Play Treasures of the Savage
  Frontier Online | Download js-dos bundle
ogDescription: Want to Play Treasures of the Savage Frontier? 🕹 On Dos Zone you
  can play Treasures of the Savage Frontier OR donwload js-dos bundle for free.
  Start playing now!
shortTitle: Treasures of the Savage Frontier
permalink: /treasures-of-the-savage-frontier-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftreasures-of-the-savage-frontier.jsdos
description: The Heroes of Ascore have been magically summoned to help old
  dwarven allies retake the city of Llorkh from the foul Zhentarim legions.
  After that, there are more dangers that lurk in the wilds of the Savage
  Frontier... The sequel to Gateway to the Savage Frontier is a role-playing
  game using SSI's standard Gold Box gameplay system. You can import existing
  characters from playing the first game. The game is viewed from above, as you
  move your party into mystery, buildings and combat. The game now includes
  weather changes that affect movement and NPC interaction.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9b183a42245ea45e0cec13b82c34b508dbca1c17.gif
  - https://cdn.dos.zone/original/2X/2/2e0b38b9a60ed1f32c5e78331ee7469cf51a6973.gif
---
