---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/treasure-mathstorm.jsdos
layout: page.njk
ogDescription: Treasure MathStorm! is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Treasure MathStorm! on mobile. On DOS.Zone Treasure MathStorm! available to play
  for free without registration.
permalink: /treasure-mathstorm-1992/
screenshots:
- https://cdn.dos.zone/original/2X/5/5c737038a70d60b29673e1de992dec146ef1ff2b.png
- https://cdn.dos.zone/original/2X/7/798378e44a5aa0eca9e7386ad406ceee2e9c49e5.png
shortTitle: Treasure MathStorm!
title: Treasure MathStorm! | 🕹️Play Treasure MathStorm! Online | DOS game in browser

---
