---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/treasure-island_.jsdos
layout: page.njk
ogDescription: Treasure Island is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Treasure Island
  on mobile. On DOS.Zone Treasure Island available to play for free without registration.
permalink: /treasure-island-1985/
screenshots:
- https://cdn.dos.zone/original/2X/3/309b4283bbcdd4a5b34a709d3425e05b67e81a63.png
- https://cdn.dos.zone/original/2X/2/217f3f53c6adb5ef3e38d710110e900812ea466b.png
shortTitle: Treasure Island
title: Treasure Island | 🕹️Play Treasure Island Online | DOS game in browser

---
