---
layout: page.njk
title: Treasure MathStorm! | 🕹️Play Treasure MathStorm! Online | Download
  js-dos bundle
ogDescription: Want to Play Treasure MathStorm!? 🕹 On Dos Zone you can play
  Treasure MathStorm! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Treasure MathStorm!
permalink: /treasure-mathstorm-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftreasure-mathstorm.jsdos
description: Treasure MathStorm! is an educational game designed for kids ages 6
  to 8. The Master of Mischief has invented a machine that changes the weather
  and froze Treasure Mountain! Your goal is to restore the mountain by locating
  different treasures on the mountain and returning them to the castle at the
  top. When all the treasures have been restored, the king will have his power
  back and all of the ice will melt. In order to find treasures and make your
  way up the mountain, you will need to help the elves solve a variety of math
  problems. When problems are successfully solved, the elves will then give you
  clues about treasures, some money which can be used to purchase items in the
  shops, or some items to help you reach the next level of the mountain. The
  math problems can include addition, subtraction, multiplication, telling time,
  counting money, and more. When you have located the treasures and brought them
  to the castle, you may then advance to a more difficult skill level.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5c737038a70d60b29673e1de992dec146ef1ff2b.png
  - https://cdn.dos.zone/original/2X/7/798378e44a5aa0eca9e7386ad406ceee2e9c49e5.png
---
