---
layout: page.njk
title: Treasure Island | 🕹️Play Treasure Island Online | Download js-dos bundle
ogDescription: Want to Play Treasure Island? 🕹 On Dos Zone you can play
  Treasure Island OR donwload js-dos bundle for free. Start playing now!
shortTitle: Treasure Island
permalink: /treasure-island-1985/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftreasure-island_.jsdos
description: "Jim Hawkins is a young boy working on \"Admiral Benbow\", his
  parent's inn. One day a sea captain named Billy Bones takes a room at the inn
  and stays for several months. A blind man called Pew arrives and shows
  something to Billy that gives him a heart attack. Jim witnesses everything and
  runs to aid the captain, who tells him about his sea chest and his
  relationship with Captain Flint, a famous pirate. After he dies Jim grabs the
  key dangling from the corpse and opens the dead captain's chest to collect the
  last payment. He finds a packet inside, and decides to take it to two
  aristocratic acquaintances of his, Dr. Livesey and Squire John Trelawney. They
  discover a diary and a treasure map, and decide to travel to the island in
  search of the booty. Treasure Island is a text adventure, an adaptation of the
  classic 1883 novel of the same name by Robert Louis Stevenson. Unlike the
  book, the game is written in a second-person perspective. Otherwise, it
  follows the original plot closely: the player assumes the role of Jim Hawkins,
  and has to perform the same actions as the character in the novel. This leads
  to a more claustrophobic design, as players without knowledge of the book have
  to guess what to do next. To help alleviate that problem, other characters act
  as some sort of built-in hint system. The player can ask them about anything
  and they will provide clues when these are available. The parser accepts most
  of Infocom 's standard features like pronouns and chain commands."
screenshots:
  - https://cdn.dos.zone/original/2X/3/309b4283bbcdd4a5b34a709d3425e05b67e81a63.png
  - https://cdn.dos.zone/original/2X/2/217f3f53c6adb5ef3e38d710110e900812ea466b.png
---
