---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/treasure-trap.jsdos
layout: page.njk
ogDescription: Treasure Trap is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Treasure Trap
  on mobile. On DOS.Zone Treasure Trap available to play for free without registration.
permalink: /treasure-trap-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/76a48f735b397192623904412d774afd2ea241ad.png
- https://cdn.dos.zone/original/2X/a/a31f6c55c835e389b9871d001d8b2e14021ffea2.png
shortTitle: Treasure Trap
title: Treasure Trap | 🕹️Play Treasure Trap Online | DOS game in browser

---
