---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tree-masacre.jsdos
layout: page.njk
ogDescription: Tree Masacre is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tree Masacre
  on mobile. On DOS.Zone Tree Masacre available to play for free without registration.
permalink: /tree-masacre-1988/
screenshots:
- https://cdn.dos.zone/original/2X/4/4d10f6e02ab4097bfb401d4106d3ef5b8546cfb6.png
shortTitle: Tree Masacre
title: Tree Masacre | 🕹️Play Tree Masacre Online | DOS game in browser

---
