---
layout: page.njk
title: Tree Masacre | 🕹️Play Tree Masacre Online | Download js-dos bundle
ogDescription: Want to Play Tree Masacre? 🕹 On Dos Zone you can play Tree
  Masacre OR donwload js-dos bundle for free. Start playing now!
shortTitle: Tree Masacre
permalink: /tree-masacre-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftree-masacre.jsdos
description: >-
  Tree Masacre is a single player, keyboard controlled, arcade skiing game
  written by

  Mark Botta. It was developed as a programming exercise in QuickBASIC and it is freeware. The player controls a character who is skiing down a long slope. Despite what the title says, points are gained for NOT hitting the trees.  The game keeps a total of trees passed and retains a high score for each gaming session but which is not retained from one session to the next.

  When the player hits a tree the game is over, their current score is reset to zero and the game starts again.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4d10f6e02ab4097bfb401d4106d3ef5b8546cfb6.png
---
