---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trek73.jsdos
layout: page.njk
ogDescription: Trek73 is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Trek73 on mobile.
  On DOS.Zone Trek73 available to play for free without registration.
permalink: /trek73-1985/
screenshots:
- https://cdn.dos.zone/original/2X/e/e3a696b43954d71cd94139e3248016a43d1aa976.png
- https://cdn.dos.zone/original/2X/4/4f8e97a7661c9d81a252073b1961caa5a8164dda.png
shortTitle: Trek73
title: Trek73 | 🕹️Play Trek73 Online | DOS game in browser

---
