---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trek.jsdos
layout: page.njk
ogDescription: Trek is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Trek on mobile.
  On DOS.Zone Trek available to play for free without registration.
permalink: /trek-oct-30-1985/
screenshots:
- https://cdn.dos.zone/original/2X/e/eb2e7ddb2dcf0bca7b7626c2469bc9b411e1cc3f.png
- https://cdn.dos.zone/original/2X/8/8d1ba33c28cd7d00504efbeadfcfe736d6508a4a.png
shortTitle: Trek
title: Trek | 🕹️Play Trek Online | DOS game in browser

---
