---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trench-warfare.jsdos
layout: page.njk
ogDescription: Trench Warfare is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Trench Warfare
  on mobile. On DOS.Zone Trench Warfare available to play for free without registration.
permalink: /trench-warfare-nov-24-2005/
screenshots:
- https://cdn.dos.zone/original/2X/3/3abacd9db9ae6ff4edb86a9430aa8d70e41e300e.png
- https://cdn.dos.zone/original/2X/4/40054d0ff7d5e69056ab3c18e0d218fd65ac50b9.png
shortTitle: Trench Warfare
title: Trench Warfare | 🕹️Play Trench Warfare Online | DOS game in browser

---
