---
layout: page.njk
title: TrianGO | 🕹️Play TrianGO Online | Download js-dos bundle
ogDescription: Want to Play TrianGO? 🕹 On Dos Zone you can play TrianGO OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: TrianGO
permalink: /triango-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftriango.jsdos
description: TrianGO is a variation of the board game Go that is played on a
  hexagon shaped board. The board is composed of 21 lines which cross to form
  triangles. The lines intersect to create 55 points where players can place
  their stones. The game is available for up to four players who take turns
  placing stones on the board. The aim is to capture the stones of the opponents
  by creating triangles. A triangle is created when three stones are positioned
  so that they can be connected with straight lines. All of the stones that are
  located within the triangle can then be captured if the player chooses to.
  When making a capture, both the player's own stones and those of the opponents
  are removed from the board. The player's own stones can be brought back into
  play while the opponents' are permanently out. To win the game the player has
  to become the last one still able to make a move (due to still having stones
  left).
screenshots:
  - https://cdn.dos.zone/original/2X/f/fbf51fbf1e6314cf57e55bbc666c32f8753248ae.jpeg
  - https://cdn.dos.zone/original/2X/3/3ba59ad340a6eade875cbe5b7ae89d91c1263208.jpeg
---
