---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/triango.jsdos
layout: page.njk
ogDescription: TrianGO is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in TrianGO on
  mobile. On DOS.Zone TrianGO available to play for free without registration.
permalink: /triango-1989/
screenshots:
- https://cdn.dos.zone/original/2X/f/fbf51fbf1e6314cf57e55bbc666c32f8753248ae.jpeg
- https://cdn.dos.zone/original/2X/3/3ba59ad340a6eade875cbe5b7ae89d91c1263208.jpeg
shortTitle: TrianGO
title: TrianGO | 🕹️Play TrianGO Online | DOS game in browser

---
