---
layout: page.njk
title: Triclops Invasion | 🕹️Play Triclops Invasion Online | Download js-dos bundle
ogDescription: Want to Play Triclops Invasion? 🕹 On Dos Zone you can play
  Triclops Invasion OR donwload js-dos bundle for free. Start playing now!
shortTitle: Triclops Invasion
permalink: /triclops-invasion-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftriclops-invasion.jsdos
description: Triclops Invasion is an early 3D space combat game that was
  originally developed for the QNX operating system. The solar system has bee
  invaded by the Triclops who parachute their giant walkers down to Earth. The
  only way to destroy a walker is to shoot off one of its three legs but as it
  has a cannon turret on its top the game's documentation suggests that
  destroying that first could be a good strategy. Once all five walkers and
  their satellite the game is won, if the Triclops destroy all three of the
  player's ships the Earth is lost. The game also allows the player to record
  demo versions of the way they played the game and to turn off the enemy
  walkers so that they can just fly over the landscape
screenshots:
  - https://cdn.dos.zone/original/2X/f/f88abef4327f57a85d5dbe60da4c3d963f820f52.png
  - https://cdn.dos.zone/original/2X/c/c34757edbe912309dea1328bbeecf40a0e66965e.png
---
