---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/triclops-invasion.jsdos
layout: page.njk
ogDescription: Triclops Invasion is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Triclops Invasion on mobile. On DOS.Zone Triclops Invasion available to play for
  free without registration.
permalink: /triclops-invasion-1986/
screenshots:
- https://cdn.dos.zone/original/2X/f/f88abef4327f57a85d5dbe60da4c3d963f820f52.png
- https://cdn.dos.zone/original/2X/c/c34757edbe912309dea1328bbeecf40a0e66965e.png
shortTitle: Triclops Invasion
title: Triclops Invasion | 🕹️Play Triclops Invasion Online | DOS game in browser

---
