---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/triskelion.jsdos
layout: page.njk
ogDescription: Triskelion is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Triskelion
  on mobile. On DOS.Zone Triskelion available to play for free without registration.
permalink: /triskelion-1987/
screenshots:
- https://cdn.dos.zone/original/2X/7/7ea11a0a901deaf8cdb88fafd169c14e842eb196.png
shortTitle: Triskelion
title: Triskelion | 🕹️Play Triskelion Online | DOS game in browser

---
