---
layout: page.njk
title: Trivia Whiz | 🕹️Play Trivia Whiz Online | Download js-dos bundle
ogDescription: Want to Play Trivia Whiz? 🕹 On Dos Zone you can play Trivia Whiz
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Trivia Whiz
permalink: /trivia-whiz-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftrivia-whiz.jsdos
description: >-
  You are presented with questions from a variety of categories, like History,
  Sports, Entertainment, Music and Comics, and you must supply the answer.

  To make things interesting, there is a timer on each question that allows you fifteen seconds to answer. The more time that goes by, the lower your bonus score on the question will be.

  You are allowed to miss only a certain number of questions before the game is over. You start out with three Free Misses. Each time you miss a question, you loose one free miss. But you get an extra free miss when you answer ten questions correctly. There are five volumes of Trivia Whiz and each volume has a hundred different questions.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c7a92c5028ca14065c272561a4067a68534f084.png
  - https://cdn.dos.zone/original/2X/e/e2a53d0c015c086989782a123fc3b782964ec9e7.png
---
