---
layout: page.njk
title: Trivial Trek | 🕹️Play Trivial Trek Online | Download js-dos bundle
ogDescription: Want to Play Trivial Trek? 🕹 On Dos Zone you can play Trivial
  Trek OR donwload js-dos bundle for free. Start playing now!
shortTitle: Trivial Trek
permalink: /trivial-trek-aug-24-1986/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftrivial-trek.jsdos
description: Trivial Trek is a single player quiz based on Star Trek. It
  contains sections with questions on the original TV series, the Movies, Star
  Trek Literature as well as a general section. It has sound, a high score
  table, and an option to change the colour if the screen and text. The game was
  distributed as freeware but players were invited to send a donation to the
  developers if they liked the game, players were also invited to send
  additional questions too.
screenshots:
  - https://cdn.dos.zone/original/2X/3/33f147b1827f5818d09714dfc516ee58fc47078b.png
  - https://cdn.dos.zone/original/2X/d/d8b85f2f112fc0c4887b5be93713429708816c2e.png
---
