---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trivial-trek.jsdos
layout: page.njk
ogDescription: Trivial Trek is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Trivial Trek
  on mobile. On DOS.Zone Trivial Trek available to play for free without registration.
permalink: /trivial-trek-aug-24-1986/
screenshots:
- https://cdn.dos.zone/original/2X/3/33f147b1827f5818d09714dfc516ee58fc47078b.png
- https://cdn.dos.zone/original/2X/d/d8b85f2f112fc0c4887b5be93713429708816c2e.png
shortTitle: Trivial Trek
title: Trivial Trek | 🕹️Play Trivial Trek Online | DOS game in browser

---
