---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trivia-whiz.jsdos
layout: page.njk
ogDescription: Trivia Whiz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Trivia Whiz
  on mobile. On DOS.Zone Trivia Whiz available to play for free without registration.
permalink: /trivia-whiz-1990/
screenshots:
- https://cdn.dos.zone/original/2X/c/c7a92c5028ca14065c272561a4067a68534f084.png
- https://cdn.dos.zone/original/2X/e/e2a53d0c015c086989782a123fc3b782964ec9e7.png
shortTitle: Trivia Whiz
title: Trivia Whiz | 🕹️Play Trivia Whiz Online | DOS game in browser

---
