---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trivia-2000.jsdos
layout: page.njk
ogDescription: Trivia 2000 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Trivia 2000
  on mobile. On DOS.Zone Trivia 2000 available to play for free without registration.
permalink: /trivia-2000-1986/
screenshots:
- https://cdn.dos.zone/original/2X/1/1fbb649b47d380bedb50f9afe356b3a047bce706.png
- https://cdn.dos.zone/original/2X/b/b1f0414491b81f82772b1acde337604b237597eb.png
shortTitle: Trivia 2000
title: Trivia 2000 | 🕹️Play Trivia 2000 Online | DOS game in browser

---
