---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trog.jsdos
layout: page.njk
ogDescription: Trog is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Trog on mobile.
  On DOS.Zone Trog available to play for free without registration.
permalink: /trog-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e0dfb152d8fdd605327a4cb0eddf9af5e976cb03.gif
- https://cdn.dos.zone/original/2X/3/32dc4a3c77209b153106e1168c858065fb784628.gif
shortTitle: Trog
title: Trog | 🕹️Play Trog Online | DOS game in browser

---
