---
layout: page.njk
title: Trog | 🕹️Play Trog Online | Download js-dos bundle
ogDescription: Want to Play Trog? 🕹 On Dos Zone you can play Trog OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Trog
permalink: /trog-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftrog.jsdos
description: Long ago, back in the days of cavemen and dinosaurs, there was a
  land called Og.  In this land, hungry one-eyed cavemen, called Trogs, loved
  the taste of eggs.  However, four Dino-Mites, Spike, Bloop, Rex and Gwen, were
  determined to rescue the eggs from certain doom! Up to four (or just Spike and
  Bloop in the home conversions) can play in a race to gather up the Trog eggs
  as quickly as possible.  The first player to get all eggs of their colour wins
  the round.  Of course, Trogs also love the taste of Dino meat, and will use
  cavemen inventions such as fire and the wheel to catch them and gobble them
  up!  Luckily, the Dinos can fight back - eating a pineapple will turn them
  into a monstrous T-Rex that can chow down on Trogs, while a hot tamale lets
  them breathe fire.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e0dfb152d8fdd605327a4cb0eddf9af5e976cb03.gif
  - https://cdn.dos.zone/original/2X/3/32dc4a3c77209b153106e1168c858065fb784628.gif
---
