---
layout: page.njk
title: "TRON: Light Cycles | 🕹️Play TRON: Light Cycles Online | Download js-dos
  bundle"
ogDescription: "Want to Play TRON: Light Cycles? 🕹 On Dos Zone you can play
  TRON: Light Cycles OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "TRON: Light Cycles"
permalink: /tron-light-cycles-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftron-light-cycles.jsdos
description: Based off the Disney movie TRON, this game attempts to recreate the
  light cycle game. Two colors face off in the attempt to box in and ultimately
  crash the other opponent using "Light Trails" that spring up behind each
  machine. A store randomly appears in which you can buy upgrades to your light
  trail and various devices to hinder your opponent. You can play against
  another player or the computer.
screenshots:
  - https://cdn.dos.zone/original/2X/7/7f8e7f54f2b37543bd84ea0a1ac2bbecc783a7d1.png
  - https://cdn.dos.zone/original/2X/5/5c738d3eb018cc77793dbdfec1ac1c85544ee59f.png
---
