---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tron-light-cycles.jsdos
layout: page.njk
ogDescription: 'TRON: Light Cycles is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  TRON: Light Cycles on mobile. On DOS.Zone TRON: Light Cycles available to play for
  free without registration.'
permalink: /tron-light-cycles-1992/
screenshots:
- https://cdn.dos.zone/original/2X/7/7f8e7f54f2b37543bd84ea0a1ac2bbecc783a7d1.png
- https://cdn.dos.zone/original/2X/5/5c738d3eb018cc77793dbdfec1ac1c85544ee59f.png
shortTitle: 'TRON: Light Cycles'
title: 'TRON: Light Cycles | 🕹️Play TRON: Light Cycles Online | DOS game in browser'

---
