---
layout: page.njk
title: Tron | 🕹️Play Tron Online | Download js-dos bundle
ogDescription: Want to Play Tron? 🕹 On Dos Zone you can play Tron OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Tron
permalink: /tron-dec-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftron__.jsdos
description: >-
  Tron is a shareware 'Light Cycle' game for one to four players. As each player
  drives around the game area they leave a solid trail behind them. The object
  of the game is to cause other players to crash into one of these trails, one
  of the moving barriers, or the edge of the game area. The first player to win
  the required number of rounds wins the game, the default winning score is
  fifteen but this can be altered.

  An optional feature of this game is the use of missiles which can punch holes in the trails. There are four kinds of missiles available in the game, which the player picks them up by running into them, however each player can only carry one missile at a time. The game is entirely played via the keyboard and the action keys can be redefined, however a mouse can be used to navigate the game's menus. The game makes limited use of sound, just a 'beep' when a player crashes.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6e62723fd53029159355eea6a51b1ceb76d338c6.png
  - https://cdn.dos.zone/original/2X/3/3a2307c6bd3bc30fb7f206bfddb0480871be72f1.png
---
