---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trugg.jsdos
layout: page.njk
ogDescription: Trugg is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Trugg on mobile.
  On DOS.Zone Trugg available to play for free without registration.
permalink: /trugg-1995/
screenshots:
- https://cdn.dos.zone/original/2X/f/fe004fb77bce782fb5ee67d5cc6afab6323de943.png
- https://cdn.dos.zone/original/2X/3/314e2ce4cff2e278b33eaa158ef84104fb2b1fd8.png
shortTitle: Trugg
title: Trugg | 🕹️Play Trugg Online | DOS game in browser

---
