---
layout: page.njk
title: Trugg | 🕹️Play Trugg Online | Download js-dos bundle
ogDescription: Want to Play Trugg? 🕹 On Dos Zone you can play Trugg OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Trugg
permalink: /trugg-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftrugg.jsdos
description: A 256-colour Boulder Dash clone where the goal of each level is to
  collect the "gems" and reach the exit.  A number of obstacles stand in the way
  of achieving this goal, and careful manipulation of rocks, bombs and lasers is
  required to complete many of the levels.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fe004fb77bce782fb5ee67d5cc6afab6323de943.png
  - https://cdn.dos.zone/original/2X/3/314e2ce4cff2e278b33eaa158ef84104fb2b1fd8.png
---
