---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/trump-castle-ii.jsdos
layout: page.njk
ogDescription: Trump Castle II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Trump Castle
  II on mobile. On DOS.Zone Trump Castle II available to play for free without registration.
permalink: /trump-castle-ii-1991/
screenshots:
- https://cdn.dos.zone/original/2X/5/5c89ec4d5e52814fabb7c36d2ace6090bc5c6b3e.gif
- https://cdn.dos.zone/original/2X/9/92ba04494cd7a77567cc35bfd2f527b1e3b1b09.gif
shortTitle: Trump Castle II
title: Trump Castle II | 🕹️Play Trump Castle II Online | DOS game in browser

---
