---
layout: page.njk
title: Tsumera | 🕹️Play Tsumera Online | Download js-dos bundle
ogDescription: Want to Play Tsumera? 🕹 On Dos Zone you can play Tsumera OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Tsumera
permalink: /tsumera-1996/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ftsumera.jsdos
description: A fantasy-horror themed pinball game from China, similar to Naxat
  Soft 's Dragon's Fury. The story involves an evil wizard defeating and
  trapping two good ones after an epic battle. The game is controlled by the two
  Shift keys with Enter used to launch the ball. The ball can be shot inside the
  dragon to enter a bonus stage to free the trapped good wizard.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b6693e5216aa6b13f2e153f6ded378e3693edeb7.png
  - https://cdn.dos.zone/original/2X/c/c805b84f4ebc682905d007fc712388c2eb1aacda.png
---
