---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tunneler.jsdos
layout: page.njk
ogDescription: Tunneler is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tunneler on
  mobile. On DOS.Zone Tunneler available to play for free without registration.
permalink: /tunneler-1991/
screenshots:
- https://cdn.dos.zone/original/2X/5/56056fcedb84e33243d0c51435833e07f554298.gif
- https://cdn.dos.zone/original/2X/c/c2c91755ec5957fd1a8509749b8859db2e7d0513.gif
shortTitle: Tunneler
title: Tunneler | 🕹️Play Tunneler Online | DOS game in browser

---
