---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tunnels-trolls-crusaders-of-khazan.jsdos
layout: page.njk
ogDescription: 'Tunnels & Trolls: Crusaders of Khazan is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Tunnels & Trolls: Crusaders of Khazan on mobile. On DOS.Zone
  Tunnels & Trolls: Crusaders of Khazan available to play for free without registration.'
permalink: /tunnels-trolls-crusaders-of-khazan-1990/
screenshots:
- https://cdn.dos.zone/original/2X/a/af151b2079e128dfe7390942cb3d9f20c5807b5.png
- https://cdn.dos.zone/original/2X/8/84141ddd759cd560d4d638bf2737134cd360b629.gif
shortTitle: 'Tunnels & Trolls: Crusaders of Khazan'
title: 'Tunnels & Trolls: Crusaders of Khazan | 🕹️Play Tunnels & Trolls: Crusaders
  of Khazan Online | DOS game in browser'

---
