---
layout: page.njk
title: TurboGo | 🕹️Play TurboGo Online | Download js-dos bundle
ogDescription: Want to Play TurboGo? 🕹 On Dos Zone you can play TurboGo OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: TurboGo
permalink: /turbogo-feb-28-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fturbogo.jsdos
description: TurboGo is a computer version of the two-player Chinese board game
  weiqi ("Go") using the Chinese scoring rules. In this version of the game,
  either player can be a computer or human. The available board sizes here are
  9x9, 13x13 and 19x19, the latter being a common tournament size grid. The Go
  game is simple, but hard to master, and this version has an extensive manual
  built into it to help. The two players have either black or white stones, and
  place them in turn on the cross-points of a square line grid. The object is to
  encircle/border off territory and capture the opponents stones as prisoners.
  The game can be saved to disk, and be continued later, as the larger boards
  can take some time to finish.
screenshots:
  - https://cdn.dos.zone/original/2X/1/16e546dd615c74ce06784523daa40ab747669ef7.png
  - https://cdn.dos.zone/original/2X/5/5d97895afbbcba97b239755aeef8a9a224898bfa.png
---
