---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/turbo-champions.jsdos
layout: page.njk
ogDescription: Turbo Champions is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Turbo Champions
  on mobile. On DOS.Zone Turbo Champions available to play for free without registration.
permalink: /turbo-champions-1989/
screenshots:
- https://cdn.dos.zone/original/2X/e/eaab54598982aa73d128eb422ee22a1fd73e108d.png
- https://cdn.dos.zone/original/2X/e/e273928c17d948c0d297bf69426d01b286d817e3.png
shortTitle: Turbo Champions
title: Turbo Champions | 🕹️Play Turbo Champions Online | DOS game in browser

---
