---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/turn-it.jsdos
layout: page.njk
ogDescription: Turn It is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Turn It on
  mobile. On DOS.Zone Turn It available to play for free without registration.
permalink: /turn-it-1990/
screenshots:
- https://cdn.dos.zone/original/2X/4/4a94a1dec23cfe962c8e7c34c0fb3065bf1274d1.png
- https://cdn.dos.zone/original/2X/6/6bae4c92328516ece88511b7b50dad1e8787509c.png
shortTitle: Turn It
title: Turn It | 🕹️Play Turn It Online | DOS game in browser

---
