---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/type-attack.jsdos
layout: page.njk
ogDescription: Type Attack is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Type Attack
  on mobile. On DOS.Zone Type Attack available to play for free without registration.
permalink: /type-attack-1983/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ab437bef13e7b037bed2ff25c488005fa5d29df.png
- https://cdn.dos.zone/original/2X/4/4465d656837bb4483b8ae44f7d83dc5ab312dbc5.png
shortTitle: Type Attack
title: Type Attack | 🕹️Play Type Attack Online | DOS game in browser

---
