---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/tyrian-2000.jsdos
layout: page.njk
ogDescription: Tyrian 2000 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Tyrian 2000
  on mobile. On DOS.Zone Tyrian 2000 available to play for free without registration.
permalink: /tyrian-2000-nov-18-1999/
screenshots:
- https://cdn.dos.zone/original/2X/b/b179629be2551a958c418b410c4587583e1e6d21.gif
- https://cdn.dos.zone/original/2X/2/2e2237b572fa9c1f07351cd581af8d7fa76d911f.gif
shortTitle: Tyrian 2000
title: Tyrian 2000 | 🕹️Play Tyrian 2000 Online | DOS game in browser

---
