---
layout: page.njk
title: UFO | 🕹️Play UFO Online | Download js-dos bundle
ogDescription: Want to Play UFO? 🕹 On Dos Zone you can play UFO OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: UFO
permalink: /ufo-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fufo____.jsdos
description: In this simple shooter, a city faces off against a never-ending
  succession of alien saucers that seem to have taken an interest in flying over
  its curiously-geometric skyline.  There's only a single gun to shoot them down
  with, and it is necessary to lead the target based on its varying altitude and
  velocity.  The UFOs themselves do not seem to mean any harm to the angular
  architecture below, and stoically attempt to gain passage without ever
  fighting back, so why they're being picked on is an open question.  Be that as
  it may, the city scores one point for each successful hit by the player; if a
  saucer gets away, it's one for the aliens.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f5af834296d1331a33f2a852d24d1ad1c66cb349.png
  - https://cdn.dos.zone/original/2X/c/c170ed53f8228a8d036d290ea290a7a5f8133306.png
---
