---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ufo____.jsdos
layout: page.njk
ogDescription: UFO is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in UFO on mobile. On
  DOS.Zone UFO available to play for free without registration.
permalink: /ufo-1982/
screenshots:
- https://cdn.dos.zone/original/2X/f/f5af834296d1331a33f2a852d24d1ad1c66cb349.png
- https://cdn.dos.zone/original/2X/c/c170ed53f8228a8d036d290ea290a7a5f8133306.png
shortTitle: UFO
title: UFO | 🕹️Play UFO Online | DOS game in browser

---
