---
layout: page.njk
title: "Ultima II: The Revenge of the Enchantress... | 🕹️Play Ultima II: The
  Revenge of the Enchantress... Online | Download js-dos bundle"
ogDescription: "Want to Play Ultima II: The Revenge of the Enchantress...? 🕹 On
  Dos Zone you can play Ultima II: The Revenge of the Enchantress... OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "Ultima II: The Revenge of the Enchantress..."
permalink: /ultima-ii-the-revenge-of-the-enchantress-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fultima-ii-the-revenge-of-the-enchantress.jsdos
description: ""
screenshots: []
---
