---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ultima-ii-the-revenge-of-the-enchantress.jsdos
layout: page.njk
ogDescription: 'Ultima II: The Revenge of the Enchantress... is a famous and most
  played DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Ultima II: The Revenge of the Enchantress... on mobile. On
  DOS.Zone Ultima II: The Revenge of the Enchantress... available to play for free
  without registration.'
permalink: /ultima-ii-the-revenge-of-the-enchantress-1983/
screenshots: []
shortTitle: 'Ultima II: The Revenge of the Enchantress...'
title: 'Ultima II: The Revenge of the Enchantress... | 🕹️Play Ultima II: The Revenge
  of the Enchantress... Online | DOS game in browser'

---
