---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ultima-iv-quest-of-the-avatar.jsdos
layout: page.njk
ogDescription: 'Ultima IV: Quest of the Avatar is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Ultima IV: Quest of the Avatar on mobile. On DOS.Zone Ultima IV: Quest
  of the Avatar available to play for free without registration.'
permalink: /ultima-iv-quest-of-the-avatar-oct-1987/
screenshots:
- https://cdn.dos.zone/original/2X/8/871e64259e8aae20f7d1973c1b486241f810ce7d.png
- https://cdn.dos.zone/original/2X/d/db091d9f40526394f2c45668dfc36bc73ed623e7.png
shortTitle: 'Ultima IV: Quest of the Avatar'
title: 'Ultima IV: Quest of the Avatar | 🕹️Play Ultima IV: Quest of the Avatar Online
  | DOS game in browser'

---
