---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ultimuh-mcmlxvii-part-2-of-the-39th-trilogy-the-quest-for-the-go.jsdos
layout: page.njk
ogDescription: 'Ultimuh MCMLXVII: Part 2 of the 39th Trilogy - The Quest for the Golden
  Amulet is a famous and most played DOS game that now is available to play in browser.
  With virtual mobile controls you also can play in Ultimuh MCMLXVII: Part 2 of the
  39th Trilogy - The Quest for the Golden Amulet on mobile. On DOS.Zone Ultimuh MCMLXVII:
  Part 2 of the 39th Trilogy - The Quest for the Golden Amulet available to play for
  free without registration.'
permalink: /ultimuh-mcmlxvii-part-2-of-the-39th-trilogy-the-quest-for-the-golden-amulet-1993/
screenshots:
- https://cdn.dos.zone/original/2X/e/ed2661fb95a18a0f618c186eb87f09c5a513986f.png
- https://cdn.dos.zone/original/2X/4/4c5304f077fe27d69b15bcb289684c7bd98cfd0d.png
shortTitle: 'Ultimuh MCMLXVII: Part 2 of the 39th Trilogy - The Quest for the Golden
  Amulet'
title: 'Ultimuh MCMLXVII: Part 2 of the 39th Trilogy - The Quest for the Golden Amulet
  | 🕹️Play Ultimuh MCMLXVII: Part 2 of the 39th Trilogy - The Quest for the Golden
  Amulet Online | DOS game in browser'

---
