---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/ultima-underworld-the-stygian-abyss.jsdos
layout: page.njk
ogDescription: 'Ultima Underworld: The Stygian Abyss is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Ultima Underworld: The Stygian Abyss on mobile. On DOS.Zone Ultima
  Underworld: The Stygian Abyss available to play for free without registration.'
permalink: /ultima-underworld-the-stygian-abyss-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/de1bca4b5579c019fd2753513555ae4ff040e86c.png
- https://cdn.dos.zone/original/2X/b/b1b4762ad0d22c3d1cf1bcf1596dc3ff6b4957.png
shortTitle: 'Ultima Underworld: The Stygian Abyss'
title: 'Ultima Underworld: The Stygian Abyss | 🕹️Play Ultima Underworld: The Stygian
  Abyss Online | DOS game in browser'

---
