---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/under-fire.jsdos
layout: page.njk
ogDescription: Under Fire! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Under Fire!
  on mobile. On DOS.Zone Under Fire! available to play for free without registration.
permalink: /under-fire-1988/
screenshots:
- https://cdn.dos.zone/original/2X/2/23a122ff28aee34f251270e8d3dda0702e4861b2.png
shortTitle: Under Fire!
title: Under Fire! | 🕹️Play Under Fire! Online | DOS game in browser

---
