---
layout: page.njk
title: Under Fire! | 🕹️Play Under Fire! Online | Download js-dos bundle
ogDescription: Want to Play Under Fire!? 🕹 On Dos Zone you can play Under Fire!
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Under Fire!
permalink: /under-fire-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Funder-fire.jsdos
description: Under Fire is a tactical simulation of WW II land combat. Men and
  weapons from the United States, Germany and Russia are represented. There are
  nine scenarios in the game which range from open field firefights to house to
  house conflict. Victory is a subjective affair in Under Fire as there is no
  declaration of victory. The victory screen basically tallies up losses and
  objectives gained the rest is left to argument. Under Fire can be played by
  one or two players. Playing time can range from 10 minutes for a two squad
  battle to five hours  for a 32 squad firefight.
screenshots:
  - https://cdn.dos.zone/original/2X/2/23a122ff28aee34f251270e8d3dda0702e4861b2.png
---
