---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/universe-3.jsdos
layout: page.njk
ogDescription: Universe 3 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Universe 3
  on mobile. On DOS.Zone Universe 3 available to play for free without registration.
permalink: /universe-3-1989/
screenshots:
- https://cdn.dos.zone/original/2X/9/9702b17f88b996a24c7fcedd38a80cb5af6a4ed6.gif
- https://cdn.dos.zone/original/2X/9/9849cbbc247045dde7239e729a640b9d017a9836.gif
shortTitle: Universe 3
title: Universe 3 | 🕹️Play Universe 3 Online | DOS game in browser

---
