---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/universal-warrior.jsdos
layout: page.njk
ogDescription: Universal Warrior is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Universal Warrior on mobile. On DOS.Zone Universal Warrior available to play for
  free without registration.
permalink: /universal-warrior-1995/
screenshots:
- https://cdn.dos.zone/original/2X/6/60df086f3956359f6131a77348728497c6376b55.png
- https://cdn.dos.zone/original/2X/c/cb50cb906beafa47e9171d6651f9d62de3d1e277.png
shortTitle: Universal Warrior
title: Universal Warrior | 🕹️Play Universal Warrior Online | DOS game in browser

---
