---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/universe_.jsdos
layout: page.njk
ogDescription: Universe is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Universe on
  mobile. On DOS.Zone Universe available to play for free without registration.
permalink: /universe-1987/
screenshots:
- https://cdn.dos.zone/original/2X/e/e4e1ad6e852baf7b132593de5ff28d385143efd2.png
- https://cdn.dos.zone/original/2X/d/da113ebc8ef5b8df9a39346b3c1b4467727b8f42.png
shortTitle: Universe
title: Universe | 🕹️Play Universe Online | DOS game in browser

---
