---
layout: page.njk
title: Universe 3 | 🕹️Play Universe 3 Online | Download js-dos bundle
ogDescription: Want to Play Universe 3? 🕹 On Dos Zone you can play Universe 3
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Universe 3
permalink: /universe-3-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Funiverse-3.jsdos
description: Unlike the first two games in the series, which fell into the
  roleplaying and resource-management category, Universe 3 poses true
  logic-based puzzles for you to solve. Your characters move about in much the
  same way as their counterparts in Breach, Omnitrend's tactical combat RPG. You
  set out to escort a diplomat on a trip to the hyperspace booster (a key
  element of Universe 2) to investigate the disappearance of shipments from
  Earth to this remote corner of the star map. The story takes a quick twist
  when you and your crew are captured, forcing you to rack up some criminal
  charges during your escape. You'll spend the rest of your time looking for
  evidence about the missing shipments, which will clear you of the charges as
  well as wrap up the mystery.
screenshots:
  - https://cdn.dos.zone/original/2X/9/9702b17f88b996a24c7fcedd38a80cb5af6a4ed6.gif
  - https://cdn.dos.zone/original/2X/9/9849cbbc247045dde7239e729a640b9d017a9836.gif
---
