---
layout: page.njk
title: "Unnkulia One-Half: The Salesman Triumphant | 🕹️Play Unnkulia One-Half:
  The Salesman Triumphant Online | Download js-dos bundle"
ogDescription: "Want to Play Unnkulia One-Half: The Salesman Triumphant? 🕹 On
  Dos Zone you can play Unnkulia One-Half: The Salesman Triumphant OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "Unnkulia One-Half: The Salesman Triumphant"
permalink: /unnkulia-one-half-the-salesman-triumphant-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Funnkulia-one-half-the-salesman-triumphant.jsdos
description: "Unnkulia One-Half: The Salesman Triumphant is a simple freeware
  text adventure dungeon crawler, developed with TADS - Text Adventure
  Development System. The game was written for advertising purposes of the
  shareware game Unnkulia Zero: The Search for Amanda. As the Acme salesman
  forced to work out of the Golden Dragon Inn, located next to Dread Unnkulia,
  the player must collect enough treasure in order to buy a local inn. The game
  is fully keyboard controlled by using dozen types of commands available."
screenshots:
  - https://cdn.dos.zone/original/2X/c/c8c863bc397d36f928e7b1356c3209987fb85793.png
  - https://cdn.dos.zone/original/2X/f/f8dd4606c26bbf0f9f2b1e536af3e475d09589ef.png
---
