---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/unnkulia-zero-the-search-for-amanda.jsdos
layout: page.njk
ogDescription: 'Unnkulia Zero: The Search for Amanda is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Unnkulia Zero: The Search for Amanda on mobile. On DOS.Zone Unnkulia
  Zero: The Search for Amanda available to play for free without registration.'
permalink: /unnkulia-zero-the-search-for-amanda-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c4d5ed4960b60aee75d99e26e7f8ef31b86323f7.png
- https://cdn.dos.zone/original/2X/f/fb42f0a90300ccf19a04ce9479d0db16c876ee28.png
shortTitle: 'Unnkulia Zero: The Search for Amanda'
title: 'Unnkulia Zero: The Search for Amanda | 🕹️Play Unnkulia Zero: The Search for
  Amanda Online | DOS game in browser'

---
