---
layout: page.njk
title: Up Periscope! | 🕹️Play Up Periscope! Online | Download js-dos bundle
ogDescription: Want to Play Up Periscope!? 🕹 On Dos Zone you can play Up
  Periscope! OR donwload js-dos bundle for free. Start playing now!
shortTitle: Up Periscope!
permalink: /up-periscope-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fup-periscope.jsdos
description: A World War 2 submarine simulation set in the South Pacific.
  Destroy Japanese convoys to support your country's war effort. Practice,
  campaign and historical modes are available.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8136c86fd1f35009de8983220498e1760de79339.gif
  - https://cdn.dos.zone/original/2X/3/3e0bb9cbfb1c15ca082be03cae1c4f64e0f17e13.gif
---
