---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/up-periscope.jsdos
layout: page.njk
ogDescription: Up Periscope! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Up Periscope!
  on mobile. On DOS.Zone Up Periscope! available to play for free without registration.
permalink: /up-periscope-1988/
screenshots:
- https://cdn.dos.zone/original/2X/8/8136c86fd1f35009de8983220498e1760de79339.gif
- https://cdn.dos.zone/original/2X/3/3e0bb9cbfb1c15ca082be03cae1c4f64e0f17e13.gif
shortTitle: Up Periscope!
title: Up Periscope! | 🕹️Play Up Periscope! Online | DOS game in browser

---
