---
layout: page.njk
title: Up Side Town | 🕹️Play Up Side Town Online | Download js-dos bundle
ogDescription: Want to Play Up Side Town? 🕹 On Dos Zone you can play Up Side
  Town OR donwload js-dos bundle for free. Start playing now!
shortTitle: Up Side Town
permalink: /up-side-town-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fup-side-town.jsdos
description: "The townspeople are alarmed: the wicked witch has been seen riding
  about on her broom, casting her vicious spells and turning the town upside
  down. Only the good magician Arthur can undo her evil conjurations - but he's
  nowhere to be found! Can you locate Arthur and help turn the town right side
  up again? Upside Town is an educational game for ages 4-6 done in a
  point-and-click adventure style, featuring full voice acting in either English
  or Hebrew. The player controls a small boy who attempts to find the good
  magician, exploring various locations around town to find helpful clues and
  objects; woven into the plot are several puzzles and mini-games designed to
  develop coordination, memorization and graphical/musical skills.  The cursor
  changes shape to indicate objects of interest, and there's simple click/drag
  inventory system.  The mini-puzzles vary in difficulty, according to the
  chosen skill level."
screenshots:
  - https://cdn.dos.zone/original/2X/8/8065699cb8f959f2ece61a8e88486df83ef34ec8.png
  - https://cdn.dos.zone/original/2X/4/41f3be1638460f1c43a6bcf542cc86e4f2900dc5.png
---
