---
layout: page.njk
title: USS Stinger | 🕹️Play USS Stinger Online | Download js-dos bundle
ogDescription: Want to Play USS Stinger? 🕹 On Dos Zone you can play USS Stinger
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: USS Stinger
permalink: /uss-stinger-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fuss-stinger.jsdos
description: A 3-D combat submarine simulator. The object of the game is to seek
  out enemy convoys and sink the supply ships and their escorts with your
  torpedoes and missiles. Navigation between convoys, ports and environmental
  hazards, as well as the need to watch your fuel and air supply, add an element
  of difficulty to the game.
screenshots:
  - https://cdn.dos.zone/original/2X/d/dc7578f663fa4d30c9c54fde87c9db3396b6dbcb.gif
  - https://cdn.dos.zone/original/2X/b/b6df127de610dc73b6b63dbb72e9a6bf1307edeb.gif
---
