---
layout: page.njk
title: Vacation Gone Awry | 🕹️Play Vacation Gone Awry Online | Download js-dos bundle
ogDescription: Want to Play Vacation Gone Awry? 🕹 On Dos Zone you can play
  Vacation Gone Awry OR donwload js-dos bundle for free. Start playing now!
shortTitle: Vacation Gone Awry
permalink: /vacation-gone-awry-jan-30-2002/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvacation-gone-awry.jsdos
description: You play an Australian on a skiing Vacation in Germany. As you wake
  up the first morning at the cabin, you find that your family is gone. It will
  be your task to figure out what happened to them. The game is entirely
  text-based.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6136d5a4a3a88bf3d94aef030194f20b417ea3c9.png
  - https://cdn.dos.zone/original/2X/4/46aed4cfca0f85542f4d5c274fa1f55d0c566b1f.png
---
