---
layout: page.njk
title: VariTale | 🕹️Play VariTale Online | Download js-dos bundle
ogDescription: Want to Play VariTale? 🕹 On Dos Zone you can play VariTale OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: VariTale
permalink: /varitale-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvaritale.jsdos
description: "VariTale is an early BBS door implementation of
  Choose-Your-Own-Adventure hypertext, allowing users to read through and extend
  up to three stories per installation (15 in the registered version!) via an
  oldschool command-line interface.  Unconventionally, the author of a given
  chapter is not given the option of dictating which options follow their
  passage: that choice is given instead to the writers of the future chapters.
  Comes bundled with two sample adventures, The Secret of the Broken Sword and
  Space Terror! The latter is more nominal than the former, but both exhibit the
  vaguely cheeky insouciance that characterises Pinnacle 's humorous writing."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cd24f860002b2e51511b0fa75d0feb10bd789409.png
  - https://cdn.dos.zone/original/2X/7/707f8620b03f87c45a738cb8b179365b0f5bd0f9.png
---
