---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/varicella.jsdos
layout: page.njk
ogDescription: Varicella is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Varicella
  on mobile. On DOS.Zone Varicella available to play for free without registration.
permalink: /varicella-1999/
screenshots:
- https://cdn.dos.zone/original/2X/e/e713d9f9d12a1710e9c592574bd06354ef8a4b0d.png
- https://cdn.dos.zone/original/2X/5/5f143f88679b4cc604845e6b0d0badbd0725c58b.png
shortTitle: Varicella
title: Varicella | 🕹️Play Varicella Online | DOS game in browser

---
