---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/varitale.jsdos
layout: page.njk
ogDescription: VariTale is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in VariTale on
  mobile. On DOS.Zone VariTale available to play for free without registration.
permalink: /varitale-1987/
screenshots:
- https://cdn.dos.zone/original/2X/c/cd24f860002b2e51511b0fa75d0feb10bd789409.png
- https://cdn.dos.zone/original/2X/7/707f8620b03f87c45a738cb8b179365b0f5bd0f9.png
shortTitle: VariTale
title: VariTale | 🕹️Play VariTale Online | DOS game in browser

---
