---
layout: page.njk
title: Vegas Pro Video Poker | 🕹️Play Vegas Pro Video Poker Online | Download
  js-dos bundle
ogDescription: Want to Play Vegas Pro Video Poker? 🕹 On Dos Zone you can play
  Vegas Pro Video Poker OR donwload js-dos bundle for free. Start playing now!
shortTitle: Vegas Pro Video Poker
permalink: /vegas-pro-video-poker-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvegas-pro-video-poker.jsdos
description: >-
  Utilizing simple graphics Vegas Pro Video Poker simulates the popular video
  poker machines found in Las Vegas. The type of game played here is
  Five-Card-Draw where five cards are dealt to the player and he/she must choose
  from these which they would like to discard and re-draw as by default you hold
  all the cards. You are given $500 to start your game and can bet up to $5 on
  each hand.

  A training and set-up option is available where the player can set rewards given and bets accepted in order to manage money or to simulate different machines one may find in casinos.
screenshots:
  - https://cdn.dos.zone/original/2X/1/15b28194bc62eaa6988ab097497435c1c7734904.png
  - https://cdn.dos.zone/original/2X/8/83d2729b72d1304f1ec83de8e47958be1da3f912.png
---
