---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/vegas-bandit.jsdos
layout: page.njk
ogDescription: Vegas Bandit is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Vegas Bandit
  on mobile. On DOS.Zone Vegas Bandit available to play for free without registration.
permalink: /vegas-bandit-1994/
screenshots:
- https://cdn.dos.zone/original/2X/3/36c382affcbebe9df2f8be8b2d781db55ee63ebf.gif
- https://cdn.dos.zone/original/2X/f/f06dc6d83c855cde6526d8f4eb7e9e098e220300.gif
shortTitle: Vegas Bandit
title: Vegas Bandit | 🕹️Play Vegas Bandit Online | DOS game in browser

---
