---
layout: page.njk
title: Vegas Bandit | 🕹️Play Vegas Bandit Online | Download js-dos bundle
ogDescription: Want to Play Vegas Bandit? 🕹 On Dos Zone you can play Vegas
  Bandit OR donwload js-dos bundle for free. Start playing now!
shortTitle: Vegas Bandit
permalink: /vegas-bandit-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvegas-bandit.jsdos
description: Vegas Bandit is a slot machine simulation. You start the game with
  100 coins, and can bet 1 to 3 coins. After betting, click on the handle to
  pull it down, and the results will show up on the screen. Should you run out
  of coins, a new game can be started.
screenshots:
  - https://cdn.dos.zone/original/2X/3/36c382affcbebe9df2f8be8b2d781db55ee63ebf.gif
  - https://cdn.dos.zone/original/2X/f/f06dc6d83c855cde6526d8f4eb7e9e098e220300.gif
---
