---
layout: page.njk
title: VENTURE (pci) | 🕹️Play VENTURE (pci) Online | Download js-dos bundle
ogDescription: Want to Play VENTURE (pci)? 🕹 On Dos Zone you can play VENTURE
  (pci) OR donwload js-dos bundle for free. Start playing now!
shortTitle: VENTURE (pci)
permalink: /venture-pci-mar-31-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fventure-pci.jsdos
description: Awakening at the bottom of a wet pit, a player must ascend a rope
  to the surface and negotiate with a troll in order to obtain access to a key
  unlocking the very brief game's conclusion. (As the game was originally
  written as an MS-DOS batch file, the text parser is necessarily quite limited,
  as is the overall scope of the game.)
screenshots: []
---
