---
layout: page.njk
title: Veteran | 🕹️Play Veteran Online | Download js-dos bundle
ogDescription: Want to Play Veteran? 🕹 On Dos Zone you can play Veteran OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Veteran
permalink: /veteran-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fveteran.jsdos
description: The Operation Wolf arcade game was the obvious inspiration for this
  shoot 'em up. As a lone soldier you must shoot your way through waves of
  soldiers, tanks and helicopters, armed with only bullets and grenades. You aim
  at these by controlling a crosshair with the mouse, using the left button to
  shoot bullets and the right button to fire grenades. You are limited for both
  of these, but more can be collected as they appear throughout the game by
  shooting them. Your strength is limited and deteriorates as you get hit -
  avoid letting it drop to zero.
screenshots:
  - https://cdn.dos.zone/original/2X/b/b3a2188978d8776ac300cc5db2a177be48f0e85b.png
  - https://cdn.dos.zone/original/2X/c/cdc036a8e822ddda899668b5f43b2ae3241a08bf.png
---
