---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/veteran.jsdos
layout: page.njk
ogDescription: Veteran is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Veteran on
  mobile. On DOS.Zone Veteran available to play for free without registration.
permalink: /veteran-1988/
screenshots:
- https://cdn.dos.zone/original/2X/b/b3a2188978d8776ac300cc5db2a177be48f0e85b.png
- https://cdn.dos.zone/original/2X/c/cdc036a8e822ddda899668b5f43b2ae3241a08bf.png
shortTitle: Veteran
title: Veteran | 🕹️Play Veteran Online | DOS game in browser

---
