---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/vetka.jsdos
layout: page.njk
ogDescription: Vetka is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Vetka on mobile.
  On DOS.Zone Vetka available to play for free without registration.
permalink: /vetka-1992/
screenshots:
- https://cdn.dos.zone/original/2X/a/ad20246d284e7cd1d7a4ee64565589ee3eb9f87c.png
- https://cdn.dos.zone/original/2X/2/2a709c50aa9bcaf532833cd493a2eac0a642b078.png
shortTitle: Vetka
title: Vetka | 🕹️Play Vetka Online | DOS game in browser

---
