---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/video-poker-slot.jsdos
layout: page.njk
ogDescription: Video Poker Slot is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Video Poker
  Slot on mobile. On DOS.Zone Video Poker Slot available to play for free without
  registration.
permalink: /video-poker-slot-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/eddffd84a2fd5a33d8a6db5b4443e46fb9aac653.png
- https://cdn.dos.zone/original/2X/d/d7a98f3dac8708f6ef5d5c27ec79fb179e23e811.png
shortTitle: Video Poker Slot
title: Video Poker Slot | 🕹️Play Video Poker Slot Online | DOS game in browser

---
