---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/video-trek-88.jsdos
layout: page.njk
ogDescription: Video Trek 88 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Video Trek
  88 on mobile. On DOS.Zone Video Trek 88 available to play for free without registration.
permalink: /video-trek-88-1982/
screenshots:
- https://cdn.dos.zone/original/2X/6/6105c6cac452cf14474ee0231e89265890c14b1e.png
- https://cdn.dos.zone/original/2X/c/c1054da6d28ffa1dee3cd0efc12c9369d1592553.png
shortTitle: Video Trek 88
title: Video Trek 88 | 🕹️Play Video Trek 88 Online | DOS game in browser

---
