---
layout: page.njk
title: Viktorina | 🕹️Play Viktorina Online | Download js-dos bundle
ogDescription: Want to Play Viktorina? 🕹 On Dos Zone you can play Viktorina OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Viktorina
permalink: /viktorina-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fviktorina.jsdos
description: Viktorina (Quiz in Russian) is an educational game for children of
  6-15 ages to learn English language. Up to four players competing with each
  other by answering the questions, which are tasks to translate English word
  into Russian word by typing it. The answer can be compared with a variation of
  English translation to be approved. Each correct answer gives one point to the
  player. The winner is a player with the highest number of points.
screenshots:
  - https://cdn.dos.zone/original/2X/5/53dfd457b659c0e642d24cc7ac05533265c3863d.png
  - https://cdn.dos.zone/original/2X/e/e81f8ee936203313590172df2ce3d10e653cd068.png
---
