---
layout: page.njk
title: Viper | 🕹️Play Viper Online | Download js-dos bundle
ogDescription: Want to Play Viper? 🕹 On Dos Zone you can play Viper OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Viper
permalink: /viper-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fviper___.jsdos
description: Viper is a single-player shareware Snake variant. You control a
  snake which tail grows as you feed him. Just avoid turning back on yourself
  and hitting "walls". The snake is controlled by the keyboard, you can also
  control the game speed and also toggle sound on or off. Advanced players will
  hit the F7 key to lengthen their Viper.
screenshots:
  - https://cdn.dos.zone/original/2X/2/275e8e27daab6d149cc912ed13cf68a637bd9b08.png
  - https://cdn.dos.zone/original/2X/2/23945c98e21dd5545df6346bbbef57e94d0c11d8.png
---
