---
layout: page.njk
title: Virus Rage | 🕹️Play Virus Rage Online | Download js-dos bundle
ogDescription: Want to Play Virus Rage? 🕹 On Dos Zone you can play Virus Rage
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Virus Rage
permalink: /virus-rage-nov-01-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvirus-rage.jsdos
description: "Virus Rage belongs to a somewhat uncommon class of games - a
  medically-themed action shooter: the player is given control of a tiny
  hypodermic syringe, maneuvering within the confines of a microscopic grid of
  cells.  The problem: your poor patient is suffering from a viral infection,
  and it's quickly mutating to boot.  The solution: kill off the contaminating
  agents by destroying the active nuclei on each level. These nuclei are
  surrounded by live viral cells that quickly multiply, and your syringe can
  fire off pellets that convert them into dead ones; you snuff out an active
  nucleus by extinguishing all the live cells around it.  There's a catch
  however: if you accidentally shoot the nucleus itself directly, you'll kill
  the patient... complete with a grisly face-melting animation.  The viruses
  fight back with mutated strains, which tramp around reviving viral cells (and
  killing the player on contact); there are also dormant nuclei which the
  enemies can awaken to an active state.  The nuclei may also launch noxious
  spores that seek out our meddlesome medic with lethal intent. Once the disease
  is eliminated, you go off to disinfect a new locale.  The game keeps track of
  the 15 highest scores, and features a Practice mode for less-experienced
  practitioners."
screenshots:
  - https://cdn.dos.zone/original/2X/5/54433bb208e0fd146cfdbf13781f40aef73635d.png
  - https://cdn.dos.zone/original/2X/2/2f6982c3184b9a98a65e725565559ceb817dc73a.png
---
