---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/virus__.jsdos
layout: page.njk
ogDescription: Virus is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Virus on mobile.
  On DOS.Zone Virus available to play for free without registration.
permalink: /virus-1988/
screenshots: []
shortTitle: Virus
title: Virus | 🕹️Play Virus Online | DOS game in browser

---
