---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/vixen.jsdos
layout: page.njk
ogDescription: Vixen is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Vixen on mobile.
  On DOS.Zone Vixen available to play for free without registration.
permalink: /vixen-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/fb484daa4f1cf6cf174c91bb3c4a96569967f9f7.png
- https://cdn.dos.zone/original/2X/6/65a33c6b2d2aec8711884e1672bf7d50e2661b99.png
shortTitle: Vixen
title: Vixen | 🕹️Play Vixen Online | DOS game in browser

---
