---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/vor-terra.jsdos
layout: page.njk
ogDescription: Vor Terra is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Vor Terra
  on mobile. On DOS.Zone Vor Terra available to play for free without registration.
permalink: /vor-terra-1996/
screenshots:
- https://cdn.dos.zone/original/2X/b/b84dd83f9b35455ea7fa16fc78bea2dd61adcfc1.png
- https://cdn.dos.zone/original/2X/2/2a5065075f1406c642e28a676be41e1b387b8993.png
shortTitle: Vor Terra
title: Vor Terra | 🕹️Play Vor Terra Online | DOS game in browser

---
