---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/voyager-i-sabotage-of-the-robot-ship.jsdos
layout: page.njk
ogDescription: 'Voyager I: Sabotage of the Robot Ship is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Voyager I: Sabotage of the Robot Ship on mobile. On DOS.Zone
  Voyager I: Sabotage of the Robot Ship available to play for free without registration.'
permalink: /voyager-i-sabotage-of-the-robot-ship-1982/
screenshots:
- https://cdn.dos.zone/original/2X/d/d3338b0384ea2b4399f22a9262139c0df37c7c80.png
- https://cdn.dos.zone/original/2X/1/173e9431e71fc365ad2dd10586a1f9ba68765669.png
shortTitle: 'Voyager I: Sabotage of the Robot Ship'
title: 'Voyager I: Sabotage of the Robot Ship | 🕹️Play Voyager I: Sabotage of the
  Robot Ship Online | DOS game in browser'

---
