---
layout: page.njk
title: "Voyager I: Sabotage of the Robot Ship | 🕹️Play Voyager I: Sabotage of
  the Robot Ship Online | Download js-dos bundle"
ogDescription: "Want to Play Voyager I: Sabotage of the Robot Ship? 🕹 On Dos
  Zone you can play Voyager I: Sabotage of the Robot Ship OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Voyager I: Sabotage of the Robot Ship"
permalink: /voyager-i-sabotage-of-the-robot-ship-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvoyager-i-sabotage-of-the-robot-ship.jsdos
description: Voyager is a first-person action game that challenges the player to
  explore the levels of an alien spacecraft's maze. The environments consist of
  corridors and rooms done with 3D vector graphics. The protagonist has to evade
  robots programmed to blast any intruders. To win, the player must destroy all
  power generators and escape (or hunt down and annihilate) the killer robots.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d3338b0384ea2b4399f22a9262139c0df37c7c80.png
  - https://cdn.dos.zone/original/2X/1/173e9431e71fc365ad2dd10586a1f9ba68765669.png
---
