---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/vr-slingshot.jsdos
layout: page.njk
ogDescription: VR Slingshot is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in VR Slingshot
  on mobile. On DOS.Zone VR Slingshot available to play for free without registration.
permalink: /vr-slingshot-1994/
screenshots:
- https://cdn.dos.zone/original/2X/8/89a6b86e7ded35bd68699699363f5bcdd2687927.png
- https://cdn.dos.zone/original/2X/9/962dfbd1f51f69bcfac44ee2f22274de93de1a6f.png
shortTitle: VR Slingshot
title: VR Slingshot | 🕹️Play VR Slingshot Online | DOS game in browser

---
