---
layout: page.njk
title: "VW Sharan: Pack 'n Puzzle | 🕹️Play VW Sharan: Pack 'n Puzzle Online |
  Download js-dos bundle"
ogDescription: "Want to Play VW Sharan: Pack 'n Puzzle? 🕹 On Dos Zone you can
  play VW Sharan: Pack 'n Puzzle OR donwload js-dos bundle for free. Start
  playing now!"
shortTitle: "VW Sharan: Pack 'n Puzzle"
permalink: /vw-sharan-pack-n-puzzle-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fvw-sharan-pack-n-puzzle.jsdos
description: "VW Sharan: Pack 'n Puzzle is an advergame made to promote the
  first generation of the Volkswagen Sharan. The goal is to put stuff (people,
  animals, objects) into the van and arrange it so everything fits in. Some
  things need to be combined in order to take lesser space in the car, for
  example you can put a small child in a baby carriage. There are five levels in
  all. The idea behind it is to show how many space a Sharan has to offer."
screenshots:
  - https://cdn.dos.zone/original/2X/7/7cf9409092c070e14149cd827172d49263b202cf.jpeg
  - https://cdn.dos.zone/original/2X/2/2191f4f4ea9dfc5a3fc61b448c15550e70860cfc.jpeg
---
