---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wall-pipe.jsdos
layout: page.njk
ogDescription: Wall Pipe is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wall Pipe
  on mobile. On DOS.Zone Wall Pipe available to play for free without registration.
permalink: /wall-pipe-1993/
screenshots:
- https://cdn.dos.zone/original/2X/1/102b55598015216c73ae90d997e9019d8ec25af6.png
- https://cdn.dos.zone/original/2X/f/f6a40de28bc1302ba0d2d0a7f002171cbdbbb26.png
shortTitle: Wall Pipe
title: Wall Pipe | 🕹️Play Wall Pipe Online | DOS game in browser

---
