---
layout: page.njk
title: Wallbanger | 🕹️Play Wallbanger Online | Download js-dos bundle
ogDescription: Want to Play Wallbanger? 🕹 On Dos Zone you can play Wallbanger
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Wallbanger
permalink: /wallbanger-feb-23-1982/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwallbanger.jsdos
description: Wallbanger is another ball-and-paddle game that follows the
  Breakout formula and gives the player a paddle, three balls, and a bunch of
  bricks to break.  This binge of structural destruction driven by striking the
  flying ball with the paddle, bouncing it off the sides and into the three rows
  of bricks across the top.  It is possible to control the ball's course
  somewhat by bouncing it off different sections of the paddle. If all three
  balls fall through the bottom of the screen (without being deflected by the
  paddle), it's game over; if you manage to tear the walls down completely,
  you'll be awarded the prestigious title of "wallbanger" - only to start again
  with zero points, since the game ends after a single level.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ff68d7c2e3135cfe3faeb1bc4ae4c84ba0ead259.png
  - https://cdn.dos.zone/original/2X/f/f275c81e20cda557ed4f915eeb8b9183df5bf342.png
---
