---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wallbanger.jsdos
layout: page.njk
ogDescription: Wallbanger is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wallbanger
  on mobile. On DOS.Zone Wallbanger available to play for free without registration.
permalink: /wallbanger-feb-23-1982/
screenshots:
- https://cdn.dos.zone/original/2X/f/ff68d7c2e3135cfe3faeb1bc4ae4c84ba0ead259.png
- https://cdn.dos.zone/original/2X/f/f275c81e20cda557ed4f915eeb8b9183df5bf342.png
shortTitle: Wallbanger
title: Wallbanger | 🕹️Play Wallbanger Online | DOS game in browser

---
