---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wanderer.jsdos
layout: page.njk
ogDescription: Wanderer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wanderer on
  mobile. On DOS.Zone Wanderer available to play for free without registration.
permalink: /wanderer-1988/
screenshots:
- https://cdn.dos.zone/original/2X/5/54f9aa7f82d7a811dee03648b15524114b1eba71.png
- https://cdn.dos.zone/original/2X/3/30c53d26e0f6b767e0496ae27ecdb61ded2847f5.png
shortTitle: Wanderer
title: Wanderer | 🕹️Play Wanderer Online | DOS game in browser

---
