---
layout: page.njk
title: "WarCraft: Orcs & Humans | 🕹️Play WarCraft: Orcs & Humans Online | Download js-dos bundle"
ogDescription: "Want to WarCraft: Orcs & Humans? 🕹 On Dos Zone you can play WarCraft: Orcs & Humans OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "WarCraft: Orcs & Humans"
permalink: /warcraft-orcs-humans/
bundles:
  - type: js
    title: ""
    mobile: true
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwarcraft.jsdos
description: >
    The Kingdom of Azeroth was relatively peaceful and ruled by King Llane. That was until a powerful 
    mage named Medivh commanded forces that opened up a portal in the Swamp of Sorrow, leading to another
     world. This ushered in the Age of Chaos, as Orcs were summoned to this world and attempted to establish 
     an empire. As the Orcish hordes swarmed from the portal, they met with the Humans of Azeroth and battles ensured.
     Peaceful co-existence is not an option. Only one race will attain dominance over the land.
    Warcraft: Orcs & Humans is the first real-time fantasy strategy game from Blizzard Entertainment. 
    By playing either the Humans or the Orcs in this saga, two separate story lines evolve with 12 scenarios per 
    side telling the tale of the battle for Azeroth. Players must mine gold and chop wood in order to construct
    buildings and create new units. From swords to sorcery, all the elements of classic fantasy are here to
    explore: rich forests, dark dungeons and bubbling swamps await the stalwart troops amassed to fight for dominance. 
    Command many unique armies and creatures including Knights, Archers, Clerics, Warlocks, Daemons, Elementals, and 
    Necromancers who are able to raise the dead. The multiplayer aspects of the game allow 2 players to challenge one 
    another on over 20 custom maps and determine who is the supreme warlord. Head to head play is supported over modem, 
    serial link, and IPX networks, and works cross-platform between the IBM-PC and Macintosh versions.
screenshots:
  - https://cdn.dos.zone/original/2X/b/bf9f8bf554c9f109d8b27c0ee995c66e4b17512b.gif
  - https://cdn.dos.zone/original/2X/6/634f63c8a93277d4e3939d284e18e8df9c3ec9a6.png
---
