---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wargame-construction-set-ii-tanks.jsdos
layout: page.njk
ogDescription: 'Wargame Construction Set II: Tanks! is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Wargame Construction Set II: Tanks! on mobile. On DOS.Zone Wargame
  Construction Set II: Tanks! available to play for free without registration.'
permalink: /wargame-construction-set-ii-tanks-1994/
screenshots:
- https://cdn.dos.zone/original/2X/a/a891a9d05c9b78be43f9d1b181ea80311e226732.gif
- https://cdn.dos.zone/original/2X/f/f0776ad1b97003a9b8e55e2b2e72dcf1456eeeb8.gif
shortTitle: 'Wargame Construction Set II: Tanks!'
title: 'Wargame Construction Set II: Tanks! | 🕹️Play Wargame Construction Set II:
  Tanks! Online | DOS game in browser'

---
