---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/warwizard.jsdos
layout: page.njk
ogDescription: WarWizard is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in WarWizard
  on mobile. On DOS.Zone WarWizard available to play for free without registration.
permalink: /warwizard-sep-19-1994/
screenshots:
- https://cdn.dos.zone/original/2X/8/8c96952e418cd9366437cf7982ff4b2a3ca49930.png
- https://cdn.dos.zone/original/2X/2/27adbcec3d2c4264a1f3f24d2016b796b42f7342.png
shortTitle: WarWizard
title: WarWizard | 🕹️Play WarWizard Online | DOS game in browser

---
