---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/watman.jsdos
layout: page.njk
ogDescription: Watman is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Watman on mobile.
  On DOS.Zone Watman available to play for free without registration.
permalink: /watman-2000/
screenshots:
- https://cdn.dos.zone/original/2X/f/fec75e3559def8560fda723f752968bd77fe14c0.png
- https://cdn.dos.zone/original/2X/e/e48aedb90b0f34180878fd6aba88af24038b2f5b.png
shortTitle: Watman
title: Watman | 🕹️Play Watman Online | DOS game in browser

---
