---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/waxworks.jsdos
layout: page.njk
ogDescription: WaxWorks is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in WaxWorks on
  mobile. On DOS.Zone WaxWorks available to play for free without registration.
permalink: /waxworks-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/de1fc543bd7c027e5f790d66e17465e6c739b998.png
- https://cdn.dos.zone/original/2X/e/ef86c8d3821fba8b898b8645b4d219e803c5b55a.png
shortTitle: WaxWorks
title: WaxWorks | 🕹️Play WaxWorks Online | DOS game in browser

---
