---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/weekend-survival.jsdos
layout: page.njk
ogDescription: Weekend Survival is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Weekend Survival
  on mobile. On DOS.Zone Weekend Survival available to play for free without registration.
permalink: /weekend-survival-jun-13-1995/
screenshots:
- https://cdn.dos.zone/original/2X/8/8b624d9a0da8b383578813680ec1c282d29930d5.png
- https://cdn.dos.zone/original/2X/9/916ecce8ff98af9b835431cd440e05cc9d3a977.png
shortTitle: Weekend Survival
title: Weekend Survival | 🕹️Play Weekend Survival Online | DOS game in browser

---
