---
layout: page.njk
title: Weekend Survival | 🕹️Play Weekend Survival Online | Download js-dos bundle
ogDescription: Want to Play Weekend Survival? 🕹 On Dos Zone you can play
  Weekend Survival OR donwload js-dos bundle for free. Start playing now!
shortTitle: Weekend Survival
permalink: /weekend-survival-jun-13-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fweekend-survival.jsdos
description: Weekend Survival is a text adventure set in Newark, Delaware where
  the player takes on the role of a student of the English Language Institute,
  with many things to do over the course of one weekend, including classwork
  that must be completed for Monday morning. Your first choice after getting
  your assignment at the end of class on Friday is whether you immediately leave
  to be with your friends, or stick around in the classroom and get more
  information from your teacher about the assignment. Instead of typing in full
  commands, you are given a list of numbered choices, and are prompted to type
  in the number for the course of action you want to take. This game was
  developed by a professor at the real-life ELI in Newark, with a writing style
  intended for students learning English as a second language.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8b624d9a0da8b383578813680ec1c282d29930d5.png
  - https://cdn.dos.zone/original/2X/9/916ecce8ff98af9b835431cd440e05cc9d3a977.png
---
