---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/weird-island.jsdos
layout: page.njk
ogDescription: Weird Island is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Weird Island
  on mobile. On DOS.Zone Weird Island available to play for free without registration.
permalink: /weird-island-1992/
screenshots:
- https://cdn.dos.zone/original/2X/d/dab6573a88ed6fc55028385b0c9ee02a1cc5a1de.png
- https://cdn.dos.zone/original/2X/4/452faba4d8cb1011c7e0aece3b79ec59af04e7cc.png
shortTitle: Weird Island
title: Weird Island | 🕹️Play Weird Island Online | DOS game in browser

---
