---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/west-phaser.jsdos
layout: page.njk
ogDescription: West Phaser is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in West Phaser
  on mobile. On DOS.Zone West Phaser available to play for free without registration.
permalink: /west-phaser-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8f32e7d9157ddbe0ae00790e3e1e374a590e7faa.png
- https://cdn.dos.zone/original/2X/d/df844bbb97afb0e6d4473c6c06292aaa52db0140.png
shortTitle: West Phaser
title: West Phaser | 🕹️Play West Phaser Online | DOS game in browser

---
