---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/westfront-omega-the-amulet-of-vega.jsdos
layout: page.njk
ogDescription: 'Westfront Omega: The Amulet Of Vega is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Westfront Omega: The Amulet Of Vega on mobile. On DOS.Zone Westfront
  Omega: The Amulet Of Vega available to play for free without registration.'
permalink: /westfront-omega-the-amulet-of-vega-2002/
screenshots:
- https://cdn.dos.zone/original/2X/e/ec327ff0ec78b029d077826897cbeaaf151e28dc.jpeg
- https://cdn.dos.zone/original/2X/1/110851724731a844da76b354e9986e568f7fce39.jpeg
shortTitle: 'Westfront Omega: The Amulet Of Vega'
title: 'Westfront Omega: The Amulet Of Vega | 🕹️Play Westfront Omega: The Amulet Of
  Vega Online | DOS game in browser'

---
