---
layout: page.njk
title: Whatever We Decide to Call this Game | 🕹️Play Whatever We Decide to Call
  this Game Online | Download js-dos bundle
ogDescription: Want to Play Whatever We Decide to Call this Game? 🕹 On Dos Zone
  you can play Whatever We Decide to Call this Game OR donwload js-dos bundle
  for free. Start playing now!
shortTitle: Whatever We Decide to Call this Game
permalink: /whatever-we-decide-to-call-this-game-oct-28-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwhatever-we-decide-to-call-this-game.jsdos
description: "Whatever We Decide to Call this Game is a text adventure game
  where you play the role of a freshman arriving at Tumbulgum University, on
  your first day. As the introduction explains, there are three seemingly-simple
  tasks you must complete by the end of your first day: enroll yourself in
  classes, get a parking sticker, and find a bathroom. You begin outside the
  imposing entrance of the university's administration building, but to succeed
  in your quest you will need to find and explore various other buildings across
  the campus."
screenshots:
  - https://cdn.dos.zone/original/2X/1/1ca75b5d42753ab8ea2245b8618e2a7448a3295e.png
  - https://cdn.dos.zone/original/2X/d/db2c4d6b70a3720198dfa902c0c73c51712276b4.png
---
