---
layout: page.njk
title: Where Time Stood Still | 🕹️Play Where Time Stood Still Online | Download
  js-dos bundle
ogDescription: Want to Play Where Time Stood Still? 🕹 On Dos Zone you can play
  Where Time Stood Still OR donwload js-dos bundle for free. Start playing now!
shortTitle: Where Time Stood Still
permalink: /where-time-stood-still-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwhere-time-stood-still.jsdos
description: While flying three members of the same family, your planes
  crash-lands in an area where it soon becomes clear that time has stood still -
  dinosaurs still roam the area, and the humans are primitive and carnivorous.
  Your task is to guide them to safety through the complex isometrically viewed
  world (using the same basic game engine as Denton Designs ' Great Escape
  license). Hazards to be faced include the aforementioned dinosaurs and
  cavemen, as well as sea monsters, precarious mountainous ledges and
  dilapidated bridges. Objects including weapons and first aid kits can be
  collected. Each character has his own distinct behaviors - one becomes hungry
  easily, while another is only really competent while his fiancé survives.
  Although the ultimate aim is to save all four characters, you can continue
  while at least one is alive.
screenshots:
  - https://cdn.dos.zone/original/2X/3/3cce959da208141fbbacb46ae508e674ad6438d5.gif
  - https://cdn.dos.zone/original/2X/7/79f81d6cddea70256d030d237b05750a8bc6fe2a.png
---
