---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/where-time-stood-still.jsdos
layout: page.njk
ogDescription: Where Time Stood Still is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Where Time Stood Still on mobile. On DOS.Zone Where Time Stood Still available
  to play for free without registration.
permalink: /where-time-stood-still-1987/
screenshots:
- https://cdn.dos.zone/original/2X/3/3cce959da208141fbbacb46ae508e674ad6438d5.gif
- https://cdn.dos.zone/original/2X/7/79f81d6cddea70256d030d237b05750a8bc6fe2a.png
shortTitle: Where Time Stood Still
title: Where Time Stood Still | 🕹️Play Where Time Stood Still Online | DOS game in
  browser

---
