---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wibarm.jsdos
layout: page.njk
ogDescription: Wibarm is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Wibarm on mobile.
  On DOS.Zone Wibarm available to play for free without registration.
permalink: /wibarm-aug-1989/
screenshots:
- https://cdn.dos.zone/original/2X/2/241003148f43dc31e8ec0091e3d76cb49b102cd9.gif
- https://cdn.dos.zone/original/2X/7/78cee7a25235525e82fc4e4a7151a192e873739a.gif
shortTitle: Wibarm
title: Wibarm | 🕹️Play Wibarm Online | DOS game in browser

---
