---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wild-pitch.jsdos
layout: page.njk
ogDescription: Wild Pitch! is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wild Pitch!
  on mobile. On DOS.Zone Wild Pitch! available to play for free without registration.
permalink: /wild-pitch-dec-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/c729e9246a2d4bf5fe54d9722317520612834601.png
- https://cdn.dos.zone/original/2X/c/c6013943893fb95ecc7ef29f67035a2f66f34b63.png
shortTitle: Wild Pitch!
title: Wild Pitch! | 🕹️Play Wild Pitch! Online | DOS game in browser

---
