---
layout: page.njk
title: Wild Pitch! | 🕹️Play Wild Pitch! Online | Download js-dos bundle
ogDescription: Want to Play Wild Pitch!? 🕹 On Dos Zone you can play Wild Pitch!
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Wild Pitch!
permalink: /wild-pitch-dec-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwild-pitch.jsdos
description: Wild Pitch! is a shareware Baseball simulation. The game places the
  player in the role of manager, or skipper, of a major league team. In this
  role the player gets to choose teams, position their defensive players, choose
  team tactics such as bunt, hit and run, and more. As is usual with team
  management games many kinds of statistics are available and these can be
  viewed before, during, or after a match. This is a DOS game but it can be
  played via the keyboard or via the mouse and it features drop down menu boxes
  which give it an early windows feel.
screenshots:
  - https://cdn.dos.zone/original/2X/c/c729e9246a2d4bf5fe54d9722317520612834601.png
  - https://cdn.dos.zone/original/2X/c/c6013943893fb95ecc7ef29f67035a2f66f34b63.png
---
