---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wild-wheels.jsdos
layout: page.njk
ogDescription: Wild Wheels is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wild Wheels
  on mobile. On DOS.Zone Wild Wheels available to play for free without registration.
permalink: /wild-wheels-1991/
screenshots: []
shortTitle: Wild Wheels
title: Wild Wheels | 🕹️Play Wild Wheels Online | DOS game in browser

---
