---
layout: page.njk
title: Win, Lose or Draw Junior | 🕹️Play Win, Lose or Draw Junior Online |
  Download js-dos bundle
ogDescription: Want to Play Win, Lose or Draw Junior? 🕹 On Dos Zone you can
  play Win, Lose or Draw Junior OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Win, Lose or Draw Junior
permalink: /win-lose-or-draw-junior-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwin-lose-or-draw-junior.jsdos
description: Win, Lose or Draw Junior is the children's version for ages 8 - 15
  of the popular game show.  The game requires artistic skills and an ability to
  think laterally. A player on a team draws something on the big game board, and
  their other team member must work out what it represents. They will be common
  expressions depicted literally, such as 'bright idea' showing a light bulb
  over somebody's head, or 'cabin fever' as a rickety building next to a man
  with a thermometer in his mouth. In this computerized implementation, the game
  is played as 3 teams, with one team drawing, while the other two teams try to
  correctly guess the answer.  Categories are people, places, and things.  If
  one of the two teams correctly guess the answer, the drawing and the correct
  guessing team both receive a point.  The goal is to receive 3 points in all
  three categories, and that team is victorious.  The drawing phase of the game
  is handled by the computer, so the player's task is simply to guess the
  meaning of the picture by thinking laterally. Each round allows 60 seconds to
  guess the answer, and if a player guesses incorrectly, they can not guess
  again until the other team has made an attempt.
screenshots: []
---
