---
layout: page.njk
title: Window Wizard | 🕹️Play Window Wizard Online | Download js-dos bundle
ogDescription: Want to Play Window Wizard? 🕹 On Dos Zone you can play Window
  Wizard OR donwload js-dos bundle for free. Start playing now!
shortTitle: Window Wizard
permalink: /window-wizard-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwindow-wizard.jsdos
description: "In Window Wizard the player takes the role of Willy, the window
  cleaner. Willy has a big job: cleaning the windows of a house with multiple
  floors. The goal of each level is to clean every window while avoiding death.
  Cleaning a window takes a few seconds. But he can only work on windows which
  are closed and the residents like to look out of the window - in this case
  Willy uses a horn to chase them away. He also needs to look out for and dodge
  objects or people which fall out of higher windows. A bird likes to use
  cleaned windows as toilet and a special cleaner has to be used to deal with
  this. But it needs to be used with caution because it destroys regular
  windows."
screenshots:
  - https://cdn.dos.zone/original/2X/c/cb312fa717e0aa4a643823a85ae010362c92c5ec.png
  - https://cdn.dos.zone/original/2X/f/fd881bd55bab73734bcc1bd57fe5cd23db47e08f.png
---
