---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/windoze.jsdos
layout: page.njk
ogDescription: Windoze is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Windoze on
  mobile. On DOS.Zone Windoze available to play for free without registration.
permalink: /windoze-oct-03-1994/
screenshots:
- https://cdn.dos.zone/original/2X/6/6f4277c510d1a869b319fca26d24544860b6ff75.png
- https://cdn.dos.zone/original/2X/f/fc2f35c9792292c78eac8d8b9abf7c22f055c71b.png
shortTitle: Windoze
title: Windoze | 🕹️Play Windoze Online | DOS game in browser

---
