---
layout: page.njk
title: Wings of Thunder | 🕹️Play Wings of Thunder Online | Download js-dos bundle
ogDescription: Want to Play Wings of Thunder? 🕹 On Dos Zone you can play Wings
  of Thunder OR donwload js-dos bundle for free. Start playing now!
shortTitle: Wings of Thunder
permalink: /wings-of-thunder-1994/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwings-of-thunder.jsdos
description: >-
  Wings of Thunder is a single player game which was designed  using Domark's
  Flight Sim Toolkit. It was released as a complete and free game but the author
  did ask for a donation if the player enjoyed the game. There's a detailed
  story to this game which is summarised below.

  In the future the world is at peace, weapon stockpiles are a thing of the past. Scientists have collaborated on creating artificial humanoid life which they called 'mandroids'. To see how clever and resourceful these mandroids are fifty were dumped in a secret location and left to their own devices for five years. When the time is up humanity is alarmed to find that there are no longer fifty mandroids but thousands upon thousands and they've developed weapons such as rocket launchers and they are on the move!

  Agents infiltrate the mandroid homeland and plant homing devices in key locations. The objective of the game is to fly into mandroid territory, tune into the frequencies of these beacons and destroy everything. There are twenty two missions in all, one for each homing beacon. The game is controlled with a combination of keyboard commands and a joystick
screenshots:
  - https://cdn.dos.zone/original/2X/2/2f7237aa18ca3ed2852f728c001a087b01621f96.png
  - https://cdn.dos.zone/original/2X/a/a49d64df8802d86d46b5d901a148184c88077c18.png
---
