---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/wing-commander.jsdos
layout: page.njk
ogDescription: 'Wing Commander is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Wing Commander on mobile. On
  Wing Commander is available to play for free without registration.'
permalink: /wing-commander/
screenshots:
- https://cdn.dos.zone/custom/screenshots/wing-commander.gif
shortTitle: 'Wing Commander'
title: 'Wing Commander | 🕹️Play Wing Commander Online | DOS game in browser'

---
