---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/winter-supersports-92.jsdos
layout: page.njk
ogDescription: Winter Supersports 92 is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Winter Supersports 92 on mobile. On DOS.Zone Winter Supersports 92 available
  to play for free without registration.
permalink: /winter-supersports-92-1996/
screenshots: []
shortTitle: Winter Supersports 92
title: Winter Supersports 92 | 🕹️Play Winter Supersports 92 Online | DOS game in browser

---
