---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wishbringer.jsdos
layout: page.njk
ogDescription: Wishbringer is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wishbringer
  on mobile. On DOS.Zone Wishbringer available to play for free without registration.
permalink: /wishbringer-jun-1985/
screenshots:
- https://cdn.dos.zone/original/2X/5/5da3c985a88efacc9c2f4ea92c56d96d0e6078d4.gif
shortTitle: Wishbringer
title: Wishbringer | 🕹️Play Wishbringer Online | DOS game in browser

---
