---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wiso-breakout-.jsdos
layout: page.njk
ogDescription: WISO Breakout  is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in WISO Breakout  on
  mobile. On DOS.Zone WISO Breakout  available to play for free without registration.
permalink: /wiso-breakout-1993/
screenshots:
- https://cdn.dos.zone/original/2X/7/709a18365b0cf07ea95dc4af96df9de2162ee403.png
- https://cdn.dos.zone/original/2X/9/97d816f19dd8d441fd2c2dd214738914522071ce.png
shortTitle: 'WISO Breakout '
title: WISO Breakout  | 🕹️Play WISO Breakout  Online | DOS game in browser

---
