---
layout: page.njk
title: WISO Breakout  | 🕹️Play WISO Breakout  Online | Download js-dos bundle
ogDescription: Want to Play WISO Breakout ? 🕹 On Dos Zone you can play WISO
  Breakout  OR donwload js-dos bundle for free. Start playing now!
shortTitle: "WISO Breakout "
permalink: /wiso-breakout-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwiso-breakout-.jsdos
description: WISO Breakout is an advergame for the German economy and consumer
  TV magazine WISO. It is a Breakout variant and apart from the basic gameplay
  which is identical to the original game, there is a unique feature. There are
  some bricks with a question mark on it. Hitting one of these triggers a
  economy-related question with multiple answer possibilities. A correct answer
  is awarded with a bonus like a wider or faster paddle or simply by giving an
  extra score. When a ball is lost all of the already eliminated bricks reappear
  on the playfield again. It is possible to save the game progress.
screenshots:
  - https://cdn.dos.zone/original/2X/7/709a18365b0cf07ea95dc4af96df9de2162ee403.png
  - https://cdn.dos.zone/original/2X/9/97d816f19dd8d441fd2c2dd214738914522071ce.png
---
