---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wizardry-crusaders-of-the-dark-savant.jsdos
layout: page.njk
ogDescription: 'Wizardry: Crusaders of the Dark Savant is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Wizardry: Crusaders of the Dark Savant on mobile. On DOS.Zone
  Wizardry: Crusaders of the Dark Savant available to play for free without registration.'
permalink: /wizardry-crusaders-of-the-dark-savant-oct-1992/
screenshots:
- https://cdn.dos.zone/original/2X/c/cac27c83fc958606da80ac0944b24bc2b832c072.png
- https://cdn.dos.zone/original/2X/d/d3dfbd9238a3a3f3999866c91f791a948acdf49e.gif
shortTitle: 'Wizardry: Crusaders of the Dark Savant'
title: 'Wizardry: Crusaders of the Dark Savant | 🕹️Play Wizardry: Crusaders of the
  Dark Savant Online | DOS game in browser'

---
