---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wizard-of-ids-wiztype.jsdos
layout: page.njk
ogDescription: Wizard of Id's WizType is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Wizard of Id's WizType on mobile. On DOS.Zone Wizard of Id's WizType available
  to play for free without registration.
permalink: /wizard-of-ids-wiztype-1984/
screenshots:
- https://cdn.dos.zone/original/2X/3/3cc3008cdbe99ef131e91ddd4d9c43feacff8b35.png
- https://cdn.dos.zone/original/2X/3/33c11e954ea18da8405e5c001116ad84fefd93e.png
shortTitle: Wizard of Id's WizType
title: Wizard of Id's WizType | 🕹️Play Wizard of Id's WizType Online | DOS game in
  browser

---
