---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wizards-crown.jsdos
layout: page.njk
ogDescription: Wizard's Crown is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wizard's Crown
  on mobile. On DOS.Zone Wizard's Crown available to play for free without registration.
permalink: /wizards-crown-jul-1987/
screenshots:
- https://cdn.dos.zone/original/2X/4/4775bdec463c89fca2555576e8026fd8c3710626.gif
- https://cdn.dos.zone/original/2X/7/7ca12b132cd25658681977c9bc6948a41a8c2b0e.gif
shortTitle: Wizard's Crown
title: Wizard's Crown | 🕹️Play Wizard's Crown Online | DOS game in browser

---
