---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/final-doom.jsdos
layout: page.njk
ogDescription: Wizard's Doom is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wizard's Doom
  on mobile. On DOS.Zone Wizard's Doom available to play for free without registration.
permalink: /wizards-doom-1990/
screenshots:
- https://cdn.dos.zone/original/2X/8/8ea74c116a3b7465e26b0e0d0e3d44df8b3f7187.png
- https://cdn.dos.zone/original/2X/9/9b6a980a2be231f3f9295ca3e61b2adff44ec861.png
shortTitle: Wizard's Doom
title: Wizard's Doom | 🕹️Play Wizard's Doom Online | DOS game in browser

---
