---
layout: page.njk
title: Wizard's Doom | 🕹️Play Wizard's Doom Online | Download js-dos bundle
ogDescription: Want to Play Wizard's Doom? 🕹 On Dos Zone you can play Wizard's
  Doom OR donwload js-dos bundle for free. Start playing now!
shortTitle: Wizard's Doom
permalink: /wizards-doom-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Ffinal-doom.jsdos
description: Wizard's Doom is a timed action strategy game with gameplay similar
  to Soko-Ban. The evil Wizard Chang Li Xung has imprisoned You in a deep
  dungeon named the Maze of Keys. Escaping from each of 50 levels requires
  pushing the movable directional (left, right, up, down, all ways) blocks
  through the walls in order to crush the bricks and get access to all 5 Keys of
  Power. After collecting 5 rusted keys a Magic Key will appear, allowing to
  pass next level passage doors. All of this within just 99 seconds. The points
  are awarded for crushing wall bricks, collecting keys and completing levels.
  Each completed level is awarded with one extra life.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8ea74c116a3b7465e26b0e0d0e3d44df8b3f7187.png
  - https://cdn.dos.zone/original/2X/9/9b6a980a2be231f3f9295ca3e61b2adff44ec861.png
---
