---
layout: page.njk
title: Wolfendoom | 🕹️Play Wolfendoom Online | Download js-dos bundle
ogDescription: Want to Play Wolfendoom? 🕹 On Dos Zone you can play Wolfendoom
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Wolfendoom
permalink: /wolfendoom-nov-11-2000/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwolfendoom.jsdos
description: 'Wolfendoom is a standalone modification of the first-person
  shooter Wolfenstein 3D. It is set in the Doom universe. The protagonist is
  "B.J. Blazkowicz Jnr", a military consultant for the UAC corporation, who
  finds himself involved into a top-secret plot. It seems that experiments at
  UAC resulted in the opening of six portals to the "Doom Dimension", and now
  B.J. must head through each gate to close it from the inside before the
  demonic inhabitants invade Earth. The gameplay remains similar to Wolfenstein
  3D, but with a Doom theme. Each of the six episodes begins in an UAC base,
  where the player makes his way to the portal, then fights his way through the
  monsters of the gothic-styled Doom Dimension. The player collects keycards to
  open doors, skulls for score, and more powerful weapons: a plasma rifle and a
  chaingun. The Windows version makes use of the SDL engine, allowing higher
  screen resolution.'
screenshots:
  - https://cdn.dos.zone/original/2X/3/30e63e9a5803e418ca86a5f5b63ba8ab310a8082.png
  - https://cdn.dos.zone/original/2X/1/13e2dbe08de97ea6dda2ddc8ee4500f1adecb6f5.png
---
