---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wordtris_.jsdos
layout: page.njk
ogDescription: Wordtris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wordtris on
  mobile. On DOS.Zone Wordtris available to play for free without registration.
permalink: /wordtris-1991/
screenshots:
- https://cdn.dos.zone/original/2X/4/4c9abb3925ec522edf8ee0aebb4e5d08ef8ad885.png
- https://cdn.dos.zone/original/2X/a/ad9c31ac0915191aa96240ad12baf7d20127467e.png
shortTitle: Wordtris
title: Wordtris | 🕹️Play Wordtris Online | DOS game in browser

---
