---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/word-munchers.jsdos
layout: page.njk
ogDescription: Word Munchers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Word Munchers
  on mobile. On DOS.Zone Word Munchers available to play for free without registration.
permalink: /word-munchers-sep-07-1990/
screenshots: []
shortTitle: Word Munchers
title: Word Munchers | 🕹️Play Word Munchers Online | DOS game in browser

---
