---
layout: page.njk
title: Wordtris | 🕹️Play Wordtris Online | Download js-dos bundle
ogDescription: Want to Play Wordtris? 🕹 On Dos Zone you can play Wordtris OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Wordtris
permalink: /wordtris-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwordtris_.jsdos
description: In the spirit of Tetris comes Wordtris. Falling letters must be
  placed in order to form words in order to clear them away. Occasionally bombs
  will fall which you may use to clear away a single letter or an entire stack
  of them, depending on the type of bomb. The larger the words you form, the
  higher points you receive. If you clear enough words without filling up the
  screen, you move on to the next level.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4c9abb3925ec522edf8ee0aebb4e5d08ef8ad885.png
  - https://cdn.dos.zone/original/2X/a/ad9c31ac0915191aa96240ad12baf7d20127467e.png
---
