---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/word-whiz.jsdos
layout: page.njk
ogDescription: Word Whiz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Word Whiz
  on mobile. On DOS.Zone Word Whiz available to play for free without registration.
permalink: /word-whiz-1990/
screenshots:
- https://cdn.dos.zone/original/2X/f/ff5ac0d2513cad05e8cecc0572271c106a4ef0ee.png
- https://cdn.dos.zone/original/2X/b/bad9f706796751173ed2186ea5c3aaa0c6d4ed67.png
shortTitle: Word Whiz
title: Word Whiz | 🕹️Play Word Whiz Online | DOS game in browser

---
