---
layout: page.njk
title: Word Whiz | 🕹️Play Word Whiz Online | Download js-dos bundle
ogDescription: Want to Play Word Whiz? 🕹 On Dos Zone you can play Word Whiz OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Word Whiz
permalink: /word-whiz-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fword-whiz.jsdos
description: >-
  Word Whiz is a word challenge game that can measure your knowledge of the
  English language. You must pick the right synonym or definition of the
  highlighted word from four multiple choices.

  There are hundred words presented per volume, with a total of four volumes. You can continue playing until you miss twenty questions. And you will earn a Bonus Miss for every ten questions you answer correctly.

  Also, when a question is correctly answered, you might receive some addition related information.
screenshots:
  - https://cdn.dos.zone/original/2X/f/ff5ac0d2513cad05e8cecc0572271c106a4ef0ee.png
  - https://cdn.dos.zone/original/2X/b/bad9f706796751173ed2186ea5c3aaa0c6d4ed67.png
---
