---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/word-seeking.jsdos
layout: page.njk
ogDescription: Word Seeking is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Word Seeking
  on mobile. On DOS.Zone Word Seeking available to play for free without registration.
permalink: /word-seeking-sep-27-1984/
screenshots:
- https://cdn.dos.zone/original/2X/1/18163a9357e5d397f3aa35d5f92706b5e61bea25.png
- https://cdn.dos.zone/original/2X/1/1205b55b886deaf462ba56670e0b1e883446ecbf.png
shortTitle: Word Seeking
title: Word Seeking | 🕹️Play Word Seeking Online | DOS game in browser

---
