---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-cricket.jsdos
layout: page.njk
ogDescription: World Cricket is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in World Cricket
  on mobile. On DOS.Zone World Cricket available to play for free without registration.
permalink: /world-cricket-1994/
screenshots:
- https://cdn.dos.zone/original/2X/1/1444ca3934afcc86f6b501104856c1ab87f38d9a.png
- https://cdn.dos.zone/original/2X/e/e6c11b004b4ca7643dbedc49ef684ecb217b5bd0.png
shortTitle: World Cricket
title: World Cricket | 🕹️Play World Cricket Online | DOS game in browser

---
