---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-cup-90.jsdos
layout: page.njk
ogDescription: World Cup 90 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in World Cup
  90 on mobile. On DOS.Zone World Cup 90 available to play for free without registration.
permalink: /world-cup-90-1990/
screenshots:
- https://cdn.dos.zone/original/2X/7/7d11da3982d759a3aa925e4c765250a2a7eb631.png
- https://cdn.dos.zone/original/2X/d/d3d6bd28d64606c77b19719835f1fdff3f2c778.png
shortTitle: World Cup 90
title: World Cup 90 | 🕹️Play World Cup 90 Online | DOS game in browser

---
