---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-war-ii-battles-of-the-south-pacific.jsdos
layout: page.njk
ogDescription: 'World War II: Battles of the South Pacific is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in World War II: Battles of the South Pacific on mobile. On DOS.Zone
  World War II: Battles of the South Pacific available to play for free without registration.'
permalink: /world-war-ii-battles-of-the-south-pacific-1993/
screenshots:
- https://cdn.dos.zone/original/2X/c/c4b1ad6dcbdab339cc02211edc4a27ad86b9d68.png
- https://cdn.dos.zone/original/2X/4/42ebc7d55f4605476bc9f2802ce2d755901e85fe.png
shortTitle: 'World War II: Battles of the South Pacific'
title: 'World War II: Battles of the South Pacific | 🕹️Play World War II: Battles
  of the South Pacific Online | DOS game in browser'

---
