---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-golf-2.jsdos
layout: page.njk
ogDescription: World Golf 2 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in World Golf
  2 on mobile. On DOS.Zone World Golf 2 available to play for free without registration.
permalink: /world-golf-2-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e3038671856fa2933387cdf7c13b50057dcd8679.png
- https://cdn.dos.zone/original/2X/4/42d5fdd7cad75f10a43fdacce033830ab6d11ae0.png
shortTitle: World Golf 2
title: World Golf 2 | 🕹️Play World Golf 2 Online | DOS game in browser

---
