---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/world-championship-boxing-manager.jsdos
layout: page.njk
ogDescription: World Championship Boxing Manager is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in World Championship Boxing Manager on mobile. On DOS.Zone World Championship
  Boxing Manager available to play for free without registration.
permalink: /world-championship-boxing-manager-1990/
screenshots:
- https://cdn.dos.zone/original/2X/e/e8ee642d61268616a3f6eba711cd92e362e8c0c0.gif
- https://cdn.dos.zone/original/2X/6/6b8d01f06543797569a268b2f89446ba033f6b77.gif
shortTitle: World Championship Boxing Manager
title: World Championship Boxing Manager | 🕹️Play World Championship Boxing Manager
  Online | DOS game in browser

---
