---
layout: page.njk
title: "World War II: Battles of the South Pacific | 🕹️Play World War II:
  Battles of the South Pacific Online | Download js-dos bundle"
ogDescription: "Want to Play World War II: Battles of the South Pacific? 🕹 On
  Dos Zone you can play World War II: Battles of the South Pacific OR donwload
  js-dos bundle for free. Start playing now!"
shortTitle: "World War II: Battles of the South Pacific"
permalink: /world-war-ii-battles-of-the-south-pacific-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fworld-war-ii-battles-of-the-south-pacific.jsdos
description: 'WWII: Battles of the South Pacific is a turn-based strategy game
  that allows the player to command the armies that participated in the titular
  historical battle. It is possible to play on either the Japanese or US sides,
  with hundreds of specifically modeled ships and planes. Each mission is
  recreated in historical detail, though there are also alternate "What If"
  situations among the scenarios. Port attacks and amphibious warfare are key
  gameplay elements. Scenario playing times range from two to more than a
  hundred hours each. Modem play is included in the game.'
screenshots:
  - https://cdn.dos.zone/original/2X/c/c4b1ad6dcbdab339cc02211edc4a27ad86b9d68.png
  - https://cdn.dos.zone/original/2X/4/42ebc7d55f4605476bc9f2802ce2d755901e85fe.png
---
