---
layout: page.njk
title: Worm Burner | 🕹️Play Worm Burner Online | Download js-dos bundle
ogDescription: Want to Play Worm Burner? 🕹 On Dos Zone you can play Worm Burner
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Worm Burner
permalink: /worm-burner-oct-1987/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fworm-burner.jsdos
description: An adaptation of Gridrunner, where the player is assigned to defend
  Earth from a herd of ravenous space worms, who have apparently developed a
  particular appetite for the planets of the Solar System. Action takes place
  along a grid; the player's ship is free to move about its bottom rows, though
  it can only fire upwards. Each attack wave brings more of the marauding
  creatures into the fray. The worms descend from the top in Centipede -like
  fashion, weaving and winding across the playfield. Knocking out a worm segment
  will only split the creature in two; the blasted segment will keep blocking
  traffic as it mutates. Eventually it will fall off the grid, destroying
  everything in its path. The defense grid is equipped with two automatic laser
  guns, which prowl the edges and attempt to zap the intruders, but they only
  make things worse - being caught in the crossfire is bad news for the player's
  ship.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1f4b19efe0ae2a6b5bb8f556afec621cc0a2da1.png
  - https://cdn.dos.zone/original/2X/b/b6e0c67dc6b4401c533c78f6485e0d020728dc5b.png
---
