---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/worms-de-luxe.jsdos
layout: page.njk
ogDescription: Worms De Luxe is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Worms De Luxe
  on mobile. On DOS.Zone Worms De Luxe available to play for free without registration.
permalink: /worms-de-luxe-1994/
screenshots:
- https://cdn.dos.zone/original/2X/c/c15013f7ffcd2128cb43776fdee5867a06f53b9c.png
- https://cdn.dos.zone/original/2X/7/71dc814664b17907c35f821f3545c646cfd2cca1.png
shortTitle: Worms De Luxe
title: Worms De Luxe | 🕹️Play Worms De Luxe Online | DOS game in browser

---
