---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/worm-burner.jsdos
layout: page.njk
ogDescription: Worm Burner is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Worm Burner
  on mobile. On DOS.Zone Worm Burner available to play for free without registration.
permalink: /worm-burner-oct-1987/
screenshots:
- https://cdn.dos.zone/original/2X/1/1f4b19efe0ae2a6b5bb8f556afec621cc0a2da1.png
- https://cdn.dos.zone/original/2X/b/b6e0c67dc6b4401c533c78f6485e0d020728dc5b.png
shortTitle: Worm Burner
title: Worm Burner | 🕹️Play Worm Burner Online | DOS game in browser

---
