---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wraith-blaster.jsdos
layout: page.njk
ogDescription: Wraith Blaster is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wraith Blaster
  on mobile. On DOS.Zone Wraith Blaster available to play for free without registration.
permalink: /wraith-blaster-oct-28-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/9cf79dd351f39faed8ba05f6196afb120016630.png
- https://cdn.dos.zone/original/2X/5/5ec1bdc1f7578eb39a2250cb293249dc5fe231e2.png
shortTitle: Wraith Blaster
title: Wraith Blaster | 🕹️Play Wraith Blaster Online | DOS game in browser

---
