---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wreckers.jsdos
layout: page.njk
ogDescription: Wreckers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wreckers on
  mobile. On DOS.Zone Wreckers available to play for free without registration.
permalink: /wreckers-1992/
screenshots:
- https://cdn.dos.zone/original/2X/4/48ea2d520e469567dd42df4444d850d173f57f94.png
- https://cdn.dos.zone/original/2X/2/2aa80b769a2dc5f90f3ef94cc7affbb3030630ea.png
shortTitle: Wreckers
title: Wreckers | 🕹️Play Wreckers Online | DOS game in browser

---
