---
layout: page.njk
title: Wumpus II | 🕹️Play Wumpus II Online | Download js-dos bundle
ogDescription: Want to Play Wumpus II? 🕹 On Dos Zone you can play Wumpus II OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Wumpus II
permalink: /wumpus-ii-1983/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fwumpus-ii.jsdos
description: >-
  Wumpus II is an updated version of Hunt the Wumpus. Gameplay is the same as
  the original; however, several new cave options are available. The goal of the
  game is to shoot a mythical creature known as the wumpus with an arrow. The
  player explores a cave containing 20 rooms, several bottomless pits, bats, and
  the wumpus. The game will provide clues which the player needs to use to
  figure out the layout of the cave. For example, if the game indicates there is
  a breeze then one (or more) of the adjacent rooms contains a pit, or if there
  is a wumpus smell then the wumpus is nearby. On each turn the player can
  either move to another room or shoot an arrow; entering a room which contains
  either a pit or the wumpus ends the game. Occasionally bats are encountered,
  which may carry the player off to another room randomly. Where Wumpus II
  varies from the original game is the availability of more intricate cave
  layouts; the following choices are available:


  Dodecahedron.

  Mobius strip.

  String of beads.

  Hex network.

  Dendrite with degeneracies.

  One way lattice.

  Build your own cave.


  The first three caves are normal caves; each room has three tunnels connecting to other rooms and each tunnel allows two way traffic. The other caves are irregular; some have one way tunnels, tunnels that connect back to the same room, or other variations.
screenshots:
  - https://cdn.dos.zone/original/2X/4/4331f073c723e0ee6c2999d5ceba1b5579d10864.png
  - https://cdn.dos.zone/original/2X/4/4e204c65f9e5de60d53f356204cacb11e0ece198.png
---
