---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/wumpus-ii.jsdos
layout: page.njk
ogDescription: Wumpus II is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Wumpus II
  on mobile. On DOS.Zone Wumpus II available to play for free without registration.
permalink: /wumpus-ii-1983/
screenshots:
- https://cdn.dos.zone/original/2X/4/4331f073c723e0ee6c2999d5ceba1b5579d10864.png
- https://cdn.dos.zone/original/2X/4/4e204c65f9e5de60d53f356204cacb11e0ece198.png
shortTitle: Wumpus II
title: Wumpus II | 🕹️Play Wumpus II Online | DOS game in browser

---
