---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/xcom3-eng.jsdos
- lang: RUS
  mobile: true
  title: ''
  type: js
  url: custom/dos/xcom3-rus.jsdos
layout: page.njk
ogDescription: 'X-COM: Apocalypse is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  X-COM: Apocalypse on mobile. On DOS.Zone X-COM: Apocalypse available to play for
  free without registration.'
permalink: /x-com-apocalypse-jul-15-1997/
screenshots:
- https://cdn.dos.zone/original/2X/c/c9003483125a8487526f46d70c03a3824358d8b9.png
- https://cdn.dos.zone/original/2X/e/ec1824273915581bc2ac8aec2366ae1cc639f397.png
shortTitle: 'X-COM: Apocalypse'
title: 'X-COM: Apocalypse | 🕹️Play X-COM: Apocalypse Online | DOS game in browser'
youtube: l1whSCmsIb0

---
