---
bundles:
- lang: ENG
  mobile: true
  title: ''
  type: js
  url: custom/dos/xcom2-eng.jsdos
- lang: RUS
  mobile: true
  title: ''
  type: js
  url: custom/dos/xcom2-rus.jsdos
layout: page.njk
ogDescription: 'X-COM: Terror from the Deep is a famous and most played DOS game that
  now is available to play in browser. With virtual mobile controls you also can play
  in X-COM: Terror from the Deep on mobile. On DOS.Zone X-COM: Terror from the Deep
  available to play for free without registration.'
permalink: /x-com-terror-from-the-deep-1995/
screenshots:
- https://cdn.dos.zone/original/2X/d/d743749081d5863afe87120a896ae2dcc2991b95.gif
- https://cdn.dos.zone/original/2X/3/3cade47e2e070c323c25bf05e8e0f3587acb0660.gif
shortTitle: 'X-COM: Terror from the Deep'
title: 'X-COM: Terror from the Deep | 🕹️Play X-COM: Terror from the Deep Online |
  DOS game in browser'

---
