---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/x-mas-lamers.jsdos
layout: page.njk
ogDescription: X-mas Lamers is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in X-mas Lamers
  on mobile. On DOS.Zone X-mas Lamers available to play for free without registration.
permalink: /x-mas-lamers-1992/
screenshots:
- https://cdn.dos.zone/original/2X/6/63d1cbfbebe98998037b224a45113161dbe5dafe.png
- https://cdn.dos.zone/original/2X/e/ea5bc807e53028701a836f13695d09008ba22fca.png
shortTitle: X-mas Lamers
title: X-mas Lamers | 🕹️Play X-mas Lamers Online | DOS game in browser

---
