---
layout: page.njk
title: Xenocide | 🕹️Play Xenocide Online | Download js-dos bundle
ogDescription: Want to Play Xenocide? 🕹 On Dos Zone you can play Xenocide OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Xenocide
permalink: /xenocide-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fxenocide.jsdos
description: >-
  Aliens have taken over the three moons orbiting your home planet, and your
  mission is to blow them up (not just the aliens, but the entire moons!). Each
  moon contains four levels incorporating several gameplay modes and
  perspectives:

  Level 1 is a first-person 3D space flight simulation, as the player pilots a ship over the moon's surface looking for the entrance to a cave.

  Level 2 is a side-view scrolling shooter in which the player explores the cave in search of bombs.

  Level 3 is similar to level 2, except it takes place underwater.

  Level 4 is the final one; it is a top-down grid-based maze shooter, as the player tries to plant the bombs and escape before they explode.
screenshots:
  - https://cdn.dos.zone/original/2X/2/220c4fe43a51f2827d323d1182fdec33ae37e4e2.png
  - https://cdn.dos.zone/original/2X/4/46520b53af7b565160ff12c3ea559df7aa3846bf.png
---
