---
layout: page.njk
title: Xenon | 🕹️Play Xenon Online | Download js-dos bundle
ogDescription: Want to Play Xenon? 🕹 On Dos Zone you can play Xenon OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Xenon
permalink: /xenon-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fxenon.jsdos
description: In this game the player assumes the role of a space pilot named
  Darrian. One day, he receives a report from a nebula space station, from which
  he learns that nearby human colonies have been attacked by mysterious aliens
  known as Xenites. Darrian wastes no time, and sets off to protect the humans
  and stop the aliens. Xenon is an overhead shooter, in which the player
  controls a vehicle that is able to transform into a tank or a plane. The
  transformation can be usually performed by player at any time, to combat
  particular enemies; however, during some sequences the player is forced to use
  a specific type of vehicle. During the tank gameplay, the player controls the
  movement of the playfield (up or down) by simply moving the tank in the
  direction of choice. The game features a 3D playfield (some enemies, for
  example, will be mounted on hills of sort, where the tank can't shoot them).
  To combat these, the player needs to transform its tank into a plane. The game
  then switches to the more familiar gameplay style as seen in other vertically
  scrolling shooters. The plane has to transform back into a tank again to
  combat most ground units. Upgrades can be taken from destroyed enemies.
screenshots:
  - https://cdn.dos.zone/original/2X/d/d099cff2a3453f8cd2d0b063727b68fe5b8eb393.png
  - https://cdn.dos.zone/original/2X/6/6f496d79079de8a0a05b1be49a5278d91408645e.gif
---
