---
layout: page.njk
title: Xiphos | 🕹️Play Xiphos Online | Download js-dos bundle
ogDescription: Want to Play Xiphos? 🕹 On Dos Zone you can play Xiphos OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Xiphos
permalink: /xiphos-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fxiphos.jsdos
description: As usual, a computer has been put in control of vast stretches of
  an intergalactic empire. As usual, it has failed and locked the entire area
  into limbo. As usual, you're the one who has to sort this mess out, by
  reaching the computer and destroying it. Unfortunately, the area en route to
  it is vast and treacherous, with lots of obstacles to shoot out, and you will
  need to trade your items in order to get enough fuel to get there. The
  gameplay resembles Elite, involving first-person space shooting and trading.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2665531592181d3e483f9f66b2a70dcf20a37193.png
  - https://cdn.dos.zone/original/2X/1/1addee6e2464a177676a2cbec77a6ef0150e5cca.png
---
