---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/xiphos.jsdos
layout: page.njk
ogDescription: Xiphos is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Xiphos on mobile.
  On DOS.Zone Xiphos available to play for free without registration.
permalink: /xiphos-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/2665531592181d3e483f9f66b2a70dcf20a37193.png
- https://cdn.dos.zone/original/2X/1/1addee6e2464a177676a2cbec77a6ef0150e5cca.png
shortTitle: Xiphos
title: Xiphos | 🕹️Play Xiphos Online | DOS game in browser

---
