---
layout: page.njk
title: Xixit | 🕹️Play Xixit Online | Download js-dos bundle
ogDescription: Want to Play Xixit? 🕹 On Dos Zone you can play Xixit OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Xixit
permalink: /xixit-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fxixit.jsdos
description: Xixit is a Columns -inspired action puzzler developed by
  demosceners. Groups of three blocks fall into a pit; control and drop them to
  create horizontal, vertical or diagonal groups of three or more, which are
  removed and scored.  The registered version adds a two-player mode to the
  standard solitaire game.
screenshots:
  - https://cdn.dos.zone/original/2X/6/6cb7c4e8da753f4862e3085e2e00c14cca036b2c.jpeg
  - https://cdn.dos.zone/original/2X/1/1054f9032e482a9144a26c2d78d6236b0b36ab95.gif
---
