---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/xixit.jsdos
layout: page.njk
ogDescription: Xixit is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Xixit on mobile.
  On DOS.Zone Xixit available to play for free without registration.
permalink: /xixit-1995/
screenshots:
- https://cdn.dos.zone/original/2X/6/6cb7c4e8da753f4862e3085e2e00c14cca036b2c.jpeg
- https://cdn.dos.zone/original/2X/1/1054f9032e482a9144a26c2d78d6236b0b36ab95.gif
shortTitle: Xixit
title: Xixit | 🕹️Play Xixit Online | DOS game in browser

---
