---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/xo-fighter.jsdos
layout: page.njk
ogDescription: XO-Fighter is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in XO-Fighter
  on mobile. On DOS.Zone XO-Fighter available to play for free without registration.
permalink: /xo-fighter-1982/
screenshots:
- https://cdn.dos.zone/original/2X/4/47b066b458146461311fafab23901ba5104595d7.png
- https://cdn.dos.zone/original/2X/5/554e893d0546a1a78c1c908edf0d4ae0988d2a2b.png
shortTitle: XO-Fighter
title: XO-Fighter | 🕹️Play XO-Fighter Online | DOS game in browser

---
