---
bundles:
- lang: ENG
  mobile: false
  title: v1
  type: js
  url: original/2X/5/5231caa9905ebc9da73f6cc1676ea32ecc14060b.jsdos
layout: page.njk
ogDescription: Xonix is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Xonix on mobile.
  On DOS.Zone Xonix available to play for free without registration.
permalink: /xonix-1984/
screenshots:
- https://cdn.dos.zone/original/2X/b/b6cd21b29a80f9a786c934d0827eedea25a3c519.png
- https://cdn.dos.zone/original/2X/f/f5a6ca05f1f0ef22ef3863f6b12904bc3844700b.png
shortTitle: Xonix
title: Xonix | 🕹️Play Xonix Online | DOS game in browser

---
