---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/y.jsdos
layout: page.njk
ogDescription: Y is a famous and most played DOS game that now is available to play
  in browser. With virtual mobile controls you also can play in Y on mobile. On DOS.Zone
  Y available to play for free without registration.
permalink: /y-1994/
screenshots:
- https://cdn.dos.zone/original/2X/5/5e28dc28eb7ac5091ce47578e1862f8a84448209.png
- https://cdn.dos.zone/original/2X/2/26830270477362cd98477b5f9018d78b230c9e5a.png
shortTitle: Y
title: Y | 🕹️Play Y Online | DOS game in browser

---
