---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/yab-baseball.jsdos
layout: page.njk
ogDescription: YAB! Baseball is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in YAB! Baseball
  on mobile. On DOS.Zone YAB! Baseball available to play for free without registration.
permalink: /yab-baseball-1992/
screenshots:
- https://cdn.dos.zone/original/2X/e/e389949e9a28f78d47daaeb346262121bfe00902.png
- https://cdn.dos.zone/original/2X/f/f83a40b126135eec5baaa8e9ff9bdd19afec6d30.png
shortTitle: YAB! Baseball
title: YAB! Baseball | 🕹️Play YAB! Baseball Online | DOS game in browser

---
