---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/yahtzee___.jsdos
layout: page.njk
ogDescription: Yahtzee is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Yahtzee on
  mobile. On DOS.Zone Yahtzee available to play for free without registration.
permalink: /yahtzee-1983/
screenshots:
- https://cdn.dos.zone/original/2X/9/911113bcf3c51b2e90de7f4ce7291b4eb12bd80d.png
- https://cdn.dos.zone/original/2X/4/4dc42ae7a6e9c0a01a550552e23aa6d50acd611a.png
shortTitle: Yahtzee
title: Yahtzee | 🕹️Play Yahtzee Online | DOS game in browser

---
