---
layout: page.njk
title: "Yendorian Tales: The Tyrants of Thaine | 🕹️Play Yendorian Tales: The
  Tyrants of Thaine Online | Download js-dos bundle"
ogDescription: "Want to Play Yendorian Tales: The Tyrants of Thaine? 🕹 On Dos
  Zone you can play Yendorian Tales: The Tyrants of Thaine OR donwload js-dos
  bundle for free. Start playing now!"
shortTitle: "Yendorian Tales: The Tyrants of Thaine"
permalink: /yendorian-tales-the-tyrants-of-thaine-1997/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fyendorian-tales-the-tyrants-of-thaine.jsdos
description: "Following the events described in Yendorian Tales Book I: Chapter
  2, the seal on the wizard Paltivar has been broken, and his return to the
  lands of Yendor is imminent. However, as dire as the threat from the great
  wizard is, the kingdoms in the land of Thaine are on the brink of war
  themselves and must be pacified if the wizard's threat is to be averted.
  Yendorian Tales: The Tyrants of Thaine plays very similarly to its
  predecessor. The player is able to form a party of up to four characters
  belonging to any of the nine available classes, which are divided into three
  categories (non-magic, cleric, and wizard). Skills can be distributed among
  the characters; these comprise combat-related abilities (projectile, slashing,
  casting etc.), as well as those required to deal with the environment and
  various NPCs populating the game world (such as survival, mapping, repair,
  thievery, and others)."
screenshots:
  - https://cdn.dos.zone/original/2X/a/a347e27d7f5a2c8f1547a468f3358857497c85e8.png
  - https://cdn.dos.zone/original/2X/9/9012650cd5edcd91c19760c81798596f5bc96e2a.gif
---
