---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/yendorian-tales-the-tyrants-of-thaine.jsdos
layout: page.njk
ogDescription: 'Yendorian Tales: The Tyrants of Thaine is a famous and most played
  DOS game that now is available to play in browser. With virtual mobile controls
  you also can play in Yendorian Tales: The Tyrants of Thaine on mobile. On DOS.Zone
  Yendorian Tales: The Tyrants of Thaine available to play for free without registration.'
permalink: /yendorian-tales-the-tyrants-of-thaine-1997/
screenshots:
- https://cdn.dos.zone/original/2X/a/a347e27d7f5a2c8f1547a468f3358857497c85e8.png
- https://cdn.dos.zone/original/2X/9/9012650cd5edcd91c19760c81798596f5bc96e2a.gif
shortTitle: 'Yendorian Tales: The Tyrants of Thaine'
title: 'Yendorian Tales: The Tyrants of Thaine | 🕹️Play Yendorian Tales: The Tyrants
  of Thaine Online | DOS game in browser'

---
