---
layout: page.njk
title: Yo! Joe! Beat the Ghosts | 🕹️Play Yo! Joe! Beat the Ghosts Online |
  Download js-dos bundle
ogDescription: Want to Play Yo! Joe! Beat the Ghosts? 🕹 On Dos Zone you can
  play Yo! Joe! Beat the Ghosts OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Yo! Joe! Beat the Ghosts
permalink: /yo-joe-beat-the-ghosts-nov-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fyo-joe-beat-the-ghosts.jsdos
description: Graffiti artists live a hard life. Joe and Nat are always on the
  run, trying to escape New York's police. When they reach a mysterious castle,
  there's no way of knowing they're in deep trouble already. Yo! Joe! Beat the
  Ghosts is a platform game featuring two characters. The protagonists can jump,
  crawl, kick, beat, slide, and swim. They are even able to hold their breath
  when under water. If you are playing the game solely, "Joe" is your character
  of choice. A friend can take on Nat's part at the same PC. The game's purpose
  is to get rid of "Professor X", who is the bad guy. The players can attack
  opponents using several weapons, including molotovs, chainsaws and nunchakus.
  Yo! Joe! Beat the Ghosts doesn't offer save games. The copy protection
  requires the original disk at every start-up.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e5125ac690bb3b98f8e01e282bd3dec58533f625.png
  - https://cdn.dos.zone/original/2X/7/790caba8dbe257b2e0311a5b9a28a8be762413a5.png
---
