---
layout: page.njk
title: Yogi Bear visits... the National Parks | 🕹️Play Yogi Bear visits... the
  National Parks Online | Download js-dos bundle
ogDescription: Want to Play Yogi Bear visits... the National Parks? 🕹 On Dos
  Zone you can play Yogi Bear visits... the National Parks OR donwload js-dos
  bundle for free. Start playing now!
shortTitle: Yogi Bear visits... the National Parks
permalink: /yogi-bear-visits-the-national-parks-1990/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fyogi-bear-visits-the-national-parks.jsdos
description: While Yogi was taking his nap under a tree, Boo Boo wandered off to
  another national park. Playing as the part of Yogi, you must find the
  whereabouts of Boo Boo. Mr. Ranger, with his ranger radio and computer, is the
  only one who can help you besides the park maps in your hand. You will need to
  ask Mr. Ranger to use his radio and computer to get a brief description of the
  missing bear's last sighted location and find the national park on your park
  maps that matches the information. Then you have to fly the helicopter of Mr.
  Ranger to the park and see if Boo Boo is still there. The game also lets you
  review the information of all the the National Parks and print out some
  quizzes without launching the main game.
screenshots:
  - https://cdn.dos.zone/original/2X/1/1cee5436cbf57083867ca61db4cdf4fb3d3a4cc.png
  - https://cdn.dos.zone/original/2X/4/4e74decd80fd0072baef93ae30faa1693d8b1ac2.png
---
