---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/your-bum-is-talking.jsdos
layout: page.njk
ogDescription: Your Bum is Talking is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Your Bum is Talking on mobile. On DOS.Zone Your Bum is Talking available to play
  for free without registration.
permalink: /your-bum-is-talking-dec-12-2001/
screenshots:
- https://cdn.dos.zone/original/2X/f/fd8436882fe56c139ab0d553549ce9c6a991459f.png
- https://cdn.dos.zone/original/2X/3/3356fd7bf0977575060677df2328ae3a591d03ee.png
shortTitle: Your Bum is Talking
title: Your Bum is Talking | 🕹️Play Your Bum is Talking Online | DOS game in browser

---
