---
layout: page.njk
title: Your Bum is Talking | 🕹️Play Your Bum is Talking Online | Download
  js-dos bundle
ogDescription: Want to Play Your Bum is Talking? 🕹 On Dos Zone you can play
  Your Bum is Talking OR donwload js-dos bundle for free. Start playing now!
shortTitle: Your Bum is Talking
permalink: /your-bum-is-talking-dec-12-2001/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fyour-bum-is-talking.jsdos
description: First Reality-on-the-Norm text adventure game made with the
  Computer Novel Construction Set. The player takes a role of a local alley bum.
  His task is to assist town inhabitants with getting the needful items.
screenshots:
  - https://cdn.dos.zone/original/2X/f/fd8436882fe56c139ab0d553549ce9c6a991459f.png
  - https://cdn.dos.zone/original/2X/3/3356fd7bf0977575060677df2328ae3a591d03ee.png
---
