---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zakato-maan.jsdos
layout: page.njk
ogDescription: 'Zakato: Maan is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Zakato: Maan
  on mobile. On DOS.Zone Zakato: Maan available to play for free without registration.'
permalink: /zakato-maan-dec-1995/
screenshots:
- https://cdn.dos.zone/original/2X/3/37e47a5c084beab9a1eabd904536c6d7a7329d29.png
- https://cdn.dos.zone/original/2X/8/82b206c977b2bc61cc28eadefe8b156a3c2241c0.png
shortTitle: 'Zakato: Maan'
title: 'Zakato: Maan | 🕹️Play Zakato: Maan Online | DOS game in browser'

---
