---
layout: page.njk
title: "Zakato: Maan | 🕹️Play Zakato: Maan Online | Download js-dos bundle"
ogDescription: "Want to Play Zakato: Maan? 🕹 On Dos Zone you can play Zakato:
  Maan OR donwload js-dos bundle for free. Start playing now!"
shortTitle: "Zakato: Maan"
permalink: /zakato-maan-dec-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzakato-maan.jsdos
description: "A modern-day schoolboy wants to play a video game, but his mother
  gets angry and punishes him. While crying, the kid is miraculously transported
  into a strange fantasy world populated by anthropomorphic animals and other
  creatures. He becomes the mighty warrior Zakato, and must save that world from
  an evil goddess by finding two benevolent ones and joining forces with them.
  Zakato: Maan is a Korean-made role-playing game in Japanese style. Basic
  combat mechanics are reminiscent of Chrono Trigger : enemies are visible
  during exploration, and battles take place in the same environment. Combat is
  turn-based with a real-time element, nearly identical to the ATB system from
  Final Fantasy games. Characters can use regular attacks and elemental magic,
  but no other special moves."
screenshots:
  - https://cdn.dos.zone/original/2X/3/37e47a5c084beab9a1eabd904536c6d7a7329d29.png
  - https://cdn.dos.zone/original/2X/8/82b206c977b2bc61cc28eadefe8b156a3c2241c0.png
---
