---
layout: page.njk
title: Zappa Roidz | 🕹️Play Zappa Roidz Online | Download js-dos bundle
ogDescription: Want to Play Zappa Roidz? 🕹 On Dos Zone you can play Zappa Roidz
  OR donwload js-dos bundle for free. Start playing now!
shortTitle: Zappa Roidz
permalink: /zappa-roidz-1989/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzappa-roidz.jsdos
description: In Zappa Roidz you fly around in a space ship and you have to shoot
  all the asteroids and aliens you encounter. When you shoot a large asteroid it
  will break into smaller asteroids that you also have to shoot. On a map you
  can see where all the asteroids and aliens are. Your space ship can be
  destroyed by colliding with other objects. When you have lost all your space
  ships the game is over.
screenshots:
  - https://cdn.dos.zone/original/2X/8/8eec6f366e3ba5371fc11e3b71b341e9e32d2b4f.png
  - https://cdn.dos.zone/original/2X/b/b005a8cc7d4da6c29fe4cba25e6dfd8ab2dc5a84.png
---
