---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zappa-roidz.jsdos
layout: page.njk
ogDescription: Zappa Roidz is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Zappa Roidz
  on mobile. On DOS.Zone Zappa Roidz available to play for free without registration.
permalink: /zappa-roidz-1989/
screenshots:
- https://cdn.dos.zone/original/2X/8/8eec6f366e3ba5371fc11e3b71b341e9e32d2b4f.png
- https://cdn.dos.zone/original/2X/b/b005a8cc7d4da6c29fe4cba25e6dfd8ab2dc5a84.png
shortTitle: Zappa Roidz
title: Zappa Roidz | 🕹️Play Zappa Roidz Online | DOS game in browser

---
