---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zeliard.jsdos
layout: page.njk
ogDescription: Zeliard is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Zeliard on
  mobile. On DOS.Zone Zeliard available to play for free without registration.
permalink: /zeliard-1990/
screenshots:
- https://cdn.dos.zone/original/2X/2/2bcde64d05627af2abc7b1e9977d3ed4bc76796a.png
- https://cdn.dos.zone/original/2X/b/bb1df1dee2853153bdda7ea22004e4056a475d56.gif
shortTitle: Zeliard
title: Zeliard | 🕹️Play Zeliard Online | DOS game in browser

---
