---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zig-zag-flag-shag.jsdos
layout: page.njk
ogDescription: Zig Zag Flag Shag is a famous and most played DOS game that now is
  available to play in browser. With virtual mobile controls you also can play in
  Zig Zag Flag Shag on mobile. On DOS.Zone Zig Zag Flag Shag available to play for
  free without registration.
permalink: /zig-zag-flag-shag-jun-1991/
screenshots:
- https://cdn.dos.zone/original/2X/a/a72d7579b06a4aeee7d413028413efa4f365999d.png
- https://cdn.dos.zone/original/2X/5/5703c1563f86d8340297e412b339b7ba42101c0a.png
shortTitle: Zig Zag Flag Shag
title: Zig Zag Flag Shag | 🕹️Play Zig Zag Flag Shag Online | DOS game in browser

---
