---
layout: page.njk
title: Zig Zag Flag Shag | 🕹️Play Zig Zag Flag Shag Online | Download js-dos bundle
ogDescription: Want to Play Zig Zag Flag Shag? 🕹 On Dos Zone you can play Zig
  Zag Flag Shag OR donwload js-dos bundle for free. Start playing now!
shortTitle: Zig Zag Flag Shag
permalink: /zig-zag-flag-shag-jun-1991/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzig-zag-flag-shag.jsdos
description: Zig Zag Flag Shag contains ten puzzles in which the goal is to move
  from the left side of a seven by twelve grid to a specific space containing a
  flag located off of the right side of the grid.  To accomplish this goal, the
  player can move orthogonally or by using chess-style knight moves.  To make
  things more challenging, the player has a limited number of moves in each
  direction (which varies from level to level and by difficulty
  setting).  Additionally, some puzzle squares contain stop signs (which force
  the player to start over) or arrows (which automatically move the player to
  another square). The game also features synthesized speech through the PC
  speaker.
screenshots:
  - https://cdn.dos.zone/original/2X/a/a72d7579b06a4aeee7d413028413efa4f365999d.png
  - https://cdn.dos.zone/original/2X/5/5703c1563f86d8340297e412b339b7ba42101c0a.png
---
