---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zmiy.jsdos
layout: page.njk
ogDescription: Zmiy is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Zmiy on mobile.
  On DOS.Zone Zmiy available to play for free without registration.
permalink: /zmiy-jul-29-2013/
screenshots:
- https://cdn.dos.zone/original/2X/2/2e0447590db7eec633e75fabc5b66ed76ba55d03.png
- https://cdn.dos.zone/original/2X/f/f4dc09cc1c8d434aa5adc4c23800332c28be86a5.png
shortTitle: Zmiy
title: Zmiy | 🕹️Play Zmiy Online | DOS game in browser

---
