---
layout: page.njk
title: Zmiy | 🕹️Play Zmiy Online | Download js-dos bundle
ogDescription: Want to Play Zmiy? 🕹 On Dos Zone you can play Zmiy OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Zmiy
permalink: /zmiy-jul-29-2013/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzmiy.jsdos
description: Zmiy is an adaptation of the classic concept of Snake games. The
  player has to guide a snake through a board to eat all digits, however feeding
  the snake makes it grow longer. To complete the level the player must eat 9
  digits, each rewarded with 10 points. Hitting the wall, obstacle or own tail
  takes one life. One life costs 100 points. Each time the snake dies and have
  at least 100 points, 100 points are deducted from the score and the player may
  replay the same level. The speed of the game is linked to player score -
  bigger score means a higher speed. Each level introduces new type of
  obstacles. Zmiy is entirely controlled via the keyboard.
screenshots:
  - https://cdn.dos.zone/original/2X/2/2e0447590db7eec633e75fabc5b66ed76ba55d03.png
  - https://cdn.dos.zone/original/2X/f/f4dc09cc1c8d434aa5adc4c23800332c28be86a5.png
---
