---
layout: page.njk
title: Zone 66 | 🕹️Play Zone 66 Online | Download js-dos bundle
ogDescription: Want to Play Zone 66? 🕹 On Dos Zone you can play Zone 66 OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Zone 66
permalink: /zone-66-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzone-66.jsdos
description: A pilot is warned by a mysterious stranger that something terrible
  is about to happen in his town. Rushing home, the pilot discovers that his
  wife and baby daughter were murdered. The stranger who tried to warn the pilot
  is gravely wounded; however, before dying, he passes some information to him.
  The hero is back on his plane, determined to avenge the deaths of his beloved
  ones, alone against terrorist forces whose true goals are yet unknown... Zone
  66 is a top-down shooter in which the player controls an aircraft, eliminating
  other planes as well as ground-based hostile units (tanks, etc.). The
  player-controlled aircraft is able to move in any direction, avoiding enemy
  fire or preparing a better angle for the next shot. There is a wide selection
  of aircraft to choose from and each of them, before the gameplay, can be
  individually equipped with different types of weapons like missiles and bombs.
  Battles take place on eight different maps.
screenshots:
  - https://cdn.dos.zone/original/2X/5/5d868db8170df92186a41e062592c9fbad5e73de.png
  - https://cdn.dos.zone/original/2X/4/45ade3afe9aa5d5752fc10cd27b8eaa4ae1357f.gif
---
