---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zone-66.jsdos
layout: page.njk
ogDescription: Zone 66 is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Zone 66 on
  mobile. On DOS.Zone Zone 66 available to play for free without registration.
permalink: /zone-66-1993/
screenshots:
- https://cdn.dos.zone/original/2X/5/5d868db8170df92186a41e062592c9fbad5e73de.png
- https://cdn.dos.zone/original/2X/4/45ade3afe9aa5d5752fc10cd27b8eaa4ae1357f.gif
shortTitle: Zone 66
title: Zone 66 | 🕹️Play Zone 66 Online | DOS game in browser

---
