---
layout: page.njk
title: Zoom! | 🕹️Play Zoom! Online | Download js-dos bundle
ogDescription: Want to Play Zoom!? 🕹 On Dos Zone you can play Zoom! OR donwload
  js-dos bundle for free. Start playing now!
shortTitle: Zoom!
permalink: /zoom-1988/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzoom.jsdos
description: Zoom! is an arcade style puzzle game.  Your character Zoomer (a
  Pacman lookalike with arms & legs) must trace the outline of the squares on
  the game board to light them up.  Points are awarded when full squares are
  formed, although the game also displays how many lines must still be
  completed. You proceed to the next level when all the squares have been lit
  up.  There are various monsters that will try to hunt you down - contact with
  these costs you energy and eventually a life. There are also a number of
  power-ups that will aid your quest - quick filling of tiles surrounding the
  bonus piece, a level skip and bonus points, for example.
screenshots:
  - https://cdn.dos.zone/original/2X/f/f2738feeabebc5567f44c7b390e263a0a1788065.png
  - https://cdn.dos.zone/original/2X/d/d9576b9ebe6ccc0540d0b7cfa5c9db1f665d3542.png
---
