---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zoom.jsdos
layout: page.njk
ogDescription: Zoom! is a famous and most played DOS game that now is available to
  play in browser. With virtual mobile controls you also can play in Zoom! on mobile.
  On DOS.Zone Zoom! available to play for free without registration.
permalink: /zoom-1988/
screenshots:
- https://cdn.dos.zone/original/2X/f/f2738feeabebc5567f44c7b390e263a0a1788065.png
- https://cdn.dos.zone/original/2X/d/d9576b9ebe6ccc0540d0b7cfa5c9db1f665d3542.png
shortTitle: Zoom!
title: Zoom! | 🕹️Play Zoom! Online | DOS game in browser

---
