---
layout: page.njk
title: "Zork II: The Wizard of Frobozz | 🕹️Play Zork II: The Wizard of Frobozz
  Online | Download js-dos bundle"
ogDescription: "Want to Play Zork II: The Wizard of Frobozz? 🕹 On Dos Zone you
  can play Zork II: The Wizard of Frobozz OR donwload js-dos bundle for free.
  Start playing now!"
shortTitle: "Zork II: The Wizard of Frobozz"
permalink: /zork-ii-the-wizard-of-frobozz-1984/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzork-ii-the-wizard-of-frobozz.jsdos
description: 'Zork II: The Wizard of Frobozz is a text adventure, a sequel to
  the classic first Zork. Once again, the game is set in the Great Underground
  Empire, but this time the main goal is to face off against the titular Wizard.
  Like its predecessor, Zork II plays like any other text adventure: there are
  no graphics - only text - and the player types commands such as "lift cage" or
  "examine robot".'
screenshots:
  - https://cdn.dos.zone/original/2X/8/8a981c741245c4e056e50569b28d70f4ffc7003c.png
  - https://cdn.dos.zone/original/2X/c/ca4b71c898fde91f12f841c5c9a78ffc70403979.png
---
