---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zork-the-great-underground-empire.jsdos
layout: page.njk
ogDescription: 'Zork: The Great Underground Empire is a famous and most played DOS
  game that now is available to play in browser. With virtual mobile controls you
  also can play in Zork: The Great Underground Empire on mobile. On DOS.Zone Zork:
  The Great Underground Empire available to play for free without registration.'
permalink: /zork-the-great-underground-empire-1984/
screenshots: []
shortTitle: 'Zork: The Great Underground Empire'
title: 'Zork: The Great Underground Empire | 🕹️Play Zork: The Great Underground Empire
  Online | DOS game in browser'

---
