---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zork-iii-the-dungeon-master.jsdos
layout: page.njk
ogDescription: 'Zork III: The Dungeon Master is a famous and most played DOS game
  that now is available to play in browser. With virtual mobile controls you also
  can play in Zork III: The Dungeon Master on mobile. On DOS.Zone Zork III: The Dungeon
  Master available to play for free without registration.'
permalink: /zork-iii-the-dungeon-master-sep-1982/
screenshots:
- https://cdn.dos.zone/original/2X/e/e3b1486c57d7a28dd0f4ce949e0cc6848649d935.png
- https://cdn.dos.zone/original/2X/d/da31a10d37be3b24b211a5ce6faec79cc9ccf6a7.png
shortTitle: 'Zork III: The Dungeon Master'
title: 'Zork III: The Dungeon Master | 🕹️Play Zork III: The Dungeon Master Online
  | DOS game in browser'

---
