---
layout: page.njk
title: Zorlim's Arcade Volleyball | 🕹️Play Zorlim's Arcade Volleyball Online |
  Download js-dos bundle
ogDescription: Want to Play Zorlim's Arcade Volleyball? 🕹 On Dos Zone you can
  play Zorlim's Arcade Volleyball OR donwload js-dos bundle for free. Start
  playing now!
shortTitle: Zorlim's Arcade Volleyball
permalink: /zorlims-arcade-volleyball-aug-1995/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzorlims-arcade-volleyball.jsdos
description: "From the man who brought us Pizza Worm comes a tribute to Arcade
  Volleyball that has never quite made it to v1.0, but is still fully playable
  in its released state. Like the original, it puts two players (still with huge
  freaky heads) on opposite sides of a volleyball net. The same rules apply
  here: bounce the ball around and hit the ground on the opposing player's side
  to rack up points.  If you own the ball and lose it (or touch it 3 times), the
  other player becomes the owner; the owner gets a point when the non-owner
  loses the ball, and the first player to score 15 points is the winner.  Being
  such a versatile sport, each game takes place in a randomly chosen location,
  ranging from a calm beach all the way to outer space."
screenshots:
  - https://cdn.dos.zone/original/2X/6/627ffb8c483ef51798feb2789eb3c173de5a8730.png
  - https://cdn.dos.zone/original/2X/8/8923972637afa042245eaf087072616fb23a2e56.png
---
