---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zottris.jsdos
layout: page.njk
ogDescription: Zottris is a famous and most played DOS game that now is available
  to play in browser. With virtual mobile controls you also can play in Zottris on
  mobile. On DOS.Zone Zottris available to play for free without registration.
permalink: /zottris-1992/
screenshots:
- https://cdn.dos.zone/original/2X/5/550e51476490656947eace0b5e4f6eaf1884bc31.png
- https://cdn.dos.zone/original/2X/2/286096818c92ad4f61605cebf97bae7a7f54fa74.png
shortTitle: Zottris
title: Zottris | 🕹️Play Zottris Online | DOS game in browser

---
