---
bundles:
- lang: ENG
  mobile: false
  title: ''
  type: js
  url: custom/dos/zurks-learning-safari.jsdos
layout: page.njk
ogDescription: Zurk's Learning Safari is a famous and most played DOS game that now
  is available to play in browser. With virtual mobile controls you also can play
  in Zurk's Learning Safari on mobile. On DOS.Zone Zurk's Learning Safari available
  to play for free without registration.
permalink: /zurks-learning-safari-1993/
screenshots:
- https://cdn.dos.zone/original/2X/9/94382d8ed0a07b202deca0c9f0fa760de542c00a.png
- https://cdn.dos.zone/original/2X/3/3259354a630631e8979a055fc419398445c7a952.png
shortTitle: Zurk's Learning Safari
title: Zurk's Learning Safari | 🕹️Play Zurk's Learning Safari Online | DOS game in
  browser

---
