---
layout: page.njk
title: Zurk's Learning Safari | 🕹️Play Zurk's Learning Safari Online | Download
  js-dos bundle
ogDescription: Want to Play Zurk's Learning Safari? 🕹 On Dos Zone you can play
  Zurk's Learning Safari OR donwload js-dos bundle for free. Start playing now!
shortTitle: Zurk's Learning Safari
permalink: /zurks-learning-safari-1993/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzurks-learning-safari.jsdos
description: A pack of activities for kids ages 3 to 7 placed in the African
  Serengeti (well, sort of). The game comes with 5 different simple puzzle games
  that exercise shape/pattern recognition skills, plus an "Explore Story" where
  you lead Maya, the young lion cub, back to her mother; and a "Hide and Seek"
  adventure where you try to find several animals by observing their behavior,
  etc. Also included is a Parent's Guide with suggested activities and
  complementary material including photographs of every animal in the game, and
  background info of Africa.
screenshots:
  - https://cdn.dos.zone/original/2X/9/94382d8ed0a07b202deca0c9f0fa760de542c00a.png
  - https://cdn.dos.zone/original/2X/3/3259354a630631e8979a055fc419398445c7a952.png
---
