---
layout: page.njk
title: Zyconix | 🕹️Play Zyconix Online | Download js-dos bundle
ogDescription: Want to Play Zyconix? 🕹 On Dos Zone you can play Zyconix OR
  donwload js-dos bundle for free. Start playing now!
shortTitle: Zyconix
permalink: /zyconix-1992/
bundles:
  - type: js
    title: ""
    mobile: false
    lang: ENG
    url: https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2Fcustom%2Fdos%2Fzyconix.jsdos
description: >-
  Zyconix is an arcade puzzle game. Colored blocks raining down on a playfield,
  we’ve seen that before. Zyconix takes the Columns principle (align three or
  more bricks of the same color to make them disappear) and adds a few twists of
  its own: First, there are no groups or columns of stones, only single blocks.

  Second, several of them slide down at once, and you select and move them with a cursor.

  Third, only horizontal and diagonal lines disappear, but not stacks of the same color. Add a few special objects from bombs to drills to a breakout ball that you can actually deflect grabbing a brick as a paddle, mix with four play modes (normal, pre-filled playfield and two time trial variants), and the result is a fast-pasted, tricky test of agility. Two players can compete in split-screen mode, where each removed line turns the corresponding number of bricks on the opponent’s field into indestructible obstacle blocks. Soloists adjust the difficulty level by tweaking the number of blocks in a line (from three to six), number of colors and frequency of new stones appearing.
screenshots:
  - https://cdn.dos.zone/original/2X/e/e7609d1c5fcc1e404ead91eb4d86e36f33a815fa.png
  - https://cdn.dos.zone/original/2X/3/30bd00f87e5c6d0df863b25a8a9a8c0dbd56a66a.png
---
