---
layout: base.njk
---

<div class="m-6">
    <div class="flex flex-wrap flex-col items-center">
        <div>If you like js-dos project or Dos.Zone you can support us. You can do it in following ways:</div>
        <div class="mt-16 text-xl">
            <a href="https://buymeacoffee.com/caiiiycuk" target="_blank">Buy Me A Coffee!</a>
        </div>
        <div class="flex flex-col items-center my-8">
            <div class="text-xl">Bitcoin</div>
            <div class="font-mono my-4">bc1qe ctq7 wzuh hgqs 90qc f80r hrnq j2tf p9vq untcy</div>
            <img class="w-64" src="/resources/btc.png"/>
        </div>
        <div class="flex flex-col items-center my-8">
            <div class="text-xl">Ethereum</div>
            <div class="font-mono my-4">0x2AC E6Ca c444 87ac 78Dc e303 39e5 8d1a EeC0 54eF5</div>
            <img class="w-64" src="/resources/eth.png"/>
        </div>
    </div>
</div>