---
layout: base.njk
title: "DOS Zone | Full collection of DOS Games to play online"
description: "Ultimate collection of online dos games"
ogDescription: "Ultimate collection of free dos games to play online in browser. Search for your favorite game and play in browser!"
screenshots: ["https://cdn.dos.zone/original/2X/6/696b53945c63e21fbfb127602a9df0b4ae9c185f.jpeg"]
---

<div class="flex flex-col items-center justify-center text-center">
	<h1 class="text-2xl sm:text-4xl my-8 mx-3">{{description}}</h1>
	<p class="text-1xl sm:text-2xl mb-4"><span class="text-green-600 font-bold">{{collections.all.length}}</span> games are ready to <span class="font-bold text-purple-600">play in browser</span></p>
</div>

{% for collection in collections.featured %}
<div class="mx-4 my-12 flex flex-col">
	<h1 class="font-bold self-center bg-green-200 rounded-md w-max py-2 px-2 mb-4">{{collection.name}}</h1>
	<div class="flex flex-row flex-nowrap overflow-x-auto lg:flex-wrap lg:justify-center">
		{% for next in collection.pages%}
		<div class="mx-2 flex-shrink-0">
		    <a class="flex flex-col items-center" href="{{next.url}}" target="_self">
				<h2 class="max-w-xs whitespace-nowrap overflow-ellipsis overflow-hidden text-center mb-2">{{next.title}}</h2>
				<img data-src="{{next.screenshot}}" alt="screenshot" class="lazyload h-40 rounded" />
		    </a>
        </div>
		{% endfor %}
	</div>
</div>
{% endfor %}


<script src="/resources/lazysizes.min.js" async></script>
