---
layout: base.njk
title: Catalog of DOS Games | Play DOS games on mobile
ogDescription: Catalog of DOS Games with mobile controls. All famous DOS games in one place. Play on mobile for free.
screenshots: ["https://cdn.dos.zone/original/2X/6/696b53945c63e21fbfb127602a9df0b4ae9c185f.jpeg"]
---

<h1 class="mx-10 mt-20 my-8 uppercase font-mono text-lg font-bold">
    Catalog of DOS Games with mobile controls
</h1>

<div id="mobile-android-app-link" class="gone mx-10 mb-20 text-lg">
    It's highly recommended to use 
    <a class="text-purple-600 font-bold underline" href="https://play.google.com/store/apps/details?id=zone.dos.app" target="_blank">DOS.Zone Browser</a> 
    to play with hardware acceleration.
</div>

<div class="catalog">
    <div class="flex flex-row">
        <div class="my-2 rounded-xl border-2 border-purple-400 bg-purple-100 cursor-pointer">
            <a class="font-bold text-lg text-purple-800 px-2 flex flex-row items-center" href="/multiplayer/">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-purple-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                Multiplayer
            </a>
        </div>
    </div>
	{% set letter = "" %}
	{% for item in collections.games %}
	    {% set mobile = false %}
		{% for bundle in item.data.bundles %}
			{% if bundle.mobile == true %}
                {% set mobile = true %}
            {% endif %}
        {% endfor %}
        {% if mobile == true %}
            {% if letter != item.data.shortTitle[0] %}
                {% set letter = item.data.shortTitle[0] %}
                <div class="letter">{{letter}}</div>
            {% endif %}
            <a href="{{item.url}}" target="_self">{{item.data.shortTitle}}</a>
        {% endif %}
	{% endfor %}
</div>