---
layout: base.njk
title: Stream | DOS.Zone
ogDescription: Watch live stream on DOS.Zone
noIndex: true
noFooter: true
---

<div>
    <iframe 
        class="stream-frame"
        src="" 
        allow="microphone *; camera *"
        name="stream-frame">
    </iframe>
</div>

<script>
    const id = new URLSearchParams(window.location.search).get("join");
    if (id) {
        const frame = document.querySelector(".stream-frame");
        frame.onload = () => {
            setTimeout(() => {
                window.scrollTo(0, document.body.scrollHeight);
            }, 1000);
        };
        frame.src = `https://cdn.dos.zone/live/index.html?join=${id}`;
    }
</script>