<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if noIndex %}
    <meta name="robots" content="noindex">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="{{ ogDescription }}">
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="DOS Zone">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ metadata.rootUrl}}{{ page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ ogDescription }}">
    <meta property="og:image:url" content="{{ screenshots[0] }}">
    <meta property="og:image" content="{{ screenshots[0] }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:url" content="{{metadata.rootUrl}}{{ page.url }}">
    <meta name="twitter:description" content="{{ ogDescription }}">
    <meta name="twitter:image" content="{{ screenshots[0] }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.social }}">
    <meta name="twitter:dnt" content="on">
    <meta name="google-signin-client_id" content="673757892813-i4bas1tjuac7t1crf0v6olm4o2e99ct8.apps.googleusercontent.com">
    <title>{{title}}</title>
    <link rel="canonical" href="{{ metadata.rootUrl}}{{ page.url }}" />
    <link rel="icon" type="image/png" href="{{ metadata.favicon }}">
    <link rel="dns-prefetch" href="{{ metadata.rootUrl }}">
    <link rel="preconnect" href="{{ metadata.rootUrl }}">
    <link rel="me" href="https://twitter.com/intent/user?screen_name=caiiiycuk" type="text/html">
    <link rel="me" href="mailto:caiiiycuk@gmail.com">
    <link rel="stylesheet" href="/resources/index.css">
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(86987640, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
        });
    </script>
  </head>
  {% if bodyClass %}
  <body class="{{ bodyClass }}" itemscope itemtype="http://schema.org/VideoGame">
  {% else %}
  <body class="base" itemscope itemtype="http://schema.org/VideoGame">
  {% endif %}
    <div class="flex flex-col justify-center">
      <nav class="flex flex-row h-12 shadow px-4">
        <a href="/" target="_self" class="flex-grow-0 logo bg-contain bg-no-repeat bg-center h-full block"></a>
        <div class="flex-grow"></div>
        <div class="flex-grow-0 flex flex-row items-center">
          <div id="auth"></div>
          <div class="border-l border-gray-200 h-2/3 mx-2"></div>
          <a
            href="https://twitter.com/intent/user?screen_name=doszone_db"
            class="mx-2"
            target="_blank"
            rel="noopener noreferrer">
            <img src="/resources/twitter.svg" alt="twitter" width="20"/>
          </a>
          <a href="https://t.me/doszonechat" class="ml-1 mr-2" target="_blank" rel="noopener noreferrer">
            <img src="/resources/telegram.svg" alt="twitter" width="20"/>
          </a>
          <a href="https://discord.com/invite/hMVYEbG" target="_blank" rel="noopener noreferrer">
            <img src="/resources/discord.svg" alt="discord" width="24"/>
          </a>
        </div>
      </nav>
    </div>
    <div class="search-line">
      <div id="search" class="rounded"></div>
      <div class="flex flex-row flex-wrap mt-1 -mb-3  text-sm">
        <a id="mobile-catalog-link" 
            href="/mobile/" 
            target="_self" 
            class="search-line-button mr-4 bg-yellow-600 hover:bg-pink-600 gone">Mobile catalog</a>
        <a id="android-app-link" 
            href="https://play.google.com/store/apps/details?id=zone.dos.app" 
            target="_blank" 
            class="search-line-button mr-4 bg-pink-600 hover:bg-yellow-400 gone">Android version</a>
        <a id="desktop-app-link" 
            href="/download/" 
            target="_self" 
            class="search-line-button mr-4 bg-red-500 hover:bg-pink-600 gone">Download PC Version</a>
        <p class="flex-grow"></p>
        <a class="donate-link search-line-button mr-px bg-pink-600 hover:bg-yellow-400" 
            href="https://dos.zone/donate">Donate</a>
      </div>
    </div>
    <div class="content">
      {{ content | safe }}
    </div>
    {% if noFooter %}
    {% else %}
    <div class="footer">
      <div class="author">
        <h4>Support</h4>
        <a class="donate-link" href="/donate/" target="_self">Donate</a>
        <h4>Catalog</h4>
        <a href="/catalog/" target="_self">Catalog</a><br/>
        <a href="/mobile/" target="_self">Mobile catalog</a><br/>
        <a href="/studio/" target="_blank">Game Studio</a>
      </div>
      <div class="docs">
        <h4>Powered by js-dos</h4>
        <a href="https://js-dos.com/v7/build/" target="_blank">Docs</a>
        <h4>Author</h4>
        <a href="https://twitter.com/intent/user?screen_name=caiiiycuk" target="_blank">@caiiiycuk</a>, {{page.date.getFullYear()}}
      </div>
      <div class="more">
        <h4>More</h4>
        <a href="https://github.com/js-dos/repository" target="_blank">
          GitHub
        </a>
        <a
          href="https://twitter.com/intent/user?screen_name=doszone_db"
          class="margin-right"
          target="_blank"
          rel="noopener noreferrer">
          Twitter
        </a>
        <a href="https://discord.com/invite/hMVYEbG" target="_blank" rel="noopener noreferrer">
          Discord
        </a>
        <a href="https://t.me/doszonechat" target="_blank" rel="noopener noreferrer">
          Telegram
        </a>
      </div>
    </div>
    {% endif %}
    <div class="jsdos-code flex flex-col items-start max-h-full gone">
        <div class="text-white mt-2 self-center">
            Copy and paste this code into HTML5 page
        </div>
        <pre class="jsdos-code-pre font-mono my-4 rounded w-full bg-gray-200 overflow-auto p-5">
        </pre>
        <div class="jsdos-code-close button-blue mb-2">Close</div>
    </div>
    <div class="jsdos-root fixed left-0 top-0 bottom-0 right-0 flex flex-row gone">
        <div class="relative flex-grow">
            <div class="jsdos-frame">
                <iframe 
                    class="jsdos-iframe" 
                    name="jsdos-frame">
                </iframe>
            </div>
        </div>
        <iframe class="live-frame gone" name="live-frame"
             src="https://cdn.dos.zone/live/index.html" 
             allow="microphone; camera">
        </iframe>
        <div class="text-white rounded-full border-2 border-white p-3 absolute right-2 top-2
            bg-gradient-to-b from-yellow-400 via-red-500 to-pink-500 cursor-pointer 
            shadow-lg overlay chat gone">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 chat-maxi" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 chat-mini gone" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
    </div>
    <div class="jsdos-login-frame gone bg-gray-800 bg-opacity-80">
      <div class="jsdos-login rounded bg-white px-8 py-4">
        <H1>Login</H1>
        <br/>
        <div class="jsdos-login-native-gapi button-blue text-center">Google Sign in</div>
        <div class="jsdos-login-gapi" id="googleLogin"></div>
        <div class="jsdos-login-talks button-green text-center">DOS.Zone Sign in</div>
        <br/>
        <div class="w-100 border-t border-gray-200 mb-5"></div>
        <div class="jsdos-login-close border-2 text-center cursor-pointer">Close</div>
      </div>
    </div>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="/resources/index.js" async></script>
  </body>
</html>
