---
layout: base.njk
bodyClass: page
---

<div class="flex flex-row flex-wrap">

<div class="bg-green-100 mx-2 my-4 rounded p-4 flex-grow">
    {% if catalog %}
	<div class="">
	  <h1 class="text-green-600 font-bold text-xl mb-2">Catalog of  
          <span itemprop="name" class="font-bold text-purple-600">Multiplayer</span>
          <span itemprop="gamePlatform" class="font-bold text-purple-600">DOS</span> games in browser
          <meta itemprop="playMode" content="MultiPlayer">
      </h1>
      
      {{ content | safe }}
    </div>
    {% else %}
	<div class="">
	  <h1 class="text-green-600 font-bold text-xl mb-2">Play 
          <span itemprop="name" class="font-bold text-purple-600">{{shortTitle}} Multiplayer</span> | 
          <span itemprop="gamePlatform" class="font-bold">DOS</span> game online in browser
          <meta itemprop="playMode" content="MultiPlayer">
      </h1>
	  <div class="actions">

		<h2 class="my-2 font-bold">Multiplayer</h2>
		{% for bundle in bundles %}
            <div class="bundle-row items-center">
                <div class="button-green my-1 jsdos-bundle font-bold" data-bundle="{{bundle.url}}">
                    Play {{ bundle.title }}
                </div>
                <span class="tag-primary">{{bundle.lang}}</span>
                {% if bundle.mobile == true %}
                <span class="tag-success font-bold">Mobile</span>
                {% else %}
                <span class="tag-warning">No Mobile Controls</span>
                {% endif %}
                {% if bundle.title != "" %}
                <span class="tag">{{bundle.title}}</span>
                {% endif %}
                {% if bundle.type == "js" %}
                <a class="ml-2 self-center text-black cursor-pointer" href="/studio/?url=https%3A%2F%2Fdoszone-uploads.s3.dualstack.eu-central-1.amazonaws.com%2F{{bundle.url}}" target="_blank">
                    <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                </a>
                {% endif %}
            </div>
		{% endfor %}
	  </div>
	</div>

    <h2 class="my-2 font-bold">Singleplayer</h2>
    <a class="button-blue my-1" href="{{metadata.rootUrl}}{{permalink.slice('/multiplayer'.length)}}" target="_self">
        Open {{shortTitle}} singleplayer
    </a>
    {% endif %}
</div>

<div class="bg-purple-100 mx-2 my-4 p-4 flex-grow">
    <div class="flex flex-col">
        <div class="flex flex-row mb-2 items-center">
            <h3 class="font-bold text-lg">Instructions</h3>
            <a href="https://youtu.be/XEoWLQmU168" target="_blank" class="cursor-pointer ml-1 text-purple-600" title="Tutorial Video">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
</svg>
            </a>
        </div>
        <p>To start the game please use <span class="text-purple-600 font-bold">Play</span> button above.</p>
        <p>After loading of DOS, the game will <span class="font-bold">stop</span> on IPX connection screen. It will look like this:</p>

        <img src="/resources/ipx-stop.jpg" alt="js-dos ipx connection" class="w-96 m-w-full mt-4 pl-2" />

        <p class="flex flex-row items-center mt-4">After this screen appeared please open Sidebar <span class="mx-2 flex flex-row items-center flex-nowrap">
[<svg xmlns="http://www.w3.org/2000/svg" class="text-purple-600 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
</svg>]
        </span></p>
        <p class="flex flex-row items-center">and then press on <span class="mx-2 text-purple-600 flex flex-row items-center flex-nowrap">
            Configure network
<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
        </span> submenu.</p>

        <div class="flex flex-row mt-8 items-center">
            <p class="font-bold">If you will <span class="font-bold text-purple-600">host</span> the game, you need to:</p>
            <a href="https://youtu.be/XEoWLQmU168" target="_blank" class="cursor-pointer ml-1 text-purple-600" title="Host video">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
</svg>
            </a>
        </div>
        <p>1. Create a new <span class="font-bold">Token</span> or use some existing one.
        Token is unique identifier of IPX server.</p>

        <p>2. Press the <span class="font-bold text-purple-600">Start</span> button near IPX label to start the IPX server. <b>Wait until it started.</b></p>
        <p>3. Press the <span class="font-bold text-purple-600">Connect</span> button near IPX label to connect to the IPX server.</p>
        <p>4. Share the token with other players.</p>

        <div class="flex flex-row mt-8 items-center">
            <p class="font-bold">If you will connect to the existing game:</p>
            <a href="https://youtu.be/XEoWLQmU168?t=63" target="_blank" class="cursor-pointer ml-1 text-purple-600" title="Client video">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
</svg>
            </a>
        </div>
        <p>1. Enter <span class="font-bold text-purple-600">host</span> token.</p>
        <p>2. Press the <span class="font-bold text-purple-600">Connect</span> button near IPX label to connect to the IPX server.</p>

        <p class="mt-8">After connection established you can <span class="font-bold text-purple-600">press the Enter key</span> to start the game.</p>

        <p class="font-bold mt-8 text-lg">Matchmaking</p>
        <p>You can find multiplayer opponents in following 
            <a class="font-bold underline text-purple-600" href="https://discord.com/invite/hMVYEbG" target="_blank">Discord</a> 
            or 
            <a class="font-bold underline text-purple-600" href="https://t.me/doszonechat" target="_blank">Telegram</a>
            channels</p>
    </div>
</div>

</div>

<div class="bg-gray-100 mx-2 my-4 p-4">
	<div class="flex flex-col">
	  <h3 class="">Video & screenshots</h3>
	  <div class="flex flex-row flex-nowrap overflow-x-auto my-4">
        {% if youtube %}
            <iframe width="560" height="315" class="mr-2 flex-shrink-0" src="https://www.youtube.com/embed/{{youtube}}" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  		{% endif %}
        {% for item in screenshots %}
            {% if loop.first %}
    		    <img itemprop="image" style="height: 315px" src="{{item}}" alt="screenshot of {{shortTitle}}" class="mr-2"/>
            {% else %}
    		    <img itemprop="screenshot" style="height: 315px" src="{{item}}" alt="screenshot of {{shortTitle}}" class="mr-2"/>
            {% endif %}
  		{% endfor %}
      </div>
	</div>
</div>

{% if catalog %}
{% else %}
<div class="callout">
	<div class="">
        <p>{{text | safe}}</p>
	    <p itemprop="description">
          <span class="font-bold">{{shortTitle}}</span> is a famous and most played <span class="font-bold text-purple-600">DOS</span> game that supports <span class="font-bold">Multiplayer</span> games.
          Play {{shortTitle}} with your friends in <span class="font-bold">Browser</span> for free without registration {{shortTitle}} on mobile.
        </p>
	</div>
</div>
{% endif %}

<a class="edit-page" href="https://github.com/js-dos/repository/issues/new?title={{permalink}}" target="_blank">Edit the page</a>
