---
layout: base.njk
---

{% set cloud = false %}
{% set js = false %}
{% set android = false %}
{% for bundle in bundles %}
	{% if bundle.type == "cloud" %}
		{% set cloud = true %}
	{% endif %}
	{% if bundle.type == "js" or bundle.type == "external-js" %}
		{% set js = true %}
	{% endif %}
	{% if bundle.type == "android" %}
		{% set android = true %}
	{% endif %}
{% endfor %}

<div class="bg-green-100 mx-2 my-4 rounded p-4">
	<div class="">
	  <h1 class="text-green-600 font-bold text-xl mb-2">{{shortTitle}} | Play | Download | Fork </h1>
	  <div class="actions">

		{% if android == true %}
		<h3 class="mt-2">Android Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "android" %}
				<a class="button-green" href="{{bundle.url}}" target="_blank" type="button">
					Install {{bundle.title}}
				</a>
				<details id="datafiles" class="datafiles" >
					<summary>Data Files</summary>
			{% endif %}
			{% if bundle.type == "datafile" %}
					<div class="bundle-row items-center">
						<a class="flex flex-row items-center button-blue my-1" href="/en/my/{{bundle.url}}" target="_blank" type="button">
                            <svg class="{{ "animate-bounce" if bundle.lang == "ENG" }} mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
							Data file
						</a>
						<span class="tag-primary">{{bundle.lang}}</span>
						{% if bundle.title != "" %}
						<span class="tag">{{bundle.title}}</span>
						{% endif %}
					</div>
			{% endif %}
		{% endfor %}
				</details>
		{% endif %}

		{% if js == true %}
		<h3 class="mt-2">Browser Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "js" or bundle.type == "external-js" %}
				<div class="bundle-row items-center">
					{% if bundle.type == "js" %}
					<a class="button-green my-1 jsdos-bundle" href="/rep/my/{{bundle.url}}" target="_self" type="button">
						Play online
					</a>
					{% else %}
					<a class="button-green my-1" href="{{bundle.url}}" target="_blank" type="button">
						Play online
					</a>
					{% endif %}
					<span class="tag-primary">{{bundle.lang}}</span>
					{% if bundle.mobile == true %}
					<span class="tag-success">Mobile</span>
					{% else %}
					<span class="tag-warning">No Mobile Controls</span>
					{% endif %}
					{% if bundle.title != "" %}
					<span class="tag">{{bundle.title}}</span>
					{% endif %}
                    {% if bundle.type == "js" %}
				    <a class="ml-2 self-center text-black cursor-pointer" href="/studio/?url={{bundle.url}}" target="_blank" type="button">
                        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
				    </a>
                    {% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% endif %}

		{% if cloud == true %}
		<h3 class="mt-2">Cloud Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "cloud" %}
				<div class="bundle-row items-center">
					<a class="button-green my-1" href="/en/my/{{bundle.url}}" target="_blank" type="button">
						Play in Cloud
					</a>
					<span class="tag-primary">{{bundle.lang}}</span>
					{% if bundle.mobile == true %}
					<span class="tag-success">Mobile</span>
					{% else %}
					<span class="tag-warning">No Mobile Controls</span>
					{% endif %}
					{% if bundle.title != "" %}
					<span class="tag">{{bundle.title}}</span>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% endif %}
		
	  </div>
	</div>
</div>

<div class="bg-gray-100 mx-2 my-4 p-4">
	<div class="flex flex-col">
	  <h4 class="">Screenshots</h4>
	  <div class="flex flex-row flex-nowrap overflow-x-auto">
        {% for item in screenshots %}
    		<img src="{{item}}" alt="screenshot" class="py-2 pr-4"/>
  		{% endfor %}
      </div>
	</div>
</div>

<div class="callout">
	<div class="">
	  <h4 class="">Description</h4>
	  <p>{{description | safe}}</p>
	</div>
</div>

<a class="edit-page" href="https://github.com/js-dos/repository/issues/new?title={{permalink}}" target="_blank">Edit the page</a>