---
layout: base.njk
---

{% set cloud = false %}
{% set js = false %}
{% set android = false %}
{% for bundle in bundles %}
	{% if bundle.type == "cloud" %}
		{% set cloud = true %}
	{% endif %}
	{% if bundle.type == "js" or bundle.type == "external-js" %}
		{% set js = true %}
	{% endif %}
	{% if bundle.type == "android" %}
		{% set android = true %}
	{% endif %}
{% endfor %}

<div class="callout">
	<div class="bp3-callout bp3-intent-success">
	  <h1 class="bp3-heading">{{shortTitle}} | Play | Download | Fork </h1>
	  <div class="actions">

		{% if android == true %}
		<h3>Android Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "android" %}
				<a class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-mobile-phone" href="{{bundle.url}}" target="_blank" type="button">
					Install {{bundle.title}}
				</a>
				<details id="datafiles" class="datafiles" >
					<summary>Data Files</summary>
			{% endif %}
			{% if bundle.type == "datafile" %}
					<div class="{{ "heartbeat" if bundle.lang == "ENG" }} bundle-row">
						<a class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-download" href="/en/my/{{bundle.url}}" target="_self" type="button">
							Download data file
						</a>
						<span class="bp3-tag bp3-minimal bp3-intent-primary">{{bundle.lang}}</span>
						{% if bundle.title != "" %}
						<span class="bp3-tag bp3-minimal">{{bundle.title}}</span>
						{% endif %}
					</div>
			{% endif %}
		{% endfor %}
				</details>
		{% endif %}

		{% if js == true %}
		<h3>Browser Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "js" or bundle.type == "external-js" %}
				<div class="bundle-row">
					{% if bundle.type == "js" %}
					<a class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-play jsdos-bundle" href="/rep/my/{{bundle.url}}" target="_self" type="button">
						Play online
					</a>
					{% else %}
					<a class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-play" href="{{bundle.url}}" target="_self" type="button">
						Play online
					</a>
					{% endif %}
					<span class="bp3-tag bp3-minimal bp3-intent-primary">{{bundle.lang}}</span>
					{% if bundle.mobile == true %}
					<span class="bp3-tag bp3-minimal bp3-intent-success">Mobile</span>
					{% else %}
					<span class="bp3-tag bp3-intent-warning">No Mobile Controls</span>
					{% endif %}
					{% if bundle.title != "" %}
					<span class="bp3-tag bp3-minimal">{{bundle.title}}</span>
					{% endif %}
				</div>
				{% if bundle.type == "js" %}
				<a class="fork bp3-button bp3-minimal bp3-intent-primary bp3-icon-fork" href="/en/studio/{{bundle.url}}" target="_self" type="button">
					Fork in Game Studio
				</a>
				{% endif %}
			{% endif %}
		{% endfor %}
		{% endif %}

		{% if cloud == true %}
		<h3>Cloud Version</h3>
		{% for bundle in bundles %}
			{% if bundle.type == "cloud" %}
				<div class="bundle-row">
					<a class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-fast-forward" href="/en/my/{{bundle.url}}" target="_self" type="button">
						Play in Cloud
					</a>
					<span class="bp3-tag bp3-minimal bp3-intent-primary">{{bundle.lang}}</span>
					{% if bundle.mobile == true %}
					<span class="bp3-tag bp3-minimal bp3-intent-success">Mobile</span>
					{% else %}
					<span class="bp3-tag bp3-intent-warning">No Mobile Controls</span>
					{% endif %}
					{% if bundle.title != "" %}
					<span class="bp3-tag bp3-minimal">{{bundle.title}}</span>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
		{% endif %}
		
	  </div>
	</div>
</div>

<div class="callout">
	<div class="bp3-callout">
	  <h4 class="bp3-heading">Screenshots</h4>
	  <div class="screenshots">
        {% for item in screenshots %}
    		<img src="{{item}}" alt="screenshot" />
  		{% endfor %}
      </div>
	</div>
</div>

<div class="callout">
	<div class="bp3-callout bp3-running-text">
	  <h4 class="bp3-heading">Description</h4>
	  <p>{{description | safe}}</p>
	</div>
</div>

<a class="edit-page" href="https://github.com/js-dos/repository/issues/new?title={{permalink}}" target="_blank">Edit the page</a>