---
bundles:
- lang: ENG
  mobile: true
  title: Deathmatch
  type: js
  url: custom/dos/blood-ipx.jsdos
layout: multiplayer.njk
ogDescription: BLOOD is a famous and most played DOS game that supports Multiplayer games.
  Play BLOOD with your friends in Browser for free without registration.
permalink: /multiplayer/blood-may-31-1997/
screenshots:
- https://cdn.dos.zone/original/2X/6/601a5493d9e15b37b3bc67dad972846d4a0a6377.png
- https://cdn.dos.zone/original/2X/d/db18d8ce1eae2111623ee9978e741e86d769ea5b.gif
shortTitle: BLOOD
title: BLOOD Multiplayer | 🕹️Play BLOOD Multiplayer Online | DOS game in browser
---


<div class="flex flex-col">
    <div class="flex flex-col">
        <p class="font-bold text-lg">To start multiplayer game:</p>
        <p class="pl-4">· Connect to IPX server (read bellow)</p>
        <p class="pl-4">· Select "Network Game" in BLOOD Setup</p>
    </div>
    
    <p class="font-bold text-lg">Controls</p>
    <p>Movement: WASD</p>
    <p>Lookaround: Mouse</p>
    <p>Jump: E</p>
    <p>Crouch: Q</p>
    <p>Open: Space</p>
    <p>Fire: LeftCtrl, X</p>
</div>
