---
bundles:
- lang: ENG
  mobile: true
  title: '1 vs 1'
  type: js
  url: custom/dos/homm2_netbios.jsdos
layout: multiplayer.njk
ogDescription: Heroes Of Might And Magic II is a famous and most played DOS game that supports Multiplayer games.
  Play Heroes Of Might And Magic II with your friends in Browser for free without registration.
permalink: /multiplayer/heroes-of-might-and-magic-ii/
screenshots:
- https://cdn.dos.zone/original/2X/c/cbccfcf1214d8b26229517708f7da9b4a07a9e31.png
- https://cdn.dos.zone/original/2X/c/c194618debc3a017ae144a8b49812d4a365cbf82.png
shortTitle: Heroes Of Might And Magic II
title: Heroes Of Might And Magic II Multiplayer | 🕹️Play Heroes Of Might And Magic II Multiplayer Game |
  DOS game in browser
youtube: qTUWg9-cEBs
---

<div class="flex flex-col">
    <p class="font-bold text-lg">To start multiplayer game:</p>
    <p class="pl-4">· Connect to IPX server (read bellow)</p>
    <p class="pl-4">· New Game</p>
    <p class="pl-4">· Multiplayer Game</p>
    <p class="pl-4">· Network</p>
    <p class="pl-4">· Netbios</p>
    <p class="pl-4">· Host OR Guest</p>
</div>