---
bundles:
- lang: ENG
  mobile: true
  title: '1.31'
  type: js
  url: custom/dos/moo2_ipx.jsdos
layout: multiplayer.njk
ogDescription: Master of Orion II Battle At Antares is a famous and most played DOS game that supports Multiplayer games.
  Play MOO2 with your friends in Browser for free without registration.
permalink: /multiplayer/master-of-orion-ii-battle-at-antares-1996/
screenshots:
- https://cdn.dos.zone/custom/dos/moo2-1.png
- https://cdn.dos.zone/custom/dos/moo2-2.jpg
shortTitle: Master of Orion II
title: 'Master of Orion II: Battle At Antares Multiplayer | 🕹️Play MOO2 Multiplayer Online | DOS game in browser'
---


<div class="flex flex-col">
    <div class="flex flex-col">
        <p class="font-bold text-lg">To start multiplayer game:</p>
        <p class="pl-4">· Connect to IPX server (read bellow)</p>
        <p class="pl-4">· Select "Network Game" in Multiplayer Setup</p>
    </div>
</div>
