---
bundles:
- lang: ENG
  mobile: false
  title: '1 vs 1'
  type: js
  url: custom/dos/warcraft_ipx.jsdos
layout: multiplayer.njk
ogDescription: WarCraft is a famous and most played DOS game that supports Multiplayer games.
  Play WarCraft with your friends in Browser for free without registration.
permalink: /multiplayer/warcraft-orcs-humans/
screenshots:
- https://cdn.dos.zone/original/2X/b/bf9f8bf554c9f109d8b27c0ee995c66e4b17512b.gif
- https://cdn.dos.zone/original/2X/6/634f63c8a93277d4e3939d284e18e8df9c3ec9a6.png
shortTitle: 'WarCraft: Orcs & Humans'
title: 'WarCraft Multiplayer | 🕹️Play WarCraft Multiplayer Online | DOS game
  in browser'
---

<div class="flex flex-col">
    <p class="font-bold text-lg">To start multiplayer game: "New Game" -> "Network Game" -> "Node 0"</p>
</div>