---
layout: base.njk
title: Catalog of DOS Games | Starts with h | Play DOS games online 
ogDescription: Catalog of DOS Games that starts with "h" available in browser. All famous DOS games in one place. Play in browser for free.
screenshots: ["https://cdn.dos.zone/original/2X/6/696b53945c63e21fbfb127602a9df0b4ae9c185f.jpeg"]
permalink: /starts/with/h/
---

<div class="flex flex-row flex-wrap-reverse justify-evenly">
    <div>
        <h1 class="mx-10 mt-20 uppercase font-mono text-lg font-bold">
            Catalog of DOS Games that starts with <p class="text-purple-600 inline">"h"</p> available in browser.
        </h1>

        <div class="catalog-symbol">
	        {% for item in collections.h %}
        		<a href="{{item.url}}" target="_self">{{item.data.shortTitle}}</a>
        	{% endfor %}
        </div>
    </div>

    <div class="mt-20">
        {% navigator %}
    </div>
</div>